@-webkit-keyframes spaceboots {
	/* webkit browsers*/
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
	/* firefox browsers*/
	0% { -moz-transform: scale(1); }
	50% { -moz-transform: scale(0.9); }
	100% { -moz-transform: scale(1); }
}
.shake:hover,
.shake:focus {
	/* webkit browsers*/
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
	/*firefox browsers*/
	-moz-animation-name: spaceboots;
	-moz-animation-duration: 200ms;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;
}
.shake {
	display:inline-block
}