#imageIconLarge{
	color: #00A3D9;
}

#loadPictureBackButton{
	float: right;
}
#uploadPhotoText{
	color:#00A3D8;
	font-family: Arial;
	font-size: 18px;
}
#backbuttonHolder{
	position:absolute;
	top:0px;
	right:0px;
	/*width:{{(exposed.getSelectedRes()).width}}px;*/
}
#imageIconHolder{
	position:absolute;
	text-align: center;
}
#noticeHolder{
	bottom:50px;
	text-align: center;
	position:absolute;
}
#noticeMessage{
	color:#AAAAAA;
	font-family: Arial;
	font-size: 12px;
}
