.mainMenuButton{
	border: solid 2px #00A3D9;
	width: 55px;
	height: 36px;
	background-color: #00A3D9;
	color:white;
	font-weight: normal;
}
.mainMenuButton:active {
	border-radius: 5px;
	font-family: Arial;
	color: #00a3d9;
	background: #ffffff;
	border: solid #CCCCCC 2px;
	text-decoration: none;
}

#mainMenuHolder{
	position: absolute;
	height: 36px;
	top:0px;
	left:0px;
}
#leftsideHolder{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 120px;
	height: 56px;
}
#rightsideHolder{
	position: absolute;
	top: 10px;
	right: 66px;
}
#menuBtn{
	position:absolute;
	top:0px;
	left:0px;
}
#addProductBtn{
	position: absolute;
	top:0px;
	right:0px;
}
#changeBgBtn{
	position:absolute;
	top:0px;
	right:0px;
	margin-right: 5px;
}
#saveBtn{
	position:absolute;
	top:0px;
	left:0px;
}
#menuBtnSubMenuHolder{
	position: absolute;
	top:36px;
    left:0px;
    width: 260px;
  	height: 285px;
}
.OverallMenu-bubble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.OverallMenu-bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: 17px;
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #FFFFFF transparent;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}