#MCD_title{
	position: absolute;
	top:20px;
	left: 20px;
}
#MCD_title font{
	font-family: Arial;
	font-size: 16px;
	color: #777777;
}
#selectColors{
	top:50px;
	left:20px;
	position:absolute;
}
.MCD_menuTitle{
	font-family: Arial;
	font-size: 12px;
	color: #444444;
}
#selectColors #colorsampler{
	position:absolute;
	top:20px;
	left:0px;
}
.colorSampler{
	height: 30px;
	width: 30px;
	border: solid 1px #BBBBBB;
}
#colorsampler #firstColor{
	top:0px;
	left:0px;
	position:absolute;
	background-color: white;
}
#colorsampler #secondColor{
	top:0px;
	left:40px;
	position:absolute;
	background-color: white;
}
#colorsampler #thirdColor{
	top:0px;
	left:80px;
	position:absolute;
	background-color: white;
}
#addBorderMenu{
	position: absolute;
	top:120px;
	left:20px;
}
#addBorderMenu > div,#addShadowMenu > div{
	top:20px;
}
#borderNoholder{
	position: absolute;
	left: 0px;
}
.radioParentHolderGlobal {
	width:90px;
}
.radioAlignmentGlobal * {
	vertical-align: middle;
	display: inline-block;
}
#borderNoholder div{
	
}
#borderNoholder font, #borderYesholder font{
	font-family: Arial;
	color: #777777;
	padding-left: 0px;
	font-size: 12px;
}
#borderYesholder{
	position: absolute;
	right: 0px;
}
#borderYesholder div{
	
}
#borderColor{
	top:15px;
	right:-40px;
	position:absolute;
	background-color: white;
}
#addShadowMenu{
	top:176px;
	position: absolute;
	left: 20px;
}
#shadowColor{
	top:15px;
	right:-40px;
	position:absolute;
	background-color: white;
}
.selectedRadio{
	border: solid 5px #777777;
	border-radius: 15px;
}
.selectedRadio + font{
	font-weight: bold;
}
.unselectedRadio{
	border: solid 1px #777777;
	border-radius: 15px;
}
.unselectedRadio + font{
	font-weight: normal;
}
.radioLook {
	width: 16px;
	height: 16px;
}