/* Wrapper for image centering */
#lightwrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    cursor:-webkit-zoom-out;
    cursor:-moz-zoom-out;
    z-index:999;
}
/* overlay covering website */
#lightbg {
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.9; z-index: 100;
}
#lightwrap img {position:absolute;display:none;}
.#lightzoomed {opacity:0;}
#off-screen {position: fixed;right:100%;opacity: 0;}