html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Base styles
-------------------------------------------------- */

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font: 87.5% 'Roboto', Arial, "Helvetica Neue", sans-serif;
  color: #222;
  /*min-width:300px;*/
}

h1, h2, h3, h4, h5{ font-family: 'Roboto', Arial, "Helvetica Neue", sans-serif; }

input {
    -webkit-appearance: none;
	-webkit-border-radius: 0;
    border-radius: 0;
}
label{ cursor: default; }
strong{ font-weight: bold; }

/* Universal link styling */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Removes the dark touch outlines on links */
}

textarea {
    resize: none;
	font-family: 'Roboto', Arial, "Helvetica Neue", sans-serif;
}

.float-left{ float: left !important; }
.float-right{ float: right !important; }
.p-relative{ position: relative !important; }
.dt{ display: table; }
.dtc{ display: table-cell; }


/* Preloader */
#fountainG{position:relative;min-width:80px;height:10px;left:0}
.fountainG{position:absolute;top:0;background-color:#000;width:10px;height:10px;-moz-animation-name:bounce_fountainG;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-moz-transform:scale(.3);-moz-border-radius:7px;-webkit-animation-name:bounce_fountainG;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-webkit-transform:scale(.3);-webkit-border-radius:7px;-ms-animation-name:bounce_fountainG;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-ms-transform:scale(.3);-ms-border-radius:7px;-o-animation-name:bounce_fountainG;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-o-transform:scale(.3);-o-border-radius:7px;animation-name:bounce_fountainG;animation-duration:1.3s;animation-iteration-count:infinite;animation-direction:linear;transform:scale(.3);border-radius:7px}
#fountainG_1{left:0;-moz-animation-delay:.52s;-webkit-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;animation-delay:.52s}
#fountainG_2{left:10px;-moz-animation-delay:.65s;-webkit-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;animation-delay:.65s}
#fountainG_3{left:20px;-moz-animation-delay:.78s;-webkit-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;animation-delay:.78s}
#fountainG_4{left:30px;-moz-animation-delay:.91s;-webkit-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;animation-delay:.91s}
#fountainG_5{left:40px;-moz-animation-delay:1.04s;-webkit-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;animation-delay:1.04s}
#fountainG_6{left:50px;-moz-animation-delay:1.17s;-webkit-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;animation-delay:1.17s}
#fountainG_7{left:60px;-moz-animation-delay:1.3s;-webkit-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;animation-delay:1.3s}
#fountainG_8{left:70px;-moz-animation-delay:1.43s;-webkit-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;animation-delay:1.43s}

@-moz-keyframes bounce_fountainG{ 0%{ -moz-transform:scale(1); background-color:#000000; } 100%{ -moz-transform:scale(.3); background-color:#FFFFFF; } }
@-webkit-keyframes bounce_fountainG{ 0%{ -webkit-transform:scale(1); background-color:#000000; } 100%{ -webkit-transform:scale(.3); background-color:#FFFFFF; } }
@-ms-keyframes bounce_fountainG{ 0%{ -ms-transform:scale(1); background-color:#000000; } 100%{ -ms-transform:scale(.3); background-color:#FFFFFF; } }
@-o-keyframes bounce_fountainG { 0%{ -o-transform:scale(1); background-color:#000000; } 100%{ -o-transform:scale(.3); background-color:#FFFFFF; } }
@keyframes bounce_fountainG{ 0%{ transform:scale(1); background-color:#000000; } 100%{ transform:scale(.3); background-color:#FFFFFF; } }

#preloader-wrapper {width:80px; margin-top:10px; }
#preloader-wrapper .preloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center { position:relative; }
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }
#preloader-wrapper #preloader-txt { font-size:11px; text-align:left; }


#store_modal, #store_modal_level2 {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    display: none;
	filter:alpha(opacity=100) !important;
	opacity: 1 !important;
	-moz-opacity:1 !important;
	-khtml-opacity: 1 !important;
}

#store_modal_level2 {
	z-index:20000;
}

.modal-close-icon {
	background: url("/cdn/images/store_images/sprite.png") no-repeat scroll -69px -365px transparent;
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	cursor: pointer;
	width: 11px;
	height: 11px;
	z-index: 8;
}

#popup_wrapper {
	display:none;
	position: absolute !important;
}

.sign_in_modal_wrapper, .register_modal_wrapper, .share_modal_wrapper{ width: 100%; min-height: 544px; }
.share_modal_wrapper { min-height:240px; }

/* Show "Left" drawer for the "Right" drawer */
.snapjs-right .snap-drawer-left {
	display: block;
	right: 0;
	left: auto;
}

/* Hide the actual "Right" drawer */
.snapjs-right .snap-drawer-right {
	display: none;
}

/* Default styles */

.snap-drawer-header-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 310px;
	/*width: 38.6458333333%;  650 / 960% */
}
.snap-drawer-header-bg{ position: absolute; width: 310px; height: 100%; margin-left: -13px; opacity: 0.6; }
.snap-drawer-header{
	height: 247px;
	display: table;
	position: relative;
	width: 100%;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
}
.snap-drawer-header-out, .snap-drawer-header-in{ height: 137px; }
.snap-drawer-header-menu{ position: absolute; bottom: 0; width: 310px; height: 29px; margin-left: -13px; z-index: 2; }
.snap-drawer-header-menu span{ float: left; padding: 0 13px; height: 29px; font-size: 16px; border-bottom: 1px solid transparent; cursor: pointer; }
.snap-drawer-header-menu span img{ vertical-align: inherit; }
.snap-drawer-header-menu .shop-icon{ width: 16px; height: 14px; vertical-align: inherit;}

.snap-drawer-header-menu span.settings-menu img{ vertical-align: top; }
.snap-drawer-header-content{ display: table-cell; vertical-align: middle; position: relative; }
.snap-drawer-header-content .sign-btn { margin: 6px 0 32px; }
.snap-drawer-header-content .sign-btn button{ margin: 0 8px 0 0; font-size: 16px; height: 40px; padding: 0 20px; }

.snap-drawer-header-menu .settings-icon{ width: 20px; height: 17px; vertical-align: middle;}
/* 
#h-signin-btn{ float: left; width: 53px; height: 25px; font-size: 12px; line-height: 25px; margin: 3px 5px 0 0; text-align: center; cursor: pointer; padding: 0;}
#h-register-btn{ float: left; width: 61px; height: 25px; font-size: 12px; line-height: 25px; margin: 3px 0 0 0; text-align: center; cursor: pointer; padding: 0;}
*/
.snap-drawer-header h3 { width: 100%; margin: 0; }
.snap-drawer-header h3 label{ float: left; font-size: 26px; font-weight: normal; margin: 0 8px 0 0; cursor: normal; }
.account-icon-image{ background-repeat: no-repeat; background-position: center center; background-size: inherit; background-image: url(/cdn/images/mobile/no-pic.png); float: left; width: 28px; height: 28px; display: block; margin-right: 7px; }
.snap-drawer-header .h-buttons { float: left; width: 100%; margin-top: 14px; }

.cart-item-lbl{ float: left; font-size: 12px; margin: 10px 0 21px; }
.cart-item-lbl img{ vertical-align: inherit; }
.h-option-lbl{ float: left; width: 100%; font-size: 14px; margin-top: 21px; }
.h-social-buttons{ float: left; width: 100%; margin-top: 5px; }
.h-social-buttons .h-fb{ background: url("/cdn/images/social-ico.png") no-repeat scroll 0 0 transparent; 
	float: left; height: 51px; margin-right: 6px; width: 51px; display: block; cursor: pointer; }
.h-social-buttons .h-yahoo{ background: url("/cdn/images/social-ico.png") no-repeat scroll -52px 0 transparent; 
	float: left; height: 51px; margin-right: 6px; width: 51px; display: block; cursor: pointer; }
.h-social-buttons .h-google{ background: url("/cdn/images/social-ico.png") no-repeat scroll -104px 0 transparent; 
	float: left; height: 51px; width: 51px; display: block; cursor: pointer; }

.snap-drawer-header-wrapper ul {
  padding: 0 0 60px;
  margin: 0;
  list-style-type: none;
}

.snap-drawer-header-wrapper li > a {
  display: block;
  padding: 10px 16px;
  font-size: 21px;
  text-decoration: none;
}
.snap-drawer-header-wrapper li ul li > a { padding-left: 30px; }
.tab-settings .user-icon{ width: 17px; height: 17px; margin-right: 12px; }
.tab-settings .purchase-icon{ width: 17px; height: 17px; margin-right: 12px; }
.tab-settings .message-icon{ width: 17px; height: 17px; margin-right: 12px; }
.tab-settings .hearting-icon{ width: 17px; height: 17px; margin-right: 12px; }
.tab-settings .logout-icon{ width: 17px; height: 17px; margin-right: 12px; }

.snap-drawer-footer{ position: absolute; width: 310px; bottom: -1px; left: 0; z-index: 2; }
.snap-drawer-footer .powered-lbl{ float: left; font-size: 14px; line-height: 40px; margin-bottom: 0; padding: 0 9px; text-align: center; }
.snap-drawer-footer .logo-lbl{ float: left; font-size: 22px; height: 40px; line-height: 40px; margin-bottom: 0; text-align: center; padding: 0 12px; }

.clearfix:after{
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;
}
.clearfix{
	zoom: 1;
}

.hide{ display: none; }
.hide-important{ display: none !important; }
.hide-error{ display: none !important; }

/* content header styles */
#header {
	height: 59px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
	z-index: 5;
}
#header #top-header{ float: left; position: relative; height: 59px; width: 100%; z-index: 2; }
.h-promote-height{ height: 96px !important; }
.inside-top-header{ position: absolute; height: 59px; left: 0; }
.inside-top-header .tab-bar,
.inside-top-header section.left-small,
.inside-top-header a.menu-icon{ height: 59px; line-height: 59px; }
.inside-top-header section.left-small{ border: 0 none; box-shadow: none; }
.inside-top-header section.tab-bar-section{ height: 59px; }
.inside-top-header section.tab-bar-section h1{ float: left; font-size: 36px; font-family: 'Roboto', Arial, "Helvetica Neue", sans-serif; font-weight: normal;  }
.inside-top-header a.menu-icon span{ top: 13px; }
.inside-top-header .sidemenu-icon{ float: left; height: 25px;  margin-top: 17px; width: 50px; }

#header-search{ position: absolute; top: 4px; width: 100%; }
#header-search .input-trans-bg{ position: absolute; top: 0; left: 0; width: 100%; opacity: 0.4; height: 52px; z-index: 0; display: none; }
#header-search input{ background-color: transparent; float: left; position: relative; width: 100%; height: 52px; border: 1px solid; padding: 0 8px; font-size: 20px; font-weight: normal; display: none; }
.search-icon{ position: absolute; right: 33px; width: 54px; height: 52px; display: block; text-align: center; padding-top: 6px; cursor: pointer; }
.search-icon-active .search-icon{ position: absolute; right: 33px; width: 54px; height: 52px; display: block; cursor: pointer; }
.search-icon-active input, .search-icon-active .input-trans-bg{ display: block !important; }
.search-icon .search-svg { width: 26px; height: 26px; }
.search-icon .search-svg path{ cursor: pointer; display: block; }
.search-icon .search-svg:hover path { opacity: 0.8; }
.cart-icon-wrapper{ position: absolute; width: 43px; height: 52px; top: 0; right: -6px; }
.cart-icon{ float:left; width: 39px; height: 35px; margin-top: 6px; cursor: pointer; position:relative; }
.cart-icon .cart-svg2{ width: 39px; height: 29px; }
.cart-icon .cart-svg2 path{ cursor: pointer; display: block; }
.cart-icon .cart-svg2:hover path { opacity: 0.8; }
#cartCountValue { border: medium none; border-radius: 2px; font-weight: bold; height: 16px; line-height: 16px; padding: 0px 3px; text-align: center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); position: absolute; right: 2px; top: 0px; font-size: 12px;
	opacity: 0.8;
	background-color:#FF0000;
	color:#FFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#010101)"; 
	-moz-box-shadow: 0px 0px 3px #010101; 
	-webkit-box-shadow: 0px 0px 3px #010101; 
	box-shadow: 0px 0px 3px #010101; 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#010101);  	
} 


.category-icon-wrapper{ position: absolute; top: 3px; right: 86px; width: 30px; height: 30px; cursor: pointer; }
.category-icon-wrapper .category-svg { width: 22px; height: 22px; }
.category-icon-wrapper .category-svg path{ cursor: pointer; display: block; }
.category-icon-wrapper .category-svg:hover { opacity: 0.8; }
.product-listing-wrapper .sub-nav{ overflow: inherit; min-height: 28px; }
.product-listing-wrapper .sub-nav dd{ margin: 0 10px 10px -2px; }

	   
#header-title{ float: left; /*height: 59px;*/ width: 63%; overflow: hidden; display:table; }
#header-title div { vertical-align:middle; line-height:normal; display:table-cell; height:59px; }
#header-title div span { height:59px; overflow:hidden; width:100%; display:inline-block;  }
#header-title a {
  font-size: 26px; text-align: left; /*white-space: nowrap;*/ display:block;
}

/* header navigation */
.swiper-nav {
	height: 47px;
	width: 100%;
	border-bottom: 1px solid;
	padding: 6px 0 4px 0;
}
.swiper-nav-bg-right{ /* background: url(/cdn/images/mobile/cat-bg-right.png) no-repeat scroll center right; */ background-color: transparent; position: absolute; top: 2px; right: 0; z-index: 1; width: 48px; height: 41px; }
.swiper-nav .swiper-wrapper {
	float: left;
}
.swiper-nav a {
	cursor: pointer;
	display: block;
	line-height: 36px;
	padding: 0 20px;
	text-align: center;
	border-right: 1px solid;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}
.swiper-nav .active-nav {
	border-bottom: 5px solid #000;
}
.swiper-nav .swiper-slide:first-child a {
	border-left: none;
}
.swiper-nav .swiper-slide:last-child a {
	border-right: none;
}


/* Wrapper to be used around all content not in .bar-title and .bar-tab */
#content {
  position: fixed;
  top: 59px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: #fff;
  -webkit-transition-property: top, bottom;
          transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;  
          transition-duration: .2s, .2s;  
  -webkit-transition-timing-function: linear, linear;
          transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* Hack to force all relatively and absolutely positioned elements still render while scrolling
   Note: This is a bug for "-webkit-overflow-scrolling: touch" */
.content > * {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.box-top{ margin: 0 auto; width: 100%; height: 47px; }
#inside-content{ margin: 17px auto 0; }

/* slideshow */

.slideshow-wrapper {
	float: left;
	width: 100%;
	height: 321px;
	position: relative;
	margin-bottom: 23px;
}
.slideshow-wrapper .arrow-left {
	background: url(/cdn/images/widgetstore_images/wdgt-prev.png) no-repeat left top;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -69px;
	width: 23px;
	height: 46px;
	z-index: 2;
}
.slideshow-wrapper .arrow-right {
	background: url(/cdn/images/widgetstore_images/wdgt-next.png) no-repeat left bottom;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -69px;
	width: 23px;
	height: 46px;
	z-index: 2;
}
.slideshow-wrapper .swiper-container {
  height: 321px;
  width: 100%;
}
.slideshow-wrapper .swiper-slide{ padding: 0; }
.slideshow-wrapper .swiper-container img{ max-width: 100%; height: 267px; }

.slideshow-box{ position: relative;  }
.slideshow-box .product-img{ background-repeat: no-repeat; background-position: center center; background-size: cover; position: absolute; top: 0; left: 0; z-index: 1; }
.sdetails{ position: relative; }
.sdetails .product-title-bg{ position: absolute; bottom: 0; left: 0; display: inline; padding: 4px 6px 8px; opacity: 0.8; z-index: 2; }
.sdetails .product-title-normal{ position: absolute; bottom: 0; left: 0; display: inline; padding: 4px 6px 8px; z-index: 3; }

.slideshow-wrapper .product-price-wrapper{ position: absolute; right: 0; bottom: 6px; z-index: 2; }
.slideshow-wrapper .product-price-wrapper .base-price{ float: left; width: 100%; margin: 0 0 3px 0; }
.slideshow-wrapper .product-price-wrapper .base-price label{ padding: 0 10px; text-align: right; font-size: 16px; margin: 0; text-decoration: line-through;}
.slideshow-wrapper .product-price-wrapper .sale-price{ float: right; height: 32px; line-height: 32px; padding: 0 10px 2px; border-radius: 6px 0 0 6px; font-size: 20px; font-weight: bold; margin: 0; }
.slideshow-wrapper .product-price-wrapper .stock{ float: right; font-size: 14px; line-height: 32px; margin: 0 10px 0 0; }

.slideshow-wrapper .orbit-container ul li a.slideshow-photo{ background-repeat: no-repeat; background-position: center center; background-size: cover; display: block; }

.dinfo-wrap{ height: 402px; vertical-align: middle; }
.dinfo-wrap a{ font-size: 32px; line-height: 34px; }
.dinfo-price{ float: left; width: 100% }
.dinfo-price .sale-price{ float: left; height: 30px; line-height: 30px; padding: 0 10px 2px; border-radius: 0 6px 6px 0; font-size: 20px; font-weight: bold; margin: 5px 0 0 0; }
.dinfo-price .base-price{ float: left; margin: 5px 0 0 11px; }
.dinfo-price .base-price label{ padding: 0 10px; font-size: 16px; height: 30px; line-height: 30px; margin: 0; text-decoration: line-through; opacity: 0.7 }
.dinfo-wrap .stock{ float: left; padding: 0 10px; font-size: 16px; height: 27px; line-height: 27px; }


.slideshow-wrapper .content-slide{ display: table; height: 89px; width: 100%; }
.slideshow-wrapper .content-slide p{
	display: table-cell;
	vertical-align: middle;
  font-size: 14px;
  text-align: left;
  margin: 0;
  overflow: hidden;
  line-height: 16px;
}
.slideshow-wrapper .content-slide p.add-to-cart-wrapper{
	float: left;
	width: 185px;
	height: 37px;
	margin-top: 10px;
}

.slideshow-wrapper .content-slide p.add-to-cart-wrapper input{
	float: left;
	width: 51px;
	height: 37px;
	border: 2px solid;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.slideshow-wrapper .content-slide p.add-to-cart-wrapper .add-to-cart-btn{
	float: left; 
	width: 133px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	display: block;
	cursor: pointer;
}

.slideshow-wrapper .pagination {
  position: absolute;
  text-align: left;
  top: 8px;
  left: 5px;
  z-index: 2;
}
.slideshow-wrapper .swiper-pagination-switch {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  margin: 0 4px;
  cursor: pointer;
}
.slideshow-wrapper .swiper-active-switch {
  width: 11px;
  height: 11px;
  vertical-align: middle;
}

/* product listing */
.product-listing-wrapper{ float: left; }
.product-listing-wrapper h2{
	float: left;
	font-size: 26px;
	margin-bottom: 10px;
	font-family: 'Roboto' ,Arial, "Helvetica Neue", sans-serif;
	width: 100%;
}
.latest-product-list{ float: left; margin-bottom: 19px; height: 138px; }
.latest-product-list .product-listing-image{ background-repeat: no-repeat; background-position: center center; background-size: cover; float: left; height: 136px; }
.latest-product-list .product-listing-image:hover{ opacity: 0.9; }
.latest-product-list .product-listing-info{ float: left; position: relative; height: 136px; }
.latest-product-list .product-listing-title{ float: left; padding: 10px 0 0 0; font-size: 16px; line-height: 18px; position: relative; z-index: 1; }
.latest-product-list .dprice{ position: absolute; right: 0; bottom: 24px; height: 27px; line-height: 27px;  }
.latest-product-list .base-price{ float: right; height: 27px; line-height: 27px; font-size: 16px; margin-right: 10px; cursor: default; text-decoration: line-through; }
.latest-product-list .sale-price{ float: right; height: 27px; line-height: 27px; padding: 0 12px; border-radius: 6px 0 0 6px; font-size: 20px; font-weight: bold; cursor: default; }
.latest-product-list .instock{ position: absolute; bottom: 0; right: 12px; line-height: 24px; font-size: 14px; }

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
	-webkit-transition: opacity 0.3s ease; 
	   -moz-transition: opacity 0.3s ease; 
	    -ms-transition: opacity 0.3s ease; 
	     -o-transition: opacity 0.3s ease; 
	        transition: opacity 0.3s ease; 
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
	opacity: 0;
}

/* category listing */
.category-listing-wrapper{
	float: left;
	width: 100%;
}
.category-listing-wrapper h2{
	float: left;
	font-size: 26px;
	margin-bottom: 20px;
}
.category-listing-wrapper ul{ float: left; width: 100%; }
.category-listing-wrapper ul li{ float: left; width: 100%; margin-bottom: 20px; position: relative; }
.category-listing-wrapper ul li .category-listing-image{ background-repeat: no-repeat; background-position: center center; background-size: cover; float: left; width: 52%; height: 163px; }
.category-listing-wrapper ul li .category-listing-info{ float: left; width: 48%; height: 163px; padding: 0 17px; display: table; }
.category-listing-wrapper ul li .category-listing-title{ display: table-cell; vertical-align: middle; font-size: 25px;  }

/* product details */
.pr-wrapper{ float: left; position: relative; margin: 23px 0 0 0; width: 100%; }
.pr-left{ float: left;  }
.pr-left span{ float: left; width: 59px; height: 52px; margin: 0 10px 0 24px; }
.pr-right { float: left; height: 52px; display: table; }
.pr-right-content { height: 52px; display: table-cell; vertical-align: middle; }
.pr-right h1{ float: left; font-size: 25px; line-height: 28px; margin: 0; padding: 0; }
.pr-right label{ float: left; font-size: 16px; clear: both; }

#product-details-wrapper{ margin: 0 auto; }
#pdetals-top-wrapper{ margin: 0 auto; min-height: 130px; padding: 12px 0; }
#pdetals-top{ float: left; display: block; width: 100%; }
#pdetals-top h1{ float: left; width: 100%; font-size: 25px; line-height: 30px; padding: 10px 0 0; }
#pdetals-top .dprice{ float: left; width: 100%; margin: 0; }
#pdetals-top .sale-price{ float: left; font-size: 20px; margin: 0 16px 0 0; }
#pdetals-top .base-price{ float: left; }
#pdetals-top .base-price label{ font-size: 14px; line-height: 32px; text-decoration: line-through; opacity: 0.7; margin: 0; }
#pdetals-top p.add-to-cart-wrapper{
	float: left;
	width: 185px;
	height: 37px;
	margin-top: 5px;
	font-size: 14px;
	text-align: left;
	margin-left: 1px;
}
.cart-cmd{ width: 100%; margin: 0 auto; }
.cart-cmd2{ width: 260px; margin: 0 auto; }
.pdetails-cart-option input.qty{
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 6px 0;
}

.pdetails-cart-option .add-to-cart-btn{
	float: left; 
	width: 210px;
	height: 50px;
	text-align: center;
	font-size: 22px;
	font-weight: normal;
	padding: 0;
	margin: 0 0 6px 0;
}

.ws-wrapper{ position: relative; }
.wishlist-icon{ position: absolute; top: 13px; right: 60px; width: 40px; height: 35px; }
.wishlist-icon svg{ width: 40px; height: 35px; }
.share-icon{ position: absolute; top: 13px; right: 10px; width: 40px; height: 35px;}
.share-icon svg{ width: 40px; height: 35px; }
#pdetals-top .wishlist-icon{  float: left; margin: 8px 0 0 11px; cursor: pointer; }
.pdetails-strong-line{ float: left; width: 100%; height: 4px; margin: 0; padding: 0; }
.pdetails-cart-option{ min-height: 62px; padding: 18px 0; position: relative; }
.pdetails-cart-option .p-select-option{ height: 44px; }
.pslideshow-wrapper {
	float: left;
	width: 100%;
	height: 308px;
	position: relative;
	margin-bottom: 0;
}
.pslideshow-wrapper .arrow-left {
	background: url(/cdn/images/widgetstore_images/wdgt-prev.png) no-repeat left top;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -46px;
	width: 23px;
	height: 46px;
	z-index: 2;
}
.pslideshow-wrapper .arrow-right {
	background: url(/cdn/images/widgetstore_images/wdgt-next.png) no-repeat left bottom;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -46px;
	width: 23px;
	height: 46px;
	z-index: 2;
}
.pslideshow-wrapper .swiper-container {
  height: 265px;
  width: 100%;
}
.pslideshow-wrapper .swiper-slide{ padding: 0; }
.pslideshow-wrapper .product-img{ position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover; max-width: 100%; height: 264px; display: block; }
.pslideshow-wrapper-small .product-img{ background-size: contain; }
.pslideshow-wrapper .orbit-bullets, .slideshow-wrapper .orbit-bullets { position: absolute; z-index: 10; overflow: inherit; left: 14px; top: 14px; }
.orbit-timer{display: none;}
.pslideshow-wrapper .dpagination-wrapper {
	position: absolute;
	text-align: left;
	width: 50%;
	height: 44px;
	z-index: 2;
	display: table;
	top: 0;
	left: 23px;
}
.pslideshow-wrapper .dpagination{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.orbit-bullets li {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 4px;
  cursor: pointer;
}
.orbit-bullets li.active {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-top: -3px;
}

.pdetails-info-wrapper{ float: left; width: 100%; }
.pdetails-info-wrapper h2{ float: left; font-size: 22px; width: 100%; margin-bottom: 7px; }
.info-img { margin-right: 2px; }
.info-svg{ width: 16px; height: 14px; }
.ships-svg{ width: 14px; height: 14px; }
.pdetails-info-wrapper .v-report{ margin-top: 12px; font-size: 14px; }
.pdetails-info-wrapper .details{ float: left; width: 100%; font-size: 15px; line-height: 23px; margin-bottom: 18px; }
.pdetails-info-wrapper .ship-details{ float: left; width: 100%; font-size: 14px; margin-bottom: 43px; }
.pdetails-info-wrapper .ship-details .table{ display: table; width: 100%; padding: 9px 0 12px; border-bottom: 1px dotted; }
.pdetails-info-wrapper .ship-details p.cell1{ display: table-cell; vertical-align: middle; width: 29.9212598425%; border-right: 1px dotted; padding: 0 l3px;}
.pdetails-info-wrapper .ship-details p.cell1 img{ vertical-align: middle; cursor: pointer; }
.pdetails-info-wrapper .ship-details p.cell2{ display: table-cell; border-left: 13px solid transparent; width: 70.0787401575%; padding: 13px 0;}
.pdetails-info-wrapper .ship-details p.cell1 label{ font-weight: bold; }
.pdetails-info-wrapper .ship-details p.ship-note{ margin-top: 8px; }
.pdetails-info-wrapper .vendor-details{ float: left; width: 100%; display: table; font-size: 14px; margin-bottom: 66px; height: 108px; border: 1px dotted; padding: 0 22px; margin-top: 3px; }
.pdetails-info-wrapper .cell{ display: table-cell; vertical-align: middle; }
.pdetails-info-wrapper .cell strong{ width: 100%; }
.pdetails-info-wrapper .cell p{ width: 100%; margin: 9px 0;}
.pdetails-info-wrapper .cell a{ text-decoration: underline;}

/* Share Pop-up */
#sharebox-wrapper { padding-top:85px; }
#btn-close-sharemmodal { height:25px; font-size:32px; cursor:pointer; position:absolute; top:21px; right:20px; z-index:100; }
#btn-close-sharemmodal div { width:20px;
transform:scale(1.2,3); /* W3C */
-webkit-transform:scale(1.2, 1); /* Safari and Chrome */
-moz-transform:scale(1.2, 1); /* Firefox */
-ms-transform:scale(1.2, 1); /* IE 9 */
-o-transform:scale(1.2, 1); /* Opera */
/* Rest Of CSS Code Here*/ }
#sharebox-wrapper .promotetxt { font-size:16px; text-align:center; margin:0 auto; }
#sharebox-wrapper .promotetxt .amount { padding: 0 3px; }
#sharebox-wrapper .signintxt { font-size:14px; text-align:center; line-height:31px; }
#sharebox-wrapper .signintxt .txt-signin { padding:0 4px; height:31px; display:inline-block; margin-top:6px; cursor:pointer; }
#sharebox-wrapper .promotetxt2 { text-align:center; line-height: 24px; margin:0 40px 43px; font-size:12px; /*width:295px;*/ }
#sharebox-wrapper #link-share-product { margin:19px auto 47px; text-align:center;  }
#sharebox-wrapper #link-share-product a { display:inline-block; width:43px; height:43px; margin-right:8px; background:url(/cdn/images/mobile/social-sharing-icon.png) 0 0 no-repeat scroll; border-width:1px; border-style:solid; border-color:transparent;
-moz-box-shadow: 2px 2px 0px #333333;/*FF 3.5+*/
-webkit-box-shadow: 2px 2px 0px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 2px 2px 0px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}
#sharebox-wrapper #link-share-product a.tw { background-position:-51px 0; }
#sharebox-wrapper #link-share-product a.gplus { background-position:-104px 0; }
#sharebox-wrapper #link-share-product a.linkedin { background-position:-157px 0; }
#sharebox-wrapper #link-share-product a.pinterest { background-position:-208px 0; }

#sharebox-wrapper .buildnow { font-weight:300; text-align:center; padding:51px 0 39px; }
#sharebox-wrapper .buildnow .buildnow-txt { font-size:16px; margin:0 40px 18px }
#sharebox-wrapper .buildnow .buildnow-txt2 { font-size:12px; line-height:24px; margin: 0 40px 21px; /*width:250px;*/ }
#sharebox-wrapper .buildnow a { display:inline-block; margin:0 auto; width:235px; height:57px; text-align:center; font-size:32px; line-height:57px; text-decoration:none; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;  }

/* category listing */
#category-list-wrapper{ margin: 0 auto; width: 100%; }
#category-list-wrapper h2{ margin: 0 auto; text-align: left; font-size: 26px; width: 96.24217119%; height: 79px; line-height: 79px; }
#category-list-wrapper .c-list{ margin-bottom: 20px; }
#category-list-wrapper .c-image{ background-repeat: no-repeat; background-position: center center; background-size: cover; height: 140px; }
#category-list-wrapper .c-title{ height: 140px; }
#category-list-wrapper .c-title a{ height: 140px; display: table-cell; vertical-align: middle; font-size: 22px; }

.cat-one .cat-image, .cat-two .cat-image, .cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ background-repeat: no-repeat; background-position: center center; background-size: cover; height: 440px; display: block; }
.cat-one .cat-title, .cat-two .cat-title{ height: 84px; vertical-align: middle; }
.cat-one .cat-title a, .cat-two .cat-title a{ font-size: 32px; }
.cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ height: 355px; }
.cat-three .cat-title, .cat-four .cat-title, .cat-last .cat-title{ height: 77px; vertical-align: middle; }
.cat-three .cat-title a, .cat-four .cat-title a, .cat-last .cat-title a{ font-size: 25px; }
.cat-last .cat-title{ height: 72px; text-align: center; }
.cat-one .cat-image:hover, .cat-two .cat-image:hover, .cat-three .cat-image:hover, .cat-four .cat-image:hover, .cat-last .cat-image:hover{ opacity: 0.8; }


/* other page */
#other-page h2{ float: left; padding: 29px 0 20px; font-size: 25px; width: 100%; }
#other-page-content{ float: left; margin-left: 2px; font-size: 15px; line-height: 24px; margin-bottom: 40px; }

/* Cart */
#cart-wrapper { margin: 0 auto 0; width: 100%; }
#preloader-wrapper.preloaderCart { margin:10px auto 0; width:92.9167%; }
#cart-top{ padding: 10px 0 0; height: 56px; width: 100%;}
#cart-top h1{ font-size: 26px; line-height: 52px; width: 92.9166666667%; margin: 0 auto; }
#cart-content{ width: 92.9166666667%; margin: 0 auto; }
.order-from{ float: left; margin: 14px 0 12px; width: 100%; min-height: 25px; }
.order-from h2{ float: left; font-size: 21px; margin-right: 12px; }
.order-from .review{ float: right; display: inline-block; height: 25px; margin-top:8px; }
.order-from .review label{ font-size: 12px; padding: 2px 17px; line-height: 25px; cursor: pointer; }
.cart-list-box{ /*float: left;*/ display:table; width: 100%; min-height: 157px; border: 1px solid; margin-bottom: 12px; }
.prod-image-oncart{ /*float: left;*/ display:table-cell; width: 32.5112107623%; height: 134px; height:100%; width:26.3043%; width:124px; height:auto; vertical-align:top; border:0 none transparent; border:1px solid transparent; }
.prod-image-oncart a { width:116px; height:116px; display:block; margin:4px; }
.prod-image-oncart span{ /*float: left;*/ background-repeat: no-repeat; background-position: center center; background-size: cover; width: 93.7931034483%; width:100%; height: 134px; display: block; height:100%; }
.prod-info-oncart{ /*float: left; width: 67.4887892377%;*/ margin: 5px 0; position: relative; display:table-cell; /*width:67.4888%;*/ min-height:157px; padding-left:1.55%; text-align:none; vertical-align:top; border:0 none none; border:0 none transparent; border:1px solid transparent; }
.prod-info-delete-btn{ /*background: url(/cdn/images/mobile/delete-cart-btn.png) no-repeat 0 0 transparent;*/ position: absolute; right: 14px; top: 0px; min-width: 23px; min-height: 22px; display: block; cursor: pointer; }
.prod-info-oncart .ptitle{ font-size: 14px; line-height:16px; max-width: 92%; max-width:89%; text-decoration:none; display:inline-block; /*max-height:55px; overflow: hidden; text-overflow: ellipsis;*/ }
.nowrap { white-space: nowrap; }
.prod-info-oncart label { cursor:default; margin-bottom:0; }
.prod-info-oncart .poption{ font-size:10px; }
#cart-content .prod-info-oncart .poption { display:none; }
#cart-content .prod-info-oncart .poption.float-left{ display:block; line-height:32px; margin-left:10px; }
.prod-info-oncart .pprice{ float: left; font-size: 12px; max-width:32%; line-height:32px; }
.prod-info-oncart p { margin-bottom:0; }
.prod-info-oncart .price-input{ float: left; font-size: 14px; font-weight: bold; width: 44px; height: 32px; text-align: center; border: 2px solid; margin:3px 0 0; padding:0; line-height:32px; }
.prod-info-oncart .update-btn{ float: left; font-size: 16px; width: 133px; width:85px; height: 32px; line-height: 32px; text-align: center; display: block; cursor: pointer; margin:3px 0 0; }
.prod-info-oncart .discount{ float: left; font-size: 14px; padding: 2px 6px 4px; margin-top: 6px; cursor: pointer; }
.price-oncart{ float: right; font-size: 16px; font-weight: bold; border-radius: 6px 0 0 6px; line-height:26px;padding: 0 12px; margin-bottom: 4px; margin-top: 16px; }
.cart-box2{ width: 100%; /*height: 95px;*/ min-height:40px; margin-bottom:20px; }
.order-option{ float: left; width: 30%; }
.order-subtotal{ float: right; width: 70%; font-size: 24px; font-size:20px; text-align: right; line-height: 24px; }
.common-order-btn{ width: 83px; height: 25px; line-height: 25px; text-align: center; font-size: 12px; float:left; display: block; cursor: pointer; margin-right:10px; }
.remove-order-btn{ margin-bottom: 8px; }
.add-note-btn{ font-size: 14px;  }
.order-note{ width: 100%; border: 1px solid; min-height: 67px; font-size: 14px; padding: 6px 4px; margin-top:8px; }
.warning img { float:left; }
.warning span { display: block; float: left; font-size: 11px; height: 16px; line-height: 16px; margin-left: 2px; max-width: 250px; padding: 0 4px; text-align: center;}

.cart-item-info{ float: left; width: 100%; margin: 24px 0 0px; }
.cart-total-compu{ float: left; width: 96.4583333333%; margin-left: 3.54166666667%; border-bottom: 1px dotted; margin-left:1%; }
.cart-total-compu-div{ float: left; position: relative; width: 100%; padding: 9px 0; }
.cart-total-compu-div label { cursor:default; }
.cart-total-compu p{ float: left; width: 100%; padding: 3px 0; font-size: 18px; margin-bottom:0px; }
.cart-total-compu p .left{ float: left; position: relative; width: 42.9805615551%; text-indent: 2px; font-size:14px; width:41.981%; }
.cart-total-compu p .center{ float: left; width: 18.5745140389%; text-align: right; font-size:14px; }
.cart-total-compu p .right{ float: left; width: 38.444924406%; text-align: right; }
.cart-total-compu p .center2{ font-size: 17px; width:22%; min-width: 102px; line-height:53px; }
.cart-total-compu p .right2{ font-size: 21px;  font-weight: bold; width: 37.6%; }
.cart-total-compu p .left3{ float: left; width: 33.4773218143%; }
.cart-total-compu p .right3{ float: left; width: 66.5226781857%; }
.cart-total-compu p .left span{ position: absolute; top: 0; left: 0; width: 100%; height: 68px; }
.no-border{ border: 0 none; }
.cart-total-compu.ordertotal p .left { width:48%; }
.cart-total-compu.ordertotal p .right { width:27.425%; width:40.425%; line-height:53px; }
.cart-total-compu-div.shipto { }
.cart-total-compu-div.shipto p { width:100%; padding:8px 0 0; text-align:right; display:table; }

.cart-total-compu-div.shipto span.lbl { display:table-cell; margin-right: 2%; text-align: left; font-size:20px; line-height:18px; width:76px; }
.cart-total-compu-div.shipto select{ display:table-cell; /*width: 76.5194805195%; width:260px;*/ width:100%; height:44px;  font-size: 18px; border-radius:5px; margin:0;}
.cart-total-compu-div.shipto select option { height:44px; line-height: 44px;padding:10px; border-radius:5px } 
.shipto-wrapper{ margin-top: 17px; margin-left:1.5%; }
.checkout-btn{ /*background: url(/cdn/images/mobile/checkout-arrow-right.png) no-repeat 301px center;*/ width:100%; height: 50px; line-height: 50px; text-align: center; font-size: 24px; position:relative; display:block; margin-left:2%; }
.checkout-btn .next-svg { position: relative; top: -2px; }
.checkout-btn.small { margin:25px 0; }
.checkout-btn.disabled { opacity:0.2; }
#checkout-process { cursor: pointer; }

/* checkout */
#checkout-wrapper { margin: 0 auto 0; width: 100%; }
#checkout-top{ width: 92.9166666667%; margin: 0 auto;  }
.checkout-top-content{ float: left; width: 100%; min-height: 110px; padding: 0 0 20px 0; }
#checkout-top h1{ float: left; font-size: 26px; height: 30px; width: 100%; margin: 19px 0 9px; }
#checkout-top p{ float: left; width: 100%; margin-bottom: 4px; }
.your-cart { border-bottom-width:1px; border-bottom-style:dotted; }
.your-cart div { min-width:234px; display:inline-block; line-height:37px; font-size:18px; font-weight:bold; padding:0 10px; }
.sb-lbl { float: left; font-size: 13px; font-weight: bold; width: 100px; line-height: 20px; cursor:default; }
.sb-userinfo { float: left; font-size: 13px; line-height: 20px; margin-right: 8px; cursor:default; width:281px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
.change-btn{ float: left; width:80px; height: 30px; line-height: 30px; font-size: 12px; font-weight: bold !important; display: block; text-align: center; cursor: pointer; padding:0; }
#checkout-content{ width: 92.9166666667%; margin: 0 auto; }
#checkout-wrapper .prod-info-oncart .poption{ font-size:12px; }
#checkout-wrapper .prod-info-oncart p { height:32px; line-height:32px; margin-bottom:0; }
#checkout-wrapper .prod-info-oncart .pprice { margin-right:50px; }
#checkout-wrapper .cart-total-compu.checkout-ordertotal p .center { width:36%; }
#checkout-wrapper .cart-total-compu p .right2 { width:35%; }
#checkout-wrapper .pmethod-content .change-btn { position:absolute; top:0; right:-46%; float:none; }
#checkout-wrapper .cart-total-compu.checkout-ordertotal { border:0 none; float:right; margin: 0 16px 0 0; }
#checkout-wrapper .cart-total-compu.checkout-ordertotal span { border-bottom-width:1px; border-bottom-style:dashed; }
#checkout-wrapper .cart-total-compu.checkout-ordertotal p {  }

.checkout-list-box{ min-height: 134px; }
.ppcs{ float: left; font-size: 18px; margin-bottom: 4px; }
.pdscount{ float: left; font-size: 11px; width: 100%; }
.checkout-info{ width: 100%; text-align: right; font-size: 13px; margin-bottom: 2px; }
.checkout-subtotal{ float: left; width: 100%; text-align: right; font-size: 18px; margin-top: 9px; }
.pmethod-wrapper{ width: 92.9166666667%; margin: 0 auto; position: relative; padding:0 24px; width:auto;}
.pmethod-content{ float: left; width: 100%; margin: 40px 0 16px; }
.pmethod-content .center div { line-height:24px; font-size:14px; }
.pmethod-wrapper .left{ float: left; width: 28.2511210762%; width:33%; margin-right:10px; max-width:145px; }
.pmethod-wrapper .left label{ float: left; width: 100%; font-size: 15px; font-weight:bold; line-height:24px; }
.pmethod-wrapper .center{ float: left; width: 56.0538116592%; position:relative; width:auto; }
.pmethod-wrapper .center label{ float: left; width: 100%; font-size: 16px; margin-bottom: 6px; }
.pmethod-wrapper .right{ float: left; width: 15.6950672646%; }
.cv-wrapper{ float: left; width: 100%; margin-bottom: 21px; }
.cv-wrapper label{ float: left; font-size: 15px; font-weight: bold; margin-right: 10px; }
.cvv2Number-field { float:left; width:100px; height:30px; border:1px solid tranparent; margin-right:6px; }
.cv-wrapper input{ width: 100px; height: 30px; border: 1px solid #999999; padding: 0 2px; text-align:center; font-size:16px; }
.cv-wrapper img{ float: left; margin-top: 2px; cursor: pointer; }
.checkout-links{ float: left; width: 100%; margin-bottom: 25px; }
.checkout-links a{ float: right; font-size: 16px; font-weight: bold; text-decoration: underline; margin-right: 17px; line-height: 42px; cursor:pointer; }
.place-order-btn{ background: url(/cdn/images/mobile/checkout-arrow-right.png) no-repeat 190px center; float: right; width:220px; height: 50px; line-height: 50px; padding:0 0 0 24px; text-align: left; font-size: 28px; cursor: pointer; margin:0; }

/* sign-in and register popup */
.sign_in_modal_wrapper, .register_modal_wrapper{ left: 0 !important; margin: 0 !important; }
.sign_in_modal_wrapper .box-content, .register_modal_wrapper .box-content{ margin: 21px auto 0;  }
.share_modal_wrapper .box-content { margin:0 auto; }
.signin-wrapper .login-label{ float: left; width: 100%; margin: 20px 0; font-size: 38px; }
#modal-arrow-left-svg { position: absolute; top: 0; left: -8px; cursor: pointer; }
#modal-arrow-left-svg .arrow-left-svg{ cursor: pointer; width: 20px; height: 36px; }
.signin-wrapper .logo-txt label{ font-size: 28px; font-weight: bold; }
.signin-wrapper .logo-txt label:hover{ opacity: 0.8; }
.signin-wrapper .icon-cart{ text-align: right; margin-top: 2px; }
.signin-wrapper .icon-cart span { z-index:999; right:10px !important; }
.signin-wrapper .icon-cart span:hover{ cursor: pointer; }
#popup_wrapper .cart-svg,
.checkout_sign_in_modal_wrapper .cart-svg { width: 40px; height: 30px; }
.signin-wrapper input[type=text], .signin-wrapper input[type=email], .signin-wrapper input[type=password] { font-size: 24px; height: 43px; }
.signin-wrapper button{ height: 50px; line-height: 50px; font-size: 28px; padding: 0 21px; }
.signin-wrapper svg:hover{ opacity: 0.8; cursor: pointer; position:relative; z-index:1; }
.register-btn{ margin-top: 44px; }
.register-btn label{ font-size: 16px; display: inline; margin-right: 12px; }
.register-btn button{ font-size: 16px !important; padding: 0 12px !important; height: 28px; line-height: 28px; }

/* checkout sign-in */
.checkout_sign_in_modal_wrapper { left: 0 !important; margin: 0 !important; display:block; position:absolute; top:0; left:0; z-index:999;width:100%; min-height:100%; }
.checkout_sign_in_modal_wrapper .box-content { margin: 21px auto 0;  }
.checkout_sign_in_modal_wrapper .signin-wrapper .icon-cart span:hover{ opacity: 1; cursor: pointer; }
.checkout_sign_in_modal_wrapper .login-label { font-size:24px; }
.signin-wrapper button.skip-signin { width:56px; height:28px; font-size:16px; line-height:28px; padding:0; }
.signin-wrapper button.addnew { width:auto; padding:0 15px; height:40px; line-height:40px; }
.signin-wrapper button.billing-btn { width:72px; height:36px; padding:0; line-height:36px; font-size:20px; }
.skip-signin-wrapper { margin-top:66px; padding-bottom:20px; }

/* checkout */
.checkout_sign_in_modal_wrapper #preloader-wrapper.preloaderCart { width:100%; } 
.checkout_sign_in_modal_wrapper .step-label { font-size:38px; }
.checkout_sign_in_modal_wrapper .step-label-caption { font-size:14px; margin-bottom:21px; }

.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input[type=text], 
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input[type=email], 
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input[type=password],
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper select { font-size: 17px; height: 36px; width:100%; margin-bottom:0px; }
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper select.expiry { width:112px; }

.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input::-webkit-input-placeholder{ opacity: 1; }
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input::-moz-placeholder{ opacity: 1; }
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input:-ms-input-placeholder{ opacity: 1; }

.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper select { padding:4px; }
.checkout_sign_in_modal_wrapper .signin-wrapper #checkout-form-wrapper input.input-fname { width:99%; display:inline-block; }
#checkout-form-wrapper .field-table { display:table; width:100%; }
#checkout-form-wrapper .field-table .table-cell { display:table-cell; }
#checkout-form-wrapper .field { width:100%; margin-bottom:5px; }
#checkout-form-wrapper .field.inlineblock { display:table-cell; width:50%; padding-bottom:5px; }
#checkout-form-wrapper .field.inlineblock.alignright { text-align:right; }
#checkout-form-wrapper .field.expiry { width:112px; margin-right:6px; }
.signin-wrapper #checkout-form-wrapper button { width:275px; width:100%; height:36px; font-size: 15px; margin-top:21px; padding:0; line-height:36px; }
.signin-wrapper #checkout-form-wrapper button.btn-existing-address { width:302px; font-size:13px; font-weight:bold !important; }
.signin-wrapper #checkout-form-wrapper button.back { width:70px; }
#ba-checkbox-wrapper { margin-bottom:13px; }
#ba-checkbox-wrapper .checkbox { overflow:hidden; width:24px; height:24px; }
#ba-checkbox-wrapper .lbl { line-height:24px; margin-left:7px; }

.cardtype-field { margin-bottom:14px; width:99.4%; }
.cardtype-field a { display:inline-block; width:35px; height:22px; background:url(/cdn/images/mobile/cc-icon.png) 0 0 no-repeat; position:relative; top:-5px; }
.cardtype-field a.mastercard { background-position:-41px; }
.cardtype-field a.discover { background-position:-82px; }
.cardtype-field a.amex { background-position:-123px; }
.cardtype-field a.selected { border-width:2px; border-style:solid; width:39px; height:26px; top:-3px; }

.cc-expiry { line-height:36px; margin-right:14px; }

.addressbook-wrapper { margin-bottom:30px; }
.action-buttons { margin-top:10px; }
.signin-wrapper .action-buttons button { font-size:18px; height:30px; line-height:30px; }
#billing_address_id { width:60%; float:left; margin-right:8px; }

.d-option, .details-nav{ display: none; }
.clearing-thumbs{ width: auto !important; }
.ps-caption-bottom{ display: none !important; }
.ps-toolbar-top{ display: block !important; }
.second-close {
    color: #AAAAAA;
    cursor: pointer;
	font-size: 35px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 0.6875rem;
    top: 0.5rem;
	z-index: 99;
}

.reveal-modal.large{ height: 100% !important;
    margin-left: -50% !important;
    width: 100% !important; margin-top: 0 !important; }
.reveal-modal .close-reveal-modal{ font-size: 35px; }
#videoModal .flex-video{ margin-top: 28px; }

.pslideshow-wrapper .swiper-container2 {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
	height: 252px;
}
.pslideshow-wrapper .swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.pslideshow-wrapper .swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.pslideshow-wrapper .swiper-slide {
	float: left;
	position: relative;
}
.pslideshow-wrapper .swiper-slide .video-bg, .pslideshow-wrapper .photo-slide .video-bg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.8; text-align: center; }
.play-svg{ width: 60px; height: 60px; margin-top: 98px; }
.play-svg path{ fill: #000; }
.pslideshow-wrapper .swiper-slide:last-child{ border-right: 0 none; }



.pdetails-share{ min-height: 62px; padding: 18px 0; position: relative; }
.share-wrapper, .share-wrapper-small{ float: left; margin-top: 22px; }
.share-wrapper .share-lbl, .share-wrapper-small .share-lbl{ font-size: 15px; margin-right: 3px; }
.share-wrapper .share-box, .share-wrapper-small .share-box{ font-size: 15px; padding: 6px 8px 10px; }
.share-wrapper .cart-cmd2{ text-align: right; }
.share-wrapper-small .cart-cmd2{ text-align: center; }
.share-svg{ width: 26px; height: 26px; vertical-align: middle; }

/* homepage category listing */
.cat-title-wrapper-bg{ position: absolute; bottom: 0; opacity: 0.8; z-index: 5; height: 58px; }
.cat-title-wrapper{ position: absolute; bottom: 0; z-index: 10; height: 54px; }
.cat-one .cat-image, .cat-two .cat-image, .cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ height: 259px; }
.cat-one .cat-title, .cat-two .cat-title{ height: 54px; }
.cat-three .cat-image, .cat-four .cat-image{ height: 159px; }
.cat-last .cat-image{ height: 143px; }
.cat-three .cat-title, .cat-four .cat-title, .cat-last .cat-title{ height: 54px; }
.cat-one .cat-title a, .cat-two .cat-title a, .cat-three .cat-title a, .cat-four .cat-title a, .cat-last .cat-title a{ font-size: 18px; line-height: 20px; }
.cat-last .cat-title{ height: 54px; }

.below-600{ display: inline-block; }
.above-600{ display: none; }

.wishlist-icon-smal{ vertical-align: middle; display: inline-block; margin-left: 6px;}
.wishlist-icon-smal svg{ width: 40px; height: 35px; }

.pslideshow-wrapper-small .orbit-bullets-container{ position: absolute; text-align: center; top: 250px; width: 100%; }
.pslideshow-wrapper-small .orbit-bullets{ display: inline-block; float: none; margin: 0 auto 30px; overflow: hidden; position: relative; text-align: center; top: 12px; left: auto; }
.pslideshow-wrapper-small .orbit-bullets li{ margin-top: 2px; }
.pslideshow-wrapper-small .orbit-bullets li.active{ margin-top: 0; }

#header{ position: relative; }
.swiper-nav{ position: absolute; top: 59px; z-index: 99; }
#inside-content{ margin: 0 auto; }
#content{ position: relative; }
.top-high{ top: 106px !important; }
.top-low{ top: 59px !important; }
.tap-close{ position: absolute; top: 50%; z-index: 999; text-align: center; }
.tap-close span{ width: 20%; display: inline; padding: 0.475rem 1.5rem; }
/* low resolution, 320px and below */
@media only screen and ( max-width:320px ) {
	.pr-right { width: 50%; }
	.pr-right h1{ font-size: 14px; line-height: 16px; }

	#header-title{ width: 50%; }
	.top-high{ top: 56px !important; }
	.top-low{ top: 0 !important; }
	.promoted .top-high{ top: 22px !important; }
	.snap-drawer-header h3 label{ font-size: 17px; margin: 2px 8px 0 0; }
	.snap-drawer-header-bg, .snap-drawer-header-menu{ width: 271px; }

	.snap-drawer-header p{ font-size: 12px; }
	.snap-drawer-header h3, .snap-drawer-header-wrapper li > a{ font-size: 20px; }
	.snap-drawer, .snap-drawer-header-wrapper{ width: 271px; }
	.snap-drawer-header .h-buttons .h-signin-btn{ width: 106px; font-size: 16px; }
	.snap-drawer-header .h-buttons .h-register-btn{ width: 121px; font-size: 16px; }
	
	#pdetals-top h1{ font-size: 24px; line-height: 26px; margin: 0;}
	#pdetals-top .sale-price{ font-size: 18px; }
	#pdetals-top .base-price label{ font-size: 12px; line-height: 28px;  }
	.pdetails-cart-option{ margin-bottom: 19px; }
	.pslideshow-wrapper{ margin-top: 0; }
	.pdetails-content-wrapper{ padding-top: 19px; }
	
	.slideshow-wrapper { height: 411px; }
	.slideshow-wrapper .swiper-container { height: 411px; }
	.slideshow-wrapper .content-slide{ height: 129px; }
	.slideshow-wrapper .swiper-container .product-img{ height: 287px; }
	.slideshow-box, .sdetails{ height: 286px; }
	.sdetails .product-title-bg,
	.sdetails .product-title-normal { font-size: 22px; line-height: 24px; }
	.slideshow-wrapper .product-price-wrapper .base-price label{ font-size: 14px;}
	.slideshow-wrapper .product-price-wrapper .sale-price{ font-size: 16px; }
	.slideshow-wrapper .product-price-wrapper .stock{ font-size: 12px; }

	.slideshow-wrapper .product-slide{ height: 287px; }
	
	.lessthan-800{ display: block; }
	.greaterthan-800{ display: none; }
	.latest-product-list .product-listing-title{ font-size: 14px; line-height: 16px; }
	.latest-product-list .sale-price{ font-size: 12px; }
	.latest-product-list .instock{ font-size: 10px; }
	.product-listing-wrapper h2{ font-size: 18px; }
	.wishlist-icon, .share-icon{ top: 40px; }
	.slideshow-wrapper .orbit-container{ height: 411px; }
	.slideshow-wrapper .orbit-container ul li a.slideshow-photo, .slideshow-box .product-img{ height: 286px; }
	.share-wrapper, .wishlist-icon2, .ptag{ display: none; }
	
	.pslideshow-wrapper, .pslideshow-wrapper .swiper-container{ height: 200px; }
	.pslideshow-wrapper .orbit-container{ height: 226px;}
	.pslideshow-wrapper .product-img{ height: 200px; }
	.pslideshow-wrapper-small .orbit-bullets-container{ top: 190px; }
	#product-details-wrapper .large-9, #product-details-wrapper .small-9{ width: 100%; }
	.play-svg{ margin-top: 72px; }
}

/* medium resolution, 321px to 599px */
@media only screen and ( min-width:321px ) {
	.pr-right { width: 70%; }
	.pr-right h1{ font-size: 20px; line-height: 22px; }
	
	#header-title{ width: 65%; width:62%; }
	.top-high{ top: 56px !important; }
	.top-low{ top: 0 !important; }
	.promoted .top-high{ top: 22px !important; }
	.cat-one .cat-title a, .cat-two .cat-title a, .cat-three .cat-title a, .cat-four .cat-title a, .cat-last .cat-title a{ font-size: 20px; line-height: 22px; }
	.cat-one .cat-image, .cat-two .cat-image, .cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ height: 272px; }
	/* #pdetals-top h1{ font-size: 24px; line-height: 26px; margin: 0;}
	#pdetals-top .sale-price{ font-size: 18px; }
	#pdetals-top .base-price label{ font-size: 12px; line-height: 28px;  } */
	.pdetails-content-wrapper{ padding-top: 19px; }
	.slideshow-wrapper { height: 492px; }
	.slideshow-wrapper .swiper-container { height: 492px; }
	.slideshow-wrapper .swiper-container .product-img{ height: 401px; }
	.slideshow-box, .sdetails{ height: 402px; }
	.sdetails .product-title-bg,
	.sdetails .product-title-normal { font-size: 30px; line-height: 32px;}
	.slideshow-wrapper .product-price-wrapper .base-price label{ font-size: 16px;}
	.slideshow-wrapper .product-price-wrapper .sale-price{ font-size: 20px; }
	.slideshow-wrapper .product-price-wrapper .stock{ font-size: 14px; }

	.lessthan-800{ display: block; }
	.greaterthan-800{ display: none; }
	.latest-product-list .product-listing-title{ font-size: 18px; line-height: 20px; }
	.latest-product-list .sale-price{ font-size: 16px; }
	.latest-product-list .instock{ font-size: 14px; }
	.product-listing-wrapper h2{ font-size: 22px; }
	.pslideshow-wrapper{ margin-top: 11px; }
	
	.wishlist-icon, .share-icon{ top: 60px; }
	.slideshow-wrapper .orbit-container{ height: 492px; }
	.slideshow-wrapper .orbit-container ul li a.slideshow-photo, .slideshow-box .product-img{ height: 402px; }
	.share-wrapper, .wishlist-icon2, .ptag{ display: none; }
	
	.pslideshow-wrapper, .pslideshow-wrapper .swiper-container{ height: 250px; }
	.pslideshow-wrapper .orbit-container{ height: 276px;}
	.pslideshow-wrapper .product-img{ height: 250px; }
	.pslideshow-wrapper-small .orbit-bullets-container{ top: 250px; }
	#product-details-wrapper .large-9, #product-details-wrapper .small-9{ width: 100%; }
	.play-svg{ margin-top: 98px; }
}


/* high resolution, 600px and higher (tablet) */
@media only screen and ( min-width:600px ) {
	.pr-right { width: 80%; }
	.pr-right h1{ font-size: 25px; line-height: 27px; }
	.pr-right label{ font-size: 16px; }
	
	.signin-wrapper #checkout-form-wrapper button { font-size:19px; }
	
	#sharebox-wrapper .promotetxt { font-size:25px; }
	#sharebox-wrapper .signintxt { font-size:18px; }
	#sharebox-wrapper .promotetxt2 { font-size:16px; /*width:421px; */ }
	#sharebox-wrapper .buildnow .buildnow-txt { font-size:25px; }
  	#sharebox-wrapper .buildnow .buildnow-txt2 { font-size:16px; /*width:325px;*/ }
}

/* high resolution, 700px and higher */
@media only screen and ( min-width:700px ) {
	.top-high{ top: 106px !important; }
	.top-low{ top: 59px !important; }
	.promoted .top-high{ top: 96px !important; }
	#header-title{ width: 82%; width:78p%; }
	#header{ position: fixed; }
	.swiper-nav{ position: static; top: 0; z-index: 0; }
	#inside-content{ margin: 17px auto 0; }
	#content{ position: fixed; }
	.cat-title-wrapper-bg{ height: 76px; }
	.cat-title-wrapper{ height: 72px; }
	.cat-one .cat-image, .cat-two .cat-image, .cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ height: 440px; }
	.cat-one .cat-title, .cat-two .cat-title{ height: 72px; }
	.cat-one .cat-title a, .cat-two .cat-title a{ font-size: 32px; }
	.cat-three .cat-image, .cat-four .cat-image, .cat-last .cat-image{ height: 355px; }
	.cat-three .cat-title, .cat-four .cat-title, .cat-last .cat-title{ height: 72px; }
	.cat-three .cat-title a, .cat-four .cat-title a, .cat-last .cat-title a{ font-size: 25px; }
	.cat-last .cat-title{ height: 72px; }
	
	.slideshow-wrapper { height: 492px; }
	.slideshow-wrapper .swiper-container { height: 492px; }
	.slideshow-wrapper .swiper-container .product-img{ height: 401px; }
	.slideshow-box, .sdetails{ height: 402px; }
	.sdetails .product-title-bg,
	.sdetails .product-title-normal { font-size: 35px; line-height: 38px; }
	.slideshow-wrapper .product-price-wrapper .base-price label{ font-size: 18px;}
	.slideshow-wrapper .product-price-wrapper .sale-price{ font-size: 24px; }
	.slideshow-wrapper .product-price-wrapper .stock{ font-size: 16px; }
	
	.pdetails-content-wrapper{ padding-top: 19px; }
	
	.lessthan-800{ display: none; }
	.greaterthan-800{ display: block; }
	.latest-product-list{ height: 146px; }
	.latest-product-list .product-listing-image, .latest-product-list .product-listing-info{ height: 144px; }
	.latest-product-list-1{ float: left; width: 48.6%; }
	.latest-product-list-2{ float: right !important; width: 48.6%; }
	.latest-product-list .product-listing-title{ font-size: 20px; line-height: 22px; }
	
	.product-listing-wrapper h2{ font-size: 26px; }
	#pdetals-top h1{ font-size: 30px; line-height: 36px; margin: 0; padding: 15px 0; }
	#pdetals-top .sale-price{ font-size: 24px; }
	#pdetals-top .base-price label{ font-size: 16px; line-height: 38px;  }
	.pdetails-share{ display: none !important; }
	.pdetails-cart-option{ margin-bottom: 0; }
	.pslideshow-wrapper{ margin-top: 0; }
	.pslideshow-wrapper, .pslideshow-wrapper .swiper-container{ height: 565px; }
	
	#pdetals-top .dprice{ display: none; }
	
	.prod-info-oncart p{ float: left; position: relative; margin-top: 8px; width:68%; }
	.prod-info-oncart p .clearfix { display:none; }
	.prod-info-oncart .ptitle { font-size:21px; }
	.prod-info-oncart .pprice{ line-height:38px; width:32%; }
	.prod-info-oncart .poption { display:block; float: left; font-size: 18px; width: 100%; margin-top: 3px; }
	#cart-content .prod-info-oncart .poption { display:block; }
	#cart-content .prod-info-oncart .poption.float-left { display:none; }
	.prod-info-oncart .pprice { font-size:24px; line-height:38px;margin-top:8px; }
	.price-oncart { padding: 2px 12px 4px; margin:0; }
	
	.cart-total-compu p .left, .cart-total-compu p .center { font-size:24px; }
	.cart-total-compu p .center2, .cart-total-compu p .right2{ font-size: 33px; }
	.cart-total-compu-div.shipto p {}
	.cart-total-compu-div.shipto select option { height:44px; line-height: 44px;padding:10px; border-radius:5px } 
	.order-subtotal { font-size:24px; }
	
	.prod-info-oncart .clearfix.price { display:none; }
	#pdetals-top{ min-height: 64px; }
	.slide-large-8{ width: 66.66667% !important; height: 252px; z-index: 2;}
	.slide3-large-8{ height: 252px !important; }
	.slide-large-8 .orbit-container{ height: 252px;}
	.cart-option-main-large-8{ height: 334px !important; }
	.cart-option-large-8{ width: 33.3333% !important; height: 300px; display: table; padding: 0; }
	.cart-option2-large-8{ margin: 0 auto; width: 100% !important; text-align: center; }
	
	.cart-cmd-wrapper .wishlist-icon{ display: none; }
	.pslideshow-wrapper, .pslideshow-wrapper .swiper-container{ height: 252px; }
	.slide3-large-8  .pslideshow-wrapper, .slide3-large-8  .pslideshow-wrapper .swiper-container{ height: 286px; }
	.pslideshow-wrapper .product-img{ height: 252px; }
	.slide3-large-8  .pslideshow-wrapper .orbit-container, .slide3-large-8  .pslideshow-wrapper .product-img{ height: 286px; }
	.pslideshow-wrapper .orbit-container{ height: 252px;}
	
	
	
	
	.details-nav{ height: 49px; }
	.details-nav span{ height: 49px; text-align: center; line-height: 49px; font-size: 17px; cursor: pointer; }
	.pdetails-content-wrapper{ position: relative; padding-top: 22px; z-index: 0; }
	.details-wrap, .ships-wrap, .vendor-wrap{ float: left; margin-bottom: 20px; }
	.pdetails-info-wrapper .vendor-details{ border: 0 none; }
	.details-wrap h2, .vendor-wrap h2{ display: none; }
	.vendor-wrap .vendor-details{ padding: 0; }
	
	.sb-lbl { width:150px; font-size:21px; }
	.sb-userinfo { font-size:21px; width:65%; }
	.change-btn { width:80px; height:30px; line-height:30px; font-size:16px; }
	#checkout-content .prod-info-oncart .poption{ font-size:16px; }
	#checkout-content .prod-info-oncart .pprice { font-size:22px; margin:0; }
	#checkout-content .prod-info-oncart p { margin-top:4px; }
	#checkout-wrapper .pmethod-content .change-btn { right:-38%; top:4px; }
	.checkout-info{ font-size: 16px; }
	.checkout-subtotal { font-size: 21px; }
	.pmethod-wrapper .left { width:18%; min-width:210px; max-width:auto; }
	.pmethod-wrapper .left label { font-size:21px; line-height:40px }
	.cv-wrapper label{ font-size:21px; }
	.cvv2Number-field { width:120px; height:40px; }
	.cv-wrapper input { width:120px; height:40px; }
	.cv-wrapper img { margin-top:11px; }
	.pmethod-content .center div { font-size:21px; line-height:40px }
	.place-order-btn { width:240px; background-position: 205px center; padding:0 0 0 34px; }
	
	
	
	.wishlist-icon, .share-icon{ top: 13px; }
	.pdetails-info-wrapper .v-report2{ position: absolute; right: 0; text-align: right; top: 8px; }
	
	.slideshow-wrapper .orbit-container{ height: 492px; }
	.slideshow-wrapper .orbit-container ul li a.slideshow-photo, .slideshow-box .product-img{ height: 402px; }
	
	.pdetails-cart-option .p-select-option{ width: 180px; }
	.pdetails-cart-option .p-option-cart{ display: table-cell; vertical-align: middle; height: 272px; }
	.pdetails-cart-option input.qty, .pdetails-cart-option .add-to-cart-btn{ margin: 0; }
	.cart-cmd-wrapper{ margin-top: 0 !important; }
	.cart-cmd2{ width: 182px; }
	.pdetails-cart-option .add-to-cart-btn{ width: 132px; font-size: 16px; }
	
	.ptag{ position: absolute; top: -68px; right: 10px; display: inline-block; }
	.ptag .d-price { margin: 0 auto; }
	.ptag .d-price .sale-price{ float: left; font-size: 25px; font-weight: bold; width: 100%; text-align: right; margin: 0;}
	.ptag .d-price .base-price label{ float: left; opacity: 0.7; font-size: 16px; cursor: default; padding: 0; width: 100%; text-align: right; margin: 0;}
	.ptag .d-price .base-price label span{ text-decoration: line-through; }
	
	.share-wrapper{ display: block; }
	.wishlist-icon2{ vertical-align: middle; display: inline-block; }
	.wishlist-icon2 svg{ width: 40px; height: 35px; }
	.details-nav{ display: inline-block; }
	.below-600{ display: none; }
	.above-600{ display: inline-block; }
	#product-details-wrapper .large-9, #product-details-wrapper .small-9{ width: 75%; }
}

@media only screen and ( min-width:800px ) {
	.dinfo-wrap a{ font-size: 38px; line-height: 40px; }
	.pdetails-cart-option .p-select-option{ width: 232px; }
	.cart-cmd-wrapper{ margin-top: 0 !important; }
	.cart-cmd2{ width: 222px; }
	.pdetails-cart-option .add-to-cart-btn{ width: 172px; font-size: 22px; }
	.d-option{ width: 222px; margin: 0 auto; margin-bottom: 5px; }
	.d-option, .details-nav{ display: block; }
	.d-option .wishlist-icon{ margin: 2px 17px 0 16px; }
	.d-option .d-price { margin: 0 auto; }
	.d-option .d-price .sale-price{ float: right; min-width: 100px; padding: 0 20px; font-size: 32px; font-weight: bold; text-align: center; border-radius: 6px 0 0 6px; -moz-border-radius: 6px 0 0 6px; -webkit-border-radius: 6px 0 0 6px; cursor: default; }
	.d-option .d-price .base-price label{ float: left; width: 222px; opacity: 0.7; font-size: 20px; text-align: right; cursor: default; padding: 0; }
	.d-option .d-price .base-price label span{ text-decoration: line-through; }
}
