<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="en" ng-app="mainController">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Shoppable Photo</title>
	<!-- load dependencies first before loading angular -->
	<script type="text/javascript">
		GlobalHost = '<%= GlobalHost %>';
		user_id = <%= user_id %>;
		store_id = <%= store_id %>;
	</script>
	<script src="lib/vendor/angular.js"></script>
	<script src="lib/vendor/ui-bootstrap-tpls-0.11.2.min.js"></script>

	<script src="lib/controllers/mainController.js"></script>
	<script src="lib/controllers/productDisplayPartialControllers.js"></script>
	<script src="lib/controllers/productDisplayEventDirectives.js"></script>
	<script src="lib/controllers/pullProductInformation.js"></script>
	<script src="lib/models/sharedData.js"></script>
	<script src="lib/vendor/draganddrop.js"></script>
	<script src="lib/vendor/ianwalter/ng-context-menu.min.js"></script>

	<link rel="stylesheet" href="lib/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="lib/vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="lib/vendor/normalize.css" />
	<link rel="stylesheet" type="text/css" href="lib/vendor/ianwalter/ng-context-menu.css" />
	<link rel="stylesheet" type="text/css" href="css/photostyx.css" />
</head>
<body ng-controller="mainPageController">
	<script src="lib/vendor/wz_tooltip/wz_tooltip.js"></script>
	<script src="lib/vendor/wz_tooltip/tip_balloon.js"></script>
	<list-ofproducts></list-ofproducts>
	<editor-area></editor-area>
</body>
</html>