<html lang="en">
	<head>
		<link rel="stylesheet" href="<%= httpPath %>/lib/vendor/normalize.css" />
	</head>
	<body style="height=<%= imgHeight %>px;width=<%= imgWidth %>px;" onload="resizeParent();">
		<script src="<%= httpPath %>/lib/vendor/wz_tooltip/wz_tooltip.js"></script>
		<script src="<%= httpPath %>/lib/vendor/wz_tooltip/tip_balloon.js"></script>
		<div style="container" style="position:relative;top:0px;left:0px;height=<%= imgHeight %>px;width=<%= imgWidth %>px;">
			<img src="<%= filepath %>/<%= bgfilename %>" style="max-height:1000px;max-width:1000px">
			<% data.forEach(function(tagdata){ %>
				<div style="position: absolute; top: <%= tagdata.layerY %>px; left: <%= tagdata.layerX %>px;" name="tag_item">
					<a href="<%= tagdata.ProductInformation.url %>" class="hotspot" onmouseover="Tip('<span><b></b><%= tagdata.ProductInformation.product_name %><br/><%= tagdata.ProductInformation.price %> <%= tagdata.ProductInformation.currency %><br/><br/><%= tagdata.ProductInformation.product_desc %></span>',HEIGHT,-300,WIDTH,-250,JUMPHORZ,true,JUMPVERT,true,BALLOON,true,BALLOONSTEMOFFSET,-30,OFFSETX,-15,ABOVE,true);" onmouseout="UnTip();" target="_blank">
						<img src="<%= httpPath %>/images/pricetag.png"/>
					</a>
				</div>
			<% }) %>
		</div>
		<script type="text/javascript">
			function resizeParent()
			{
				var arrFrames = parent.document.getElementsByTagName("IFRAME");
				for (var i = 0; i < arrFrames.length; i++) 
				{
					if (arrFrames[i].contentWindow === window)
					{
						arrFrames[i].height="<%= imgHeight %>px";
						arrFrames[i].width="<%= imgWidth %>px";
					}
				}
			}
		</script>
	</body>
</html>