span.thumb_img{
	float: left;
	width: 35px;
	min-height: 25px;
}

.gradient {
   filter: none;
}

#store-wrapper #store-menu-wrapper ul li div.manage-wrapper .endp-wrapper p.results-info{
   filter: none;
}

.search-input-wrapper { -webkit-border-radius: 4px; border-radius: 4px; }
#store-wrapper .search-input-wrapper { -webkit-border-radius: 4px; border-radius: 4px; }
