.reveal-modal-bg{ z-index: 999999999; }
.addproduct-modal.reveal-modal.advanced{ width: 1002px; min-width: 1002px; visibility: visible; top: 0 !important; left: auto; right: 0; border-left: 1px solid #fff; box-shadow: 0 0 2px 1px #CCCCCC; -moz-box-shadow: 0 0 2px 1px #CCCCCC; -webkit-box-shadow: 0 0 2px 1px #CCCCCC; overflow: hidden; position: fixed; }
.addproduct-modal.reveal-modal.advanced .shopstyxloader{ margin: 220px auto 0; }
#addproductModal-basic .ptype-icon,
#addproductModal.reveal-modal .ptype-icon { width: 40px; height: 40px; background-position: -319px -215px; margin-top: 13px; margin-left: 24px; display: none; }
#addproductModal.reveal-modal .ptype-icon { margin-top: 15px; margin-left: 17px; }
.reveal-modal .header-title,
#addproductModal-basic .header-title { font-size: 20px; line-height: 70px; margin-left: 38px; }
.reveal-modal .header-title{ margin-left: 25px; }
.reveal-modal #advance-btn,
#addproductModal-basic #advance-btn { /* float: left; width: 92px; height: 30px; line-height: 28px; text-align: center; margin: 20px 0 0 14px; border-style: solid; border-width: 1px; cursor: pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; */ }
.advanced-css-btn, .basic-css-btn{ background: url('/cdn/images/v2/nav-icons.png') no-repeat -302px -294px; float: left; width: 99px; height: 36px; cursor: pointer; margin: 17px 0 0 45px}
.advanced-css-btn{ background-position: -201px -294px; }
.reveal-modal .action-btn,
#addproductModal-basic .action-btn { float: right; margin-right: 70px; margin-top: 15px; }
.reveal-modal .action-btn button,
#addproductModal-basic .action-btn button { width: 134px; height: 38px; line-height: 36px; padding: 0; margin: 0 15px 0 0; font-size:14px; font-weight: 300 !important; float: right; color: #AAAAAA; background-color: #FFF; border:1px solid #E0E0E0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#addproductModal-basic .action-btn button.publish-btn{ margin: 0 5px 0 0; }
#addproductModal-basic .action-btn button.draft-btn{ margin: 0 5px 0 0; }
#addproductModal-basic .action-btn button.cancel-sell-btn{ margin: 0 5px 0 0; }
.reveal-modal .action-btn button.publish-btn,
#addproductModal-basic .action-btn button.publish-btn{ background-color: #00A3D9; color: #FFFFFF; border: 1px solid #00A3D9; }
.reveal-modal .action-btn button:hover,
.reveal-modal .action-btn button.selected,
#addproductModal-basic .action-btn button:hover,
#addproductModal-basic .action-btn button.selected { opacity: 0.8; }
.reveal-modal .action-btn button.publish-btn,
#addproductModal-basic .action-btn button.publish-btn { }
.reveal-modal .action-btn button.draft-btn,
#addproductModal-basic .action-btn button.draft-btn { }

.reveal-modal.basic .content,
#addproductModal-basic .content { margin: 29px 0 0 39px; }
.reveal-modal.basic .content .maximum-lbl,
#addproductModal-basic .content .maximum-lbl{ font-size: 14px; color: #444444; width: 732px; }
.reveal-modal.basic .content .maximum-lbl .upgrade-account,
#addproductModal-basic .content .maximum-lbl .upgrade-account{ width: 200px; height: 38px; line-height: 38px; text-align: center; font-size: 12px; display: inline-block; margin: 8px 0 0 2px; border-radius: 1.5px; cursor: pointer; }
.reveal-modal.advanced .content { float: left; padding: 29px 32px 0 34px; width: 860px; }
.reveal-modal.advanced .content .product-images-wrapper{ width: 382px; padding: 0; }
.reveal-modal.advanced .content .product-video-wrapper{ width: 410px; }
.reveal-modal .publish-type-wrapper,
#addproductModal-basic .publish-type-wrapper { float: right; line-height: 66px; height: 70px;  }
.reveal-modal .publish-type-wrapper label,
#addproductModal-basic .publish-type-wrapper label { float: left; }
.reveal-modal .publish-type-wrapper span,
#addproductModal-basic .publish-type-wrapper span { margin-right: 20px; display: inline-block; font-size: 22px; font-weight: 400; position: relative; top: 4px; margin-left: 3px; }
.reveal-modal .publish-type-wrapper input,
#addproductModal-basic .publish-type-wrapper input { margin: 0; display: inline-block; }

#addproductModal.reveal-modal [data-abide] .error small.error, 
#addproductModal-basic [data-abide] .error small.error,
[data-abide] span.error, 
[data-abide] small.error { padding: 2px 0.5625rem 2px; font-size: 11px; }

.addproduct-modal select { appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; background-image: url('/cdn/images/v2/selector-arrow.png'); background-repeat: no-repeat; background-position: 180px center; padding-right: 26px; }
.addproduct-modal .mystyled-select { border: 1px solid #E0E0E0; box-sizing: border-box;  overflow: hidden; position: relative; margin-bottom: 16px; }
.addproduct-modal .mystyled-select select { border: 0 none; margin-bottom: 0 !important; width: 108.3%; }
.addproduct-modal .mystyled-select select:focus { box-shadow:  none !important; outline: none; }
.addproduct-modal .mystyled-select span.arrow { margin: 0 !important; display: block !important; position: absolute; top: 16px;  right: 11px; width: 9px; height: 6px; background-image: url('/cdn/images/v2/selector-arrow.png'); background-repeat: no-repeat;  }


.reveal-modal select.width190,
#addproductModal-basic select.width190 { background-color: #FFF; font-size: 12px; }
.reveal-modal textarea.height270,
#addproductModal-basic textarea.height270 { height: 177px; }
.reveal-modal textarea.height248,
#addproductModal-basic textarea.height248 { height: 248px; }
.reveal-modal textarea.pro-desc,
#addproductModal-basic textarea.pro-desc { margin: 0 0 32px !important; }
.reveal-modal label span,
#addproductModal-basic label span { margin: 0 5px 11px 1px; display: block; font-size: 12px; }
.reveal-modal label span span,
#addproductModal-basic label span span { margin: 0; display: inline; font-weight: 300;}
.reveal-modal label span .sub-label,
#addproductModal-basic label span .sub-label { font-size: 12px; font-weight: 300; }
.reveal-modal#addproductModal label.color5,
#addproductModal-basic label.color5 { font-weight: 300; }

.addproduct-modal input[type="text"],
.addproduct-modal textarea { font-size: 12px; line-height: 18px; }
#advance-link { text-decoration: underline; cursor: pointer; }
.reveal-modal .tooltip { }
.tooltip>.nub { top: -9px;  }
.addproduct-modal .has-tip { cursor: default; border: 0 none; }

#addproductModal-basic .width422 { width: 422px; padding: 0 !important; margin-right: 40px; }
#addproductModal-basic .width362 { width: 362px; padding: 0 !important; float: left; }
#addproductModal-basic .width172 { width: 172px; padding: 0; } 
#addproductModal-basic .width365 { width: 365px; padding: 0; }
#addproductModal-basic .width202 { width: 202px; padding: 0; }

.addproduct-modal .pro-desc-wrapper small{ top: 176px; }
.addproduct-modal.basic .weight-wrapper{ float: left; width: 154px; margin: 0; }
.addproduct-modal .weight-select, .addproduct-modal .size-select{ float: left; width: 62px; height: 37px; margin: 0 0 0 -1px; border: 1px solid #CCCCCC; }
.addproduct-modal.basic .weight-select select, .addproduct-modal.basic .size-select select{ background: url("/cdn/images/v2/pr-bg.png") repeat scroll 0 0 transparent; font-size: 14px; font-weight: 400; color: #00A3D9; height: 35px; padding: 0 0 0 6px; }
.addproduct-modal.basic .weight-select select{ padding: 0 0 0 12px; }
.addproduct-modal .weight-wrapper .weight-container{ float: left; width: 154px; }
.addproduct-modal .weight-wrapper .weight-container .lbl, .addproduct-modal .size-wrapper .size-container .lbl{ float: left; width: 100%; color: #444444; margin-bottom: 9px; }
.addproduct-modal .weight-wrapper .weight-container .payoutrate{ float: left; width: 92px !important; margin: 0; }
.addproduct-modal.basic .product-sizes{ float: left; width: 56px !important; margin-left: -1px; }
.addproduct-modal.basic .product-sizes:nth-child(1){ margin-left: 0; }
.addproduct-modal.basic .size-wrapper{ float: left; width: 230px; margin: 0 0 0 37px; }
.addproduct-modal.basic .weight-container.error{ bottom: 0 !important; position: relative; }
.addproduct-modal.basic .size-container.error{ bottom: 0 !important; position: relative; }
.addproduct-modal.basic .size-container.error .error{ position: absolute; top: 64px; }

.addproduct-modal.advanced .price-input, .addproduct-modal.advanced .sale-price-input, .addproduct-modal.advanced .product-entry-product_name{ margin: 0px 0 42px 0 !important; }
.addproduct-modal.advanced .weight-wrapper{ float: left; width: 154px; margin: 27px 0 0 0 !important; }
.addproduct-modal.advanced .weight-select select, .addproduct-modal.advanced .size-select select{ background: url("/cdn/images/v2/pr-bg.png") repeat scroll 0 0 transparent; font-size: 14px; font-weight: 400; color: #00A3D9; height: 35px; padding: 0 0 0 6px; }
.addproduct-modal.advanced .weight-select select{ padding: 0 0 0 12px; }
.addproduct-modal.advanced .product-sizes{ float: left; width: 56px !important; margin: 0 0 0 -1px !important; }
.addproduct-modal.advanced .product-sizes:nth-child(1){ margin-left: 0; }
.addproduct-modal.advanced .size-wrapper{ float: left; width: 230px; margin: 0 0 0 8px; }
.addproduct-modal.advanced .weight-container.error{ bottom: 0 !important; position: relative; }
.addproduct-modal.advanced .size-container.error{ bottom: 0 !important; position: relative; }
.addproduct-modal.advanced .size-container.error .error{ position: absolute; top: 70px; }
.addproduct-modal.advanced .weight-wrapper .weight-container .payoutrate{ width: 72px !important; }
.addproduct-modal.advanced .for-err-wrapper small.error{ position: absolute; left: 0; top: 38px; bottom: 0 !important; }


.addproduct-modal .color-wrapper { width: 365px; height: 55px; margin-bottom: 16px; }
.addproduct-modal .color-wrapper ul { padding: 0; margin: 0; list-style: none none; }
.addproduct-modal .color-wrapper ul li { width: 32px; height: 25px; margin-right: 5px; margin-bottom: 5px; float: left; border: 1px solid #DDDDDD; background-color: #f9f9f9; }
.addproduct-modal .color-wrapper ul li:nth-child(10),
.addproduct-modal .color-wrapper ul li:last-child { margin-right: 0; }
.addproduct-modal .color-wrapper ul li:nth-child(11) { margin-left: 185px; }
.addproduct-modal .color-wrapper ul li.selected,
.addproduct-modal .color-wrapper ul li:hover { border: 1px solid #dddddd; box-shadow: 0 0 0 1px #444444;  }

.addproduct-modal.advanced .color-wrapper { margin-bottom: 49px; }

.pr-wrapper { background: url('/cdn/images/v2/pr-bg.png') repeat scroll 0 0; width: 360px; min-height: 113px; font-size: 12px; border-radius: 3px; border: 1px solid #CCCCCC; margin-bottom: 43px; }
.addproduct-modal.basic .pr-wrapper{ margin-bottom: 28px; }
.pr-wrapper img { float: left; margin: 21px 0 0 23px;}
.pr-wrapper .field-wrapper { margin: 14px 0 0 15px; width: 219px; }
.pr-wrapper .lbl { font-size: 12px; line-height: 16px; margin-bottom: 10px; font-weight: 300; }
.pr-wrapper .curr-dollar { float: left; width: 30px; height: 35px; line-height: 33px; font-size: 18px !important; font-weight: 400; display: inline-block !important; border: 1px solid #77609b; background: #77609b; color:#FFFFFF; border-right: 0 none; text-align: center; margin: 0 !important; }
.pr-wrapper .payoutrate { width: 68px; margin: 0 !important; font-size: 16px !important; display: inline; float:left; height: 35px; border: 1px solid #999999; color: #777777; }
.pr-wrapper small.error { margin: 0 !important; bottom: -16px !important;}
.pr-wrapper .common-field-wrapper input { margin: 0 !important; }
.common-field-wrapper.radio { margin-top: 13px; }
.input-radio { display: inline-block; width: 38px; height: 35px; margin-left: 6px; font-size: 16px; font-weight: 300; float:left; text-align: center; line-height: 35px; position: relative; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.input-radio:hover { background-color: #00A3D9; color:#FFFFFF !important;}
.input-radio input { opacity: 0; position: absolute; left: 0; width: 100px; height: 100px; margin: 0; display: inline; margin: 0; }
#addproductModal .ap-content-details .input-radio { width: 48px; border: 1px solid #DDDDDD; font-size: 12px; line-height: 32px; }
#addproductModal .ap-content-details .input-radio:hover,
#addproductModal .ap-content-details .input-radio.color2 { background: url("/cdn/images/v3/bg-menu-selected.png") repeat scroll 0 0 transparent; color: #FFF; }

.addproduct-modal.advanced .weight-wrapper .common-field-wrapper .input-radio.error, .addproduct-modal.advanced .size-wrapper .common-field-wrapper .input-radio.error { position: relative; bottom: 0 !important; }

.photo-wrapper { width: 375px; height: 122px; position: relative; overflow: hidden; overflow-x: auto; }
.photo-wrapper .slider { min-width: 375px;}
.photo-wrapper ul { margin: 0; padding: 0; list-style: none; }
.photo-wrapper ul li { display: table; float: left; margin-right: 13px; width: 112px; height: 102px; overflow: hidden; border: 1px solid #EAEEF1; background: #FFFFFF; }
.photo-wrapper ul li:last-child { margin-right: 0; }
.photo-wrapper ul li.bordercolor1 { background-color: #FFFFFF; border: 1px solid #E0E0E0; }
.photo-wrapper ul li .tbl-cell { display: table-cell; width: 100%; height: 100px; position:relative; text-align: center; vertical-align: middle }
.photo-wrapper ul li .tbl-cell.holder .upload-image-bg { background: url('/cdn/images/v2/upload-img43x32-bg.png') no-repeat center 28px transparent; width: 100%; height: 100%; float: left; }
.photo-wrapper ul li .tbl-cell .inner-holder {  }
.photo-wrapper ul li .tbl-cell.holder .inner-holder { position:relative; width:100%; height: 100%; }
.photo-wrapper .upload-image-bg { position: relative; overflow:hidden; max-height: 100px; }
.photo-wrapper .upload-image-bg div { font-size: 11px; text-align: center; width: 100%; top: 68px; position: absolute; }
.photo-wrapper .upload-image-bg.setimage { background-size: cover; background-position: center center;} 
.photo-wrapper .upload-image-bg.setimage div { display: none; }
.photo-wrapper .upload-image-bg.auto { height: auto; }
.photo-wrapper .upload-image-bg img { max-width: 110px; }
.photo-wrapper .upload-image-bg input { width: 100%; height: 100%; opacity: 0; position: absolute; top: 0; left: 0; cursor: pointer;}

.photo-wrapper .image-btn-wrapper { padding-left: 7px; width:auto; height: 30px; position: absolute; bottom: 0; right: 0; z-index: 2;}
.photo-wrapper .image-btn-wrapper .bg { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background-color: #FFF; opacity: .8; }
.photo-wrapper .image-btn-wrapper .btn-holder { position: relative; z-index: 2; top: 0; }
.photo-wrapper .image-btn-wrapper .delete-img { background: url(/cdn/images/v2/delete-blue-icon.png); width:18px; height: 18px; float: right; margin-top: 6px; margin-right: 5px; }
.photo-wrapper ul li .tbl-cell.holder .image-btn-wrapper { display: block; }

.addproduct-modal .mystyled-select.selectstyle1 { width: 100%; height: 100%; line-height: 37px; background: #FFFFFF; padding: 0 23px 0 12px; font-size: 12px; font-weight: 300; color: #00A3D9; height: 39px; overflow: visible; }
.addproduct-modal .mystyled-select.selectstyle1:focus { outline: none; }
.addproduct-modal .mystyled-select.selectstyle1.focus { background-color: #F2F5F6; }
.addproduct-modal .mystyled-select.selectstyle1 .text-selected { position: relative; overflow: hidden; width: 100%; height: 100%; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list { width: 100.8%; max-height: 253px; overflow: hidden; position: absolute; top: 37px; left: -1px; z-index: 2; background-color: #F2F5F6; border: 1px solid #E0E0E0; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list .slimScrollDiv { height: auto !important; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list .scrollbar { width: 100%; max-height: 217px; height: auto !important; overflow: hidden; } 
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul { list-style: none none; padding: 0; margin:0;  }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li { height: 36px; line-height: 36px; padding: 0 37px 0 7px; color: #444; font-size: 12px; border-bottom: 1px solid #DDDDDD; position: relative; overflow: hidden; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li:last-child {  }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li .edit-btn { position: absolute; top: 4px; right: 9px; width: 24px; height: 24px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li .edit-btn div { width: 12px; height: 15px; position: relative; top: 4px; right: -6px; background: url('/cdn/images/v2/nav-icons.png') no-repeat -128px -115px; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li:hover > .edit-btn { background-color: #00A3D9;  }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list ul li:hover > .edit-btn div { background-position: -128px -130px; }
.addproduct-modal .mystyled-select.selectstyle1 .selection-list .create-collection-link { width: 100%; height: 33px; line-height: 33px; padding: 0 0 0 7px; color: #00A3D8; font-size: 12px; }

.addproduct-modal .collection-entry-wrapper { width: 360px; height: 250px; position: absolute; top: 39px; left: -1px; z-index: 3; cursor: default; padding: 15px 23px 0; border: 1px solid #BBBBBB; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent }
.addproduct-modal .collection-entry-wrapper.saving { background: url("/cdn/images/v3/colshopstyx-32.gif") no-repeat center 26px #FFF; padding-top: 52px; }
.addproduct-modal .collection-entry-wrapper.saving .savestatus { color: #AAA; display: block; line-height: 38px; text-align: center; font-size: 12px; }
.addproduct-modal .collection-entry-wrapper.saving .create-form { display: none; }
.addproduct-modal .collection-entry-wrapper .savestatus { display: none; }
.addproduct-modal .collection-entry-wrapper .labeltext { font-size: 14px; color: #444444; margin-bottom: 14px; line-height: normal; text-align: left; }
.addproduct-modal .collection-entry-wrapper .common-field-wrapper { position: relative; top:0; }
.addproduct-modal .collection-entry-wrapper .common-field-wrapper small.error { position: absolute; line-height: normal; height: 18px; top: -18px; right: 0; margin:0; }
.addproduct-modal .collection-entry-wrapper input { height: 32px; border: 1px solid #E0E0E0; margin-bottom: 16px; text-align: left; }
.addproduct-modal .collection-entry-wrapper textarea { height: 72px; border: 1px solid #E0E0E0; margin-bottom: 20px; }

.addproduct-modal .collection-entry-wrapper input::-webkit-input-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper input:-moz-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper input::-moz-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper input:-ms-input-placeholder { color: #CCCCCC;  }
.addproduct-modal .collection-entry-wrapper textarea::-webkit-input-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper textarea:-moz-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper textarea::-moz-placeholder { color: #CCCCCC; }
.addproduct-modal .collection-entry-wrapper textarea:-ms-input-placeholder { color: #CCCCCC;  }

.addproduct-modal .collection-entry-wrapper .btns { font-size: 14px; height: 36px; line-height: 36px; }
.addproduct-modal .collection-entry-wrapper .btns .create { float: right; width: 100px; height: 36px; text-align: center; background-color: #00A3D9; color: #FFF; }
.addproduct-modal .collection-entry-wrapper .btns .cancel { float: right; color: #999999; margin-right: 27px; }
.addproduct-modal .collection-entry-wrapper .btns .cancel:hover { text-decoration: underline; }

.ap-content-categories .collectionlist-wrapper li.add .collection-entry-wrapper { top: 0; }

.cat-label { margin-bottom:11px; display:block; font-size:14px; }
.input-cat-wrapper { width: 100%; min-height: 37px; position: relative; border:1px solid #E0E0E0; }
.input-cat-wrapper .text-core .text-wrap input { min-height: 35px; height: 35px; width: 368px; border: 0 none; font: inherit; font-weight: 300; }
.input-cat-wrapper input:focus{-webkit-box-shadow:0 0 0;-moz-box-shadow:0 0 0;box-shadow:0 0 0;border-color:transparent; background: none;}
.input-cat-wrapper #category_dropdown { position: absolute; top:0; right: 0; z-index: 2; width: 30px; height: 100%; background: url('/cdn/images/v2/select-arrow-white-bg.png') no-repeat center center #00A3D9; border: 1px solid #238C00; cursor: pointer; }
#selected-cat-texts { width: 368px; min-height: 35px; max-height: 61px; padding: 6px 35px 3px 3px; z-index: 2; /*overflow: auto;*/ }
#selected-cat-texts .placeholder {color: #999999; font-weight: 300; margin: 0 !important; position: relative; top: 3px; }
#selected-cat-texts.autoheight { max-height: inherit; }
#selected-cat-texts .clearfix { margin: 0; }
.cat-text-wrapper { float: left; height: 24px; line-height: 22px; background-color: #00A3D9; padding: 0px 17px 0px 3px; margin: 0 2px 2px 0; position: relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.cat-text-wrapper .text-label { color: #FFF; font-size: 12px; font-weight: 300; display: block; }
.cat-text-wrapper .text-remove { position: absolute; top: 6px; right: 3px; display: block; width: 11px; height: 11px; background: url("/cdn/css/textExt/close.png") 0 0 no-repeat; }
.cat-text-wrapper .text-remove:hover { background-position: 0 -11px; }
.cat-text-wrapper .text-remove:active { background-position: 0 -22px; }

#category-content-wrapper { position: absolute; top: 37px; left: -1px; z-index: 3; width: 402px; min-height: 210px; background-color: #EEE; border: 1px solid #E0E0E0; }
#category-content-wrapper .shopstyxloader.float { left: 130px; top: 20px; margin: 0;}
#category-content-wrapper #cat-addform { margin: 20px 25px 22px; position: relative; }
#category-content-wrapper .back-link { position: absolute; top: -14px; right: 5px; font-size: 14px; text-decoration: underline; z-index: 2; }
#category-content-wrapper #cat-addform label span { margin: 0 5px 2px 1px; font-size: 13px; font-weight: 300; }
#category-content-wrapper #cat-addform label input, #category-content-wrapper #cat-addform label select { margin: 0 !important; }
#category-content-wrapper #cat-addform label input:focus, #category-content-wrapper #cat-addform label select:hover { background-color: #FFF; border: 1px solid #E0E0E0; -webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000; }
#category-content-wrapper #cat-addform label select { background-position: 332px center;}
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper {}
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-wrapper { float: left; margin: 0 8px 0 0; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper { width: 90px; height: 70px; border-width:1px; border-style: solid; background: url("/cdn/images/v2/upload-img32x24-bg.png") no-repeat center 14px; text-align: center; margin:7px 0 10px; position: relative; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper.auto { height: auto; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper.setimage { background-size: cover; background-position: center center;} 
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper.setimage span { display: none; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper span { margin: 44px 0 0 0; font-size: 11px; display: block; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-img-upload-wrapper input { width: 90px; height: 70px; opacity: 0; position: absolute; top: 0; left: 0; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-desc-wrapper { float: left; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-desc-wrapper textarea { width: 252px; height: 80px; }
#category-content-wrapper #cat-addform #addon-imgdesc-wrapper span { font-size: 13px; font-weight: 300; color:#BABABA; margin: 0 0 2px 1px;}

.addon-imgdesc-btn { color: #FFF; font-size: 13px; width:155px; height: 28px; line-height: 28px; margin:4px 0 0 0; padding:0 0 0 13px; background: url('/cdn/images/v2/plus-sign14x14-bg.png') no-repeat 133px center #BBBBBB; text-align: left; }
.update-btn { margin: 0; padding: 0; text-align: center; color: #FFF; font-size: 16px; width: 100px; height: 36px; line-height: 36px; }
.update-btn.addnew{ width: 160px; font-size: 14px; margin-left: 5px; font-weight: 300 !important; }
#cat-list-wrapper { height: 210px; position: relative; }
.cat-list-scroller { height: 154px; width: 402px; overflow: auto; position: relative; }
#cat-list-wrapper ul {list-style: none; margin: 0; padding: 0; }
#cat-list-wrapper li { border-bottom: 1px solid #DDDDDD; min-height: 30px; line-height: 30px; }
#cat-list-wrapper li:hover { background-color: #DDDDDD; }
#cat-list-wrapper li.notSelectable:hover { background-color: transparent; }
#cat-list-wrapper li.noborder { border: 0 none; }
#cat-list-wrapper li .main-cat { height: 30px; }
#cat-list-wrapper li .main-cat .action-btn-wrapper { display: none; }
#cat-list-wrapper li .sub-cat { margin-left: 28px; }
#cat-list-wrapper li .sub-cat li .action-btn-wrapper { display: none; }
#cat-list-wrapper li .main-cat:hover > .action-btn-wrapper { display: block; }
#cat-list-wrapper li .sub-cat li:hover > .action-btn-wrapper { display: block; }
/*#cat-list-wrapper li .sub-cat li { padding-left: 28px; }*/
#cat-list-wrapper li label { float: left; float: left; margin: 0 0 0 8px; color: #000; font-size: 13px; font-weight: 100; width: auto; }
#cat-list-wrapper li label .checkbox-wrapper { width: 16px; height: 16px; position: relative; overflow:hidden; background: url("/cdn/images/v2/cb-transparent-bg-unchecked-bg.png") no-repeat; margin: 6px 10px 0 0; display: inline-block; float:left; }
#cat-list-wrapper li label .checkbox-wrapper.checked { background: url("/cdn/images/v2/cb-green-checked16x16-bg.png"); }
#cat-list-wrapper li label .checkbox-wrapper input { width: 16px; height: 16px; opacity: 0; float: left; margin: 0; }
#cat-list-wrapper li .action-btn-wrapper { float: right; margin-top: 7px; }
#cat-list-wrapper li .action-btn-wrapper .del-btn { float: right; width: 18px; height: 18px; background: url("/cdn/images/v2/delete-blue-icon.png") no-repeat; margin-left: 13px; margin-right: 18px; }
#cat-list-wrapper li .action-btn-wrapper .edit-btn { float:right; width: 15px; height: 16px; background: url("/cdn/images/v2/edit-green-icon.png") no-repeat; margin-top: 1px; }
#cat-list-wrapper .addnew-wrapper { height: 56px; line-height: 56px; padding-left: 65px;  }

#category-content-wrapper #cat-assignform { margin: 20px 25px 22px; position: relative; }
#category-content-wrapper #cat-assignform .catname-lbl { font-size: 22px; font-weight: 300; }
#catname-tobe-delete { display: inline; } 
#category-content-wrapper #cat-assignform .cat-note { color:#999; font-size: 12px; font-weight: 300;margin-top: 16px; margin-bottom: 7px; }
#category-content-wrapper #cat-assignform select { background-position: 330px center; }
#category-content-wrapper #cat-assignform .update-btn { width: 300px; font-size: 16px; font-weight: 300 !important; float: right; }

/*
#addproductModal.basic .text-core .text-wrap .text-tags { padding: 6px 35px 0px 3px; }
#addproductModal.basic .text-core .text-wrap .text-tags .text-tag .text-button { height: 24px; line-height: 22px; background-color: #00A3D9; }
#addproductModal.basic .text-core .text-wrap .text-tags .text-tag .text-button .text-label { margin: 0; color: #FFF; font-family: Roboto, Arial, 'Helvetica Neue', sans-serif; font-size: 14px; font-weight: 300; }
#addproductModal.basic .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove { top: 6px; }

#addproductModal.basic .text-core .text-wrap .text-dropdown { background-color: #EEEEEE; border: 1px solid #CCCCCC; border-top: 0 none; border-bottom: 0 none; }
#addproductModal.basic .text-core .text-wrap .text-dropdown { font-family: Roboto, Arial, 'Helvetica Neue', sans-serif; font-size: 13px; font-weight: 300; }
#addproductModal.basic .text-core .text-wrap .text-dropdown .text-list .text-suggestion { color: #4CB817; height: 30px; line-height: 30px; border-bottom: 1px solid #CCCCCC; padding-top: 0; padding-bottom: 0; }
#addproductModal.basic .text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected { color: #EEEEEE; background-color: #4CB817; }
#addproductModal.basic .text-core .text-wrap .text-dropdown .text-list .text-suggestion span { height: 30px; line-height: 30px; padding: 0; margin: 0; }
*/

/* Advanced */
#ap-left-menu { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; width: 140px; float: left; list-style: none; margin:1px 0 0; }
#ap-left-menu li { height: 60px; line-height: 60px; border-bottom-width: 1px; border-bottom-style: solid; position: relative; color: #00A3D9; font-size: 12px; padding-left: 53px; cursor: pointer; }
#ap-left-menu li.selected,
#ap-left-menu li.selected:hover { cursor: default; background-color: #F9F9F9; color: #000000; font-weight: 400; }
#ap-left-menu li .arrowright { display: none; position: absolute; top:23px; right: 0px; width: 0px; height: 0px; border-style: solid; border-width: 14.5px 9px 14.5px 0; border-color: transparent #F2F5F6 transparent transparent; line-height: 0px; _border-color: #000000 #000000 #000000 #00A3D9; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
#ap-left-menu li.selected .arrowright { display: none; }
#ap-left-menu li span { position: absolute; left: 23px; top: 21px; width: 19px; height: 19px; background: url('/cdn/images/v2/nav-icons.png') no-repeat center center transparent; }
#ap-left-menu li:hover { background-color: #FFF; color: #00A3D9; }
#ap-left-menu li.twolines, #ap-left-menu li.selected.twolines:hover  { padding-top: 14px; line-height: 14px; }
#ap-left-menu li.bordercolor3 { border-color: #EEEEEE; }

#ap-left-menu li span.ap-menu-details { background-position: 0 -322px; }
#ap-left-menu li span.ap-menu-media { top: 20px; width: 19px; background-position: -20px -322px; }
#ap-left-menu li span.ap-menu-categories { top: 20px; width: 17px; height: 17px; background-position: -40px -322px; }
#ap-left-menu li span.ap-menu-options { width: 19px; height: 17px; background-position: -58px -322px; }
#ap-left-menu li span.ap-menu-shipping { top: 19px; width: 18px; height: 17px; background-position: -78px -323px; }
#ap-left-menu li span.ap-menu-seo { top: 20px; width: 18px; height: 16px; background-position: -98px -323px; }

#ap-left-menu li.selected span.ap-menu-details { background-position: 0 -302px; }
#ap-left-menu li.selected span.ap-menu-media { background-position: -20px -302px; }
#ap-left-menu li.selected span.ap-menu-categories { background-position: -40px -302px; }
#ap-left-menu li.selected span.ap-menu-options { background-position: -58px -302px; }
#ap-left-menu li.selected span.ap-menu-shipping { background-position: -78px -302px; }
#ap-left-menu li.selected span.ap-menu-seo { background-position: -98px -302px; }

#addproductModal.advanced .two-columns { width: 392px; padding: 0; margin-top: 0; }
#addproductModal.advanced .two-columns-b { width: 362px; }
#addproductModal.advanced .columns.borderline { width: 35px; min-height: 300px; }
#addproductModal.advanced .columns.borderline span { width: 100%; height: 300px; position: relative; display: block; }
#addproductModal.advanced .columns.borderline div { width: 1px; min-height: 300px; background-color: #F2F5F6; position: absolute; left: 34px; top: 0; }

/* Advanced: Details */
#addproductModal .optional-product-info { margin-top: 30px; }
#addproductModal .optional-details { margin-top: 27px; }
#addproductModal .optional-details .lbl { font-size: 12px; color: #555555; font-weight: 400; margin: 2px 5px 11px 1px; display: block; }
#addproductModal input.product-sizes { margin: 0; float:left; margin-right: 7px; }

/* Adavanced: Media */
#addproductModal .image-wrapper { margin-top: 14px; position: relative; overflow: hidden; }
#addproductModal .image-wrapper ul { margin: 0; padding: 0; }
#addproductModal .image-wrapper li { width: 169px; height: 157px; border:1px solid #E0E0E0; float:left; margin-right: 21px; margin-bottom: 22px; padding: 0; list-style: none none; position: relative; cursor: pointer; }
#addproductModal .image-wrapper li.uploadbtn { background-color: #FFFFFF; }
#addproductModal .image-wrapper li .uploadholder { display: table; background: url(/cdn/images/v2/upload-img57x43-bg.png) no-repeat center 37px; width: 100%; cursor: pointer; }
#addproductModal .image-wrapper li .uploadholder .tbl-cell { display: table-cell; vertical-align: middle; text-align: center; height: 155px; cursor: pointer; }
#addproductModal .image-wrapper li .uploadholder .tbl-cell .inner-wrapper { position: relative; width: 100%; float: left; cursor: pointer; }
#addproductModal .image-wrapper li .uploadholder.preview { background-image: none; background-color: #ffffff; }
#addproductModal .image-wrapper li .uploadholder.preview .tbl-cell .inner-wrapper div { display: none; }
#addproductModal .image-wrapper li .uploadholder .tbl-cell .inner-wrapper div { text-align: center; font-size: 16px; font-weight: 300; margin-top: 62px; width: 100%; cursor: pointer; }
#addproductModal .image-wrapper li .uploadholder input { position: absolute; top: 0; left: 0; opacity: 0; width: 100%; height: 100%; cursor: pointer; }
#addproductModal .image-wrapper li .uploadholder img { max-width: 167px; max-height: 155px; }
#addproductModal .image-wrapper li.nomarginRight { margin-right: 0;}
#addproductModal .image-wrapper li .image-btn-wrapper { padding: 0 9px; height: 30px; position: absolute; bottom: 0; right: 0; z-index: 2;}
#addproductModal .image-wrapper li .image-btn-wrapper .bg { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background-color: #FFF; opacity: .8; }
#addproductModal .image-wrapper li .image-btn-wrapper .btn-holder { position: relative; z-index: 2; }
#addproductModal .image-wrapper li .delete-img { background: url('/cdn/images/v2/nav-icons.png') no-repeat -125px -308px; width:12px; height: 12px; float: right; margin-top: 9px; }
#addproductModal .image-wrapper li .alt-img { float: right; color: #00A3D9; font-size: 14px; margin-top: 5px; margin-right: 9px; font-weight: 400; }
#addproductModal .image-wrapper li .edit-img {  background: url(/cdn/images/v2/edit-green-icon.png); width:15px; height: 16px; float: right; margin-top: 7px; margin-right: 10px; }
#addproductModal .image-wrapper li .featured-img { background: url(/cdn/images/v2/cb-gray-opacity-checked20x20-bg.png); float: right; width: 20px; height: 20px; margin: 5px 8px 0 0; }
#addproductModal .image-wrapper li .undo-wrapper { position: absolute; z-index: 3; top: -1px; left: -1px; height: 157px; width: 169px; background-color: #F2F5F6; border: 1px solid #EBEBEB; text-align: center; padding-top: 58px; font-size: 12px; color: #777777; }
#addproductModal .image-wrapper li .undo-wrapper button { padding: 0; width: 66px; height: 24px; font-size: 13px; color: #FFFFFF; margin-top: 5px; }
/*
#addproductModal .image-wrapper li .featured-img:hover { background: url(/cdn/images/v2/cb-gray-checked-bg.png) transparent; } 
*/
#addproductModal .image-wrapper li .featured-img.selected { background: url(/cdn/images/v2/cb-blue-checked20x20-bg.png) no-repeat scroll 0 0; } 

.video-url-input-wrapper { width: 410px; height: 39px; border:1px solid #E0E0E0; position: relative; overflow: hidden; }
.video-url-input-wrapper .video-icons { float: left; width: 68px; }
.video-url-input-wrapper .video-icons div { background: url(/cdn/images/v2/youtube-vimeo-icon.png) no-repeat; width: 28px; height: 28px; margin: 4px 0 4px 4px; float:left; }
.video-url-input-wrapper .video-icons .youtube { background-position: 0 0;}
.video-url-input-wrapper .video-icons .vimeo { background-position: -28px 0; }
.video-url-input-wrapper input { width: 340px; float: right; border:0 none; }
.video-url-input-wrapper input:focus { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none }
#addproductModal #video-wrapper { width: 410px; height: 277px; background: url(/cdn/images/v2/uploadvideo-bg.png) no-repeat center 50px #F2F5F6; border: 1px solid #EBEBEB; margin-top: 21px; }
#addproductModal #video-wrapper.loader { background-image: url('/cdn/images/v2/sspreloader64.gif'); }
#addproductModal #video-wrapper span { text-align: center; margin-top: 22px; display: block; float:left; width: 100%; font-size: 14px; }

#productimageAltModal { display: none; background-color: #FFF; width: 400px; height: 150px; padding:26px 0px 10px 35px; top: 0px; position: absolute; z-index: 10; border:solid 1px #666;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);box-shadow:0 0 10px rgba(0,0,0,0.4); }
#productimageAltModal.open { display: block; }
#productimageAltModal .shopstyxloader { margin: 5px 0 0 87px; position: absolute; }
#productimageAltModal .overlay { left: 0; }
#productimageAltModal .imgholder { width: 100px; height: 100px; padding-left: 0; }
#productimageAltModal .imgholder img { max-width: 100px; max-height: 100px; }
#productimageAltModal .inputholder { width: 240px; float: left; }
#productimageAltModal .inputholder input { margin:0; padding:2px 8px; height: 26px; }
#productimageAltModal a { position: absolute; top: 10px; right: 12px; background: url(/cdn/images/v2/delete-blue-icon.png); width:18px; height: 18px; }
#productimageAltModal button { padding: 2px 0; width:100px; height: 26px; float: right; }

/* Advanced: Collection & Category */
.ap-content-categories .collectionlist-wrapper { padding: 0; margin: 0; list-style: none none; }
.ap-content-categories .collectionlist-wrapper li { display: table; width: 132px; height: 110px; text-align: center; border: 1px solid #E0E0E0; float: left; position: relative; margin-right: 26px; margin-bottom: 27px;  }
.ap-content-categories .collectionlist-wrapper li:nth-child(5n){ margin-right: 0; }
.ap-content-categories .collectionlist-wrapper li .coll-container{ height: 100%; }
.ap-content-categories .collectionlist-wrapper li .coll-container .checked{ background: url('/cdn/images/v2/nav-icons.png') no-repeat -205px -103px; position: absolute; right: 1px; top: 1px; z-index: 2; width: 40px; height: 39px; display: none; }
.ap-content-categories .collectionlist-wrapper li .coll-container .coll-image{ background-repeat: no-repeat; background-position: center center; background-size: cover; height: 60px; }
.ap-content-categories .collectionlist-wrapper li .tbl-title{ display: table; width: 100%; height: 48px; }
.ap-content-categories .collectionlist-wrapper li.add { background-color: #FFFFFF; position: relative; border: 0 none; display: block; cursor: pointer; box-shadow: 0 0 0 1px #DDDDDD; -moz-box-shadow: 0 0 0 1px #DDDDDD; -webkit-box-shadow: 0 0 0 1px #DDDDDD; }
.ap-content-categories .collectionlist-wrapper li.add .addsymbol { width: 2px; height: 22px; position: absolute; top: 42px; left:64px; background-color: #00A3D9; }
.ap-content-categories .collectionlist-wrapper li.add .addsymbol span { width: 22px; height: 2px; position: absolute; top: 11px; left: -10px; background-color: #00A3D9; }
.ap-content-categories .collectionlist-wrapper li .tbl-cell { background-color: #FFFFFF; vertical-align: middle; font-size: 12px; line-height: 14px; color: #00A3D9; padding: 0 6px; }
.ap-content-categories .collectionlist-wrapper li.selected .tbl-cell { background-color: #00A3D9; color: #FFFFFF; }
.ap-content-categories .collectionlist-wrapper li.selected,
.ap-content-categories .collectionlist-wrapper li:not(.add):hover { border: 1px solid #FFFFFF; box-shadow: 0 0 2px 1px #CCCCCC; -moz-box-shadow: 0 0 2px 1px #CCCCCC; -webkit-box-shadow: 0 0 2px 1px #CCCCCC; }
.ap-content-categories .collectionlist-wrapper li.selected .tbl-title{ background-color: #00A3D9; color: #FFFFFF; }
.ap-content-categories .collectionlist-wrapper li.selected .coll-container .checked{ display: block; }
.ap-content-categories .collectionlist-wrapper li:hover:not(.selected) .tbl-cell  {  }
.ap-content-categories .department-list-wrapper {  padding: 0; margin: 10px 0 0 0; list-style: none none; width: 100%; }
.ap-content-categories .department-list-wrapper li  { background-color: #FFFFFF; float: left; padding: 6.5px 25px; text-align: center; font-size: 12px; color: #00A3D8; border:1px solid #DDDDDD; -webkit-border-radius: 2px; border-radius: 2px; margin-right: 9px; margin-bottom: 8px; }
.ap-content-categories .department-list-wrapper li.selected,
.ap-content-categories .department-list-wrapper li:hover { border: 0 none; color:#FFFFFF; background-color: #00A3D9; padding: 7.5px 26px; cursor: pointer; }


.ap-content-categories #selected-cat-texts { border-width:1px; border-style: solid; border-color: #EEE; border-bottom: 0 none; width: auto; padding: 10px 35px 6px 3px; min-height: 43px; max-height: 78px; }
.ap-content-categories #category-content-wrapper { width: auto; position: static; }
.ap-content-categories .cat-list-scroller { width: auto; height: auto; position: static; }
.ap-content-categories #category-content-wrapper #cat-addform #addon-imgdesc-wrapper .cat-desc-wrapper textarea { width: 250px; }
.ap-content-categories #category-content-wrapper .shopstyxloader.float { margin-top: 60px;}
.ap-content-categories #cat-list-wrapper { height: auto; }
.ap-content-categories .common-field-wrapper.topRight .error{ height: 20px; left: 190px; margin: 0 !important; top: -17px !important; }
.plus-btn { display: inline-block; width: 129px; height: 30px; line-height: 30px; font-size: 16px; margin:0 11px 0 0; text-decoration: none; text-align: center; background-image: url(/cdn/images/v2/plus-sign14x14-bg.png); background-repeat: no-repeat; background-position: 104px center; cursor: pointer; }
.plus-btn:hover { color:#EEE; }

/* Advanced: Options & Inventory */
.ap-content-options .inventory-lbl { padding-bottom: 53px; margin-bottom: 21px; }

.ap-content-options .inventory-lbl .prod-inv-wrapper{ float: left; position: relative; width: 302px; height: 41px; margin: 0 15px 0 10px; }
.ap-content-options .inventory-lbl .prod-inv-wrapper select{ float: left; width: 302px; height: 41px; font-size: 14px; font-weight: 400; color: #FFFFFF; border: 1px solid; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.ap-content-options .inventory-lbl .prod-inv-wrapper select.I{ background: url('/cdn/images/v2/inv-bg1.png') repeat scroll 0 0 #CCCCCC; border-color: #CCCCCC; }
.ap-content-options .inventory-lbl .prod-inv-wrapper select.Q{ background: url('/cdn/images/v2/inv-bg2.png') repeat scroll 0 0 #00A3D9; border-color: #00A3D9; }
.ap-content-options .inventory-lbl .prod-inv-wrapper select.O{ background: url('/cdn/images/v2/inv-bg3.png') repeat scroll 0 0 #EE666C; border-color: #EE666C; }
.ap-content-options .inventory-lbl .prod-inv-wrapper span{ background: url('/cdn/images/v2/nav-icons.png') no-repeat -121px -327px; position: absolute; top: 18px; right: 14px; width: 9px; height: 6px; display: block; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper{ float: left; position: relative; width: 358px; height: 41px; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .qty-wrapper{ float: left; width: 120px; height: 41px; border: 1px solid #DDDDDD; margin-right: 10px; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .qty-wrapper span{ background-color: #DDDDDD; float: left; width: 40px; height: 39px; display: inline-block; font-size: 14px; color: #666666; text-align: center; line-height: 39px; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .qty-wrapper input{ float: left; width: 78px; height: 39px; border: 0 none; padding: 0 7px; font-size: 14px; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .allowpurchase-wrapper{ float: left; width: 226px; height: 41px; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .allowpurchase-wrapper .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; display: inline-block; float: left; margin: 11px 6px 0 0; padding: 0; width: 20px; height: 20px; } 
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .allowpurchase-wrapper .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-blue-checked20x20-bg.png"); }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .allowpurchase-wrapper .checkbox-wrapper input{ width: 20px; height: 20px; opacity: 0; margin: 0; float: left; }
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .allowpurchase-wrapper span { padding: 0; margin: 6px 0 0; float: left; color: #999999; line-height: 14px; font-size: 12px; width: 200px; display: inline-block;}
.ap-content-options .inventory-lbl .prod-inv-details-wrapper .inv-track-variants span{ color: #777777; float: left; font-size: 12px; padding-top: 5px; }
.ap-content-options .inventory-lbl span.txt { line-height: 39px; font-size: 12px; float: left; margin-right: 5px; color: #535353;}
.ap-content-options .inventory-lbl .inventory-type { background-color: #FFF; color:#00A3D9; font-size: 14px; width: 181px; height: 41px; border:1px solid #DDDDDD; border-bottom:0 none; position: relative; top: 1px; text-align: center; line-height: 39px; float: left; font-size: 14px; margin-left: 6px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
.ap-content-options .inventory-lbl .inventory-type:hover:not(.disabled), 
.ap-content-options .inventory-lbl .inventory-type.selected { background: url("/cdn/images/v3/bg-menu-selected.png") repeat scroll 0 0 transparent; color:#FFF; border: 1px solid #DDDDDD; }
.ap-content-options .inventory-lbl .inventory-type.track { width: 188px; text-align: left; }
.ap-content-options .inventory-lbl .inventory-type.track input[type="radio"] { width: 188px; }
.ap-content-options .inventory-lbl .inventory-type.track em { font-style: normal; float:left; padding-left: 18px;}
.ap-content-options .inventory-lbl .inventory-type.track div.qty-wrapper { width: 120px; height: 27px; position: relative; border: 1px solid #DDDDDD; margin: 6px 0 0 10px; float: left; background-color: #FFF; display: none; }
.ap-content-options .inventory-lbl .inventory-type.track div.qty-wrapper span { margin: 0; padding: 0; width: 40px; line-height: 25px; float: left; font-size: 14px; color: #666666; background-color: #DDD; font-weight: normal; text-align: center; }
.ap-content-options .inventory-lbl .inventory-type.track div.qty-wrapper input[type="text"] { float: left; width: 78px; height: 25px; margin: 0; padding: 0 7px; position: static; opacity: 1; }
.ap-content-options .inventory-lbl .inventory-type.track .allowpurchase-wrapper { display: none; position: absolute; top: 39px; left: 0; width: 400px; padding-top: 5px; }
.ap-content-options .inventory-lbl .inventory-type.track .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; display: inline-block; float: left; margin: 0 6px 0 0; padding: 0; width: 20px; height: 20px; } 
.ap-content-options .inventory-lbl .inventory-type.track .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-blue-checked20x20-bg.png"); }
.ap-content-options .inventory-lbl .inventory-type.track .checkbox-wrapper input{ width: 20px; height: 20px; opacity: 0; margin: 0; float: left; }
.ap-content-options .inventory-lbl .inventory-type.track .allowpurchase-wrapper span { padding: 0; margin: 0; float: left; color: #999999; line-height: 20px; font-size: 12px; }
.ap-content-options .inventory-lbl .inventory-type.track:hover,
.ap-content-options .inventory-lbl .inventory-type.track.selected { width: 309px; text-align: left; }
.ap-content-options .inventory-lbl .inventory-type.track:hover > div.qty-wrapper,
.ap-content-options .inventory-lbl .inventory-type.track.selected div.qty-wrapper,
.ap-content-options .inventory-lbl .inventory-type.track:hover > div.allowpurchase-wrapper,
.ap-content-options .inventory-lbl .inventory-type.track.selected div.allowpurchase-wrapper { display: block; }
.ap-content-options .inventory-lbl .inventory-type.option { width: 260px; }
.ap-content-options .inventory-lbl .inventory-type.disabled { opacity: 0.3;}
.ap-content-options .inventory-lbl .inventory-type.disabled:hover { background-color: #FFF; color:#00A3D9; border:1px solid #DDD; height: 37px;} 
.ap-content-options .inventory-lbl .inventory-type input[type="radio"] { opacity: 0; position: absolute; height: 100%; width: 100%; z-index: 2; top: 0; left: 0; }

.ap-content-options #option-form-wrapper { position: relative; }
.ap-content-options #option-form-wrapper .shopstyxloader { position: absolute; z-index: 10; left: 298px;}
#option-form-wrapper .hide { display: none; }
#option-form-wrapper .headerpart-wrapper { position: relative; margin-bottom: 22px; }
#option-form-wrapper .headerpart-wrapper .option-label { float: left; color: #525252; }
#option-form-wrapper .headerpart-wrapper .option-label em { color: #999999; font-size: 12px; font-style: normal; }
#option-form-wrapper .headerpart-wrapper .option-label.leftpart { width: 332px; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart { left: 270px; position: absolute; top: -6px; width: 524px; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart span { margin-right: 10px; line-height: 28px; color: #545454; font-weight: 400; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart select { background-color: #ffffff; width: 112px; height: 28px; float: left; font-size: 12px; margin: 0 10px 0 0; padding: 0 15px 0 6px; background-position: 92px center; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn { width: 122px; height: 28px; font-size: 14px; font-weight:300 !important; padding: 0 0 0 16px; text-align: left; float: left; position: relative; background-image: url(/cdn/images/v2/select-arrowdown-bg.png); background-repeat: no-repeat; background-position: 97px center; margin:0 12px 0 2px;  }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn span{ color: #FFFFFF; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .outer { position: absolute; width: 100%; top: 28px; left: 0; z-index: 2; display: none; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .outer .opts { margin-top: 2px; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .opts { background-color:#EEE; margin-top: 2px;  width: 100%; max-height: 105px; border:1px solid #CCCCCC; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .opts div { min-height: 28px; line-height: 28px; border-bottom: 1px solid #CCC; padding-left: 8px; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .opts div:last-child { border:0 none; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn .opts div:hover { background-color: #FFF;}
#option-form-wrapper .headerpart-wrapper .option-label.rightpart div.action-btn:hover > .outer { display: block; }
#option-form-wrapper .headerpart-wrapper .option-label.rightpart a { font-size: 12px; float: left; line-height: 28px; }

#option-entry-wrapper { position: relative; height: 120px; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; border-width:1px; border-style: solid; border-color: #EEE; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;}
#option-entry-wrapper .addoption { margin: 40px 0 0 40px; }
#option-entry-wrapper .addoption button { background-color: #ffffff; border: 1px solid #33b5e0; color: #33b5e0; width: 154px; height: 40px; font-size: 20px; font-weight:300 !important; }
#option-entry-wrapper .addoption span { font-size: 14px; margin-left: 15px; color: #999999; }
#option-entry-wrapper ul.list-option-entry-wrapper { display: none; list-style: none none; padding: 0; margin: 0; min-height: 230px; }
#option-entry-wrapper.add { min-height: 230px; margin-bottom: 80px; height: auto; }
#option-entry-wrapper.add .addoption,
#option-entry-wrapper.variants .addoption,
#option-entry-wrapper.variants .add-variants-wrapper { display: none; }
#option-entry-wrapper.variants #variants-entry-wrapper,
#option-entry-wrapper.add .add-variants-wrapper { display: block; }
#option-entry-wrapper.variants #variants-entry-wrapper.option_num1,
#option-entry-wrapper.variants #variants-entry-wrapper.option_num2,
#option-entry-wrapper.variants #variants-entry-wrapper.option_num3 { border: 1px solid #ffffff; margin-bottom: 1.25rem; }
#option-entry-wrapper.variants  { border: 0 none; height: auto; background: none; }

#option-entry-wrapper.add { width: 794px; }
#option-entry-wrapper.add ul { display: block; }
#option-entry-wrapper.add ul li { float: left; width: 264px; min-height: 230px; border-right:1px solid #DDDDDD; padding: 26px 28px 0; position: relative; }
#option-entry-wrapper.add ul li:nth-child(3){ border-right: 0 none; }
#option-entry-wrapper.add ul li label{ margin-bottom: 23px; }
#option-entry-wrapper.add ul li:last-child { border:0 none; }
#option-entry-wrapper.add ul li a.remove-btn { position: absolute; top: 16px; right: 29px; width: 18px; height: 18px; background: url("/cdn/images/v2/delete-blue-icon.png") no-repeat;}
#option-entry-wrapper.add ul li label span.color2 { margin-bottom: 5px; font-size: 12px; color: #525252; }
#option-entry-wrapper.add ul li label select { margin: 0 !important; background-color: #FFFFFF; background-position: 184px center; font-size: 12px; }
#option-entry-wrapper.add ul li label select option { color: #00A3D9;}
#option-entry-wrapper.add ul li label textarea { height: 64px; margin: 0 !important; width: 249px; }
#option-entry-wrapper.add ul.list-option-entry-wrapper li label.nomargin { margin: 0 !important; }
#option-entry-wrapper.add ul.list-option-entry-wrapper li label.marginBottom { margin-bottom: 8px !important; }
#option-entry-wrapper.add ul.list-option-entry-wrapper li label input { margin: 0 !important;  }
#option-entry-wrapper.add ul li .topRight small.error { top: -25px !important }
#option-entry-wrapper.add ul li button { width: 160px; height: 40px; font-size: 16px; font-weight:300 !important; border-radius: 2px; background-color: #FFFFFF; color: #00a3d9; border: 1px solid #00a3d9; display: none; }
#option-entry-wrapper.add ul li.next-option { }
#option-entry-wrapper.add ul li.next-option .fader { opacity: 0.85; position: absolute; z-index: 2; width: 100%; height: 100%; top: 0; left: 0; background-color: #F9F9F9; }
#option-entry-wrapper.add ul li.disabled .fader { opacity: 1; }
#option-entry-wrapper.add ul li.next-option button { position: absolute; display: block; top: 93px; left: 53px; z-index: 3; width: 160px; }
#option-entry-wrapper.add ul li.disabled button { display: none; }
#option-entry-wrapper.add ul li.next-option a.remove-btn { display: none; }
#option-entry-wrapper .add-variants-wrapper { position: absolute; /*top: 258px;*/ bottom: -80px; right: 0; display: none; }
#option-entry-wrapper .add-variants-wrapper button { width: 200px; height: 50px; font-size: 22px; font-weight: 300 !important; padding: 0; margin: 0; float: right; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#option-entry-wrapper .add-variants-wrapper .auto-create-variants-wrapper { float: left; line-height: 50px; margin-right: 21px;}
#option-entry-wrapper .add-variants-wrapper .auto-create-variants-wrapper span.color5 { float: left; font-size: 12px; margin: 0; line-height: 50px; }
#option-entry-wrapper .add-variants-wrapper .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; display: inline-block; float: left; margin: 15px 6px 0 0; padding: 0; width: 20px; height: 20px; } 
#option-entry-wrapper .add-variants-wrapper .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-blue-checked20x20-bg.png"); }
#option-entry-wrapper .add-variants-wrapper .checkbox-wrapper input{ width: 20px; height: 20px; opacity: 0; margin: 0; float: left; }
#option-entry-wrapper .add-variants-wrapper a { color: #AAAAAA; font-size: 22px; font-weight: 400; text-decoration: underline; }

#option-entry-wrapper.add ul li ul.tagfield { margin:2px 0 0 0; padding: 0; width: 209px; min-height: 64px; overflow: hidden; padding: 7px; border:1px solid #DDDDDD; }
#option-entry-wrapper.add ul li ul.tagfield.disabled { cursor: default; }
#option-entry-wrapper.add ul li ul.tagfield li { min-height: 20px; width: auto; height: auto; border: 0 none; }
#option-entry-wrapper.add ul li ul.tagfield li.tagit-choice { padding: 0;  } 
#option-entry-wrapper.add ul li ul.tagfield li.tagit-choice div { height: 22px; line-height: 20px; padding-right: 16px; padding-left: 5px; color:#FFF; font-size: 12px; font-weight: 400; background-color: #ff8e4f; border: 1px solid #ff6a15; -webkit-border-radius: 2px; border-radius: 2px; }
#option-entry-wrapper.add ul li ul.tagfield.disabled li.tagit-choice div { padding-right: 5px; }
#option-entry-wrapper.add ul li ul.tagfield li.tagit-choice a.tagit-close { color:#FFF; line-height: 22px; padding: 0; text-shadow: none !important; font-size:11px; font-weight: 300; right: 5px; }
#option-entry-wrapper.add ul li ul.tagfield.disabled li.tagit-choice a.tagit-close { display: none; }
#option-entry-wrapper.add li.option-li:nth-child(2) li.tagit-choice div { border: 1px solid #56a92f; background-color: #73c04d; }
#option-entry-wrapper.add li.option-li:nth-child(3) li.tagit-choice div { border: 1px solid #634097; background-color: #7f5db0; }
#option-entry-wrapper.add li.option-li li.tagit-choice.selected div { border: 1px solid #f76464; background-color: #f5b0b0; color: #000; }
#option-entry-wrapper.add li.option-li li.tagit-choice.selected a.tagit-close { color: #000; }
#option-entry-wrapper.add ul li ul.tagfield li.tagit-new {; padding: 0px;height: auto; float: left; }
#option-entry-wrapper.add ul li ul.tagfield input[type="text"] { height: 20px; width: 100px !important; }
#option-entry-wrapper.add ul li ul.tagfield.disabled input[type="text"] { display: none; }
#option-entry-wrapper.add ul li ul.tagfield input[type="text"]:focus { -webkit-box-shadow:none;-moz-box-shadow:none; box-shadow: none; background-color: transparent; }

#variants-entry-wrapper { display: none; }
#variants-entry-wrapper table { background-color: transparent; border:0 none; margin: 0; }
#variants-entry-wrapper .col-options { padding: 22px 23px 22px 25px; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; border: 1px solid #eeeeee; }
#variants-entry-wrapper .col-options div.lbl { float: left; font-size: 11px; line-height: 14px; }
#variants-entry-wrapper .col-options .edit-option-btn { padding: 0; width: 88px; height: 28px; font-size: 12px; font-weight: 300 !important; float:right; margin: 0;}
#variants-entry-wrapper .col-options ul.sortable-option-name { padding:0; margin: 18px 0 0 0; list-style: none none; }
#variants-entry-wrapper .col-options ul.sortable-option-name li.optioname { position: relative; min-height: 86px; width: 192px; background-color: #EEEEEE; border-color: #DDD; margin-bottom: 12px; padding: 14px; border-width:1px; border-style:solid; -webkit-border-radius: 7px 7px 7px 7px; border-radius: 7px 7px 7px 7px; }
#variants-entry-wrapper .col-options ul.sortable-option-name li.optioname .sortable-option-name-handler { background-image: url(/cdn/images/v2/edit-dots-horizontal-bg.png); width: 11px; height: 5px; position: absolute; top: 18px; right: 19px; z-index: 2; }
#variants-entry-wrapper .col-options ul.sortable-option-name li.optioname .option-name-lbl { color: #545454; font-size: 16px; line-height: 18px; }
#variants-entry-wrapper .col-options ul.sortable-option-value { list-style: none none; margin: 8px 0 0 0; padding: 0;}
#variants-entry-wrapper .col-options ul.sortable-option-value li { position: relative; height: 22px; line-height: 20px; padding: 0 18px 0 5px; float: left; font-size: 11px; font-weight: bold; color:#FFF; margin-right:5px; margin-bottom: 4px; -webkit-border-radius: 3px; border-radius: 3px; }
#variants-entry-wrapper .col-options ul.sortable-option-value li .sortable-option-value-handler { background: url(/cdn/images/v2/edit-dots-vertical-bg.png) no-repeat center center; width: 5px; height: 11px; position: absolute; top: 4px; right: 6px; }
#variants-entry-wrapper .col-options ul.sov1 li { border:1px solid #ff6a15; background-color: #ff8e4f; }
#variants-entry-wrapper .col-options ul.sov1 li:last-child { margin: 0;}
#variants-entry-wrapper .col-options ul.sov2 li { border:1px solid #56a92f; background-color: #73c04d;}
#variants-entry-wrapper .col-options ul.sov2 li:last-child { margin: 0;}
#variants-entry-wrapper .col-options ul.sov3 li { border:1px solid #634097; background-color: #7f5db0;}
#variants-entry-wrapper .col-options ul.sov3 li:last-child { margin: 0;}
#variants-entry-wrapper .col-options .add-option-btn { width: 250px; height: 50px; padding: 0; font-size: 20px; font-weight: 300 !important; margin-top: 8px; }

#variants-entry-wrapper .col-variants { padding: 26px 23px 0; margin: 0; }
#variants-entry-wrapper .col-variants table { border-collapse: separate; border-spacing: 0px 1px;}
#variants-entry-wrapper .col-variants table td { background-color: transparent !important; padding: 0 !important; font-size: 12px; }
#variants-entry-wrapper .col-variants tr.headtitle td { vertical-align: middle; padding-bottom: 19px !important; font-weight: 400; }
#variants-entry-wrapper .col-variants tr.headtitle td.opt-name:nth-child(1) { color: #FF8000; padding-left: 7px !important; }
#variants-entry-wrapper .col-variants tr.headtitle td.opt-name:nth-child(2) { color: #59B200; }
#variants-entry-wrapper .col-variants tr.headtitle td.opt-name:nth-child(3) { color: #7646AC; }
#variants-entry-wrapper .col-variants tr.headtitle td.inputs { padding-right: 5px; text-align: center; }
#variants-entry-wrapper .col-variants tr.data { background-color: transparent !important; }
#variants-entry-wrapper .col-variants tr.data td { vertical-align: middle; }
#variants-entry-wrapper .col-variants tr.data.selected td { background-color: #DFDFD0 !important; }
#variants-entry-wrapper .col-variants tr.data td.op-value div { background-color: #F2F5F6; height: 30px; line-height: 30px; margin: 2px 0; padding-left: 7px; border:1px solid #DDDDDD; }
#variants-entry-wrapper .col-variants tr.data td.op-value:nth-child(1) div { color: #FF8000; margin-left: 3px; }
#variants-entry-wrapper .col-variants tr.data td.op-value:nth-child(2) div { color: #59B200; border-left:0 none; }
#variants-entry-wrapper .col-variants tr.data td.op-value:nth-child(3) div { color: #7646AC; border-left:0 none; }

#variants-entry-wrapper .col-variants tr.data td.input-sku { padding-left: 6px !important; padding-right: 5px !important; }
#variants-entry-wrapper .col-variants tr.data td.input-price { padding-right: 5px !important;}
#variants-entry-wrapper .col-variants tr.data td.input-qty { padding-right: 5px !important; }
#variants-entry-wrapper .col-variants tr.data td.input-qty input[type="text"][disabled] { background-color: #F2F5F6; }
#variants-entry-wrapper .col-variants tr.data td input { margin: 0 ; height: 30px; }
#variants-entry-wrapper .col-variants tr.data td .edit-delete-btn { margin-left: 6px; }
#variants-entry-wrapper .col-variants tr.data td .edit-delete-btn .edit-btn { float: left; width: 15px; height: 16px; background: url("/cdn/images/v2/edit-blue-icon.png") no-repeat; margin-top: 1px;  }
#variants-entry-wrapper .col-variants tr.data td .edit-delete-btn .delete-btn { float: left; width: 18px; height: 18px; background: url("/cdn/images/v2/delete-blue-icon.png") no-repeat; margin-left: 10px; }
#variants-entry-wrapper .col-variants tr.addnew { background-color: transparent; }
#variants-entry-wrapper .col-variants tr.addnew .addedit-variant-outer { position: relative; width: 505px; }
#variants-entry-wrapper .col-variants tr.addnew .addedit-variant-inner { padding: 0 9px 9px 11px; width: 525px; position: relative; left: -11px; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; border: 1px solid #DDDDDD; -webkit-border-radius: 4px; border-radius: 4px; }
#variants-entry-wrapper .col-variants tr.addnew .addedit-variant-lbl { line-height: 31px; font-size: 12px; color: #444444; }
#variants-entry-wrapper .col-variants tr.addnew .remove-variant-btn { width: 18px; height: 18px; position: absolute; top: 7px; right: 42px; }
#variants-entry-wrapper .col-variants tr.addnew table { margin: 0; }

#variants-entry-wrapper .col-variants tr button { width: 48px; height: 28px; padding: 0; margin: 0; font-size: 12px; font-weight: 300 !important; }
#variants-entry-wrapper .col-variants tr.addnew.edit button { width: 48px; } 
#variants-entry-wrapper .col-variants tr.addnew select { height: 30px; background-position: 68px center; font-size: 12px; padding: 0 16px 0 8px; margin: 0 !important; border:1px solid #E0E0E0; min-width: 87px; }
#variants-entry-wrapper .col-variants tr.addnew .op-value:nth-child(1) select { color: #FF8000;  }
#variants-entry-wrapper .col-variants tr.addnew .op-value:nth-child(2) select { color: #59B200;  }
#variants-entry-wrapper .col-variants tr.addnew .op-value:nth-child(3) select { color: #7646AC;  }

#variants-entry-wrapper.option_num2 .col-variants tr.addnew tr.data .op-value:nth-child(1) { width: 131px; }
#variants-entry-wrapper.option_num2 .col-variants tr.addnew tr.data .op-value:nth-child(2) { width: 132px; }
#variants-entry-wrapper.option_num2 .col-variants tr.addnew tr.data select { background-position: 100px center; }
#variants-entry-wrapper.option_num3 .col-variants tr.addnew tr.data .op-value:nth-child(1) { width: 87px; }
#variants-entry-wrapper.option_num3 .col-variants tr.addnew tr.data .op-value:nth-child(2) { width: 88px; }
#variants-entry-wrapper.option_num3 .col-variants tr.addnew tr.data .op-value:nth-child(3) { width: 88px; }
#variants-entry-wrapper.option_num1 .col-variants tr.addnew tr.data select { background-position: 248px center; }

/* Advanced: Shipping */
.ap-content-shipping { margin-top: 23px; }
.ap-content-shipping .shipping-title { color: #545454; font-weight: 400; }
.ap-content-shipping .shipping-lbl{ margin: 54px 0 0 0; }
.ap-content-shipping .shipping-lbl span { line-height: 39px; display: block; margin-right: 5px;}
.ap-content-shipping .shipping-lbl .smt-wrapper { position: relative;   border-bottom: 1px solid #DDDDDD; }
.ap-content-shipping .shipping-lbl .shipping-meta-type { background: url("/cdn/images/v3/bg-menu-unselected.png") repeat scroll 0 0 transparent; color: #00A3D8; font-size: 14px; height: 37px; border:1px solid #DDDDDD; position: relative; top: 3px; border-bottom: 0 none; overflow: hidden; text-align: center; line-height: 39px; float: left; font-size: 14px; margin-right: 5px; cursor: pointer; }
.ap-content-shipping .shipping-lbl .shipping-meta-type input{ cursor: pointer; }
.ap-content-shipping .shipping-lbl .shipping-meta-type.selected { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; color:#444444; height: 40px; font-weight: 400; top: 1px; border-bottom: 0 none; cursor: default; }
.ap-content-shipping .shipping-lbl .shipping-meta-type.selected input{ cursor: default; }
.ap-content-shipping .shipping-lbl .shipping-meta-type.global { width: 263px; }
.ap-content-shipping .shipping-lbl .shipping-meta-type.customized { width: 370px; }
.ap-content-shipping .shipping-lbl .shipping-meta-type input { opacity: 0; position: absolute; height: 100%; width: 100%; z-index: 2; top: 0; left: 0; }
.ap-content-shipping .shipto-info-wrapper{background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; height: 100px; padding: 0 35px; border: 1px solid #DDDDDD; margin-top: -1px;}
.ap-content-shipping .shipto-info-wrapper > div{ display: table; height: 98px; }
.ap-content-shipping .shipto-info-wrapper > div > div{ display: table-cell; vertical-align: middle; height: 98px; font-size: 14px; padding-left: 6px; }
.ap-content-shipping .shipto-info-wrapper > div > div span{ color: #999999; }
.ap-content-shipping .shipto-info-wrapper > div > div strong{ color: #444444; }
.ap-content-shipping .edit-global-wrapper { text-align: right; }
.ap-content-shipping .edit-global-wrapper .edit-global-lnk{ width: 160px; height: 26px; line-height: 26px; text-align: center; display: inline-block; cursor: pointer; margin-top: 36px; }
.ap-content-shipping .additional-info-wrapper { margin-top: 31px; }
.ap-content-shipping .additional-info-wrapper .left-ai { float: left; width: 291px; }
.ap-content-shipping .additional-info-wrapper .left-ai .shipsfrom input{ margin: 0 0 32px; }
.ap-content-shipping .additional-info-wrapper .left-ai div select{ margin: 0; }
.ap-content-shipping .additional-info-wrapper label { width: 109px; line-height: 26px; font-size: 12px; float: left; }
.ap-content-shipping .additional-info-wrapper .left-ai input[type="text"],
.ap-content-shipping .additional-info-wrapper .left-ai select  { width:182px; height: 28px; border: 1px solid #E0E0E0; background-color:#FFF; color: #545454; font-size: 12px; padding: 2px 8px; }
.ap-content-shipping .additional-info-wrapper .left-ai select { padding-left: 4px; background-position: 160px center; }
.ap-content-shipping .additional-info-wrapper .left-ai input[type="text"][disabled] { background-color: #F6F6F6; color: #545454; }
.ap-content-shipping .additional-info-wrapper textarea { width: 320px; height: 86px; float: left; margin: 0 0 0 19px; font-size: 12px; }

.ap-content-shipping table { border:0 none; border-collapse: collapse; border-bottom: 0 none; margin-top: -1px; position: relative; }
.ap-content-shipping table tr { }
.ap-content-shipping table tr.add-country { border-bottom: 1px solid #EEEEEE; background-color: #FFFFFF; }
.ap-content-shipping table td { padding: 0; }
.ap-content-shipping table tr td:first-child { border-left:1px solid #EEE; }
.ap-content-shipping table tr td:last-child { border-right:1px solid #EEE; }
.ap-content-shipping table tr td:last-child span { font-size: 12px; margin-left: 17px; }
.ap-content-shipping table tr.headtitle { border: 1px solid #DDDDDD; }
.ap-content-shipping table tr.headtitle td.shipto-lbl{ border-left: 1px solid #DDDDDD; }
.ap-content-shipping table tr.headtitle td.service-lbl{ border-right: 1px solid #DDDDDD; }
.ap-content-shipping tr.headtitle td { border-top:1px solid #EEE; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; font-size: 14px; height: 49px; color: #444; font-weight: 300; }
.ap-content-shipping tr.data td { padding: 25px 0 30px; background-color: #FFF; vertical-align: top; border-bottom:1px solid #EEE; font-size: 12px; color: #444; }
.ap-content-shipping table td.col1 { padding-left: 30px;}
.ap-content-shipping table td.col2 {  }
.ap-content-shipping table td.col3 {  }
.ap-content-shipping tr.data.hide {display: none; }
.ap-content-shipping tr.data td.col1 { padding-top: 30px;  }
.ap-content-shipping tr.data td.col3 { padding-top: 28px; }
.ap-content-shipping tr.data.noborder { border: 0 none;}
.ap-content-shipping table tr.hide { display: none; }
.ap-content-shipping table tr.add-country td { background-color: #FFFFFF; height: 81px; padding:15px 0 0 31px;}
.ap-content-shipping table tr.add-country select { height: 26px; margin-right: 9px !important; padding: 0 0 0 0; padding-left: 5px; float: left; }
.ap-content-shipping table tr.add-country button { position: relative; top: -5px; width: 156px; }
.ap-content-shipping tr.customized-col { background: #FFFFFF; }
.ap-content-shipping tr.customized-col td { height: 81px; text-align: center; vertical-align: middle; padding: 0 29px; color: #AAAAAA; font-size: 12px; border-bottom:1px solid #EEE; }
.ap-content-shipping tr.customized-col.hide { display: none; } 
.ap-content-shipping table tr.legend-col td { text-align: right; background-color: #FFF !important; border:0 none; color: #AAAAAA; font-size: 12px; height: 40px; }
.ap-content-shipping .more-service-level-info{ font-size: 11px !important; margin-left: 0 !important; position: absolute; top: 11px; right: 22px; width: 160px; line-height: 12px; }
.ap-content-shipping .select { width: 170px; height: 26px; line-height: 26px; font-size: 13px; display: inline-block; position: relative; padding-left: 8px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background: url(/cdn/images/v2/select-arrowdown-bg.png) no-repeat 150px center #00A3D9; }
.ap-content-shipping .select em { font-style: normal; }
.ap-content-shipping .select .outer {position: absolute; top: 25px; z-index: 2; left: 0; display: none; }
.ap-content-shipping .select .opts { background-color:#EEE; margin-top: 2px;  width: 170px; /*height: 105px;*/ border:1px solid #CCCCCC; }
.ap-content-shipping .select .opts div { min-height: 29px; border-bottom: 1px solid #CCC; padding-left: 8px; }
.ap-content-shipping .select .opts div.noborder { border:0 none; font-size: 11px; line-height: 14px; height: 43px; }
.ap-content-shipping .select .opts div.noborder span { display: block; font-size: 13px; padding-top: 6px;}
.ap-content-shipping .select .opts div.noborder.auto { line-height: inherit; height: auto; min-height: 29px; font-size: inherit; padding-left: 0; }
.ap-content-shipping .select .opts div.noborder.auto span { color: #333; padding-top: 0; padding-left: 8px; }
.ap-content-shipping .select .opts div.noborder.auto div { border: 0 none; height: 27px; line-height: 27px; padding-left: 18px; }
.ap-content-shipping .select .opts div:hover,
.ap-content-shipping .select .opts div.selected { background-color: #FFF;}
.ap-content-shipping .select .opts div.auto:hover { background-color: transparent; }
.ap-content-shipping .select:hover > .outer { display: block; }

.ap-content-shipping table td.col3 .so-wrapper { position: relative; }
.ap-content-shipping table td.col3 .shipping-option-wrapper { float: left; width: 89px; margin-right: 33px; }
.ap-content-shipping table td.col3 label { height: 20px; line-height: 20px; margin-bottom: 15px; }
.ap-content-shipping table td.col3 .shipping-option-wrapper.last { margin: 0; }
.ap-content-shipping table td.col3 .selections { width: 20px; height: 20px; float: left; position: relative; overflow:hidden; margin: 0 8px 0 0; }
.ap-content-shipping table td.col3 .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; }
.ap-content-shipping table td.gray .checkbox-wrapper { background: url("/cdn/images/v2/cb-gray-unchecked-bg.png") no-repeat; }
.ap-content-shipping table td.col3 .radio-wrapper { background: url("/cdn/images/v2/radiobutton-unselected.png") no-repeat;  }
.ap-content-shipping table td.gray .radio-wrapper { background: url("/cdn/images/v2/radiobutton-gray-unselected.png") no-repeat;  }
.ap-content-shipping table td.col3 .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-blue-checked20x20-bg.png"); }
.ap-content-shipping table td.gray .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-gray-opacity-checked20x20-bg.png"); }
.ap-content-shipping table td.col3 .radio-wrapper.checked { background-image: url("/cdn/images/v2/radiobutton-selected.png"); }
.ap-content-shipping table td.gray .radio-wrapper.checked { background-image: url("/cdn/images/v2/radiobutton-gray-selected.png"); }
.ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly.checked { background-image: url(/cdn/images/v2/cb-gray-checked-bg.png);  }
.ap-content-shipping table td.col3 .shipping-option-wrapper.disabled .checkbox-wrapper,
.ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.disabled,
.ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly { background-image: url("/cdn/images/v2/cb-gray-unchecked-bg.png"); }
.ap-content-shipping table td.col3 .shipping-option-wrapper.disabled label span { color: #BBBBBB;}
.ap-content-shipping table td.col3 .shipping-option-wrapper.disabled .input-wrapper span { color:#BBBBBB;}
.ap-content-shipping table td.col3 .shipping-option-wrapper .input-wrapper.disabled span { color:#BBBBBB;}
.ap-content-shipping table td.col3 .shipping-option-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.ap-content-shipping table td.col3 .shipping-option-wrapper .input-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.ap-content-shipping table td.col3 .checkbox-wrapper input,
.ap-content-shipping table td.col3 .radio-wrapper input { width: 20px; height: 20px; opacity: 0; margin: 0; }
.ap-content-shipping table td.col3 .input-wrapper { width: 86px; height: 26px; position: relative; overflow: hidden; }
.ap-content-shipping table td.col3 .input-wrapper.hide { display: none; }
.ap-content-shipping table td.col3 .input-wrapper span { color: #545454; font-size: 13px; position: absolute; line-height: 26px; left: 7px; margin:0; }
.ap-content-shipping table td.col3 input[type="text"] { width: 86px; height: 26px; padding: 0 0 1px 14px;}
.ap-content-shipping table td.col3 label span {  }
.ap-content-shipping table td.col3 a { display: block; width: 18px; height: 18px; position: absolute; top: 0px; right: 22px; background: url(/cdn/images/v2/delete-gray-icon.png); }
.ap-content-shipping tr.error-shipping td { background-color: #FFFFFF; color:#FF0000; text-align: center; border: 0 none; font-size: 11px; font-weight: 400px !important; font-style: italic; height: 100px; }
.ap-content-shipping table tr.add-country .error-shipping { float: right; color:#FF0000; font-size: 11px; font-weight: 400px !important; font-style: italic; margin-right: 60px; }

.ac-shipping-txtwrapper { font-size:12px; color:#999999; }
.ac-shipping-txtwrapper .carrier-txt { font-size:16px; font-weight:400; color:#666666; float:left; padding-right:8px; min-width:50px; }
.ac-shipping-txtwrapper span { float:left; max-width:360px; }

.seo-description-preview { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; min-height:200px; height: 100%; padding: 18px 30px 15px !important; border: 1px solid #EEEEEE; border-left: 0 none;}
.seo-description-preview .lbl { font-size:14px; color: #666;  font-weight: 400; }
#gg-result-preview { min-height: 80px; background-color: #FFF; margin-top: 19px; padding: 11px 10px 0px 10px; border: 1px dotted #CCCCCC; }
#gg-result-preview .gg-title { font-size: 15px; color: #2100CC; text-decoration: underline; margin-bottom: 5px; }
#gg-result-preview .gg-desc { color: #212121; }

.ap-content-seo span.prefix, .ap-content-seo label.prefix{ background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; border: 1px solid #EEEEEE;}

/*
button:hover,button:focus,.button:hover,.button:focus{ opacity: 0.8}
*/


