.m-catalog-list{ float: left; width: 100%; margin: 0; overflow: hidden; padding: 0; }
.m-catalog-list .title-menus{ float: left; margin: 0 0 36px 0; width: 100%; max-width: 1100px; }
.m-catalog-list .title-menus h1{ float: left; font-size: 18px; color: #777777; }
.m-catalog-list .htitle{ float: left; position: relative; }
.m-catalog-list .htitle label{ font-size: 18px; color: #777777; margin: 0; font-weight: 300; vertical-align: middle; height: 40px;}
.m-catalog-list .htitle span{ background: url(/cdn/images/v2/nav-icons.png) no-repeat -335px -257px; display: inline-block; width: 14px; height: 8px; vertical-align: middle; margin-left: 12px; }
.m-catalog-list .htitle ul{ background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; position: absolute; top: 32px; left: 0; width: 220px; height: 110px; z-index: 999999; border: 1px solid #BBBBBB; list-style-type: none; padding: 0; margin: 0; display: none; }
.m-catalog-list .htitle ul li{ float: left; padding: 0 16px; width: 100%; height: 36px; line-height: 36px; font-size: 12px; color: #00A3D8; cursor: pointer; }
.m-catalog-list .htitle ul li:hover, .m-catalog-list .htitle ul li.p-io-active{ background-color: #EEEEEE; box-shadow: 0 0 0 1px #CCCCCC; }
.m-catalog-list .htitle:hover ul{ display: block; }

.m-catalog-list .title-menus button { -webkit-border-radius: 2px; border-radius: 2px; float: right; margin: 0 23px 0 0; position: relative; width: 200px; height: 34px; padding: 0; }
.m-catalog-list .title-menus button .bg { display: inline-block; width: 18px; height: 18px; margin: 0 auto; background: url(/cdn/images/v2/nav-icons.png) no-repeat 1000px 1000px; }
.m-catalog-list .title-menus .add-cat-btn .bg  { background-position: -18px -63px; margin-top: 8px; }
.m-catalog-list .title-menus .add-cat-btn .text { float:left; line-height: 34px; margin-left: 20px; font-size: 14px; font-weight: 300; }
.m-catalog-list .org-pc{ float: left; height: 34px; margin-bottom: 26px; }
.m-catalog-list .org-pc h1{ line-height: 34px; }
.m-catalog-list .org-pc .total-products-text { font-size: 16px; line-height: 25px; margin-left: 10px;}

.m-catalog-list .p-io{ border-radius: 2px; height: 24px; margin-left: 39px; padding: 4px 11px 5px; border: 1px solid transparent; }
.prod-on-cat-list .p-io{ margin-left: 12px; }
.prod-on-cat-list .m-catalog-list .p-io{ margin: 0; }
.m-catalog-list .org-pc h1{ float: left; margin: 0; padding: 0; font-size: 18px; color: #AAAAAA; }
.create-new-collection-wrapper { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; float: left; width: 342px; height: 405px; border: 1px solid #EEEEEE; cursor: pointer; }
.create-new-collection-wrapper .tbl{ float: left; width: 100%; height: 90%; display: table; }
.create-new-collection-wrapper .tbl-cell{ width: 100%; display: table-cell; vertical-align: middle; text-align: center; }
.create-new-collection-wrapper span{ font-size: 14px; color: #BABABA; display: inline-block; width: 100%; }
.create-new-collection-wrapper span.plus{ font-size: 52px; color: #BBBBBB; line-height: 58px; }
.create-new-collection-wrapper:hover{ border: 1px solid #00A3D9;  }
.create-new-collection-wrapper:hover span{ color: #00A3D9;  }
.m-catalog-list-box{ float: left; width: 100%; list-style-type: none; margin: 0; max-width: 1100px; }
.m-catalog-list-box li { float: left; position: relative; height: 405px; padding: 0 23px 0 0; margin: 0 0 23px 0; cursor: pointer; }
.m-catalog-list-box li .cat-bg1, .m-catalog-list-box li .cat-bg2, .m-catalog-list-box li .cat-bg3{ float: left; position: relative; width: 100%; max-width: 352px; height: 405px; background-color: #FFFFFF; border: 1px solid #EEEEEE; z-index: 2; }
.m-catalog-list-box li .cat-bg2{ top: 3px; left: 3px; z-index: 1; }
.m-catalog-list-box li .cat-bg3{ top: 6px; left: 6px; z-index: 0; }
.m-catalog-list-box li .dd-handler { display:none; width: 8px; height: 20px; background: url(/cdn/images/v2/nav-icons.png) no-repeat -44px -84px; position: absolute; top: 16px; right: 13px; cursor: move; }
.m-catalog-list-box li:hover .dd-handler { display: block; }
.m-catalog-list-box li:hover .add-btn, .m-catalog-list-box li:hover .add-coll-btn { display: block; }
.m-catalog-list-box li:hover .cat-bg1, .m-catalog-list-box li:hover .cat-bg2, .m-catalog-list-box li:hover .cat-bg3{ border: 1px solid #00A3D9; }
.m-catalog-list-box li .catname { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; width: 100%; height: 52px; line-height: 52px; padding: 0 38px 0 17px; color: #777777; font-size: 16px; }
.m-catalog-list-box li:hover .catname{ color: #00A3D9; }
.m-catalog-list-box li .img-main { background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 230px; background-color: #F2F5F6; }
.m-catalog-list-box li.full .img-main { height: 207px; }
.m-catalog-list-box li .img-small { height: 61px; background-color: #F2F5F6; }
.m-catalog-list-box li .img-small div { background-color: #f2f5f6; background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; height: 60px; }
.m-catalog-list-box li .img-small .img-small_1 { width: 85px; }
.m-catalog-list-box li .img-small .img-small_2 { width: 82px; }
.m-catalog-list-box li .img-small .img-small_3 { width: 80px; }

.m-catalog-list-box li .total-items { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; height: 59px; line-height: 59px; color: #BBBBBB; font-size: 14px; padding-left: 16px; position: relative; }
.m-catalog-list-box li .add-coll-btn { display: none; line-height: 34px; margin: 0; padding: 0; -webkit-border-radius: 2px; border-radius: 2px; margin-right: 10px; position: absolute; top: 13px; right: 12px; height: 34px; padding: 0 12px; }
.m-catalog-list-box li .add-btn { display: none; line-height: 34px; margin: 0; padding: 0; -webkit-border-radius: 2px; border-radius: 2px; margin-right: 10px; position: absolute; top: 13px; right: 12px; width: 60px; height: 34px; padding: 0; }
.m-catalog-list-box li .add-btn .bg  { display: inline-block; width: 18px; height: 18px; margin: 0 auto; background: url(/cdn/images/v2/nav-icons.png) no-repeat -18px -63px; margin-top: 6px; }
.m-catalog-list-box li .add-btn .text { display:none; float:left; line-height: 34px; margin-left: 16px; font-size: 14px; font-weight: 300; }
.m-catalog-list-box li .add-btn:hover,
.m-catalog-list-box li .add-btn.full { width: 130px; }
.m-catalog-list-box li .add-btn:hover > .text,
.m-catalog-list-box li .add-btn.full  .text { display:block; margin-right: 7px; }
.m-catalog-list-box li .add-btn:hover > .bg,
.m-catalog-list-box li .add-btn.full .bg { float:left; margin: 8px 0;}
.m-catalog-list-box li .add-btn:hover{ opacity: 0.8; }

.m-catalog-list-box li .add-btn.plus-btn { width: 40px; margin: 0; right: 57px; }
.m-catalog-list-box li .add-btn.plus-btn .bg { float:left; margin: 0 0 0 11px; }

.m-catalog-list-box li .add-btn.pen-btn { width: 40px; margin: 0; right: 13px; }
.m-catalog-list-box li .add-btn.pen-btn .bg { background-position: -205px -75px; float:left; margin: 0 0 0 12px; width: 16px; height: 20px; }

.m-catalog-list-box li .p-list-img{ background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #FFFFFF; float: left; width: 100%; height: 168px; margin-bottom: 1px; cursor: pointer; }
.m-catalog-list-box li .p-list-box{ background-color: #FFFFFF; float: left; width: 100%; height: 126px; padding: 12px 15px 16px 15px; }
.m-catalog-list-box li .p-list-box .p-list-title{ float: left; width: 100%; height: 98px; overflow: hidden; }
.m-catalog-list-box li .p-list-box .p-list-title label{ float: left; font-size: 16px; line-height: 20px; padding: 0; font-weight: 300; margin-bottom: 6px; }
.m-catalog-list-box li .p-list-box .p-list-title label:hover{ text-decoration: underline; cursor: pointer; }
.m-catalog-list-box li .p-list-box .p-list-title span{ float: left; width: 100%; font-size: 16px; line-height: 20px; font-weight: 300; color: #888888; }
.m-catalog-list-box li .p-list-box .p-list-btns{ background-color: #FFFFFF; position: absolute; bottom: 16px; width: 220px; height: 32px; display: none; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon{ background-color: #DDDDDD; float: left; border: 1px solid #BBBBBB; position: relative; width: 38px; height: 32px; display: block; border-radius: 2px; cursor: pointer; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon1 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -40px -62px; width: 16px; height: 18px; display: block; margin: 6px 0 0 9px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon2 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -57px -62px; width: 16px; height: 20px; display: block; margin: 5px 0 0 10px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon3 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -74px -62px; width: 15px; height: 13px; display: block; margin: 8px 0 0 10px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon4 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -90px -62px; width: 19px; height: 18px; display: block; margin: 6px 0 0 9px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon1{ margin-right: 7px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon2{ margin-right: 52px; }
.m-catalog-list-box li .p-list-box .p-list-btns .icon3{ margin-right: 7px; }
.m-catalog-list-box li:hover .p-list-btns{ display: block; }

.product-list-main-wrapper{ float: left; width: 100%; padding: 20px 0 140px; }
.prod-on-cat-list .product-list-main-wrapper{ padding: 8px 0 140px; }
.product-list-sub-wrapper{ float: left; width: 100%; }
.m-catalog-product-list{ float: left; width: 100%; }
/* .m-catalog-list-box{ float: left; width: 1100px; list-style-type: none; margin: 0; padding: 2px 2px; } */
.m-catalog-product-list-box{ float: left; list-style-type: none; margin: 0; }
.m-catalog-product-list-box li { float: left; position: relative; width: 222px; height: 297px; background-color: #FFF; margin: 0 18px 18px 0; border: 1px solid #EEEEEE; cursor: pointer; }
.m-catalog-product-list-box li:hover { border: 1px solid #00A3D9; box-shadow: 0 0 4px 2px #DDDDDD; }
.m-catalog-product-list-box li .p-list-img{ background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #FFFFFF; float: left; width: 220px; height: 169px; border-bottom: 1px solid #DDDDDD; cursor: pointer; }
.m-catalog-product-list-box li .p-list-box{ background-color: #FFFFFF; float: left; width: 220px; height: 126px; padding: 12px 15px 16px 15px; }
.m-catalog-product-list-box li .p-list-box .p-list-title{ float: left; width: 100%; height: 63px; }
.m-catalog-product-list-box li .p-list-box .p-list-title label{ float: left; font-size: 14px; line-height: 20px; padding: 0; font-weight: 300; margin-bottom: 6px; cursor: pointer; }
.m-catalog-product-list-box li .p-list-box .p-list-title span{ float: left; width: 100%; font-size: 16px; line-height: 20px; font-weight: 300; color: #888888; }
.m-catalog-product-list-box li .p-list-box .p-list-btns{ background-color: #FFFFFF; position: absolute; bottom: 16px; width: 188px; height: 32px; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon{ background-color: #DDDDDD; float: left; border: 1px solid #BBBBBB; position: relative; width: 38px; height: 32px; display: block; border-radius: 2px; cursor: pointer; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon1 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -40px -62px; width: 16px; height: 18px; display: block; margin: 6px 0 0 9px; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon2 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -57px -62px; width: 16px; height: 20px; display: block; margin: 5px 0 0 10px; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon3 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -74px -62px; width: 15px; height: 13px; display: block; margin: 8px 0 0 10px; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon4 span{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -90px -62px; width: 19px; height: 18px; display: block; margin: 0 0 0 9px; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon1{ float: right; margin-left: 7px; display: none; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon2{ float: right; margin-left: 7px; display: none; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon3{ float: right; margin-left: 7px; display: none; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon4{ float: right; margin: 0 0 0 7px; display: none; padding: 0; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon1:hover{ opacity: 0.8; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon2:hover{ opacity: 0.8; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon3:hover{ opacity: 0.8; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .icon4:hover{ opacity: 0.8; }
.m-catalog-product-list-box li:hover .p-list-box .p-list-btns .icon1{ display: block; }
.m-catalog-product-list-box li:hover .p-list-box .p-list-btns .icon2{ display: block; }
.m-catalog-product-list-box li:hover .p-list-box .p-list-btns .icon3{ display: block; }
.m-catalog-product-list-box li:hover .p-list-box .p-list-btns .icon4{ display: block; }
.m-catalog-product-list-box li .p-list-box .p-list-btns .featured{ display: block; }

.m-catalog-product-list-box li .add-btn { background-color: transparent; border-radius: 2px;color: #00A3D9;height: 34px;left: 56px;line-height: 34px;margin: 0; padding: 0;position: absolute;top: 126px;width: 130px; }
.m-catalog-product-list-box li .add-btn .bg  { display: inline-block; width: 18px; height: 18px; margin: 0 auto; background: url(/cdn/images/v2/nav-icons.png) no-repeat -0 -108px; margin: 10px 0 0 10px; }
.m-catalog-product-list-box li .add-btn .text { float:left; line-height: 34px;  font-size: 14px; font-weight: 300; }

.add-collection-large-btn{  }

.add-collection-large-btn { float: left; width: 260px; height: 295px; border: 1px solid #EEEEEE; text-align: center; cursor: pointer; margin: 24px 7px; }
.add-collection-large-btn .bg  { background: url(/cdn/images/v2/nav-icons.png) no-repeat 0 -42px; display: inline-block; width: 18px; height: 18px; margin: 130px 0 0 10px; vertical-align: middle;}
.add-collection-large-btn .text { display: inline-block; font-size: 14px; font-weight: 300; margin-top: 130px; vertical-align: middle; }
.add-collection-large-btn:hover{ border: 1px solid #00A3D9; }

.coll-prod-list{ float: left; list-style-type: none; margin: 0; width: 100%; }
.coll-prod-list li { position: relative; padding: 0 7px 0 0; margin-bottom: 9px; }
/*@media only screen and ( min-width:1200px ) {
	.coll-prod-list li { width: 25% !important; }
}​*/

.add-newproduct-wrapper { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; cursor: pointer; }
.add-newproduct-wrapper .tbl{ float: left; width: 100%; height: 88%; display: table; }
.add-newproduct-wrapper .tbl-cell{ width: 100%; display: table-cell; vertical-align: middle; text-align: center; }
.add-newproduct-wrapper span{ font-size: 14px; color: #BABABA; display: inline-block; width: 100%; }
.add-newproduct-wrapper span.plus{ font-size: 52px; color: #BBBBBB; line-height: 58px; }
.add-newproduct-wrapper:hover{ border: 1px solid #00A3D9 !important; }
.add-newproduct-wrapper:hover span{ color: #00A3D9;  }

.coll-prod-list .collection-product { float: left; position: relative; width: 100%; max-width: 280px; height: 280px; border: 1px solid #D8DAE0; cursor: pointer; }
.coll-prod-list .collection-product:hover { border: 1px solid #d8dae0; }
.coll-prod-list .collection-product .bg-loader{ background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat scroll center 40% #EAECF2; position: absolute; width: 100%; height: 278px; text-align: center; z-index: 30; padding: 0 20px; }
.coll-prod-list .collection-product .bg-loader span{ font-size: 14px; margin-top: 60%; display: inline-block; }
.coll-prod-list .collection-product .bg-undo{ background-color: #EAECF2; position: absolute; width: 100%; height: 278px; text-align: center; z-index: 50; }
.coll-prod-list .collection-product .bg-undo p{ font-size: 14px; line-height: 20px; width: 100%; text-align: center; padding: 0; margin: 46% 0 0; }
.coll-prod-list .collection-product .bg-undo p a{ text-decoration: underline; }

.coll-prod-list .collection-product .coll-prod-img-wrapper{ float: left; width: 100%; height: 278px; }
.coll-prod-list .collection-product .coll-prod-img{ background-position: center center; background-size: cover; float: left; width: 100%; height: 278px; }
.coll-prod-list .collection-product .coll-prod-info{ background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 #E5E7ED; position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; border-top: 1px solid #E5E7ED; padding: 0 12px 0 8px; opacity: 0.9; }
.coll-prod-list .collection-product .coll-prod-info p{ float: left; margin: 0; padding: 0; font-size: 12px; width: 100%; display: block; }
.coll-prod-list .collection-product .coll-prod-info p.p1{ line-height: 14px; margin-top: 8px; }
.coll-prod-list .collection-product .coll-prod-info p.p1 strong{ font-weight: 400; }
.coll-prod-list .collection-product .coll-prod-info p.coll-name{ font-size: 11px; line-height: 18px; }
.coll-prod-list .collection-product .coll-prod-info p.coll-name span.external, .coll-prod-list .collection-product .coll-prod-info p.coll-name span.internal{ background: url('/cdn/images/v3/common.png') no-repeat scroll -257px 0 transparent; display: inline-block; width: 14px; height: 14px; margin: 0 5px 0 1px; vertical-align: text-bottom; }
.coll-prod-list .collection-product .coll-prod-info p.coll-name span.external{ background-position: -257px -16px; }
.coll-prod-list .collection-product .coll-prod-info p.coll-name span.internal{ background-position: -257px 0; }
.coll-prod-list .collection-product .coll-prod-info p.coll-name .base-price{ font-size: 11px; text-decoration: line-through; font-weight: 300; }

.category-product-modal .product-list-wrapper{ overflow: hidden; }
.product-list-wrapper .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.product-list-wrapper .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.product-list-wrapper .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.product-list-wrapper .swiper-wrapper{ float: left; position: relative; }
.product-list-wrapper .swiper-wrapper, .product-list-wrapper .swiper-slide { width: 100% !important; }



#container { width: 90px; height: 324px; position: relative; }
#carousel { position: absolute; top: 32px; width: 90px; height: 324px; }
#carousel img { border: 0; padding: 9px 15px 9px 12px; }
#carousel img.selected { background-color: #FFFFFF; }
#ui-carousel-next, #ui-carousel-prev { width: 90px; height: 12px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -343px -89px; display: block; position: absolute; left: 0; z-index: 100; }
#ui-carousel-next { top: 12px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -344px -68px; }
#ui-carousel-prev { bottom: 10px; }
#ui-carousel-next > span, #ui-carousel-prev > span { display: none; }	


.new-cat-form input{ height: 30px; margin-bottom: 24px; padding-top: 0; padding-bottom: 0; font-size: 14px; }
.new-cat-form button{ vertical-align: middle; font-size: 14px !important; padding: 0 0 !important; width: 128px; height: 26px; line-height: 26px !important; margin: 0 !important; -moz-border-radius: 4px !important; -webkit-border-radius: 4px !important; border-radius: 4px !important; }
.new-cat-form button:hover{ background-color: #70c845; }
.new-cat-form label{ font-size: 13px; margin-bottom: 2px; color: #525252; font-weight: 300; }
.new-cat-form select{ background-position: 330px center !important; padding: 2px 2px; height: 30px; font-size: 14px; margin: 0; }
.new-cat-form small.error, .new-cat-form small.email_error, .new-cat-form small.dynamic_error{ top: 2px; }
.new-cat-form .upload-img-btn{ float: left; position: relative; background-color: #BBBBBB; display: block; width: 155px; height: 28px; line-height: 28px; font-size: 13px; padding: 0 9px; cursor: pointer; margin-top: 27px; }
.new-cat-form .upload-img-btn .plus{ font-size: 26px; line-height: 16px; position: absolute; right: 9px; top: 4px; clear: both; }
.new-cat-form .action-wrapper{ float: right; margin-top: 10px; min-height: 52px; position: relative; width: 100px; }
.new-cat-form .action-wrapper .text-pre-loader-style{ top: 20px; left: 0; padding: 2px 6px; }
.new-cat-form .cat-create-btn{ float: left; width: 100px; height: 36px; line-height: 36px; font-size: 16px; text-align: center; font-weight: 300; margin: 16px 0 0 0; cursor: pointer; padding: 0;}
.new-cat-form .upload-image-box{ float: left; position: relative; width: 90px; height: 70px; border: 1px solid; font-size: 12px; font-weight: 400; text-align: center; cursor: pointer; overflow: hidden; }
.new-cat-form .img-upload-wrapper{ float: left; position: relative; width: 90px; height: 70px; overflow: hidden; }
.new-cat-form #add_userfile{ position: absolute; width: 100px; height: 80px; top: 0; left: 0; opacity: 0; cursor: pointer; }
.new-cat-form .upload-bg{ background: url('/cdn/images/v2/upload-img-bg.png') no-repeat scroll center 36%; float: left; width: 90px; height: 70px;  }
.new-cat-form .upload-lbl{ position:absolute; width: 100%; left: 0; top: 46px;  }
.new-cat-form .upload-image-box img{ }
.new-cat-form textarea{ float: left; width: 100%; height: 80px; margin: 0; }
.new-cat-form .more-cat-details label{ color: #BABABA; margin: 14px 0 2px; }
.new-cat-form .more-cat-details #display_message{  }
.new-cat-form .more-cat-details #display_message p{ color: red; font-size: 12px; line-height: 16px; font-weight: 300; margin: 0; padding: 0; position: absolute; right: 0; top: 0; width: 110px; }
.new-cat-form .filename{ font-size: 11px; }
.new-cat-form .add-new-cat-btn label{ position: absolute; top: 38px; left: 59px; font-size: 16px; }


.shop-preview-wrapper h3{ float: left; width: 100%; margin: 0 0 11px; color: #444444; font-size: 14px; line-height: 16px; }
.shop-preview-wrapper .shop-selections{ float: left; width: 844px; padding: 5px; margin-left: -5px; }
.shop-preview-wrapper .shop-box, .shop-preview-wrapper .shop-box2, .shop-preview-wrapper .shop-box3{ background-color: #FFFFFF; float: left; width: 407px; height: 257px; border: 1px solid #EEEEEE; margin-right: 18px; margin-bottom: 22px; cursor: pointer; }
.shop-preview-wrapper .shop-box span, .shop-preview-wrapper .shop-box2 span, .shop-preview-wrapper .shop-box3 span,
.shop-preview-wrapper .shop-box label, .shop-preview-wrapper .shop-box2 label, .shop-preview-wrapper .shop-box3 label{ cursor: pointer; }
.shop-preview-wrapper .shop-box2{ width: 265px; height: 257px; margin-right: 18px; }
.shop-preview-wrapper .shop-box3{ width: 265px; height: 257px; margin-right: 0; }
.shop-preview-wrapper .shop-box-right{ margin-right: 0; }
.shop-preview-wrapper .shop-box:hover, .shop-preview-wrapper .shop-box2:hover, .shop-preview-wrapper .shop-box3:hover{ border: 1px solid #00A3D9; box-shadow: 0 0 4px 2px #DDDDDD; }
.shop-preview-wrapper .design-img{ float: left; width: 405px; height: 170px; border-top: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #EEEEEE; border-left: 1px solid #FFFFFF; }
.shop-preview-wrapper .desktop .design-img{ background: url('/cdn/images/v2/desktop.jpg') no-repeat scroll center center; }
.shop-preview-wrapper .tablet .design-img{ background: url('/cdn/images/v2/tablet-phone.jpg') no-repeat scroll center center; }
.shop-preview-wrapper .facebook .design-img{ background: url('/cdn/images/v2/facebook.jpg') no-repeat scroll center center; width: 263px; height: 168px; }
.shop-preview-wrapper .design-title-wrapper{ float: left; position: relative; width: 100%; height: 85px; }
.shop-preview-wrapper .blog-design-img{ float: left; width: 100%; height: 170px; border-bottom: 1px solid #EEEEEE; text-align: center; }
.shop-preview-wrapper .blog-design-img2{ text-align: left; padding: 0 0 0 34px; }
.shop-preview-wrapper .blog-design-img .blog-title label{ margin-top: 22px; color: #AAAAAA; font-weight: 300; margin-right: 12px; display: inline-block; }
.shop-preview-wrapper .blog-design-img .blog-title strong{ font-weight: 400; }
.shop-preview-wrapper .blog-design-img .blog-title span{ background-color: #DDDDDD; height: 6px; width: 21px; display: inline-block; margin-right: 4px; border-radius: 4px; vertical-align: middle; }
.shop-preview-wrapper .blog-design-img .blog-title span.dark{ background-color: #999999; }
.shop-preview-wrapper .blog-design-img .stykable-desktop-shop-box{ width: 182px; height: 90px; border: 1px solid #4CBA17; color: #4CBA17; text-align: center; margin: 0 0 0 40px; padding: 26px 32px 0; }
.shop-preview-wrapper .stykable-mini-shop-wrapper{ float: left; width: 185px; height: 92px; }
.shop-preview-wrapper .stykable-mini-shop-wrapper .line1{ background-color: #F2F5F6; float: left; width: 185px; height: 8px; margin-bottom: 9px; border-radius: 4px; }
.shop-preview-wrapper .stykable-mini-shop-wrapper .lines{ float: left; width: 92px; padding: 0 9px 0 2px; }
.shop-preview-wrapper .stykable-mini-shop-wrapper .line2{ background-color: #F2F5F6; float: left; width: 81px; height: 4px; margin-bottom: 6px; border-radius: 4px; }
.shop-preview-wrapper .stykable-mini-shop-wrapper .line3{ background-color: #F2F5F6; float: left; width: 185px; height: 4px; margin-bottom: 6px; border-radius: 4px; }
.shop-preview-wrapper .stykable-mini-shop-wrapper .stykable-minishop-box{ float: left; width: 92px; height: 57px; border: 1px solid #4CBA17; padding: 11px 5px 0 5px; color: #4CBA17; text-align: center; }
.shop-preview-wrapper .design-title, .shop-preview-wrapper .design-title2{ float: left; width: 100%; height: 85px; font-size: 16px; line-height: 16px; color: #00A3D9; padding: 32px 0 0 25px; font-weight: 400; }
.shop-preview-wrapper .design-title2{ width: 100%; }
.shop-preview-wrapper .design-title span{ color: #CCCCCC; font-size: 11px; }
.shop-preview-wrapper .design-title2 span{ color: #CCCCCC; font-size: 11px; }
.shop-preview-wrapper .box-button{ background-color: #EEEEEE; width: 102px; height: 51px; margin-right: 3px; border: 1px solid #BBBBBB; margin-top: 17px; }
.shop-preview-wrapper .for-slideshow-listing{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-preview-wrapper .for-slideshow-listing .box-one{ float: left; width: 24px; height: 29px; }
.shop-preview-wrapper .for-slideshow-listing .box-two{ background-color: #FFFFFF; float: left; width: 24px; height: 13px; border: 1px solid #DDDDDD;}
.shop-preview-wrapper .for-slideshow-listing .box-three{ background-color: #FFFFFF; float: left; width: 8px; height: 8px; border: 1px solid #DDDDDD; }
.shop-preview-wrapper .for-categories{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-preview-wrapper .for-categories .box-one{ float: left; width: 24px; height: 29px; }
.shop-preview-wrapper .for-categories .box-two{ background-color: #FFFFFF; float: left; width: 10px; height: 8px; border: 1px solid #DDDDDD; margin: 1px 0 0 0; }
.shop-preview-wrapper .for-slideshow-only{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-preview-wrapper .for-slideshow-only .box-one{ float: left; width: 24px; height: 29px; }
.shop-preview-wrapper .for-slideshow-only .box-two{ background-color: #FFFFFF; float: left; width: 24px; height: 16px; border: 1px solid #DDDDDD;}
.shop-preview-wrapper .box-button label{ float: left; color: #00A3D9; font-size: 11px; line-height: 14px; margin: 0 0 0 4px; width: 59px; }
.shop-preview-wrapper .for-categories label{ margin: 6px 0 0 4px; }
.shop-preview-wrapper .shop-box .settings-small-view{ display: none; }
.shop-preview-wrapper .shop-box:hover .settings-small-view{ display: block; }
.shop-preview-wrapper .for-defautl-theme{ position: absolute; right: 11px; padding: 9px 0 11px 7px; }
.shop-preview-wrapper .for-defautl-theme .box-one{ float: left; position: relative; width: 24px; height: 29px; }
.shop-preview-wrapper .for-defautl-theme .box-two{ background-color: #FFFFFF; position: absolute; width: 17px; height: 19px; border: 1px solid #DDDDDD; }
.shop-preview-wrapper .for-defautl-theme .box-three{ left: 0; top: 0; }
.shop-preview-wrapper .for-defautl-theme .box-four{ left: 3px; top: 4px; z-index: 1; }
.shop-preview-wrapper .for-defautl-theme .box-five{ left: 6px; top: 8px; z-index: 2; }
.shop-preview-wrapper .stykable .styk-top{ background-color: #EEEEEE; width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #444444; padding-left: 28px; }
.shop-preview-wrapper .stykable .styk-top span{ color: #AAAAAA; }
.shop-preview-wrapper .stykable .styk-content{ background-color: #FFFFFF; float: left; width: 100%; height: 99px; padding: 17px 148px 21px 28px; }
.shop-preview-wrapper .stykable .styk-border-bottom{ border-bottom: 1px solid #EEEEEE;  }
.shop-preview-wrapper .stykable .styk-content label{ float: left; font-size: 16px; color: #4CB106; width: 100%; margin-bottom: 4px; }
.shop-preview-wrapper .stykable .styk-content span{ color: #AAAAAA; }
.shop-preview-wrapper .stykable .styk-content-b{ padding: 17px 134px 21px 28px; }

.preview-shop-modal .main-shop-preview-content{ overflow: hidden; }
.main-shop-preview-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.main-shop-preview-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.main-shop-preview-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.main-shop-preview-content .swiper-wrapper{ float: left; position: relative; }
.main-shop-preview-content .swiper-wrapper, .swiper-slide { width: auto; }

.preview-shop-modal .tablet-or-phone-preview{ float: left; position: relative; width: 100%; padding: 27px 72px 27px 69px; min-height: 1086px; }
.preview-shop-modal .tablet-or-phone-content{ overflow: hidden; }
.tablet-or-phone-preview .header-preview{ float: left; width: 100%; margin-bottom: 14px; }
.tablet-or-phone-preview .tabphone-btn{ background-color: #FFFFFF; float: left; width: 132px; height: 36px; color: #00A3D9; margin-right: 8px; border: 1px solid #00A3D9; cursor: pointer; }
.tablet-or-phone-preview .tabphone-btn:hover, .tablet-or-phone-preview .tabphone-active{ background-color: #00A3D9; color: #FFFFFF; }
.tablet-or-phone-preview .tabphone-btn .tablet-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -275px -160px transparent; float: left; display: block; width: 15px; height: 21px; margin: 5px 10px 0 29px; }
.tablet-or-phone-preview .tabphone-btn .phone-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -301px -160px transparent; float: left; display: block; width: 9px; height: 17px; margin: 7px 9px 0 32px; }
.tablet-or-phone-preview .tabphone-btn:hover .tablet-icon, .tablet-or-phone-preview .tabphone-active .tablet-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -259px -160px transparent; }
.tablet-or-phone-preview .tabphone-btn:hover .phone-icon, .tablet-or-phone-preview .tabphone-active .phone-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -291px -160px transparent; }
.tablet-or-phone-preview .tabphone-btn label{ float: left; margin: 5px 0 0 0; font-size: 16px; color: #00A3D9; cursor: pointer; }
.tablet-or-phone-preview .tabphone-btn:hover label, .tablet-or-phone-preview .tabphone-active label{ color: #FFFFFF; }
.tablet-or-phone-preview .tablet-wrapper{ float: left; width: 759px; height: 985px; }
.tablet-or-phone-preview .tablet-device .shopstyxloader{ left: 36% !important; }
.tablet-or-phone-preview .tablet-device{ float: left; position: relative; width: 759px; height: 985px; border-top: 83px solid #777777; border-bottom: 83px solid #777777; border-left: 73px solid #777777; border-right: 73px solid #777777; border-radius: 18px; }
.tablet-or-phone-preview .tablet-device .tablet-cam{ background-color: #FFFFFF; position: absolute; top: -50px; left: 299px; width: 12px; height: 12px; border-radius: 50px; display: block; }
.tablet-or-phone-preview .tablet-device .tablet-home-btn{ background-color: #FFFFFF; position: absolute; bottom: -67px; left: 281px; width: 48px; height: 48px; border-radius: 50px; display: block; }
.tablet-or-phone-preview .tablet-device .tablet-home-btn .box-center{ background-color: #777777; float: left; margin: 17px 17px; width: 14px; height: 14px; border-radius: 1px; display: block; }
.tablet-or-phone-preview .tablet-frame-loader{ left: 0; position: absolute; top: 30%; z-index: 0; width: 100%; }
.tablet-or-phone-preview .tablet-frame{ position: absolute; top: 0; left: 0; width: 613px; height: 819px; }
.tablet-or-phone-preview .phone-frame{ position: absolute; top: 66px; left: 28px; }
.tablet-or-phone-preview .phone-wrapper{ float: left; width: 652px; height: 380px; }
.tablet-or-phone-preview .phone-frame-loader{ left: 0; position: absolute; top: 40%; z-index: 0; width: 100%; }
.tablet-or-phone-preview .phone-device{ background: url('/cdn/images/v2/phone-layout.png') no-repeat scroll 0 0 transparent; float: left; position: relative; width: 380px; height: 652px; padding: 66px 28px; }
.tablet-or-phone-preview .phone-device .shopstyxloader{ left: 24% !important; }
.tablet-or-phone-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.tablet-or-phone-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.tablet-or-phone-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.tablet-or-phone-content.swiper-wrapper{ float: left; position: relative; }
.tablet-or-phone-content .swiper-wrapper, .swiper-slide { width: auto; }

.preview-shop-modal .shop-facebook-preview{ float: left; position: relative; width: 100%; padding: 36px 12px 30px 10px; }
.shop-facebook-preview .header-fb{ background: url('/cdn/images/v2/fb-header.png') no-repeat scroll 0 0 transparent; float: left; width: 877px; height: 38px; margin-bottom: 25px; }
.shop-facebook-preview .fb-wrapper{ background: url('/cdn/images/v2/fb-bg.png') no-repeat scroll -20px 0 transparent; float: left; width: 852px; min-height: 700px; padding: 19px 20px 0 20px;  }
.shop-facebook-preview .fb-shop{ float: left; width: 850px; height: 598px; padding: 19px 20px 0 20px; box-shadow: 0 0 3px 1px #CCCCCC; }
.preview-shop-modal .shop-facebook-content{ overflow: hidden; }
.shop-facebook-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.shop-facebook-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.shop-facebook-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.shop-facebook-content.swiper-wrapper{ float: left; position: relative; }
.shop-facebook-content .swiper-wrapper, .swiper-slide { width: auto; }

.preview-shop-modal .shop-minishop-content{ float: left; position: relative; width: 100%; padding: 0 }
.preview-shop-modal .minishop-preview{ float: left; position: relative; width: 100%; padding: 37px 57px 30px 59px; }
.shop-minishop-content .minishop-preview p{ float: left; font-size: 14px; line-height: 18px; color: #444444; margin: 0 0 27px 0; width: 600px; }
.shop-minishop-content .minishop-preview .mini-shop-wrapper{ float: left; position: relative; width: 786px; height: 560px; clear: both; }
.shop-minishop-content .minishop-preview .mini-shop-wrapper .mini-shop-frame-loader{ position: absolute; left: 0; top: 200px; width: 64%; z-index: 0; }
.shop-minishop-content .minishop-preview .embed-mini-shop{ float: left; position: relative; width: 600px; height: 560px; box-shadow: 0 0 3px 1px #CCCCCC;}
.shop-minishop-content .minishop-preview .preview-and-embed{ float: left; width: 160px; margin-left: 23px; }
.shop-minishop-content .minishop-preview .preview-blog{ float: left; width: 160px; height: 60px; background-color: #4CBA17; color: #FFFFFF; text-align: center; font-size: 16px; line-height: 60px; border-radius: 2px; cursor: pointer; }
.shop-minishop-content .minishop-preview .preview-and-embed label{ float: left; font-size: 14px; color: #777777; margin: 34px 0 6px; font-weight: 300; }
.shop-minishop-content .minishop-preview .preview-and-embed textarea{ float: left; font-size: 11px; color: #666666; width: 160px; height: 100px; border: 1px solid #DDDDDD; }
.preview-shop-modal .shop-minishop-content{ overflow: hidden; }
.shop-minishop-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.shop-minishop-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.shop-minishop-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.shop-minishop-content.swiper-wrapper{ float: left; position: relative; }
.shop-minishop-content .swiper-wrapper, .swiper-slide { width: auto; }

.blog-modal2{ background-color: #FFFFFF; position: fixed; top: 0; right: 0; width: 1012px; min-height: 1256px; height: 100%; z-index: 9999; border-left: 2px solid #00A3D9; border-bottom: 2px solid #00A3D9; }
.blog-modal2 .mod-loader-wrapper{  left: 0; position: absolute; top: 280px; width: 100%; }
.blog-modal2 .mod-loader-wrapper .shopstyxloader{ left: 58% !important; }
.blog-modal2 .mod-stick-border{ background-color: #FFFFFF; position: absolute; left: -1px; height: 60px; width: 1px; }
.blog-modal2 .modal-header{ position: absolute; width: 1004px; }
.blog-modal2 .prod-title-wrapper { background-color: #4CBA17; float: left; position: relative; height: 68px; width: 100%; z-index: 2; }
.blog-modal2 .mod-option{ float: right; width: 198px; height: 68px; padding-top: 18px; }
.blog-modal2 .mod-option .cmd{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -150px -68px; float: left; width: 40px; height: 34px; display: block; margin-right: 3px; border: 1px solid #a2cf8d; cursor: pointer }
.blog-modal2 .mod-option .blog-mod-close{ background-position: -280px -68px; width: 33px; height: 34px; margin: 0 18px; border: 0 none; float: right; }
.blog-modal2 .mod-wrapper{ background-color: #FFFFFF; }
.blog-modal2 .mod-option{ padding-top: 12px; }
.blog-modal2 .modal-header{ width: 100%; }
.blog-modal2 .prod-title-wrapper{ background-color: #000000; height: 60px; }
.blog-modal2 .blog-logo{ float: left; width: 209px; line-height: 60px; font-size: 28px; color: #FFFFFF; padding: 0 26px; }
.blog-modal2 .blog-logo span{ color: #DD6298; }
.blog-modal2 .blog-menu{ float: left; width: 215px; margin: 18px 0 0 76px; overflow: hidden; }
.blog-modal2 .blog-menu ul{ float: left; list-style-type: none; width: 250px; list-style-type: none; margin: 0; padding: 0; }
.blog-modal2 .blog-menu ul li{ float: left; margin-right: 45px; font-size: 16px; color: #DD6298; }
.blog-modal2 .blog-content { float: left; width: 1010px; padding: 0 0 0 29px; margin-top: 60px; }
.blog-modal2 .blog-content h1{ float: left; margin: 38px 0 26px 0; padding: 0;  font-size: 40px; line-height: 42px; color: #DD6298; }
.blog-modal2 .blog-content .p{ float: left; font-size: 16px; line-height: 18px; font-weight: 400; color: #000000; width: 98%; margin: 0; padding: 0; }
.blog-modal2 .blog-content .p1{ margin-bottom: 24px; }
.blog-modal2 .blog-content .p-wrapper{ float: left; margin: 3px 16px 0 0 ; width: 344px; }
.blog-modal2 .blog-content .ur-mini-shop-wrapper { float: left; position: relative; width: 600px; margin-bottom: 40px; }
.blog-modal2 .blog-content .ur-mini-shop-wrapper h2{ float: left; width: 100%; font-size: 22px; line-height: 24px; color: #DD6298; font-weight: 400; }
.blog-modal2 .blog-content .ur-mini-shop { float: left; position: relative; width: 600px; box-shadow: 0 0 4px 1px #DDDDDD; }
.blog-modal2 .minishop-frame-loader { position: absolute; top: 200px; left: 0; width: 90%; z-index: 0; }
.blog-modal2 .minishop-frame-loader .shopstyxloader{ position: inherit !important; }

.blog-modal2 .blog-content{ overflow: hidden; }
.blog-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.blog-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.blog-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.blog-content .swiper-wrapper{ float: left; position: relative; }
.blog-content .swiper-wrapper, .swiper-slide { width: auto; }

.coll-prod-hover .prod-btns .toppadding { position: absolute; width: 226px;  height: 6px; top: -5px; left: -1px; }
.coll-prod-hover .prod-btns .collection-list-wrapper { display: none; position: absolute; left: 0; top:40px; width: 226px; min-height: 175px; border: 1px solid #BBBBBB; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 #E5E7ED; cursor: default; }
.coll-prod-hover .prod-btns .collection-list-wrapper p{ background-color: transparent; position: absolute; top: -4px; left: 0; height: 4px; width: 100%; margin: 0; padding: 0; }
.coll-prod-hover .prod-btns .collection-list-wrapper .coll-scrollbar { position: relative; width: 100%; height: 138px; color:#000; text-align: left; font-size: 12px; }
.coll-prod-hover .prod-btns .collection-list-wrapper .coll-loader{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 11; display: none; }
.coll-prod-hover .prod-btns .collection-list-wrapper .coll-loader .loader-bg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; opacity: 0.8; }
.coll-prod-hover .prod-btns .collection-list-wrapper .coll-loader .loader{ background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat scroll center center transparent; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 11; }
.coll-prod-hover .prod-btns .collection-list-wrapper ul { list-style: none none; padding: 0; margin: 11px 0 15px 20px; }
.coll-prod-hover .prod-btns .collection-list-wrapper li { height: 15px; margin-bottom: 9px; font-size: 12px; }
.coll-prod-hover .prod-btns .collection-list-wrapper li input[type="radio"] { display: block; margin: 0; }
.coll-prod-hover .prod-btns .collection-list-wrapper li label { font-size: 12px; margin: 0; height: 19px; display: block; }
.coll-prod-hover .prod-btns .collection-list-wrapper li > input[type='radio'] { opacity: 0; float: left; width: 15px; }
.coll-prod-hover .prod-btns .collection-list-wrapper li > input[type='radio'] + label { margin: 0; clear: none; padding: 0 0 0 24px; background: url('/cdn/images/v3/custom_inputs.png') 0 -17px no-repeat; }
.coll-prod-hover .prod-btns .collection-list-wrapper li  > input[type='radio']:checked + label { background: url('/cdn/images/v3/custom_inputs.png') 0 0 no-repeat; }
.coll-prod-hover .prod-btns .collection-list-wrapper .create-collection-wrapper { height: 35px; line-height: 35px; border-top: 1px solid #E5E5E5; margin: 0 17px 0 3px; padding-left: 6px; font-size: 12px; text-align: left; }
#create-collection-btn { width: 184px; height: 34px; line-height: 34px; float: right; text-align: center; margin-right: 38px; position: relative; cursor: pointer; }
.collection-entry { cursor: default; width: 226px; height: 205px; position: absolute; z-index: 4; top: 38px; right: 0; border: 1px solid #BBBBBB; background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #CCC; padding:28px 21px 17px; }
.collection-entry.saving { background: url("/cdn/images/v3/colshopstyx-32.gif") no-repeat center 26px #FFF; padding-top: 52px;color: #000; font-size: 11px;}
.collection-entry .savestatus { display: none; color: #AAA; }
.collection-entry.saving .savestatus  { display: block; }
.collection-entry.saving form { display: none; }
#create-collection-btn .savedstatus { position: absolute; top: 35px; color: #00A3D9; left: 0; line-height: normal; font-size: 11px; background-color: #CCC; width: 100%; padding: 1px 0; font-weight: 400; cursor: default; }
.error-collection { position: absolute; top: 12px; right: 24px; color:#FF0000; font-size: 11px; line-height: 14px; }
.collection-entry input { width: 180px; height: 30px; font-size: 12px; margin-bottom: 15px; }
.collection-entry textarea { width: 180px; height: 64px; font-size: 12px; margin-bottom: 15px; }
.collection-entry button { width: 115px; height: 30px; line-height: 30px; padding: 0; font-size: 12px; float: right; color: #FFF; text-align: center; }
.collection-entry span { margin-right: 14px; line-height: 30px; float: right; cursor: pointer; font-size: 12px; }
.collection-entry span:hover { text-decoration: underline; }
.coll-prod-hover .prod-btns .collection-entry { left: 0; top: 40px; display: none; }
.common-move-to-btn:hover .collection-list-wrapper, .common-move-to-btn:hover .collection-entry { display: block; }

/* product editor */

.product-editor-modal{ background-color: #f2f5f6; border-left: 1px solid #aaaaaa; height: 100%; min-height: 430px; position: fixed; right: 0; top: 0;  width: 904px; z-index: 999999991;}
.product-editor-modal .loadbox{ top: 38%; }
.product-editor-modal .shopstyxloader{ position: absolute !important; left: 42%; }
.product-editor-modal .modal-content{ width: 100%; }
.product-editor-modal .mod-title h1{ font-weight: 400; }
.product-editor-modal .modal-header { float: left; position: relative; width: 100%; }
.product-editor-modal .prod-title-wrapper { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; float: left; height: 70px; overflow: hidden; position: relative; width: 100%; z-index: 2; }
.product-editor-modal .p-in-ex { float: left; height: 40px; margin: 13px 11px 0 24px; width: 40px; }
.product-editor-modal .p-external { background: url("/cdn/images/v2/nav-icons.png") repeat scroll -360px -215px transparent; display: none; }
.product-editor-modal .prod-title { display: table; float: left; height: 64px; width: 580px; margin-left: 40px; }
.product-editor-modal .prod-title h2 { display: table-cell; font-size: 20px; font-weight: 200; line-height: 22px; margin: 0; padding: 0; vertical-align: middle; }
.product-editor-modal .mod-option { float: right; height: 68px; padding-top: 16px; width: 222px; }
.product-editor-modal .external-prod-mod-option{ float: none; position: absolute; right: 74px; width: 496px; }
.product-editor-modal .mod-option .prod-editor-close { background: url("/cdn/images/v2/nav-icons.png") repeat scroll -280px -68px transparent; border: 0 none; float: right; height: 34px; margin: 0 18px; width: 33px; cursor: pointer; display: block; }
.product-editor-modal .mod-option .save-p-chanages { background-color: #00A3D9; float: left; width: 140px; height: 38px; line-height: 38px; display: block; text-align: center; font-size: 12px; font-weight: 500; border-radius: 3px; margin: 0; }
.product-editor-modal .mod-option .save-p-chanages:hover{ color: #FFFFFF; }
.product-editor-modal .external-prod-mod-option .save-p-chanages{ float: right; }
.product-editor-modal .external-prod-mod-option .sell-btn { background-color: #EE666C; float: right; width: 140px; height: 38px; line-height: 38px; display: block; text-align: center; font-size: 12px; font-weight: 500; border-radius: 3px; margin: 0 7px 0 0; }
.product-editor-modal .external-prod-mod-option div{ float: left; width: 210px; height: 38px; color: #aaa; padding-top: 4px; width: 200px; text-align: right; font-size: 11px; }
.product-editor-modal .mod-wrapper{ background-color: #FFFFFF; }
.product-editor-modal .mod-wrapper-content { float: left; width: 100%; overflow: hidden; }
.product-editor-modal .mod-wrapper-content .swiper-container { float: left; height: 100%; width: 100%; overflow: inherit !important; }
.product-editor-modal .mod-wrapper-content .swiper-container .swiper-scrollbar { background:none; position:absolute; right: 3px; top:0; height:100%; width:8px; z-index: 0; }
.product-editor-modal .mod-wrapper-content .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }
.product-editor-modal .mod-wrapper-content .swiper-wrapper{ float: left; position: relative; }
.product-editor-modal .mod-wrapper-content .swiper-wrapper, .swiper-slide { float: left; width: 100% }
.product-editor-modal .prod-editor-wrapper { float: left; position: relative; width: 100%; }
.product-editor-modal .product-editor input, 
.product-editor-modal .product-editor textarea{ color: #777; font-size: 12px; }
.product-editor-modal .product-editor textarea { width: 816px; height: 150px; border: 2px solid #ddd; margin: 5px 0 0; line-height: 22px; font-size: 14px; padding: 12px; }
.product-editor-modal .entry-wrapper { width: 100%; height: 551px; }
.product-editor-modal .entry-wrapper form { width: 100%; height: 100%; }
.product-editor-modal .entry-wrapper .left-wrapper { float: left; width: 100%; height: 100%; padding: 43px 0 53px; }
.product-editor-modal .entry-wrapper .prodname { width: 476px; height: 42px; border:2px solid #ddd; float: left; margin-right: 30px; margin-left: 43px; margin-bottom: 16px; border-radius: 2px; font-size: 14px; }
.product-editor-modal .entry-wrapper .price-wrapper { width: 144px; height: 42px; border:2px solid #ddd; float: left; line-height: 38px; position: relative; border-radius: 2px; margin-right: 16px; }
.product-editor-modal .entry-wrapper .price-wrapper .currency-wrapper { float: left; width: 50px; background-color: #ddd; height: 38px; padding-left: 10px; position: relative; }
.product-editor-modal .entry-wrapper .price-wrapper #currency-text { font-size: 16px; }
.product-editor-modal .entry-wrapper .price-wrapper .arrowdown { background: url("/cdn/images/v3/common.png") no-repeat -266px -150px; width: 11px; height: 6px; position: absolute; top: 17px; right: 10px; }
.product-editor-modal .entry-wrapper .price-wrapper input { border: 0 none; width: 90px; height: 38px; float: left; font-size: 14px; }
.product-editor-modal .entry-wrapper .sale-price-wrapper { width: 144px; height: 42px; border:1px solid #ddd; float: left; line-height: 38px; position: relative; border-radius: 2px; }
.product-editor-modal .entry-wrapper .sale-price-wrapper input { border: 0 none; width: 142px; height: 40px; float: left; font-size: 14px; }
.product-editor-modal .entry-wrapper .image-color-wrapper { background-color: #F2F5F6; border:1px solid #FFFFFF; width: 100%; height: 166px; margin-top: 22px; margin-bottom: 41px; padding: 0 39px 0 41px; color: #858585; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper { height: 100%; width: 591px; float: left; border-right: 1px solid #FFF; margin-right: 44px; position: relative; padding-top: 19px; }

.product-editor-modal .entry-wrapper .image-color-wrapper p{ float: left; color: #868686; font-size: 12px; line-height: 12px; margin: 0 0 12px; padding: 0; width: 100%; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-box{ float: left; width: 438px; height: 116px; margin: 0 0 9px; padding: 0; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content{ float: left; height: 116px; overflow: auto; width: 572px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content ul{ float: left; width: intrinsic; width: -moz-max-content; height: 94px; margin: 2px 0 0 0; padding: 0; list-style-type: none; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content ul li{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 90px; height: 90px; border: 1px solid #DDDDDD; margin: 0 22px 0 2px; cursor: pointer; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content ul li:hover, .stick-content-c .middle .images-wrapper .choose-img-content ul li.active{ border: 1px solid #00A3D9; box-shadow: 0 0 0 2px #00A3D9;  }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-box .slimScrollBar{ border-radius: 0 !important; opacity: 1 !important; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content ul li:hover, .product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .choose-img-content ul li.active{ border: 1px solid #00A3D9; box-shadow: 0 0 0 2px #00A3D9; height: 90px; width: 90px; }
.product-editor-modal .entry-wrapper .error-add-1{ left: 40px; top: 36px; }
.product-editor-modal .entry-wrapper .error-add-2{ left: 42px; top: 34px; }
.product-editor-modal .entry-wrapper .error-add-3{ left: -9px; top: 134px; }
.product-editor-modal .entry-wrapper .error-add-4{ left: 26px; top: 32px; }
.product-editor-modal .entry-wrapper .error-add-5{ left: 0; top: 68px; }
.product-editor-modal .entry-wrapper .error-add-6{ background-color: transparent !important; color: #ff0000 !important; font-style: normal !important; font-weight: 300 !important; left: 108px; position: absolute; top: 12px; width: 200px; }

.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .uploading-status { position: absolute; top: 24px; right: 49px; font-size: 11px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul { list-style: none none; padding: 0; margin: 11px 0 0;}
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li { display: table; margin: 0 21px 0 0; width: 90px; height: 90px; position: relative; border:1px solid #DDDDDD; background-color: #FFFFFF; float: left; margin-top: 3px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell { vertical-align: middle; text-align: center; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell .thumb-wrapper { width: 90px; height: 90px; overflow: hidden; position: relative;}
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell img { width:90px; position: absolute; top: 50%; -webkit-transform: translateY(-50%) translateX(-50%); left: 50%; transform: translate(-50%, -50%); }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.active { width: 96px; height: 96px; border:3px solid #00A3D9; margin-top: 0; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li input { display: none; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol { width: 22px; height: 22px; position: absolute; top: 33px; left: 33px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol .vertical { display: block; width: 2px; height: 22px; background-color: #00A3D9; position: absolute; top: 0; left: 10px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol .horizontal  { display: block; width: 22px; height: 2px; background-color: #00A3D9; position: absolute; top: 10px; left: 0;  }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image input { display: block; cursor: pointer; width: 90px; height: 90px; position: absolute; top: 0; left: 0; z-index: 2; opacity: 0; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li .img-upload-loader { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat center center; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.uploading .img-upload-loader { display: block; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.uploading img { opacity: 0.4; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.active .action-buttons,
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .action-buttons,
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.active .tbl-cell .thumb-wrapper:hover > .action-buttons,
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .tbl-cell .thumb-wrapper:hover > .action-buttons { display: none; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell .thumb-wrapper:hover > .action-buttons { display: block; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons { display: none; position: absolute; z-index: 3; top: 0; left: 0; width: 100%; height: 100%; background-color: #F9FAFB; padding: 31px 0 0 16px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div { width: 28px; height: 28px; margin-right: 2px; cursor: pointer; float: left; background-color: #FFFFFF; padding: 7px 0 0 7px; border: 1px solid #DDDDDD; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div span { display: block; width: 12px; height: 12px; background: url("/cdn/images/v3/common.png") no-repeat -35px -156px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.isdefault span { background-position: -63px -156px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.isdefault.yes span { background-position: -49px -156px;}
.product-editor-modal .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.trash span { height: 13px; background-position: -35px -156px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper { width: 180px; height: 100%; float: left; padding-top: 19px; }
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper ul { list-style: none none; padding: 0; margin: 16px 0 0;}
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper ul li { float: left; width: 32px; height: 25px; margin: 0 5px 5px 0; }
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper ul li:nth-child(5n) { margin-right: 0; }
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper ul li:hover,
.product-editor-modal .entry-wrapper .image-color-wrapper .color-wrapper ul li.selected { border:2px inset #DDDDDD; }
.product-editor-modal .entry-wrapper .dept-wrapper { margin-left: 46px; margin-bottom: 39px; height: 34px; }
.product-editor-modal .entry-wrapper .dept-wrapper span { line-height: 34px; margin-right: 15px; float: left; }
.product-editor-modal .entry-wrapper .dept-wrapper ul { float: left; width: 788px; list-style: none none; margin:0; padding: 0; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li { float: left; margin-right: 4px; font-size: 12px; height: 34px; line-height: 32px; text-align: center; padding: 0 23.5px; color: #00A3D9; background-color: #FFF; border:1px solid #DDDDDD; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more { font-size: 30px; line-height: 18px; width: 60px; padding: 0; position: relative; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.selected,
.product-editor-modal .entry-wrapper .dept-wrapper ul li:hover { color: #FFF; background-color: #00A3D9; border: 1px solid #00A3D9; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more:hover > div { display: block; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more div { display: none; background-color: transparent; position: absolute; right: -1px; top: 32px; width: 274px; padding: 0; z-index: 10; border-top: 5px solid transparent; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more span { background-color: #FFFFFF; float: left; width: 272px; height: auto; border: 1px solid #DDDDDD; padding: 18px 0 0 18px; cursor: default; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more ul { float: left; width: auto; margin: 0; padding: 0; list-style-type: none; cursor: default; }
.product-editor-modal .entry-wrapper .dept-wrapper ul li.more ul li { float: left; width: auto; height: auto; padding: 0; line-height: 12px; text-align: left; margin: 0 30px 22px 0; border: 0 none; cursor: pointer; }

.product-editor-modal .more-info-wrapper{ background-color: #F2F5F6; padding: 45px 40px; }
.product-editor-modal .more-info-wrapper div{ float: left; width: 592px; min-height: 82px; font-size: 14px; }
.product-editor-modal .more-info-wrapper a{ background-color: #EE666C; float: right; width: 180px; height: 48px; line-height: 48px; text-align: center; font-size:18px; display: block; border-radius: 3px; }

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
