.dd-select.orderstatus { width: 202px; }
#btn-new-orders { margin-left: 7px; float: left; width: 60px; height: 34px; line-height: 34px; text-align: center; border: 1px solid #FFF; background-color: #FFFF4D; color: #4CB817; font-size: 14px; -webkit-border-radius: 1px; border-radius: 1px; cursor: pointer; }

.filter-orderdate { padding-top: 4px; }
#order_date_start { float: left; width: 120px; height: 28px; margin-right: 10px; font-size: 12px; }
#order_date_end { float: left;  width: 120px; height: 28px;  margin-right: 5px; font-size: 12px; }
#orders_content { width: 830px; position: relative; }

.my-tbl .t-center{ text-align: center; }
.my-tbl.orders.scrollpagination { margin: 0; }
.my-tbl.orders .header-row .tbl-cell { color: #777777; padding-bottom: 14px; }
.data-row .tbl-cell.orderno { font-size: 14px; }
.data-row .tbl-cell .name { color: #444444; }
.data-grid.orders .data-row .tbl-cell .country { color: #999999; font-size: 11px; height: auto; }
.my-tbl.orders .data-row .tbl-cell { padding: 16px 0; }
.my-tbl.orders .tbl-cell.paddingleft10 { padding-left: 10px; }
.my-tbl.orders .paddingleft11 { padding-left: 11px; }
.my-tbl.orders .paddingleft12 { padding-left: 12px; }
.my-tbl.orders .paddingleft50 { padding-left: 50px; }
.my-tbl.orders .paddingright4 { padding-right: 4px; }
.my-tbl.orders .data-row.neworder .tbl-cell { border-top:1px solid #FFFF4D; border-bottom:1px solid #FFFF4D; }



.od-delete-wrapper { position: relative; width: 100%; }
.od-delete-wrapper .od-delete-inner { position: absolute; top: -23px; left: -10px; z-index: 2; height: 65px; line-height: 65px; text-align: center; width: 830px; background-color: #CCC; }

.od-btns-wrapper .od-delete { width:60px; height: 100%; float: left; padding-top: 22px; cursor: pointer; border-right: 1px solid #BBBBBB; }
.od-btns-wrapper .od-delete span { width: 16px; height: 18px; display: inline-block; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -40px -62px transparent; }
.od-btns-wrapper.completed .od-delete,
.od-btns-wrapper.cancelled .od-delete  { display: none; }

.my-tbl.orders .data-row:hover > .tbl-cell.ordertotal {  }
.my-tbl.orders .data-row:hover > .tbl-cell .od-btns-wrapper { display: block; }

#orders_content .data-row-bg:nth-child(even) > .tbl-cell { }
.nofounddisp { width: 100%; padding: 80px 0; position: absolute; right: 0; color: #ccc; text-align: center; font-size: 14px; }
.nofounddisp img { display: block; margin: 0 auto; }
.nofounddisp.noab {position: static; float: left; }
