
.my-tbl.customers.scrollpagination { margin: 0; }
.my-tbl.customers .data-row { float: left; margin-bottom: 18px; }
.my-tbl.customers .data-row .tbl-cell { border: 1px solid #DDD; background-color: #FFF; height: 103px; }
.my-tbl.customers .data-row .tbl-cell.customer-details { width:360px; padding: 13px 15px 22px;}
.my-tbl.customers .data-row .tbl-cell.customer-details .thumb { float: left; width: 68px; height: 68px;  background-size: cover; background-repeat: no-repeat; background-color: #F2F5F6; margin-right: 15px; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details { float: left; font-size: 14px; font-weight: 700; color: #BBB; width: 245px; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .custname { color: #444444; font-size: 16px; margin-bottom: 5px; font-weight: 400; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .address {}
.my-tbl.customers .data-row .tbl-cell.customer-details .details .address em { float: left; display: inline-block; width: 7px; height: 10px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -73px -84px; margin: 5px 5px 0 0; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .address span { float: left; width: 233px; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .telno { }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .telno em { float: left; display: inline-block; width: 10px; height: 10px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -80px -84px; margin: 5px 5px 0 0; }
.my-tbl.customers .data-row .tbl-cell.customer-details .details .telno span { float: left; width: 230px; }
.my-tbl.customers .data-row .tbl-cell.customer-email {width:288px; text-align: center; }
.tbl-cell.customer-email a span { display: inline-block; width: 20px; height: 13px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -53px -84px; margin-right: 5px; position: relative; top: 2px; }
.my-tbl.customers .data-row .tbl-cell.ordertotal { width:182px; }
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchases { color: #676767; width: 100%; position: relative; text-align: center; /*padding-right: 36px;*/ }
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchases .currency { font-size: 18px; margin-top: 3px; position: relative; top: -9px; right: -2px;}
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchases .amount { font-size: 30px; }
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchasestxt { font-size: 12px; color: #CCCCCC; margin-top: 2px;  /*padding-left: 36px;*/ }
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchasestxt em { display: inline-block; width: 10px; height: 9px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -90px -84px; }
.my-tbl.customers .data-row .tbl-cell.ordertotal .totalpurchasestxt span { }
.my-tbl.customers .data-row .tbl-cell.ordertotal .productsordered { display: none; cursor:pointer; position: relative; width: 100%; height: 100%; }
.my-tbl.customers .data-row .tbl-cell.ordertotal .productsordered a { position: absolute; top: -11px; left: -1px; width: 183px; height: 105px; line-height: 105px; text-align: center; color: #4CB917; font-size: 16px; font-weight: 400; background-color: #EEEEEE; border: 1px solid #BBBBBB; }
.my-tbl.customers .data-row:hover .totalpurchases { display: none; }
.my-tbl.customers .data-row:hover .tbl-cell.ordertotal .productsordered { display: block; }
.my-tbl.customers .data-row-bg:nth-child(even) > .tbl-cell { background-color: #FFF; }

.promoterlist-wrapper { margin-top: 24px; width: 830px; }
.promoterlist-wrapper .promoter-list { padding: 0; margin: 0; list-style: none none; }
.promoterlist-wrapper .promoter-list li.plist { margin: 0 18px 18px 0; width: 390px; min-height: 133px; float: left; background-color: #FFF; border: 1px solid #EEEEEE; padding: 13px 7px 7px 15px; }
.promoterlist-wrapper .promoter-list li.plist .details { margin-bottom: 11px; }
.promoterlist-wrapper .promoter-list li.plist .details .thumb { float: left; width: 68px; height: 68px; background-size: cover; background-repeat: no-repeat; background-color: #F2F5F6; margin-right: 18px; }
.promoterlist-wrapper .promoter-list li.plist .details .name-products { float: left; width: 280px; }
.promoterlist-wrapper .promoter-list li.plist .details .name { color: #444444; font-size: 16px; font-weight: 400; }
.promoterlist-wrapper .promoter-list li.plist .details .products { color: #777777; font-size: 14px; }
.promoterlist-wrapper .promoter-list li.plist .bottom-wrapper { line-height: 34px; }
.promoterlist-wrapper .promoter-list li.plist .bottom-wrapper .customer-email { float: left; font-size: 14px; }
.promoterlist-wrapper .promoter-list li.plist .bottom-wrapper .customer-email span { display: inline-block; width: 20px; height: 13px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -53px -84px; margin-right: 5px; position: relative; top: 2px; }
.promoterlist-wrapper .promoter-list li.plist .bottom-wrapper .viewshop { float: right; width: 120px; height: 34px; display: block; color: #FFF; background-color: #4CB817; font-size: 16px; font-weight: 400; text-align: center; -webkit-border-radius: 2px; border-radius: 2px; }
.promoterlist-wrapper .promoter-list li.plist ul { padding: 0; margin: 0; list-style: none none; }
.promoterlist-wrapper .promoter-list li.plist ul li { float: left; width: 23px; height: 22px; margin-right: 4px; background-color: #F2F5F6; background-size: cover; background-repeat: no-repeat; }

/* Modal */
.dashboard-modal.orders .prod-title { width: 462px; }
.dashboard-modal.orders .mod-option { width: 444px; }


.dashboard-modal .mod-wrapper-content .inner-content.orders { padding: 45px 35px; }
.dashboard-modal.customers .prod-title h2 { padding: 12px 0 0; }
.dashboard-modal .prod-title div { font-size: 12px; color: #444; line-height: normal; }
.dashboard-modal.customers .my-tbl.data-grid { width: 100%; }
.dashboard-modal.customers .data-row .tbl-cell { padding: 28px 0; }
.dashboard-modal.customers .data-row .tbl-cell.prod .thumb { margin-right: 8px; }
.dashboard-modal.customers .data-row .tbl-cell.prod a { width: 420px; font-size: 16px; font-weight:300; }
.dashboard-modal.customers .data-row .tbl-cell.prod a span { color: #777777; }
.dashboard-modal.customers .data-row .tbl-cell .price-orderdate { margin-right: 22px; width: 175px; float: right; text-align: right; }
.dashboard-modal.customers .data-row .tbl-cell .price-orderdate .price { color: #444; font-size: 16px; font-weight: 700; margin-bottom: 4px; }
.dashboard-modal.customers .data-row .tbl-cell .price-orderdate .orderdate { color: #777777; font-size: 12px; font-weight: 200; }
.dashboard-modal.customers .data-row:nth-child(odd) > .tbl-cell { background-color: #FFF; }

.dashboard-modal.customers .mod-option .orderstatus { float: left; font-size: 14px; color: #444444; line-height: 34px; margin-right: 14px; }
.dashboard-modal.customers .mod-option .orderstatus span { color: #FFF; }
.dashboard-modal.customers .mod-option a { display: inline-block; background-color: #4CBA17; color: #FFF; border: 1px solid #DDDDDD; padding: 8px 16px; float: left; margin-right: 13px; }
.dashboard-modal.customers .mod-option a#btn-cancel-order { margin:0;}
.dashboard-modal.customers .container2 { clear: left; float: left; width: 100%; height: 100%; overflow: hidden; background: #FFFFFF; }
.dashboard-modal.customers .container1 { float: left; width: 100%; position: relative; right: 261px;  background: #F2F5F6; height: 100%; }
.dashboard-modal.customers .container2 .col1 {float: left; width: 739px; position: relative; left: 261px; left: 259px; overflow: hidden; padding: 38px 22px 0; }
.dashboard-modal.customers .container2 .col2 { float: left; width: 261px; position: relative; left: 261px; overflow: hidden; padding:40px 30px 7px; }
.dashboard-modal.customers .container2 .col1 h3 { font-size: 18px;  float: left; font-weight: 400; padding-left: 8px; }
.dashboard-modal.customers .container2 .col2 h4 { color: #000; font-size: 18px; margin: 0; }
.dashboard-modal.customers .container2 .col2 .orderdate-txt { color: #444; font-size: 14px; }
.dashboard-modal.customers .container2 .col2 .orderdate-txt span { color: #999; }
.dashboard-modal.customers .container2 .col2 .lbltxt { color: #444444; font-size: 15px; margin: 28px 0 5px; }
.dashboard-modal.customers .container2 .col2 .details { color: #777777; }
.dashboard-modal.customers .container2 .col2 .details strong { font-weight: 800;}
.dashboard-modal.customers .container2 .col2 .totalpurchases { padding-left: 3px; }
.dashboard-modal.customers .container2 .col2 .totalpurchases .currency { font-size: 18px; margin-top: 3px; position: relative; top: -9px; right: -2px; }
.dashboard-modal.customers .container2 .col2 .totalpurchases .amount { font-size: 30px; }
.dashboard-modal.customers .container2 .col2 .totalpurchasestxt { font-size: 12px; color: #CCCCCC; margin-top: 2px; }
.dashboard-modal.customers .container2 .col2 .totalpurchasestxt em {display: inline-block; width: 10px; height: 9px; background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -90px -84px; }


