#main-content .shopsettings .header-caption { font-size: 18px; font-size: 300; line-height: 25px; color: #777777; }
#main-content .shopsettings .subcaption { font-size: 12px; color: #AAAAAA; font-weight: 300; line-height: normal; }
.general-shopsettings{ max-width: 782px; }
.shopsettings .txt-tooltip{ background: url(/cdn/images/v2/nav-icons.png) no-repeat -242px -215px; position: relative; display: inline-block; width: 13px; height: 13px; margin: 4px 0 0 6px; border: 0 none; }
.shopsettings .txt-tooltip span{ position: absolute; top: -17px; left: 21px; color: #999999; font-size: 11px; width: 400px; }
.shopsettings .hline{ float: left; width: 100%; height: 0; border-top: 1px dotted #000000; margin: 20px 0 29px; padding: 0; }
.shopsettings .save-btn { width: 180px; height: 34px; font-size: 16px; font-weight: 400 !important; float: right; padding: 0; }
.shopsettings .save-btn:hover { border:1px outset #89CE64; }
.shopsettings .columns { padding: 0 !important; }
.shopsettings .columns.width400 { width: 400px; }
.shopsettings .columns.width192 { width: 192px; }
.shopsettings .columns.width138{ width: 138px; }
.shopsettings .columns.width70 { width: 70px; }
.shopsettings .shop-name-box{ padding-right: 19px; }
.shopsettings .url-box { padding-left: 19px; }
.shopsettings input[type="text"] { height: 40px; font-size: 14px; color: #777777; margin: 0; }
.shopsettings textarea { font-size: 14px; color: #AAAAAA; font-weight: 300; margin: 0 0 25px 0; }
.shopsettings .common-field-wrapper .error { bottom: -30px !important; }
.shopsettings .error3 { float: left; width: 100%; font-size: 11px; color: red; }
.shopsettings label .label-txt { color: #444444 !important; float: left; font-size: 14px; margin-bottom: 5px; font-weight: 300; }
.shopsettings label .label-txt2 { color: #777777 !important; font-size: 14px; margin-top: 5px; font-weight: 300; }
.shopsettings label .label-subtxt { color: #999999; font-size: 11px; margin: 3px 0 12px; }
.shopsettings .prefix { background-color: #EDEDED; border:1px solid #E0E0E0; height: 40px; border-right: none; font-size: 14px; font-weight: 300; color: #AAAAAA; text-align: center; }
.shopsettings .postfix { background-color: #FCFDFD; border:1px solid #E0E0E0; height: 40px; border-left: none; font-size: 16px; color: #AAAAAA; padding: 0 18px 0 0; }
.shopsettings .store-url-field .common-field-wrapper input[type="text"] { margin-right: 0 !important; font-size: 16px; }
.shopsettings .store-description { height: 100px; }
.shopsettings .return-policy { height: 200px; } 
.shopsettings .social-wrapper{ margin-bottom: 50px; }
.shopsettings .social-wrapper .soc-lbl{ margin-right: 6px; line-height: 27px; }
.shopsettings .social-wrapper .social-icons{ position: relative; }
.shopsettings .social-wrapper .social-icons .add-social{ background: #00A3D9 !important; position: absolute; top: 0; left: 0; width: 100%; height: 27px; line-height: 27px; z-index: 1; font-size: 12px; text-align: center; display: none; opacity: 1; cursor: pointer; }
.shopsettings .social-wrapper .social-icons:hover .add-social{ display: block; }
.shopsettings .social-wrapper .social-icons span{ background: url(/cdn/images/v2/nav-icons.png) no-repeat -249px -103px; float: left; width: 27px; height: 27px; display: block; margin-right: 4px; }
.shopsettings .social-wrapper .social-icons span.gplus{ background-position: -280px -103px; }
.shopsettings .social-wrapper .social-icons span.in{ background-position: -311px -103px; }
.shopsettings .social-wrapper .social-icons span.tw{ background-position: -342px -103px; }
.shopsettings .social-wrapper .social-icons span.pt{ background-position: -373px -103px; }
.shopsettings .social-wrapper .social-icons span.fb.active{ background-position: -249px -131px; }
.shopsettings .social-wrapper .social-icons span.gplus.active{ background-position: -280px -131px; }
.shopsettings .social-wrapper .social-icons span.in.active{ background-position: -311px -131px; }
.shopsettings .social-wrapper .social-icons span.tw.active{ background-position: -342px -131px; }
.shopsettings .social-wrapper .social-icons span.pt.active{ background-position: -373px -131px; }

/* Get Paid */
.maxwidth780 { width: 100%; max-width: 780px; }
.shopsettings .paypalemail-wrapper { margin: 26px 0 0; height: 38px; line-height: 38px; min-width: 654px; }
.shopsettings .paypalemail-wrapper .paypal-email-lbl-box{ max-width: 162px; }
.shopsettings .paypalemail-wrapper .paypal-email-box{ max-width: 382px; }
.shopsettings .paypalemail-wrapper .paypal-email-box span{ color: #999999; line-height: 16px; margin-top: 8px; }
.shopsettings .paypalemail-wrapper .paypal-email-btn-box{ max-width: 225px; padding-left: 11px; }
.shopsettings .paypalemail-wrapper .update-paypal-email { width: 100px; height: 34px; font-size: 16px; padding: 0; margin-top: 2px; border: 0 none; font-weight: 300 !important; }
.shopsettings .paypalemail-wrapper .paypal-logo { float: left; width: 95px; height: 26px; display: block; background: url(/cdn/images/v2/nav-icons.png) no-repeat -305px -186px; margin-top: 6px; }
.shopsettings .paypalemail-wrapper .email-lbl { float: left; font-family: Arial; font-size: 18px; color: #003D8A; margin: 0 11px 0 2px; }
.shopsettings .paypalemail-wrapper input { width: 382px; height: 38px; float: left; }
.shopsettings .paypalemail-wrapper .common-field-wrapper { float: left; height: 64px; }
.shopsettings .vendor-info-wrapper {  }
.shopsettings .vendor-info-wrapper .left-column{ padding-right: 19px; }
.shopsettings .vendor-info-wrapper .right-column{ padding-left: 19px; }
.shopsettings .vendor-info-wrapper .vendor-info-caption { color: #666666; font-size: 14px; margin-bottom: 8px; }
.shopsettings .vendor-info-wrapper .large-4 { width: 240px !important; }
.shopsettings .vendor-info-wrapper .large-4.center-column { margin-left: 28px; }
.shopsettings .vendor-info-wrapper label .label-txt { font-size: 14px; color: #444444 !important; margin-bottom: 4px; display: block; }
.shopsettings .vendor-info-wrapper label .label-txt span { color: #878787; }
.shopsettings .vendor-info-wrapper label select,
.shopsettings .vendor-info-wrapper label input { height: 42px; margin-bottom: 23px; }
.shopsettings .vendor-info-wrapper label textarea { height: 82px; }
.shopsettings .vendor-info-wrapper label select { background-position: 380px center !important; }

.claimed-sales-history{ max-width: 780px; height: 100%; border-top: 1px dotted #000000; margin-top: 50px; }
.claimed-sales-history .tbl-left{ height: 100%; min-height: 320px; padding: 32px 38px 0 0; border-right: 1px dotted #000000; }
.claimed-sales-history .claimed-tbl{ height: 64px; line-height: 64px; border-bottom: 1px dotted #D8D8D8; }
.claimed-sales-history .tbl-left .sales-history{ font-size: 14px; font-weight: 400; color: #000000; }
.claimed-sales-history .tbl-left .total-sales{ text-align: right; color: #444444; font-size: 14px; padding-right: 18px; }
.claimed-sales-history .tbl-left .total-sales span{ font-size: 12px; color #777777; }
.claimed-sales-history .tbl-left .claimed-date{ color: #999999; }
.claimed-sales-history .tbl-left .claimed-date .sortby{ background-color: #F5F5EC; border: 1px solid #DDDDDD; position: relative; font-size: 12px; width: 113px; height: 24px; line-height: 22px; display: inline-block; padding: 0 6px; margin-left: 2px; border-radius: 2px; cursor: pointer; }
.claimed-sales-history .tbl-left .claimed-date .sortby .arrow{ background: url(/cdn/images/v2/nav-icons.png) no-repeat -258px -215px; position: absolute; top: 9px; right: 7px; width: 9px; height: 6px; display: block; }
.claimed-sales-history .tbl-left .claimed-date .desc .arrow{ background-position: -258px -215px; }
.claimed-sales-history .tbl-left .claimed-date .asc .arrow{ background-position: -270px -215px; }
.claimed-sales-history .tbl-left .amount-claimed{ width: 144px; text-align: center; font-size: 14px; }
.claimed-sales-history .tbl-left .t-head .claimed-date, .claimed-sales-history .tbl-left .t-head .amount-claimed{ font-size: 12px; }
.claimed-sales-history .tbl-right{ height: 100%; padding: 32px 0 0 40px; }
.claimed-sales-history .tbl-right strong{ font-size: 14px; color: #000000; margin-bottom: 11px; }
.claimed-sales-history .tbl-right .amount{ color: #999999; font-size: 30px; margin-bottom: 20px; }
.claimed-sales-history .tbl-right button{ width: 140px; height: 34px; padding: 0; margin: 0 0 12px; border-radius: 1px; }
.claimed-sales-history .tbl-right .min-allowed{ color: #999999; max-width: 150px; }

/* Global Shippin Settings */

.shopsettings select { appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; padding-right: 26px; border-color: #e0e0e0; background: url(/cdn/images/v2/selector-arrow.png) no-repeat scroll 0 0 transparent; }
.shopsettings .mystyled-select { border: 1px solid #E0E0E0; box-sizing: border-box;  overflow: hidden; position: relative; margin-bottom: 16px; }
.shopsettings .mystyled-select select { border: 0 none; margin-bottom: 0 !important; width: 108.3%; }
.shopsettings .mystyled-select select:focus { box-shadow:  none !important; outline: none; }
.shopsettings span.arrow { background: url(/cdn/images/v2/nav-icons.png) no-repeat -258px -215px transparent; margin: 0 !important; display: block; position: absolute; top: 18px; right: 12px; width: 9px; height: 6px; border: 0 none !important; }
.shopsettings .vendor-info-wrapper .common-field-wrapper{ float: left; position: relative;  width: 100%; }

.shipping-settings{ width: 794px; }
.shopsettings .additional-info-wrapper { margin-top: 2px; }
.shopsettings .additional-info-wrapper .left-ai { float: left; width: 291px; }
.shopsettings .additional-info-wrapper .left-ai .shipsfrom input{ margin: 0 0 32px; }
.shopsettings .additional-info-wrapper .left-ai div select{ margin: 0; }
.shopsettings .additional-info-wrapper label { width: 109px; line-height: 26px; font-size: 12px; float: left; }
.shopsettings .additional-info-wrapper .left-ai input[type="text"],
.shopsettings .additional-info-wrapper .left-ai select  { width:182px; height: 28px; border: 1px solid #E0E0E0; background-color:#FFF; color: #545454; font-size: 12px; padding: 2px 8px; }
.shopsettings .additional-info-wrapper .left-ai select { padding-left: 4px; background-position: 160px center; }
.shopsettings .additional-info-wrapper .left-ai input[type="text"][disabled] { background-color: #F6F6F6; color: #545454; }
.shopsettings .additional-info-wrapper textarea { width: 320px; height: 86px; float: left; margin: 0 0 0 19px; font-size: 12px; }

.shopsettings .update-btn { margin: 0; padding: 0; text-align: center; color: #FFF; font-size: 14px; height: 26px; line-height: 26px; }
.shopsettings table { position: relative; margin-top: 25px; border:0 none; border-collapse: collapse; border-bottom: 0 none; background-color: transparent; }
.shopsettings table tr { }
.shopsettings table td { padding: 0; }
.shopsettings table tr td:first-child { border-left:1px solid #F5F5EC; }
.shopsettings table tr td:last-child { border-right:1px solid #F5F5EC; }
.shopsettings tr.headtitle td { background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; border-top:1px solid #F5F5EC; background-color: #FFF; font-size: 14px !important; height: 49px; color: #444444 !important; font-weight: 300 !important; border-bottom: 1px solid #EEEEEE; }
.shopsettings tr.headtitle td span{ font-size: 12px; font-weight: 300; display: inline; margin-left: 20px; }
.shopsettings tr.data td { padding: 25px 0 30px; background-color: #FFF; vertical-align: top; border-bottom:1px solid #F5F5EC; }
.shopsettings table td.col1 { padding-left: 30px; font-weight: 400; font-size: 12px;}
.shopsettings table td.col2 {  }
.shopsettings table td.col3 {  }
.shopsettings tr.data.hide {display: none; }
.shopsettings tr.data td.col1 { padding-top: 30px;  }
.shopsettings tr.data td.col3 { padding-top: 28px; }
.shopsettings tr.data.noborder { border: 0 none;}
.shopsettings table tr.hide { display: none; }
.shopsettings table tr.add-country td { border-bottom: 1px solid #EEEEEE; height: 81px; padding:15px 0 0 31px;}
.shopsettings table tr.add-country select { height: 26px; margin-right: 9px !important; padding: 0 0 0 0; padding-left: 5px; float: left; font-size: 12px; color: #00A3D9; }
.shopsettings table tr.add-country button { position: relative; top: -6px; width: 156px; height: 38px; }
.shopsettings tr.customized-col td { height: 81px; background-color: #F6F6F6; text-align: center; vertical-align: middle; padding: 0 29px; color: #AAAAAA; font-size: 14px; border-bottom:1px solid #F5F5EC; }
.shopsettings tr.customized-col.hide { display: none; } 
.shopsettings table tr.legend-col { background-color: transparent !important; }
.shopsettings table tr.legend-col td { text-align: right; border:0 none; color: #AAAAAA; font-size: 12px; height: 40px; background-color: transparent !important; }
.shopsettings .more-service-level-info{ font-size: 11px !important; margin-left: 0 !important; position: absolute; top: 11px; right: 22px; width: 160px; line-height: 12px; }
.shopsettings .select { width: 170px; height: 26px; line-height: 26px; font-size: 13px; display: inline-block; position: relative; padding-left: 8px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background: url(/cdn/images/v2/select-arrowdown-bg.png) no-repeat 150px center #00A3D9; }
.shopsettings .select em { font-style: normal; }
.shopsettings .select .outer {position: absolute; top: 25px; z-index: 2; left: 0; display: none; }
.shopsettings .select .opts { background-color:#EEE; margin-top: 2px;  width: 170px; /*height: 105px;*/ border:1px solid #CCCCCC; }
.shopsettings .select .opts div { min-height: 29px; border-bottom: 1px solid #CCC; padding-left: 8px; }
.shopsettings .select .opts div.noborder { border:0 none; font-size: 11px; line-height: 14px; height: 43px; }
.shopsettings .select .opts div.noborder span { display: block; font-size: 13px; padding-top: 6px;}
.shopsettings .select .opts div.noborder.auto { line-height: inherit; height: auto; min-height: 29px; font-size: inherit; padding-left: 0; }
.shopsettings .select .opts div.noborder.auto span { color: #333; padding-top: 0; padding-left: 8px; }
.shopsettings .select .opts div.noborder.auto div { border: 0 none; height: 27px; line-height: 27px; padding-left: 18px; }
.shopsettings .select .opts div:hover,
.shopsettings .select .opts div.selected { background-color: #FFF;}
.shopsettings .select .opts div.auto:hover { background-color: transparent; }
.shopsettings .select:hover > .outer { display: block; }

.shopsettings table td.col3 .so-wrapper { position: relative; }
.shopsettings table td.col3 .shipping-option-wrapper { float: left; width: 89px; margin-right: 33px; }
.shopsettings table td.col3 label { height: 20px; line-height: 20px; margin-bottom: 15px; }
.shopsettings table td.col3 .shipping-option-wrapper.last { margin: 0; }
.shopsettings table td.col3 .selections { width: 20px; height: 20px; float: left; position: relative; overflow:hidden; margin: 0 8px 0 0; }
.shopsettings table td.col3 .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; }
.shopsettings table td.col3 .radio-wrapper { background: url("/cdn/images/v2/radiobutton-unselected.png") no-repeat;  }
.shopsettings table td.col3 .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-blue-checked20x20-bg.png"); }
.shopsettings table td.col3 .radio-wrapper.checked { background-image: url("/cdn/images/v2/radiobutton-selected.png"); }
.shopsettings table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly.checked { background-image: url(/cdn/images/v2/cb-gray-checked-bg.png);  }
.shopsettings table td.col3 .shipping-option-wrapper.disabled .checkbox-wrapper,
.shopsettings table td.col3 .shipping-option-wrapper .checkbox-wrapper.disabled,
.shopsettings table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly { background-image: url("/cdn/images/v2/cb-gray-unchecked-bg.png"); }
.shopsettings table td.col3 .shipping-option-wrapper.disabled label span { color: #BBBBBB;}
.shopsettings table td.col3 .shipping-option-wrapper.disabled .input-wrapper span { color:#BBBBBB;}
.shopsettings table td.col3 .shipping-option-wrapper .input-wrapper.disabled span { color:#BBBBBB;}
.shopsettings table td.col3 .shipping-option-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.shopsettings table td.col3 .shipping-option-wrapper .input-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.shopsettings table td.col3 .checkbox-wrapper input,
.shopsettings table td.col3 .radio-wrapper input { width: 20px; height: 20px; opacity: 0; margin: 0; }
.shopsettings table td.col3 .input-wrapper { width: 86px; height: 26px; position: relative; overflow: hidden; }
.shopsettings table td.col3 .input-wrapper.hide { display: none; }
.shopsettings table td.col3 .input-wrapper span { color: #545454; font-size: 13px; position: absolute; line-height: 26px; left: 7px; }
.shopsettings table td.col3 input[type="text"] { width: 86px; height: 26px; padding: 0 0 1px 14px; font-size: 12px; color: #545454; }
.shopsettings table td.col3 label span { font-size: 12px; font-weight: 300; }
.shopsettings table td.col3 a { display: block; width: 18px; height: 18px; position: absolute; top: 0px; right: 22px; background: url(/cdn/images/v2/delete-gray-icon.png); }
.shopsettings tr.error-shipping td { background-color: #FFFFFF; color:#FF0000; text-align: center; border: 0 none; font-size: 11px; font-weight: 400px !important; font-style: italic; height: 100px; }
.shopsettings table tr.add-country .error-shipping { float: right; color:#FF0000; font-size: 11px; font-weight: 400px !important; font-style: italic; margin-right: 60px; }

.shopsettings .ac-shipping-txtwrapper { font-size:12px; color:#999999; }
.shopsettings .ac-shipping-txtwrapper .carrier-txt { font-size:16px; font-weight:400; color:#666666; float:left; padding-right:8px; min-width:50px; }
.shopsettings .ac-shipping-txtwrapper span { float:left; max-width:360px; }

/* Taxes */
.shopsettings .tax-subcaption { font-size: 14px; color: #444444; font-weight: 400; margin-top: 8px; margin-bottom: 12px; }
.shopsettings .tax-wrapper { margin: 0; list-style: none none; }
.shopsettings .tax-wrapper li { background-color: #FFF; color: #444444; font-size: 16px; font-weight: 500; width: 582px; border: 1px solid #EEEEEE; padding: 13px 21px 21px 19px; margin-bottom: 30px; position: relative; }
.shopsettings .tax-wrapper li .delete-btn { display: block; width: 18px; height: 18px; position: absolute; top: 16px; right: 23px; background: url(/cdn/images/v2/nav-icons.png) no-repeat -55px -108px; cursor: pointer; }
.shopsettings .tax-wrapper li .state-name { line-height: 23px; height: 23px; margin-bottom: 23px; }

.shopsettings .tax-wrapper li.addstate-wrapper { height: 100px; min-height: 100px; padding: 31px 21px 31px 19px; }
.shopsettings .tax-wrapper li.addstate-wrapper label,
.shopsettings .tax-wrapper li.addstate-wrapper .common-field-wrapper { display: inline-block; }
.shopsettings .tax-wrapper li.addstate-wrapper select { width: 492px; height: 38px; background-position: 472px center !important; }
.shopsettings .tax-wrapper li .add-state-btn { float: right; width: 40px; height: 34px; padding: 0; margin: 2px 0 0; -webkit-border-radius: 2px; border-radius: 2px; }
.shopsettings .tax-wrapper li .add-state-btn .bg { width: 18px; height: 18px; display: block; margin: 0 auto; line-height: 18px; background: url(/cdn/images/v2/nav-icons.png) no-repeat -18px -63px; cursor: pointer; }

.shopsettings .tax-wrapper li .addcityzip-wrapper { }
.shopsettings .tax-wrapper li .addcityzip-wrapper.error .error { margin: 0 !important;}
.shopsettings .tax-wrapper li .city,
.shopsettings .tax-wrapper li .zip_code { width: 242px; height: 38px; border:1px solid #DDD; color: #777777; float: left; margin:0 8px 0 0 !important; }
.shopsettings .tax-wrapper li .zip_code { margin: 0; }
.shopsettings .tax-wrapper .added-cityzip-wrapper input { color: #AAAAAA; background-color: #F2F5F6; border:1px solid #DDDDDD; }
.shopsettings .tax-wrapper .added-cityzip-wrapper div { width: 538px; height: 38px; margin-bottom: 12px;  }
.shopsettings .tax-wrapper .added-cityzip-wrapper div:after,
.shopsettings .tax-wrapper .added-cityzip-wrapper div:before { content: " "; display: table; }
.shopsettings .tax-wrapper .added-cityzip-wrapper div:after { clear: both; }
.shopsettings .tax-wrapper .added-cityzip-wrapper div span { width: 38px; height: 31px; display: block; float: right; border:1px solid #DDD; background-color: #EEE; margin-top: 4px; -webkit-border-radius: 2px; border-radius: 2px; }
.shopsettings .tax-wrapper .added-cityzip-wrapper div span em { display: block; width: 16px; height: 18px; margin: 6px auto 0; background: url(/cdn/images/v2/nav-icons.png) no-repeat -40px -62px; cursor: pointer; }

/* Profile Modal: Social network form */
#profileview-modal { display: none; position: absolute; top: 40px; left: 0; z-index: 999999999; width: 360px; min-height: 370px; max-height: 486px; line-height: 19px; margin: 0 auto; background-color: #FFF; border:1px solid #DDDDDD; color: #444444; font-size: 16px; padding: 24px 29px 30px; }
#profileview-modal.loader { background: url(/cdn/images/v3/colshopstyx-64.gif) center center no-repeat scroll #FFF; }
#profileview-modal .form-caption { }
#profileview-modal ul { margin: 0; padding: 0; list-style: none none;  width: 100%; }
#profileview-modal ul li { width: 100%; height: 40px; border: 1px solid #DDDDDD; margin: 20px 0 0; position: relative; }
#profileview-modal ul li span { width: 27px; height: 27px; display: block; background: url('/cdn/images/v3/social-icons.png') scroll no-repeat 0 0; float: left; margin: 4px 0 0 4px; }
#profileview-modal ul li input { float: left; width: 267px; height: 100%; margin: 0; border: 0 none; padding: 8px 15px; font-size: 12px;  box-shadow:none; background:transparent; border:0 none;}
#profileview-modal ul li input[type="text"]:focus { box-shadow:none; background:transparent; border:0 none;}
#profileview-modal ul li input[type="text"]::-webkit-input-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]:-moz-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]::-moz-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]:-ms-input-placeholder { color: #CCCCCC;  }
#profileview-modal ul li.blog input {  width: 100%; padding: 8 15px; }
#profileview-modal ul li span.in { background-position: -27px 0; }
#profileview-modal ul li span.gplus { background-position: -54px 0; }
#profileview-modal ul li span.tw { background-position: -81px 0; }
#profileview-modal ul li span.pt { background-position: -108px 0; }
#savebtn-profile-sociallinks { width: 110px; height: 34px; line-height: 34px; background-color: #00A3D9; color: #FFF; font-size: 14px; float: right; margin:18px 0 0; text-align: center; cursor: pointer; padding: 0; }
#savebtn-profile-sociallinks:hover { border: 1px outset #FFF; }



