select { font-size: 12px; appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; background-image: none; background-repeat: no-repeat; background-position: 180px center; padding-right: 26px; }
textarea:focus { background-color: transparent !important; }

.checkout-wrapper.cart .merchtop div.right span.close { background: none; }
.checkout-wrapper.cart .merchtop div.right span.close * { display: inline-block; width: 9px; height: 9px;}

.cart { padding: 0; }
.cart .merchtop h3 { font-weight: 500; }

.cart .merchtop div.right span.close { background: none; }
.smerch .merchbtm textarea { border: none; padding: 0; }
.smerch .merchbtm .chko { display: none; }
.chkout .redbtn { border-width: 1px; border-style: solid; }

.header-bg div.opt-wrapp1:first-of-type{
	padding-left: 0;
}

.header-bg div.opt-wrapp1:last-of-type{
	padding-right: 0;
}

.checkout-wrapper.cart .chkout img.cards,
.checkout-wrapper.cart .chkout img.paypallogo  {
	display: block;
}

.list-label { font-size: 16px; font-weight: bold; margin: 0 0 29px; }

.savedproducts-wrapper .product-listing .listing ul { margin-bottom: 26px; }
.savedproducts-wrapper .product-listing .listing ul li { margin-bottom: 105px; }
.savedproducts-wrapper .product-listing .listing ul li .action-btns { height: 66px; width: 100%; position: absolute; bottom: -67px; left: 0; padding: 18px 0 0 0; font-size: 12px; font-weight: 400; }
.savedproducts-wrapper .product-listing .listing ul li .action-btns div { cursor: pointer;}
.savedproducts-wrapper .product-listing .listing ul li .action-btns .addtocart-btn { float: right; width: 142px; height: 30px; line-height: 30px; text-align: center; }
.savedproducts-wrapper .product-listing .listing ul li .action-btns .remove-saveproduct-btn { float: right; line-height: 30px; margin-right: 30px; }