@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;margin: 0px auto;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

.hide{ display: none !important; }

.image-logo{ background-position: left center; background-repeat: no-repeat; background-size: contain; width: 150px; height: 43px; margin: 3px 0 0 2px; display: block; position: fixed; }

#type4-wdgt-wrapper{
float: left;
width: 160px;
height: 600px;
margin: 0;
position: relative;overflow: hidden;}

#type4-main-top, #slideshow-top{ height: 49px; line-height: 49px; width: 156px; padding: 0 2px; position: relative; overflow: hidden; }
#type4-title-wrapper{line-height: 49x;text-align: center;font-size: 25px;font-weight: bold;}
#type4-title-wrapper label:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; cursor: pointer; }
#type4-main{height: 600px;
width: 160px;
display: block;
position: relative;
background-repeat:  no-repeat; -webkit-background-size: cover;
background-position:center center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

/*Splash*/

#type4-splash-center{height: 69px;width: 160px;position: absolute;bottom: 70px;text-align: center;display: block;}
#shopnow-button{line-height: 69px;font-size: 25px;font-weight: bold;text-decoration: none;height: 69px;display: block; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#shopnow-button:hover{filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.shop-now-wrapper { height: 100% !important; bottom: 0 !important; top: 0 !important;}
/*Slideshow*/
#type4-slideshow-center{ width: 160px;text-align: center;display: block;}
#slideshow-ptitle{ float: left; position: relative; height: 49px; width: 160px; display: table;}
#slideshow-ptitle h1{ color: #000; display: table-cell; font-size: 15px; vertical-align: middle; text-align:center; }
#slideshow-wrapper{ float: left; position: relative; width: 160px; height: 176px; }
#slideshow-image{ width: 160px; height: 131px; }
#slideshow-buy-wrapper{ position: absolute; bottom: 0; width: 160px; height: 45px; }
#slideshow-pdescription{ float: left; position: relative; width: 160px; height: 264px; }
#slideshow-pagination{ float: left; position: relative; width: 160px; height: 140px; }
#slideshow-title-div{position:absolute; top: 0; left: 0; z-index: 20; display:inline-table;vertical-align: middle;width: 160px; }

#slideshow-each-title-div-top{ position: absolute; top: -48px; left: 0; width: 160px; height: 48px; overflow: hidden;}

#slideshow-title-top {
	display: table-cell;
	height: 48px;
	vertical-align: middle;
}

#slideshow-title-top label{ font-size: 15px; padding: 0 4px 0 10px; display: block; height: 36px; overflow: hidden;}
.slideshow-buynow{ background: url("../../../images/widgetstore_images/new-window-icon.png") no-repeat scroll center right transparent; position: absolute; top: 144px; font-weight: bold; height: 16px; line-height: 16px; text-align: left; width: 79px; text-decoration: underline; cursor: pointer}
.left-zero{ left: 0; }
/*listing*/
#wdgt-category-wrapper{
	height: 31px;display:block;position: relative; z-index: 99;
}
#category-wrapper-inside{ position: absolute; top: 0; left: 0; height: 31px; width: 140px; padding: 0px 10px; z-index: 99;}
.wdgt-categories{display: inline-block;line-height: 31px;font-size: 11px;float: left;}
#category-icon-link{display: table;float: right;height:31px;width: 22px;}
.icons-symbol{width: 22px;height: 14px;display: table-cell;vertical-align: middle;}
.icons-symbol .symbol{width: 22px;height: 3px;display: block;vertical-align: middle;margin-top: 3px;}

/*ul lists*/
.type4-items{position: relative; height: 228px; overflow: hidden;}
#type4-category-list{ display: block; position: relative; z-index: 0;}
.type4-items-details{height: 212px;display: block;padding:8px 8px 8px 0;}
.item-title{font-size: 15px;font-weight:bold;line-height:19px; padding-left: 8px;max-height: 41px;overflow: hidden;}
.type4-items-price{font-size: 12px;line-height: 16px; padding: 3px 0 8px 8px;}
.oldprice{ text-decoration: line-through; margin-left: 5px; font-size: 11px; }
.type4-items-wrapper{position: relative;bottom:0px;display: block;height: 174px;width:160px;background-repeat: no-repeat;background-position: center center;background-size: cover;}
.horizontal-line {
height: 1px;
display: block;
position: relative;
}
.bottom-line-wrapper{ width: 160px; height: 10px; position: relative; z-index: 10;}
.bottom-line{ width: 160px; height: 5px; background-color: red; display: block;}
.pro-checkout{height: 29px; width: 99px; line-height: 29px; font-weight: bold; text-indent: 11px; display: inline-block; position: absolute; bottom:8px; right:0; cursor: pointer; 
background-image: url("../../../images/widgetstore_images/new-window-icon.png");background-repeat: no-repeat;background-position: 70px center; text-decoration: none; }
.pro-checkout:hover{ filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9; }
/*pagination*/
#pagination{height: 600px;display: block;text-align: center;margin-top: 1px; padding-top: 4px;}
#pagination ul{height: 38px;display: inline-table;vertical-align: middle;}
#pagination ul li{padding:0px 4px;display: table-cell;vertical-align: middle;}
#pagination ul li:last-child {margin-right: 22px;}
#pagination ul .page-button{list-style: none;font-size: 11px;}
#pagination ul .page-button:hover{cursor: pointer;text-decoration: underline;}
#pagination ul .pagination-num-wrapper{list-style: none;
width: 15px;text-align: center;font-size: 11px;}
#pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}
#pagination ul li .pagination-box:HOVER {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
background-color: #ED4595;
}
#pagination ul .pagination-num{visibility: hidden;}

#pagination ul .pagination-num .pagination-box:hover{visibility: visible;}


/*categories */
#category-list-wrapper{height: 531px;display: block;overflow: hidden;position: relative;z-index: 5;}
.type4-category-items{height: 133px;width:160px;display: block;position: relative; overflow:hidden; }
.items-wrapper{background-position: center 50%; background-repeat: no-repeat; height: 133px;width:160px;display: block; background-size: contain; cursor: pointer; }
.items-wrapper:hover{ filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
.type4-category-items .items-label{position: absolute; bottom: 11px; padding: 2px 2px; font-size:11px; line-height:12px; opacity:0.8; filter:Alpha(opacity=80); text-transform: uppercase;}
.topbar{ background-color: #000; position: absolute; top: 0; z-index: 99; width: 160px; display: block; height: 1.5px; }
.bottombar{ background-color: #000; position: absolute; bottom: 0; z-index: 99; width: 160px; display: block; height: 1.5px; }
.rightbar{ background-color: #000; position: absolute; right:0; top: 0; z-index: 999; width: 6px; display: block; height: 133px; }
.leftbar{ background-color: #000; position: absolute; left:0; top: 0; z-index: 999; width: 6px; display: block; height: 133px; }

.list-type2, .list-type2 .items-wrapper{ height: 266px; }
.list-type2 .rightbar, .list-type2 .leftbar{ height: 266px; }
.spacing-right{ left: 13px; max-width: 130px;}
.spacing-left{ left: 14px; max-width: 128px; }

.list-type3, .list-type3 .items-wrapper{ height: 177px; }
.list-type3 .rightbar, .list-type3 .leftbar{ height: 177px; }
.type4-category-items:first-child .topbar, .type4-category-items:last-child .bottombar{ height: 3px; }
.type4-category-items:first-child .rightbar{ top: 1.5px; }

/*footer*/
#type4-footer{min-height: 17px;
width: 160px;z-index:6;
display: block;
position: absolute;
bottom: 0px;
text-align: center;
font-size: 9px;
vertical-align: middle;
line-height: 17px;}
#type4-footer a{ text-decoration: none; }
#type4-footer a:hover{ text-decoration: underline; }
#main-footer-logo {
font-size: 13px;
margin-left: 0;
vertical-align: middle;
line-height: 17px;
display: inline-block;
height: 20px;
}

.show-listing{ width: 100%; height: 100%; text-align: center; position: relative; }
.show-product-btn{display: inline-block; cursor: pointer; padding: 3px 6px; font-size: 11px; text-align: center;position: relative; text-decoration: none; top: 40%;}

.wdgt-product-pagination{ width: 100%;}
.wdgt-product-pagination ul{}
.wdgt-product-pagination ul li{ display: inline-block; padding: 0 !important;}
.wdgt-product-pagination ul li a{text-decoration:none; width: 10px; height: 10px; margin: 0 4px; display: block; }
.wdgt-product-pagination ul li a span{display: none; font-size: 11px; text-align: center; margin-top: -14px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-product-pagination ul li a.selected {}
.wdgt-product-pagination ul li a.selected span{display: block;}
.wdgt-product-pagination .wdgt-prev, .wdgt-product-pagination .wdgt-next{ text-decoration: none; display: inline-block; font-size: 11px; padding: 12px 2px 0;}
.wdgt-product-pagination .wdgt-prev:hover, .wdgt-product-pagination .wdgt-next:hover{text-decoration: underline; cursor: pointer}
.wdgt-product-pagination .wdgt-prev-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-next-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-prev-disabled:hover{ cursor: default; }
.wdgt-product-pagination .wdgt-next-disabled:hover{ cursor: default; }

.topbar2{ background-color: #000; position: absolute; top: 0; z-index: 99; width: 160px; display: block; height: 0.5px; }
.bottombar2{ background-color: #000; position: absolute; bottom: 0; z-index: 99; width: 160px; display: block; height: 0.5px; }

/* Preloader */
#fountainG{height:17px;position:relative;width:140px; margin:0 auto; }


.fountainG{
position:absolute;
top:0;
background-color:#000000;
width:17px;
height:17px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:12px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:12px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:12px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:12px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:12px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainG_2{
left:18px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainG_3{
left:35px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fountainG_4{
left:53px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fountainG_5{
left:70px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fountainG_6{
left:88px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fountainG_7{
left:105px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fountainG_8{
left:123px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}
/**/

#preloader-wrapper{background:transparent;height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder { display: table; width:100%; height:100%; }
#preloader-wrapper #preloader-center { display: table-cell; vertical-align: middle;}
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }


#img-details-container{ height: 37px; display: block; position: relative; z-index: 10; }

#img-details-container ul { float: left; width: 300px; /* height: 239px; */ }
#img-details-container ul li{ background-size: cover; background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;}
#img-details-container ul li.slideshow-image { position: absolute; top: 0;}
.slideshow-product-desc{ position: absolute; top:191px; text-align: left; width: 138px; line-height: 16px; padding: 0 11px; overflow: hidden; }
.slideshow-image{ height: 131px; width: 160px;  background-size: cover; background-position: center 50%; background-repeat: no-repeat;}

.wdgt-prod-price-bg{ font-size: 14px; font-weight: bold; text-align: center; line-height: 70px; display: block; height: 70px; left: 6px; margin: 0; padding: 0; position: absolute; top: 95px; width: 70px; z-index: 5; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }
.wdgt-prod-price-bg-back{ display: block; height: 70px; left: 9px; margin: 0; padding: 0; position: absolute; top: 96px; width: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.wdgt-prod-price{ position: absolute; z-index: 10; top: 170px; left: 7px; color: #ffffff; font-size: 16px; font-weight: bold; width: 80px; }
.wdg-price-wrapper-inside { display: table-cell; vertical-align: middle; height: 70px; width: 70px; text-align: center; }
.wdgt-prod-price-bg .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
.wdgt-prod-price-bg .sale-price{ width: 100%; text-align: center; line-height: 14px;}
#circled-price .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
#circled-price .sale-price{ width: 100%; text-align: center; line-height: 14px;}
#circled-price .wdg-price-wrapper-inside{ width: 80px; height: 80px; }
.wdgt-old-price{ text-decoration: line-through; font-weight: normal; margin-left: 8px; font-size: 11px; }
.wdgt-prod-title { font-size: 18px; width: 195px; position: relative; top: 178px; left: 90px; }
.wdgt-prod-title span{ width: 190px; position: absolute; top: 0; left: 0; }
.wdgt-prod-title span label{ display: inline-block; padding: 3px 5px; color: transparent; line-height: 20px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-prod-title:hover span label{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-prod-title a{ display: inline-block; padding: 3px 5px; text-decoration: none; line-height: 20px; width: 185px; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); position: absolute; top: 0; left: 0; z-index: 5; }
#nav{ height: 14px; margin: 0 4px 0 14px; overflow: hidden; position: absolute; text-align: center; top: 455px; width: 142px; z-index: 20; }
#nav a { display: inline-block; margin: 0 10px 10px 0; vertical-align: top; width: 10px; height: 10px; text-decoration: none; color: transparent; text-align: center; }
#nav a.activeSlide { font-size: 9px; display: inline-block; margin: 0 10px 0 0; width: 12px; line-height: 12px; height: 12px; text-decoration: none; text-align: center; }


#details-upper-menu{ position: absolute; height: 37px;display: block; position: absolute; top: 0; z-index: 10;}
#details-upper-menu ul{display: inline;}
#details-upper-menu ul li{list-style-type: none;list-style: none;float: left;border-right: 1px solid;}
#details-upper-menu ul li:last-child{border-right:none;}
.details-upper-menus{ height:37px;line-height: 37px;padding: 0px 12px;display: inline-block;text-decoration: none;}
.details-upper-menus:hover, .details-upper-menus-active{ height: 40px; margin-left: -1px; padding: 0 12px 0 13px;}
#details-image-info-container{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; position: absolute; top: 94px; height: 168px; width: 300px; }

#details-title-wrapper{position:absolute;left: 10px;top:16px;width: 244px;display: inline-block;}
#details-title{font-size: 22px; display:inline-block;opacity:0.8;filter:Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);padding: 2px 4px 4px;
}
#description-details-wrapper { position: absolute; top: 274px; left: 0; }
#description-details{ font-size: 12px;line-height: 16px; height: 165px;display: block;padding: 0 10px;position: relative;width: 280px; overflow:hidden;}
#description-details-wrapper .jspTrack{ height: 163px !important; }
#description-details-wrapper .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 163px !important;}

.sub-category-wrapper{ position: absolute; top: 0; left: 0; width: 160px; height: 600px; z-index: 9999; }
.sub-category-bg{ background-color: #ffffff; position: absolute; top: 0; left: 0; width: 160px; height: 600px; filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9;}
.sub-category-content{ position: absolute; top: 100px; left: 1px; z-index: 99; width: 156px; height: 310px; border: 1px solid #CCCCCC; }
.sub-category-content .header-wrapper{ float: left; width: 154px; height: 33px; line-height: 33px; text-indent: 11px; margin: 1px 0 0 1px; font-size: 12px; font-weight: bold; }
.sub-category-content .close-btn{ background: url("/cdn/images/widgetstore_images/close-shadow.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; position: absolute; top: 6px; right: 2px; display: block; cursor: pointer; }
.sub-category-content .listing-wrapper{ float: left; width: 144px; margin: 1px 0 0 10px; height: 258px; overflow: hidden; }
.sub-category-content .listing-wrapper ul{ float: left; width: 128px; }
.sub-category-content .listing-wrapper ul li{ float: left; width: 116px; height: 35px; line-height: 35px; padding-left: 8px; border-bottom: 1px solid #999999; overflow: hidden;}
.sub-category-content .listing-wrapper ul li:hover{ text-decoration: underline; cursor: pointer; }
.sub-category-content .jspVerticalBar { width: 10px !important; height: 256px !important;}
.sub-category-content .jspTrack { height: 256px !important; }

.s-slidenote2{
   position:absolute;
   top:0px;left:0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: block;line-height: 20px;
   text-shadow: none !important;
}

.sponsored-type4{
   position: absolute;
   top:0px;left: 0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: inline-block;line-height: 20px;
   opacity:0.8; filter:alpha(opacity=80);
}