.box .mask,
.box .content {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.box .content {
	background-color: transparent !important;
	text-align: left;
}

.box .content ul {
    height: 113px !important;
    width: 160px !important;
}

.box .content ul li{
	float: left;
	width: 136px;
	padding: 6px 12px 0;
}

.content ul li a{ text-decoration: none;}
.content ul li a:hover{ text-decoration: underline; }
/* NINTH EXAMPLE*/

.box .mask-1, .box .mask-2 {
    height: 200px;
    width: 200px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}

.box .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-180px);
    -moz-transform: rotate(56.5deg) translateX(-180px);
    -o-transform: rotate(56.5deg) translateX(-180px);
    -ms-transform: rotate(56.5deg) translateX(-180px);
    transform: rotate(56.5deg) translateX(-180px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.box .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(56.5deg) translateX(180px);
    -moz-transform: rotate(56.5deg) translateX(180px);
    -o-transform: rotate(56.5deg) translateX(180px);
    -ms-transform: rotate(56.5deg) translateX(180px);
    transform: rotate(56.5deg) translateX(180px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.box .content {
    background: rgba(0, 0, 0, 0.9);
    height: 113px;
	display: inline-block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 138px;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}

.box:hover .content {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 0;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
	color: #ffffff;
}

.box:hover .mask-1, .box:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.box:hover .mask-1 {
    -webkit-transform: rotate(55.2deg) translateX(1px);
    -moz-transform: rotate(55.2deg) translateX(1px);
    -o-transform: rotate(55.2deg) translateX(1px);
    -ms-transform: rotate(55.2deg) translateX(1px);
    transform: rotate(55.2deg) translateX(1px);
}

.box:hover .mask-2 {
    -webkit-transform: rotate(55.2deg) translateX(-1px);
    -moz-transform: rotate(55.2deg) translateX(-1px);
    -o-transform: rotate(55.2deg) translateX(-1px);
    -ms-transform: rotate(55.2deg) translateX(-1px);
    transform: rotate(55.2deg) translateX(-1px);
}