@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.hide{ display: none !important; }

.image-logo{ background-position: left center; background-repeat: no-repeat; background-size: contain; width: 240px !important; height: 50px !important; margin: 4px 0 3px 2px !important; }

#dialog-box{ background-color: #000000; position: absolute; left: 0; top: 0; z-index: 99999; height: 500px; text-align: center; width: 300px; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;}
#dialog-box .preloader_wrapper{ margin-top: 210px;  }

#wdgt-wrapper {
/*background: url("../../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 300px;
height: 600px;
margin: 0;
position: relative;overflow: hidden;
}
/*****search-box****/
#search-box-wrapper{display:inline-table;height: 37px;width: 300px;text-align: center;position: absolute;top:57px;left:0px;z-index: 10;}
#search-box-group{display: table-cell;vertical-align: middle;}
#search-text{font-size: 12px;display: inline-block;padding: 0px 4px;text-decoration: none;}
#input-wrapper input{height: 26px;width: 157px;display: inline-block;border:1px solid #ED4595;vertical-align: middle;}
#search-cancel{font-size: 12px;display: inline-block;padding: 0px 4px;text-decoration: none;}
#pop-search-icon{width: 30px;height: 26px;cursor:pointer;
display: inline-block;vertical-align:middle;
background-image: url("../../../images/widgetstore_images/preview.png");
background-repeat: no-repeat;
background-position: center center;}
#search-cancel:HOVER{text-decoration: underline;}

/***** search result ******/
#result-box-wrapper{display:inline-table;height: 37px;width: 280px;text-align: left;position: absolute;top:57px;left:0px;z-index: 10;padding:0px 10px;}
#result-box-group{display: table-cell; font-size: 11px; line-height: 13px; padding-top: 4px; vertical-align: middle;}
#result-text{font-size: 11px;display: inline-block;padding: 0px 4px;text-decoration: none;}


/*  listing  */
#wdgt-category-wrapper{
	height: 37px;display:block;position: relative;padding: 0px 10px; z-index: 2;
}
.wdgt-categories{display: inline-block;line-height: 37px;font-size: 11px;float: left;}
#category-icon-link{ text-decoration: none; display: inline-block;float: right;line-height: 36px;padding: 0px 5px;}
.icon-link-title{ font-size: 10px; margin-right: 10px; }
.icons-symbol{width: 22px;height: 14px;display: inline-block;}
.icons-symbol .symbol{width: 22px;height: 3px;display: block;margin-top: 3px;vertical-align: middle;}

#wdgt-category-list{height: 454px;display:inline-block;overflow: hidden;}
.category-items{position: relative; height: 228px;width: 100%;display: block; margin-bottom: 1px;}
.shadow-line{ background-color: #ffffff; position: absolute; height: 1px; width: 100%; -moz-box-shadow: 0 0 6px 2px #CCCCCC; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; z-index: 1; }
.shadow-line-bottom{ left: 0;  bottom: 0; }
.category-items-image{ width: 127px; height: 228px; display: inline-block; float: left; overflow: hidden; background-position: center 50%; background-repeat: no-repeat; background-size: cover; cursor: pointer; }
.category-items-image:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }
.category-items-details{width: 155px;height:192px;display: inline-block;margin-left: -2px;
position: relative;padding: 18px 10px; -moz-box-shadow: 6px 0 6px -4px #CCCCCC inset; -webkit-box-shadow: 6px 0 6px -4px #CCCCCC inset; box-shadow: 6px 0 6px -4px #CCCCCC inset;}
.horizontal-line{height: 1px;display: block;position: relative;}
.item-title{font-size: 15px;font-weight: bold;line-height: 19px;}
.item-title:hover{ text-decoration: underline; cursor: pointer; }
.item-price{font-size: 12px;font-weight: bold;line-height: 16px;}
.item-description{font-size: 12px;margin-top: 8px;}
.more-info{display: block;width: 80px;height: 21px;font-size: 12px;font-weight:bold;text-align: center;line-height: 21px;position: absolute;right: 17px;bottom: 12px;
text-decoration: none;}

/*details */
#img-details-container{ float: left; height: 37px; width: 300px; display: block; position: relative; z-index: 99; }

#img-details-container ul { float: left; width: 300px; /* height: 239px; */ }
#img-details-container ul li{ background-size: cover; background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;}
#img-details-container ul li.slideshow-image { position: absolute; top: 0; }
#img-details-container ul li.slideshow-image:hover{ cursor: pointer; }
.wdgt-prod-price-bg{ background-color: #000000; color: #FFFFFF; font-size: 14px; font-weight: bold; text-align: center; line-height: 70px; display: block; height: 70px; left: 6px; margin: 0; padding: 0; position: absolute; top: -128px; width: 70px; z-index: 5; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }
.wdgt-prod-price-bg-back{ display: block; height: 70px; left: 9px; margin: 0; padding: 0; position: absolute; top: -127px; width: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; z-index: 1;}
.wdgt-prod-price{ position: absolute; z-index: 10; top: 170px; left: 7px; color: #ffffff; font-size: 16px; font-weight: bold; width: 80px; }
.wdg-price-wrapper-inside { display: table-cell; vertical-align: middle; height: 70px; width: 70px; text-align: center; }
.wdgt-prod-price-bg .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
.wdgt-prod-price-bg .sale-price{ width: 100%; text-align: center; line-height: 14px;}
#circled-price .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
#circled-price .sale-price{ width: 100%; text-align: center; line-height: 14px;}
#circled-price .wdg-price-wrapper-inside{ width: 80px; height: 80px; }
.wdgt-old-price{ text-decoration: line-through; font-weight: normal; margin-left: 8px; font-size: 11px; }
.wdgt-prod-title { font-size: 18px; width: 195px; position: relative; top: 178px; left: 90px; }
.wdgt-prod-title span{ width: 190px; position: absolute; top: 0; left: 0; }
.wdgt-prod-title span label{ display: inline-block; padding: 3px 5px; color: transparent; line-height: 20px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-prod-title:hover span label{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-prod-title a{ display: inline-block; padding: 3px 5px; text-decoration: none; line-height: 20px; width: 185px; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); position: absolute; top: 0; left: 0; z-index: 5; }
#nav{ height: 14px; margin: 0 40px 0; overflow: hidden; position: absolute; text-align: center; top: 503px; width: 210px; z-index: 20; }
#nav a { display: inline-block; margin: 0 10px 10px 0; vertical-align: top; width: 10px; height: 10px; text-decoration: none; color: transparent; text-align: center; }
#nav a.activeSlide { font-size: 9px; display: inline-block; margin: 0 10px 0 0; width: 12px; line-height: 12px; height: 12px; text-decoration: none; text-align: center; }
.slideshow-product-desc{ position: absolute; top:240px; width: 264px; height: 180px; line-height: 14px; padding: 18px; overflow: hidden; }
.slideshow-image{ height: 318px; width: 300px; }
.trans-more-info{ position: absolute; top: 0; left: 0; height: 318px; width: 300px; display: block;}

#details-upper-menu{ position: absolute; height: 37px;display: block; position: absolute; top: 0; z-index: 10;}
#details-upper-menu ul{display: inline;}
#details-upper-menu ul li{list-style-type: none;list-style: none;float: left;border-right: 1px solid;}
#details-upper-menu ul li.info_first{ margin-left: 10px; }
#details-upper-menu ul li:last-child{border-right:none;}
.details-upper-menus{ height:37px;line-height: 37px;padding: 0px 12px;display: inline-block;text-decoration: none;}
.details-upper-menus:hover, .details-upper-menus-active{ height: 40px; margin-left: -1px; padding: 0 12px 0 13px;}
#details-image-info-container{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; position: absolute; top: 94px; height: 168px; width: 300px; }

#details-title-wrapper{position:absolute; left: 0; width: 300px; display: inline-block; top: 78px; }
#details-title{font-size: 22px; display:inline-block;opacity:0.8;filter:Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);padding: 2px 4px 4px;
}

#description-details-wrapper { position: absolute; top: 274px; left: 0; }
#description-details{ font-size: 12px;line-height: 16px; height: 265px;display: block;padding: 0 10px;position: relative;width: 280px; overflow:hidden;}
#description-details-wrapper .jspTrack{ height: 263px !important; }
#description-details-wrapper .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 263px !important; right: 1px; }

#circled-price-bg{height: 80px;width: 80px;display: inline-table;position: absolute;bottom: 7px;right: 10px;-webkit-border-radius: 40px;
border-radius: 40px; z-index: 12; }
#transparent-menu-wrapper-two{ position: absolute; left: 12px; top: 159px; z-index: 20; width: 300px;}
#transparent-menu-wrapper-three{ position: absolute; left: 12px; top: 65px; z-index: 10; }
#transparent-menu-wrapper{height: 45px;width:276px;display:inline-table;position: absolute;bottom: 0px;vertical-align: middle;padding: 0px 12px; z-index: 10;}
#transparent-menu{opacity:0.2;filter:Alpha(opacity=20);height: 45px;width:300px;display:inline-block;position: absolute;bottom: 0px;margin-left: -12px;}
.before-price{ font-size: 11px; margin-right: 6px; text-decoration: line-through; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6; }
.before-price2{ font-size: 11px; margin-right: 6px; text-decoration: line-through; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;}
.new-price{ font-weight: bold; margin-right: 9px; }
#add-cart-outer-wrapper{ display: table; height: 45px; position: absolute; }
.add-cart-outer-wrapper { height: 25px !important; }
#add-cart-wrapper{text-align: left;display:table-cell;vertical-align: middle;}
#add-cart-icon{line-height: 27px;background: #000;height: 27px;display: inline-block; width: 100px;text-align: center;font-size: 11px;font-weight: bold;text-decoration: none;margin-right: 4px; margin-top: -2px; cursor: pointer;}
#transparent-menu-wrapper #qty, #transparent-menu-wrapper-two #qty { width: 30px; height: 21px; border: 1px solid; text-align: center; font-weight: bold; margin-right: 5px; vertical-align: middle; }
#wdgt-bynow-btn { float: left; font-weight: bold; width: 80px; text-align: center; border: 0 none; padding: 4px 0; cursor: pointer; margin: 2px 10px 0 0; }
#more-details-btn { float: left; font-size: 11px; font-weight: bold; width: 80px; text-align: center; border: 0 none; padding: 8px 10px; cursor: pointer; margin: -2px 14px 0 8px; }

#heart{background-image:url("../../../images/widgetstore_images/icon_b.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative;}
#share{background-image:url("../../../images/widgetstore_images/icon_a.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative;}
#gift{background: url("../../../images/widgetstore_images/gift-icon-white.png") no-repeat scroll center center transparent; background: none repeat scroll 0 0 transparent; line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative; }
.link-icon{top: 8px; left: 225px; cursor: pointer; z-index: 99; }
#slideshow-menu-wrapper .wdgt-new-tab { background: url("../../../images/widgetstore_images/newtab-icon.png") no-repeat scroll 0 0 transparent; display: inline-table; vertical-align: middle; width: 18px; height: 18px; margin: 8px 0 0 -5px;}
#slideshow-menu-wrapper .qty { float: left; width: 30px; height: 21px; text-align: center; border: 1px solid; margin: 0 5px 0 8px; margin-top: 2px; font-weight: bold; }
#slideshow-menu-wrapper strong{ float: left; line-height: 22px; }
#circled-price{height: 80px;width: 80px;display: inline-table;position: absolute;bottom: 8px;right: 12px;-webkit-border-radius: 40px;
border-radius: 40px;text-align: center; z-index: 14; }
#circled-price #amount{display: table-cell;vertical-align: middle;font-size: 16px;font-weight: bold;}

#img-details-container .gift-details{ position: absolute !important; left: 199px; top: 8px; z-index: 10; }
#img-details-container .wdgt-new-tab2 { background: url("../../../images/widgetstore_images/newtab-icon.png") no-repeat scroll 0 0 transparent; position: absolute; right: 8px; top: 14px; width: 18px; height: 18px; z-index: 10;}
#img-details-container .wdgt-buy-gift { position: absolute; top: 8px; right: 53px; width: 40px; z-index: 10; font-size: 10px; text-align:center; }
.back-btn-link, .slide-show-back-btn-link{ position: absolute; top: 11px; right: 8px; font-weight: bold; text-decoration: underline; display: block; font-size: 12px; z-index: 10; cursor: pointer; }
.slide-show-back-btn-link{ top: 32px; }
/*tool tip */

/*wish list*/
#wishlist-tooltip-wrapper{position: absolute;display: none;height: 90px;min-width: 234px;bottom: -110px;left:-87px;
text-align:center;box-shadow: 0px 0px 9px -2px #fff;}

#heart:hover > #wishlist-tooltip-wrapper{display:inline-table;
   -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

#wishlist-tooltip{position: relative;height: 90px;min-width: 234px;display:table-cell;vertical-align: middle;}
#tooltip-connector{height: 30px;width: 20px;position: absolute;top:-20px;left:87px;display: block;}

#tooltip-arrow{height: 20px;width: 20px;display: inline-block;position: absolute;
top: 10px;left: 0px;overflow: hidden;
-webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);}
#wishlist-tooltip .wishlist-icons{width: 48px;height: 60px;display: inline-block;padding: 0px 11px;vertical-align: middle;}

#wishlist-icons sub{font-size: 11px;line-height: 15px;}

#wishlist-tooltip .i-icons{width: 48px;height: 40px;display: block;-webkit-border-radius: 3px;
border-radius: 3px;opacity:0.7;filter:Alpha(opacity=70);}

#wishlist-tooltip #ilike{background-image:url("../../../images/widgetstore_images/wishlist_icons.png");
background-position: 7px center;background-repeat: no-repeat;}

#wishlist-tooltip #iwant{background-image:url("../../../images/widgetstore_images/wishlist_icons.png");
background-position: center center;background-repeat: no-repeat;}

#wishlist-tooltip #ihave{background-image:url("../../../images/widgetstore_images/wishlist_icons.png");
background-position: -133px center;background-repeat: no-repeat;}

#wishlist-tooltip .i-icons-selected{width: 48px;height: 40px;display: block;-webkit-border-radius: 3px;
border-radius: 3px;opacity:0.7;filter:Alpha(opacity=70);}
 
/*share it*******************share it*****************share it**************/
#share-tooltip-wrapper{position: absolute;display: none;height: 90px;min-width: 288px;bottom: -110px;left:-143px;
text-align:center;}

#share:hover > #share-tooltip-wrapper{display:inline-table;
   -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
#share-tooltip .share-icons{width: 45px;height: 45px;display: inline-block;padding: 0px 4px;vertical-align: middle;}
#share-tooltip{position: relative;height: 90px;min-width: 234px;display:table-cell;vertical-align: middle;}
#share-connector{height: 30px;width: 20px;position: absolute;top:-20px;left:142px;display: block;}

#tooltip-arrow{height: 20px;width: 20px;display: inline-block;position: absolute;
top: 10px;left: 0px;overflow: hidden;
-webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);}


#share-tooltip .i-icons{width: 43px;height: 43px;display: block;}
#share-tooltip .i-icons-selected{width: 43px;height: 43px;display: block;}

 #fb{background-image:url("../../../images/widgetstore_images/social_icons.png");
background-position: 0px center;background-repeat: no-repeat;}

 #tw{background-image:url("../../../images/widgetstore_images/social_icons.png");
background-position: -51px; center;background-repeat: no-repeat;}

 #gplus{background-image:url("../../../images/widgetstore_images/social_icons.png");
background-position: center center;background-repeat: no-repeat;}
#in{background-image:url("../../../images/widgetstore_images/social_icons.png");
background-position: -157px center;background-repeat: no-repeat;}
#pan{background-image:url("../../../images/widgetstore_images/social_icons.png");
background-position: -208px center;background-repeat: no-repeat;}
 
  
/*category*/
#wdgt-category-container{height: 526px;width: 300px;}
.wdgt-category-item1{height:174px ;width:192px;display: inline-block;overflow: hidden;background-image:url("../../../images/widgetstore_images/body_bg.jpg");
background-position: center center;background-repeat: no-repeat;-webkit-background-size: cover;moz-background-size: cover;
-o-background-size: cover;background-size: cover;}
.wdgt-category-item{width: 96px;height: 87px;display: inline-block;overflow: hidden;background-image:url("../../../images/ministore_images/sample_product_1.jpg");
background-position: center center;background-repeat: no-repeat;}

.category-item1-title{display: inline-block;padding: 5px;margin-top: 8px;margin-left: 11px;opacity:0.8;filter:Alpha(opacity=80);}
.item1-text{font-size: 10px;text-shadow: 1px 1px 0px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}

.category-item-title{display:block;width:82px;height:17px;line-height:17px;margin:8px auto;text-align:center;opacity:0.8;filter:Alpha(opacity=80);}
.item-text{font-size: 10px;text-shadow: 1px 1px 0px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}


/*images*/
#img-title-container{height: 135px;display: block;position: relative;}
#image-gallery{height: 256px;display: block;z-index: 99;position: absolute; top: 191px; }
#image-title-wrapper{position:absolute;left: 10px;top:53px;width: 244px;display: inline-block;}
#image-title-wrapper-two{display: table;
    height: 54px;
    left: 12px;
    position: absolute;
    top: 100px;
    width: 260px;
    z-index: 10;
	}
#image-title-wrapper-three{position:absolute;left: 14px;top:20px;width: 272px;display: inline-block; z-index: 10;}
#image-title{display: table-cell;
    font-size: 15px;opacity:0.8;filter:Alpha(opacity=80);vertical-align: middle;}
#image-slides-wrapper{position: absolute;bottom: 0px;width: 300px;height: 36px;text-align: center;}
#selected-image-wrapper{border-top: 2px solid;height: 217px;width: 300px;}

.gv_galleryWrap{ top: 99px; padding: 0 !important; }
.gv_panelWrap{ z-index: 0; }
.gv_showOverlay { display: none; }
.gv_infobar { display: none !important; }
.gv_navWrap .gv_navPrev { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 0 0 transparent !important; position:absolute; left: -210px; width: 23px !important; height: 46px !important; top: -160px;}
.gv_navWrap .gv_navNext { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 0 0 transparent !important; position:absolute; right: 12px; width: 23px !important; height: 46px !important; top: -160px;}
.gv_navPrev, .gv_navNext{ filter:alpha(opacity=0) !important; opacity: 0 !important; -moz-opacity:0 !important; -khtml-opacity: 0 !important; }

.prev-wrapper{ background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 10px 132px transparent; position: absolute; top: 244px; left: 0; width: 150px; height: 184px; display: block; z-index: 20; cursor: pointer; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3;}
.next-wrapper{ background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 110px 132px transparent; position: absolute; top: 244px; right: 0; width: 150px; height: 184px; display: block; z-index: 20; cursor: pointer; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3;}
.prev-wrapper:hover, .next-wrapper:hover{  filter:alpha(opacity=1); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.gv-panel-bg { position: absolute; top: 208px; width: 300px; height: 36px; display: block; z-index: 1; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
/*image slider*/
#image-slider{height: 27px;display: block;padding: 4px 10px;}
#image-slider ul{height: 27px;vertical-align: middle;}
#image-slider ul li{margin-right: 6px;}
#image-slider ul li:last-child{margin-right: 0px;}
.prev-button{list-style: none;display:inline-block;height: 31px;width: 28px;vertical-align:middle;float:left;cursor:pointer;
background-image: url("../../../images/widgetstore_images/prev.png");background-repeat: no-repeat; background-position: center center;}
.next-button{list-style: none;display:inline-block;height: 31px;width: 28px;vertical-align:middle;float:right;cursor:pointer;
background-image: url("../../../images/widgetstore_images/next.png");background-repeat: no-repeat; background-position: center center;}
#image-slider ul .pagination-pic-wrapper{list-style: none;display:inline-table;width: 28px;}
#image-slider ul li .pic-box {
height: 20px;
width: 28px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
cursor: pointer;
}

#image-slider ul li .pic-box-selected {
height: 30px;
width: 38px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}

/*videos*/
#video-gallery{height: 316px;display: block;z-index: 99;position: absolute; top: 191px; margin-top: 20px; overflow: hidden; }

/*related*/

#top-related-wrapper{position:absolute; top:94px; width: 300px;display: inline-block; z-index: 5; height: 108px;}

#related-gallery{ display: block; height: 244px; overflow: hidden; padding: 22px 0 20px 22px; position: absolute; top: 202px; }
#related-gallery-list{ width: 278px; height: 194px; overflow: hidden; }
#related-gallery-list li{list-style: none;list-style-type: none;display:block;border-bottom:1px solid #000;padding: 10px 0px;width:250px;position: relative;}
#related-gallery-list .image-icon{ background-size: cover; height: 43px;width: 43px;display:table-cell;vertical-align:top;}
#related-gallery-list .image-icon:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; cursor: pointer; }
#related-gallery-list .image-icon img{height: 43px;width: 43px;border: 1px solid #000;display: inline-block;vertical-align: top;}
#related-gallery-list .image-title{vertical-align: middle;display:table-cell;padding: 0px 10px;font-size: 12px;line-height: 16px;width: 136px}
#related-gallery-list .img-price{padding-right: 0px;font-size: 11px;}
#related-gallery-list .img-status{padding-left: 0px;font-size: 11px;}
#related-gallery-list .image-title a{text-decoration: none;}
#related-gallery-list .image-title a:hover{text-decoration: underline;}


#related-gallery-list .jspTrack{ height: 192px !important; }
#related-gallery-list .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 192px !important;}
/*slide show*/

#addtocart-wrapper-list{ position: absolute; top: 105px; z-index: 110; display: block; height: 344px; width:292px; overflow: hidden; padding: 22px 0 20px 8px; }
#addtocart-wrapper-list #scrollbar { position:relative; width:292px; height:344px; overflow:hidden; }
#addtocart-list{ width: 292px; /*height: 325px; overflow: hidden;*/ }
#addtocart-list.marginBottom { margin-bottom:20px; }
#addtocart-list li{ float: left; list-style: none;list-style-type: none;display:block;border-bottom:1px dotted #000000;padding: 10px 0px;width:264px;position: relative;}
#addtocart-list .image-icon{display: table-cell; float: left; margin-left: 2px; vertical-align: top; width: 47px;}
#addtocart-list .image-icon img{height: 43px;width: 43px;border: 1px solid #000;display: inline-block;vertical-align: top;}
#addtocart-list .image-title{display: table-cell; float: left; font-size: 12px; line-height: 16px; padding: 0 8px; vertical-align: middle; width: 146px;}
#addtocart-list .img-price{padding-right: 0px;font-size: 11px;}
#addtocart-list .img-status{padding-left: 0px;font-size: 11px;}

#addtocart-wrapper-list #scrollbar .jspTrack{ height: 323px !important; }
#addtocart-wrapper-list #scrollbar .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 342px !important;}
/*slide show*/

#slideshow-menu-wrapper{
	position: absolute; top: -47px; left: 88px;
}
#transparent-menu{opacity:0.2;filter:Alpha(opacity=20);height: 45px;width:300px;display:inline-block;position: absolute;bottom: 0px;margin-left: -12px;}

#slideshow-menu-wrapper #add-cart-wrapper{text-align: left; } /*display:table-cell;vertical-align: middle;}*/
#slideshow-menu-wrapper #add-cart-icon{line-height: 21px;height: 27px;display: inline-block;
width: 100px;text-align: center;font-size: 12px;font-weight: bold;text-decoration: none;}

#slideshow-menu-wrapper #heart{background-image:url("../../../images/widgetstore_images/icon_b.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;}
#slideshow-menu-wrapper #share{background-image:url("../../../images/widgetstore_images/icon_a.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle; margin-top: 3px; cursor: pointer; }
#slideshow-menu-wrapper #gift{background: url("../../../images/widgetstore_images/gift-icon-white.png") no-repeat scroll center center transparent; background: none repeat scroll 0 0 transparent; width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative; margin-top: 3px; margin-right: 5px; cursor: pointer; }
#slideshow-menu-wrapper a{margin-right: 3px;}
#slideshow-header-wrapper{ position: relative; height: 57px; }
#slideshow-title-wrapper{height:70px;display: block;position: absolute;bottom: 10px;right:12px;width:276px;}

/*
#slideshow-title {
font-size: 18px;
text-shadow: 1px 2px 5px white;
display: inline;vertical-align:middle;
opacity: 0.8;
filter: Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);
padding: 2px 0px;
}*/
#circle-wrapper{position: relative;width: 70px;display: inline-table;
vertical-align: middle;height: 70px;margin-right: 10px;}
#slideshow-price {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 1px;
left: 0px;
-webkit-border-radius: 35px;
border-radius: 35px;
text-align: center;
}
#slideshow-price-bg {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 0px;
left: 2px;
-webkit-border-radius: 35px;
border-radius: 35px;
}
#slideshow-price #amount {
display: table-cell;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
}

/* addtocart */
#merchant-title{ margin-bottom: 3px; font-size: 14px; font-weight: bold;}
.hline{ width: 267px; height: 2px; }
.quantity-wrapper{float: left; position: relative; text-align: right; vertical-align: top; width: 53px;}
.quantity{float: left; height: 19px;width: 28px;line-height: 21px;text-align: center; border: 1px solid #000; margin-left: 1px;}
.wgt-item-list-numbers {
    border: 1px solid;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin: 0 0 4px;
    text-align: center;
    vertical-align: top;
    width: 30px;
	float:left;
}
.addtocart-cancel{position: absolute; left: 33px; height: 23px;width: 23px;display: block;background-image: url("../../../images/widgetstore_images/cancel.png");
background-repeat: no-repeat; background-position: center center;opacity:0.7; cursor: pointer;}
.update-quantity{float: left; width: 34px; font-size: 10px;line-height: 14px;display: inline-block;width: 34px;text-decoration: underline;cursor: pointer;}
.img-options ,.img-size{font-size: 11px;}

#addtocart-title-container{height: 105px;
display: block;
position: relative;}
#addtocard-upper{ display: block; height: 57px; position: absolute; z-index: 130; }
#shopping-cart-text{display: table-cell;vertical-align: middle;width: 126px;height: 57px;padding-left: 12px;font-size: 18px;}
#shoping-cart-details-wrapper{display: table-cell;vertical-align: middle;width: 150px;heght:57px;text-align: right;padding-right: 12px;font-size: 11px;}

#shoping-cart-details{}
.item-added-text{ display: block; }
#addtocard-lower{ display: inline-table; height: 48px; position: absolute; top: 57px; z-index: 120; }
#lower-text-wrapper{height: 21px;display: table-cell;vertical-align: middle;font-size: 12px;text-align: center;width: 300px;}
#lower-text-wrapper .item-subtotal{ font-size: 11px; margin-right: 8px; }
#lower-text-wrapper a{ text-decoration: none; }
#shopping-but{cursor: pointer;width: 122px;display: inline-block;line-height: 16px;cursor: pointer;}
#shopping-but:hover{text-decoration: underline;}
#checkout-but{height: 24px;width: 160px;line-height: 24px;display: inline-block;padding-left: 9px;text-align: left;
background-image: url("../../../images/widgetstore_images/new-window-icon.png");background-repeat: no-repeat; background-position: 140px center;
cursor: pointer;}

/*splash*//*category*/

#wdgt-main-top{height: 57px; width: 300px;position: relative; z-index: 100;}
.wdgt-cart-main-top{ height: 543px !important; position: static !important; }
#title-wrapper{ position: absolute; height: 57px; cursor: pointer; left: 10px; top: 0; width:238px; overflow: hidden; text-align: left; }
#title-wrapper label{ font-size: 25px; line-height: 57px; font-weight: bold; white-space: nowrap; cursor: pointer; }
#title-wrapper label:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

#items-selected{font-size: 9px;color: #fff;height: 13px;line-height: 13px;float: right;}
#main-top-icons{float:right;width:45px; }
#wdgt-main-top #top-search{width: 45px;height: 26px;display:inline-block;background-image: url("../../../images/widgetstore_images/preview.png");background-repeat: no-repeat; background-position: center center; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8;}
#wdgt-main-top #top-addtocart{margin-top:1px;width: 45px;height: 26px;display: inline-block;background-image: url("../../../images/widgetstore_images/cart.png"); background-repeat: no-repeat; background-position: center center;  filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8;}
#wdgt-main-top #top-search:hover, #wdgt-main-top #top-addtocart:hover{ filter:alpha(opacity=100); opacity: 1; -moz-opacity: 1; -khtml-opacity: 1; }
#wdgt-main{height: 600px;width: 300px;display: block;position:relative; background-repeat:  no-repeat; -webkit-background-size: cover;
background-position:center center; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*splash buttom*/
#wdgt-splash-center{ width: 100%; height: 100%; }
#shopnow-button{width: 215px;height: 69px;display: block;background-image: url("../../../images/widgetstore_images/splash_next.png");background-repeat: no-repeat;background-position: 174px center; ;
text-indent:33px;line-height: 69px;font-size: 25px;font-weight: bold;text-decoration:none;
position: absolute;bottom:84px;left:66px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
opacity:0.8;filter:Alpha(opacity=80);
}
#shopnow-button:hover{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; cursor: pointer; }


/*footer*/
#wdgt-pagination-wrapper{position: absolute; bottom: 17px; height: 35px;width: 300px;display: block;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 17px;z-index: 99;}
.wdgt-pagination-wrapper-home{ height: 65px !important; }
#slideshow-product-info{ float: left; width: 300px; height: 143px; }
.slideshow-main-top #img-details-container{ float: left; height: 318px; }

#inner-slider-nav{ float: left; width: 230px; margin: 16px 35px; height: 33px; overflow: hidden; }
#inner-slider-nav li{ display: inline-block; position: relative; }
#inner-slider-nav li  a img { width: 46px; height: 33px; margin: 0 4px; }
#inner-slider-nav li.activeSlide a img { width: 44px; height: 31px; }
#inner-slider-nav li span {position: absolute; top: 0; left: 0; width: 98%; height: 33px; text-align: center; font-size: 20px; font-weight: bold; line-height: 34px; display: none; }
#inner-slider-nav li.activeSlide span{ display: block; height: 31px;}
/*main2- pagination
#main2-pagination{height: 27px;display: block;padding: 4px 0px;}
#main2-pagination ul{height: 27px;vertical-align: middle;padding: 4px 0px;}
#main2-pagination ul li{margin-right: 6px;}
#main2-pagination ul li:last-child {margin-right: 22px;}
#main2-pagination ul .page-button{list-style: none;display:inline-table;font-size: 11px;}
#main2-pagination ul .page-button:hover{cursor: pointer;text-decoration: underline;}
#main2-pagination ul .pagination-num-wrapper{list-style: none;display:inline-table;
width: 15px;text-align: center;font-size: 11px;}
#main2-pagination ul .pagination-num{visibility: hidden;}
#main2-pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}*/


.wdgt-product-pagination{ position: absolute; top: 12px; height: 12px; width: 100%;}
.wdgt-product-pagination ul{}
.wdgt-product-pagination ul li{ display: inline-block; }
.wdgt-product-pagination ul li a{text-decoration:none; width: 10px; height: 10px; margin: 0 5px; display: block; }
.wdgt-product-pagination ul li a span{display: none; font-size: 11px; text-align: center; margin-top: -13px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-product-pagination ul li a.selected {}
.wdgt-product-pagination ul li a.selected span{display: none}
.wdgt-product-pagination .wdgt-prev, .wdgt-product-pagination .wdgt-next{ text-decoration: none; display: inline-block; font-size: 11px; }
.wdgt-product-pagination .wdgt-prev:hover, .wdgt-product-pagination .wdgt-next:hover{text-decoration: underline; cursor: pointer}
.wdgt-product-pagination .wdgt-prev-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-next-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-prev-disabled:hover{ cursor: default; }
.wdgt-product-pagination .wdgt-next-disabled:hover{ cursor: default; }



#wdgt-splash2-logo{height: 17px;width: 300px;display: block;position: absolute;bottom: 0px;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 17px;}

#wdgt-splash2-footer{ width: 300px; display: block; padding: 0px; position: absolute;bottom: 0px; z-index: 110; text-align: center;font-size: 9px;}
#slideshow-footer-logo{ font-size: 9px; float: left; padding: 0px 10px; width: 280px; height: 17px;}
#footer-logo{ position: absolute; bottom: 0; font-size: 9px; padding: 0px 10px; width: 280px; height: 17px;}
#powered-by { float: left; font-size: 9px; line-height: 15px;}
#main-footer-logo{ float: left; font-size: 13px; margin-left: 4px; }
#main-footer-logo a{text-decoration: none;}
#main-footer-logo a:hover{text-decoration: underline;}
#added-item{font-size: 9px; float: right; line-height: 15px; margin-top: 1px;}

#addtocart-wrapper #wdgt-splash2-footer, #addtocart-wrapper #wdgt-pagination-wrapper,
#addtocart-wrapper #wdgt-category-wrapper, #addtocart-wrapper #category-icon-link{ height: 35px; }
#addtocart-wrapper .wdgt-spacer{ width: 100%; height: 35px; }
#container{ float: left; width: 300px; min-height: 526px;}

.col1{ height: 153px; width: 198px;}
.col1 .wdgt-cat-title{ background-color: #FFFFFF; padding: 2px 4px; float: left; font-size: 10px; text-transform: uppercase; margin: 12px 0 0 16px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
.col2{ height: 90px; width: 96px; margin-left: 4px; text-align: center;}
.col3{ height: 90px; width: 96px; margin-right: 2px; text-align: center;}
.col4{ height: 90px; width: 96px; margin-left: 2px; text-align: center;}
.col2 .wdgt-cat-title, .col3 .wdgt-cat-title, .col4 .wdgt-cat-title{ background-color: #FFFFFF; position: relative; top: 11px; padding: 2px 4px; font-size: 10px; text-transform: uppercase; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }

.wdgt-two-categories ul{ float: left; width: 300px; height: 476px; }
.wdgt-two-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 300px; height: 260px; cursor: pointer; }
.wdgt-two-categories ul li.list1{ margin-bottom: 6px; }
.wdgt-two-categories ul li.list2{ margin: 0; }
.wdgt-two-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 264px; padding: 2px 2px; margin: 12px 15px; text-transform: uppercase;}
.wdgt-two-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-three-categories ul{ float: left; width: 300px; height: 476px; }
.wdgt-three-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 300px; height: 172px; cursor: pointer; }
.wdgt-three-categories ul li.list1{ margin-bottom: 6px; }
.wdgt-three-categories ul li.list2{ margin-bottom: 6px; }
.wdgt-three-categories ul li.list3{ margin: 0; }
.wdgt-three-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 264px; padding: 2px 2px; margin: 12px 15px; text-transform: uppercase;}
.wdgt-three-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-four-categories ul{ float: left; width: 300px; height: 476px; }
.wdgt-four-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 147px; height: 260px; cursor: pointer; }
.wdgt-four-categories ul li.list1, .wdgt-four-categories ul li.list3{ margin-right: 6px; margin-bottom: 6px; }
.wdgt-four-categories ul li.list2, .wdgt-four-categories ul li.list4{ margin-bottom: 6px; }
.wdgt-four-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 113px; padding: 2px 2px; margin: 12px 15px 0 15px; text-transform: uppercase;}
.wdgt-four-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-five-categories ul{ float: left; width: 300px; height: 476px; }
.wdgt-five-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 147px; height: 163px; cursor: pointer; }
.wdgt-five-categories ul li.list1{ width: 300px; height: 183px; }
.wdgt-five-categories ul li.list2, .wdgt-five-categories ul li.list4{ margin-bottom: 6px; margin-right: 6px; }
.wdgt-five-categories ul li.list1, .wdgt-five-categories ul li.list3, .wdgt-five-categories ul li.list5{ margin-bottom: 6px; }
.wdgt-five-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 113px; padding: 2px 2px; margin: 12px 15px 0 15px; text-transform: uppercase;}
.wdgt-five-categories ul li.list1 .wdgt-cat-title{ max-width: 266px; }
.wdgt-five-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-six-categories ul{ float: left; width: 300px; height: 476px; }
.wdgt-six-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 147px; height: 163px; cursor: pointer; }
.wdgt-six-categories ul li.list1, .wdgt-six-categories ul li.list3, .wdgt-six-categories ul li.list5, .wdgt-six-categories ul li.list7{ margin-bottom: 6px; margin-right: 6px; }
.wdgt-six-categories ul li.list2, .wdgt-six-categories ul li.list4, .wdgt-six-categories ul li.list6, .wdgt-six-categories ul li.list8{ margin-bottom: 6px; }
.wdgt-six-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 113px; padding: 2px 2px; margin: 12px 15px 0 15px; text-transform: uppercase;}
.wdgt-six-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.box {
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; background-size: cover;
    float: left;
	margin-bottom: 6px;
	color: #000000;
	overflow: hidden;
    position: relative;
	cursor: pointer;
}
.col1{ background-size: cover; }
.dbox:hover{ cursor: pointer; }
.subbox .slimScrollDiv{ position: absolute !important; top: 0;}
.subbox .slimScrollDiv .slimScrollBar{ background-color: #ffffff !important; margin-left: 2px; }

.wdgt-search-wrapper{ position: absolute; top: 57px; left: 0; width: 300px; height: 37px; z-index:999999; }
.wdgt-search-lbl{ float: left; font-size: 12px; color: #ED4595; margin: 13px 0 0 10px; }
.wdgt-search{ float: left; width: 189px; color: #ED4595; border: 1px solid #ED4595; margin: 5px 0 0 8px; padding: 5px 34px 4px 4px; }
.wdt-search-button { background: url("../../../images/widgetstore_images/search-shadow-icon.png") no-repeat scroll center center #ED4595; float: left; width: 30px; height: 26px; margin-top: 5px; border: 0 none; margin-left: -30px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8 }
.wdt-search-button:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-search-cancel-link { float: left; color: #ED4595; text-decoration: underline; margin: 13px 0 0 8px; font-size: 11px; }
.wdgt-search-cancel-link:hover {text-decoration: underline; }

#addtocart-wrapper{ position: absolute; top: 57px; z-index: 99999; height: 543px; width: 300px; }



#wdgt-sharebox, #wdgt-wishlistbox{ position: absolute; top: 92px; left: 6px; width: 288px; height: 90px; z-index: 999; border-right: 2px solid #000000; border-bottom: 2px solid #000000;
				display: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; }

.sponsored-main-slideshow-share #wdgt-sharebox, #wdgt-wishlistbox{ left: -26px; }
.wdgt-sharebox-arrow-top, .wdgt-wishlistbox-arrow-top{ width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; top: -14px; left: 256px; }
.wdgt-sharebox-arrow-down, .wdgt-wishlistbox-arrow-down{ width: 0; height: 0; border-top: 14px solid transparent; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; bottom: -14px; left: 0; }
.wdgt-share-lbl, .wdgt-wishlist-lbl { float: left; font-size: 14px; font-weight: bold; margin: 17px 0 0 23px; }
#wdgt-sharebox ul{float: left; padding: 22px 0 0 0}
#wdgt-sharebox ul li{ float: left; list-style-type: none; width: 43px; height: 43px; margin-right: 8px; }
#wdgt-sharebox ul li img{ width: 43px; height: 43px; }
#wdgt-sharebox ul li img.active, #wdgt-sharebox ul li img:hover{ cursor: pointer; }

#wdgt-wishlistbox{ width: 233px; height: 110px; left: 48px;}
.wdgt-wishlistbox-arrow-top{ left: 186px; }
.wdgt-wishlist-lbl { margin: 16px 0 0 24px; }
#wdgt-wishlistbox ul{float: left; margin: 10px 0 0 22px}
#wdgt-wishlistbox ul li{ float: left; position: relative; list-style-type: none; width: 48px; height: 40px; margin-right: 22px; }
#wdgt-wishlistbox ul li span{ position: absolute; width: 46px; height: 38px; display: block; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-wishlistbox ul li img{ position: absolute; z-index: 1; top: 6px; left: 8px; }
#wdgt-wishlistbox ul li span label{ position: absolute; top: 41px; font-weight: bold; width: 100%; text-align:center; }
#wdgt-wishlistbox ul li.active span, #wdgt-wishlistbox ul li:hover{ cursor: pointer; }

#wdgt-giftbox{ background-color: #ffffff; display: none; position: absolute; top: 0; left: 0; z-index: 100; width: 336px; height: 280px; }
#wdgt-gifbox-top{ background-color: #000000; float: left; height: 68px; width: 336px; }
#wdgt-gifbox-top h1{ float: left; margin: 6px 0 0 14px; font-weight: bold; font-size: 15px; color: #ffffff; }
.wdgt-gift-picture{ float: left; margin: 8px 9px 0 15px; width: 36px; height: 30px; border: 1px solid #ffffff; clear: both; display: block; }
#wdgt-gifbox-top p { float: left; font-weight: bold; color: #EC4594; margin-top: 8px; width: 195px; }
#wdgt-giftbox-bottom{ float: left; color: #000000; height: 210px; width: 336px; border-bottom: 2px solid #000000; }
#wdgt-giftbox-bottom label{ float:left; margin: 32px 11px 0 37px;  }
#wdgt-giftbox-bottom select{ float:left; margin-top: 28px; width: 217px; padding: 2px; border: 1px solid #abadb3; }
#wdgt-giftbox-bottom textarea{ float: left; margin: 15px 0 0 13px; padding: 2px; width: 290px; height: 55px; color: #999999; border: 1px solid #abadb3;}

.show-listing{ width: 100%; height: 100%; text-align: center; position: relative; }
.show-product-btn{display: inline-block; cursor: pointer; padding: 3px 6px; font-size: 11px; text-align: center;position: relative; text-decoration: none; top: 50%;}

.s-share:hover #wdgt-sharebox{ display: block; top: 36px; left: -246px; border-top: none; border-left: none; border-bottom: 2px solid; border-right: 2px solid; }
.s-share:hover .wdgt-sharebox-arrow-top{ left: 241px; }
.s-share:hover #wdgt-sharebox ul{ margin: 6px 0 0 18px; }

.sponsored-share:hover #wdgt-sharebox{ display: block; top: 36px; left: -206px; border-top: none; border-left: none; border-bottom: 2px solid; border-right: 2px solid; }
.sponsored-share:hover .wdgt-sharebox-arrow-top{ left: 201px; }
.sponsored-share:hover #wdgt-sharebox ul{ margin: 6px 0 0 18px; }

.wdgt-sharebox-bottom-box, .wdgt-wishlistbox-bottom-box { background-color: transparent; position: absolute !important; height: 18px !important; width: 100% !important; top: auto !important; bottom: -18px !important; left: 0 !important;}
.wdgt-sharebox-top-box, .wdgt-wishlistbox-top-box { background-color: transparent; position: absolute !important; height: 18px !important; width: 100% !important; top: -18px !important; left: 0 !important;}

.info-share:hover #wdgt-sharebox{ display: block; top: 38px; left: -220px; border-bottom: 2px solid; border-right: 2px solid; border-top: none; border-left: none; z-index: 100;}
.info-share:hover .wdgt-sharebox-arrow-top{ left: 216px; }
.info-share:hover #wdgt-sharebox ul{ margin: 6px 0 0 22px; }

.t-share:hover #wdgt-sharebox{ display: block; top: 38px; left: -148px; border-bottom: 2px solid; border-right: 2px solid; border-top: none; border-left: none; z-index: 999999;}
.t-share:hover .wdgt-sharebox-arrow-top{ left: 144px; }
.t-share:hover #wdgt-sharebox ul{ margin: 6px 0 0 22px; }

/* Preloader */
#fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#preloader-wrapper{background:transparent;height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center { position:relative; top: 174px;}
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }

.slideshow-btn { width: 36px; height: 65px; cursor: pointer; position: absolute; top: -65px; z-index: 999; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3;}
#wdgt-splash2-footer:hover .slideshow-btn{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#prev-slideshow { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll center center transparent; left: -2px; }
#next-slideshow { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll center center transparent; right: 0; }
#img-details-container:hover #prev-slideshow, #img-details-container:hover #next-slideshow{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }

#slideshow-title-div-bg{ position:absolute; top: 144px; left: 0; z-index: 20; display:inline-table; vertical-align: middle; height: 95px; width: 300px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; z-index: 0; }
#slideshow-title-div{position:absolute; top: -128px; left: 80px; z-index: 20; display:inline-table;vertical-align: middle;width: 210px; }

#slideshow-each-title-div, #slideshow-each-title-div-top{ position: absolute; top: 0; left: 0; width: 204px; height: 70px; overflow: hidden;}
#slideshow-each-title-div-top { width: 210px; }
#slideshow-title {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
}
#slideshow-title label{
	color: transparent;
    font-size: 18px;
	line-height: 20px;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	padding: 2px 0 5px 16px;
	display: inline;
}

#slideshow-title-top {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
}

#slideshow-title-top label{
	font-size: 18px;
	line-height: 20px;
	padding: 2px 0 5px 16px;
	display: block;
	cursor: pointer;
}
#img-details-container #slideshow-title-top:hover{ text-decoration: underline; }
#wdgt-product_details #slideshow-title-top label{ text-decoration: none !important; }
#wdgt-product_details .gv_galleryWrap{height: 320px !important; float: left !important; top: 114px !important;}
#wdgt-product_details .gv_gallery{height: 320px !important; }
#wdgt-product_details .gv_filmstripWrap{ z-index: 2; }
#wdgt-product_details .gv_frame .current img{ display: none !important; }
#wdgt-product_details .gv_frame .gv_thumbnail { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#product-info-wrapper #slideshow-each-title-div, #product-info-wrapper #slideshow-each-title-div-top{ width: 300px; height: auto; bottom: 0; top: auto;}
#product-info-wrapper #slideshow-title-div{ bottom: 0; left: 0; position: absolute; top: auto; width: 300px; }
#product-info-wrapper #slideshow-title-top label{  cursor: default; padding: 6px 10px 6px 10px; width: 280px;}
#product-info-wrapper #slideshow-title label{ display: block; padding: 6px 10px 6px 10px; width: 280px;}
#product-info-wrapper #slideshow-title, #product-info-wrapper #slideshow-title-top { height: auto; }
#product-info-wrapper #details-title-wrapper { display: inline-block; height: 123px; left: 0; position: relative; top: 0; width: 300px; }
/* product option selection */
#option-wrapper { position:absolute; top:0; left:0; z-index:9991; width:100%; height:100%; }
#option-wrapper #overlay { width:100%; height:100%; background-color:#FFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#option-wrapper #option-content { position:absolute; top:192px; left:10px; width:254px; height:185px; padding:12px 8px 17px 18px; background-color:#FFF; border:1px solid #999999; -webkit-box-shadow: 0px 0px 4px 2px #999999; box-shadow: 0px 0px 4px 2px #999999; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper #close-btn { background:url(/cdn/images/close-x.png) no-repeat; cursor:pointer; width:23px; height:23px; position:absolute; top:9px; right:16px; z-index:2; }
#option-wrapper .scroller { height:152px; /*width:100%;*/ width:254px; margin-bottom:10px; position:relative; }
#option-wrapper .scroller .jspVerticalBar { width:8px; height:150px; background-color:transparent; opacity:0.5; }
#option-wrapper .scroller .jspTrack { background-color: transparent; height:150px !important; border:1px solid #CCC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper .scroller .jspDrag { background-color:#000; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper button {background-color: #999999; border:0 none; color: #ffffff; font-size: 12px; font-weight:bold; text-align: center; width: 100px; height: 24px;  margin:0 0 0 0; font-family: Arial; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; }
.option-name-wrapper { color:#999999; font-size:16px; border-bottom:1px dashed #7F7F7F; padding-bottom:6px; margin-bottom:5px;}
.option-value-wrapper { }
.option-value-wrapper.marginBottom { margin-bottom:10px; }
.option-value-wrapper .option-value,
.option-value-wrapper .option-value-lbl { float:left; color:#000; }
.option-value-wrapper .option-value input { width:26px; height:26px; position:absolute; top:0; left:0; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; }
.option-value-wrapper.color .option-value { width:23px; height:23px; border:3px solid #FFF; text-align:center; position:relative; }
.option-value-wrapper.size .option-value { width:25px; height:20px; border:3px solid #999999; text-align:center; position:relative; line-height:20px; }
.option-value-wrapper.size label { margin:5px 0; display:block; }
.option-value-wrapper .option-value.selected { border:3px solid #000; }
.option-value-wrapper .option-value-lbl input { margin-top:5px; }
.value-txt { color:#666; float:left; line-height:25px; margin-left:8px; }
.value-txt.selected { color:#000; font-weight:bold; }

.customized_select { border:1px solid #CCCCCC; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; width:95%; height:24px; }
.customized_select.disabled { background-color:#888; }
.customized_select select { width:100%; height:100%; line-height:24px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.customized_select div { color:#333333; font-size:12px; width:100%; height:100%; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding-left:5px; background:url("/cdn/images/ministore_images/ms-bg-select.png") no-repeat scroll right center transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }


.sub-category-wrapper{ position: absolute; top: 0; left: 0; width: 300px; height: 600px; z-index: 999; }
.sub-category-bg{ background-color: #ffffff; position: absolute; top: 0; left: 0; width: 300px; height: 600px; filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9;}
.sub-category-content{ position: absolute; top: 100px; left: 24px; z-index; 10; width: 251px; height: 320px; border: 1px solid #CCCCCC; }
.sub-category-content .header-wrapper{ float: left; width: 249px; height: 33px; line-height: 33px; text-indent: 11px; margin: 1px 0 0 1px; font-size: 12px; font-weight: bold; }
.sub-category-content .close-btn{ background: url("/cdn/images/widgetstore_images/close-shadow.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; position: absolute; top: 6px; right: 11px; display: block; cursor: pointer; }
.sub-category-content .listing-wrapper{ float: left; width: 238px; margin: 1px 0 0 12px; height: 256px; overflow: hidden; }
.sub-category-content .listing-wrapper ul{ float: left; width: 218px; }
.sub-category-content .listing-wrapper ul li{ float: left; width: 210px; height: 35px; line-height: 35px; padding-left: 8px; border-bottom: 1px solid #999999; overflow: hidden;}
.sub-category-content .listing-wrapper ul li:hover{ text-decoration: underline; cursor: pointer; }
.sub-category-content .jspVerticalBar { background-color: transparent !important; border: 1px solid; width: 10px !important; height: 254px !important;}
.sub-category-content .jspTrack { background-color: transparent !important; height: 254px !important; }

.s-slidenote2{
   position:absolute;
   top:0px;left:0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: block;line-height: 20px;
   text-shadow: none !important;
   opacity:0.8; filter:alpha(opacity=80);
}