/* sign in, register, reset and confirm modal */
.modal-loader-wrapper{ position: absolute; left: 0; top: 0; width: 99.5%; height: 99.5%; z-index: 100; }
.modal-loader-wrapper .shopstyxloader{ margin: 28% auto 0 !important; }
.more-signup-loader .shopstyxloader{ margin: 22% auto 0 !important; }

.fberrorbox{ background-color: #ffebe8; border: 1px solid #dd3c10; color: #333333; padding: 8px 10px; font-size: 12px; font-weight: normal; }
.sform1 .fberrorbox{ float: left; margin: -10px 0 5px; width: 100%;}

.cs-color1{ color: #00A3D8; }
.cs-bgcolor1{ background-color: #00A3D8; }
.cs-color2{ color: #444444; }
.cs-white{ color: #FFFFFF; }
.reveal-modal-bg{ top: 10px; }
.reveal-modal-bg-color{ background-color: #E5E7ED; opacity: 0.98 }
.register-login-modal{ background: url("/cdn/images/v2/sign-reg-bg.png") repeat scroll 0 0 transparent; width: 562px; min-height: 332px; border: 0 none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; padding: 0 0; top: 40px !important; position: fixed; }
.login-register-box{ float: left; position: relative; width: 562px; min-height: 332px; border: 1px solid #DDDDDD; padding: 36px 54px 45px 54px; }
.forgot-password-box{ padding: 36px 78px 45px 78px; }
.login-register-box .message{ position: absolute; top: 222px; left: 0; width: 100%; text-align: center; }
.login-register-box h1{ float: left; width: 100%; font-size: 28px; font-weight: 300; line-height: 28px; text-align: center; margin: 0; }
.login-register-box h1.success-lbl{ font-size: 20px; line-height: 24px; }
.login-register-box .p1{ float: left; width: 100%; font-size: 14px; line-height: 18px; text-align: center; padding: 0; margin: 21px 0 18px; }
.login-register-box .p2{ float: left; width: 100%; font-size: 14px; text-align: center; padding: 0; margin: 54px 0 16px; }
.login-register-box .p3{ float: left; width: 250px; font-size: 14px; padding: 2px 90px 0 0; margin: 0; }
.login-register-box .p4{ float: left; width: 250px; font-size: 14px; padding: 16px 0 0 0; margin: 0; }
.login-register-box .p5{ float: left; width: 224px; font-size: 14px; padding: 15px 16px 0 0; margin: 0; }
.login-register-box .p5 .back-to-login{ float: right; }
.login-register-box .p6{ float: left; width: 100%; font-size: 14px; line-height: 18px; text-align: center; padding: 0; margin: 21px 0 24px; }
.login-register-box .p7{ float: left; width: 100%; font-size: 12px; color: #777777; padding: 0; margin: 0; margin-bottom: 15px; }
.login-register-box .p7 input{ float: left; width: auto !important; height: auto !important; padding: 0 !important; margin: 4px 6px 4px 2px !important; }
.login-register-box .p7 span{ float: left; }
.login-register-box .p8{ float: left; width: 100%; font-size: 14px; text-align: center; padding: 0; margin: 41px 0 13px; }
.login-register-box .social-net{ float: left; width: 100%; height: 50px; padding: 0; margin: 0; }
.login-register-box .social-net .fb{ background: url("/cdn/images/v2/social.png") no-repeat scroll left center transparent; float: left; width: 140px; height: 50px; display: block; margin-right: 16px; cursor: pointer; }
.login-register-box .social-net .gplus{ background: url("/cdn/images/v2/social.png") no-repeat scroll center center transparent; float: left; width: 140px; height: 50px; display: block; margin-right: 16px; cursor: pointer; }
.login-register-box .social-net .twt{ background: url("/cdn/images/v2/social.png") no-repeat scroll right center transparent; float: left; width: 140px; height: 50px; display: block; cursor: pointer; }
.login-register-box .netw:hover{ opacity: 0.8;  }
.login-register-box .login-form{ float: left; width: 100%; min-height: 196px; padding: 0 36px 0 36px;  }
.login-register-box .login-form form, .login-register-box .lost-pass-form  form{ margin: 0; }
.login-register-box .login-form input, .login-register-box .lost-pass-form input{ width: 100%; height: 50px; padding: 0 15px; border: 1px solid #BABABA; border-radius: 2px; margin: 0; }
.login-register-box .login-form input.user-name{ width: 50%; }
.login-register-box .login-form .cs-domain{ background-color: #E5E7ED; float: left; color: #777777; font-size: 15px; font-weight: 400; width: 50%; height: 50px; line-height: 50px; text-align: center; display: inline-block; border-left: 1px solid #BABABA; border-top: 1px solid #BABABA; border-bottom: 1px solid #BABABA; }
.login-register-box .login-form .error2{ color: #ff0000; font-size: 12px; left: auto; position: absolute; right: 9px; top: 17px; }
.login-register-box .common-reglog-btn{ float: left; height: 50px; width: 129px; padding: 0; margin: 0; font-size: 16px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.login-register-box .lost-pass-btn{ width: 180px; }
.login-register-box .lost-pass-form{ float: left; width: 100%; padding: 0;  }
.fb-gplus-signup, .twitter-signup{ padding: 42px 78px 57px 78px; }
.fb-gplus-signup .login-form, .twitter-signup .login-form{ padding: 0 12px 0 9px; min-height: 129px; }
.comm-inpt-bottom-space1{ margin-bottom: 25px; }
.comm-inpt-bottom-space2{ margin-bottom: 21px; }
.comm-inpt-bottom-space3{ margin-bottom: 11px; }
.comm-inpt-bottom-space4{ margin-bottom: 29px; }
.common_input_wrapp small.error, .common_input_wrapp small.email_error, .common_input_wrapp small.dynamic_error { line-height: 28px; }

