div#mainEditorArea {

	height: 100vh;

}
div#productlistcontainer{
	background: url(/images/diagonalLinesBgSmall.png);
    background-repeat: repeat;
    overflow-y: auto;
	height: 100vh;
	max-width: 240px;
	float: left;
}