@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	outline:0;
	font-family: Arial, Helvetica;
	font-size: 12px; 
	font-weight: normal;
}
body, html { font: inherit; font-family: 'Droid Sans',sans-serif, Helvetica; border: 0px; margin: 0px; padding: 0px; height:100%; position:relative; width:100%;}

.effect-holder{width: 100%;
height: 50px;
float: left;
position: fixed;background: #fff;z-index: 200;}

.effect-holder .effect-shadow-left{position: fixed;top:50px;left:0px;z-index: 0;height: 30px;width: 400px;
			background-image: url("/cdn/images/main_images/effect_shadow_left.png");
			background-repeat: no-repeat;	}
.effect-holder .effect-shadow-right{position: fixed;top:50px;right:0px;z-index: 0;height: 30px;width: 400px;
			background-image: url("/cdn/images/main_images/effect_shadow_right.png");
			background-repeat: no-repeat;}
#header-wrapper{width: 100%;min-width:1126px;height: 50px;float: left;position: fixed;z-index: 1;}
#mainpage-menutab{float: left;height: 50px;display: inline-block;width: 100%;}
#yourcart-wrapper{float: right;height: 50px;display: inline-block;width: 261px;text-align: right;}

#not-signed-in{ width:100%;margin: 0 auto;}
#not-signed-in .main-logo-wrapper{ background-color: #81C0B7; float: left; width: 49%; height: 50px; }
#mainpage-logo{float: left; height: 50px; width: 141px;display: inline-block;font-size: 28px;text-align: center;line-height: 45px; font-family: 'Poly', serif; font-weight: bold;cursor: pointer;}
.not-login{width: 95% !important;text-align: right !important;padding-right: 5%;}
.main-logo-bg{background-color: #81C0B7;}
.main-menu-bg{background-color: #5AADA0;}
#status-tab{height: 50px;display: inline-block;float: left;border-left:1px inset;vertical-align: middle;}
#not-signed-in .main-logo-wrapper a, #status-tab a{ text-decoration: none; }
.user-wrapper{float: left; display: inline-block;position: relative;padding-right: 12px;}
.white-bottom{background-color: #FFFFFF;  bottom: -8px; display: none; height: 10px; left: 0; padding: 0; position: absolute;
  width: 100%;}
  
#status-tab .user-wrapper:hover, #status-tab .active{ background-color: #FFFFFF; display: inline-block !important; }
#status-tab .user-wrapper:hover .white-bottom, #status-tab .active .white-bottom{ display: inline-block; }
#status-tab .user-wrapper:hover #pic-login span, #status-tab .active #pic-login span{ background-color: #F0F0F0; background-repeat: no-repeat; background-position: center center; background-size: contain;  border:1px solid #F2E1AC; }
#status-tab .user-wrapper:hover .name-login, #status-tab .active .name-login{ color: #F2E1AC; }
/*========log name wrapper==================*/
#name-wrapper{display: inline-table;vertical-align: middle;min-width: 67px;max-width:500px;height: 20px;list-style: none;text-align: left; }
#pic-login{width: 50px;height: 50px;display: inline-table;vertical-align: middle; margin-top: -7px;}
#pic-login span{background-color: #F0F0F0; background-repeat: no-repeat; background-position: center center; background-size: contain; width: 24px;height: 24px;display: inline-block;vertical-align: middle;border:1px solid #F2E1AC;margin: 12px;}
#name-wrapper li{vertical-align: middle;font-size: 16px;}
#name-wrapper .name-login{ height: 40px; margin-top: 15px; padding-right: 35px; position: relative; color:#F2E1AC; cursor: pointer; }
#name-wrapper .arrow-tip{width: 35px;display: table-cell;height: 25px;position: absolute;right: 0px;top:0px;
background-image: url("../../images/tooltip2.png");
background-repeat: no-repeat;
background-position:center 6px; }
#name-wrapper li ul{ background-color: #ffffff; display: none; position: absolute; z-index: 1; list-style: none; width: 234px; margin-top: 16px; margin-left: -53px; border-left: 1px solid rgba(242, 225, 172, 0.5); border-right: 1px solid rgba(242, 225, 172, 0.5); border-bottom: 1px solid rgba(242, 225, 172, 0.5); box-shadow: 4px 4px 4px -5px rgba(0, 0, 0, 0.2) , -4px 4px 4px -5px rgba(0, 0, 0, 0.2);}
#name-wrapper li a{color:#F2E1AC;}
#name-wrapper li ul  li{ width: 234px; }
#name-wrapper li ul li a{ display: inline-block; padding: 10px 0 10px 52px; width: 182px; }
#name-wrapper li ul li.first-menu-wrapper{ padding-top: 10px }
#name-wrapper li ul li.last-menu-wrapper{ border-top: 1px solid; margin-top: 10px; padding: 10px 0;  }
.drop-menu:hover{ cursor: pointer; }
.drop-menu:hover #name-wrapper li ul{position:absolute;display: block;z-index: 1;}
/*#name-wrapper li:hover >ul{position:absolute;display: block;z-index: 1;}*/
#name-wrapper li:hover >a{background: #F5F5F5;color:#F2E1AC;text-decoration: none;}
#status-icon-wrapper{float: left; height: 50px; min-width: 111px; max-width: 147px; display: inline-block;vertical-align: middle;}
#status-icon-wrapper div{float: left; display: inline-block;vertical-align: middle;height: 50px;width: 36px;margin: 0;position: relative;}
#status-icon-wrapper div:hover, #status-icon-wrapper div.active{background-color: #ffffff; cursor: pointer;}
#status-icon-wrapper .no-stats{-moz-opacity: 0.5;
opacity: 0.50;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);}
#status-icon-wrapper #catalog-icon{background-image: url("../../images/store_images/mwg.png");
background-repeat: no-repeat;
background-position: -35px 0;
}
#status-icon-wrapper #catalog-icon:hover .white-bottom, #status-icon-wrapper #catalog-icon.active .white-bottom{ display: inline-block; }

#status-icon-wrapper #message-icon{background-image: url("../../images/store_images/mwg.png");
background-repeat: no-repeat;
background-position: 2px -50px;
width: 39px;
}
#status-icon-wrapper .message-icon-dark{ background-position: 2px 0 !important; }

#status-icon-wrapper #message-icon:hover .white-bottom, #status-icon-wrapper #message-icon.active .white-bottom{ display: inline-block; }

#status-icon-wrapper #heart-icon{background-image: url("../../images/store_images/mwg.png");
background-repeat: no-repeat;
background-position: -35px -50px;
}
#status-icon-wrapper #heart-icon:hover .white-bottom, #status-icon-wrapper #heart-icon.active .white-bottom{ display: inline-block; }

#status-icon-wrapper #gift-icon{background-image: url("../../images/store_images/mwg.png");
background-repeat: no-repeat;
background-position: -70px -50px;
display: none;
}
#status-icon-wrapper #gift-icon:hover .white-bottom, #status-icon-wrapper #gift-icon.active .white-bottom{ display: inline-block; }

#status-icon-wrapper .stats-count{position: absolute;top:14px;left:6px;font-size: 9px;
text-align: center;
line-height: 12px;
text-align: center;
line-height: 12px;
padding: 0 5px;
height: 12px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: inline-block;
background: #C92C23;

}
#signed-in{height: 50px;display: inline-block;}
.main-menu-tab{height: 50px;display: inline-block;list-style: none;}
.login-signup-wrapper{ float: left; width: 50%; }
.main-menu-tab li {display: table-cell;vertical-align: middle;border-left:1px solid;height: 50px;}
.main-menu-tab li a{font-size: 14px;padding: 0px 30px;height: 50px;text-decoration: none;position: relative;display: inline-block;line-height: 50px; cursor:pointer; }
.main-menu-tab li a:hover, .main-menu-tab li a.active{font-size: 14px;padding: 0px 30px;height: 50px;text-decoration: none;position: relative;background: #fff;color:#261C25;}
.main-menu-tab li a:hover label{ cursor: pointer; }

.main-menu-tab li a .white-overlap{display: block;padding: 0px 0px;height: 10px;position: absolute;bottom: -8px;left:0px;width: 100%;background-color: #fff;display: none;}

.main-menu-tab li a:hover .white-overlap, .main-menu-tab li a.active .white-overlap{display: block;}
.main-menu-tab li .red-span{font-size:9px;text-align:center;line-height:12px;width: 15px;height: 12px;-webkit-border-radius: 2px;border-radius: 2px;display: inline-block;position: absolute;top:20px;right:12px;background: #C92C23;}
.main-menu-tab li {border-color:rgba(242, 225, 172, 0.5);}
.main-menu-tab li a:hover, .main-menu-tab li a.active{color: #5AADA0;}
#mainpage-main-wrapper{display: block;float: left;}
#left-menu-bar{width: 122px;height: 100%;display:table;background: #F2E1AC;position: fixed;margin-top: 50px;
z-index: 1;}
.main-menu-tab li input{height: 28px;width: 240px;line-height: 28px;font-size: 14px;margin: 0px 20px;padding: 0px 20px;
background-image: url("../../images/main_images/search_gray.png");
background-repeat: no-repeat;
background-position: 260px center;}

/*================shop============*/
#yourcart-wrapper #shop{width: 88px;height: 50px;display: inline-block;float: left;text-align: center;border-left:1px solid;}
#yourcart-wrapper #shop a{vertical-align: middle;font-size: 14px;line-height: 50px;text-decoration: none;}
/*==============shopping cart====================*/
#fb-shoppingcart {
height: 50px;
display: inline-table;
position: relative;
width: 171px;
vertical-align: middle;
text-align: center;
border-left:1px solid;
}
#cart-icon-container {
display: table-cell;
vertical-align: middle;
height: 23px;
width: 30px;
padding: 0px 11px;
}
#cart-icon {
display: table-cell;
vertical-align: middle;
height: 23px;
width: 30px;
background-image: url("../../images/webstore_images/cart_2.png");
background-repeat: no-repeat;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#cart-icon-details {
display: table-cell;
vertical-align: middle;
width: 125px;text-align: left;
}
#cart-title {
font-size: 12px;
line-height: 16px;
font-weight: bold;
display: block;
}
#cart-items {
font-size: 12px;
line-height: 16px;
display: block;
}

/*===================manage page=============================*/
#manage-left-title{height: 58px;display: block;border-bottom:1px solid  #CAC2AC;text-align: center;background: #ffffff;}
#manage-left-title span{font-size: 11px;line-height: 34px;width: 122px;color: #382837;line-height: 58px;}
#manage-left-menu{list-style: none;}
#manage-left-menu li{display: block;height: 64px;border-bottom:1px solid #CAC2AC;border-top:1px solid #F5F5EC; }
#manage-left-menu li a{vertical-align:bottom;text-align: center;width: 122px;height: 48px;display: table-cell;text-decoration: none;
font-size: 11px;color:#DEB32E;padding: 8px 0px;}
#manage-left-menu li #products{background-image: url("../../images/main_images/products.png");
background-repeat: no-repeat;
background-position: center 15px;}
#manage-left-menu li #products:hover{background-image: url("../../images/main_images/dark_products.png");color:#382837;}
#manage-left-menu li #categories{background-image: url("../../images/main_images/categories.png");
background-repeat: no-repeat;
background-position: center 15px;}
#manage-left-menu li #categories:hover{background-image: url("../../images/main_images/dark_categories.png");color:#382837;}
#manage-left-menu li #themes{background-image: url("../../images/main_images/themes_design.png");
background-repeat: no-repeat;
background-position: center 15px;}
#manage-left-menu li #themes:hover{background-image: url("../../images/main_images/dark_themes_design.png");color:#382837;}
#manage-left-menu li #pages{background-image: url("../../images/main_images/pages.png");
background-repeat: no-repeat;
background-position: center 15px;}
#manage-left-menu li #pages:hover{background-image: url("../../images/main_images/dark_pages.png");color:#382837;}
#manage-left-menu li #settings{line-height: 50px;color:#fff;text-align: center;font-size: 14px;background: #9CA09F;border-bottom: #737373;}
/*===================main page======================================*/

#mainpage-main-wrapper{width: 100%;z-index: 0;background: #FFFFFF;position:relative;
min-height: 1319px;}
#main-left-tab{width: 82px;
height: 550px;
display: table;
position: fixed;
margin-top: 50px;
background-image: url("../../images/gradeint_white.png");
background-repeat: repeat-x;}
#main-left-menu{list-style: none;}
#main-left-menu li{display: block;margin-bottom: 1px;}
#main-left-menu li a{height: 80px;width: 80px;display:table-cell;text-align: center;text-decoration: none;vertical-align: bottom;
padding: 14px 0px;font-size: 18px;line-height: 22px;color: #fff;}
#main-left-menu li .selected{width:90px;color: #382837;text-shadow: 1px 1px 3px #fff;}
#main-left-menu li .menu1{background-color: #F2E1AC;
background-image: url("../../images/main_images/main_buttons.png");
background-repeat: no-repeat;
background-position: center 32px;}
#main-left-menu li .menu2{background-color: #F2836B;background-image: url("../../images/main_images/main_buttons.png");
background-repeat: no-repeat;
background-position: center -80px;;}
#main-left-menu li .menu3{background-color: #81C0B7;background-image: url("../../images/main_images/main_buttons.png");
background-repeat: no-repeat;
background-position: center -190px;;}
/*============= right wrapper======================================*/
#main-right-wrapper{display: block;
margin-top: 50px;
margin-left: 122px;
float: left;}
#main-right-content{width: 882px;margin: 0 auto; font-size: 14px;}
#main-right-content input{font-size: 14px;}
#main-right-content h1{margin-top: 39px;font-size: 40px;line-height: 44px;text-shadow: 1px 1px 3px #fff;color:#DEB32E;display: block;}
#main-right-content #title-one{text-align:left;}
#main-right-content #title-two{text-align: center;}

#tagline-shoplify{font-size: 16px;color:#382837;display: block;text-align: center;}
#main-right-wrapper #tag-note{font-size: 16px;color:#382837;line-height: 20px;display: block;}
#video-wrapper{height: 362px;width: 886px;display: block;margin-top: 40px;margin-bottom: 60px;position: relative;}
#main-right-wrapper h2{font-size: 30px;line-height: 34px;text-shadow: 1px 1px 3px #fff;color:#DEB32E;display: block;}

#vid-prev{width: 567px;height: 362px;display: inline-block;float: left;background: #fff;
background-image: url("../../images/main_images/trailer.jpg");
background-repeat: no-repeat;
background-position: 47px center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#mainpage-form-wrapper{width: 312px;height:330px;display: inline-block;float: right;text-align: left;padding: 16px 0px;}
#mainpage-form-wrapper h3{font-size: 30px;line-height: 34px;color:#fff;width: 250px;margin:10px auto;display: block;}
#mainpage-form-wrapper input{width: 230px;height: 45px;display:block;text-align: left;padding: 0px 10px;border: 0px;-webkit-border-radius: 4px;
border-radius: 4px;margin: 20px auto;}
#mainpage-form-wrapper button{height: 54px;width: 251px;display: block;margin: 10px auto;font-size: 22px;background: #C92C23;
color:#fff;box-shadow:1px 1px 2px 0px #000;cursor: pointer;}
/*==================publish =========================*/
#sample-store-wrapper{width: 886px;height: 623px;display: block;background: #F5EAC5;margin-bottom: 91px;box-shadow:1px 1px 1px 0px #DEB32E;}
#publsih-menu{width:886px;height: 53px;background: #DEB32E;display: block; text-align: center;}
#publsih-menu #pub-menu {list-style: none;}
#publsih-menu #pub-menu li{display:inline-block;height: 47px;margin-top: 1px;}
#publsih-menu #pub-menu li a{
background: #F2E1AC;
text-shadow:1px 1px 2px #fff;
height: 47px;
width: 292px;
display: inline-block;
margin: 0px;
padding: 0px;
line-height: 47px;
text-decoration: none;
font-size: 16px;
color: #666666;}
#publsih-menu #pub-menu li .selected{background: #DEB32E;color:#fff; }
#sampled-store{height: 346px;display: block;text-align: center;margin-top: 48px;padding: 0px 29px;}
#sampled-descrition{width: 375px;height: 346px;display: inline-block;float: left;text-align: left;}
#sampled-descrition h3{font-size: 22px; line-height: 30px;}
#sampled-pic{width: 414px;height: 346px;background: #ccc;display: inline-block;float: right;position: relative;
box-shadow: 0px 0px 5px 2px #DEB32E;
background-image: url("../../images/fb_store.jpg");
background-repeat: no-repeat;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#sampled-pic a{position: absolute;bottom: 0px;left: 0px;height: 60px;width:414px;display: block;line-height: 60px;
font-size: 22px;color:#382837;text-shadow: 1px 1px 1px #fff;background: #DEB32E;text-decoration: none;box-shadow:1px 1px 1px 1px #382837;}
/*==================================*/

#mainpage-2nd-wrapper{min-height: 550px;width: 100%;display: block;background-color: #F2836B;float: left;}
.main-page2-content{width: 886px;margin:0 auto;display: block;}
#mainpage-2nd-wrapper h1{font-size: 40px;color:#C92C23;text-align: left;text-shadow:1px 1px 1px #F8BCAF;line-height: 44px;margin-top: 30px;margin-bottom: 11px;}
#boxes-wrapper{width: 838px;display: block;height: 388px;}
#box-left{width: 242px;height: 388px;border: 1px solid #C92C23;display: inline-table;float: left;text-align: center;}
#box-left span{display: table-cell;vertical-align: middle;font-size: 14px;line-height: 18px;color:#fff;}
#box-right-tpleft{width: 278px;height: 217px;display: inline-table;text-align: center;border: 1px solid #C92C23;margin-left: 16px;}
#box-right-tpleft span{display: table-cell;vertical-align: middle;font-size: 14px;line-height: 18px;color:#F2836B;}
#box-right-tpright{width: 278px;height: 217px;display: inline-block;text-align: center;border: 1px solid #C92C23;float: right;background: #fff;}
#box-right-tpright #text-wrapper{width: 131px;height:100%;display: table;vertical-align: middle;margin: 0 auto;}
#box-right-tpright #span-text{display: table-cell;vertical-align: middle;font-size: 14px;line-height: 18px;color:#F2836B;}
#box-right-bottom{width: 578px;height: 148px;border: 1px solid #C92C23;text-align: center;display: inline-block;float: right;margin-top: 20px;background: #fff;}
#box-right-bottom #text2-wrapper{width: 282px;height:100%;display: table;vertical-align: middle;margin: 0 auto;}
#box-right-bottom  span{display: table-cell;vertical-align: middle;font-size: 14px;line-height: 18px;color:#F2836B;}
/*=====================================*/
#mainpage-3rd-wrapper{min-height: 801px;width: 100%;display: block;background-color: #81C0B7;float: left;}
.main-page3-content{width: 878px;margin:0 auto;display: block;}
.main-page3-content h1{margin: 30px 0px;text-align: left;font-size: 40px;color: #009999;text-shadow:1px 1px 1px #f0f0f0;}
#styx-sample{width: 754px;height: 539px;display:block;padding: 30px 62px;}
#styx-picture{height: 500px;width: 300px;display: inline-block;float: left;
box-shadow: 0px 0px 5px 2px #FFFFFF;
background-image: url("../../images/ministore.jpg");
background-repeat: no-repeat;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#styx-description{float: right;display: inline-block;width: 420px;}
#styx-description h3{width: 375px;height: 92px;font-size: 22px;line-height: 30px;color: #382837;display: inline-block;}
#styx-description p{font-size: 16px;display: inline-block;height: 116px;width: 382px;color:#666666;line-height: 20px;margin: 20px 0px;}
#embedd-code-wrapper{height: 94px;display: block;position: relative;}
#embedd-code-wrapper #white-box{width: 278px;height: 92px;border: 1px solid #009999;display: inline-block;}
#embedd-code-wrapper #instruction{font-size: 14px;line-height: 16px;width: 131px;display: inline-block;float: right;text-align: left;}
#embedd-code-wrapper #instruction #try-it{font-size: 30px;display: block;line-height: 35px;}
#styx-description button{height: 60px;width: 280px;display: block;font-size: 22px;line-height: 60px;text-align: center;cursor: pointer;margin-top:20px;
box-shadow:2px 2px 0px 1px #000;}
#styx-description #preview{color:#382837;text-shadow:1px 1px 1px #fff;background: #009999;}
#styx-description #create{color:#fff;text-shadow:1px 1px 1px #fff;background: #C92C23;}

/**** effect box shadow type 2******/
.effect2::before, .effect2::after {
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect2::after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}

/* =====================modeffects==================*/
.effect-mod::before,.effect-mod::after{
z-index: -1;
position: fixed;
content: "";
top: 2px;
left: 0px;
width: 71%;
bottom: 94%;
max-width: 386px;
background: #777;
-webkit-box-shadow: 0 15px 12px 0px #777;
-moz-box-shadow: 0 15px 12px 0px #777;
box-shadow: 0 15px 12px 0px #777;
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);
}
.effect-mod::after {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-o-transform: rotate(2deg);
-ms-transform: rotate(deg);
transform: rotate(2deg);
right: 0px;
left: auto;
}

/* styx header style */
/*.styx-main-logo-bg{background-color:#f49682 !important;}
 .styx-main-menu-bg{background-color: #F2836B !important;} 
.styx-main-menu-tab li a:hover, .styx-main-menu-tab li a.active{color: #D04228 !important;}
.styx-status-tab .user-wrapper:hover .name-login, .styx-status-tab .active .name-login, .styx-font-color-main{ color: #D04228 !important;}*/

/* main page with mac*/

.create-styx-wrapper h2{color:#000000;font-size: 32px; line-height: 36px;display:inline-block;font-family: 'Lato',sans-serif;
;margin-top: 62px;width: 565px;float: left;height: 36px;margin-left:-70px;text-align: right;
padding-right: 31px;font-weight: 300;
}
.color-333333{ color: #333333; }
.create-styx-wrapper #create-tags{font-size: 16px;line-height: 20px;color: #999999;margin-bottom: 57px;display: block; font-family: 'Droid Sans',sans-serif;}
.home-content-wrapper{display: block;text-align: center;width: 100%;margin: 50px auto 0px;float:left;
}
.container-fullwidth{display: ;width: 100%;}
.create-styx-wrapper{height: 671px;display: block;text-align: center;margin: 0 auto ;width:924px;
background-image: url("/cdn/images/main_images/home_topbg.png");
background-repeat: no-repeat;
background-position: 0px 65px;}
.create-form-wrapper{height: 477px;display: block;width:924px;background:transparent;text-align: center;margin: 0 auto;float:left;}
#mac-wrapper{width: 613px;display: inline-block;height: 447px;float: left;
/*background-image: url("/cdn/images/mac.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;*/
position: relative;}

.create-fields{min-height: 286px;width: 283px;display: inline-block;float: right; position: relative; margin-top: 64px; }
.create-fields .home-q1{float: left; font-size: 28px; color: #999999; font-family:"lato",calibri light, sans-serif, Helvetica;
        font-weight:100; text-align: left; margin-bottom: 25px;display: block; margin-top: 10px;}

.create-fields .gen_error{margin-top: 43px; width: 99%;}
#mainRegisterForm .create-fields .error2 { margin-top: 0; }
.create-fields input{height: 30px;border: 1px solid #51A296;text-indent:10px;font-size:12px;color:#CCCCCC;
		-webkit-box-shadow: inset 0px 0px 5px 2px #cccccc;        
        box-shadow: inset 0px 0px 5px 2px #cccccc;
        -webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		margin-bottom: 27px;}
.create-fields .fname-input{width: 135px;display: inline-block;float: left;margin-right: 7px;}
.create-fields .lname-input{width: 135px;display: inline-block;float: left;-webkit-border-radius: 2px;    
    border-radius: 2px;}
.create-fields .email-input{display: block;width: 280px;-webkit-border-radius: 2px;    
    border-radius: 2px;}

.create-fields .password-input{width: 280px;display: block;-webkit-border-radius: 2px;    
    border-radius: 2px;}
.create-fields .home-q2{ float: left; margin: 20px 2px 0 0; color: #666666; font-family: 'Lato',sans-serif; }
.create-fields .home-login{ float: left; margin: 20px 4px 0 0; text-decoration: underline; cursor: pointer;}
.create-fields .sign-up-btn{height: 44px;width: 133px;display: inline-block;background-color: #51A296;-webkit-box-shadow: 2px 2px 0 0 #000000;    
        -moz-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000; margin-bottom: 0;
        font-size: 18px;color:#FFFFFF;line-height: 44px; float:right;margin-right: 6px;margin-top: 6px;cursor: pointer; }
.create-fields .formError .formErrorContent{ text-align: left; }
.accnt-via-social-media{ float: left; min-height: 40px; margin-top: 36px; }
.home-create-accnt-lbl{ float: left; margin-right: 27px; margin-top: 11px; color: #666666; font-family: 'Lato',sans-serif; }
.s-fb-icon, .s-yahoo-icon, .s-google-icon{ background: transparent url("/cdn/images/store_images/social-media-small.png") no-repeat scroll 0 0;
	float: left; width: 34px; height: 34px; cursor: pointer; -moz-box-shadow:  0px 0px 0px 3px #e4dfdc;
	-webkit-box-shadow:  0px 0px 0px 3px #e4dfdc; box-shadow:  0px 0px 0px 3px #e4dfdc; -moz-border-radius: 2px;
	-webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
}

.s-yahoo-icon{
	background-position: -35px 0;
	margin-left: 14px;
}

.s-google-icon{
	background-position: -70px 0;
	margin-left: 14px;
}

.iform-wrapper{ float: left; position: relative; }
.create-fields label.error{ position: absolute; top: 32px; left: 0; font-size: 11px; color: red; text-align: left; }
.iform-wrapper-fname label.error, .iform-wrapper-lname label.error{ width: 132px; }
.shop-options-wrapper{position: relative; width:1004px; height: 520px;  margin:0 auto;display: block;
background-image: url("/cdn/images/main_images/open_shopbg.png");
background-repeat: no-repeat;
background-position: center top;
 }
.open-shop{width: 200px;height: 44px;display: inline-block;position: absolute;font-size: 16px;color: #FFFFFF;text-align: center;
background-color:#51A296;cursor:pointer;
-webkit-box-shadow:  2px 2px 0px 0 #000000;        
        box-shadow:  2px 2px 0px 0 #000000;} 
.vendor-type{left:333px;bottom: 92px;}
.promoter-type{right: 19px;bottom: 92px;}    
#every-text{width: 176px; vertical-align;middle;line-height:52px; font-size: 34px;color: #333333;text-align: right;text-shadow: 1px 1px 1px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);position: absolute;top:94px;left:0px;
        font-family: 'Calibri light', Open Sans,sans-serif;font-weight: 300;}  
#upload-text{width: 167px;height: 82px;font-size: 15px;line-height: 18px;display: block;text-align: left;position: absolute;top: 158px;left: 380px;color:#666666;}  
#manage-text{width: 107px;height: 82px;display: block;font-size: 15px;line-height: 18px;display: block;text-align: left;position: absolute;top: 264px;left: 445px;color:#666666;}  
#select-text{font-size: 15px;line-height: 18px;display: block;text-align: left;
    position: absolute;top: 161px;right: 228px;color:#666666;
    width: 140px;height:229px;}
.shop-option-lbl-wrapper{ float: left; width: 159px; padding: 0 101px 0 0; font-size: 25px; line-height: 32px; color:#CCCCCC; font-family: 'Droid Sans',sans-serif;}
.shop-option1-wrapper{ float: left; width: 375px; }
.shop-option2-wrapper{ float: left; width: 355px; }
.shop-option-wrapper h3{ float: left; width: 100%; font-size: 20px; color: #333333; margin-bottom: 11px; font-family: 'Droid Sans',sans-serif; }
.shop-option-wrapper p{ float: left; width: 100%; color: #999999; line-height: 20px; }
.shop-option1-wrapper span{ float: left; font-size: 14px; margin: 12px 0 0 153px; text-decoration: underline; cursor: pointer;}
.shop-option2-wrapper span{ float: left; font-size: 14px; margin: 12px 0 0 195px; text-decoration: underline; cursor: pointer;}
.shop-options-wrapper .shop-arrow-right{ background: url("/cdn/images/store_images/home-arrow-right.png") no-repeat scroll 0 0 transparent; position: absolute; width: 45px; height: 130px; left: 170px; top: 17px; display: block; }
.shop-options-wrapper .shop-separator{ background: url("/cdn/images/store_images/shop-option-separator.png") no-repeat scroll 0 0 transparent; position: absolute; width: 26px; height: 188px; left: 586px; top: 0; display: block; }

.gray-part{float: left; min-height: 445px;display: block;width: 100%;position: relative;
text-align: center; -webkit-box-shadow: 0 3px 2px -2px #a3a3a3; -moz-box-shadow: 0 3px 2px -2px #a3a3a3; box-shadow: 0 3px 2px -2px #a3a3a3;}
.gray-part-a{ background-color: #FAFAF5; }
.demo-shops-wrapper{ width: 990px; margin: 0 auto; min-height: 445px; padding: 0; }
/** shop demo wrapper**/
.shop-demo-wrapper{width: 1004px;margin: 0 auto;display: block;position: relative;padding-bottom: 103px;}    
.shop-demo-wrapper h2{width: 201px;height: 36px;font-size: 32px;text-align: center;display: block;line-height: 36px;font-weight: 300;
font-family: 'Lato',sans-serif;margin: 83px auto 10px;}
.shop-demo-wrapper #demo-paragraph{width: 676px;height: 64px;display: block;margin: 0 auto;text-align: center;font-size: 15px;color:#666666;line-height: 21px;}
.demo-pictures{height: 358px;display: block;position: relative;width: 1004px;margin: 87px auto 0px;}

.demo-divider1{background-image:url("/cdn/images/main_images/home_demodivider.png");
background-repeat: no-repeat; background-position: 0px 0px;height: 402px;width: 22px;display: block;
position: absolute;bottom:-30px;left:336px;
}
.demo-divider2{background-image:url("/cdn/images/main_images/home_demodivider.png");
background-repeat: no-repeat; background-position: 0px 0px;
height: 402px;width: 22px;display: block;position: absolute;bottom:-30px;left:672px;}

.demo-pictures .demo-label{position: absolute;top:-44px;left: 0px;height: 28px;width:1004px;display: table;}
.demo-label .label-wrapper{width: 333px;height: 28px; padding-left: 25px; text-align: left; display: table-cell;vertical-align: middle;}
.label-num{height: 34px;width: 34px;display: inline-block;-webkit-border-radius: 17px;    
    border-radius: 17px;border: 1px solid #F2EB8E;text-align: center;font-size: 20px;color: #333333;line-height: 34px;
    vertical-align: middle;background-color: #F6F0AD;
    text-shadow: 2px 2px 315px ##ffffff;
        filter: dropshadow(color=##ffffff, offx=2, offy=2);}
.label-title{display: inline-block;margin-left: 12px;line-height: 28px;font-size: 24px;color: #51A296;vertical-align: middle;
font-family: 'Calibri light', Open Sans,sans-serif;font-weight:300;}
.demo-pictures .demo-ico{position: absolute; width: 333px;height: 358px;display: inline-block; overflow: hidden; cursor: pointer;}
.shop-demo-wrapper #note-demo{display: inline-block;min-width: 676px;height: 16px;line-height: 16px;font-size: 12px;color: #666666;margin: 10px auto 0px;}

.demo-pictures .webshop-pic{background-image: url("/cdn/images/main_images/home_demobg.png");
background-repeat: no-repeat; background-position: -1px 16px; left: 0; }
.demo-pictures .mini-shop{background-image: url("/cdn/images/main_images/home_demobg.png");
background-repeat: no-repeat; background-position: -335px 16px; left: 335px;}

.demo-pictures .faceb-shop{background-image: url("/cdn/images/main_images/home_demobg.png");
background-repeat: no-repeat; background-position: -667px 16px; left: 669px;}


.gray-part h1{ float: left; width: 100%; text-align: center; margin-bottom: 35px; color: #CCCCCC; font-size: 32px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); font-family: 'Droid Sans',sans-serif;}
.gray-part .gray-content{ float: left; position: relative; width: 990px; height: 374px; text-align: left; }
.home-btn-for-sample{ height: 40px; padding: 0 20px; color: #FFFFFF; font-size: 14px; -webkit-box-shadow: 2px 2px 0 0 #000000;    
        -moz-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000; cursor: pointer; }
.webstore-sample-shop-wrapper{ position: absolute; top: 0; left: 0; padding: 11px 0 0 0; width: 335px; }
.webstore-sample-shop-wrapper .store-separator-bg{ background: url("/cdn/images/store_images/shop-demo-separator.png") no-repeat scroll 0 0 transparent; position: absolute; width: 26px; height: 292px; left: 296px; top: 0; }
.webstore-sample-shop-wrapper #color-choices p{ float: left; width: 100%; font-size: 12px; color: #666666; padding: 0 0; margin-bottom: 8px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);}
.webstore-sample-shop-wrapper #color-choices{ float: left; position: static; height: 48px; margin-bottom: 27px; }
.webstore-sample-shop-wrapper #color-choices #mini-color-wrapper{ float: left; }
.webstore-sample-shop-wrapper #page-edit-selection{ float: left; margin-bottom: 40px; }
.webstore-sample-shop-wrapper .home-btn-for-sample{ float: left; }
.webstore-sample-shop-wrapper #page-edit-selection #title{ color: #666666; font-size: 12px; }
.webstore-sample-shop-wrapper #page-edit-selection ul{ width: 250px; }
.webstore-sample-shop-wrapper #page-edit-selection ul li .frame_btn,
.webstore-sample-shop-wrapper #page-edit-selection ul li .sample_webstore_btn{ width: 74px; height: 48px; font-size: 11px; }
.webstore-sample-shop-wrapper  #page-edit-selection ul li .frame_btn:hover, .webstore-sample-shop-wrapper  #page-edit-selection ul li .selected,
.webstore-sample-shop-wrapper #page-edit-selection ul li .sample_webstore_btn:hover{width: 74px; height: 52px;}

.ministore-sample-shop-wrapper{ position: absolute; top: 0; left: 336px; padding: 11px 0 0 0; width: 350px; }
.ministore-sample-shop-wrapper p{ float: left; margin-bottom: 22px; width: 269px; color: #666666; line-height: 16px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);}
.ministore-embed-lbl{ float: left; color: #333333; width: 82px; margin-right: 37px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);}
.ministore-demo-lbl{ float: left; text-decoration: underline; cursor: pointer; width: 162px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);}
.ministore-embed-note{ float: left; margin-top: 6px; font-size: 11px; color: #999999; }
.ministore-sample-shop-wrapper .home-btn-for-sample{ float: left; margin-top: 18px; }
.ministore-sample-shop-wrapper .store-separator-bg{ background: url("/cdn/images/store_images/shop-demo-separator.png") no-repeat scroll 0 0 transparent; position: absolute; width: 26px; height: 292px; left: 319px; top: 0; }

.fbstore-sample-shop-wrapper{ position: absolute; top: 0; left: 687px; padding: 11px 0 0 0; width: 304px; }
.fbstore-sample-image{ background: url("/cdn/images/store_images/fbstore-sample.png") no-repeat scroll 0 0 transparent; float: left; width: 302px; height: 220px; display: block; }
.store-sample-shop-wrapper h2{ float: left; width: 100%; font-size: 18px; margin-bottom: 17px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); font-family: 'Droid Sans',sans-serif;}
.ministore-sample-embed-code{ float: left; width: 266px; height: 70px; border: 1px solid #9CA09F; padding: 4px; margin-top: 9px; }


.gray-shadow-left{
position: absolute;
bottom: -30px;
left: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_left.png");
background-repeat: no-repeat;

} 
.gray-shadow-right{
position: absolute;
bottom: -30px;
right: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_right.png");
background-repeat: no-repeat;}  

.gray-shadow-reverseleft{
position: absolute;
bottom: 0px;
right: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_left.png");
background-repeat: no-repeat;
-moz-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);

}   
.gray-shadow-reverseright{
position: absolute;
bottom: 0px;
left: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_right.png");
background-repeat: no-repeat;
-moz-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(180deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}    

.styx-wrapper{width: 817px;margin: 0 auto;text-align: center;}
.styx-wrapper h3{font-size: 40px;line-height: 42px;color:#333333;display: block;margin-top: 82px; font-family: 'Lato', Open Sans, sans-serif;
font-weight: 300;height: 65px;width: 817px;text-align: center;
background-image: url("/cdn/images/main_images/use_styx_underline.png");
background-repeat: no-repeat;background-position:80px 34px;}
.styx-wrapper p{color:#333333;width: 676px;line-height: 18px; font-size: 12px;text-align: center;margin-left: auto;margin-right: auto;margin-bottom: 74px;}
#styx-demobg-holder{position: relative; width: 981px;min-height: 589px;margin: 0 auto;text-align: center;display: inline-table;
background-image: url("/cdn/images/main_images/home_styx_demobg.jpg");
background-repeat: no-repeat;background-position:center top; background-color: #ffffff;
border: 1px solid #999999;}  
 
.demo-preview{ background: url("/cdn/images/main_images/demo_preview.jpg") no-repeat scroll center top #84bcb4; position: absolute; top: 56px; left: 3px; width: 977px; height: 542px; z-index: 999;}     
.homepage-styx-sample{ position: relative; width: 880px; min-height: 504px; margin: 0 auto; padding-top: 95px; }
.styx-nxt-lvl #page-edit-selection{ margin-bottom: 0;}

.styx-nxt-lvl{background-color: #FAFAF5; float: left;width: 100%;text-align: center;min-height: 740px; padding-bottom: 69px; }
.home-footer-wrapper{ background-color: #81C0B7; float: left; width: 100%; height: 72px; padding-top: 28px; text-align: center;}
ul.footer-menus{ width: 100%; }
ul.footer-menus li{ display: inline; padding: 0 15px; color: #ffffff; }
ul.footer-menus li a{ text-decoration: none; color: #ffffff; }
ul.footer-menus li a:hover{ text-decoration: underline; }

/* override styx sample*/
.override-styx-right{margin: 0px !important;}
.override-styx-left{position: relative;}
.override-color-wrapper{right: -412px !important;float:left;text-align: left !important;font-size: 12px !important; color:#999999;
height:16px !important; line-height: 16px !important;top:35px !important;}
.override-color-wrapper p{float: left !important;line-height: 30px !important;margin-right: 10px !important;}
.override-minicolors{float: left !important;}
.override-selectfront{margin: 58px 0px 8px !important;}
.override-embeed{font-size: 18px!important;color:#51A296 !important;float: left;min-width:102px !important;text-align: left !important; }
.override-button{width: 220px;height: 40px;display: block;background-color:#51A296;font-size: 16px;text-align: center;color: #ffffff;margin-top: 16px;
float: left;cursor: pointer;-webkit-box-shadow: 2px 2px 0px 1px #000000;
box-shadow: 2px 2px 0px 1px #000000; }
#mini-color-wrapper{width: 110px!important;}
.minicolors-swatch {height: 29px !important; width: 29px !important;}

/* begin demo shop popup */
.demo_shop_popup_wrapper{ width: 985px; min-height: 813px; position: absolute !important;-webkit-border-radius: 4px !important;
border-radius: 4px !important;  }

.top-popmenu{
    display: block;height: 95px;width: 985px;
}
.top-popmenu-wrapper{
    height: 40px;display: inline-block;width: 985px;
    
}

.top-popmenu-wrapper ul{display: inline-block;margin: 0px;border:none;padding: 0px;}
.top-popmenu-wrapper ul li{display: inline-block;vertical-align: middle;line-height: 40px;text-align: center;font-size: 14px;color: #CCCCCC;
                      border-right: 1px solid #81C0B7;height: 40px;float:left;}
.top-popmenu-wrapper ul li:last-child{border-right:0px;}
.top-popmenu-wrapper .demo{font-size: 18px;color: #999999;font-weight: normal;width:99px;}
.web-shop{width:116px;}
.stick-shop{width:174px;}
.stick-mini{width:174px}
.stick-fb{146px;}

.menu-selected{background-color: #81C0B7;border-color: #52A296;height: 41px !important;margin-bottom: -1px;color:#FFFFFF !important;margin-left:-1px;border-left:1px solid #52A296;border-right:1px solid #52A296 !important;}
.menu-selectable:hover{color: #81C0B7;cursor: pointer;}
.tab-vairety-selected{background-color: #81C0B7;border-color: #FFFFFF;color:#333333;-webkit-box-shadow: inset 0px 0px 10px 3px #51A296;
     box-shadow: inset 0px 0px 10px 3px #51A296;}
.top-popmenu-tab{height: 55px;display: table;width: 100%;background-color: #81C0B7;border-top:1px solid #52A296;}
.tab-varieties{display: table-cell;vertical-align: middle;}

.clabel{font-size: 12px;color:#FFFFFF;margin:0px 8px 0px 26px;display: inline-block;line-height: 30px;}
.ccolors{width:218px;text-align: left;vertical-align: middle;display:inline-block;}

.tab-variety-butt{width: 128px;border: 1px solid #51A296;display: inline-block;vertical-align: middle;text-align: center;height: 28px;background-color: #FFFFFF;opacity:0.8;
filter:alpha(opacity=80);line-height: 28px;color: #666666;margin-right: 8px;cursor: pointer;}
.tab-variety-butt:hover {opacity:1;
filter:alpha(opacity=100);color: #666666;}
.front-plabel{width: 77px;font-size:12px;color: #FFFFFF; vertical-align: middle;color:#FFFFFF;display: inline-block;height: 30px;line-height: 30px;}
.box-color{height: 23px;width: 23px;border: 1px solid #000000;vertical-align: middle;margin-right: 4px;display: inline-block;}
.preview-web-wrapper{width: 100%;clear: both;height: 717px;display: block;background-color: #FFFFFF;}
.address-tabbar{clear: both;width: 100%;height: 26px;display: block;position: relative;background-color: #FFFFFF;
background-image: url("/cdn/images/address_tabbar.png");
            background-repeat: no-repeat;background-position-x: center;}
.address-url{position: absolute;height: 13px;width: 860px;display: block;text-align: left;padding-left: 10px;font-size: 10px;line-height: 13px;color:#000000;top:6px;left:70px; }
iframe{height: 694px;width: 100%;}
/* end demo shop popup */

