@CHARSET "ISO-8859-1";

#profile-right-content {
min-width: 763px;
margin-left:51px;
}
#manage-main-wrapper{min-height: 100%;min-width:1300px;z-index:0;
display: inline-block;position:relative;width:100%;
float: left;}
#entire-store-wrapper{ float: left; min-width: 1040px; position: relative;}
#mange-store-menu{height: 59px;width: 1000px;display:table;position: relative;background: #fff;}
#color-choices{width: 128px;display: inline-block;position: absolute;left: 0px;bottom: 0px;height: 35px;}
#color-choices p{font-size: 11px;color:#9CA09F;padding: 0px 5px;display: inline-block;line-height: 20px;vertical-align: middle;}
.save-colors-btn{ float: left; border: 0 none; margin: 0 0 0 6px; color: #ffffff; font-size: 12px; cursor: pointer; padding: 5px 11px; -moz-box-shadow: 3px 3px 0 0 #000000; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; display: none; }
.webstore-colors-box p{ float: left !important;}
.webstore-colors-box #mini-color-wrapper2{ float: left !important;}
.webstore-colors-box{ float: left; position: static !important; margin-top: 22px; width: 260px !important; }
/*
.#color-choices span{width: 18px;height: 18px; border: 1px solid #000;display: inline-block;vertical-align: middle;}
.#color-choices #c1{background-color: #FF3300;}
.#color-choices #c2{background-color: #000;}
.#color-choices #c3{background-color: #fff;} */

#msp-menus{ float: left; margin: 20px 0 0 0; height: 30px; }
#msp-menus span{ float: left; margin: 0 11px 0 35px; color: #999999; line-height: 30px; }
#msp-menus .store-btn{ float: left; background-color: #ffffff; padding: 0 22px; height: 30px; border: 0 none; margin-right: 7px; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC;}
#msp-menus a.store-btn { text-decoration: none; line-height: 30px; }
#msp-menus .store-btn:hover{ cursor: pointer; -moz-box-shadow: 0 0 4px 1px #51A296; -webkit-box-shadow: 0 0 4px 1px #51A296; box-shadow: 0 0 4px 1px #51A296; }
#manage-menus{display: table-cell;vertical-align: bottom;height:30px;margin: 0 auto;}
#manage-menus ul{ display: inline-block; left: 186px; list-style: none outside none; min-width: 577px; position: absolute; top: 29px; vertical-align: middle; z-index: 1;}
#manage-menus ul li{display: inline-block;width: 120px;text-align: center;height: 30px;font-size: 12px;color: #ccc;position:relative;margin:0px 5px;
cursor:pointer;background: #F5F5EC;line-height: 30px;}
#manage-menus ul li.selected{color:#DEB32E;background: #fff;box-shadow:0px 0px 12px 2px #ccc;}
#manage-menus ul li .span-white{display: none;height: 14px;width: 120px;background-color: #fff;}
#manage-menus ul li.selected .span-white{display: inline-block;position: absolute;bottom: -14px;left: 0px;}
#manage-menus ul li:hover{background-color: #fff;color:#DEB32E;box-shadow:0px 0px 12px 2px #ccc;}
#manage-menus ul li:hover .span-white{display: inline-block;position: absolute;bottom: -14px;left: 0px;}
#store-hbg{background:  url("../../images/store_images/store-top-separator.png") no-repeat scroll 0 0 transparent; width: 808px; height: 27px; position: absolute; top: 109px; left: 128px; }
#store-preview-outer-wrapper{min-width: 600px;min-height: 500px; float: left; }
#store-preview-outer-wrapper #popup-preloader-wrapper{ z-index: 0 !important; }
#box-white{min-width: 600px;min-height: 500px; /* border: 1px solid #F5F5EC; */ display: block;float: left;margin: 28px auto 0; position: relative; }
#ministore-control-wrapper{ float: left; width: 435px; }

#fbstore-control-wrapper{ position: absolute; top: 20px; left: 260px; width: 600px; }
#fbstore-control-wrapper #page-edit-selection ul li button{ height: 48px; }
#fbstore-control-wrapper #page-edit-selection ul li button:hover{ background-color: #F5F5EC; color: #DEB32E; -moz-box-shadow: 1px 1px 5px #999999; -webkit-box-shadow: 1px 1px 5px #999999; box-shadow: 1px 1px 5px #999999; }
#fbstore-control-wrapper #page-edit-selection ul li .selected, #fbstore-control-wrapper  #page-edit-selection ul li .selected button:hover{ background-color: #F5F5EC; color: #DEB32E; border-color: #F2E1AC !important; -moz-box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; -webkit-box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; }
#fbstore-control-wrapper #page-edit-selection ul{ height: 50px; }

.publish_btn{color:#FFFFFF; font-size: 18px; position: absolute; top: 48px; right: 47px; height: 53px; line-height: 53px; width: 180px; display: inline-block;text-align: center;text-decoration: none;
cursor: pointer; -moz-box-shadow: 3px 3px 0px #000000; -webkit-box-shadow: 3px 3px 0px #000000; box-shadow: 3px 3px 0px #000000;}
.publish_btn:hover{ background-color: #81C0B7 !important; color: #FFFFFF; -moz-box-shadow: 3px 3px 0 0 #51A296; -webkit-box-shadow: 3px 3px 0 0 #51A296; box-shadow: 3px 3px 0 0 #51A296; }
.preview_publish_btn{ font-size: 15px; font-weight: bold; }
.pubto_lbl{ position: absolute; top: 29px; right: 47px; width: 180px; text-align: center; color: #333333; }
.rmpub_lbl{ position: absolute; top: 106px; right: 47px; width: 180px; text-align: center; color: #51A296; font-size: 11px; text-decoration: underline; cursor: pointer;}

/*================effects =======================*/
.effect6:before, .effect6:after {
content: "";
position: absolute;
z-index: -1;
-webkit-box-shadow: 0 0 21px -4px #666666;
-moz-box-shadow: 0 0 21px -4px #666666;
box-shadow: 0 0 21px -4px #666666;
top: 50%;
bottom: 0;
left: 10px;
right: 10px;
-moz-border-radius: 200px/70px;
border-radius: 200px/70px;
}
.effect6:after {
right: 10px;
left: auto;
-webkit-transform: skew(8deg) rotate(3deg);
-moz-transform: skew(8deg) rotate(3deg);
-ms-transform: skew(8deg) rotate(3deg);
-o-transform: skew(8deg) rotate(3deg);
transform: skew(8deg) rotate(3deg);
}

/*=============================== profile promoter styx create===========================*/
#styx-wrapper{width: 810px;margin: 0 0 0 50px;display: block;float: left;}
#styx-content-wrapper{width:733px;display:block;min-height:300px;float: right;}
#styx-title-wrapper{width: 810px;height: 50px;display:inline-table;padding: 14px 0px;text-align: right;position: relative;background: #FFF;margin-bottom: 27px;}
#styx-title-wrapper #title{text-align: left;font-size: 22px;color: #F2836B;display:table-cell;vertical-align: middle;height: 26px;width: 246px;}
#styx-title-wrapper button{width: 105px;height: 38px;border:1px solid #FFF;font-size: 16px; text-align: center;line-height: 32px;color: #F2836B; cursor: pointer;
margin-top:7px;margin-left:9px;display: inline-block;vertical-align: bottom;text-decoration: none;box-shadow:1px 1px 5px 0px #999999;}
#styx-title-wrapper #new{background: url("../../images/store_images/add-icon.png") no-repeat scroll 7px 5px #F5F5EC; text-indent: 20px; }
#styx-title-wrapper #done{background-color: #F2836B;color:#fff;}

/*================== styx-content-left================*/
#stykable-colors-and-design-wrapper{ float: left; position: relative; min-width: 820px; }
#stykable-content-wrapper{ display: block; float: left; min-height: 300px; min-width: 820px; margin-top: 15px;}
#styx-content-left{display: inline-block;width: 340px;float: left;min-height: 280px;}
#styx-content-left iframe{height: 280px;width: 336px;display: inline-block;overflow: hidden;box-shadow:0px 0px 5px 0px #CCCCCC;}
#colors-wrapper{display: table;width: 336px;height: 32px;text-align: right; margin-bottom: 24px; }
#colors{
	width: 112px;
display: table-cell;vertical-align:middle;
height: 30px;
}
#liv-prev{display: table-cell;vertical-align: middle;font-size: 14px;color:#51A296;text-align: left;}
#colors p{font-size: 11px;color:#9CA09F;padding: 0px;display: inline-block;line-height: 20px;vertical-align: middle;}
#mini-color-wrapper{ float: right; width: 80px; }
#mini-color-wrapper2{ float: right; width: 80px; }

#stykable-content-left{display: inline-block;width: 172px;float: left;min-height: 445px;}
#stykable-colors-wrapper{display: table;width: 172px;height: 48px;text-align: left; margin-bottom: 32px; }
#stykable-colors{ width: 112px; display: table-cell; vertical-align:middle; height: 20px; }
#stykable-colors p{ float: left; font-size: 14px; color: #9CA09F; margin: 13px 0 10px; width: 100%; }
#stykable-mini-color-wrapper{ float: left; width: 100%; position: relative; z-index: 999; }
#stykable-mini-color-wrapper .minicolors-swatch{ height: 20px !important; width: 20px !important; }
.stykable-setting { float: left; position: relative; height: 49px; width: 100%; margin-bottom: 32px; }
.stykable-setting p{ float: left; width: 100%; margin-bottom: 6px; font-size: 14px; color: #9CA09F; text-indent: 2px; }
.stykable-setting .slider-range-wrapper, .stykable-setting .slider-range-wrapper2{ position: absolute; left: 0; top: 26px; width: 132px; }
.stykable-setting .slider-range-wrapper2{ width: 133px; height: 14px; margin-left: 3px; }
.stykable-setting .ui-slider-horizontal{ height: 12px; }
.stykable-setting .font-size-val, .stykable-setting .width-val, .stykable-setting .height-val{ border: 0 none; color: #51A296; width: 50px; margin-left: 12px;}
.stykable-setting .font-size-val label, .stykable-setting .width-val label, .stykable-setting .height-val label{ color: #9CA09F; }

.select_stykable_theme{ background: url("../../images/store_images/sprite.png") no-repeat scroll 108px -284px #F5F5EC;
    color: #51A296; border: 1px solid #ffffff; position: absolute; height: 26px; width: 130px; line-height: 26px; left: 0; top: 24px;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}

select.select_stykable_theme{ margin-top: 3px; }
#stykable-content-wrapper .ui-widget{ display: block; }
#stykable-content-wrapper .ui-widget-header {
    background: none repeat scroll 0 0 #81C0B7;
    border: 1px solid #51A296;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	position: absolute;
	left: -1px;
    top: -1px;
}
#stykable-content-wrapper .ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
}
#stykable-content-wrapper .ui-state-default,
#stykable-content-wrapper .ui-widget-content .ui-state-default,
#stykable-content-wrapper .ui-widget-header .ui-state-default{
	background: none repeat scroll 0 0 #51A296;
    border: 1px solid #333333;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	width: 8px; height: 18px; top: -4px;
}
.stykable-width{ height: 86px !important; margin-bottom: 34px !important; }
.stykable-size-wrapper{ float: left; width: 136px; padding-top: 32px; }
.stykable-size-left{ float: left; width: 65px; text-align: left; }
.stykable-size-left label{ float: left; width: 100%; font-weight: bold; font-size: 11px; color: #9CA09F; }
.stykable-size-left input{ float: left; width: 30px; text-align: center; border: 1px solid #CCCCCC; margin-right: 3px; font-size: 11px; color: #333333; }
.stykable-size-left span{ float: left; font-size: 11px; color: #333333;  }
.stykable-size-right{ float: right; width: 50px; text-align: left; }
.stykable-size-right label{ float: left; width: 100%; font-weight: bold; font-size: 11px; color: #9CA09F; }
.stykable-size-right span{ float: left; width: 100%; font-size: 11px; color: #333333; }
.stykable-mobile-width span{ float: left; width: 100%; color: #333333; margin-top: 8px; font-size: 11px; }
.stykable-mobile-width span input{ color: #CCCCCC; margin-left: 2px; vertical-align: sub;}

/*==================================styx-content-right=========================*/
#stykable-content-right{min-width: 648px; display: inline-block;float: left;min-height: 445px; position: relative;}
.pslideshow-preview-wrapper{ position: absolute; top: 0; left: 0; width: 460px; height: 420px; border: 1px solid #ffffff; box-shadow: 0 0 4px 2px #CCCCCC; -moz-box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; }
.pslideshow-preview-wrapper h1{ padding: 10px; font-size: 12px; color: #51A296; }

#styx-content-right{width: 318px;display: inline-block;float: right;min-height: 280px; position: relative;}
#size-selector span{font-size: 14px;color: #9CA09F;display: inline-block;line-height: 18px;}
#size-selector ul{list-style: none;margin-bottom: 28px;height: 34px;width: 318px;display: block;
}
#size-selector #size-select #size-select-title{width: 284px;height: 34px;border: 1px solid #fff;border-radius:4px;-webkit-border-radius:4px;box-shadow:0px 0px 5px #999999;
background-color: #F5F5EC;background-repeat: no-repeat;
background-position: 287px -74px;
font-size: 14px;line-height: 34px;padding: 0px 16px;color: #F2836B;margin: 16px 0px;
position: relative;}

#size-select-title ul{display: none;}
#size-select-title:hover ul{display: block;position: absolute;left:0px;top:35px;}
#size-select-title:hover ul li{padding: 0px 16px;background-color: #F5F5EC;}
#size-select-title:hover ul li:hover{background-color: #fff;cursor: pointer;}
#page-edit-selection{display: inline-block; margin-bottom: 44px; }
#page-edit-selection h2{ position: absolute; top: -24px; }
#page-edit-selection #title {font-size: 14px;color:#9CA09F;display: block;line-height: 18px;margin: 10px 0px; text-align: left; }
#page-edit-selection ul{list-style: none;display: block;width: 276px;height: 60px;text-align: center;}
#page-edit-selection ul li{display: inline-table;vertical-align: middle;}
#page-edit-selection ul li:FIRST-CHILD{float: left;}
#page-edit-selection ul li:LAST-CHILD{float: right;}
#page-edit-selection ul li button{width: 88px; height: 58px; cursor: pointer; display: table-cell;vertical-align:middle;background-color: #F5F5EC;border: 1px solid #ffffff;
box-shadow:1px 1px 5px #999999; text-align: center;font-size: 12px;color:#9CA09F;text-decoration: none;}
#page-edit-selection ul li .selected{width: 90px; height: 60px; -moz-box-shadow: 0px 0px 6px 4px #81C0B7 inset; -webkit-box-shadow: 0px 0px 6px 4px #81C0B7 inset; box-shadow: 0px 0px 6px 4px #81C0B7 inset;
color:#51A296; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); display: table-cell; vertical-align:middle;}
#page-edit-selection ul li button:hover{ height: 62px;  margin-top: -2px; -moz-box-shadow: 0px 0px 6px 4px #81C0B7 inset; -webkit-box-shadow: 0px 0px 6px 4px #81C0B7 inset; box-shadow: 0px 0px 6px 4px #81C0B7 inset; color:#51A296; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1);}
#embedd-wrapper{position: relative;}
#stykable-embedd-wrapper{ float: left; width: 180px; margin-left: 22px; }
#stykable-embedd-wrapper #code-wrapper{ float: left; width: 170px; height: 70px; border: 1px solid #CCCCCC; padding: 4px 4px; }
#stykable-pslideshow-wrapper{ float: left; width: 460px; height: 420px; border: 1px solid #ffffff; box-shadow: 0 0 4px 2px #CCCCCC; -moz-box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; }
.fb-steps{ float: left; color: #666666 !important; line-height: 16px; width: 353px; margin-left: 2px; }
.fb-shop{position: absolute; top: 48px; right: 256px; margin: 1px 0 0 0 !important;}
.fb-shop ul{  }
#page-edit-selection .fb-fn{ height: 51px; width: 88px; }
.fb-shop .fb-fn:hover, .fb-shop .selected{ height: 55px !important; width: 88px !important; }



#widget-wrapper{ float: left; width: 336px; min-height: 280px; position: relative; }
#page-edit-selection ul li .frame_btn, #page-edit-selection ul li .sample_frame_btn, #page-edit-selection ul li .sample_webstore_btn{width: 88px; height: 58px;display: table-cell;vertical-align:middle;background-color: #F5F5EC;border: 1px solid #ffffff;
box-shadow:1px 1px 5px #999999;text-align: center;font-size: 12px;color:#9CA09F;text-decoration: none;}
#page-edit-selection ul li .frame_btn:hover, #page-edit-selection ul li .selected, #page-edit-selection ul li .sample_frame_btn:hover, #page-edit-selection ul li .sample_webstore_btn:hover{width: 88px; height: 62px; margin-top: -2px; -moz-box-shadow: 0px 0px 6px 4px #81C0B7 inset; -webkit-box-shadow: 0px 0px 6px 4px #81C0B7 inset; box-shadow: 0px 0px 6px 4px #81C0B7 inset; color:#51A296; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); display: table-cell;vertical-align:middle; cursor:pointer; }
.store-frontpage-menu #page-edit-selection ul li button:hover{ background-color: #F5F5EC; color: #DEB32E; -moz-box-shadow: 1px 1px 5px #999999; -webkit-box-shadow: 1px 1px 5px #999999; box-shadow: 1px 1px 5px #999999; }
.store-frontpage-menu #page-edit-selection ul li .selected, .store-frontpage-menu #page-edit-selection ul li .selected button:hover{ background-color: #F5F5EC; color: #DEB32E; border-color: #F2E1AC !important; -moz-box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; -webkit-box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; box-shadow:inset 0px 0px 6px 4px #F2E1AC !important; }

#widget-display-inner { float: left; overflow: hidden; position: relative; border: 1px solid #FFFFFF;
	box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; -moz-box-shadow: 0 0 4px 2px #CCCCCC;}
#widget-display-top{ position: absolute; top: 0; left: 0; overflow: hidden; }
.cover-top{
	background-color: #F2F2F2;
	filter:alpha(opacity=90);
	opacity: 0.90;
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	position: absolute; 
	display: table;
}
.cover-bottom{ 
	position: absolute; 
	background-color: #FFFFFF;
	filter:alpha(opacity=10);
	opacity: 0.1;
	-moz-opacity:0.1;
	-khtml-opacity: 0.1;
 }
.widget-msg-wrapper{ display: table-cell; text-align: center; vertical-align: middle; }
.widget-msg-wrapper p{font-size: 14px; color:#9B9F9F; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);}
#page-edit-selection #upload-wrapper{width: 318px;height: 26px;display: block;float: left;position: relative;}
#page-edit-selection #splash-notes{font-size: 12px;line-height:18px;color: #9CA09F;middle;width: 318px;float: left;margin: 12px 0px;}
#page-edit-selection #image-input{width: 203px;height: 24px;border:1px solid #9CA09F;display: inline-table;padding: 0px 5px;vertical-align: middle;}
#page-edit-selection .splash-btn, #page-edit-selection .dsplash-btn{width: 88px;height: 26px;display: inline-table;text-align: center;line-height: 26px;font-size: 12px; color:#fff;background: #51A296;
-moz-box-shadow: 2px 2px 0px #000; -webkit-box-shadow: 2px 2px 0px #000; box-shadow: 2px 2px 0px #000; float: right;text-decoration: none; cursor: pointer;}
#page-edit-selection .splash-btn:hover, #page-edit-selection .dsplash-btn:hover{ background-color: #000000; -moz-box-shadow: 2px 2px 0px #51A296; -webkit-box-shadow: 2px 2px 0px #51A296; box-shadow: 2px 2px 0px #51A296;}
#page-edit-selection .dsplash-btn{width: 130px; float: left; margin-top: 14px;}

#page-edit-selection #footnotes{font-size: 11px;color:#999999;position: absolute;bottom: -16px;left:0px;line-height: 15px;}
#check{margin-top: 28px;display: block;height: 15px;float: left;font-size: 12px;color: #9CA09F;}
#check input{vertical-align: middle;margin-right: 5px;border-radius:3px;border-color:#ccc;}
#action-label{display: block;float: left;padding: 0px 5px;width: 306px;height: 24px;font-size: 12px;color: #51A296;line-height: 26px;border: 1px solid #9CA09F;margin: 12px 0px;}


#embedd-wrapper span{font-size: 14px;color: #9CA09F;display: block;line-height: 18px;margin: 34px 0 10px;}
#stykable-embedd-wrapper span{font-size: 16px;color: #51A296;display: block; margin-bottom: 9px; }
#embedd-wrapper #code-wrapper{ float: left; width: 274px;height: 118px; padding: 4px; border: 1px solid #9CA09F;display: block;overflow: auto;}
#embedd-wrapper a{position: absolute;bottom: -32px;left:259px;height: 26px;width: 58px;display: inline-block;text-align: center;line-height: 26px;text-decoration: none;
font-size: 12px;color:#fff;background-color: #F2836B; -moz-box-shadow: 2px 2px 0px #000000; -webkit-box-shadow: 2px 2px 0px #000000; box-shadow: 2px 2px 0px #000000;}
#embedd-wrapper a:hover, #embedd-wrapper a.hover{ background-color: #000000; -moz-box-shadow: 2px 2px 0px #F2836B; -webkit-box-shadow: 2px 2px 0px #F2836B; box-shadow: 2px 2px 0px #F2836B; }

.store-frontpage-menu #embedd-wrapper a{background-color: #DEB32E; -moz-box-shadow: 2px 2px 0px #000000; -webkit-box-shadow: 2px 2px 0px #000000; box-shadow: 2px 2px 0px #000000;}
.store-frontpage-menu #embedd-wrapper a:hover{ background-color: #000000; -moz-box-shadow: 2px 2px 0px #DEB32E; -webkit-box-shadow: 2px 2px 0px #DEB32E; box-shadow: 2px 2px 0px #DEB32E; }

#size-selector{
	float: left; position: relative; width: 318px; min-height: 90px; margin-top: 15px; }
}
.widget-size-wrapper{ position: absolute; width: 212px; height: 24px; top: 20px; right: 54px; line-height: 24px;}
.widget-size-wrapper span{ float: left; margin-right: 10px; color: #999999; }
.select_widget_type{ background: url("../../images/store_images/sprite.png") no-repeat scroll 290px -280px #F5F5EC;
    color: #51A296; border: 1px solid #ffffff; position: absolute; height: 34px; width: 318px; line-height: 34px; right: 0; top: 26px;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}
select.select_widget_type{ margin-top: 3px; }

#live-wrapper-title{margin-top:29px;display: block;font-size:14px;line-height: 18px;color: #9CA09F;text-shadow: 1px 1px 2px #fff;}
#ministore-separator-bg{ background:  url("../../images/store_images/ministore-separator-bg.png") no-repeat scroll 0 0 transparent; float: left; width: 27px; height: 574px; margin-left: 26px; }
#frontpage-menu{ background:  url("../../images/store_images/mini-store-settings-bg.png") no-repeat scroll 0 0 transparent;  width: 318px;height:543px;display: inline-block; float: left; border-left: 1px solid #ffffff; padding: 31px; position: relative;overflow: hidden;}
#frontpage-title{margin-bottom: 12px;display: block;font-size:14px;line-height: 18px;color: #9CA09F;text-shadow: 1px 1px 2px #fff;}

.ms-main-wrapper{ float: left; width: 600px; height: 560px; -moz-box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; position: absolute; top: 0; left: 0; z-index: 20;}
.fb-main-wrapper{ float: left; width: 888px; min-height: 644px; margin-top: 20px; margin-left: 12px; position: relative; }
.fb-header-image{ background: url("../../images/store_images/fb-header.png") no-repeat scroll 0 0 transparent; float: left; width: 888px; height: 38px; position: absolute; z-index: 20; }
.fb-iframe-wrapper{ background: url("../../images/store_images/fb-iframe-bg.png") no-repeat scroll 0 0 transparent; float: left; position: absolute; width: 808px; height: 584px; padding: 22px 33px 0 46px; top: 38px; z-index: 20;}
.fb-main-wrapper #popup-preloader-wrapper { z-index: 0; }

/* stykable single product */
.single-product-holder{ position: absolute; top: 0; left: 0; width: 460px; height: 420px; border: 1px solid #ffffff; box-shadow: 0 0 4px 2px #CCCCCC; -moz-box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; }
.s-product-main-wrapper{ float: left; width: 460px; height: 420px; margin: 0; padding: 0; }
.s-product-top-main-wrapper{ float: left; position: relative; z-index: 1; height: 140px; padding: 0 25px; width: 548px; overflow: hidden; -webkit-box-shadow: 0 3px 3px -3px #000000; -moz-box-shadow: 0 3px 3px -3px #000000; box-shadow: 0 3px 3px -3px #000000;}
.s-product-top-wrapper{ float: left; display: table; width: 100%; height: 140px; }
.s-product-top-content{ display: table-cell; width: 100%; vertical-align: middle; }
.s-product-top-content h1{ float: left; width: 100%; font-size: 44px; line-height: 44px; font-family: impact; }
.s-product-top-content span{ float: left; font-weight: bold; font-size: 28px; line-height: 28px;}
.s-product-middle-wrapper{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; position: relative; height: 342px; padding: 0 25px; width: 548px; }
.s-product-btns{ position: absolute; bottom: 31px; }
.s-product-share-ico{ background: url('/cdn/images/share-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 2px; margin-bottom: 3px; }
.s-product-wishlist-ico{ background: url('/cdn/images/wishlist-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 2px; margin-bottom: 3px; }
.s-product-info-ico{ background: url('/cdn/images/info-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 16px; margin-bottom: 3px; }
.s-product-buy-btn{ float: left; width: 98px; height: 38px; margin-top: 4px; line-height: 38px; text-align: center; font-size: 22px; color: #000; border: 1px solid; text-decoration: none; box-shadow: 3px 3px 0 0 #000; -moz-box-shadow: 3px 3px 0 0 #000; -webkit-box-shadow: 3px 3px 0 0 #000; }
.s-product-bottom-main-wrapper{ float: left; position: relative; z-index: 1; height: 37px; padding: 0 25px; width: 548px; box-shadow: 0 -4px 5px -6px #000000; -moz-box-shadow: 0 -4px 5px -6px #000000; -webkit-box-shadow: 0 -4px 5px -6px #000000; }
.s-product-bottom-wrapper{ float: left; display: table; width: 100%; height: 37px; }
.s-product-bottom-content{ display: table-cell; width: 100%; vertical-align: middle; }
.s-product-bottom-content strong{ float: left; font-size: 18px; line-height: 36px; width: 50%; }
.s-product-bottom-content span{ float: right; width: 50%; text-align: right; line-height: 36px; }
.s-product-bottom-content span label{ font-size: 15px; font-size: 9px; line-height: 15px; }
.s-product-bottom-content span a{ font-size: 15px; text-decoration: none; }
.s-product-save-btn{ border: 0 none; color: #ffffff; font-size: 15px; font-weight: bold; cursor: pointer; padding: 14px 65px; bottom: -38px; margin: 0; position: absolute; left: 618px; -moz-box-shadow: 2px 2px 0 0 #000000; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000; }
.buttons-wrapper{float: left; position: relative; width: 100%; }
.bottom-separator{ float: left; background: url('/cdn/images/store_images/shop-separator-bottom.png') no-repeat scroll center center transparent; margin-left: 15px; width: 808px; height: 27px; padding: 24px 0; }