/* Preloader */

#fountainG{
position:absolute;
width:80px;
height:10px;
left:0;
}

.fountainG{
position:absolute;
top:0;
background-color:#000000;
width:10px;
height:10px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:7px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:7px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:7px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:7px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:7px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainG_2{
left:10px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainG_3{
left:20px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fountainG_4{
left:30px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fountainG_5{
left:40px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fountainG_6{
left:50px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fountainG_7{
left:60px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fountainG_8{
left:70px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}


#preloader-wrapper, 
#mainpreloader-wrapper{height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder,
#mainpreloader-wrapper .mainpreloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center,
#mainpreloader-wrapper #mainpreloader-center{ position:relative; }
#preloader-wrapper .preloader-storename,
#mainpreloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb,
#mainpreloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }
#mainpreloader-wrapper { z-index:9999999; }





/* large loader */

#fountainG.large{height:29px;position:relative;width:240px; margin:0 auto; }
.large .fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_large_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_large_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_large_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_large_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_large_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
.large #fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
.large #fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
.large #fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
.large #fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
.large #fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
.large #fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
.large #fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
.large #fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_large_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_large_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_large_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_large_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_large_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
