.profile-header { width: 100%; height: 100%; }
.checkout-wrapper select { font-size: 12px; appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; background-image: none; background-repeat: no-repeat; background-position: 180px center; padding-right: 26px; }
.checkout-wrapper input[type="text"],
.checkout-wrapper textarea:focus { background-color: transparent !important; border: 1px solid #AAA; }

.checkout-wrapper button, .reveal-modal button { 
	background: #00A3D9;
	margin: 0 0 0 15px;
}

.checkout-wrapper button.cncl, .reveal-modal button.cncl{ border: 1px solid #CCC; color: #CCC; background: #fff; margin-right: 0;}

.securecheckout-text { margin-right: 9px; float: right; line-height: 22px; }
.padlock-icon {  width: 7px; height: 10px; display: block; position: relative; float: right; margin: 2px 19px 0 0; }
.padlock-icon svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.header-right .paypallogo { margin: 0 6px 0 0 ;}

/* customized select */
.customized-select { display: inline-block; min-width: 220px; height: 28px; border-width: 1px; border-style: solid; -moz-border-radius: 1.5px; -webkit-border-radius: 1.5px; border-radius: 1.5px; position: relative; z-index: 5; padding-right: 22px; }
.customized-select:focus { outline: none; }
.customized-select em { font-size: 12px; font-style: normal; width: 100%; height: 100%; line-height: 26px; padding-left: 6px; display: block; position: relative; overflow: hidden; white-space: nowrap; }
.customized-select .arrow { margin: 0 !important; display: block !important; position: absolute; top: 9px;  right: 8px; z-index: 2; width: 12px; height: 10px; }
.customized-select .arrow svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.customized-select ul { display: none; margin: 0; padding:0; list-style: none none; position: absolute; top: 26px; left: -1px; z-index: 3; min-width: 101%; height: 280px; border-width: 1px; border-style: solid; overflow: hidden; overflow-y: auto; }
.customized-select ul li { height: 16px; line-height: 16px; padding: 0 9px; font-size: 12px; display: block; white-space:nowrap; }
.customized-select ul li:hover { background-color: #1E90FF; color: #FFF; }

/* Styled select */
.mystyled-select { border: 1px solid #AAA; overflow: hidden; position: relative; width: 142px; height: 30px; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; }
.mystyled-select select { border: 0 none; margin: 0 !important; width: 108.3%; width: 136.3%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; padding: 0 37px 0 7px; background-position: center center; background-color: transparent; font-size: 12px; appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; background-image: none; background-repeat: no-repeat; background-position: 180px center; padding-right: 26px;}
.mystyled-select select:focus { box-shadow:  none !important; outline: none; }
.mystyled-select span.arrow { margin: 0 !important; display: block !important; position: absolute; top: 9px;  right: 8px; z-index: 1; width: 12px; height: 10px; }
.mystyled-select span.arrow svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.mystyled-select span.arrow svg polygon { fill: #00A3D9; }

.mystyled-select.error-field,
.form-content .mystyled-select.error-field,
.billing-form .mystyled-select.error-field,
.reveal-modal input[type="text"].error-field,
.checkout-wrapper form input[type="text"].error-field { border-style: solid; border-width: 2px; border-color: #77609B; }

.arlf {
	display: inline-block;
	border-color: #00A3D8;
	border-width: 6px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	width: 0;
	height: 0;
	border-style: solid;
}

.checkout-wrapper { font-weight: 400; float: left; width: 100%; min-height: 400px; padding: 30px; position: relative; }
.checkout-wrapper input,
.form-content input { margin: 0; }
.checkout-wrapper input[type="checkbox"] { width: 12px; height: 12px; }
.checkout-wrapper .purchase-error{ color: #d70000; font-size: 14px; font-weight: 400; position: absolute; right: 0; top: 0; line-height: 20px; }
.checkout-wrapper .purchase-error .arrow-down{ /* background: url("/cdn/images/v3/common.png") no-repeat scroll -264px -95px transparent; */ height: 20px; width: 16px; display: inline-block; margin-right: 8px; }
.checkout-wrapper .purchase-error .arrow-down svg{ height: 20px; width: 16px; }
.checkout-wrapper .purchase-error .arrow-down svg path{ fill: red; }
.animated { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; animation-iteration-count:infinite; -webkit-animation-iteration-count:infinite; } 
@-webkit-keyframes bounce { 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-20px);} 60% {-webkit-transform: translateY(-15px);} } 
@keyframes bounce { 0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 40% {transform: translateY(-20px);} 60% {transform: translateY(-15px);} } 
.bounce { -webkit-animation-name: bounce; animation-name: bounce; }

.checkout-header .backbtn { font-size: 12px; background: #fff; border: 1px solid #00A3D8; padding: 3px 10px 3px 5px; border-radius: 3px; color: #00A3D8; cursor: pointer; }
.checkout-header .backbtn * { vertical-align: middle;}
.checkout-header .backbtn .arlf { border-width: 4px; border-right-color: #00A3D8; margin-right: 5px;  }
#cc-image { margin-left: 65px; }
.checkout-header .continuteshopping { font-size: 14px; text-decoration: underline; line-height: 90px; margin-left: 18px; }

.checkout-header div.opt-wrapp1 {
display: table;
padding: 0 30px;
}
.checkout-header div.opt-wrapp1:last-of-type {
text-align: right;
}
.checkout-header { height: 90px; line-height: 90px; }

.checkout-header.success { height: auto;}
.checkout-header.success > div { line-height: 1em;}
.checkout-header.success .header-bg.profile-header { padding: 32px 0; }

.checkout-wrapper.success { padding: 30px 15px; }
.checkout-wrapper.success h3 { font-size: 18px; margin: 3px 15px 25px; color: #444; }

.u-prod-info-wrapper{ position: absolute; width: 100%; height: 100%; opacity: 0; overflow:hidden; border-radius: 2px 2px; }
.u-product .bg-opac{ position: absolute; top: 0; left: 0; opacity: 0.9; width: 100%; height: 100%; }

.prodsharelist { list-style-type: none; margin: 0; padding: 0; }
.prodsharelist li { float: left; position: relative; padding: 0 15px 0; }

.prodsharelist li .u-product { 
	border: 1px solid #eee; border-radius: 2px 2px; 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	width: 100%;
	display: block;
}
.prodsharelist .u-product-height-home{ height: 375px; }
.prodsharelist .prod-border{ margin-left: -1px; }
.prodsharelist .prod-border:nth-child(3){ margin-top: -1px; }
.prodsharelist .prod-border:nth-child(4){ margin-top: -1px; }
.prodsharelist li .u-product:hover, .prodsharelist .li-prod .u-product:hover{ border: 1px solid #ffffff; box-shadow: 0 0 3px 1px #ddd; }
.prodsharelist .plist-four .u-product:hover{ border: 1px solid #ffffff; box-shadow: 0 0 3px 1px #ddd; }
.prodsharelist .u-pro-home .u-prod-info{ border: 0 none; }
.prodsharelist .u-pro-home .u-prod-info-padding1 { padding: 32px 34px; }
.prodsharelist .u-pro-home .bg-opac{ background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 transparent; }
.prodsharelist .u-pro-home .u-prod-info-cont .prod-cont { padding: 0; }
.prodsharelist .u-pro-home .u-prod-info-cont .top { height: 160px !important; }
.prodsharelist .u-pro-home .u-prod-info-cont .mid { height: 38px; margin-bottom: 20px; }
.prodsharelist .u-pro-home .u-prod-info-cont a.prodname { font-size: 22px; font-weight: 300; line-height: 26px; margin-bottom: 22px; display: block; }
.prodsharelist .u-pro-home .u-prod-info-cont .price{ font-size: 16px; line-height: 16px; font-weight: 400; }
.prodsharelist .u-pro-home .u-prod-info-cont .baseprice{ font-size: 12px; line-height: 16px; font-weight: 300; display: inline-block; text-decoration: line-through; margin-left: 10px; }
.prodsharelist .u-pro-home .u-prod-info-cont p { font-size: 12px; margin: 0; }
.prodsharelist .u-pro-home .u-prod-info-cont .stick-plus-btn { width: 58px; height: 38px; line-height: 35px; font-size: 16px; border-radius: 2px; }
.prodsharelist .u-pro-home .u-prod-info-cont .stick-plus-btn span{ font-weight: 300; font-size: 32px; }
.prodsharelist .u-pro-home .u-prod-info-cont .promote-box { padding: 0 8px; width: 60px;  }
.prodsharelist .u-pro-home .u-prod-info-cont .promote-btn { line-height: 38px; font-size: 16px; height: 38px; width: 60px; border-radius: 2px; }
.prodsharelist .u-pro-home .u-prod-info-cont .promote-btn .promote-icon{ background: url("/cdn/images/v3/common.png") no-repeat scroll -172px -67px transparent; height: 19px; width: 26px; margin-top: 7px; }
.prodsharelist .u-pro-home .u-prod-info-cont .bottom{ position: absolute; bottom: 0; }
.prodsharelist .u-pro-home .u-prod-info-cont .bottom .coll-lbl{ font-size: 12px; line-height: 16px; padding: 0; margin: 0; }
.prodsharelist .u-pro-home .u-prod-info-cont .bottom .add-this label{ font-size: 11px; line-height: 17px; }
.prodsharelist .promote-btn-box{ opacity: 0; }
.prodsharelist h2{ font-size: 18px; margin: 0 0 25px 0; }
.prodsharelist .info-bottom-wrapper{ background: url("/cdn/images/v3/bg-prod-list-bottom.png") repeat scroll 0 0 #FFFFFF; border-radius: 0 0 2px 2px; position: absolute; bottom: 0; left: 0; height: 50px; width: 100%; z-index: 1; }
.prodsharelist .info-bottom{ height: 50px; width: 100%; display: table; }
.prodsharelist .info-bottom .ibottom-box{ width: 100%; height: 50px; display: table }
.prodsharelist .info-bottom .ibottom-bg{ width: 100%; height: 50px; display: table-cell; vertical-align: middle; }
.prodsharelist .info-bottom .ibottom-bg .coll-lbl1, .prodsharelist .info-bottom .ibottom-bg .coll-lbl2{ padding: 0 12px; height: 16px; }
.prodsharelist .info-bottom .ibottom-bg .coll-lbl2{ font-size: 11px; color: #ccc; display: inline-block; }
.prodsharelist .info-bottom .ibottom-bg .prod-name{ font-size: 12px; color: #444; font-weight:400 !important; }
.prodsharelist .info-bottom .ibottom-bg .price{ font-size: 12px; font-weight: 400; color: #777; }
.prodsharelist .info-bottom .ibottom-bg .base_price{ font-size: 11px; text-decoration: line-through; color: #ccc; }

.prodsharelist .u-prod-info{ position: relative; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; border: 25px solid #CCCFD7; }
.prodsharelist .u-prod-info-padding1{ padding-top: 23px; padding-bottom: 25px;  }
.prodsharelist .u-prod-info-cont{ position: relative; z-index: 2; height: 100%; }
.prodsharelist .u-prod-info-cont h2{ float: left; font-size: 20px; margin: 0; line-height: 22px; }
.prodsharelist .u-prod-info-cont h2 span{ font-size: 18px; }
.prodsharelist .u-prod-info-cont p{ float: left; margin: 14px 0 0 0; padding: 0; font-size: 16px;  }
.prodsharelist .u-prod-info-cont .prod-cont{ height: 100%;  }
.prodsharelist .u-prod-info-cont .top{ float: left; width: 90%; height: 158px; overflow: hidden; }
.prodsharelist .u-prod-info-cont .mid{ float: left; width: 100%; height: 48px; margin-bottom: 43px; }
.prodsharelist .u-prod-info-cont .stick-plus-btn{ font-size: 20px; text-align: center; line-height: 46px; cursor: pointer; }
.prodsharelist .u-prod-info-cont .stick-plus-btn span{ font-size: 24px; }
.prodsharelist .u-prod-info-cont .promote-btn{ width: 60px; height: 48px; text-align: center; display: inline-block; cursor: pointer; margin: 0 8px 0 0; }
.prodsharelist .u-prod-info-cont .promote-btn .promote-icon{ background: url('/cdn/images/v3/common.png') no-repeat -162px -83px; width: 32px; height: 24px; text-align: center; display: inline-block; margin-top: 11px; }
.prodsharelist .u-prod-info-cont .bottom{ float: left; width: 100%; height: 32px; line-height: 12px; }
.prodsharelist .u-prod-info-cont .product-origin{ position: absolute; bottom: -10px; left: 0; width: 100%; font-size: 12px; }
.prodsharelist .u-prod-info-cont .bottom .added-from{ background-position: center center; background-repeat: no-repeat; background-size: cover; width: 32px; height: 32px; display: block; border-radius: 50%; }
.prodsharelist .u-prod-info-cont .bottom .add-this label{ font-size: 12px; line-height: 14px; font-weight: 300; margin: 0; }
.prodsharelist .u-prod-info-cont .bottom .add-this{ display: table-cell; height: 30px; vertical-align: middle;  }
.prodsharelist .share-wrapper { background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 transparent; width: 200px; padding: 15px; z-index: 2; position: absolute; top: 1px; right: 16px; }
.prodsharelist .share-wrapper > div { margin-bottom: 15px; }
.prodsharelist .share-wrapper > div.pr { padding-right: 7px; }
.prodsharelist .share-wrapper > div.pl { padding-left: 7px; }
.prodsharelist .share-wrapper .share-lbl { color: #EC666C; margin-bottom: 12px; margin-top: 6px; }
.prodsharelist .share-wrapper .share-common,
.prodsharelist .share-wrapper .share-mail{ background-color: #c1c1c1; height:70px; display: block; cursor: pointer; text-align: center; }
.prodsharelist .share-wrapper .share-common .fb,
.prodsharelist .share-wrapper .share-common .gplus,
.prodsharelist .share-wrapper .share-common .twt,
.prodsharelist .share-wrapper .share-common .pin,
.prodsharelist .share-wrapper .share-mail .mail{ background: url("/cdn/images/v3/common.png") no-repeat scroll -12px -89px transparent; width: 12px; height: 21px; margin-top: 23px; display: inline-block; }
.prodsharelist .share-wrapper .share-common .gplus{ background-position: -30px -91px; width: 21px; height: 19px; margin-top: 24px; }
.prodsharelist .share-wrapper .share-common .twt{ background-position: -89px -89px; width: 17px; height: 15px; margin-top: 27px; }
.prodsharelist .share-wrapper .share-common .pin{ background-position: -117px -88px; width: 17px; height: 17px; margin-top: 25px; }
.prodsharelist .share-wrapper .share-mail .lbl { color: #fff; display: inline-block; position: relative; top: -5px; font-size: 14px; margin-right: 6px; }
.prodsharelist .share-wrapper .share-mail .mail {
  background-position: -164px -44px;
  width: 34px;
  height: 22px;
}

.checkout-header.success h2 { margin: 12px 0 20px; color: #444; font-size: 22px; font-weight: 300; }
.checkout-header.success * { color:#777; }
.checkout-header.success .donemsg p { font-size: 14px; }

.checkout-header.success .donemsg span.blue-btn { cursor: pointer; display: inline-block; background: #00A3D9; color: #fff; padding: 3px 30px; vertical-align: middle; font-weight: 500; margin-left: 5px; }
.checkout-header.success .donemsg a { text-decoration: underline; color: #00A3D9; font-weight: 500; line-height: 16px; font-size: 14px; }
.checkout-header.success .rewardblock { float: right; padding: 30px; border: 1px solid #CCC; text-align: left; }
.checkout-header.success .rewardblock * { font-size: 14px; }
.checkout-header.success .rewardblock .rew { margin-bottom: 15px; font-size: 40px; line-height: 44px; }
.checkout-header.success .rewardblock p { margin-bottom: 15px;}
.checkout-header.success .rewardblock p:last-of-type { margin-bottom: 0;}



.checkout-wrapper.hastnote { padding-top: 8px; }
.checkout-wrapper .bottom-wrapper { margin-bottom: 78px; margin-bottom: 0; min-height: 400px; position: relative; }
.checkout-wrapper .bottom-wrapper .preloader { width: 100%; height: 100%; position: absolute; z-index: 9; }
.checkout-wrapper .bottom-wrapper .preloader .bg-wrapper { width: 100%; height: 100%; opacity: 0.7; background-color: #FFF; }
.checkout-wrapper .bottom-wrapper .preloader .img-loader { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; background: url('/cdn/images/v3/colshopstyx-64.gif') no-repeat center 50px transparent; text-align: center; padding-top: 120px; }
.checkout-wrapper .bottom-wrapper .form-wrapper { float: left; width: 67%; }

.checkout-wrapper .bottom-wrapper .form-wrapper .error-content,
.checkout-modal .error-content { /* min-height: 70px; */ padding: 16px 27px 15px; background: #77609B; color:#fff; }
.checkout-wrapper .bottom-wrapper .form-wrapper .error-content .wscolor2,
.checkout-modal .error-content .wscolor2 { font-size: 18px; margin-bottom: 12px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border {  border: 1px solid #DDD; min-height: 460px; }
.form-content { width: 100%; }
.form-content { padding: 28px 0 0 28px; vertical-align: top; }
.form-content .width455 { width: 455px;}
.form-content h4 { font-size: 16px; margin: 0 0 19px; position: relative; }
.form-content .dib { margin: 0 0 23px; }
.form-content .dib * { vertical-align: middle; }
.form-content .dib h4 { display: inline-block; margin: 0 20px 0 0; }
.form-content .dib span.emp { font-size: 12px; color: #999; }
.form-content h4 .back-link { position: absolute; top: 0; right: 0; font-size: 12px; line-height: 22px; text-decoration: underline; cursor: pointer; }
.form-content label,
.form-content div.labeltag { height: 32px; line-height: 32px; display: block; margin-bottom: 8px; font-size: 12px; }
.form-content label span.fieldlabel,
.form-content div.labeltag span.fieldlabel { float: left; width: 163px; height: 32px; line-height: 32px; }
.form-content label span.fieldlabel em { opacity: 0.6; }
.form-content label input[type="text"],
.form-content div.labeltag input  { width: 292px; float: left; }
.form-content .mystyled-select,
.diffaddr .mystyled-select { background: #fff; float: left; width: 292px; height: 32px; border-color: #E0E0E0; }
.diffaddr .mystyled-select { margin: 0 0 1rem 0; }
.form-content .mystyled-select select,
.diffaddr .mystyled-select select { width: 108.3%; text-align: left !important; }
.diffaddr .mystyled-select select optgroup,
.diffaddr .mystyled-select select optgroup option,
.diffaddr .mystyled-select select option { text-align: left !important; }
.form-content input[type="text"],
.diffaddr input[type="text"] { width: 292px; height: 32px; border-width: 1px; border-style: solid; font-size: 12px; text-align: left !important; }
.form-content .default-btn,
.action-wrapper .default-btn { width: 160px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; font-weight: 400; padding: 0; border:0 none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.form-content .default-btn.shipping-btn { margin-top: 17px; margin-left: 295px; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing { }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul,
.reveal-modal.checkout-modal .form-content .listing ul { margin:0; padding: 0; list-style: none none; }
.reveal-modal.checkout-modal .form-content .listing.shipping-listing ul { width: 100%; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul li,
.reveal-modal.checkout-modal .form-content .listing ul li { height: auto; min-height: 223px; min-height:242px; margin-bottom: 30px; font-size: 12px; padding:11px 12px 15px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; /* width: 292px;  */float: left; margin-right: 30px;border: 1px solid #DDD; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li {
	width: auto; float: none; margin-right: 0; min-height: initial;	padding: 20px;
}

.form-content.billing-content { padding: 28px; width: auto; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li { border:1px solid #DDD; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi { border-color: #00A3D9; background: url("/cdn/images/v3/bgchkdef.jpg"); }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi { padding: 32px 20px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi > * { vertical-align: middle; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi > .default-btn { float: none; margin-left: 15px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi.ppal { height: 110px; line-height: 44px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi.ppal .payapl-email-txt { float: left; margin: 0 20px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi.ppal div.bns { margin-top: 5px; position: static; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi.ppal em {line-heighabsolute;lute;right:0;top:-27px;color:#999;font-style:normal}
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.bhi > .ppal { /*background-image: url(/cdn/images/v3/ppalbtn.png);*/  width: 115px; height: 44px; display: inline-block; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.pcard > img { float: left; margin: 4px 90px 0 0;}

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.prefmsg { margin-bottom: 0; border: none; padding: 0 0 10px 20px;  }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.prefmsg i { color: #999; font-style: normal; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.prefmsg em { color: #999; float: right; font-style: normal; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.infos{ width: 415px; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.infos .clearfix .left{ width: 240px; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.infos .data { margin-bottom: 10px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.infos .data.nb { margin-bottom: 15px;}

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.bns { width: 160px; text-align: center; position: relative; top: 60px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.bns * { display: block; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.bns .default-btn { float: none; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li div.bns .delete-btn { padding: 10px; color:#00A3D8; cursor: pointer; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.todel { position: relative;}
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.todel .conf { position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-align: center; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.todel .conf div { margin-bottom: 15px;}
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.todel .conf .action-wrapper { height: 161px; }
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.todel .conf button { display: inline-block; float: none; margin-left: 10px; }

.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.addnew { padding: 35px 20px; cursor: pointer;}
.reveal-modal.checkout-modal .form-content.billing-content .listing ul li.addnew svg { margin-top: 0;}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul li .arlf,
.form-content .listing ul li .arlf { position: absolute; top: -35px; right: -35px; border-width: 35px; transform: rotate(135deg) scale(1) skew(0deg) translate(0px);-webkit-transform: rotate(135deg) scale(1) skew(0deg) translate(0px); -moz-transform: rotate(135deg) scale(1) skew(0deg) translate(0px); -o-transform: rotate(135deg) scale(1) skew(0deg) translate(0px); -ms-transform: rotate(135deg) scale(1) skew(0deg) translate(0px); }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul li svg,
.form-content .listing ul li svg{ position: absolute; top: 10px; right: 5px; width: 16px; height: 12px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul li svg path,
.form-content .listing ul li svg path { fill: #fff; }

.form-content .listing ul li.addnew { vertical-align: middle; border:1px solid #DDD; cursor: pointer; }
.form-content .listing ul li.addnew svg { display: block; width: 40px; height: 40px; position: static; margin: 75px auto 20px; }
.form-content .listing ul li.addnew svg polygon { fill: #00A3D8; }
.form-content .listing ul li.addnew span.txt { color: #00A3D8; display: block; text-align: center; font-size: 14px; }
.reveal-modal.checkout-modal .form-content .listing ul li.default {
	background: url("/cdn/images/v3/bgchkdef.jpg") repeat scroll 0 0 transparent;
	border-radius: 2px;
	border: 2px solid #00A3D8;
	position: relative;
}

.form-content .listing ul li .default-btn { float: left; }
.form-content .listing ul li .editdelete-wrapper { line-height: 16px; margin-top: 0px; margin-bottom: 5px; padding: 0 5px; }
.form-content .listing ul li .editdelete-wrapper span { float: left; }
.form-content .listing ul li .editdelete-wrapper .edit-btn { color: #00A3D8; }
.form-content .listing ul li .editdelete-wrapper .separator { margin: 0 16px; }
.form-content .listing ul li .editdelete-wrapper .delete-btn { color: #00A3D8; }
.form-content .listing ul li .editdelete-wrapper .defaulttext { float: right; color: #777; line-height: normal; }
.form-content .listing ul li .editdelete-wrapper .wscolor1:hover { cursor:pointer; text-decoration: underline; }
.form-content .listing ul li .defaulttext { line-height: 36px; color: #999; float: left; margin-left: 8px; }

.form-content .formfields { width: 359px; padding-left: 33px; padding-right: 34px; padding-bottom:53px; }
.form-content .formfields .default-btn,
.form-content .listing .default-btn { margin: 0; }
.form-content.shipping-content .formfields .action-wrapper { margin-top: 17px; }
.form-content .use-as-default { float: right; margin-right: 11px; line-height: 36px; height: 36px;  }
.form-content .use-as-default input { float: left; margin: 12px 7px 0 0; }

.form-content.billing-content { margin-bottom: 0; position: relative; }
.form-content.billing-content { padding: 30px; }
.form-content.billing-content > .clearfix > div.left { width: 308px; }
.form-content.billing-content-div { width: 283px;}
.form-content.billing-content label span.fieldlabel,
.form-content.billing-content div.labeltag span.fieldlabel { width: 106px; }
.form-content.billing-content input[type="text"] { width: 177px; }
.form-content.billing-content .cctype-wrapper {  }
.form-content.billing-content .cctype-wrapper ul { float: left; margin: 0; padding: 0; list-style: none none; height: 35px; position: relative; left: -1px; }
.form-content.billing-content .cctype-wrapper ul li { float: left; width: 39px; height: 26px; border:2px solid transparent; margin-right: 1px; opacity: 0.4; cursor: pointer; background: url('/cdn/images/webstore_images/card.png') 100px 100px no-repeat; }
.form-content.billing-content .cctype-wrapper ul li.visa { background-position: 0 0; }
.form-content.billing-content .cctype-wrapper ul li.mastercard { background-position: -41px 0; }
.form-content.billing-content .cctype-wrapper ul li.discover { background-position: -82px 0; }
.form-content.billing-content .cctype-wrapper ul li.amex { background-position: -123px 0; }

/* Modals */
.reveal-modal.checkout-modal { box-shadow: 0 0 10px #AAA; border: solid 1px #FFF; padding: 0; top: 20px; width:540px; width: auto; }
.reveal-modal.checkout-modal .shipping-form { width: 540px; min-height: 580px; }

.reveal-modal.checkout-modal .form-content { padding: 30px; }
.reveal-modal.checkout-modal.preloader {  }
.reveal-modal.checkout-modal .preloader-overlay { width: 100%; height: 100%; position: absolute; z-index: 2; display: none; background: url('/cdn/images/v3/colshopstyx-64.gif') scroll no-repeat center 59px transparent; }
.reveal-modal.checkout-modal.preloader .preloader-overlay { display: block; }
.reveal-modal.checkout-modal.preloader form {opacity: 0.5; }
.reveal-modal.checkout-modal .action-wrapper { padding: 22px 40px; background: url("/cdn/images/v3/bgchkdef.jpg") repeat scroll 0 0 transparent; text-align: right; text-align: center;  }
.reveal-modal.checkout-modal .action-wrapper * { vertical-align: middle; text-align: center; }
.reveal-modal.checkout-modal .shipping-form .action-wrapper { text-align: right; padding-right: 45px; }

/* Shipping address listing */
.reveal-modal.checkout-modal .listing-form { min-width: 600px; min-height: 302px;}
.reveal-modal.checkout-modal .form-content.shipping-content { padding: 22px 28px 12px; width: 600px; }
.reveal-modal.checkout-modal .form-content.shipping-content .listing ul li { width: 264px; height: 220px; margin-right: 16px; margin-bottom: 17px; position: relative; }
.reveal-modal.checkout-modal .form-content.shipping-content .listing ul li:nth-child(even){ margin-right: 0; } 
.reveal-modal.checkout-modal .form-content.shipping-content .listing ul li .button-wrapper { position: absolute; bottom: 12px; left: 11px; width: 238px; }
.reveal-modal.checkout-modal .form-content.shipping-content .listing ul li .default-btn { width: 100%; }

/* Shipping entry form */
.reveal-modal.checkout-modal .shipping-form .form-content .mystyled-select { width: 304px; }
.reveal-modal.checkout-modal .shipping-form .form-content label input[type="text"], 
.reveal-modal.checkout-modal .shipping-form .form-content div.labeltag input { width: 304px; }
.reveal-modal.checkout-modal .shipping-form .action-wrapper .default-btn { width: 80px; }
.reveal-modal.checkout-modal .shipping-form .action-wrapper .default-btn.btn-cancel-form { margin: 0; }

/* Billing address listing */
.reveal-modal.checkout-modal .form-content.billing-content { padding: 24px 30px 11px; width: 680px; }

/* Billing entry form */
.reveal-modal.checkout-modal form { margin: 0; }
.reveal-modal.checkout-modal .billing-form { width: 678px; min-height: 271px; padding: 0; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping { height: auto; font-size: 11.5px; float: left; text-align: left; margin: 8px 0; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping.shownaddr {  position: relative; top: -8px; margin-top: 0; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping input { position: relative; top: 1px; margin: 0; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping div { width: 270px; font-weight: normal; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping div.disable_text_highlighting {  display: none; color:#999; margin-left: 15px; }
.reveal-modal.checkout-modal .billing-form .action-wrapper label.same-as-shipping.shownaddr div.disable_text_highlighting { display: block;}
.reveal-modal.checkout-modal .billing-form .action-wrapper .diffaddr { width: 100%; clear: both; }
.reveal-modal.checkout-modal .billing-form .action-wrapper .diffaddr .tc { width: 50%; }
.reveal-modal.checkout-modal .billing-form .action-wrapper button { width: auto; padding: 0 20px; }


.form-content.billing-content .mystyled-select select {  width: 124%; }
.form-content.billing-content .mystyled-select.cc-month { width: 70px; margin-right: 7px; }
.form-content.billing-content .mystyled-select.cc-year { width: 100px; }
.form-content.billing-content input.width70 { width: 70px; margin-right: 7px; }
.form-content.billing-content .tooltip-icon { z-index: 2; width: 18px; height: 18px; line-height: 13px; opacity: 0.8; float: left; margin-top: 8px; text-align: center; font-weight: bold; border-width: 2px; border-style: solid; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-image: none; position: relative; }
.form-content.billing-content .tooltip-icon .cvvguide {
	display: none; width: 300px; border: 1px solid #77609B; position: absolute; left: 0; top: 0; background: #fff; z-index: 2;
}

.form-content.billing-content .tooltip-icon:hover { opacity: 1; }

.form-content.billing-content .tooltip-icon .cvvguide h3 { background: #77609B; color: #fff; font-size: 12px; padding: 10px; margin: 0; font-weight: 500; }
.form-content.billing-content .tooltip-icon .cvvguide .cvvcont { padding: 10px; text-align: left; }
.form-content.billing-content .tooltip-icon .cvvguide .cvvcont p {  color: #444; font-size: 11px; margin-bottom: 10px; }

.form-content.billing-content .tooltip-icon:hover .cvvguide { display: block; }

.form-content.billing-content .default-btn.billing-btn { margin-top: 17px; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col2 { width: 292px; padding: 28px 34px 54px 0; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col2 .billing-col2-div { width: 292px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .default-btn.billing-btn { margin: 0;}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li .data { margin-bottom: 8px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li .data:nth-child(3) { margin-bottom: 15px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .tbl-cell .action-wrapper { margin-top: 17px; float: right; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .tbl-cell.formfields { padding: 0; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .tbl-cell.formfields .billing-form-holder { width: 359px; min-height: 500px; position: relative; overflow: hidden; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .tbl-cell.billing-col1.paddingLeft33 { padding-left: 33px; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content.different-address .tbl-cell.listing { display: none; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content.different-address .tbl-cell.formfields .billing-form-holder { width: 100%; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content.different-address .tbl-cell.formfields .billing-form-holder .billing-form-inner { position: relative; top: 0; left: 299px; width: auto; }

.checkout-wrapper .bottom-wrapper .cart-content { width: 660px; float: left; }
.checkout-wrapper .bottom-wrapper .cart-content ul { margin:0; padding: 0; list-style: none none; }
.checkout-wrapper .bottom-wrapper .cart-content ul li { width: 100%; min-height: 260px; border-style: solid; border-width: 1px; font-size: 12px; position: relative; margin-bottom: 50px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info { height: 64px; border-bottom-style: dotted; border-bottom-width:1px;  }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .merch-info { float: left; width:380px; font-size: 14px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .merch-info .tbl-cell { vertical-align: middle; height: 63px; padding-left: 9px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .merch-info a.contactshop { font-size: 12px; margin-left: 6px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info { width: 274px; float: right; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info .tbl-cell { vertical-align: middle; height: 63px; position: relative; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info .tbl-cell a { line-height: 63px; margin-right: 14px; display: inline-block; float: left; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info .tbl-cell .mystyled-select { margin-top: 17px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info .tbl-cell .remove-store { width: 15px; height: 15px; position: absolute; top: 25px; right: 19px; margin: 0; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .top-info .shipping-info .tbl-cell .remove-store svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.checkout-wrapper .bottom-wrapper .cart-content ul li .prod { min-height: 136px; border-bottom-width: 1px; border-bottom-style: dotted; padding: 25px 16px 26px 14px; position: relative; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info { float: left; width: 360px; position: relative; z-index: 2; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .disabled-overlay { display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; opacity: 0.8; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .thumb { width: 85px; height: 85px; float: left; border-style: solid; border-width: 1px; margin-right: 12px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details { float: left; font-weight: 400; max-width: 263px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .pname { font-weight: bold; position: relative; top: -3px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .opts { font-size: 11px;}
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .qty { font-size: 10px; margin-top: 8px; height: 16px; position: relative; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .qty .mystyled-select { border-color: #666666; width: 50px; height: 20px; display: inline-block; margin-left: 7px; top: -3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .qty .mystyled-select select { font-size: 12px; font-weight: bold; padding: 0 0 0 7px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .qty .mystyled-select span.arrow { width: 8px; height: 8px; top: 5px; right: 4px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-info .details .price { font-size: 11px; margin-top: 11px; line-height: 14px; }

.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details { position: absolute; z-index: 1; top: 25px; right: 16px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .price-li { text-align: right; font-weight: bold; margin-bottom: 13px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .price-li .amnt { float: right; width: 88px; display: block; padding-left: 10px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .price-li .lbl { float: right; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .action-btn { text-align: right; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .action-btn .sfl-btn { width: 88px; float: right; text-decoration: underline; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .action-btn .bspacing { font-weight: bold; float: right; margin-left: 15px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .p-price-details .action-btn .remove-btn { float: right; text-decoration: underline; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .notallowedcountry { display: none; position: absolute; top: 25px; right: 16px; height: 30px; z-index: 3; line-height: 30px; padding-left: 37px; padding-right: 20px; font-weight: 300; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .notallowedcountry span { width: 19px; height: 15px; position: absolute; top: 7px; left: 13px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod .notallowedcountry span svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.checkout-wrapper .bottom-wrapper .cart-content ul li .prod.notallowed .p-price-details .price-li { visibility: hidden; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod.notallowed .p-info .disabled-overlay { display: block; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .prod.notallowed .notallowedcountry { display: block; }

.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note { min-height: 57px; width: 658px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note .tbl-cell { vertical-align: middle; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note textarea { float: left; width: 440px; height: 57px; border: 0 none; box-shadow:  none !important; resize: none; font-size: 12px; margin:0; display: inline-block; -webkit-transition: height 0.2s; -moz-transition: height 0.2s; transition: height 0.2s; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note a { display: inline-block; width: 202px; height: 40px; line-height: 40px; font-size: 14px; font-weight: 400; text-align: center; margin-top: 8px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note.single textarea { width: 100%; }
.checkout-wrapper .bottom-wrapper .cart-content ul li .merch-note.single a { display: none; }

.checkout-wrapper .bottom-wrapper .cart-content ul li .readytoshipin { position: absolute; bottom: -30px; left: 15px; }

.review h2 { font-weight: 300; font-size: 16px; margin: 0; }
.review h2.hlord { margin-bottom: 20px; }

.reviewpayship { border: 1px solid #DDD; background: #fff; color: #444; }


.reviewpayship .payinfo,
.reviewpayship .shipinfo {
	padding: 39px 25px;
}

.reviewpayship span.mblubtn { display: inline-block; background: #00A3D9; font-size: 12px; color: #fff; padding: 2px 5px; border-radius: 3px; margin-left: 10px; cursor: pointer; }
.reviewpayship .payinfo { background: url(/cdn/images/v3/bgchkdef.jpg);  }
.reviewpayship .hline { margin-bottom: 20px; }
.reviewpayship .payinfo .hline * { vertical-align: middle; }
.reviewpayship .payinfo .hline h2 { display: inline-block; }
.reviewpayship .payinfo .pbody * { display: block; }
.reviewpayship .payinfo .pbody .addmr { margin-right: 20px; margin-top: 4px; }
.reviewpayship .payinfo .pbody .tomail { font-size: 14px; color: #444; }
.reviewpayship .payinfo .pbody strong { font-weight: 500;}

.reviewpayship .shipinfo h3 { font-size: 14px; font-weight: 500; display: inline-block; margin: 0; }
.reviewpayship .shipinfo .addrinfo > * { display: block; }
.reviewpayship .shipinfo .addrinfo > strong { font-weight: 600;}
.reviewpayship .shipinfo .addrinfo > strong,
.reviewpayship .shipinfo .addrinfo > span { 
	color: #777; line-height: 1.5em;
}

/* Cart Summary */
.cart-summary { width: 30%; float: right; border-top: 1px dotted #AAA; }
.cart-summary .cart-total-items { height: 65px; border-bottom: 1px dotted #AAA; line-height: 64px;  padding: 0 15px 0 17px; color: #444; }
.cart-summary .cart-total-items .left { font-size: 16px; font-weight: 400; }
.cart-summary .cart-total-items .right { font-size: 14px; }
.cart-summary .cart-price-details { height: 140px; border-bottom: 1px dotted #AAA; padding: 27px 15px 0 17px; margin-bottom: 32px; }
.cart-summary .cart-price-details .text-row { height: 19px; width: 100%; font-size: 14px; margin-bottom: 11px; color: #777; }
.cart-summary .order-total { font-size: 16px; font-weight: bold; padding: 0 15px 0 17px; margin-bottom: 34px; line-height: 22px; }
.cart-summary a { display: block; width: 220px; height: 50px; line-height: 47px; border-style: solid; border-width: 1px; margin: 0 auto 26px; padding-left: 28px; font-size: 16px; font-weight: 400; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; position: relative; }
.cart-summary a div { width: 0px; height: 0px; border-style: solid; border-width: 6px 0 6px 4px; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; position: absolute; top: 18px; right: 21px; }
.cart-summary img { padding-left: 17px; }


.checkout-wrapper.cart.det { float: none; padding: 0; }
.checkout-wrapper.cart .merchcont { float: left; position: relative; margin-bottom: 50px; border: 1px solid transparent; width: 100%; }
.checkout-wrapper.cart .merchtop { float: left; width: 100%; height: 52px; padding: 0; }
.checkout-wrapper.cart .merchtop > div,
.checkout-wrapper.cart .merchtop > div div.opts * { float: left; padding: 0 20px; line-height: 52px; }
.checkout-wrapper.cart .merchtop > div > *,
.checkout-wrapper.cart .merchtop div.left div.opts * { display: inline-block; vertical-align: middle; }
.checkout-wrapper.cart .merchtop div.left h3 { font-size: 14px; margin: 0; }

.checkout-wrapper.cart .merchtop div.left div.opts a { font-size: 12px; padding: 0 15px; }
.checkout-wrapper.cart .merchtop div.left div.opts .sep { padding: 0;}
.checkout-wrapper.cart .merchtop div.right { text-align: right; }
.checkout-wrapper.cart .merchtop div.right small { color: #777; font-size: 11px; padding: 0 15px; font-weight: 300; }
.checkout-wrapper.cart .merchtop div.right span.close { margin-left: 15px; background: url('/cdn/images/v3/common.png') 0 -174px no-repeat; width: 11px; height: 11px; cursor: pointer; }
.checkout-wrapper.cart .merchtop div.right span.close * { display: none;}

.checkout-wrapper.cart .merchcont .ecover { 
	width: 100%;
	z-index: 2;
	opacity: .8;
	top: 91px;
	bottom: 0;
	background: #fff;
	position: absolute; 
	display: none;
}

.checkout-wrapper.cart .merchcont.error .ecover { display: block; }

.checkout-wrapper.cart .mdetails { border: none; width: 100%; }
.checkout-wrapper.cart .mdetails tr{ width: 100%; }
.checkout-wrapper.cart .mdetails td { padding: 25px 30px; }
.checkout-wrapper.cart .mdetails td:first-child { padding-left: 20px; }
.checkout-wrapper.cart .mdetails td:last-child { padding-right: 20px; }
.checkout-wrapper.cart .mdetails tr td { text-align: center; background: #fff; }
.checkout-wrapper.cart .mdetails thead tr td { font-size: 12px; color: #aaa; padding-top: 10px; padding-bottom: 10px; font-weight: 300; }
.checkout-wrapper.cart .mdetails tr td { vertical-align: top; border-bottom: 1px solid #ccc; z-index: 2; }
.checkout-wrapper.cart .mdetails tr td.ship { /* position: relative; */ }
.checkout-wrapper.cart .mdetails tr td:first-child,
.checkout-wrapper.cart .mdetails tr td:last-child { text-align: left;}

.checkout-wrapper.cart .mdetails tr.errorprod td { z-index: 1; }
.checkout-wrapper.cart .mdetails tr.errorprod td:nth-child(4) { z-index: 3}

.checkout-wrapper.cart .mdetails td.det a { display: inline-block; position: relative; padding-left: 89px; min-height: 75px; }
.checkout-wrapper.cart .mdetails td.det a > * { display: block; font-weight: 400; }
.checkout-wrapper.cart .mdetails td.det a span.thumb { position: absolute; left: 0; width: 75px; height: 75px; border: 1px solid #DDDDDD; background-size: cover; background-repeat: no-repeat; background-position: center; }
.checkout-wrapper.cart .mdetails td.det a h4 { display: block; font-size: 14px; margin: 0 0 2px; }
.checkout-wrapper.cart .mdetails td.det a span {color: #444; font-size: 12px;}
.checkout-wrapper.cart .mdetails td.det a .prodopts { font-size: 12px; font-weight: 400; margin-top: 12px; }
.checkout-wrapper.cart.review .mdetails td.det a { cursor: default; }

.checkout-wrapper.cart .mdetails tr td.qty .sel { width: 60px; padding: 0; }
.checkout-wrapper.cart .mdetails tr td.price { width: 160px; }
.checkout-wrapper.cart .mdetails tr td.price span { line-height: 38px; }
.checkout-wrapper.cart .mdetails td.ship .sel.mline { width: auto; display: block;}
.checkout-wrapper.cart .mdetails td.ship .sel.mline span { font-size: 12px; }
.checkout-wrapper.cart .mdetails td.ship .sel.mline span strong { font-weight: 700;}
.checkout-wrapper.cart .mdetails td.ship .sel.mline small { font-size: 11px;}

.checkout-wrapper.cart .merchcont.error .mdetails td.ship .sel.mline { display: none; }
.checkout-wrapper.cart .merchcont.error .mdetails td.ship .sel { opacity: 0; }
.checkout-wrapper.cart .merchcont.error .mdetails td.ship .opts { margin-top: 15px; z-index: 3; position: relative; }
.checkout-wrapper.cart .merchcont.error .mdetails td.ship .opts a { border-right: none; padding-right: 0; }
.checkout-wrapper.cart .merchcont.error .mdetails td.ship .opts a:last-child { display: none; }

.checkout-wrapper.cart .mdetails td.ship .opts { margin-top: 20px; text-align: right; font-size: 12px; font-weight: 500; }
.checkout-wrapper.cart .mdetails td.ship .opts a { padding: 0 10px; border-right: 1px solid #777; text-decoration: underline; }
.checkout-wrapper.cart .mdetails td.ship .opts a:last-child { border-right: none; }

.merchcont .mdetails td.ship .errordisp { display: none; width: auto; text-align: right; min-width: 88px; min-height: 42px; cursor: default; }
.merchcont .mdetails td.ship .errordisp .inner { text-align: left; min-width: 382px; height: 92px; border:1px solid #FFF; display: inline-block; position: absolute; top: -2px; right: 0; font-size: 12px; font-weight: 300; z-index: 3; }
.merchcont .mdetails td.ship .errordisp .inner .inner-top { width: 100%; height: 46px; background: #77609B; color: #fff; padding: 14px 10px 0 17px; }
.merchcont.error .mdetails td.ship .errordisp { display: block;}
.merchcont .mdetails td.ship .errordisp .caution { float: left; width: 19px; height: 15px; margin-right: 7px; }
.merchcont .mdetails td.ship .errordisp .caution svg { width: 19px; height: 15px; }
.merchcont .mdetails td.ship .errordisp .caution svg path { fill: #FFF;}
.merchcont .mdetails td.ship .errordisp .msg { max-width: 316px; float: left; text-align: left; padding-left: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.merchcont .mdetails td.ship .errordisp .msg strong { font-weight: 500;}
.merchcont .mdetails td.ship .errordisp .inner .inner-links {  height: 44px; line-height: 44px; text-align: center; background: url("/cdn/images/v3/bg-dispute2.png") repeat scroll 0 0 transparent }
.merchcont .mdetails td.ship .errordisp .inner .inner-links span { margin-right: 18px; color: #00A3D8; text-decoration: underline; font-weight: 400; cursor: pointer; display: inline; }

.checkout-wrapper.cart .mdetails td select.sdata { 
	z-index: 1;
	position: absolute;
	opacity: 0;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0; 
}

.checkout-wrapper.cart .mdetails td .selectqty select.sdata { height: 30px; border: 0 none; opacity: 1;background-color: transparent; font-size: 14px; padding: 4px 0 7px 12px; outline: none; position: relative; top: 0; }

.checkout-wrapper.cart table.sum { float: left; font-size: 14px; color: #777; border: none; }
.checkout-wrapper.cart table.sum * { background: #fff; text-align: right; }
.checkout-wrapper.cart table.sum th { width: 200px; font-weight: 300; color: #777; }
.checkout-wrapper.cart table.sum tr.total { /* border-top: 1px dotted #BBB; */ }
.checkout-wrapper.cart table.sum tr.total * { font-size: 16px; color: #000; font-weight: 700; padding-top: 20px; }

.checkout-wrapper.cart .redbtn { background: #E6565C; color: #fff; font-size: 16px; width: 270px; display: inline-block; text-align: center; padding: 15px 8px; cursor: pointer; }
.checkout-wrapper.cart .redbtn .arrgt {
	display: inline-block;
	border-color: #fff;
    border-width: 6px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent; width: 0; height: 0;
    margin-left: 7px;
	border-style: solid;
}

.checkout-wrapper.cart .merchbtm { padding: 0 17px 1.25em; }
.checkout-wrapper.cart .merchbtm textarea { width: 90%; height: 80px; font-size: 12px;}
.checkout-wrapper.cart .merchbtm .small-8 textarea { border: 0 none; box-shadow: none; }
.checkout-wrapper.cart .merchbtm table.sum { font-size: 12px; float: left; }
.checkout-wrapper.cart .merchbtm .right * { vertical-align: top; }
.checkout-wrapper.cart .merchbtm table.sum * { font-size: 12px; line-height: 1.3em; padding: 3px 7px;}
.checkout-wrapper.cart .merchbtm table.sum td { padding-right: 20px; color: #777; }
.checkout-wrapper.cart .merchbtm table.sum tr.total * { font-size: 14px; color: #444; }
.checkout-wrapper.cart .merchbtm .redbtn { width: 200px; font-size: 14px; margin-left: 20px; }

.checkout-wrapper.cart .cart-summary .redbtn { width: 100%;
font-size: 20px;
border-radius: 3px; }

.review .merchcont div.seld { 
display: block; position: relative; 
padding: 7px 0; }
.review .merchcont div.seld span,
.review .merchcont div.seld small {
font-size: 12px; display: block;
}
.review .merchcont div.seld small { font-size: 11px;}
.review .merchcont div.seld span strong { font-weight: 600;}

.review.checkout-wrapper.cart .merchbtm textarea[disabled] {
	border:1px solid #EEE;
	background:#FAFAFA;
	color:#777;
	box-shadow: none;
}

/* Paypal */
#paypal-button { background-color:#FFF; }
#paypal-button  #braintree-paypal-loggedin { text-align: left; padding:0 16px !important; }
#paypal-button  #bt-pp-cancel { margin: 9px 0px 0px 25px !important; }

/* new checkout header */
.h-padding{ padding: 35px 30px 44px 30px; }
.h-common-wrapper{ padding-right: 16px; min-height: 210px; }
.h-common-wrapper .shippedto, .h-common-wrapper .paidto{ font-size: 14px !important; font-weight: 300 !important; color: #444; }
.orders-details-wrapper{ position: relative; padding: 0; }
.h-common-wrapper span{ line-height: normal; }
.h-common-wrapper h1{ float: left; font-size: 14px; font-weight: 300; line-height: 22px; margin-bottom: 16px; }
.h-common-box{ position: relative; height: 170px; }
.h-common-box .box-bg{ position: absolute; border: 1px solid #DDDDDD; opacity: 0.5; border-radius: 2px; width: 100%; height: 100%; z-index: 0; text-align: center; }
.h-common-box .box-bg.addnew-billing { cursor: pointer; }
.h-common-box .box-bg .plus{ position: absolute; top: 48px; left: 0; text-align: center; width: 100%; font-size: 80px; line-height: 36px; font-weight: 100; opacity: 0.4; }
.h-common-box .box-bg .add-lbl{ position: absolute; top: 110px; left: 0; width: 100%; text-align: center; font-size: 14px; display: inline-block; }
.h-common-box .box-bg .cp-image-wrapper{ position: absolute; bottom: 16px; left: 0; width: 100%; height: 17px; display: block; text-align: center; }
.h-common-box .box-bg .cp-image{ background: url("/cdn/images/v3/checkout-payment.png") no-repeat scroll 0 0 transparent; width: 211px; height: 17px; display: inline-block; }
.h-common-box .box-bg.no-opacity .cp-image-wrapper{ opacity: 1 !important; }
.h-common-box .box-bg.no-opacity .cp-image{ background-position: 0 -18px; }
.h-common-wrapper.active h1{ color: #444444; font-size: 16px; font-weight: 500; }
.h-common-wrapper.active .box-bg{ border: 1px solid #01A3D9; opacity: 1; cursor: pointer; }
.h-common-wrapper.active .box-bg .add-lbl{ color: #00A3D8; }
.h-common-box .box-content{ position: absolute; border: 2px solid #01A3D9; opacity: 1; border-radius: 2px; width: 100%; height: 100%; z-index: 1; padding: 12px; }
/*
.h-common-box .box-content .error-overlay { position: absolute; width: 100%;  height: 100%; top: 0; left: 0; z-index: 2; background-color: red; }
.h-common-box .box-content .shiptoaddress-error { position: absolute; width: 100%;  height: 100%; top: 0; left: 0; z-index: 3; text-align: center; color: #FFF; line-height: normal; padding: 40px 25px; font-weight: 500; }
.h-common-box .box-content .shiptoaddress-error .btn-wrapper { margin: 11px auto; }
.h-common-box .box-content .shiptoaddress-error .btn { display: inline-block; width: 100px; height: 30px; line-height: 30px; background-color: #FFF;  color: red; cursor: pointer; }
.h-common-box .box-content .shiptoaddress-error .change-btn { display: inline-block; width: 100px; height: 30px; line-height: 30px; background-color: #FFF;  color: red; cursor: pointer; }
*/
.h-common-box .box-content .checked{ position: absolute; top: 0; right: 0; display: block; width: 0; height: 0; border-style: solid; border-width: 0 40px 40px 0; border-color: transparent #00A3D9 transparent transparent; }
.h-common-box .box-content .checked svg{ position: absolute; top: 5px; right: -36px; width: 16px; height: 14px; }
.h-common-box .box-content .checked svg path{ fill: #FFFFFF; }
.h-common-box .box-content .clink{ position: absolute; top: -36px; right: 0; cursor: pointer; }
.h-common-box .box-content .content{ float: left; width: 100%; font-size: 12px; line-height: 18px; }
.h-common-box .box-content .content strong{ font-weight: 500; }
.h-common-box .box-content .content > div{ line-height: 19px; margin-bottom: 12px; }
.h-common-box .box-content .content .paypal-billing-text { text-align: center; margin-top: 52px;}
.h-common-box .box-content .content .cardlogo { display: inline-block; width: 29px; height: 17px; }
.h-common-box .box-content .content .cardlogo img { position: relative; top: -3px;}
.order-box{ padding-top: 41px; position: relative; }
.order-box span{ line-height: normal; }
.order-box .order-details{ line-height: normal; text-align: right; position: relative; top: -3px; }
.order-box .order-details > div{ float: right; padding-right: 20px; }
.order-box .order-details span{ width: 100%; display: block; text-align: right; }
.order-box .order-details .lbl1{ font-size: 35px; font-weight: 400; font-style: italic; width: 100%; margin-bottom: 6px; }
.order-box .order-details .lbl2{ font-size: 12px; font-weight: 500; font-style: italic; width: 100%; margin-bottom: 10px; }
.order-box .order-details .lbl3, .order-box .order-details .lbl4{ font-size: 12px; font-style: italic; width: 100%; margin-bottom: 8px; }
.order-box .order-details .lbl4{ margin-bottom: 12px; }
.order-box .submit-wrapper{ text-align: right; line-height: normal; }
.order-box .submit-wrapper .submit-order{ max-width: 160px; min-width: 130px; height: 48px; font-size: 18px; line-height: 48px; font-weight: 400; border-radius: 2px; display: inline-block; text-align: center; }
.order-box .submit-wrapper .submit-order.checkout-placeorder-enabled { cursor: pointer; }
.checkout-header-wrapper{ margin: 48px 0 50px; }
.opacity5{ opacity: 0.5; }
.no-opacity{ opacity: 1 !important; }
.checkout-header-wrapper .h-common-wrapper{ padding: 0 32px 0 0; }
.checkout-header-wrapper .h-common-wrapper .shippedto, .checkout-header-wrapper .h-common-wrapper .paidto{ opacity: 0.7; }
.checkout-header-wrapper .orders-details-wrapper{ padding: 0; }
.checkout-header-wrapper .h-common-box .box-content .content{ opacity: 0.7; }
.checkout-header-wrapper .h-common-box .box-bg .cp-image-wrapper{ opacity: 0.5; }
.checkout-header-wrapper .h-common-box .box-bg .plus{ opacity: 1; }
.checkout-header-wrapper .order-box .submit-wrapper .submit-order{ opacity: 0.2; }
.checkout-header-wrapper .order-box .order-details .lbl1, .checkout-header-wrapper .order-box .order-details .lbl2{ opacity: 0.7; }
.checkout-header-wrapper .order-box .order-details .lbl3, .checkout-header-wrapper .order-box .order-details .lbl4{ opacity: 0.5; }
.checkout-header-wrapper .order-box .order-details span{ display: inline-block; padding: 0 3px 0 0; }
.order-box .order-details span strong{ font-weight: 400; }
.scure-chkout{ margin: 13px 0 0 36px; }
.scure-chkout .padlock-icon{ margin: 2px 19px 0 0; }
.scure-chkout .padlock-icon img { position: relative; top: -4px; }
.scure-chkout .securecheckout-text{ line-height: 14px; }