.clear {
clear: both;
}

.checkout-wrapper div.tab-steps { display: table; float: left; line-height: 111px; }
.checkout-wrapper div.back-btn{
	text-align: right;
}
.checkout-wrapper div.top-wrapper { height: 111px; line-height: 111px; }
.checkout-wrapper div.top-wrapper > * { vertical-align: middle; display: inline-block; }
.checkout-wrapper .tab-steps { }
.checkout-wrapper .tab-steps span { margin-right: 55px; }
.checkout-wrapper .tab-steps span:last-of-type { margin-right: 0; }
.checkout-wrapper .tab-steps span.current { font-size: 18px; font-weight: bold; text-decoration: underline; }
.checkout-wrapper .tab-steps span.done {  font-size: 18px; text-decoration: none; font-weight: 400; } 
.checkout-wrapper .back-btn { float: right; position: relative; width: 70px; height: 24px; line-height: 21px; padding-left: 24px; margin-top: 45px; cursor: pointer; border-width: 1px; border-style: solid; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.checkout-wrapper .back-btn span { width: 0px; height: 0px; border-style: solid; border-width: 4px 5px 4px 0; border-top-color: transparent !important; border-left-color: transparent !important; border-bottom-color: transparent !important; position: absolute; top: 7px; left: 14px; }
.checkout-wrapper .onestepcheckout-text { font-size: 18px; font-weight: 400; }
.checkout-wrapper .continuteshopping { font-size: 14px; text-decoration: underline; margin-right: 18px; }


.checkout-wrapper .bottom-wrapper .form-wrapper { width:660px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .listing ul li { 
	width:260px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .listing ul li.bhi { background-image: none; }
.checkout-wrapper .form-wrapper .billing-content .listing ul li div.infos .clearfix .left { width: 150px; }
.checkout-wrapper .form-wrapper .billing-content .listing ul li div.infos { width: 380px; }
.checkout-wrapper div.top-wrapper > .back-btn { padding-left: 25px; text-align: left; line-height: 22px; }
.checkout-wrapper .back-btn span { left: 7px; }

.checkout-wrapper.cart .merchtop div.right span.close { background: none; }
.checkout-wrapper.cart .merchtop div.right span.close * { display: inline-block; width: 9px; height: 9px;}

.cart { padding: 0; }
.cart .merchtop h3 { font-weight: 500; }

.cart .merchtop div.right span.close { background: none; }
.smerch .merchbtm textarea { border: none; padding: 0; }
.smerch .merchbtm .chko { display: none; }
.chkout .redbtn { border-width: 1px; border-style: solid; }

.header-bg div.opt-wrapp1:first-of-type{
	padding-left: 0;
}

.header-bg div.opt-wrapp1:last-of-type{
	padding-right: 0;
}

.checkout-wrapper.cart .chkout img.cards {
	display: block;
}

.cartpops .popitem .header-bg { background-image: none; }
.cartpops .popitem .popcont table td .prod { border-width: 1px; border-style: solid; }

.checkout-wrapper { padding: 0; }
.checkout-wrapper .cart-summary { width: 254px;  }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border { width: 660px; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing {
	width: 279px; padding: 28px 23px;
}
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul {
	width: 256px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell .mystyled-select {
	width: 284px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell label input[type="text"]{
	width: 284px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 {
	width: 310px;
}	
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 .billing-col1-div {
	width: 270px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 input[type="text"] {
	width: 164px;
}
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 .mystyled-select.cc-year {
	width: 87px;
}
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col2 {
	padding: 28px 16px 54px 17px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 input.seccode{
	width: 139px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content.billing-content .tbl-cell.formfields .billing-form-holder {
	width: 332px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing {
	border-right-style: dotted;
}
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li.default {
	background-image: none;
}
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li {
	border: none;
}

.reviewpayship .payinfo { background-image: none;}