* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

#main-wrapper{ float: left; width: 598px; height: 558px; }
#header{ float: left; width: 598px; height: 40px; }
#header p{ float: left; height: 40px; line-height: 40px;}
#header p.available-lbl{ width: 286px; padding-right: 8px; text-align: right;}
#header p.shopstyx-logo{ width: 296px; padding-left: 8px; font-size: 16px; font-weight: bold; text-align: left;}
#image-wrapper{ float: left; width: 598px; height: 312px; position: relative; z-index: 2; }
.product-image{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 598px; height: 312px;
	-webkit-box-shadow: 0 3px 2px -3px #000000; -moz-box-shadow: 0 3px 2px -3px #000000; box-shadow: 0 3px 2px -3px #000000; position: relative; z-index: 5;}
#product-info-wrapper{ float: left; width: 598px; height: 206px; position: relative; }
.price-wrapper{ float: left; position: relative; width: 70px; margin: 24px 18px 0 22px; }
#slideshow-price { height: 70px; width: 70px; display: inline-table; position: absolute; text-align: center;
	top: 0px; left: 0; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
#slideshow-price-bg { height: 70px; width: 70px; display: inline-table; position: absolute; top: 1px; left: 2px;
	-moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
#slideshow-price #amount { display: table-cell; vertical-align: middle; font-size: 14px; font-weight: bold;}
#slideshow-price #amount #sale-price{ width: 100%; text-align: center; }
#slideshow-price #amount #old-price{ width: 100%; text-align: center; font-size: 11px; font-weight: normal; text-decoration: line-through; }
.stock{ float: left; margin-top: 76px; font-size: 11px; width: 100%; text-align: center; }
.product-info-content{ float: left; margin-top: 24px; width: 487px; }
.product-title{ display: table; height: 70px; width: 460px;  }
.product-title .title{ display: table-cell; font-size: 25px; vertical-align: middle; text-decoration: none; }
.product-title .title:hover { text-decoration: underline; }
.product-description{ float: left; width: 460px; line-height: 16px; }
.product-info-content p{ float: left; width: 460px; }
.more-details-button{ float: right; text-decoration: none; width: 100px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; margin: 15px 58px 0 0; }

#company-info-wrapper{ float: left; width: 598px; height: 186px; position: relative; z-index: 2; }
#company-info-content-wrapper{ float: left; display: table; width: 558px; padding: 0 20px; height: 186px; overflow: hidden; -webkit-box-shadow: 0 3px 2px -3px #000000; -moz-box-shadow: 0 3px 2px -3px #000000; box-shadow: 0 3px 2px -3px #000000; position: relative; z-index: 5;}
#company-info-content{ display: table-cell; vertical-align: middle; width: 558px; height: 186px; }
#company-info-content  h1{ font-size: 60px; width: 100%; text-align: center;}
#company-info-content  p{ font-size: 14px; line-height: 18px; margin-top: 6px; width: 498px; padding: 0 30px; text-align: center;}
.shop-image{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 598px; height: 232px; }
#shop-product-info-wrapper{ float: left; width: 598px; height: 100px; position: relative; }

#shop-product-price-wrapper{ float: left; position: absolute; left: 6px; top: -31px; width: 70px; }
.shop-product-info-content{ float: left; width: 416px; }
.shop-product-title{ display: table; height: 100px; width: 318px; margin-left: 98px; }
.shop-product-title .shop-title{ display: table-cell; font-size: 25px; vertical-align: middle; text-decoration: none; }
.shop-product-title .shop-title:hover { text-decoration: underline; }
.latest-product{ position: absolute; left: 100px; top: -18px; width: 80px; height: 18px; line-height: 18px; font-size: 11px; text-align: center; }

.ad-effect1 { position: relative; }
.ad-effect1:before, .ad-effect1:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 19px;
  left: 11px;
  width: 50%;
  top: 80%;
  max-width:142px;
  background: #000000;
  -webkit-box-shadow: 0 15px 10px #000000;
  -moz-box-shadow: 0 15px 10px #000000;
  box-shadow: 0 15px 10px #000000;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.ad-effect1:after
{
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 11px;
  left: auto;
}