@CHARSET "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
*{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	outline:0;
	font-size: 12px; 
	font-weight: normal;
}
body, html { font: inherit; font-family: Arial, Helvetica; border: 0px; margin: 0px; padding: 0px; height:100%; position:relative; width:100%;}

strong{ font-weight: bold; }
.single-product-holder{ position: absolute; top: 0; left: 0; width: 460px; height: 420px; border: 1px solid #ffffff; box-shadow: 0 0 4px 2px #CCCCCC; -moz-box-shadow: 0 0 4px 2px #CCCCCC; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; }
.s-product-main-wrapper{ float: left; width: 460px; height: 420px; margin: 0; padding: 0; }
.s-product-top-main-wrapper{ float: left; position: relative; z-index: 1; height: 140px; padding: 0 25px; width: 548px; overflow: hidden; -webkit-box-shadow: 0 3px 3px -3px #000000; -moz-box-shadow: 0 3px 3px -3px #000000; box-shadow: 0 3px 3px -3px #000000;}
.s-product-top-wrapper{ float: left; display: table; width: 100%; height: 140px; }
.s-product-top-content{ display: table-cell; width: 100%; vertical-align: middle; }
.s-product-top-content h1{ float: left; width: 100%; font-size: 44px; line-height: 44px; font-family: impact; }
.s-product-top-content span{ float: left; font-weight: bold; font-size: 28px; line-height: 28px;}
.s-product-middle-wrapper{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; position: relative; height: 342px; padding: 0 25px; width: 548px; }
.s-product-btns{ position: absolute; bottom: 31px; }
.s-product-share-ico{ background: url('/cdn/images/share-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 2px; margin-bottom: 3px; }
.s-product-wishlist-ico{ background: url('/cdn/images/wishlist-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 2px; margin-bottom: 3px; }
.s-product-info-ico{ background: url('/cdn/images/info-ico.png') no-repeat center center; float: left; width: 48px; height: 50px; margin-right: 16px; margin-bottom: 3px; }
.s-product-buy-btn{ float: left; width: 98px; height: 38px; margin-top: 4px; line-height: 38px; text-align: center; font-size: 22px; color: #000; border: 1px solid; text-decoration: none; box-shadow: 3px 3px 0 0 #000; -moz-box-shadow: 3px 3px 0 0 #000; -webkit-box-shadow: 3px 3px 0 0 #000; }
.s-product-bottom-main-wrapper{ float: left; position: relative; z-index: 1; height: 37px; padding: 0 25px; width: 548px; box-shadow: 0 -4px 5px -6px #000000; -moz-box-shadow: 0 -4px 5px -6px #000000; -webkit-box-shadow: 0 -4px 5px -6px #000000; }
.s-product-bottom-wrapper{ float: left; display: table; width: 100%; height: 37px; }
.s-product-bottom-content{ display: table-cell; width: 100%; vertical-align: middle; }
.s-product-bottom-content strong{ float: left; font-size: 18px; line-height: 36px; width: 50%; }
.s-product-bottom-content span{ float: right; width: 50%; text-align: right; line-height: 36px; }
.s-product-bottom-content span label{ font-size: 15px; font-size: 9px; line-height: 15px; }
.s-product-bottom-content span a{ font-size: 15px; text-decoration: none; }