/* modal box */
#ad ul li{
    display: inline;
    float: left;
    font-size: 15px;
    list-style-type: none;
    margin: 2px 0 0 1px;
    padding: 4px 31px 10px 31px;
	cursor: pointer;
	color: #ffffff;
}