.shop-ad-wrapper1{
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
float: left;
width: 300px;
height: 250px;
margin: 0;
position: relative;
}

.shop-ad-wrapper{
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
float: left;
width: 336px;
height: 280px;
margin: 0;
position: relative;
}

.top-choices{
    height: 30px;width: 100%;display: table;
}

.choices-top{display: table-cell;width: 50%;vertical-align: middle;}
.head-top{text-align: right;padding-right: 8px;font-size: 12px;}
.head-logo{font-size: 19px;padding-left: 8px;}
.info-wrapper{position: absolute;bottom:0px;left:0px;width: 100%;
    display: table;vertical-align: middle;height: 110px;
}
.item-info, .price-circle{display: table-cell;}
.item-info{ vertical-align: middle;width: 226px;text-align: left;padding: 0 10px 0 18px; font-size: 18px;}
.item-info:hover{text-decoration: underline;}
.item-info1, .price-circle{display: table-cell;}
.item-info1{ vertical-align: middle;width: 226px;text-align: left;padding-left: 18px; font-size: 18px;}
.item-info1:hover{text-decoration: underline;}
.price-circle{width: 90px;vertical-align: middle;text-align: left;position: relative;
}
.tag-sale{position: absolute;top:-20px;left:11px;height: 20px;line-height: 20px;text-align: center;width: 50px;font-size: 12px;font-weight: bold;}
.price-now{
    width:70px;height:70px;display: inline-block;text-align:center;vertical-align:middle;line-height:70px;
    font-size:14px;font-weight:bold; -moz-border-radius: 35px; -webkit-border-radius: 35px;
    border-radius: 35px; position: relative; }
.price-old{
  position: absolute;top:15px;font-size: 11px;line-height: 15px;height: 15px;text-align: center;display: block;width: 70px;
  font-weight: normal;text-decoration: line-through;
}
    
.styka-switch{position: absolute;bottom: 3px;left: -79px;width: 148px;text-align: right;height: 15px;line-height: 15px;font-size: 11px;text-decoration: none;}
.styka-switch:hover{text-decoration: underline;}
.styka-switch2{position: absolute;bottom: 3px;right: 20px;width: 148px;text-align: right;height: 15px;line-height: 15px;font-size: 11px;text-decoration: underline;}

/*  shop ad view type1*/
.store-d-wrapper1{display: table; float: left; height: 120px; width: 300px;}
.store-d-wrapper1-content{display: table-cell; height: 120px; width: 300px; vertical-align: middle;}
.store-d-wrapper-content{display: table-cell; height: 120px; width: 336px; vertical-align: middle;}
.store-d-wrapper{height: 140px;width: 100%;display: block;}

.info-wrapper1{position: absolute;
bottom: 0px;
left: 0px;
width: 298px;
display: table;
vertical-align: middle;
height: 98px;
padding: 1px;}

.info-wrapper2{position: absolute;
bottom: 0px;
left: 0px;
width: 334px;
display: table;
vertical-align: middle;
height: 110px;
padding: 1px;}

.picture-item-wrapper1{width: 119px;display: table-cell;}
.picture-item1{background-repeat:no-repeat; background-size: cover; background-position: center center; 
width: 114px; height: 98px; display: inline-block; position: relative;}
.picture-item-wrapper{width: 137px;display: table-cell;}
.picture-item{background-repeat:no-repeat; background-size: cover; background-position: center center; 
width: 132px; height: 108px; display: inline-block; position: relative;}
.tag-latest{position: absolute;top:0px;right:0px;width: 90px;height: 20px;display: block;font-size: 12px;text-align: center;line-height: 20px;}
.price-n-info1{width: 178px;display: table-cell;position: relative;text-align: center;vertical-align: top;}
.price-n-info{width: 196px;display: table-cell;position: relative;text-align: center;vertical-align: top;}
.price-n-title1{margin-top: 5px;font-size: 14px;line-height: 20px;width: 164px;text-align: left;margin-left:8px;}
.price-n-title{margin-top: 15px;font-size: 16px;line-height: 20px;width: 182px;text-align: left;margin-left:8px;}
.price-p1{display: block;line-height: 18px;margin-top: 1px;width: 164px;height: 18px;text-align: left;margin-left:8px;}
.price-p{display: block;line-height: 18px;margin-top: 1px;width: 182px;height: 18px;text-align: left;margin-left:8px;}
.price-n-old{font-size: 11px;line-height: 18px;text-decoration: line-through;}
.styx-more-details1{float: left; margin-left:8px; margin-top: 4px; padding: 4px 8px; display: block;font-size: 12px;
border: none; cursor: pointer; }
.styx-more-details{position: absolute;bottom: 12px;left:12px; height: 24px;width: 100px;display: block;font-size: 12px;
border: none;
}
.shop-ad-title1{font-size: 30px;text-align: center; width: 300px;}
.shop-ad-title{font-size: 30px;text-align: center; width: 336px;}
.shop-ad-p1{ font-size: 12px; line-height: 16px; text-align: center; width: 300px; margin-top: 6px; }
.shop-ad-p{font-size: 12px; line-height: 16px; text-align: center; width: 336px; margin-top: 6px;}

/** type 2 **/
    
.shop-ad-wrapper2{height: 600px;width: 300px;display: block;float: left;margin: 0px;position: relative;}    
.info-wrapper-t2{height: 131px;width: 100%;padding-bottom:39px;position: relative;
display: table;
vertical-align: middle;}
.pic-item-wrapper{height: 383px;display: block;width: 100%;
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
position: relative;
}
.price-circle2{width: 80px;
vertical-align: middle;
text-align: center;
position: relative;
display: table-cell;margin-left: 9px;}

.item-info2 {
vertical-align: middle;
width: 206px;
text-align: left;
padding-left: 11px;
font-size: 18px;
display: table-cell;
}
.t2-more-d{height: 27px;width: 100px;line-height: 27px;font-size: 11px;text-align: center;position: absolute;
left: 91px;bottom: 30px;display: block;font-weight: bold; text-decoration: none;}
.t2-share-but{height: 21px;width: 21px;-webkit-border-radius: 5px;    
    border-radius: 5px;position: absolute;bottom: 30px;left:203px;display: block;border: none;
    background-image: url("/cdn/images/widgetstore_images/icon_a.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
    }
.t2-share-but:hover, .t2-more-d:hover{cursor: pointer;}

.shop-ad-t2{height: 54px;
width: 100%;
text-align: center;
line-height: 44px;
font-size: 40px;
margin-top: 30px;
display: inline-block;
}
.shop-ad-p2{height: 54px;
width: 287px;margin-top:6px;
display: block;
line-height: 18px;
font-size: 14px;
text-align: center;
margin: 0 auto;}
.shop-wrapper-t2{
    height: 170px;
width: 100%;
position: relative;
display: table;
vertical-align: middle;
}
.t2-latest{height: 20px;width: 100%;display: inline-block;line-height: 20px;font-size: 11px;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
text-indent: 8px;
}
.t2-title{height: 38px;line-height: 38px;font-size: 15px;text-indent: 17px;width: 100%;display: inline-block;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */font-weight: bold;
}
.t2-price-wrapper{position: absolute;bottom: 0px;left: 0px;display: inline-block;width: 100%;height: 45px;}
.price-position{position: absolute;bottom: 12px;left:2px;}

.t2-buy{height: 17px;width: 106px;text-align: center;position: relative;display: inline-block;
background-image:  url("/cdn/images/widgetstore_images/buy_now.png");
background-repeat:no-repeat;
background-position:right;
font-size: 12px;line-height: 17px;font-weight: bold;
left: 181px;bottom:-15px;
border: none;

}
.t2-buy:hover{text-decoration: underline;}

/* type 4*/
.t4-wdgt-wrapper{width: 160px;height: 600px;display:block;margin: 0 auto;position: relative;overflow: hidden;}
.t4-availability{height: 34px;display: block;width: 100%;line-height: 34px;font-size: 12px;text-align: center;}
.t4-logo-wrapper{height: 35px;display: block;width: 100%;text-align: center;line-height: 35px;font-size: 20px;}
.t4-item-title{height: 50px;display: block;text-align: center;line-height: 50px;font-size: 15px;font-weight: bold;}
.t4-image-item{height: 176px;border-top: 1px solid;border-bottom: 1px solid;width: 100%;display: block;position: relative;
	background-repeat:no-repeat; background-size: cover; background-position: center center; }    
.t4-item-d{height: 159px;width: 100%;display: block;}
.t4-item-d p{padding: 11px 8px;text-align: left;font-size: 12px;line-height: 17.5px;}
.t4-bfoot{height: 45px;width: 100%;display: block;text-align: center;line-height: 45px;position: absolute;bottom: 0px;left: 0px;}
.t4-bfoot a{font-size: 12px;line-height: 45px;font-weight: bold;text-decoration: none;}
.t4-bfoot a:hover{text-decoration: underline;}
.price-position-t4{
position: absolute;
bottom: 4px;
left: 2px;}

/**/
.t4-store-wrapper{height: 247px; float: left; display: table; width: 160px;}  
.t4-store-wrapper-content{height: 247px; display: table-cell; width: 160px; vertical-align: middle; }  
.t4-store-wrapper h2{font-size: 36px;width: 156px;text-align: center;display: block;padding: 0 2px;}
.t4-store-wrapper p{width: 144px;font-size: 12px;line-height: 14px;text-align: center;padding: 0 8px; margin-top: 8px;}
.t4-latest{height: 20px;line-height: 20px;width: 100%;display: inline-block;font-size: 11px;text-align: left;text-indent: 9px;}
.price-position-t4b{position: absolute;bottom: 11px;left: 2px;}
.t4-store-titleb{height: 38px;line-height: 38px;text-align: center;width: 100%;display: inline-block;}
.t4-image-itemb{ height: 181px; border-top: 1px solid; border-bottom: 1px solid; width: 100%; display: block; position: relative;
	background-repeat: no-repeat; background-size: cover; background-position: center center;}
.t4-a-b{position: absolute;width: 106px;height: 16px;display: inline-block; bottom:14px; left:61px; border: none;line-height: 16px !important;}  
.t4-a-b:hover{text-decoration: underline;}

 
#embed-info-wrapper{ float: left; width: 100%; }
.embed-info-top{ background-color: #EC3908; float: left; display: table; width: 100%; height: 100px; }
.embed-info-top p{ padding: 0 5%; width: 90%; height: 100px; display: table-cell; vertical-align: middle; font-size: 14px; color: #ffffff; text-align: center; }

.embed-info-center{ float: left; display: table; width: 100%; }
.embed-info-center p{ padding: 0 6%; width: 88%; height: 100%; display: table-cell; vertical-align: middle; font-size: 14px; line-height: 22px; color: #525252; text-align: center; }
.activate-btn{ background-color: #EC3908; color: #ffffff; width: 80px; height: 20px; padding-bottom: 2px; font-weight: bold; border: 0 none; margin-top: 18px; margin-right: 10px; cursor: pointer; }
.no-btn{ background-color: #525252; color: #ffffff; width: 80px; height: 20px; padding-bottom: 2px; font-weight: bold; border: 0 none; margin-top: 18px; margin-right: 10px; cursor: pointer; }

.embed-info-bottom{ background-color: #525252; position: absolute; bottom: 0; display: table; width: 100%; height: 50px; }
.embed-info-bottom p{ padding: 0 6%; width: 88%; height: 50px; display: table-cell; vertical-align: middle; font-size: 11px; color: #ffffff; text-align: center; }
.embed-info-bottom p a{ color: #EB3907; text-decoration: underline; }
.ad-effect1 { position: relative; }
.ad-effect1:before, .ad-effect1:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 16px;
  left: 8px;
  width: 50%;
  top: 80%;
  max-width:142px;
  background: #000000;
  -webkit-box-shadow: 0 15px 10px #000000;
  -moz-box-shadow: 0 15px 10px #000000;
  box-shadow: 0 15px 10px #000000;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.ad-effect1:after
{
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 8px;
  left: auto;
}

.active-popup-bg{background-color: #ffffff; position: absolute; display: table; top: 0; left: 0; width: 100%; height: 100%; opacity:0.8; filter:alpha(opacity=80);}
.active-popup{background-color: transparent; position: absolute; display: table; top: 0; left: 0; width: 90%; padding: 10% 5%; height: 80%; }
.active-popup-content{ position: relative; background-color: #ffffff; border: 1px solid #51A296; padding: 30px 20px; box-shadow: 0 0 4px 2px #DFDFDF; }
.active-popup-content label{ float: left; font-size: 12px; margin-bottom: 12px; color: #333333; width: 100%;}
.active-popup-content p{ line-height: 22px; color: #333333;}
.active-popup-content button{ background-color: #81C0B7; color: #ffffff; padding: 0 2px; border: 0 none; font-size: 12px; box-shadow: 2px 2px 0 0 #333333; -moz-box-shadow: 2px 2px 0 0 #333333; -webkit-box-shadow: 2px 2px 0 0 #333333; }
.active-popup-content button:hover{ background-color: #333333; color: #ffffff; box-shadow: 2px 2px 0 0 #81C0B7; -moz-box-shadow: 2px 2px 0 0 #81C0B7; -webkit-box-shadow: 2px 2px 0 0 #81C0B7; cursor: pointer; }
.active-popup-content .close-btn{ background: url('/cdn/images/widgetstore_images/close.png') no-repeat scroll 0 0; width: 11px; height: 11px; display: block; position: absolute; top: 8px; right: 10px; cursor: pointer; }