@CHARSET "ISO-8859-1";


#ordered-onestep{font-size: 26px;line-height: 30px;line-height:55px;
font-weight: normal;display: inline-block;text-indent: 23px;}
#ordder-form{width: 565px;min-height: 200px;display: inline-block;margin-top:30px;box-shadow:0px 0px 8px 2px #ccc;}
#form-header{height: 30px;display: block;padding: 0px 7px;}
#form-header #form-header-title{display: inline-block;font-size: 14px;vertical-align: middle;height: 30px;
line-height: 30px;}
#drop-menu-header{vertical-align: middle;float: right;display: inline-block;height: 30px;}
#drop-menu-header span{vertical-align: middle;font-size: 12px;display: inline-block;line-height: 30px;padding: 0px 9px;}
#drop-menu-header #menu-header{height: 14px;
width: 162px;
display: inline-block;
padding: 0px 4px;line-height:30px;
vertical-align: middle;
background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;
background-position: 160px center;
position: relative;
list-style: none;
border:1px solid #ccc;}
#menu-header li{list-style: none;font-size: 11px;height: 14px;line-height: 14px;display: inline-block;vertical-align: middle;width:162px;}
#menu-header li ul {
display: none;
position: absolute;
list-style: none;
background: #fff;}
#menu-header li:hover > ul{position:absolute;display: block;z-index: 1;left:0px;}
#menu-header li ul a{text-decoration: none;width: 156px;height: 16px;line-height: 16px;font-size: 11px;display: block;padding: 0px 7px;}
#menu-header li ul a:hover{background: #ccc;}
/*=====================================*/
#order-form-left{width: 565px;min-height: 23px;display: inline-block;}
#left-item-wrapper{display: table;}
#left-item-wrapper #item-list{list-style: none;width: 565px;}
#left-item-wrapper #item-list li{display:block;height: 94px;}
#items{height: 80px;width: 369px;display: inline-block;vertical-align: middle;margin: 13px 0px 0px 10px;border-bottom:1px dotted;float:left;
position: relative;}
#items #item-ordered-pic{height: 30px;width: 45px;border: 1px solid;display:inline-block;vertical-align: top;
 background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;
background-position: center center;}

#items #item-ordered-details{display: inline-block;vertical-align: middle;width: 192px;padding: 0px 8px;}
.item-name{font-size: 12px;font-weight: bold;line-height: 15px;display:inline-block;}
.item-price, .item-option{font-size: 11px;display: inline-block;line-height: 15px;}
.items-quantity{height: 20px;width: 119px;display:inline-table;position: absolute;top:0px;right: 0px;}
.items-quantity .numbers{width: 28px;height: 18px;border: 1px solid #666666;text-align: center;line-height: 20px;font-size: 12px;color:#000;
display:table-cell;vertical-align: middle;}
.items-quantity .update{font-size: 10px;line-height: 20px;display: table-cell;vertical-align: middle;text-decoration: underline;width: 40px;text-align: center;}
.items-quantity .cancel-button{height: 15px;width: 46px;display: table-cell;vertical-align: middle;
background-image: url("../../images/widgetstore_images/cancel.png");
background-repeat: no-repeat;
background-position: 2px center;}
.warning{display: block;height: 15px;font-size: 11px;}
.warning .icon-warning{width: 75px;height: 15px;display: inline-block;background-image: url("../../images/webstore_images/warning.png");
background-repeat: no-repeat;
background-position: 55px center;vertical-align: middle;}
.warning .vendor-note{font-size: 11px; padding: 0px 5px;display: inline-block;background: #000;color:#fff;line-height: 15px;vertical-align: middle;}
#ordered-notes{height: 55px;width: 351px;padding: 9px 14px;float:left;display: inline-block;}

#ordered-notes textarea {
	height: 55px;width:330px;display: block;-webkit-border-radius: 3px;border-radius: 3px;border: 1px inset;padding: 7px;font-size: 12px;color: #ccc;
	margin:0 auto;
}

#ordered-total{width: 166px;height:74px;display: inline-block;float: right;box-shadow:-4px 0px 5px -3px #ccc;padding: 10px;position: relative;}
#sub-total{float: left;font-size:12px;font-weight: bold;}
#sub-amnt{float: right;font-size:12px;font-weight: bold;}
#vendor-policy{position: absolute;bottom: 10px;right: 12px;}
#vendor-policy a{text-decoration: underline;font-size: 11px;line-height: 15px;}
/*=================payment details================*/
#checkout-costumer-details{min-height:286ppx;display: block;margin-top: 92px; }
#upper{margin-bottom: 20px;}
.left-info{width: 280px;display: inline-block;}
.left-info span{display: block;font-size: 12px;line-height: 16px;padding: 2px 0px;}
.left-info h3{font-size: 14px;font-weight: bold;line-height: 18px;}
.left-info h3 a{height: 20px; width: 72px;display: inline-block;text-align: center;text-decoration: none;line-height: 20px;font-size: 12px;font-weight: normal;
margin: 0px 7px 5px 7px;}

#payment-details{text-align: left;padding:0px 20px 30px 20px;border-bottom: 1px dotted;width:260px;}

#payment-details h3 a {
height: 20px;
width: 72px;
display: inline-block;
text-align: center;
text-decoration: none;
line-height: 20px;
font-size: 12px;
font-weight: normal;
margin: 0px 7px 5px 7px;
}
#payment-details ul{list-style: none;display: inline-block;}
#payment-details ul li{display: block;font-size: 12px;line-height: 16px;margin: 7px 0px;}
#payment-details ul li span{display: inline-block;margin: 0px 5px;}
#payment-details #card-verify{height: 22px;margin:0px 5px;
width: 52px;display:inline-table;vertical-align:middle;
padding: 2px 4px;
border: 1px inset;
-webkit-border-radius: 3px;
border-radius: 3px;}
#payment-details #q {
-webkit-border-radius: 3px;
border-radius: 3px;
height: 14px;
width: 18px;
display: inline-table;
vertical-align: middle;
background-image: url("../../images/webstore_images/question_mark.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
}

#place-order-navigation{padding: 23px 0px;}
#place-order-navigation #review-navi {
height: 50px;
width: 204px;
display: inline-block;
text-indent: 40px;
font-size: 16px;
text-align: left;
cursor: pointer;
vertical-align: middle;
line-height: 50px;
font-weight: bold;
background-image: url("../../images/ministore_images/ms-btn-next.png");
background-repeat: no-repeat;
background-position: 155px center;
}
#place-order-navigation #back-navi {
text-decoration: underline;
font-size: 14px;
line-height: 18px;
display: inline-block;
vertical-align: middle;
padding: 0px 10px;
}
/*============right side=======================*/
#order-form-right{width: 172px;
padding: 0px 7px;
display: inline-block;
height: 94px;
position: relative;
box-shadow:-4px 0px 5px -3px #ccc;}
#form-right-wrapper{height: 77px;display: block;border-bottom: 1px dotted #fff;padding: 8px 0px;}
.dtails{width: 89px;display: inline-block;vertical-align: middle;font-size: 11px;height: 20px;line-height: 20px;padding: 3px 0px;}
.ddails input{width: 80px;display: inline-block;vertical-align: middle;height: 20px;}
.ddails{text-align: right;display:inline-block; font-size: 11px;width: 80px;vertical-align: middle;float: right;height: 20px;line-height: 20px;padding: 3px 0px;}



