#shipping-infos{margin-top: 92px;}
#left-content-wrapper h3{font-size: 14px;font-weight: bold;line-height: 18px;display:inline-block;}
#left-content-wrapper h3 a{font-size: 12px;height: 30px;width: 72px;display: inline-block;text-align: center;line-height: 30px;margin: 0px 12px;text-decoration: none;}
#shipping-address{display: inline-block;width: 563px;list-style: none;}
#shipping-address li{display: inline-block;margin: 20px 0px;}

#shipping-address  li .address-book{width: 336px;display: block;}
#shipping-address  li .address-book span{display: block;line-height: 15px;}
#shipping-address  li a{margin-right: 8px;}
#add-book-buttons{margin: 8px 0px;}
#add-book-buttons .place-order{width: 204px;height: 50px;text-indent: 10px;text-decoration: none;line-height: 50px;display: inline-block;
font-size:16px;font-weight:bold;
background-image: url("../../images/ministore_images/ms-btn-next.png");
background-repeat: no-repeat;
background-position: 168px center;}
#add-book-buttons .edit-del{height: 30px;width: 52px;line-height: 30px;font-size: 12px;text-align: center;text-decoration: none;display: inline-block;}

/*============shipping edit==============*/
.shipping-save{text-align: center;
font-size: 14px;font-weight:bold;
line-height: 44px;
display: inline-block;
vertical-align: top;
text-decoration: none;
height: 44px;
width: 90px;
margin: 0px 3.5px;}
#shipping-navi{height: 50px;
width: 204px;
display: inline-block;
text-indent: 15px;
font-size: 16px;
text-align: left;
cursor: pointer;
vertical-align: middle;
line-height: 50px;
margin-right: 66px;
font-weight: bold;
background-image: url("../../images/ministore_images/ms-btn-next.png");
background-repeat: no-repeat;
background-position: 170px center;}
#shipping-navigation{display: block;
height: 44px;
text-align: right;
float: right;
margin-top: 26px;}