@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

/* colors 
.bg-color1{background-color: #ED4595;}
.font-color1{color:#ED4595;}
.bg-color2{background-color: #fff;}
.font-color2{color:#fff;}
.bg-color3{background-color: #000;}
.font-color3{color:#000;} */

#wdgt-wrapper {
/*background: url("../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 300px;
height: 500px;
margin: 0;
position: relative;overflow: hidden;
}
/*****search-box****/
#search-box-wrapper{display:inline-table;height: 37px;width: 300px;text-align: center;position: absolute;top:57px;left:0px;z-index: 10;}
#search-box-group{display: table-cell;vertical-align: middle;}
#search-text{font-size: 12px;display: inline-block;padding: 0px 4px;text-decoration: none;}
#input-wrapper input{height: 26px;width: 157px;display: inline-block;border:1px solid #ED4595;vertical-align: middle;}
#search-cancel{font-size: 12px;display: inline-block;padding: 0px 4px;text-decoration: none;}
#pop-search-icon{width: 30px;height: 26px;cursor:pointer;
display: inline-block;vertical-align:middle;
background-image: url("../../images/widgetstore_images/preview.png");
background-repeat: no-repeat;
background-position: center center;}
#search-cancel:HOVER{text-decoration: underline;}

/***** search result ******/
#result-box-wrapper{display:inline-table;height: 37px;width: 280px;text-align: left;position: absolute;top:57px;left:0px;z-index: 10;padding:0px 10px;}
#result-box-group{display: table-cell;vertical-align: middle;}
#result-text{font-size: 11px;display: inline-block;padding: 0px 4px;text-decoration: none;}


/*  listing  */
#wdgt-category-wrapper{
	height: 37px;display:block;position: relative;padding: 0px 10px;
}
.wdgt-categories{display: inline-block;line-height: 37px;font-size: 11px;float: left;}
#category-icon-link{display: inline-block;float: right;line-height: 37px;padding: 0px 5px;}
.icon-link-title{font-size: 10px;margin-right: 10px;}
.icons-symbol{width: 22px;height: 14px;display: inline-block;}
.icons-symbol .symbol{width: 22px;height: 3px;display: block;margin-top: 3px;vertical-align: middle;}

#wdgt-category-list{height: 354px;display:inline-block;overflow: hidden;}
.category-items{height: 174px;width: 100%;display: block;}
.category-items-image{width: 127px;height: 174px;display: inline-block;float:left;
overflow: hidden;background-image:url("../../images/widgetstore_images/body_bg.jpg");
background-position: center center;background-repeat: no-repeat;}
.category-items-details{width: 155px;height:138px;display: inline-block;margin-left: -2px;
position: relative;padding: 18px 10px;}
.horizontal-line{height: 1px;display: block;position: relative;}
.item-title{font-size: 15px;font-weight: bold;line-height: 19px;}
.item-price{font-size: 12px;font-weight: bold;line-height: 16px;}
.item-description{font-size: 12px;margin-top: 8px;}
.more-info{display: block;width: 80px;height: 21px;font-size: 12px;font-weight:bold;text-align: center;line-height: 21px;position: absolute;right: 17px;bottom: 12px;
text-decoration: none;}

/*details */
#img-details-container{height: 205px;display: block;background-image:url("../../images/widgetstore_images/batman.jpg");
background-position: center center;background-repeat: no-repeat;position: relative;}
#details-upper-menu{height: 37px;display: block;padding: 0px 10px;}
#details-upper-menu ul{display: inline;}
#details-upper-menu ul li{list-style-type: none;list-style: none;float: left;border-right: 1px solid;}
#details-upper-menu ul li:last-child{border-right:none;}
.details-upper-menus{height:37px;line-height: 37px;padding: 0px 12px;display: inline-block;text-decoration: none;}


#details-title-wrapper{position:absolute;left: 10px;top:53px;width: 244px;display: inline-block;}
#details-title{font-size: 22px;text-shadow: 1px 2px 5px #ffffff;display:inline;opacity:0.8;filter:Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);padding: 2px 0px;
}
.description-details-wrapper{height: 158px;display: block;padding: 14px 10px;position: relative;}
.description-details{font-size: 12px;line-height: 16px;}
#circled-price-bg{height: 80px;width: 80px;display: inline-table;position: absolute;bottom: 7px;right: 10px;-webkit-border-radius: 40px;
border-radius: 40px;}
#transparent-menu-wrapper{height: 45px;width:276px;display:inline-table;position: absolute;bottom: 0px;vertical-align: middle;padding: 0px 12px;}
#transparent-menu{opacity:0.2;filter:Alpha(opacity=20);height: 45px;width:300px;display:inline-block;position: absolute;bottom: 0px;margin-left: -12px;}
#transparent-menu-wrapper #add-cart-wrapper{text-align: left;display:table-cell;vertical-align: middle;}
#transparent-menu-wrapper #add-cart-icon{line-height: 27px;background: #000;height: 27px;display: inline-block;opacity:0.7;filter:Alpha(opacity=70);
width: 100px;text-align: center;-webkit-border-radius: 2px;border-radius: 2px;font-size: 11px;font-weight: bold;text-decoration: none;margin-right: 4px;}

#transparent-menu-wrapper #heart{background-image:url("../../images/widgetstore_images/icon_b.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative;}
#transparent-menu-wrapper #share{background-image:url("../../images/widgetstore_images/icon_a.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;position: relative;}
#transparent-menu-wrapper #gift{background-image:url("../../images/widgetstore_images/icon_c.png");line-height: 27px;width: 18px;height: 24px;display: inline-table;vertical-align: middle;position: relative;
box-shadow: 0px 0px 9px -2px #fff;}
#transparent-menu-wrapper .link-icon{margin-right: 4px;cursor: pointer;}

#circled-price{height: 80px;width: 80px;display: inline-table;position: absolute;bottom: 8px;right: 12px;-webkit-border-radius: 40px;
border-radius: 40px;text-align: center;}
#circled-price #amount{display: table-cell;vertical-align: middle;font-size: 16px;font-weight: bold;}

/*tool tip */

/*wish list*/
#wishlist-tooltip-wrapper{position: absolute;display: none;height: 90px;min-width: 234px;bottom: -110px;left:-87px;
text-align:center;box-shadow: 0px 0px 9px -2px #fff;}

#heart:hover > #wishlist-tooltip-wrapper{display:inline-table;
   -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

#wishlist-tooltip{position: relative;height: 90px;min-width: 234px;display:table-cell;vertical-align: middle;}
#tooltip-connector{height: 30px;width: 20px;position: absolute;top:-20px;left:87px;display: block;}

#tooltip-arrow{height: 20px;width: 20px;display: inline-block;position: absolute;
top: 10px;left: 0px;overflow: hidden;
-webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);}
#wishlist-tooltip .wishlist-icons{width: 48px;height: 60px;display: inline-block;padding: 0px 11px;vertical-align: middle;}

#wishlist-icons sub{font-size: 11px;line-height: 15px;}

#wishlist-tooltip .i-icons{width: 48px;height: 40px;display: block;-webkit-border-radius: 3px;
border-radius: 3px;opacity:0.7;filter:Alpha(opacity=70);}

#wishlist-tooltip #ilike{background-image:url("../../images/widgetstore_images/wishlist_icons.png");
background-position: 7px center;background-repeat: no-repeat;}

#wishlist-tooltip #iwant{background-image:url("../../images/widgetstore_images/wishlist_icons.png");
background-position: center center;background-repeat: no-repeat;}

#wishlist-tooltip #ihave{background-image:url("../../images/widgetstore_images/wishlist_icons.png");
background-position: -133px center;background-repeat: no-repeat;}

#wishlist-tooltip .i-icons-selected{width: 48px;height: 40px;display: block;-webkit-border-radius: 3px;
border-radius: 3px;opacity:0.7;filter:Alpha(opacity=70);}
 
/*share it*******************share it*****************share it**************/
#share-tooltip-wrapper{position: absolute;display: none;height: 90px;min-width: 288px;bottom: -110px;left:-143px;
text-align:center;}

#share:hover > #share-tooltip-wrapper{display:inline-table;
   -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
#share-tooltip .share-icons{width: 45px;height: 45px;display: inline-block;padding: 0px 4px;vertical-align: middle;}
#share-tooltip{position: relative;height: 90px;min-width: 234px;display:table-cell;vertical-align: middle;}
#share-connector{height: 30px;width: 20px;position: absolute;top:-20px;left:142px;display: block;}

#tooltip-arrow{height: 20px;width: 20px;display: inline-block;position: absolute;
top: 10px;left: 0px;overflow: hidden;
-webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);}


#share-tooltip .i-icons{width: 43px;height: 43px;display: block;}
#share-tooltip .i-icons-selected{width: 43px;height: 43px;display: block;}

 #fb{background-image:url("../../images/widgetstore_images/social_icons.png");
background-position: 0px center;background-repeat: no-repeat;}

 #tw{background-image:url("../../images/widgetstore_images/social_icons.png");
background-position: -51px; center;background-repeat: no-repeat;}

 #gplus{background-image:url("../../images/widgetstore_images/social_icons.png");
background-position: center center;background-repeat: no-repeat;}
#in{background-image:url("../../images/widgetstore_images/social_icons.png");
background-position: -157px center;background-repeat: no-repeat;}
#pan{background-image:url("../../images/widgetstore_images/social_icons.png");
background-position: -208px center;background-repeat: no-repeat;}
 
  
/*category*/
#wdgt-category-container{height: 427px;width: 300px;}
.wdgt-category-item1{height:174px ;width:192px;display: inline-block;overflow: hidden;background-image:url("../../images/widgetstore_images/body_bg.jpg");
background-position: center center;background-repeat: no-repeat;-webkit-background-size: cover;moz-background-size: cover;
-o-background-size: cover;background-size: cover;}
.wdgt-category-item{width: 96px;height: 87px;display: inline-block;overflow: hidden;background-image:url("../../images/ministore_images/sample_product_1.jpg");
background-position: center center;background-repeat: no-repeat;}

.category-item1-title{display: inline-block;padding: 5px;margin-top: 8px;margin-left: 11px;opacity:0.8;filter:Alpha(opacity=80);}
.item1-text{font-size: 10px;text-shadow: 1px 1px 0px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}

.category-item-title{display:block;width:82px;height:17px;line-height:17px;margin:8px auto;text-align:center;opacity:0.8;filter:Alpha(opacity=80);}
.item-text{font-size: 10px;text-shadow: 1px 1px 0px #fff;filter: dropshadow(color=#fff, offx=1, offy=1);}


/*images*/
#img-title-container{height: 135px;display: block;position: relative;}
#image-gallery{height: 256px;display: block;z-index: 99;position: relative;}
#image-title-wrapper{position:absolute;left: 10px;top:53px;width: 244px;display: inline-block;}
#image-title{font-size: 15px;text-shadow: 1px 2px 5px #ffffff;display:inline;opacity:0.8;filter:Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);padding: 2px 0px;
}
#image-slides-wrapper{position: absolute;bottom: 0px;width: 300px;height: 36px;text-align: center;}
#selected-image-wrapper{border-top: 2px solid;height: 217px;width: 300px;}

/*image slider*/
#image-slider{height: 27px;display: block;padding: 4px 10px;}
#image-slider ul{height: 27px;vertical-align: middle;}
#image-slider ul li{margin-right: 6px;}
#image-slider ul li:last-child{margin-right: 0px;}
.prev-button{list-style: none;display:inline-block;height: 31px;width: 28px;vertical-align:middle;float:left;cursor:pointer;
background-image: url("../../images/widgetstore_images/prev.png");background-repeat: no-repeat; background-position: center center;}
.next-button{list-style: none;display:inline-block;height: 31px;width: 28px;vertical-align:middle;float:right;cursor:pointer;
background-image: url("../../images/widgetstore_images/next.png");background-repeat: no-repeat; background-position: center center;}
#image-slider ul .pagination-pic-wrapper{list-style: none;display:inline-table;width: 28px;}
#image-slider ul li .pic-box {
height: 20px;
width: 28px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
cursor: pointer;
}

#image-slider ul li .pic-box-selected {
height: 30px;
width: 38px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}

/*videos*/
#video-gallery{height: 216px;display: block;z-index: 99;position: relative;padding:20px 0px;overflow: hidden; }

#related-gallery{height: 216px;display: block;padding:20px 15px;overflow: hidden;}

/*related*/
#related-gallery-list{display: inline-block;}
#related-gallery-list li{list-style: none;list-style-type: none;display:block;border-bottom:1px solid #000;padding: 10px 0px;width:265px;position: relative;}
#related-gallery-list .image-icon{height: 43px;width: 43px;display:table-cell;vertical-align:top;}
#related-gallery-list .image-icon img{height: 43px;width: 43px;border: 1px solid #000;display: inline-block;vertical-align: top;}
#related-gallery-list .image-title{vertical-align: middle;display:table-cell;padding: 0px 10px;font-size: 12px;line-height: 16px;width: 136px}
#related-gallery-list .img-price{padding-right: 0px;font-size: 11px;}
#related-gallery-list .img-status{padding-left: 0px;font-size: 11px;}

/*slide show*/

#slideshow-menu-wrapper{
height: 45px;display:inline-table;vertical-align: middle;float: right;position: absolute;bottom: 10px;right: 10px;
}
#transparent-menu{opacity:0.2;filter:Alpha(opacity=20);height: 45px;width:300px;display:inline-block;position: absolute;bottom: 0px;margin-left: -12px;}
#slideshow-menu-wrapper #add-cart-wrapper{text-align: left;display:table-cell;vertical-align: middle;}
#slideshow-menu-wrapper #add-cart-icon{line-height: 21px;height: 21px;display: inline-block;
width: 80px;text-align: center;font-size: 12px;font-weight: bold;text-decoration: none;}

#slideshow-menu-wrapper #heart{background-image:url("../../images/widgetstore_images/icon_a.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;}
#slideshow-menu-wrapper #share{background-image:url("../../images/widgetstore_images/icon_b.png");line-height: 27px;width: 21px;height: 21px;display: inline-table;vertical-align: middle;}
#slideshow-menu-wrapper #gift{background-image:url("../../images/widgetstore_images/icon_c.png");line-height: 27px;width: 18px;height: 24px;display: inline-table;vertical-align: middle;
box-shadow: 0px 0px 9px -2px #fff;}
#slideshow-menu-wrapper a{margin-right: 3px;}

#slideshow-title-wrapper{height:70px;display: block;position: absolute;bottom: 10px;right:12px;width:276px;}
#slideshow-title-div{display:inline-table;vertical-align: middle;width: 190px }

#slideshow-title {
font-size: 18px;
text-shadow: 1px 2px 5px white;
display: inline;vertical-align:middle;
opacity: 0.8;
filter: Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);
padding: 2px 0px;
}
#circle-wrapper{position: relative;width: 70px;display: inline-table;
vertical-align: middle;height: 70px;margin-right: 10px;}
#slideshow-price {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 1px;
left: 0px;
-webkit-border-radius: 35px;
border-radius: 35px;
text-align: center;
}
#slideshow-price-bg {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 0px;
left: 2px;
-webkit-border-radius: 35px;
border-radius: 35px;
}
#slideshow-price #amount {
display: table-cell;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
}

/* addtocart */
#merchant-title{line-height: 18px;display: block;border-bottom:1px solid;font-size: 14px;font-weight: bold;}
.quantity-wrapper{display: inline-table;height: 43px;
width: 82px;display: table-cell;text-align: right;
vertical-align: top;}
.update-quantitty{display: table-cell;}
.quantity{height: 21px;width: 30px;line-height: 21px;text-align: center;display: inline-block;border: 1px solid #000;margin: 0px 7px;}
.addtocart-cancel{height: 15px;width: 15px;display: inline-block;background-image: url("../../images/widgetstore_images/cancel.png");
background-repeat: no-repeat; background-position: center center;opacity:0.7;}
.update-quantitty{text-align: center;font-size: 10px;line-height: 14px;display: inline-block;width: 82px;text-decoration: underline;cursor: pointer;}
.img-options ,.img-size{font-size: 11px;}

#addtocart-title-container{height: 105px;
display: block;
position: relative;}
#addtocard-upper{height: 57px;display:block;}
#shopping-cart-text{display: table-cell;vertical-align: middle;width: 126px;height: 57px;padding-left: 12px;font-size: 18px;}
#shoping-cart-details-wrapper{display: table-cell;vertical-align: middle;width: 150px;heght:57px;text-align: right;padding-right: 12px;font-size: 11px;}

#shoping-cart-details{}
#addtocard-lower{height: 48px;display: inline-table;}
#lower-text-wrapper{height: 21px;display: table-cell;vertical-align: middle;font-size: 12px;text-align: center;width: 300px;}
#shopping-but{text-decoration: underline;cursor: pointer;width: 122px;display: inline-block;line-height: 16px;cursor: pointer;}
#checkout-but{height: 21px;width: 151px;line-height: 21px;display: inline-block;padding-left: 9px;text-align: left;
background-image: url("../../images/widgetstore_images/proceed_checkout.png");background-repeat: no-repeat; background-position: 140px center;
cursor: pointer;}

/*splash*//*category*/

#wdgt-main-top{min-height: 57px;width: 300px;position: relative;}
#title-wrapper{line-height: 57px;font-size: 25px;font-weight: bold;font:arial;margin-left: 10px;display: inline-block;width:242px;
vertical-align: middle;position: relative;}
#items-selected{font-size: 9px;color: #fff;height: 13px;line-height: 13px;float: right;}
#main-top-icons{float:right;width:45px; }
#wdgt-main-top #top-search{width: 45px;height: 26px;display:inline-block;background-image: url("../../images/widgetstore_images/preview.png");background-repeat: no-repeat; background-position: center center;opacity:0.8;
filter:Alpha(opacity=80); /* IE8 and earlier */}
#wdgt-main-top #top-addtocart{margin-top:1px;width: 45px;height: 26px;display: inline-block;background-image: url("../../images/widgetstore_images/cart.png");
opacity:0.8;filter:Alpha(opacity=80);background-repeat: no-repeat;background-position: center center;}

#wdgt-main{height: 500px;width: 300px;display: block;position:relative;
background-image: url("../../images/widgetstore_images/splash2.jpg");background-repeat:  no-repeat; -webkit-background-size: cover;
background-position:center center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

/*splash buttom*/
#shopnow-button{width: 215px;height: 69px;display: block;background-image: url("../../images/widgetstore_images/splash_next.png");background-repeat: no-repeat;background-position: 174px center; ;
text-indent:33px;line-height: 69px;font-size: 25px;font-weight: bold;color: #000;text-decoration:none;
position: absolute;bottom:84px;left:66px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
-webkit-box-shadow: 2px 2px 3px 1px #000;
box-shadow: 2px 2px 3px 1px #000;
opacity:0.8;filter:Alpha(opacity=80);
}

/*footer*/
#wdgt-pagination-wrapper{height: 35px;width: 300px;display: block;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 17px;z-index: 1;}

/*main2- pagination*/
#main2-pagination{height: 27px;display: block;padding: 4px 0px;}
#main2-pagination ul{height: 27px;vertical-align: middle;padding: 4px 0px;}
#main2-pagination ul li{margin-right: 6px;}
#main2-pagination ul li:last-child {margin-right: 22px;}
#main2-pagination ul .page-button{list-style: none;display:inline-table;font-size: 11px;}
#main2-pagination ul .page-button:hover{cursor: pointer;text-decoration: underline;}
#main2-pagination ul .pagination-num-wrapper{list-style: none;display:inline-table;
width: 15px;text-align: center;font-size: 11px;}
#main2-pagination ul .pagination-num{visibility: hidden;}
#main2-pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}

#wdgt-splash2-logo{height: 17px;width: 300px;display: block;position: absolute;bottom: 0px;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 17px;}

#wdgt-splash2-footer{min-height: 17px;width: 300px;display: block;position: absolute;bottom: 0px;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 17px;}

#footer-logo{display: inline-block;float: left;padding: 0px 10px;width: 280px;text-align: left;}
#main-footer-logo{font-size: 13px;margin-left: 4px;vertical-align: middle;line-height: 17px;display: inline-block;}
#added-item{font-size: 9px;display: inline-block;float: right;}


