@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 1.2;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

#top-bar-wrapper{height: 161px;display: block;}
#top-bar{height: 63px;display: block;}
#header-content-wrapper{width: 960px;margin:0 auto;height: 160px;display: block;position: relative;}
#top-menu{height: 63px;display:block;text-align: right;}
/*accounts*/
#accounts{height: 63px;display:inline-table;vertical-align: middle;float: left;}
#account-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#account-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#accounts p{display: table-cell;vertical-align: middle;}

#shopping-cart-wrapper{height:63px;width:255px;display: inline-table;text-align: center;position: relative;vertical-align: middle;}
#shopping-cart{display: inline-table;height: 72px;width: 221px;position: absolute;top:12px;left:0px;padding: 0px 17px;}
#shopping-cart p{display: table-cell;vertical-align: middle;text-align: left;}
#cart-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#cart-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#shoppin-text{font-size: 14px;line-height: 18px;}
#shopping-count{font-size: 11px;line-height: 15px;}
/*shopping cart */
#floating-menu-wrapper{display: inline-table;padding: 0px 15px;vertical-align: middle;}

#floating-menu-wrapper ul{display: table;vertical-align: middle;}
#floating-menu-wrapper ul li{list-style: none;font-size: 11px;display: table-cell;padding: 0px 15px;height: 20px;
vertical-align: middle;opacity:0.8;filter:Alpha(opacity=80);cursor: pointer;}

/*titles*/
#title-wrapper{height: 98px;display: block;width: 960px;text-align: right;}
#titles{height: 98px;display:inline-table;vertical-align: middle;width:600px;float: left;text-align: left;}
#titles p{display: table-cell;vertical-align: middle;}
.title-text{font-size: 55px;margin-left:-10px;line-height: 59px;}
.title-tagline{font-size: 12px;line-height: 16px;}

/**fixed search box**/
#search-box-wrapper{height: 98px;width: 255px;display: inline-table;text-align:center;}

#search-box{display: table-cell;vertical-align: bottom;width: 255px;padding-bottom: 10px;}
#search-box input{height: 30px;width:226px;border:1px solid;display: inline-block;vertical-align: middle;text-indent: 10px;}
#search-box #search-box-icon{height: 28px;width: 28px;cursor: pointer;
display: inline-block;
vertical-align: middle;
background-image: url("../../images/webstore_images/search_icon_white.png");
background-repeat: no-repeat;
background-position: center center;}

/* middle main content*/
#main-wrapper{width: 960px;margin:0 auto;padding: 28px 0px;}

/*floating box*/
#floating-box{height: 478px;width: 958px;display: block;position:relative;border:1px solid;}

/**** effect box shadow type 2******/
.effect2::before, .effect2::after {
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect2::after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}

/**** slide show wrapper***/
#image-slideshow-wrapper{height:478px;width:703px;display: inline-block;position: relative;}
#descrition-container{width: 647px;text-align: left;height: 164px;display: inline-block;padding:22px 28px;
position: absolute;bottom: 0px;left:0px;opacity:0.8;filter:Alpha(opacity=80);}
#descrition-container #des-tittle{font-size: 55px;line-height: 57px;display: block;width:471px;}
#descrition-container #price{height: 40px;width: 136px;display: inline-block;line-height: 40px;text-align: center;font-size: 30px;}
#decription{height: 116px;width: 433px;display: block;font-size: 16px;line-height: 20px;text-align: left;}

#picture-container{height:478px;width:705px;text-align: left;display: inline-block;position:relative;
background-image: url("../../images/webstore_images/image_1.jpg");
background-repeat: no-repeat;-webkit-background-size: cover;background-position: cover;}

#right-menu{width: 252px;height: 478px;display: inline-block;float: right;}
/****** pagination box***/
#pagination-box-wrapper{position: absolute;height: 56px;width: 196px;display: inline-table;bottom:0px;right:0px;text-align:center;}
#pagination-box{display: table-cell;vertical-align: middle;list-style: none;}
#pagination-box li{list-style: none;cursor: pointer;}
.box{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}
.box-selected{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}

/******** latest product*********/
#latest-products-wrapper{height: 209px;display: block;text-align: center;position: relative;margin-top: 81px;margin-bottom: 71px;}
#latest-tag{position: absolute;left:0px; top:-37px;width: 130px;height: 26px;display: inline-block;line-height: 26px;text-align: center;font-size: 15px;}
#latest-products{height: 209px;display: inline-block;width: 960px;}
#latest-products .products1{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/car_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products .products2{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/people_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products .products3{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/structure_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products li{overflow: hidden;}
#latest-products li:FIRST-CHILD{float: left;}
#latest-products li:LAST-CHILD{float: right;}
.details-wrapper{height:175px;width:162px;display:block;padding: 16px 15px;text-align: left;}
.transparency{height:207px;width:192px;display:block;opacity:0.9;filter:Alpha(opacity=90);}
.price-wrapper{height: 30px;width: 70px;display: inline-table;vertical-align: middle;margin-right: 11px;position: relative;}
.latest-price{display: table-cell;vertical-align: middle;font-size: 14px;font-weight: bold;}
.latest-price span{padding: 0px 5px;}
.latest-title-div{height: 65px;width: 167px;display:inline-table;vertical-align: middle;text-align: left;margin: 5px 0px;}
.latest-title-div p{display: inline;vertical-align: middle;font-size: 18px;padding: 2px 0px;opacity:1;filter:Alpha(opacity=100);}
.latest-description-div{height: 65px;width: 172px;display: block;}
.latest-description-div p{display: inline;vertical-align: middle;font-size: 11px;padding: 2px 0px;opacity:1;filter:Alpha(opacity=100);}

/**** slide effect*/
.transparency , .details-wrapper {
  position: absolute;right:-200px;top:0px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  visibility: hidden;
}
#slideout_inner {
  position: fixed;
  top: 40px;
  left: -250px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#latest-products li:hover .transparency ,#latest-products li:hover .details-wrapper {
 right:0px;top:0px;visibility: visible;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout:hover #slideout_inner {
  left: 0;
}

/********footer*************/
#footer-wrapper{height: 232px;display: block;}
