@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 1.2;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

/* colors 
.bg-color1{background: #ED4595;}
.font-color1{color:#ED4595;}
.bg-color2{background: #fff;}
.font-color2{color:#fff;}
.bg-color3{background: #000;}
.font-color3{color:#000;}*/

/*header*/
#header-wrapper{height: 185px;display: block;}

#black-div{height: 28px;display: block;}
#header-content-wrapper{width: 960px;margin:0 auto;height: 130px;display: block;}
#top-most-menu{display: inline-block;height: 28px;}
#top-most-menu ul{display: table;height: 28px;vertical-align: middle;}
#top-most-menu ul li{list-style: none;font-size: 11px;display: table-cell;padding: 0px 15px;border-left:1px solid;height: 28px;
vertical-align: middle;opacity:0.8;cursor: pointer;}

#title-wrapper{height: 102px;display: block;width: 960px;text-align: right;}
#titles{height: 102px;display: inline-table;vertical-align: middle;width:600px;float: left;text-align: left;}
#titles p{display: table-cell;vertical-align: middle;}
.title-text{font-size: 55px;margin-left:-10px;line-height: 59px;}
.title-tagline{font-size: 12px;line-height: 16px;}

#accounts{height: 102px;display:inline-table;vertical-align: middle;}
#account-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#account-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#accounts p{display: table-cell;vertical-align: middle;}
#account-name{font-size: 14px;line-height: 18px;}
#sign-in{font-size: 11px;line-height: 15px;}

#separator-wrapper{height: 102px;display:inline-table;vertical-align: middle;padding: 0px 23px;}
#separator{width:1px;display: table-cell;vertical-align: middle;}
#line{height: 46px;width: 1px;border-left: 1px solid;display: block;}

#shopping-cart{height: 102px;display: inline-table;vertical-align: middle;float: right;}
#shopping-cart p{display: table-cell;vertical-align: middle;}
#cart-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#cart-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#shoppin-text{font-size: 14px;line-height: 18px;}
#shopping-count{font-size: 11px;line-height: 15px;}

/* middle main content*/
#main-wrapper{width: 960px;margin:0 auto;}


/**** effect box shadow type 2******/
.effect2::before, .effect2::after {
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect2::after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}
#floating-box{height: 480px;width: 960px;display: block;margin-top: -55px;position:relative;border:1px solid;}

#floating-menu-wrapper{height: 55px;display: inline-block;padding: 0px 15px;}

#floating-menu-wrapper ul{display: table;height: 55px;vertical-align: middle;}
#floating-menu-wrapper ul li{list-style: none;font-size: 14px;display: table-cell;padding: 0px 15px;height: 55px;
vertical-align: middle;opacity:0.8;filter:Alpha(opacity=80);cursor: pointer;}

/**fixed search box**/
#search-box-wrapper{position: absolute;height: 56px;width: 196px;display: inline-table;top:0px;right:0px;text-align:center;}
#search-box{display: table-cell;vertical-align: middle;}
#search-box input{height: 28px;width:140px;border:1px solid;display: inline-block;vertical-align: middle;text-indent: 10px;}
#search-box #search-box-icon{height: 28px;width: 28px;cursor: pointer;
display: inline-block;
vertical-align: middle;
background-image: url("../../images/webstore_images/search_icon_white.png");
background-repeat: no-repeat;
background-position: center center;}

/**** slide show wrapper***/
#image-slideshow-wrapper{height: 334px;display: block;padding: 44px 34px}
#descrition-container{width: 433px;text-align: left;height: 293px;display: inline-block;}
#descrition-container #des-tittle{font-size: 55px;line-height: 57px;display: block;}
#descrition-container #price{height: 40px;width: 136px;display: inline-block;line-height: 40px;text-align: center;font-size: 30px;margin: 12px 0px;}
#decription{height: 116px;width: 433px;display: block;font-size: 16px;line-height: 20px;text-align: left;}

#picture-container{width: 420px;text-align: left;height: 293px;display: inline-block;float: right;
background-image: url("../../images/webstore_images/image_1.jpg");
background-repeat: no-repeat;
background-position: center center;}

/****** pagination box***/
#pagination-box-wrapper{position: absolute;height: 56px;width: 196px;display: inline-table;bottom:0px;right:34px;text-align:right;}
#pagination-box{display: table-cell;vertical-align: middle;list-style: none;}
#pagination-box li{list-style: none;cursor: pointer;}
.box{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}
.box-selected{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}

/******** latest product*********/
#latest-products-wrapper{height: 209px;display: block;text-align: center;position: relative;margin-top: 81px;margin-bottom: 71px;}
#latest-tag{position: absolute;left:0px; top:-37px;width: 130px;height: 26px;display: inline-block;line-height: 26px;text-align: center;font-size: 15px;}
#latest-products{height: 209px;display: inline-block;width: 960px;}
#latest-products .products1{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/car_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products .products2{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/people_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products .products3{list-style: none;height: 207px;width: 311px;display: inline-block;
background-image: url("../../images/webstore_images/structure_1.jpg");
background-repeat: no-repeat;
background-position: center center;
position: relative;}
#latest-products li:FIRST-CHILD{float: left;}
#latest-products li:LAST-CHILD{float: right;}
.details-wrapper{height:71px;width:289px;display:block;position: absolute;bottom: 0px;	padding: 7px 11px;}
.transparency{position: absolute;left:0px;bottom:0px;height:85px;width:311px;display:block;opacity:0.9;filter:Alpha(opacity=90);}
.price-wrapper{height: 70px;width: 70px;display: inline-table;vertical-align: middle;margin-right: 11px;position: relative;}
.latest-price{display: table-cell;vertical-align: middle;font-size: 14px;font-weight: bold;}
.latest-price span{padding: 0px 5px;}
.latest-title-div{height: 65px;width: 190px;display:inline-table;vertical-align: middle;text-align: left;}
.latest-title-div p{display: inline;vertical-align: middle;font-size: 18px;padding: 2px 0px;opacity:1;filter:Alpha(opacity=100);}

/********footer*************/
#footer-wrapper{height: 232px;display: block;}
