@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

#wdgt-wrapper {
/*background: url("../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 300px;
height: 500px;
margin: 0;
position: relative;
}
/*main*/
#wdgt-main-top{height: 56px;background: #ED4595;float:left;width: 300px;padding: 0px;position: relative;}
#title-wrapper{line-height: 40px;color: #fff;font-size: 25px;font-weight: bold;font:arial;margin-left: 10px;display: inline-block;width:242px;
vertical-align: middle;}
#items-selected{font-size: 9px;color: #fff;height: 13px;line-height: 13px;float: right;}
#main-top-icons{float:right;width:45px; }
#wdgt-main-top #top-search{width: 45px;height: 26px;display:inline-block;background: url("../../images/widgetstore_images/preview.png") no-repeat scroll center center #FBDAEA;}
#wdgt-main-top #top-addtocart{margin-top:1px;width: 45px;height: 26px;display: inline-block;background: url("../../images/widgetstore_images/cart.png") no-repeat scroll center center #FBDAEA;}

/*main-wrapper*/
#wdgt-main2-wrapper{height: 443px;display: block;float: left;}
#main2-left{width: 91px;display: inline-block;background: #ED4595;height: 443px;float: left;position: relative;}

/*main2 menu */
#main2-left ul li {
display: table;
float: left;
position: relative;
width: 91px;
height: 57px;
border-bottom: 1px solid #000;
color: #fff;
}
#main2-left ul li:FIRST-CHILD{border-top: 1px solid #000;}
#main2-left ul li a {
display: table-cell;
vertical-align: middle;
text-align: center;
width: 59px;
padding: 0 16px;
color: #fff;text-decoration: none;
}
#main2-left ul li a:hover{background: #000;}
#main2-left ul li .wdgt-has-sub {
position: absolute;
top: 22px;
right: 3px;
color: #fff;
}

#main2-logo-div{height:40px ;width: 91px;position: absolute;bottom: 0px;}
#logo-container{height:40px ;width: 91px;background: #fff;display:table-cell;vertical-align: middle;text-align: center;}
#main2-power{color:#ED4595;font-size: 9px;display: block;line-height: 13px;}
#main2-logo{font-size: 13px;color:#ED4595;display: block;line-height: 17px;}
/* right content*/
#main2-right{width: 197px;display: inline-block;float: right;background: #000;height: 443px;padding-left: 12px;}
#main2-right ul{height: 366px;width: 197px;overflow: hidden;}
#main2-right ul:HOVER{overflow-y:overlay ;overflow-x:hidden;z-index: 10;}

#main2-right #category-title{font-size: 11px;line-height: 15px;color: #fff;display: block;font-weight: normal;padding: 12px 0px;}
#main2-right ul li.item-categories{display: block;list-style: none;height: 180px;border-bottom: 1px solid #fff;}
#main2-right ul li.item-categories:FIRST-CHILD{border-top:1px solid #fff;}
#main2-right #item{height: 37px;
overflow: hidden;
font-size: 15px;
color: #ED4595;
font-weight: bold;}
#item-category-selected #price {
font-size: 12px;
font-weight: bold;
color: white;
line-height: 16px;
margin: 4px 0px;
}
#item-category-selected #description {
margin: 4px 0px;
height: 66px;
color: #fff;
text-align: left;
overflow: hidden;
}
#item-selected-info {
position: absolute;text-decoration:none;
width: 78px;
height: 19px;
border: 1px solid #fff;
background: #ED4595;
color: white;
text-align: center;
line-height: 19px;
font-size: 12px;
font-weight: bold;
top: 137px;
left: 10px;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;background: #fff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(211, 27, 181, 0.3); 
    border-radius: 10px;
    
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(211, 27, 181, 0.3); 
    background: #ED4595;
    height: 20px;
}
/**/
#item-selected-info:hover{border-color:#ED4595;background: #fff;color:#ED4595;}
#item-category-selected{width: 110px;height: 152px;display: inline-block;padding: 14px 0px;}
#item-category-picwrapper{float: right;width: 83px;overflow: hidden;position: relative;}
/*main2- pagination*/
#main2-pagination{height: 33px;display: block;float: right;padding: 4px 0px;}
#main2-pagination ul{display: inline;}
#main2-pagination ul li{margin-right: 6px;}
#main2-pagination ul li:last-child {margin-right: 22px;}
#main2-pagination ul .page-button{list-style: none;display:inline-table;vertical-align: bottom;color: #ED4595;font-size: 11px;}
#main2-pagination ul .pagination-num-wrapper{list-style: none;display:inline-table;vertical-align: middle;
height: 25px;width: 15px;text-align: center;font-size: 11px;}
#main2-pagination ul .pagination-num{visibility: hidden;}
#main2-pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
border: 1px solid white;
line-height: 16px;
vertical-align: middle;
}
#main2-pagination ul li .pagination-box:hover {background: #ED4595;border-color: #ED4595;}
#main2-pagination ul .pagination-num-wrapper:hover .pagination-num{visibility: visible;}
#main2-pagination ul .pagination-num-wrapper#active .pagination-box{background: #ED4595;border-color: #ED4595;}
#main2-pagination ul .pagination-num-wrapper#active .pagination-num{visibility: visible;}

/*splash*/
#wdgt-main{height: 500px;width: 300px;display: block;position:relative;
background: url("../../images/ministore_images/splash2-bg.jpg") no-repeat scroll center center #ED4595;}

/*buttom*/
#shopnow-button{width: 215px;height: 69px;display: block;background: url("../../images/ministore_images/ms-next.png") no-repeat 174px center #fff;
text-indent:33px;line-height: 69px;font-size: 25px;font-weight: bold;color: #000;text-decoration:none;
position: absolute;top:117px;right: 21px;
-webkit-box-shadow: 2px 2px 3px 1px #000;
box-shadow: 2px 2px 3px 1px #000;}

/*footer*/
#wdgt-splash2-footer{height: 20px;width: 300px;display: block;position: absolute;bottom: 20px;color: #A2377B;background: #fff;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 20px;}
#main-footer-logo{font-size: 13px;color:#A2377B;margin-left: 4px;vertical-align: middle;line-height: 20px;}


