@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

#wdgt-wrapper {
/*background: url("../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 160px;
height: 500px;
margin: 0;
position: relative;overflow: hidden;
}
/*main*/
#wdgt-main4-top{height: 80px;background: #ED4595;width: 160px;padding: 0px;position: relative;}
#title-wrapper{line-height: 49px;color: #fff;font-size: 25px;font-weight: bold;font:arial;margin-left: 10px;display: inline-block;
vertical-align: middle;}
#main4-itm-categories{height: 31px;display:block;background:#fff;padding:0px 8px;
color: #ED4595;font-size: 12px;line-height: 31px;position: relative;}
#main4-itm-categories #submenu-plus{background: url("../../images/submenus/plus_white.png") no-repeat center center #ED4595;
height: 16px;width: 16px;display:inline-block;position: absolute;right: 8px;top:8px;}
#wdgt-main4-center{height: 400px;display: block;background: #000;position: relative;}

/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;background: #fff;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(211, 27, 181, 0.3); 
    border-radius: 10px;
    
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(211, 27, 181, 0.3); 
    background: #ED4595;
    height: 20px;
}
/**/
/*items list*/
#items-list-wrapper{height: 362px; overflow:hidden;display: block;}
#items-list-wrapper:hover{overflow-y:hidden;overflow-y:overlay;}
#items-list-wrapper ul li.item-categories{height: 151px;display: inline-block;padding-top:7px;padding-bottom:20px;width:150px;
float:right;border-bottom: 1px solid #FFF;}
#item-category-selected{padding: 0px 10px;}
#item-category-selected #price {
font-size: 12px;
font-weight: bold;
color: white;
line-height: 16px;
margin: 4px 0px;
}
#item-category-selected #item{
overflow: hidden;
font-size: 15px;
color: #ED4595;
font-weight: bold;}
#item-category-picwrapper{height: 110px;overflow: hidden;padding:0px 10px;}
#item-category-picwrapper img{height: 110px;}

/*main4- pagination*/
#main4-pagination{height: 33px;display: block;padding: 4px 13px;width: 134px;}
#main4-pagination ul{width: 134px;display:inline-block;margin:0 auto;}
#main4-pagination ul li{margin-right: 3px;}
#main4-pagination ul li:last-child{margin-right: 0px;}
#main4-pagination ul .page-button{list-style: none;display:inline-table;vertical-align: bottom;color: #ED4595;font-size: 11px;}
#main4-pagination ul .pagination-num-wrapper{list-style: none;display:inline-table;vertical-align: middle;
height: 25px;width: 15px;text-align: center;font-size: 11px;}
#main4-pagination ul .pagination-num{visibility: hidden;}
#main4-pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
border: 1px solid white;
line-height: 16px;
vertical-align: middle;
}
#main4-pagination ul li .pagination-box:hover {background: #ED4595;border-color: #ED4595;}
#main4-pagination ul .pagination-num-wrapper:hover .pagination-num{visibility: visible;}
#main4-pagination ul .pagination-num-wrapper#active .pagination-box{background: #ED4595;border-color: #ED4595;}
#main4-pagination ul .pagination-num-wrapper#active .pagination-num{visibility: visible;}

/*splash*/
#wdgt-main{height: 500px;width: 300px;display: block;position:relative;
background: url("../../images/ministore_images/splash2-bg.jpg") no-repeat scroll center center #ED4595;}

/*buttom*/
#shopnow-button{width: 215px;height: 69px;display: block;background: url("../../images/ministore_images/ms-next.png") no-repeat 174px center #fff;
text-indent:33px;line-height: 69px;font-size: 25px;font-weight: bold;color: #000;text-decoration:none;
position: absolute;top:117px;right: 21px;
-webkit-box-shadow: 2px 2px 3px 1px #000;
box-shadow: 2px 2px 3px 1px #000;}

/*footer*/
#wdgt-main-footer{color:#ED4595; }
#wdgt-splash2-footer{height: 20px;width: 160px;display: block;color: #ED4595;background: #fff;
text-align: center;font-size: 9px;vertical-align: middle;line-height: 20px;}
#main-footer-logo{font-size: 13px;color:#ED4595;margin-left: 4px;vertical-align: middle;line-height: 20px;}


