@charset "utf-8";
/* CSS Document */

body, html { font: inherit; font-family: Arial, Helvetica, sans-serif; border: 0px; margin: 0px; padding: 0px; font-size:12px; }
strong { font-weight:bold; }

/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.floatright { float:right; }
.floatleft { float:left; }


.pricingplans td { vertical-align:middle; }
