@CHARSET "ISO-8859-1";
html, body {height: 100%; width:100%; margin:0; padding:0; position:relative; }
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
strong{ font-weight: bold; }

/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.floatleft { float:left; }
.floatright { float:right; }

#loader { width:100%; height:100%; position:absolute; z-index:8; background-color:#FFF; }
#loader.transparent { background-color:transparent !important; }
#main-wrapper { position:relative; overflow:hidden; }
#main-wrapper a { text-decoration:none; }
#main-wrapper a img { border:0 none; }
.arrow-left { width:23px; height:53px; background:url(/cdn/images/slideshow/arrow-left.png) no-repeat  center center transparent; position:absolute; z-index:2; left:2%; top:38%; cursor:pointer; }
.arrow-right { width:23px; height:53px; background:url(/cdn/images/slideshow/arrow-right.png) no-repeat center center transparent; position:absolute; z-index:2; right:2%; top:38%; cursor:pointer; }
.prodname-wrapper { min-height:109px; /*height:16%;*/ font-family:Impact, Arial, Helvetica; float:left; width:100%; position:relative; padding-bottom:2px; /*resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;*/ }
.prodname-table-wrapper { display:table; width:100%; height:100%; }
.prodname-tablecell-wrapper { display:table-cell; vertical-align:middle;  width:100%; height:100%; }
.prodname-wrapper .prodname { font-size:22px; line-height:100%; /*margin-top:2%;*/ padding-left:3%; padding-right:3%; max-height:140px; cursor:pointer; }
.prodname-wrapper .price { font-size:16px; font-family: Arial; padding-left:3%; }
.photo-wrapper { position:relative; width:100%; float:left; overflow:hidden; }
/*.photo-wrapper img { width:100%; height:100%; }*/
.btn-wrapper { position:absolute; z-index:2; bottom:13%; left:2%; width:98%; }
.btn-wrapper .icon-wrapper { float:left; }
.btn-wrapper .icon-wrapper div.ss-icons { min-width:38px; min-height:40px; float:left; margin-right:4px; cursor:pointer; border-width:1px; border-style:solid;  }
.btn-wrapper .icon-wrapper div.info:hover { opacity:0.8; }
.btn-wrapper .icon-wrapper div.share { background:url(/cdn/images/slideshow/icon-share.png) no-repeat  center center transparent; position:relative; }
.btn-wrapper .icon-wrapper div.info { background:url(/cdn/images/slideshow/icon-info.png) no-repeat  center center transparent; margin-right:16px; }
.btn-buy-wrapper {  }
.btn-buy { float:left; width:98px; height:34px; line-height:36px; font-size:12px; font-weight:bold; text-align:center; text-decoration:none; position:relative; margin-right:5%; cursor:pointer; }
.btn-buy div { height:32px; width:96px; border-width:1px; border-style: solid; }

#sharebox{ position: absolute; top: -88px; left: -2px; width: 180px; height: 70px; z-index: 10; border-right: 2px solid #000000; border-top: 2px solid #000000;
				border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; }
.sharebox-arrow-top { width: 0; height: 0; line-height: 0px; border-top: 14px solid transparent; border-bottom: 0 solid transparent; border-right: 10px solid transparent; border-left: 10px solid transparent; position: absolute; z-index: 60; bottom: -12px; left: 13px; }
.sharebox-box-top{background-color: transparent; position: absolute; height: 17px; width: 100%; bottom: -16px; left: 0;}
.share-lbl { font-size: 10px; font-weight: bold; margin: 3px 0; display:block; text-align:center; }
.share-lbl { margin-top:5px; }
#sharebox ul{float: left; margin: 4px 10px 20px 14px; padding:0;}
#sharebox ul li{ float: left; list-style-type: none; width: 23px; height: 23px; margin-right: 8px; }
#sharebox ul li img{ width: 23px; height: 23px; }
#sharebox ul li img.active, #sharebox ul li img:hover{ cursor: pointer; }
#preloader-wrapper {height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }

#detail-wrapper { width:100%; height:100%; position:absolute; z-index:6; left:0; top:0; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding:1px; }
#detail-wrapper #menu { float:left; width:100%; min-height:38px; max-height:50px; position:relative; z-index:1; }
#detail-wrapper #menu div.txt { opacity:0.7; float:left; font-size:11px; padding:0 5px; cursor:pointer; }
#detail-wrapper #menu div.selected { opacity:1; }
#detail-wrapper #menu div.border { background-color:#FFF; width:1px; height:22px; opacity:0.5; float:left; position:relative; top:8px; }
#btn-close { position:absolute; top:8%; right: 4px; width:22px; height:34px; line-height:34px; font-family:Tahoma, Arial; font-weight:bold; font-size:18px;
text-shadow: 1px 1px 4px #999999;
filter: dropshadow(color=#999999, offx=1, offy=1); cursor:pointer; 
}

#detail-content { width:100%; float:left; position:relative; overflow:hidden; z-index:1; }
#detail-footer { width:100%; float:left; min-height:59px; max-height:77px; position:absolute; left:0; bottom:0; padding-bottom:1%; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#detail-wrapper .btn-buy { margin: 0; }
.detail-content { width:100%; height:100%; position:relative; overflow: hidden; overflow-y:visible; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding:30px 20px; }
#thumbnail-wrapper { position:absolute; right:40px; bottom:6%; }
#thumbnail-wrapper .thumb { min-height:18px; min-width:18px; max-height:40px; max-width:40px; border-width:1px; border-style:solid; float:left; margin-right:8px; cursor:pointer; }

#tab-shipping ul { padding:0; list-style:square; margin:3px 0 0; border-bottom-width:1px; border-bottom-style:dotted; }
#tab-shipping ul li { border-top-width:1px; border-top-style: dotted; padding:10px 0; }

#footer {
	width:100%;
	/*min-height:38px;*/
	/*max-height:40px;*/
	height:3.2%;
	height:6%;
	position:relative;
	display:table;
}
#storename { font-weight:bold; font-size:12px; padding-left:16px; padding-left:2%; display:table-cell; vertical-align:middle; height:100%; }
.pby-wrapper { display:table-cell; vertical-align:middle; margin-right:1%; margin-left:4px; height:100%; max-width:112px; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.pby-wrapper .pby-shopstyx { font-size:12px; }
#cart-wrapper { margin-right:5px; }
#cart-icon { width:27px; height:27px; position:relative; background:url(/cdn/images/slideshow/cart.png) no-repeat center center transparent; cursor:pointer; }
#cart-icon div { height:10px; padding:0 2px; position:absolute; top:1px; right:2px; font-size:11px; line-height:11px; text-align:center; border: 0px solid transparent; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; }

.effect-holder{width: 100%;
height: 50px;
float: left; z-index: 200;}

.effect-shadow-left{position: absolute;top:0px;left:0px;z-index: 0;height: 30px;width: 50%;
			background-image: url("/cdn/images/main_images/effect_shadow_left.png");
			background-repeat: no-repeat;
			background-position:top left;	}
.effect-shadow-right{position: absolute;top:0px;right:0px;z-index: 0;height: 30px;width: 50%;
			background-image: url("/cdn/images/main_images/effect_shadow_right.png");
			background-repeat: no-repeat;
			background-position:top right;}
			
.effect-shadow-bottomleft{position: absolute;bottom:0;left:0px;z-index: 0;height: 28px;width: 50%;
			background-image: url("/cdn/images/slideshow/effect_shadow_left.png");
			background-repeat: no-repeat;
			background-position:top left;	}
.effect-shadow-bottomright{position: absolute;bottom:0;right:0px;z-index: 0;height: 28px;width: 50%;
			background-image: url("/cdn/images/slideshow/effect_shadow_right.png");
			background-repeat: no-repeat;
			background-position:top right;}

.photo-wrapper .effect-shadow-left { top:-3px; }
.photo-wrapper .effect-shadow-right { top:-3px; }
.swiper-container .effect-shadow-bottomleft { bottom:-3px; z-index:6; }			
.swiper-container .effect-shadow-bottomright { bottom:-3px;  z-index:6; }	


/* product option selection */
#option-wrapper { position:absolute; top:0; left:0; z-index:6; width:100%; height:100%; }
#option-wrapper #overlay { width:100%; height:100%; background-color:#FFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#option-wrapper #option-content { position:absolute; top:18px; left:5px; width:95%; min-width:195px; max-width:300px; padding:12px 10px; background-color:#FFF; border:1px solid #999999; -webkit-box-shadow: 0px 0px 4px 2px #999999; box-shadow: 0px 0px 4px 2px #999999; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#option-wrapper #close-btn { background:url(/cdn/images/close-x.png) no-repeat; cursor:pointer; width:23px; height:23px; position:absolute; top:9px; right:16px; z-index:2; }
#option-wrapper .scroller { height:152px; /*width:100%;*/ width:98%; margin-bottom:10px; position:relative; }
#option-wrapper .scroller .jspVerticalBar { width:8px; height:150px; background-color:transparent; opacity:0.5; }
#option-wrapper .scroller .jspTrack { background-color: transparent; height:150px !important; border:1px solid #CCC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper .scroller .jspDrag { background-color:#000; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper button {background-color: #999999; border:0 none; color: #ffffff; font-size: 12px; font-weight:bold; text-align: center; width: 100px; height: 24px;  margin:0 2px 0 0; font-family: Arial; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; }
.option-name-wrapper { color:#999999; font-size:16px; border-bottom:1px dashed #7F7F7F; padding-bottom:6px; margin-bottom:5px;}
.option-value-wrapper { }
.option-value-wrapper.marginBottom { margin-bottom:10px; }
.option-value-wrapper .option-value,
.option-value-wrapper .option-value-lbl { float:left; color:#000; }
.option-value-wrapper .option-value input { width:26px; height:26px; position:absolute; top:0; left:0; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; }
.option-value-wrapper.color .option-value { width:23px; height:23px; border:3px solid #FFF; text-align:center; position:relative; }
.option-value-wrapper.size .option-value { width:25px; height:20px; border:3px solid #999999; text-align:center; position:relative; line-height:20px; }
.option-value-wrapper.size label { margin:5px 0; display:block; }
.option-value-wrapper .option-value.selected { border:3px solid #000; }
.option-value-wrapper .option-value-lbl input { margin-top:5px; }
.value-txt { color:#666; float:left; line-height:25px; margin-left:8px; }
.value-txt.selected { color:#000; font-weight:bold; }

.customized_select { border:1px solid #CCCCCC; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; width:95%; height:24px; }
.customized_select.disabled { background-color:#888; }
.customized_select select { width:100%; height:100%; line-height:24px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.customized_select div { color:#333333; font-size:12px; width:100%; height:100%; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding-left:5px; background:url("/cdn/images/ministore_images/ms-bg-select.png") no-repeat scroll right center transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }


/* Cart */
#wdgt-cart-popup { position: absolute; left: 0; top:0; width: 100%; height: 100%; z-index: 6;}
.wdgt-popup-details-close{ display: block; position: absolute; right: 0; top: 0; z-index: 22; width: 45px; height: 25px; line-height: 25px; text-align: center; font-size: 11px; cursor: pointer; -moz-box-shadow: 0 0 6px 2px #CCCCCC; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC;}
#wdgt-cart-main-top{height:25px; display: block; background: #ED4595; padding: 0 8px; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; position: relative; }
#wdgt-cart-main-top h1{font-family: arial, sans-serif; font-size: 16px; font-weight: bold;line-height: 26px;display: inline-block; margin:0;}
#wdgt-cart-main-top #wdgt-cart-main-top-close{font-size: 12px;color: #ffffff; line-height: 16px;float: right; }
#wdgt-cart-main-top #wdgt-cart-main-top-close:hover{font-size: 12px;color: #ffffff; line-height: 16px;float: right;text-decoration: underline;}
#wdgt-cart-main-top #wdgt-added-items{position: absolute; right: 50px; top: 6px; font-size: 11px; }
#wdgt-cart-main-top #wdgt-added-price{float:right;font-size: 12px; color:#000000; margin-right: 10px;}
/**/
#checkout{background: url("/cdn/images/widgetstore_images/new-window-icon.png") no-repeat scroll 96% center transparent; float: right; height: 24px; line-height: 24px; width: 160px; display: inline-block; text-indent: 11px; margin: 8px 11px 0 0; min-width:128px;
font-weight: bold; text-decoration: none; }
#checkout:hover { filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
#continue{ float: left; margin-top: 5px; color: #ffffff; line-height: 16px;font-size: 12px;}
#continue:hover{text-decoration: underline;}
/**/
#wdgt-cart-main-center{height: auto; display: block; padding: 5px 1px 7px 4px; width: 100%; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
#wdgt-cart-main-center-wrapper{display: block;width: 100%; overflow: auto;}
#wdgt-cart-main-center-content{height: auto;display: block;width: 98%; margin-top: 5px;}
#wdgt-list{display: block; width: 100%; clear: both; padding:0; }
#wdgt-list.marginBottom { margin-bottom:20px; }
#wdgt-list li{display: block; list-style: none; width: 100%;  border:0 none; border-bottom-style:dotted; border-bottom-width:1px;}
.wgt-item-list{ display: table-cell;list-style-type: none;position: relative;}
.wdgt-merchant-lbl{ float: left; font-size: 12px; margin-bottom: 2px; }
.wdgt-cart-header-line { float: left; width: 100%; margin-top: 3px; border:0 none; border-top-style:solid; border-top-width:2px; }
/**/
.item-list-picture-wrapper{ float: left; height: 71px; margin-top: 7px; width: 47px; margin-right: 8px; display: table-cell; vertical-align: middle;}
.item-list-picture{ background-position: center center; background-repeat: no-repeat; background-size: cover; display: block;vertical-align:middle;height: 45px;width: 45px; border: 1px solid #000000; }
.wgt-item-list-detials{ float: left; width:143px; min-width:110px; margin-top: 8px; margin-right: 8px; vertical-align: middle;}
.wgt-item-list-detials p{ font-size: 11px; margin: 2px 0;}
.wgt-item-list-detials h2{color:#ED4595; font-size: 12px; line-height: 14px; margin:0;}
.wgt-item-list-lastcolum{float: left; height: 71px; margin-top: 7px; position: relative;vertical-align: middle;}


.wgt-item-price{font-size: 11px;line-height: 15px;font-weight: bold;margin-right: 10px;}
.wgt-item-status{font-size: 11px;line-height: 15px;font-weight: bold;margin-left: 10px;}

.wgt-item-list-numbers{width: 28px;height: 19px;display: inline-block;border: 1px solid #000;text-align: center;line-height: 21px;margin: 0px 0px 4px;vertical-align: top;}
.wgt-item-list-cancel{width: 23px;height: 23px;display: inline-block;background: url(../../../images/widgetstore_images/close-shadow.png) no-repeat scroll center center; margin: -2px 0 0 3px; cursor: pointer; }
.wgt-item-list-lastcolum a{color:#ED4595;font-size: 10px;line-height: 18px;}
.wgt-item-list-lastcolum a:hover{ text-decoration: underline; }

/**************************************************/
#wdgt-cart-popup .jspTrack
{
	width: 4px;
}

#wdgt-cart-popup .jspDrag
{
	width:10px;
}
#wdgt-cart-popup .jspVerticalBar {width: 4px !important;}
/************ jscroll ****************/

#wdgt-cart-popup #wdgt-footer{ position: absolute; bottom:0; left:0; width: 100%; height: 39px; line-height:39px;}
#wdgt-cart-popup .wdgt-text-wrapper{float: right; width: 100%; height:39px;}
#wdgt-cart-popup .wdgt-text-wrapper #wdgt-added-price{ /*position: absolute; right: 178px; top: 13px;*/ float:right; margin-right:10px; font-size: 11px; min-width:50px; }

		

