#mainbody *{
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

div#mainbody{
	position: relative;
	height: 600px;
	width: 800px;
	background-color: #EEEEEE;
}
#managephotostyxholder{
	top:0;
	left:0;
	height: {{ (exposed.getSelectedRes()).height }}px;
	width: {{ (exposed.getSelectedRes()).width }}px;
}
div#createEntryContainer{
	position:relative;
	width: 400px;
	top: 200px;
	left: 200px;
}
font.createEntry{
	color: #949494;
	font-family: "Arial","Verdana";
	font-size: 18px;
}
advertisement-name>input{
	border: 1px solid;
	border-color: #DDDDDD;
	font-size: 16px;
	font-family: "Arial","Verdana";
	height: 40px;
	width: 362px;
	padding-left: 10px;
	padding-right: 10px;
}
div#selectresolutioncontainer{
	border: 1px solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	color: #00A3D9;
	font-size: 16px;
	font-family: "Arial","Verdana";
	height: 40px;
	width: 362px;
	line-height: 40px;
	position: relative;
	overflow: hidden;
	top: 10px;
}
div#selectreplacementcontainer{
	padding-left: 10px;
	width:362px;
	cursor: pointer;
	position: absolute;
}

#pointingDownArrow{
	right:10px;
	top:3px;
	position: absolute;
	cursor: pointer;
}

select#resolutionPhotoStyx{
	color: #00A3D9;
	font-size: 16px;
	font-family: "Arial","Verdana";
	height: 100%;
	width: 110%;
	padding-left: 10px;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
div#buttonContainer{
	width: 365px;
}
button.createButton{
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #00a3d9;
	padding: 12px 30px 12px 30px;
	border: solid #00a3d9 2px;
	text-decoration: none;
}

button.createButton:hover {
	border-radius: 5px;
	font-family: Arial;
	color: #00a3d9;
	font-size: 18px;
	background: #ffffff;
	border: solid #CCCCCC 2px;
	text-decoration: none;
}
button.backButton{
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	background: #00a3d9;
	padding: 10px 15px 10px 15px;
	border: solid #00a3d9 2px;
	text-decoration: none;
}

button.backButton:active {
	border-radius: 0px;
	font-family: Arial;
	color: #00a3d9;
	font-size: 12px;
	background: #ffffff;
	border: solid #CCCCCC 2px;
	text-decoration: none;
}

.menuBtnSubMenu{
	position: absolute;
	width: 260px;
	height: 270px;
	background-image: url(/images/diagonalLinesBgSmall2.png);
    background-repeat: repeat;
    bottom: 0px;
    left: 0px;
    -webkit-box-shadow: 1px 1px 10px 1px #888888;
	   -moz-box-shadow: 1px 1px 10px 1px #888888;
	        box-shadow: 1px 1px 10px 1px #888888;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
}

.productItemHolder{
	position: relative;
	width: 192px;
	height: 192px;
	float:left;
	margin-left: 10px;
	max-height: 192px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.productItemHolder img{
	position: absolute;
	left: 0px;
	top: 0px;
	max-width: 192px;
	max-height: 192px;
	width: auto;
    height: auto;
    display: block;
}
.productItemHolder img~div{
	position:absolute;
	background-image: url(/images/diagonalLinesBgSmall2.png);
	opacity:.8;
	bottom: 0px;
	left:0px;
	width: 192px;
	height: 50px;
	border:solid 1px #D8DAE0;
}