@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;margin: 0px auto;
	}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }


#type4-wdgt-wrapper{
float: left;
width: 160px;
height: 500px;
margin: 0;
position: relative;overflow: hidden;}

#type4-main-top{min-height: 50px;
width: 160px;
position: relative;}
#type4-title-wrapper{line-height: 50px;text-align: center;font-size: 25px;font-weight: bold;}
#type4-main{height: 500px;
width: 160px;
display: block;
position: relative;
background-image: url("../../images/widgetstore_images/splash2.jpg");background-repeat:  no-repeat; -webkit-background-size: cover;
background-position:center center;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

/*Splash*/

#type4-splash-center{height: 69px;width: 160px;position: absolute;bottom: 70px;text-align: center;display: block;}
#shopnow-button{line-height: 69px;font-size: 25px;font-weight: bold;text-decoration: none;height: 69px;display: block;}

/*listing*/
#wdgt-category-wrapper{
	height: 31px;display:block;position: relative;padding: 0px 10px;
}
.wdgt-categories{display: inline-block;line-height: 31px;font-size: 11px;float: left;}
#category-icon-link{display: table;float: right;height:31px;width: 22px;}
.icons-symbol{width: 22px;height: 14px;display: table-cell;vertical-align: middle;}
.icons-symbol .symbol{width: 22px;height: 3px;display: block;vertical-align: middle;margin-top: 3px;}

/*ul lists*/
.type4-items{position: relative;}
#type4-category-list{height: 362px;display: block;}
.type4-items-details{height: 160px;display: block;padding:8px;}
.item-title{font-size: 15px;font-weight:bold;line-height:19px;}
.type4-items-price{font-size: 12px;line-height: 16px;}

.type4-items-wrapper{position: absolute;bottom:0px;display: block;height: 130px;width:160px;
background-image: url("../../images/widgetstore_images/body_bg.jpg");background-repeat: no-repeat;background-position: center center;}
.horizontal-line {
height: 1px;
display: block;
position: relative;
}
.pro-checkout{height: 15px;width: 15px;display: inline-block;position: absolute;bottom:14px;right:10px;
background-image: url("../../images/widgetstore_images/proceed_checkout.png");background-repeat: no-repeat;background-position: center center;}

/*pagination*/
#pagination{height: 38px;display: block;text-align: center;}
#pagination ul{height: 38px;display: inline-table;vertical-align: middle;}
#pagination ul li{padding:0px 4px;display: table-cell;vertical-align: middle;}
#pagination ul li:last-child {margin-right: 22px;}
#pagination ul .page-button{list-style: none;font-size: 11px;}
#pagination ul .page-button:hover{cursor: pointer;text-decoration: underline;}
#pagination ul .pagination-num-wrapper{list-style: none;
width: 15px;text-align: center;font-size: 11px;}
#pagination ul li .pagination-box {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
}
#pagination ul li .pagination-box:HOVER {
height: 10px;
width: 10px;
display: inline-block;
line-height: 16px;
vertical-align: middle;
background-color: #ED4595;
}
#pagination ul .pagination-num{visibility: hidden;}

#pagination ul .pagination-num .pagination-box:hover{visibility: visible;}


/*categories */
#category-list-wrapper{height: 435px;display: block;overflow: hidden;position: relative;z-index: 5;}
.type4-category-items{height: 107px;width:154px;display: block;position: relative;}
.type4-category-items:nth-child(odd){border-right: 6px solid;border-top:3px solid;border-bottom: 3px solid;border-color:#000}
.type4-category-items:nth-child(even){border-left: 6px solid;border-top:3px solid;border-bottom: 3px solid;border-color:#000}
.items-wrapper{height: 107px;width:154px;display: block;background-image:url("../../images/widgetstore_images/body_bg.jpg");
background-position: center center;background-repeat: no-repeat;-webkit-background-size: cover;moz-background-size: cover;
-o-background-size: cover;background-size: cover;}
.type4-category-items .items-label{position: absolute;bottom: 11px;left: 11px;font-size:11px;line-height:17px;opacity:0.8;filter:Alpha(opacity=80);height: 17px;display: inline-block;padding: 0px 5px;
}

/*footer*/
#type4-footer{min-height: 17px;
width: 160px;z-index:6;
display: block;
position: absolute;
bottom: 0px;
text-align: center;
font-size: 9px;
vertical-align: middle;
line-height: 17px;background: #000;}
#main-footer-logo {
font-size: 13px;
margin-left: 4px;
vertical-align: middle;
line-height: 17px;
display: inline-block;
}