@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	outline:0;
}
.clear-break{clear: both;}
html, body {height: 100%;}
body {
	
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 1.2;
	-webkit-transform: rotate(0.000000001deg);
	font-smooth:always;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

/* colors 
.bg-color1{background: #ED4595;}
.font-color1{color:#ED4595;}
.bg-color2{background: #fff;}
.font-color2{color:#fff;}
.bg-color3{background: #000;}
.font-color3{color:#000;}*/

/*header*/
#header-wrapper{height: 185px;display: block;}

#black-div{height: 28px;display: block;}
#header-content-wrapper{width: 960px;margin:0 auto;height: 130px;display: block;}
#top-most-menu{display: inline-block;height: 28px;}
#top-most-menu ul{display: table;height: 28px;vertical-align: middle;}
#top-most-menu ul li{list-style: none;font-size: 11px;display: table-cell;padding: 0px 15px;border-left:1px solid;height: 28px;
vertical-align: middle;opacity:0.8;cursor: pointer;}

#title-wrapper{height: 102px;display: block;width: 960px;text-align: right;}
#titles{height: 102px;display: inline-table;vertical-align: middle;width:600px;float: left;text-align: left;}
#titles p{display: table-cell;vertical-align: middle;}
.title-text{font-size: 55px;margin-left:-10px;line-height: 59px;}
.title-tagline{font-size: 12px;line-height: 16px;}

#accounts{height: 102px;display:inline-table;vertical-align: middle;}
#account-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#account-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#accounts p{display: table-cell;vertical-align: middle;}
#account-name{font-size: 14px;line-height: 18px;}
#sign-in{font-size: 11px;line-height: 15px;}

#separator-wrapper{height: 102px;display:inline-table;vertical-align: middle;padding: 0px 23px;}
#separator{width:1px;display: table-cell;vertical-align: middle;}
#line{height: 46px;width: 1px;border-left: 1px solid;display: block;}

#shopping-cart{height: 102px;display: inline-table;vertical-align: middle;float: right;}
#shopping-cart p{display: table-cell;vertical-align: middle;}
#cart-icon{height: 34px;width: 34px;display: table-cell;vertical-align: middle;}
#cart-icon img{height: 34px;width: 34px;margin-right:9px;-webkit-border-radius: 3px;border-radius: 3px;}
#shoppin-text{font-size: 14px;line-height: 18px;}
#shopping-count{font-size: 11px;line-height: 15px;}

/* middle main content*/
#main-wrapper{width: 960px;margin:0 auto;}


/**** effect box shadow type 2******/
.effect2::before, .effect2::after {
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect2::after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}
#floating-box{min-height: 478px;width: 958px;display: block;margin-top: -55px;position:relative;float:left;border:1px solid;
}
#main-lower{float:left;}
#floating-box-content{background-image: url("../../images/webstore_images/product-1.jpg");height: 480px;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#floating-menu-wrapper{height: 55px;width:720px;display: inline-block;padding: 0px 22px;}
#transparent-bg{height: 55px;width:958px;opacity:0.3;filter:Alpha(opacity=30);float: left;position: absolute;top:0px;left:0px;}
#floating-menu-wrapper ul{display: inline-table;height: 55px;vertical-align: middle;}
#floating-menu-wrapper ul li{list-style: none;font-size: 14px;display: table-cell;padding: 0px 15px;
vertical-align: middle;opacity:0.8;filter:Alpha(opacity=80);cursor: pointer;}

/** bar-symbol**/
#category-symbol-wrapper{width:29px;height: 55px;float: right;}
#category-symbol{display: table-cell;vertical-align: middle;height: 55px;width: 29px;opacity:0.9;filter:Alpha(opacity=90);}
#category-symbol span{width: 29px;height: 6px;display: block;vertical-align: middle;margin-top: 4px;}

/**fixed search box**/
.opac-bg{height: 100%;width: 100%;display: block;opacity:0.7;filter:Alpha(opacity=70);position: absolute;}
#search-box-wrapper{position: absolute;height: 56px;width: 196px;display: inline-block;top:-1px;right:-1px;text-align:center;
z-index: 5;}
#search-box{display: inline-table;position: absolute;left:13px;top:13px;}
#search-box input{height: 28px;width:140px;border:1px solid;display: inline-block;vertical-align: middle;text-indent: 10px;}
#search-box #search-box-icon{height: 28px;width: 28px;cursor: pointer;
display: inline-block;
vertical-align: middle;
background-image: url("../../images/webstore_images/search_icon_white.png");
background-repeat: no-repeat;
background-position: center center;}

/**** slide show details***/

#image-slideshow-wrapper{height: 334px;display: block;padding: 44px 34px;cursor: pointer;}
#arrow-left{height: 47px;width: 17px;display: inline-block;background-image: url("../../images/webstore_images/arrow_onhover.png");
background-repeat: no-repeat;-webkit-background-size: cover;background-position: center center;
position: absolute;left:33px;bottom: 50%;visibility: hidden;cursor: pointer;}
#image-slideshow-wrapper:hover #arrow-left, #details-slideshow-wrapper:hover #arrow-left{visibility: visible;}
#arrow-right{height: 47px;width: 17px;display: inline-block;background-image: url("../../images/webstore_images/arrow_onhover.png");
background-repeat: no-repeat;-webkit-background-size: cover;background-position: center center;
position: absolute;right:33px;bottom: 50%;visibility: hidden;cursor: pointer;
-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);}
#image-slideshow-wrapper:hover #arrow-right, #details-slideshow-wrapper:hover #arrow-right{visibility: visible;}

#slideshow-title-wrapper{height:110px;display:inline-block;position: absolute;bottom: 68px;left:36px;}
#slideshow-title-div{display:inline-table;vertical-align: middle;width: 471px }

#slideshow-title {
	line-height:57px;
font-size: 55px;
text-shadow: 1px 2px 5px white;
display: inline;vertical-align:middle;
opacity: 0.8;
filter: Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);
}
#circle-wrapper{position: relative;width: 110px;display: inline-table;
vertical-align: middle;height: 110px;margin-right: 10px;}
#slideshow-price {
height: 110px;
width: 110px;
display: inline-table;
position: absolute;
bottom: 1px;
left: 0px;
-webkit-border-radius: 55px;
border-radius: 55px;
text-align: center;
}
#slideshow-price-bg {
height: 110px;
width: 110px;
display: inline-table;
position: absolute;
bottom: 0px;
left: 2px;
-webkit-border-radius: 55px;
border-radius: 55px;
}
#slideshow-price #amount {
display: table-cell;
vertical-align: middle;
font-size: 20px;
font-weight: bold;
}

/****** pagination box***/
#pagination-slideshow-wrapper{position: absolute;height: 56px;width: 196px;display: inline-table;top:0px;right:34px;text-align:right;}
#pagination-box-wrapper{position: absolute;height: 56px;width: 196px;display: inline-table;bottom:0px;right:34px;text-align:right;}
#pagination-box{display: table-cell;vertical-align: middle;list-style: none;}
#pagination-box li{list-style: none;cursor: pointer;}
.box{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}
.box-selected{height: 18px;width:18px;display: inline-block;vertical-align: middle;margin-left: 13px;}

/******** latest product*********/
#latest-products-wrapper{height: 209px;display: block;text-align: center;position: relative;margin-top: 81px;}
#latest-tag{position: absolute;left:0px; top:-37px;width: 130px;height: 26px;display: inline-block;line-height: 26px;text-align: center;font-size: 15px;}
#latest-products{height: 209px;display: inline-block;width: 960px;list-style: none;}
#latest-products li{position: relative;display: inline-block;height: 267px;width: 311px;}
#latest-image-container{height: 173px;width: 305px;background-image: url("../../images/webstore_images/car_1.jpg");
background-repeat: no-repeat;background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}

#latest-products .products2 #latest-image-container{height: 173px;width: 305px;background-image: url("../../images/webstore_images/people_1.jpg");
background-repeat: no-repeat;background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#latest-products .products3 #latest-image-container{height: 173px;width: 305px;background-image: url("../../images/webstore_images/structure_1.jpg");
background-repeat: no-repeat;background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#latest-products li:FIRST-CHILD{float: left;}
#latest-products li:LAST-CHILD{float: right;}
.transparency{height: 85px;display: block;position: absolute;bottom: 0px;width: 100%;}
.details-wrapper{min-height:71px;width:313px;display:block;position: absolute;bottom: 0px;	padding: 7px 0px;text-align: right;}

.price-wrapper{height: 70px;width: 70px;display: inline-table;vertical-align: middle;position: relative;margin-right: 14px;}
.latest-price{display: table-cell;vertical-align: middle;font-size: 14px;font-weight: bold;-webkit-border-radius: 35px;
border-radius: 35px;}
.latest-price #amount{padding: 0px 5px;}
.latest-price #old-price{ font-size:11px;text-decoration: line-through;padding: 0px 6px;}
.latest-title-div{width: 206px;display:inline-table;vertical-align: middle;text-align: left;}
.latest-title-div p{display: table-cell;vertical-align: middle;font-size: 18px;padding: 2px 0px;opacity:0.9;filter:Alpha(opacity=90);position: relative;}



/*****************home-category***********/

#category-box li{list-style: none;display: inline-block;height: 256px;width: 317px;border:1px solid;float: left;
position: relative;}

.bg-style{background-repeat: no-repeat;background-repeat: no-repeat;
background-position: center center;}

.pic-wrapper1{height: 259px;width: 319px;background-image: url("../../images/webstore_images/image_1.jpg");}
.pic-wrapper2{height: 259px;width: 319px;background-image: url("../../images/webstore_images/faucets.jpg");}
.pic-wrapper3{height: 259px;width: 319px;background-image: url("../../images/webstore_images/furniture.jpg");}
.pic-wrapper4{height: 259px;width: 319px;background-image: url("../../images/ministore_images/sample_product_4.jpg");}
.pic-wrapper5{height: 259px;width: 319px;background-image: url("../../images/ministore_images/sample_product_2.jpg");}
.pic-wrapper6{height: 259px;width: 319px;background-image: url("../../images/ministore_images/sample_product_3.jpg");}
.pic-wrapper7{height: 259px;width: 319px;background-image: url("../../images/webstore_images/boots.jpg");}
.pic-wrapper8{height: 259px;width: 319px;background-image: url("../../images/webstore_images/speakers.jpg");}
.pic-wrapper9{height: 259px;width: 319px;background-image: url("../../images/webstore_images/bags.jpg");}

.cat-title-wrapper{position: absolute;bottom: -1px;left:0px;display: inline-table;width:283px;height: 80px;opacity:0.8;filter:Alpha(opacity=80);padding: 0px 18px;}
.cat-title{display: table-cell;vertical-align: middle;font-size: 25px;line-height: 29px;}

/**************listing ****************/
#floating-tabmenu{position: absolute;
display: block;
width: 100%;}

#left-content{float: left;min-height: 480px;display: inline-block;text-align: center;}
#listing-title-wrapper{display:block;witdh:100%;padding: 0px 20px;height: 103px;margin-top: 55px;}

#listing-title{font-size: 25px;display:inline-block;line-height: 103px;float: left;}
#select-box-wrapper{display: inline-table;float: right;height: 103px;width:131px;text-align: right;}
#select{display: table-cell;vertical-align: middle;}
#select select{width: 123px; height: 20px;font-size: 12px;line-height: 16px;text-indent:2px;}

#right-content{float: right;}

#product-listing{display: inline-block;float:left;}
#product-listing li{list-style: none;height: 267px;width:291px;display: inline-block;position: relative;margin:10px 10px;
;border:1px solid;z-index: 1;cursor: pointer;}

#listing-image-container{height: 173px;width:285px;background-image: url("../../images/webstore_images/car_1.jpg");
background-repeat: no-repeat;background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
.sale-tag{position: absolute;top:9px;right:5px;text-align: center;width:50px;height: 20px;
display: inline-block;font-size: 12px;line-height: 20px;font-weight: bold;}

.listing-details-wrapper{
	min-height: 71px;
width: 291px;
display: block;
position: absolute;
bottom: 0px;
padding: 7px 0px;
text-align: right;
}

/***** hovered - details *****/

#product-listing li:hover .sale-tag{background: #000;top:0px;right:0px;
}
#product-listing li:hover #listing-image-container{display: none;}

#product-listing li:hover  .stox{display: block;}
#product-listing li:hover .listing-details-wrapper .description{display: block;-webkit-transition-duration: 0.3s;}
#product-listing li:hover .listing-details-wrapper .listing-menu-bar{display: inline-table;-webkit-transition-duration: 0.3s;}
.listing-details-wrapper .description{height: 68px;width: 261px;display: none;font-size: 12px;line-height: 15px; text-align: left;padding: 10px 16px;}
.listing-title-div{
display: inline-table;width:192px;
vertical-align: middle;
text-align: left;}

.listing-title-div p{
display: table-cell;
vertical-align: middle;
font-size: 18px;
padding: 2px 0px;
opacity: 0.9;
filter: Alpha(opacity=90);
position: relative;}

.listing-price-wrapper{
height: 70px;
width: 70px;
display: inline-table;
vertical-align: middle;
position: relative;
margin-right: 5px;
}
.stox{font-size: 11px; line-height: 15px;position: absolute;top:-15px;left:0px;display: none;}

.listing-menu-bar{display: none;vetical-align:middle;height: 46px;margin-top:20px;width: 293px;margin-left:-1px;}
.buttons-wrapper{display:table-cell;vertical-align: middle;height: 30px;text-align: center;}
.link-icon {
margin-left:5px;
cursor: pointer;
}
.add-cart-icon, .view-cart-icon{font-size: 14px;line-height: 18px;text-decoration: none;padding: 7px 15px;margin-right: 10px;vertical-align: middle;}
#heart {
background-image: url("../../images/widgetstore_images/icon_b.png");
line-height: 27px;
width: 21px;
height: 21px;
display: inline-table;
vertical-align: middle;
position: relative;
box-shadow: 0px 0px 15px -1px #fff;
}
#share {
background-image: url("../../images/widgetstore_images/icon_a.png");
line-height: 27px;
width: 21px;
height: 21px;
display: inline-table;
vertical-align: middle;
position: relative;
box-shadow: 0px 0px 15px -1px #fff;
}

/***listing pagination**/
#listing-pagination-wrapper{display: block;height: 40px;float: left;text-align: center;width: 100%;padding: 43px 0px;}
#listing-pagination{display:inline-block;list-style: none;}
#listing-pagination li{display: inline-block;background: #000;margin-right:7px;font-size: 28px;padding: 5px 12px;font-weight: bold;}
#listing-pagination .selected{padding: 3px 12px 7px 12px;}

/*** search results *****/
#search-result-wrapper{position: absolute;display: none;
width: 920px;
padding: 0px 20px;
height: 103px;
top: 55px}
#results-title{font-size: 20px;
display: inline-block;
line-height: 103px;
float: left;}

/****** Details *****/

#details-left-content{width: 688px;float: left;min-height:1717px;display: inline-block;}
#details-left-upper{width: 688px;display: block;float: left;}
#slidedetails-title-wrapper {
display: block;
width: 668px;
padding: 20px 10px;
text-align: right;
}
#details-title-wrapper {margin-top: 55px;
display: block;
width: 668px;
padding: 20px 10px;
text-align: right;
}
#details-title-div{
display: inline-table;
vertical-align: middle;
width: 564px;
text-align: left;}
#details-title{font-size: 35px;
text-shadow: 1px 2px 5px white;
display: inline;
vertical-align: middle;
opacity: 0.8;
filter: Alpha(opacity=80);
filter: dropshadow(color=#ffffff, offx=1, offy=2);
padding: 2px 0px;}

#detials-circle-wrapper{position: relative;
width: 70px;
display: inline-table;
vertical-align: middle;
height: 70px;margin-right:20px;}

#details-price{height: 70px;
width: 70px;
display: table-cell;
vertical-align:middle;
-webkit-border-radius: 35px;
border-radius: 35px;
text-align: center;margin-rigth:20px;}

#details-price #amount{
font-size: 14px;
font-weight: bold;}
#details-price #old-amount{font-size: 11px;
text-decoration: line-through;}

#details-slideshow-wrapper{height: 361px;width: 688px;display: block;position:relative;z-index: 1;
}
#details-slideshow{
height: 361px;width: 688px;display: block;
background-image: url("../../images/webstore_images/product-1.jpg");
background-repeat: no-repeat;webkit-background-size: cover;
background-position: center center;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#details-sale-tag{width:137px;height: 20px;position: absolute;top:-19px;right: 0px;}
#details-saving{
display: inline-block;
line-height: 20px;
margin-left: 5px;
width: 104px;
text-indent: 5px;}


/*** pic slideshow wrapper***/
#lower-wrapper{float: left;padding: 15px 0px;}

#details-pic-wrapper{height: 66px;display:inline-table;position: relative;width:688px;text-align: center;margin-bottom: 20px;}
#details-pic{display: table-cell;list-style: none;vertical-align: middle;}
#details-pic li{height: 56px;width: 101px;display:inline-block;background: #ccc;margin: 0px 4px;border:1px solid;vertical-align: middle;
background-image: url("../../images/webstore_images/image_1.jpg");
background-repeat: no-repeat;
background-position: center center;
webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;}
#details-pic .selected{border:4px solid;}

#paragraph{float:left;height: 100px;width: 100%;display: block;}


/**** product details****/
#product-details-wrapper{height: 357px;display: block;width: 652px;padding: 0px 18px;float: left;}
#product-details-wrapper #title{font-size: 22px;line-height: 46px;margin-top: 20px;}
#product-details-wrapper p{font-size: 15px;line-height: 20px;}
#product-details-wrapper #p1{margin-bottom: 25px;}
#product-details-wrapper #p2{margin-bottom: 25px;}
#product-details-wrapper #sizes{list-style: none;display: block;margin-bottom: 25px;}
#product-details-wrapper #sizes li{display: block;font-size: 15px;line-height: 20px;}

#product-shipping-wrapper{height: 296px;display: block;float: left;padding: 0px 18px;margin-top: 50px;}
#product-shipping-wrapper #title{font-size: 22px;line-height: 46px;margin-top: 20px;}
#product-shipping-line1{height: 47px;line-height: 47px;font-size: 12px;display: block;border-bottom: 1px dotted;width:652px;}

#product-shipping-line1 #img{height: 18px;width: 18px;display: inline-block;margin: 0px 8px;line-height: 47px;vertical-align: middle;
background-image: url("../../images/webstore_images/question_mark.png");
background-repeat: no-repeat;
background-position: center center;}
#product-shipping-line2 .country1{height: 43px;width:150px;display: inline-block;border-right:1px dotted;line-height: 43px;
margin-right: 17px;font-size: 11px;font-weight: bold;}
#product-shipping-line1 #shipsto{display: inline-block;width: 150px;font-size: 12px;margin-right: 17px;}
#product-shipping-line2{height: 43px;font-size: 12px;display: block;border-bottom: 1px dotted;width:652px;padding: 11px 0px;}

#product-shipping-last{height: 47px;line-height: 47px;font-size: 12px;display: block;width:652px;}

#product-vendor-wrapper{height: 318px;display: block;float: left;padding: 0px 18px;margin-top: 50px;width: 652px;position: relative;}
#product-vendor-wrapper #title{font-size: 22px;line-height: 46px;margin-top: 20px;}
#report-tag{position: absolute;right: 18px;bottom: 0px;font-size: 11px;}
 #report-tag #img{height: 18px;width: 18px; display: inline-block;vertical-align: middle;
background-image: url("../../images/webstore_images/hazard.png");
background-repeat: no-repeat;
background-position: center center;}



/***** right- content***/
#details-right-content{float:right;display: inline-block;width: 270px;min-height: 1727px;}
#variant-wrapper{height: 279px;display: block;margin:55px auto 0px auto;padding: 18px 0px;width: 229px;border-bottom: 1px dotted;}
#color{height: 45px;display: block;}
#color span{font-size: 12px;line-height: 16px;font-weight: bold;margin-bottom: 6px;display: block;}
#color ul li{list-style: none;display: inline-block;height: 23px;width: 23px;margin-right:7px;}
#size{margin-top: 20px;display: block;}
#size span{font-size: 12px;line-height: 16px;font-weight: bold;margin-bottom: 6px;display: block;}
#size ul li{list-style: none;display: inline-block;height: 21px;width: 26px;margin-right:7px;text-align: center;}
#size ul li a{height: 21px;width: 26px;border: 1px solid;font-size: 11px;line-height: 23px;text-decoration: none;display: block;}
#size ul li a:hover{background-color: #ccc;color: #fff;}
#material{margin-top: 20px;display: block;}
#material span{font-size: 12px;line-height: 16px;font-weight: bold;margin-bottom: 6px;display: block;}
#material select{width:232px;border:1px solid;height:20px;}

#add-cart{height: 43px;display: block;margin-top: 25px;text-align: center;}
#add-cart #quanti{height: 41px;width: 48px;border: 1px solid;font-size: 22px;line-height: 43px;text-align: center;display: inline-block;vertical-align: middle;}
#add-cart #add-button{text-decoration:none;font-size: 18px;line-height: 43px;height: 43px;display: inline-block;padding: 0px 18px;text-align: center;vertical-align: middle;margin: 0px 2px;}
#add-cart #heart-button{width:40px;height: 40px;display: inline-block;vertical-align: middle;background-image: url("../../images/widgetstore_images/wishlist-icon1.png");
background-repeat: no-repeat;
background-position: center center;-webkit-border-radius: 3px;border-radius: 3px;}

#add-cart p{float: right;font-size:11px;
line-height: 15px;
margin-top: 11px;}

#buy-as-gift{display:block;width: 229px;border-bottom: 1px dotted;margin: 0 auto;height: 63px;vertical-align: middle;padding: 20px 0px;}
#buy-as-gift-title{height: 34px;display:inline-block;vertical-align: middle;width:100%;}
#buy-as-gift-title a{text-decoration: none;font-size: 22px;line-height: 28px;}
#buy-as-gift-title a:hover{text-decoration: underline;}
#buy-as-gift-title #gift-icon{height: 28px;width: 22px;display: inline-block;margin-right: 11px;
background-image: url("../../images/webstore_images/gift_icon.png");
background-repeat: no-repeat;
background-position: center center;}

#buy-as-gift .other-details{width: 100%;line-height: 16px;display:inline-block;margin-left: 35px;font-size: 11px;}
#buy-as-gift .other-details a{text-decoration: none;font-size: 11px;}
#buy-as-gift .other-details a:HOVER{text-decoration: underline;}
#shares-wrapper{height: 66px;display: block;width: 229px;text-align: center;margin: 0 auto;border-bottom:1px dotted; }
#share-icons{display: inline-table;vertical-align:middle;width: 229px;height: 67px;}
#share-icons span{display: table-cell;vertical-align: middle;height: 20px;padding: 0px 5px;font-size: 12px;line-height: 16px;}
#share-icons #tweet{background-image: url("../../images/webstore_images/share_icons.jpg");
background-repeat: no-repeat;
background-position: 0px center;
width: 60px;height: 20px;-webkit-border-radius: 3px;border-radius: 3px;}
#share-icons #tweet{background-image: url("../../images/webstore_images/share_icons.jpg");
background-repeat: no-repeat;
background-position: 0px center;
width: 60px;height: 20px;-webkit-border-radius: 3px;border-radius: 3px;cursor: pointer;}

#share-icons #pint{background-image: url("../../images/webstore_images/share_icons.jpg");
background-repeat: no-repeat;
background-position: -68px center;
width: 41px;height: 20px;-webkit-border-radius: 3px;border-radius: 3px;cursor: pointer;}
#share-icons #fb{background-image: url("../../images/webstore_images/share_icons.jpg");
background-repeat: no-repeat;
background-position: -119px center;
width: 72px;height: 20px;-webkit-border-radius: 3px;border-radius: 3px;cursor: pointer;}

.your-items-wrapper{height:179px;display: block;width: 229px;text-align: center;margin: 0 auto;border-bottom:1px dotted;text-align: left;padding: 22px 0px; }
.your-items-wrapper .title{font-size: 12px;line-height: 16px;display: block;}
/********footer*************/
#footer-wrapper{height: 65px;display:block;position: relative;margin-top: 97px;width:100%;float:left;}

.foot-logo{
display: inline-table;
height: 55px;width:100px;
vertical-align: middle;
cursor: pointer;text-align: center;}

.foot-logo #powerdby{display: table-cell;vertical-align: middle;font-size: 9px;}
.foot-logo #shopstix{font-size: 15px;}

#footer-menu-wrapper{height:55px;width:960px;display:block;margin:0 auto;}
#footer-menu-wrapper ul{display: inline-table;height: 55px;vertical-align: middle;margin-left:10px;}
#footer-menu-wrapper ul li{list-style: none;
font-size: 11px;
display: table-cell;
padding:0px 16px;
height: 55px;
vertical-align: middle;
cursor: pointer;text-align: center;}
#footer-menu-wrapper ul li.selected{font-weight: bold;padding: 0px 16px;}
#copyright-wrapper{display: inline-table;float: right;height: 55px;}
#copyright-wrapper span{display: table-cell;vertical-align: middle;}


#black-bar{height: 10px;display:block;}
/*==================check out===========*/
#checkout-left-content {
width: 622px;
float: left;
min-height: 1717px;
display: inline-block;position: relative;margin-bottom: 15px;
}
#checkout-right-wrapper{
float: right;position:relative;
display: inline-block;
width: 336px;z-index:1;
min-height: 1700px;}
#checkout-right{display: block;width: 300px;height: 1700px;padding:0px 18px;float: right;text-align: center;}

#checkout-menu-wrapper{position: absolute;top:0px;left: 0px;height: 55px;width: 958px;display: block;z-index: 2;}
#checkout-menu-title{display: inline-table;vertical-align: middle;height: 55px;}
#checkout-menu-title span{font-size: 22px;line-height:26px;
display: table-cell;width:263px;
text-align:center;
vertical-align: middle;}
#checkout-menu-wrapper ul{display: inline-table;
height: 55px;
vertical-align: middle;}
#checkout-menu-wrapper ul li{list-style: none;
font-size: 15px;text-align:center;font-weight:bold;line-height:19px;
display: table-cell;position:relative;
vertical-align: middle;
cursor: pointer;border-right: 1px solid;}
#checkout-menu-wrapper ul #ship{width: 169px;}
#checkout-menu-wrapper ul #bill{width: 186px;}
#checkout-menu-wrapper ul #order{width: 219px;}

#checkout-menu-wrapper ul li p{position: relative;display: inline-block;}
#checkout-menu-wrapper ul li p span{position: absolute;left:0px;top:-18px;height: 14px;width: 13px;line-height: 14px;font-size: 11px;display: inline-block;}
/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
position: absolute;
content: "";
top: 5px;
left: 10px;
right: auto;
width: 50%;
bottom: 77%;
max-width: 300px;
background: #777;
-webkit-box-shadow: 0 24px 59px -12px #777;
  -moz-box-shadow:0 24px 59px -12px #777;
  box-shadow: 0 24px 59px -12px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/*==============billing edit==================================*/
#billing-info-edit{
display: block;
margin-top: 92px;}

#billing-info-edit h1 {
height: 30px;
display: block;
font-size: 14px;
font-weight: bold;
}
#billing-info-edit dl dt{width: 198px;display: inline-block;vertical-align: middle;font-size: 12px;line-height: 25px;height: 25px;margin: 6px 0px;}
#billing-info-edit dl .ddetails{display: inline-block;vertical-align: middle;font-size: 12px;width: 397px;line-height: 25px;margin: 6px 0px;position: relative;}
#billing-info-edit input{height: 25px;line-height: 25px;-webkit-border-radius: 3px;border-radius: 3px;border:1px inset;vertical-align: middle;display:inline-block;}
#billing-info-edit #firstname{width: 131px;margin-right: 10px;padding: 0px 5px;}
#billing-info-edit #lastname{width: 149px;padding: 0px 5px;}
#billing-info-edit .address{width: 292px;padding: 0px 5px;}
#billing-info-edit .address2{width: 169px;padding: 0px 5px;position: relative;}
#billing-info-edit   #footnote{font-size: 11px;line-height: 15px;display: block;position: absolute;bottom: -20px;left:0px;height: 15px;}
/*================ menu country===========*/
#menu-country{list-style: none;
height: 23px;
width: 282px;
display: inline-block;
padding: 0px 4px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px inset;
vertical-align: middle;
background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;
background-position: 272px center;
position: relative;
list-style: none;}
#menu-country li ul{display: none;position: absolute;list-style: none;background: #fff;width: 272px;text-align: 5px;}
#menu-country li:hover > ul{position:absolute;display: block;z-index: 1;}
#menu-country li:hover > span{background: #ccc;opacity:0.8;filter:Alpha(opacity=80);display: block;}
#menu-state{height: 23px;
width: 169px;
display: inline-block;
padding: 0px 4px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px inset;
vertical-align: middle;
background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;
background-position: 159px center;
position: relative;
list-style: none;}
#menu-state li ul{display: none;position: absolute;list-style: none;background: #fff;width: 159px;text-align: 5px;}
#menu-state li:hover > ul{position:absolute;display: block;z-index: 1;}
#menu-state li:hover > span{background: #ccc;opacity:0.8;filter:Alpha(opacity=80);display: block;}
/*=============billing information===============*/

#left-content-wrapper{padding-left: 23px;display: block;float: left;}
#billing-info{height: 182px;display: block;margin-top: 92px;}
#billing-info h1{height: 30px;display: block;font-size: 14px;font-weight: bold;}
#billing-info h1 a{font-size: 12px;height: 30px;width:72px;display: inline-block;text-align: center;line-height: 30px;font-weight:bold;margin-left: 24px;text-decoration: none;}
#info-selection{display: block;line-height: 25px;height: 25px;margin:10px 0px;}
#info-selection #billing-info-wrapper{height: 23px;width: 481px;display: inline-block;padding: 0px 4px;-webkit-border-radius: 3px;border-radius: 3px;border:1px inset;vertical-align: middle;
background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;
background-position: 470px center;position:relative;list-style:none;
font-size: 12px;font-weight: bold;}
#info-selection #billing-info-wrapper{} 
#info-selection ul li ul{position: absolute;list-style: none;display: none;padding: 0px 5px;}
#info-selection ul li:hover > ul{position:absolute;display: block;width:491px;left:-1px;}
#info-selection a{text-decoration:none;width:52px;height: 22px;display: inline-block;line-height: 22px;font-size: 12px;text-align: center;margin-left: 5px;font-weight: bold;}
#billing-info-wrapper ul li span{width:481px;padding: 0px 5px;}
#billing-info-wrapper ul li:hover span{background: #ccc;opacity:0.8;filter:Alpha(opacity=80);display: block;width:471px;padding: 0px 5px;}


#address-wrapper {font-size: 12px;line-height: 18px;padding: 9px 0px;}
/*==============Pay Detatials =======================*/
#pay-details{display: block;float: left;}
#pay-details #header{height: 22px;display:block;vertical-align: middle;}
#pay-details h1{font-size: 14px;;line-height: 18px;width: 134px;display: inline-block;vertical-align: middle;}
#pay-details #header span{width:35px;height: 22px;display: inline-block;margin-right: 6px;vertical-align: middle;cursor: pointer;}
/*#card-infos p{height: 26px;display: block;vertical-align: middle;margin: 11px 0px;font-size: 12px;line-height: 16px;}*/
#card-infos .dt{width: 134px;display: inline-block;height: 26px;vertical-align: middle;margin: 11px 0px;font-size: 12px;line-height: 26px;}
#card-infos p #notes{font-size: 11px;padding: 0px 5px;}
 #card-infos #card-owner,#card-infos #card-num{height: 23px;width:179px;padding: 2px 4px;border:1px inset;-webkit-border-radius: 3px;border-radius: 3px;}
/*==========card type dropdown =================*/

.dropdown {
display:inline-block;
font-size: 11px;height: 23px;
width: 179px;
border: 1px inset;
-webkit-border-radius: 3px;
border-radius: 3px;vertical-align: middle;
}
.dropdown dt a {
background-image: url("../../images/webstore_images/triangle_down.jpg");
background-repeat: no-repeat;background-position: 160px center;
display: block;vertical-align:middle;
border: 1px solid #FFFFFF;
font-size: 12px;line-height: 23px;text-decoration: none;padding: 0px 4px;
}
.dropdown dd {
position: relative;
}
.dropdown dd ul {
display: none;
z-index: 100;
left: -1px;
position: absolute;
list-style: none;
background: #fff;
}
.dropdown dt:hover dd ul{display: block;}
.dropdown a, .dropdown a:visited {
text-decoration: none;
outline: none;
}
.dropdown dd ul li a {
padding: 0px 5px;height:23px;width:171px;background:#fff;line-height:23px;
display: block;}

#pay-details #card-visa{background-image: url("../../images/webstore_images/card.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: 0px center;}
#pay-details #card-master{background-image: url("../../images/webstore_images/card.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: -41px center;}
#pay-details #card-discover{background-image: url("../../images/webstore_images/card.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: -82px; center;}
#pay-details #card-express{background-image: url("../../images/webstore_images/card.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: -123px; center;}

#card-infos #card-date{height: 23px;width:67px;padding: 2px 4px;border:1px inset;-webkit-border-radius: 3px;border-radius: 3px;margin-right: 6px;}
#card-infos #card-year{height: 23px;width:99px;padding: 2px 4px;border:1px inset;-webkit-border-radius: 3px;border-radius: 3px;}
#card-infos #card-verify{height: 23px;width:68px;padding: 2px 4px;border:1px inset;-webkit-border-radius: 3px;border-radius: 3px;margin-right: 6px;}
#card-infos p #q{-webkit-border-radius: 3px;border-radius: 3px;height: 14px;width: 14px;display: inline-block;vertical-align:middle;
background-image: url("../../images/webstore_images/question_mark.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-position: center center;}

#back-review-navigation{display: block;height:44px;text-align: right;float: right;margin-top: 54px;}
#back-review-navigation #back-navi{text-decoration: underline;font-size: 14px;line-height: 18px;display: inline-block;vertical-align: middle;padding: 0px 22px;}
#back-review-navigation #review-navi{height: 44px;width: 192px;display: inline-block;text-indent:40px;font-size: 14px;text-align:left;cursor:pointer;
vertical-align: middle;line-height: 44px;margin-right: 66px;font-weight: bold;
background-image: url("../../images/ministore_images/ms-btn-next.png");
background-repeat: no-repeat;
background-position: 155px center;}
#back-review-navigation .save-navi{text-align:center;font-size: 12px;line-height: 30px;display: inline-block;vertical-align: middle;text-decoration: none;
height: 30px;width: 72px;margin: 0px 3.5px;}

/*============Your cart=================*/
#checkout-right h1{height:18px;width:260px;line-height: 18px;font-size: 14px;padding: 6px 20px;margin-top: 93px;display: block;border-bottom: 1px dotted #000;margin-bottom: 32px;text-align: left;}
#form-cart{width: 260px;
display: inline-block;
margin: 0 auto;
border-bottom: 1px dotted;
padding: 0px 20px 46px 20px;}

#checkout-right p{display: inline-block;vertical-align: middle;height: 24px;font-size: 14px;margin:6px 0px;width: 260px;text-align: right;}
#checkout-right .dt{width:180px;display: inline-block;text-align: left;float: left;}
#checkout-right #coupon-box{width:70px;height:22px;border: 1px solid;display: inline-block;vertical-align: middle;padding: 0px 4px;text-align: right;}
#total{font-weight: bold;padding: 16px 0px;font-size: 16px;line-height: 20px;}

