@CHARSET "ISO-8859-1";

#box-preview{width: 1000px;display: block;}
#live-wrapper{width: 597px;display: inline-block;float: left;}
#live-wrapper-title{margin-top:27px;margin-bottom: 12px;display: block;font-size:14px;line-height: 18px;color: #9CA09F;text-shadow: 1px 1px 2px #fff;}
#live-wrapper #i_frame{width: 597px;height: 560px;display: block;box-shadow:0px 0px 5px 1px #666666;border:1px solid #fff;
background-image: url("../../images/main_images/store_prev.jpg");
background-repeat: no-repeat;
background-position: center center;}
#frontpage-menu{width: 350px;height:390px;display: inline-block;float: right;padding-top: 27px;padding-left:30px;position: relative;overflow: hidden;
}
#frontpage-title{margin-bottom: 12px;display: block;font-size:14px;line-height: 18px;color: #9CA09F;text-shadow: 1px 1px 2px #fff;}
#background-effect{height: 600px;width: 600px;background-color: #F0F0F0;position: absolute;top:-350px;left: -350px;
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
border-radius: 300px;
background-image: linear-gradient(bottom, #F8F8F8 21%,#F0F0F0 61%);
background-image: -o-linear-gradient(bottom, #F8F8F8 21%, #F0F0F0 61%);
background-image: -moz-linear-gradient(bottom,#F8F8F8 21%,#F0F0F0 61%);
background-image: -webkit-linear-gradient(bottom, #F8F8F8 21%, #F0F0F0 61%);
background-image: -ms-linear-gradient(bottom, #F8F8F8 21%, #F0F0F0 61%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.21, #F8F8F8),
	color-stop(0.61, #F0F0F0)
);
-moz-opacity: 0.70;
opacity: 0.70;
z-index: -1;
}

#fb_frame{width: 888px;height: 645px;display: block;border:1px solid #fff;
background-image: url("../../images/main_images/fb_prev.jpg");
background-repeat: no-repeat;
background-position: center center;}