@CHARSET "ISO-8859-1";
#manage-main-wrapper{background-color: #81C0B7;}
#title-wrapper{font-size: 35px;line-height: 39px;display: block;margin-top: 44px;color: #F2E1AC;}
#taglines{color:#666666;font-size: 25px;line-height: 29px;margin: 9px 0px;display: block;}
#create-menus{height: 190px;display:table;position: relative;background: #81C0B7;width: 808px;text-align: left;}
.vcreate-menus{background: transparent !important}
#create-menus #create-but{display: table-cell;vertical-align: middle;width: 225px;}
#create-menus #create-but a{width: 223px;height: 58px;border: 1px solid #fff;background-color: #F2E1AC;font-size: 25px;line-height: 58px;
text-decoration: none;color: #382837;text-shadow: 1px 1px 3px #fff;display: inline-block;}
#img-plus{width: 26px;height: 32px;display: inline-block;background-image: url("../../images/main_images/styx.png");
background-repeat: no-repeat;
background-position: 18px 1px;padding: 0px 18px;vertical-align: middle;}
#or-option{display: table-cell;vertical-align: middle;width:95px;text-align: center;font-size: 25px;color:#F2E1AC;}
#embed-input{width: 500px;height: 60px;display: table-cell;vertical-align: middle;position: relative;}
#embed-input input{width: 316px;height: 58px;border: 1px solid #382837;background: #fff;}
#embed-input span{position: absolute;top:40px;left:0px;font-size: 15px;color: #F2E1AC;}
#embed-input a{position: absolute;left:325px;top:65px;display: inline-block;height: 26px;width: 58px;text-align: center;text-decoration: none;line-height: 26px;font-size: 12px;color: #382837;
background-color: #F2E1AC;}
#mainstyx-content-wrapper{min-height: 835px;display: block;float: left;margin-top: 70px;width: 879px;}
#mainstyx-content-wrapper p{font-size: 15px; color:#382837;line-height: 20px;}
#mainstyx-left{width: 499px;float: left;display: inline-block;}
#mainstyx-right {width: 336px;display: inline-block;float: right;text-align: left;}
#images-wrapper{height: 500px;display: block;margin: 37px 0px;}
#images-wrapper #oneleft{height: 500px;width: 160px;display: inline-block;float: left;
background-image: url("../../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: 0px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#images-wrapper #twoleft{width: 300px;height: 500px;display: inline-block;float: right;
background-image: url("../../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: -168px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#mainstyx-right #oneright{width: 336px;height: 280px;display: inline-block;
background-image: url("../../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: -479px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#mainstyx-right p{margin: 38px 0px;font-size: 15px; color:#382837;line-height: 20px;}
#mainstyx-right #tworight{width: 300px;height: 250px;display: inline-block;float: left;
background-image: url("../../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position:-479px -289px;
box-shadow: 0px 0px 3px 3px #ccc;}