body { font: 12px 'Roboto', Arial, "Helvetica Neue", sans-serif; }
* {
	font-family: Roboto, Helvetica, sans-serif !important;
	font-weight: 300;
}

.noscroll { overflow: hidden; height: 100%; position: fixed;}

a, .bluet {
	color: #00A3D8;
}

.hide { display: none; }

.h50 { height: 50%; }

.bgblue { background: #00A3D8; }
.img {background-size: cover; background-position: center center; }

a > span.n,
button > span.n { display: none; }

.glbl { color: #777;}
.gllbl { color: #AAA; }
.gbrd { border: 1px solid #DDD;}
.gbg { background: #DDD;}
.gfr { color: #444;}

.main-bgcolor{ background-color: #E5E7ED; }
.h-bgcolor1{ background-color: #f47c4a; }
.h-bgcolor2{ background-color: #ee666c; }
.h-bgcolor3{ background-color: #77609b; }
.asset { background-image: url(/cdn/images/m/common.png) !important; }
.l { float: left; }
.r { float: right; }
.cb { clear: both;}

#main-top-bg,
#main-top {
	position: fixed;
	top: 0;
	left: 0;
    z-index: 10;
	width: 100%;
	height: 50px;
}

.merror {
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #f04124;
    color: #fff;
}

.shopstyxloader { background: #fff; padding: 250px 0;}
.shopstyxloader .inmate { background: url('/cdn/images/m/colshopstyx-32.gif') no-repeat; width: 32px; height: 32px; margin: 0 auto; }

.shopstyxloader.foot { padding: 15px 0;}
.shopstyxloader.foot .inmate.done { background: url('/cdn/images/m/ssfootgrey.png'); }

.shopstyxloader.reveal-modal { background: rgba(255,255,255,.4); }
.shopstyxloader.reveal-modal .whbord { width: 100px; height: 92px; margin: 0 auto; background: #fff; padding: 30px 10px; border-radius: 8px; -webkit-box-shadow: 0 0 5px #CCC;
box-shadow: 0 0 5px #CCC; 
}

.confirm.reveal-modal { padding: 180px 0; background: rgba(255,255,255,.4); }
.confirm.reveal-modal .whbord { width: 150px; background: #F47C4A; margin: 0 auto; padding: 20px 10px 10px; border-radius: 8px; -webkit-box-shadow: 0 0 5px #CCC;
box-shadow: 0 0 5px #CCC;  }
.reveal-modal.confirm .asset.conf { background-position: -245px 0; width: 64px; height: 47px; margin: 0 auto 10px; }
.reveal-modal.confirm .msg { color: #fff; font-size: 12px; text-align: center; line-height: 1.3em; }


a.addit { display: block; position: fixed; bottom: 10px; width: 70px; height: 70px; padding: 23px; left: 15px; border-radius: 35px; }
a.addit i.asset { display: block; width: 23px; height: 23px; background-position: -126px -35px; }

.lr-bg { width: 50%; float: left; height: inherit; }
.c-bg {
	background: url('/cdn/images/m/topbg.png') no-repeat scroll top center transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
}

div#main-top { z-index: 11; height: 50px; padding: 11px 14px 9px 10px; }
div#main-top.logged { padding-right: 10px; }
#main-top a { display: block; }

#main-top a.sslogo { background-position: 0 0; width: 125px; height: 30px; }
#main-top a.r { margin-left: 8px;}
#main-top a.search { background-position: -47px -36px; width: 28px; height: 27px; }

#main-top #sign-in.sign-in-btn {
background-position: -75px -35px;
width: 30px;
height: 30px;
margin-left: 8px;
}

#main-top .poparea.opts { width: 50px; height: 30px; margin-left: 8px; }
#main-top a.opts { display: block; }
#main-top a.opts > * { vertical-align: middle; }
#main-top a.opts .prof { display: inline-block; width: 30px; height: 30px;
border-radius: 15px;
border: 2px solid #fff; margin-right: 5px;
position: relative; top: -1px;
}

#main-top a.opts .ardn {
    display: inline-block;
    border-width: 6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; width: 0; height: 0;
    margin-top: 11px;
}


.grid.plist.hasfilter {
    background-image: url('/cdn/images/m/bgsfilter.jpg');
    background-position: 0 5px;
    background-repeat: repeat-x;
}

form.filter { margin: 0 auto; padding-top: 5px; height: 30px; line-height: 30px; }
a.colbtn {
    display: inline-block; 
    width: 30px; height: 25px !important;
    vertical-align: middle;
    border: 1px solid #000;
}
a.colbtn.asset { background-position: -17px -36px; border: none; }
a.ddrop { border: 1px solid #eee; text-align: center; font-size: 12px; background: #fff;  }
label.lbl.glbl { font-size: 12px; font-weight: inherit; line-height: 30px; }
form.filter a.ddrop { display: block; text-align: center; height: 30px; }
form.filter label.lbl { display: block; text-align: center; line-height: inherit; }

form.grid#sform { padding-bottom: 15px; }

form.grid#sform * { font-size: 12px;}
form.grid#sform a.ddrop { display: inline-block; width: 128px; text-align: center; height: 30px; padding-left: 10px; padding-right: 10px; }
form.grid#sform label.lbl { line-height: inherit; }

form.grid#sform .popts > div,
form.grid#sform .popts > div > * { height: 38px; line-height: 38px; }


form.grid#sform .popts > div { padding-right: 10px; float: left; }
form.grid#sform .popts > div * { vertical-align: middle;}
form.grid#sform .popts > div label { display: inline-block;}
form.grid#sform .popts > div:last-of-type { padding-left: 0; padding-right: 0;}
form.grid#sform .popts > div.parea { width: 65px; }
form.grid#sform .popts > div.color { width: 80px; }
form.grid#sform .popts > div.depts .ddrop { width: 115px; }

form.grid#sform textarea { height: 8em; margin-top: 15px; }

.row .columns { padding-left: 0; padding-right: 0; }

.grid { padding: 60px 15px 15px; }
.grid.htop { padding-bottom: 15px; background: url(/cdn/images/m/headid.jpg) repeat; }
.sgrid { padding: 15px; }
.grid.notop, .sgrid.notop { padding-top: 0;}
.sgrid.nopadside { padding-left: 0; padding-right: 0; }

.plist .row.filter { padding-left: 7px; padding-right: 7px;}
.plist, .slist { padding-left: 8px; padding-right: 8px;}
.grid.plist div.columns,
.grid.slist div.columns { text-align: left; }

.row .columns:last-of-type { float: left;}

.flist .columns:last-of-type, .plist .columns:last-of-type { float: left; }


div.plist[class*=grid] .row.pitems div.columns { padding-left: 7px; padding-right: 7px; }

div[class*=grid] .pcol {
    display: block; border: 1px solid #EEE; height: 180px; margin: 15px auto 0;
}

div[class*=grid] .pcol { width: auto !important; }

div[class*=grid] .pcol span.img { max-height: 136px; height: 136px; display: block; }

div[class*=grid] .pcol,
.sgrid .scol { display: block; border: 1px solid #EEE; height: 180px; margin: 15px auto 0; }
div[class*=grid] .pcol > span,
.sgrid .scol span.st { font-size: 12px; max-height: 44px; line-height: 1.4em; display: block; padding: 6px 8px;  }
.sgrid .scol span.st { max-height: inherit;}


div[class*=grid] .pcol span span { display: block; overflow: hidden; height: 32px; }

.sgrid .columns {padding-right: 7px; padding-left: 7px;}

.sgrid.slist { padding-top: 0;}
.sgrid .scol { height: auto;  }
.sgrid .scol .img { display: block; height: 136px; }
.sgrid .scol .img.mn { height: 68px; width: 50%; display: block; float: left; }
.sgrid .scol span.st { position: relative; padding: 28px 8px 6px; clear: both; }
.sgrid .scol span.st b { font-weight: normal; display: block; }
.sgrid .scol span.st i { font-style: normal; font-size: 11px; color: #858585; display: block; }
.sgrid .scol span.st .img { width: 47px; height: 47px; border-radius: 24px; z-index: 2; position: absolute; top:-24px; left: 5px; }

h1 { text-align: center; font-size: 22px; color: #444; font-weight: normal; }
h2 { text-align: center; font-size: 14px; }
form[class*=grid] label.glbl{ text-align: left; margin-bottom: 10px;}
form[class*=grid] label.glbl.nb { margin-bottom: 0; margin-right: 10px;}
[class*=grid] input[type=text],
[class*=grid] input[type=email],
[class*=grid] input[type=password],
[class*=grid] textarea,
[class*=grid] div.ininp { border: 1px solid #DDD; margin-bottom: 1.14285em; height: 45px; padding: 12px 7px; display: block; box-shadow: none; background: #fff; }
[class*=grid] textarea { height: 150px;}
[class*=grid] button,
[class*=grid] .lbutton { height: 45px; display: block; width: 100%; font-size: 14px; font-family: inherit; 
    font-weight: 300; 
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    text-align: center;

}
form[class*=grid] { margin-bottom: 0; padding-bottom: 0; }
[class*=grid] button.invrt,
[class*=grid] .lbutton.invrt { color: #00A3D8; background-color: transparent; text-transform: uppercase; font-weight: 500; }

form[class*=grid]#loginform button[type=submit]{
    margin-bottom: 10px;
}

form[class*=grid]#loginform .signlog .sbut{
    height: 25px;
    line-height: 25px;
    margin-top: 0;
}
form[class*=grid]#loginform .sbut.create-account {
    margin-bottom: 10px;
}

form[class*=grid]#loginform h2 { margin-bottom: 15px;}

form[class*=grid] .row .row { margin: 0;}
form[class*=grid] .row .row .columns {padding: 0;}
form[class*=grid] div.ininp { text-align: right;}
form[class*=grid] div.ininp > * { margin: 0; }
form[class*=grid] div.ininp input { -webkit-box-shadow: none;
box-shadow: none; border: none; padding: 0; height: 21px; width: 100%; margin: 0; }
form[class*=grid] div.ininp button { padding: 0; width: auto; border: none; background: none; }
form[class*=grid] div.ininp div { height: 21px;}
form[class*=grid] div.ininp button[type=submit] { margin: 0; width: 21px; height: 20px; background-position: -105px -39px; }

.closearea { text-align: right; height: 20px; }
.closearea a.c { float: right; display: inline-block; width: 20px; height: 20px; background-position: -196px -36px; }

form.grid#ssurl { padding-bottom: 47px; }
form#ssurl .closearea { padding-bottom: 56px;}
form#ssurl .grid.htop { padding: 10px; margin-top: 70px; }

form#ssres > .closearea > .columns:first-of-type { padding-right: 10px; }
form#ssres .closearea > .small-1.columns { line-height: 45px; height: 45px; }
form#ssres .closearea > .small-1.columns > a { float: none; vertical-align: middle; }

form#ssres .closearea { height: 45px; line-height: 45px; }

div.imgresults { padding-left: 5px; padding-right: 5px; }
div.imgresults .columns { padding-left: 10px; padding-right: 10px; padding-bottom: 20px;}
div.imgresults .columns a { display: block; }

form#ssearch { padding-top: 28px; position: absolute; right: 0; bottom: 0; left: 0; }
.rsearches { padding-top: 10px;}
.rsearches a { font-size: 12px; display: block; margin-bottom: 10px; }

.row.snav { height: 15px; line-height: 15px; margin: 5px 0 10px; }
.row.snav a { font-size: 12px; font-weight: 300; }
.row.snav .tar { text-align: right;}
.row.snav a.red { color: #B20000; }
.row.snav a i.ic { display: inline-block; height: 15px; margin-right: 10px; vertical-align: middle; }
.row.snav a i.ic.bk { width: 9px; background-position: -218px -36px; }
.row.snav a i.ic.cc { width: 15px; background-position: -229px -36px; }
.row.snav a i.ic.nx { margin-right: 0; margin-left: 10px; width: 9px; background-position: -219px -55px;}




.sbut { margin-top: 10px; display: block; width: 100%; background: transparent; height: 35px; font-size: 14px; line-height: 35px; vertical-align: middle; }
.sbut.tac { text-align: center;}

.inlbl { margin-bottom: 16px;}
.inlbl label.grey { text-align: right; padding: 14px 7px 13px; float: left; width: 45%; font-size: 12px; }
form[class*=grid] .inlbl input { padding: 12px 7px; float: left; width: 55%; margin-bottom: 0; }

.sbut.fb,
.sbut.tw { height: 50px; line-height: 50px; color: #fff; text-align: center; }
.sbut.fb i.ic,
.sbut.tw i.ic { display: inline-block; margin-right: 10px; vertical-align: middle;  }
.sbut.fb i.ic { background-position: 0px -71px; width: 16px; height: 33px; margin-bottom: 3px;  }
.sbut.tw i.ic { background-position: -17px -70px; width: 37px; height: 30px; margin-bottom: 3px;  }
.sbut.fb { background: #3B5998; }
.sbut.tw { background: #00ACED; }

.profile h1 { text-align: left; font-size: 18px; margin: 15px 0 0px; font-weight: 500; }
.profile h2 { text-align: left; margin-top: 0; }
.profile .profinfo > * { vertical-align: middle; }
.profile .profinfo div.img { display: inline-block; width: 79px; height: 79px; border-radius: 40px; }
.profile .profinfo .pinfot { display: inline-block; margin-left: 15px; }
.profile.shop .profinfo .pinfot { width: 190px; }
.bbtns { padding-top: 10px; }
.bbtns .columns {padding-right: 15px; font-size: 12px; }
.bbtns .columns.c {text-align: center; padding: 0;}
.bbtns .columns a { font-size: 12px; }
.bbtns .columns.fol a:first-of-type { margin-right: 10px; }
.bbtns .columns:last-of-type { text-align: right; padding-right: 0;}
.profile.shop .bbtns .columns { padding: 0 15px; }
.profile.shop .bbtns .columns .ctitle i {
line-height: 14px;
margin-top: 5px;
}

.profile .tbtns {padding-top: 15px;}
.profile .tbtns a { display: block; background: #F2F5F6; text-align: center; font-size: 12px; color: #00A3D8; height: 30px; line-height: 30px; }
.profile .tbtns a.selected { background: #00A3D8; color: #F2F5F6; }

.profile.sgrid.plist.row { padding-top: 0;}

.sgrid.clist { padding-left: 7px; padding-right: 7px; padding-top: 15px; }
.sgrid.clist .columns { padding-top: 15px; }
.sgrid.clist .columns:first-of-type { padding-top: 0; }
.clist a { display: block; border: 1px solid #EEE; margin: 15px auto 0; }
.clist a:first-of-type { margin-top: 0;}
.clist a span { display: block; }
.clist a span.small-6.columns { padding-left: 0; padding-right: 0;}
.clist a span > .img { width: 100%; height: 124px; }
.clist a span.small-6.columns.minis { padding-top: 0; }
.clist a span.minis .img { height: 62px; width: 50%; float: left; }
.clist a span.ctitle {
	font-size: 12px; line-height: 1.4em; display: block; padding: 12px 8px; 
}
.clist a span.ctitle b { font-weight: normal; display: block; }
.clist a span.ctitle i { font-style: normal; font-size: 11px; color: #858585; display: block; }


.followinfo a.backprof { display: block; line-height: 23px; height: 23px; font-size: 14px; }
.followinfo a.backprof * { vertical-align: middle; }
.followinfo a.backprof i.ic { display: inline-block; width: 9px; height: 15px; margin-right: 5px; background-position: -218px -36px; }
.followinfo a.backprof .img { display: inline-block; margin-right: 3px; width: 23px; height: 23px; border-radius: 12px; }
.followinfo .f { margin-top: 10px;}
.followinfo h1 { margin: 0; font-size: 18px; text-align: left; font-weight: 300; }
.followinfo h2 { margin: 0; text-align: right; font-size: 14px; font-weight: 300; line-height: 25px;}

.flist a { display: block; width: 120px; margin: 15px auto 0; }
.flist a h3 { font-size: 12px; font-weight: 500; text-align: center; }
.flist a .img { display: block; width: 120px; height: 120px; border-radius: 60px; }
.flist a button { display: block; width: 100%; margin-top: 10px; background: #00A3D8; text-align: center; font-size: 12px; color: #F2F5F6; height: 30px; line-height: 3px; }
.flist a button.followed { background: #F2F5F6; color: #00A3D8; }

.htop.collection h1 { text-align: center; font-weight: 300; margin-top: 10px; }
.htop.collection h2 { text-align: center; margin: 0 0 15px; font-size: 12px; font-weight: 300;}
.htop.collection a.own { text-align: center; display: block; line-height: 23px; height: 23px; font-size: 14px; }
.htop.collection a.own * { vertical-align: middle; }
.htop.collection a.own .img { display: inline-block; margin-right: 3px; width: 23px; height: 23px; border-radius: 12px; }
.htop.collection .bbtns { padding-top: 15px;}


.htop.prodview h1 { font-size: 14px; font-weight: 500; text-align: left;}
.htop.prodview .own { display: block; line-height: 23px; height: 23px; font-size: 12px; }
.htop.prodview .own > * { vertical-align: middle; }
.htop.prodview .own a.product-of { display: inline-block; background-position: center center; background-repeat: no-repeat; background-size: cover; margin-right: 5px; width: 23px; height: 23px; border-radius: 12px; }


.sgrid.prodview { padding-top: 0; }
.parea { padding-bottom: 0; }
.parea .small-6.columns { line-height: 36px; }
.parea .price { font-size: 14px; padding: 3px 0; }
.parea .share { text-align: right; font-size: 12px; }
.parea .share a { padding: 3px 12px; display: inline-block; }
.parea .share * { vertical-align: middle;}
.parea .share i.ic { background-position: -151px -35px; width: 28px; height: 21px; display: inline-block; margin-right: 5px; }
.parea .share a.selected { background: #DDD; }
.shareopts { min-height: 200px; padding: 10px; display: none; }
.shareopts.selected { display: block; }
.shareopts h4 { font-size: 14px; font-weight: 300; margin: 0; padding-bottom: 10px; text-align: left;  }
.shareopts .row { padding-bottom: 10px; }
.shareopts .columns.small-6 { padding-right: 5px; }
.shareopts .columns.small-6:first-of-type { padding-left: 0;}
.shareopts .columns.small-6:last-of-type { padding-right: 0; padding-left: 5px;}
.shareopts .columns.small-12 { padding-left: 0; padding-right: 0;}
.shareopts a.bgblue { display: block; height: 50px; line-height: 50px; text-align: center; }
.shareopts a.bgblue i.asset { vertical-align: middle; display: inline-block; }
.shareopts a.bgblue i.asset.fb { background-position: -73px -71px; width: 14px; height: 29px; }
.shareopts a.bgblue i.asset.tw { background-position: -90px -70px; width: 32px; height: 26px; }
.shareopts a.bgblue i.asset.gl { background-position: -123px -70px; width: 20px; height: 28px; }
.shareopts a.bgblue i.asset.pn { background-position: -145px -70px; width: 29px; height: 30px; }
.shareopts a.bgblue i.asset.ml { background-position: -176px -70px; width: 46px; height: 30px; }
.shareopts textarea { border: 1px solid #AAA; box-shadow: none; height: 100px;}

.prodview .imgarea img { width: 100%; }

.prodview .prodbtns { padding: 15px 0 0;  }
.prodview .prodbtns .columns.small-6 { padding-right: 10px; padding-left: 0; }
.prodview .prodbtns .columns.small-6:last-of-type { padding-left: 10px; padding-right: 0;}
.prodview .prodbtns a { display: block; height: 35px; line-height: 35px; text-align: center; color: #fff; font-size: 16px; font-weight: 300; }
.prodview .prodbtns a .icp { position: relative; top: -2px; display: inline-block; vertical-align: middle; background-position: -179px -35px; width: 15px; height: 15px; margin-right: 5px; }

.prodview .prodbtns .bord { border-top: 1px dotted #777; margin: 10px 0; }

.prodview p.desc { font-size: 12px; color: #868686; padding: 15px 0 0; line-height: 1.5; }

.prodview .colb { color: #fff; padding: 5px; font-size: 14px; position: relative; display: block; height: 50px; line-height: 14px; }
.prodview .colb span.user-sticked,
.prodview .colb img { display: block; width: 37px; height: 37px; border-radius: 19px; position: absolute; top: 5px; left: 5px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.prodview .colb b,
.prodview .colb em { font-weight: 300; margin-top: 3px; font-style: normal; padding-left: 42px; display: block; }
.prodview .colb em { font-size: 12px; font-weight: 100; }

h4.relh.gfr { font-size: 12px; font-weight: 300; padding: 10px 15px 0; margin: 0;}
.clist .scol span { padding-top: 8px;  }
.sgrid.clist .scol { height: 253px; }

.prodview select {
    padding:5px 10px;
    margin: 0;
    background: #fff;
    border: 1px solid #00A3D8;
    outline:none;
    display: block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.prodview label {position:relative}
.prodview label:after {
	content: '';
    right:8px; top:16px;
    width: 12px; height: 7px;
    background: url(/cdn/images/m/common.png) -179px -52px;
    position:absolute;
    pointer-events:none;
}
.prodview label:before {
    content:'';
    right:6px; top:1px;
    width:20px; height:20px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

.schos h1,
.addcol h1 { font-size: 14px; font-weight: 300; text-align: left; }
.schos img.prev { width: 100%; }

.addcol h1 { margin-top: 15px; }
.addcol img.prev { display: block; height: 155px; margin: 15px auto 0; }

.schos.sgrid.gbg { position: absolute; left: 0; right: 0; bottom: 0;}
.schos.sgrid.gbg h2 { text-align: left; font-size: 14px; font-weight: 500; }
.schos.sgrid.gbg p { font-size: 12px; margin-bottom: 0;}

.gbg#imgarea { padding-left: 5px; padding-right: 5px; }
.gbg#imgarea h3 { padding-left: 10px; padding-right: 10px; font-size: 12px; font-weight: 300; margin-bottom: 15px; }
.gbg#imgarea .row {  }
.gbg#imgarea .row .columns { padding-left: 10px; padding-right: 10px; padding-bottom: 20px;}
.gbg#imgarea .row .columns a { display: block; }

.newprodform .gbg#imgarea .row .columns .img { width: 100%; height: 92px; background-color: #fff; }
.newprodform .gbg#imgarea .row .columns .img.selected { border: 1px solid #00A3D8; }


.sgrid.addcol { overflow: scroll; }
.sgrid.addcol .topchoose {  font-size: 14px; font-weight: 300; padding-left: 15px; padding-right: 15px; }
.sgrid.addcol h2 { font-weight: inherit; text-align: left; }
.sgrid.addcol .topchoose .newcol { text-align: right; }
.sgrid.addcol .topchoose * { vertical-align: middle;}
.sgrid.addcol .topchoose i.ic.asset { background-position: -195px -58px; width: 11px; height: 11px; display: inline-block; margin-right: 5px; }
.sgrid.addcol .choosecol { display: block; list-style: none; margin: 0; padding: 0; border-top:1px solid #00A3D8; }
.sgrid.addcol .choosecol li { display: block; padding: 0; margin: 0; border-bottom:1px solid #00A3D8; }
.sgrid.addcol .choosecol li a { display: block; padding: 8px 15px; }
.sgrid.addcol .choosecol li a.selected { background: #00A3D8; color:#fff; }
.sgrid.addcol .choosecol li.new textarea { display: none; }
.sgrid.addcol .choosecol li a i.asset.check {
    background-position: -229px -56px; 
    width: 14px; height: 14px; display: none; float: right; margin-top: 5px;
}

.sgrid.addcol .choosecol li a.selected i.asset.check { display: block;}

.grid.adddone > * { margin: 20px 0; }

.grid.adddone h2.glbl { font-size: 12px; font-weight: 300; text-align: left; }
.grid.adddone .newprod { display: block; padding: 10px; }
.grid.adddone .newprod > * { display: block; font-size: 14px; font-weight: 300;}
.grid.adddone .newprod span.img { display: block; margin-top: 5px; height: 45px;}
.grid.adddone .newprod span.pinfo { padding: 0 0 0 10px;}
.grid.adddone .newprod span.pinfo h4 { font-size: inherit; font-weight: inherit;
margin: 0 0 5px;
line-height: 16px;
 }
.grid.adddone .newprod .nxt { height: 50px; line-height: 50px; text-align: right;}    
.grid.adddone .nxt .asset { background-position: -56px -86px; width: 12px; height: 20px; display: inline-block; vertical-align: middle; }
.grid.adddone .newcol { font-size: 14px; line-height: 20px; padding:10px; display: block; }
.grid.adddone .newcol > * { vertical-align: middle;}
.grid.adddone .newcol b { font-weight: 300; }
.grid.adddone .newcol .nxt { text-align: right;}
.grid.adddone textarea { margin-bottom: 10px; font-size: 12px; height: 200px; }
.grid.adddone button { width: 100%; margin: 10px 0 0; font-size: 14px; font-weight: 300;}

.grid.htop.search .ininp {  margin-bottom: 0; margin-top: 10px;}
.sgrid.strendlist { margin: 15px; padding: 15px 5px; }
.sgrid.strendlist h2,
.sgrid.gbg.rsearches h2 { text-align: left; font-size: 14px; font-weight: 300; line-height: 20px; padding: 0 12px 0; }
.sgrid.strendlist h2 i.ic { display: inline-block; margin-right: 10px; background-position: -223px -70px; width: 25px; height: 20px; vertical-align: middle; }
.sgrid.strendlist a { font-size: 12px; display: block; margin-bottom: 10px; text-align: center; }
.sgrid.strendlist a .img { display: block; width: 73px; height: 73px; margin-bottom: 5px;}
.sgrid.strendlist .row { margin-top: 15px;}
.sgrid.strendlist .columns {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 0px;
}
.sgrid.gbg.rsearches h2 { padding: 0; }
.sgrid.gbg.rsearches ul { list-style: none; display: block; padding: 0; margin: 0; }
.sgrid.gbg.rsearches ul li { display: inline-block; margin: 0 20px 3px 0; }
.sgrid.gbg.rsearches ul li a { display: inline-block; margin-bottom: 0;}

.poparea { position: relative; }
.poparea .pops { position: absolute; width: 100%; z-index: 2; display: none; }



.poparea .arup { border-width: 10px;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent; width: 0; height: 0; position: absolute; }
.poparea .pops.color .arup { left: 5px; top: -8px; }
#sform .poparea .pops.color .arup { left: 43px; }

.poparea .choosecont { width: 250px; top: 12px; left: 15px; position: absolute; background: #fff; padding: 10px 5px 0; }

#sform .poparea .choosecont { left: -24px; }

.poparea .choosecont div,
form.grid#sform .poparea.color #colchoosepop .choosecont div.columns { height: 45px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; }

#sform .poparea .choosecont div { }

.poparea .choosecont span { display: block; cursor: pointer;}
.poparea .pops.color .choosecont span { height: 35px; }

#sform .poparea .pops.color .choosecont span {  }

.poparea .choosecont span.selected { border:1px solid #000; }
.poparea .choosecont span.def { background-position: 0 -109px; }

.poparea ul.choosecont { line-height: 30px; display: block; list-style: none; }
.poparea ul.choosecont li { display: block; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; font-size: 14px; }
.poparea ul.choosecont li span { display: block; }

.poparea .pops.price .arup { left: 5px; top: -8px; }
.poparea .pops.price .choosecont { width: 220px; left: 15px; }
.poparea .pops.price .choosecont li span.selected { color:#000; border:none; }

.poparea.depts { padding-left: 15px;}
.poparea .pops.depts { right: 0; }
.poparea .pops.depts .arup { right: 5px; top: -8px; }

#sform .poparea .pops.depts .arup { right: 43px; top: -5px; }

.poparea .pops.depts .choosecont { right: 0; width: 300px; left:auto; }

#sform .poparea .pops.depts .choosecont { left: initial; top: 15px; right: -12px; }

.poparea .pops.depts .choosecont li { display: inline-block; width: auto; }
.poparea .pops.depts .choosecont li.selected { color:#000; }

.poparea.opts #optpop { right: 140px; }
.poparea.opts .pops.opts .arup { top: 0; left: 144px; border-bottom-color: #00A3D8; }
.poparea.opts .choosecont { width: 160px; top: 20px; padding: 0; background: #ddd; border-color: #00A3D8; }
.poparea.opts .choosecont li { padding: 10px 15px;}
.poparea.opts .choosecont li.wh { background: #fff; padding: 0 10px;}
.poparea.opts .choosecont li.prft a { padding: 5px; }
.poparea.opts .choosecont li.prft a div { height: 23px;
padding: 0; }
.poparea.opts .choosecont li.prft a span { font-size: 12px; }
.poparea.opts .choosecont li.lgo { padding: 10px 12px;}
.poparea.opts .choosecont li a.redlog { text-align: center; background: #E6565C; color: #fff;  }


#starterModal { position: fixed; top: 0; left: 0; right: 0; background: #fff; overflow-y: auto; }