@CHARSET "ISO-8859-1";

.account-wrapper { margin-left: 48px !important;
	margin-top: 97px !important;
	display: block;
	float: left; 
}
.accnt-header{display: block;height: 30px;margin-bottom: 20px;}
.account-wrapper .content-label{font-size: 18px; line-height: 30px;color: #51A296; margin-right:20px; display:inline-block;float: left;height: 22px;}
.account-wrapper .content-label a{text-decoration: none;font-size: 18px; line-height: 30px;color: #51A296;}
.accnt-status-wrapper {display:inline;width: 605px;height: 20px;vertical-align: middle;
 }

.accnt-status-wrapper span {display: inline-block;vertical-align: middle;}
.accnt-status-wrapper .status1{font-size: 15px;color: #999999;width: auto; max-width:165px;}
.accnt-status-wrapper .status1 strong { font-size:11px; }
.accnt-status-wrapper .status2-wrapper{width: 238px;height: 16px;border:1px solid #CCCCCC;background: #F0F0F0;}
.accnt-status-wrapper .status2-wrapper span{width: 100px;height: 16px;border:1px solid #51A296 ;background-color:#81C0B7;vertical-align: middle;
display: inline-block;margin-left: -1px;margin-top:-1px;}
.accnt-status-wrapper .status3{font-size: 12px;color: #999999;width: 150px;text-indent: 8px;}
.accnt-status-wrapper .status-button{height: 30px;width: 100px;font-size: 15px;color: #FFFFFF;font-weight: bold;line-height: 30px;
text-align:center;background-color: #51A296; margin-left:10px;
-webkit-box-shadow:1px 1px 0px 0px #000000;box-shadow:1px 1px 0px 0px #000000; display:inline-block; text-decoration:none;
}
#btn-update-api.status-button { width:50px; float:left; }
.accnt-status-wrapper .status-button:hover{-webkit-box-shadow:1px 1px 0px 0px #51A296;box-shadow:1px 1px 0px 0px #51A296;background-color: #000000;cursor: pointer;}
#reports-wrapper {width:830px;display: block; position:relative;}
.account-wrapper #reports-wrapper input, 
.account-wrapper #reports-wrapper select { color:#51A296; }
/* do not group these rules */
.account-wrapper #reports-wrapper input::-webkit-input-placeholder, .table .tr.total textarea::-webkit-input-placeholder {
  color: #999999 !important; 
}
.account-wrapper #reports-wrapper input::-moz-placeholder, .table .tr.total textarea::-moz-placeholder {
  color: #999999 !important; 
}

.account-wrapper #reports-wrapper input:-moz-placeholder, .table .tr.total textarea:-moz-placeholder {
  color: #999999 !important; 
}
.account-wrapper #reports-wrapper input:-ms-input-placeholder, .table .tr.total textarea:-ms-input-placeholder {
  color: #999999 !important; 
}

.accnt-status-wrapper .ui-widget{ float: left; background-color: #F0F0F0; width: 150px; height: 16px; border: 1px solid #CCCCCC; margin-right: 8px; margin-top: 9px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
.accnt-status-wrapper .ui-widget-header{ float: left; background-color: #81C0B7; border-color: #51A296; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
.accnt-status-wrapper span{ float: left; font-size: 15px; color: #999999; margin-right: 14px; margin-top: 8px; }

.content-accnt{display: none;}

.reports-tab-menu {
    padding: 0 0 0 23px;
margin: 0 0 39px;
list-style: none none;
border-bottom: 1px solid #CCCCCC;
height: 30px;
position: relative;
height:30px;
}
.reports-tab-menu li.selected{
    background-color: #FFF;
color: #51A296;
border: 1px solid #CCCCCC;
border-bottom: 0 none;
position: relative;
top: -1px;
min-width: 154px;
height: 31px;
}
.reports-tab-menu li{
    float: left;
line-height: 30px;
min-width: 156px;
height: 30px;
background-color: #F0F0F0;
color: #999999;
font-size: 14px;
margin-right: 4px;
position: relative;
text-align: center;
cursor: pointer;
padding: 0px 10px;
}
/*form account update*/

.account-form-wrapper{display: inline-block;float: left;margin-bottom: 40px;}
.profile-pic-form-wrapper{ float: left; }
#updater-form{min-height: 200px;float: left;display: block;}
.accnt-picture-wrapper{width: 157px;display: inline-block;float: left;}
.accnt-picture{height: 98px;width: 118px;border: 1px solid #FFFFFF;background-color: #F5F5F5;display: inline-block;
-webkit-box-shadow:  1px 1px 2px 1px #999999;        
        box-shadow:  1px 1px 2px 1px #999999;
        position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		cursor: pointer;}

.accnt-picture:hover{background-color: #FFFFFF;border-color:#51A296;}
.accnt-picture span{position: absolute;height: 22px;width: 118px;text-align: center;line-height: 22px;font-size: 18px;font-weight: bold;color:#51A296;top:13px;left:0px;}        

.upload-loader{ height: 110px; left: -5px; position: absolute; text-align: center; top: 72px; width: 130px; }
.upload-message{ left: 0; position: absolute; top: 180px; width: 140px; color: red; }

.accnt-field-wrapper{width: 300px;display: inline-block;float: right;}
.accnt-field-wrapper input{height: 28px;width: 280px;border: 1px solid #CCCCCC;font-size: 12px;line-height: 28px;padding: 0px 10px;color:#999999 !important;
	margin-bottom: 26px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px;    
	border-radius: 2px; /*
	-moz-box-shadow: inset 0px 0px 4px 2px #81C0B7;
	-webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7;
	box-shadow: inset 0px 0px 4px 2px #81C0B7; */ }

.accnt-update{height: 40px;width: 158px;display: inline-block;float: right;font-size: 15px;color: #FFFFFF;line-height: 40px;text-align: center;background-color: #51A296;
box-shadow: 1px 1px 1px 0px #000000;
-webkit-box-shadow: 1px 1px 1px 0px #000000;
cursor: pointer;}
.accnt-update:hover{border:1px solid #51A296;background-color: #FFFFFF;color: #51A296;}

/*   pass chage form*/

.pass-change-wrapper{width: 300px;display: inline-block;float: left;margin-bottom: 40px;}
#accnt-pass-change{width:300px;display: block;float: left;}
#accnt-pass-change input{height: 28px;width: 280px;border: 1px solid #CCCCCC;font-size: 12px;line-height: 28px;padding: 0px 10px;color:#999999;
	margin-bottom: 26px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px;    
	border-radius: 2px; /*
	-moz-box-shadow: inset 0px 0px 4px 2px #81C0B7;
	-webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7;
	box-shadow: inset 0px 0px 4px 2px #81C0B7; */ }

.accnt-change{height: 40px;width: 158px;display: inline-block;float: right;font-size: 15px;color: #FFFFFF;line-height: 40px;text-align: center;background-color: #51A296;
box-shadow: 1px 1px 1px 0px #000000;
-webkit-box-shadow: 1px 1px 1px 0px #000000;
cursor: pointer;}
.accnt-change:hover{border:1px solid #51A296;background-color: #FFFFFF;color: #51A296;}

/*account -details*/

.accnt-biling-info{width: 550px;display: inline-block;float: left;}
.add-billing-wrapper{height: 30px;display: block;margin-bottom: 11px;}
.add-billing-wrapper label{font-size: 14px;font-weight: bold;color:#000000;line-height: 30px;margin-right: 26px;float: left;}
.add-billing-wrapper .add-billing-butt{height: 30px;width: 72px;line-height: 30px;display: inline-block;text-align: center;font-size: 12px;font-weight: bold;
color:#FFFFFF;background-color:#51A296;-webkit-box-shadow: 1px 1px 1px 0px #000000;}
.add-billing-wrapper .add-billing-butt:hover{background-color:#000000;-webkit-box-shadow: 1px 1px 1px 0px #51A296;cursor: pointer;}

.billing-select-edit{height: 25px;display: block;float: left;width:550px;margin-bottom: 4px;}
.billing-select-edit #billing-selection{height: 23px;width: 487px;display: inline-block;float: left;margin-right: 11px;position: relative;}
#billing-downtip:hover{cursor: pointer;}
#billing-downtip{position: absolute;
float: left;
height: 23px;
display: block;
z-index: 1;
width: 23px;
text-align: center;
top:-0px;
right: 0px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
font-size: 12px;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: center -184px;}

#billing-selection #billing-1level ul{display: none;}

.billing-select-edit .edit-billing-butt{display: inline-block;float: left;height: 20px;width: 52px;line-height: 20px;font-size: 12px;font-weight: bold;vertical-align:middle;
background-color:#51A296;color:#FFFFFF;-webkit-box-shadow: 1px 1px 1px 0px #000000;}
.billing-select-edit .edit-billing-butt:hover{background-color:#000000;-webkit-box-shadow: 1px 1px 1px 0px #51A296;cursor: pointer;}
.billing-details-box{width: 489px;display: inline-block;float: left;}
.billing-details-box .bill-details{width: 489px;display:block;font-size: 12px;color: #000000;font-weight: normal;padding: 6px 0px;}

/* card details*/
.card-details-box{width: 489px;display: inline-block;float: left;margin-top: 2px;}
.card-details-box #card-details-header{padding: 17px 0px;font-size: 14px;color: #000000;font-weight: bold;}
.card-details-box .bill-details{padding-bottom: 10px;display: block;font-size: 12px;color;#000000;width: 320px;}
.card-details-box .bill-details .card-details{float: right;text-align: left;min-width: 174px;display: inline-block;}

/* shipping infos*/
.shipping-wrapper{width: 491px;display: inline-block;float: left;}
.add-shipping-wrapper{height: 30px;display: block;margin-bottom: 31px;}
.add-shipping-wrapper label{font-size: 14px;font-weight: bold;color:#000000;line-height: 30px;margin-right: 26px;float: left;}
.add-shipping-wrapper .add-billing-butt{height: 30px;width: 72px;line-height: 30px;display: inline-block;text-align: center;font-size: 12px;font-weight: bold;
color:#FFFFFF;background-color:#51A296;-webkit-box-shadow: 1px 1px 1px 0px #000000;
}
.add-shipping-wrapper .add-billing-butt:hover{background-color:#000000;-webkit-box-shadow: 1px 1px 1px 0px #51A296;cursor: pointer;}
.shipping-list-wrapper{width: 491px;display: block;float: left;margin-bottom: 36px;}
.shipping-infos-list{width: 377px;display: inline-block;float: left;height: 75px;}
.shipping-name{font-size: 12px;line-height: 16px;font-weight: bold;display: block;}
.shipping-addline{font-size: 12px;line-height: 12px;font-weight: normal;display: block;padding: 2px 0px;}
.infos-button{width: 114px;display: inline-block;float: right;}
.infos-button .shipping-edit:hover ,.infos-button .shipping-del:hover{background-color:#000000;-webkit-box-shadow: 1px 1px 1px 0px #51A296;cursor: pointer;}
.infos-button .shipping-edit{float: left;text-align: center;height: 30px;width: 52px;line-height: 30px;color:#FFFFFF;background-color: #51A296;font-size: 12px;font-weight: bold;
box-shadow: 1px 1px 1px 0px #000000;-webkit-box-shadow 1px 1px 1px 0px #000000;}
.infos-button .shipping-del{float: right;text-align: center;height: 30px;width: 52px;line-height: 30px;color:#FFFFFF;background-color: #51A296;font-size: 12px;font-weight: bold;
box-shadow: 1px 1px 1px 0px #000000;-webkit-box-shadow 1px 1px 1px 0px #000000;}

/*nfos edt*/
.shipping-edit-wrapper{width: 492px;display: inline;float: left;}
.shipping-edit-wrapper form{display: block;width: 492px;}
.shipping-edit-wrapper form label{width: 193px;display: inline-block;float: left;line-height: 25px;margin-bottom: 14px;}
.shipping-edit-wrapper form input{display: inline-block;float: right;margin-bottom: 14px;height: 25px;line-height: 25px;border: 1px solid #999999;}

.infor-submit{float: left;display: block;height: 44px;width: 90px;font-size: 16px;line-height: 44px;text-align: center;
color: #FFFFFF;background-color: #51A296;-webkit-box-shadow:1px 1px 0px 0px #000000;margin-bottom: 40px;}

#ship-info-edit .name{width: 142px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 2px;    
    border-radius: 2px;border: 1px solid #CCCCCC;}

#ship-info-edit .inputtxt1 {width: 297px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 2px;    
    border-radius: 2px;border: 1px solid #CCCCCC;}
	
#ship-info-edit .inputtxt2 {width: 170px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 2px;    
    border-radius: 2px;border: 1px solid #CCCCCC;}
#ship-info-edit .inputtxt3 { width:66px; }
#ship-info-edit .customized_select,
#billing-selection .customized_select { width: 297px; height:25px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;
	-webkit-border-radius: 2px; border-radius: 2px;border: 1px solid #CCCCCC;line-height: 25px;margin-bottom: 14px; position: relative; overflow:hidden; 
} 
#billing-selection .customized_select { width:480px; height:20px; }   
#ship-info-edit .customized_select select,
#billing-selection .customized_select select { position:absolute; top:0; left:0; z-index:999; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; display:block; width:100%; height:100%; }
#ship-info-edit .customized_select select option:first-child { color:#999999; }
#ship-info-edit .customized_select .txt,
#billing-selection .customized_select .txt { color:#51A296; }
#billing-selection .customized_select .txt { white-space: nowrap; text-overflow: ellipsis; width:448px; display:block; overflow:hidden; line-height:20px; height:20px; text-align:left; }
#ship-info-edit .customized_select .txt.novalue,
#billing-selection .customized_select .txt.novalue { color:#999999; }
#ship-info-edit .customized_select.country{}
    
#ship-info-edit .state {width: 170px;height:25px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 2px;    
    border-radius: 2px;border: 1px solid #CCCCCC;line-height: 25px;margin-bottom: 14px;
    position: relative;
}
/* select option styles */
.down-tip{position: absolute;
float: left;
height: 25px;
display: block;
z-index: 1;
width: 25px;
text-align: center;
top:-0px;
right: 0px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
font-size: 12px;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: center -184px;
}
#billing-selection .customized_select .down-tip { height:20px; top:-2px; }

.down-tip:hover{background-color: #F0F0F0;cursor: pointer;}
#ship-info-edit .state ul{display:none;position: absolute;top: 25px;left:-1px;width: 170px;background: #FFFFFF;border: 1px solid #F0F0F0;list-style: none;}
#ship-info-edit .state ul li{width: 170px;list-style-type: none;display: block;height: 25px;line-height: 25px;font-size: 12px;color: #CCCCCC;}
#ship-info-edit .state:hover ul{display: block;} 
#ship-info-edit .state ul li:hover{background-color: #CCCCCC;color:#FFFFFF;}   
#ship-info-edit .city{width: 170px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 4px;    
    border-radius: 4px;border: 1px solid #CCCCCC; }
    
#ship-info-edit .zip{width: 170px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 4px;    
    border-radius: 4px;border: 1px solid #CCCCCC;}
    
#ship-info-edit .phone{width: 170px;display: inline-block;float: left;font-size: 12px;color:#CCCCCC;text-indent: 10px;-webkit-border-radius: 4px;    
    border-radius: 4px;border: 1px solid #CCCCCC;}
    
/* card details*/

.pay-details-wrapper{
    float: left;
clear: both;
margin-top: 37px;width: 312px;
}    
.card-wrapper{height: 22px;display: block;vertical-align: middle;float: left;margin-bottom:14px; }
.card-wrapper label{width: 138px !important; font-size: 14px;font-weight: bold;line-height: 22px;display: inline-block;float: none;}
.card-wrapper .cards-container{width: 172px;height: 22px;display: inline-block;float: left; }

/*card credit debit*/
.card-wrapper span{width: 33px;height: 20px;border: 1px solid #999999;margin-right: 4px;display: inline-block;}
.card-wrapper .card1{ background-image: url("/cdn/images/ministore_images/ms-icon-cctypes.png");
background-repeat: no-repeat;
background-position:-1px center;}

.card-wrapper .card2{ background-image: url("/cdn/images/ministore_images/ms-icon-cctypes.png");
background-repeat: no-repeat;
background-position:-42px center;}

.card-wrapper .card3{ background-image: url("/cdn/images/ministore_images/ms-icon-cctypes.png");
background-repeat: no-repeat;
background-position:-83px center;}

.card-wrapper .card4{margin-right: 0px !important;
background-image: url("/cdn/images/ministore_images/ms-icon-cctypes.png");
background-repeat: no-repeat;
background-position:-123px center;}

.pay-details-wrapper label{width: 138px !important; /*margin-top: 9px;*/display: inline-block;float: left;height:22px;line-height: 22px !important;margin-bottom: 14px !important;}
.pay-details-wrapper .card-fields{width: 172px;height:25px;margin-top:9px;display: inline-block;float: left;font-size: 12px;color:#000000;text-indent: 10px;-webkit-border-radius: 4px;    
    border-radius: 4px;border: 1px solid #CCCCCC;margin-bottom: 0 !important;line-height: 25px;
}
    
/* card type*/       
#ship-info-edit .customized_select.exp-month{width: 66px;}  
#ship-info-edit .customized_select.exp-year{width: 97px; margin-left:6px;} 
#ship-info-edit .save-label{height: 30px;width: 193px;display: inline-block;float: left;margin: 38px 0px;}

#ship-info-edit .save-cancel{ height: 30px;width: 72px;line-height: 30px;display: inline-block;float: left;font-size: 12px;font-weight: bold;
background-color: #51A296;-webkit-box-shadow:1px 1px 0px 0px #000000;box-shadow: 1px 1px 0px 0px #000000;margin-top:38px;margin-bottom: 38px;color: #FFFFFF;}
#ship-info-edit .save-cancel:hover{background-color: #000000;-webkit-box-shadow:1px 1px 0px 0px #51A296 ;box-shadow: 1px 1px 0px 0px #51A296;}

/**/  
#premium{top: 20px !important;height: 530px;width: 690px;}   
.upgrade-premuim{ height: 530px;width: 690px;background-color: #FFFFFF;border: 1px solid #51A296;
-webkit-box-shadow: 0px 0px 3px #cccccc;display: block;}
.head-premuim{height: 101px;width: 690px;display: block;box-shadow: 0px 1px 3px -1px #cccccc;position: relative;margin-bottom: 23px;}
.head-premuim h2{font-size: 18px;line-height: 22px;color: #333333;display: block;margin: 11px 27px;}
.head-premuim p{margin: 0px 27px;width: 637px;font-size: 12px; line-height: 16px;color: #666666;}

.premium-shadow-left{position: absolute;
bottom:-30px;
left: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_left.png");
background-repeat: no-repeat;}

.premium-shadow-right{position: absolute;
bottom:-30px;
right: 0px;
z-index: 0;
height: 30px;
width: 400px;
background-image: url("/cdn/images/main_images/effect_shadow_right.png");
background-repeat: no-repeat;}

.package-wrapper{height: 326px;width: 619px;display: block;margin: 0 auto;position: relative; overflow:hidden;}
.package-wrapper .scrollbar { height:303px; display:block; width:619px; position:relative; overflow:hidden; }
.package-wrapper .scrollbar .jspTrack { height:298px !important; background-color:#F5F5EC !important; border:1px solid #E6E6D0 !important; }
.package-wrapper .scrollbar .jspDrag { background-color:#E6E6D0 !important; }
.highlights{position: absolute;bottom:0px;right: 22px;height: 298px;width: 198px;display: block;}
.highlights:hover, .selected-h{border: 1px solid #FFFFFF;-webkit-box-shadow:0px 0px 3px #cccccc;box-shadow: 0px 0px 3px #cccccc;
display: block;background-color: #F5F5EC;opacity: 0.7;}

.package-wrapper.subscription-benefits { height:370px; }
.package-wrapper.subscription-benefits .scrollbar  { height:365px; }
.package-wrapper.subscription-benefits .scrollbar .jspTrack { height:360px !important; }

.highlights2{position: absolute;bottom:0px;right: 246px;height: 298px;width: 198px;display: block;}

.highlights2:hover, .selected-h{border: 1px solid #FFFFFF;-webkit-box-shadow:0px 0px 3px #cccccc;box-shadow: 0px 0px 3px #cccccc;
display:block;background-color: #F5F5EC;opacity: 0.7;}
.package-heads{width: 598px;margin: 0 auto;display: block;height: 25px;float: left;border-bottom: 1px dotted #D9D9B3;}
.package-heads #space{width: 171px;height: 25px;display: inline-block;float: left;}
.package-heads div { line-height:15px; font-size: 15px;color: #51A296; display: inline-block;float: left; }
.package-heads .starter{width: 98px; float:left; margin-right: 10px;}
.package-heads .basics{width: 100px;margin-right: 11px; float:left;}
.package-heads .premiums{width: 100px; margin-right:10px; float:left }
.package-heads .professional{width: 98px; float:left; }

#accounts-choice{display: block;width: 598px;list-style: none;}
#accounts-choice li{list-style: none;display:table;width: 598px;height: 44px;border-bottom:1px dotted #D9D9B3;}
#accounts-choice li .wraps{display: table-cell;width: 596px;min-height: 44px;vertical-align: middle;}
#accounts-choice li .wraps span { display: inline-block;float: left; color:#51A296; text-align: center; padding:14px 0; }
#accounts-choice li .wraps .wraps-items{width: 171px;font-size: 12px;color: #999999; text-align:left;}
#accounts-choice.subscription-benefits li .wraps .wraps-items{width: 470px; }
#accounts-choice.subscription-benefits .wraps .starter-item { float:right; margin:0; }
.wraps .starter-item{width: 98px;margin-right: 9px; background-color:#FAFAF5; border-right:1px solid #F5F5EC; border-left:1px solid #F5F5EC; }
.wraps .basic-item{width: 98px; margin-right: 9px; background-color:#FAFAF5; border-right:1px solid #F5F5EC; border-left:1px solid #F5F5EC; }
.wraps .premium-item{width: 98px; margin-right: 9px; background-color:#F5F5EC; border-left:1px solid #B4D536; border-right:1px solid #B4D536;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color=#cccccc)";/*IE 8*/
-moz-box-shadow: 0px 0px 4px #cccccc;/*FF 3.5+*/
-webkit-box-shadow: 0px 0px 4px #cccccc;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 0px 4px #cccccc;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color=#cccccc); /*IE 5.5-7*/

}
.wraps .professional-item{width: 98px; background-color:#F5F5EC; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;}

.upgrade-butt-wrapper{height: 40px;width: 596px;display: block; margin: 13px 0 0 37px; text-align:right;}
.upgrade-butt-wrapper div { color: #999999;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-left: 9px;
    text-align: center;
    width: 100px; }

.upgrade-butt-wrapper #btn-api-form { display:block; height: 40px;width: 100px; line-height:40px;text-align: center;font-size: 15px;font-weight: bold;color:#FFFFFF; cursor:pointer;
background-color: #51A296;-webkit-box-shadow:2px 2px 0px 1px #000000;box-shadow: 2px 2px 0px 1px #000000;}

.upgrade-butt-wrapper #upgrados:hover{-webkit-box-shadow:2px 2px 0px 1px #51A296 ;box-shadow: 2px 2px 0px 1px #51A296;background-color: #000000;}


