.home-settings-title{
	float: left;
	font-size: 18px; 
	color: #000000;
	display: inline-block;
	padding-right:326px;
	text-shadow: 2px 4px 6px #f0f0f0;
    filter: dropshadow(color=#f0f0f0, offx=2, offy=4);
}
.checkbox{
	display: table-cell;
	vertical-align: middle;
}

.checks{
	float: left;
	font-size:12px;
	color:#990000;
	margin-top: 5px;
}
.checkbox-checks{
	vertical-align: middle;
	margin:0 8px 0 0;
	
}

#delete-button{
	float: right;
	background-color: #C92C23;
	width: 90px;
	padding: 4px 0;
	border: 1px solid #ffffff;
	-moz-box-shadow:	0 0 4px 2px #CCCCCC;
   	-webkit-box-shadow: 0 0 4px 2px #CCCCCC;
   	box-shadow:         0 0 4px 2px #CCCCCC;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

#save, #save-colors{
	display:inline-block;
	padding:0px 10px;
	font-size: 16px;	
	height: 30px; min-width: 100px;
	text-align: center;
	line-height: 30px;
	float: right;
	color: #FFFFFF;	
    background: #990000;
	-moz-box-shadow:    2px 2px 0 0 #333333;
   	-webkit-box-shadow: 2px 2px 0 0 #333333;
   	box-shadow:         2px 2px 0 0 #333333;
}

#save-colors:hover { 
	cursor: pointer;
	color: #0089B7 !important;
	background: #FFFFFF !important;
	height: 30px;
	min-width: 98px;
	border: 1px solid #990000;
	-moz-box-shadow:    2px 2px 0 0 #0089B7;
   	-webkit-box-shadow: 2px 2px 0 0 #0089B7;
   	box-shadow:         2px 2px 0 0 #0089B7;
}

#save:hover{
	cursor: pointer;
	color: #990000;
	background: #FFFFFF;
	height: 28px;
	min-width: 98px;
	border: 1px solid #990000;
	-moz-box-shadow:    2px 2px 0 0 #990000;
   	-webkit-box-shadow: 2px 2px 0 0 #990000;
   	box-shadow:         2px 2px 0 0 #990000;
}
ul li .products-wrapper .page-title-manage,
ul li .products-wrapper .page-title-manage,
div#add-new-page .page-title-manage,
div#add-new-blog .page-title-manage{
	margin-top: 28px;
	margin-left: 6px;
	font-size: 14px;
	color: #990000;
	font-weight: bold;
	display: inline-block;
	}
.page-title-manage1{
	line-height: 30px;
	font-size: 14px;
	color: #990000;
	font-weight: bold;
	display: inline-block;
	float: left;margin-right:15px; 
	}
.textbox-short{
	border: 1px solid #CCCCCC;
	width: 302px; height: 28px;
	line-height: 28px;
	font-size: 12px;
	font-family: Arial,Gill Sans,Helvetica,sans-serif;
	color: #000000;
	margin:20px 20px;
	padding:5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}
.textbox-365{
	border: 1px solid #999999;
	width: 345px; height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #000000;
	margin-left: 20px;
	padding:5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

#add-new-page, #add-new-blog{
	float: left;
	min-height: 620px;
}

#add-new-blog2{
	height: 865px;
	width: 726px;
	display: block;
	border:1px solid #990000;
	background: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	padding:  10px 30px;
	position: relative;
}
.blog-select{
	height: 28px;width: 240px !important;display: inline-block;
	line-height: 28px;text-indent: 10px;color:#000000;font-size: 12px;
	float: right !important;margin-top:28px;
	border:1px solid #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/common-manage.png)no-repeat -318px -170px #FFFFFF;
}
.blog-select li:first-child{
	display: block;	
	background-color: #fff;
	border: transparent;
	margin-bottom: 2px;
	height: 28px;
}
.blog-select li:last-child{
	-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px; 
}
.blog-select li{
	list-style: none;
	background-color: #DEDFE7;
	border: 1px solid #999;
	width: 207px; height: 26px;
	position: relative;
	z-index: 9;
	display: none;
	float: left;
	cursor: pointer;
}
.blog-select li:hover{
	background-color:rgba(255, 255, 255, 0.9);
}
.blog-select:hover > li{
	display: block;
}

.build-blog-wrapper{
	height: 41px;
	display: table;
}
.build-title{
	float: left;
	margin-left: 6px;
	margin-top: 32px;
	height: 30px;
	width: 87px;
	display: table-cell;
	vertical-align: middle;
	color: #990000;
}
.build-menu ul li a{
text-decoration: none !important;	
}
.build-blog-wrapper .build-menu{
	float: left;
	margin-top: 26px;
	margin-left: 6px;
	height: 36px;
	width: 365px !important;
	display:table-cell;
	vertical-align: middle;
}
.build-menu li{
	
	list-style: none;float: left;
	line-height: 36px;height:36px;
	display: inline-table;
	font-size: 14px;font-family: Arial, Helvetica, sans-serif;
}
.build-menu li .build-menu1{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -197px -262px #DEDFE7;
		}
.build-menu li .build-menu2{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -249px -262px #DEDFE7;
		}
.build-menu li .build-menu3{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -300px -262px #DEDFE7;
		}
.build-menu li .build-menu4{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -356px -262px #DEDFE7;
		}
.build-menu li .build-menu5{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -408px -262px #DEDFE7;
		}
.build-menu li .build-menu6{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -457px -262px #DEDFE7;
		}
.build-menu li .build-menu7{
	border-left:1px solid #F0F0F0;
	border-right: 1px solid #B2AFAD;
	width: 50px;
	line-height: 36px;height:36px;
	display: block;
	background: url(../images/common-manage.png)no-repeat -509px -262px #DEDFE7;
		}
												

.add-editor-wrapper{
	float: left;
	margin-left: 98px;
	margin-top: 2px;
	width: 628px;
	height: 190px;
	display: block;
	border: 1px solid #E4DBD5;
	background: #FFFFFF;
	position: relative;
}
.add-editor-left{
	height: 170px;
	width: 269px;
	display: inline-block;
	background: #DEDFE7;
	padding:10px;
	float: left;
	position: relative;
}
.add-editor-right{
	width: 317px;
	min-height: 190px;
	display: inline-block;
	padding:10px;
	float: right;
	}
.add-editor-right textarea{
	display: block;
	min-width: 317px;
	max-width: 317px;
	min-height: 156px;
	max-height: 170px;
	border:0px;
	color: #ccc;
	padding-top: 20px;
}
.include{
	display: inline-block;
}
.text-controls{
	position: relative;
	display: block;
}
.text-controls p{
	float: left;
	line-height: 24px;
	margin-right: 20px;
	font-size: 12px;
	color:#666666;
}
.text-controls .paragraph-tools{
	position: absolute;
	left: 100px;
}
.text-controls .paragraph-tools li{
	list-style: none;
	display: inline-block;
	float: left;
	line-height: 24px;height: 24px;
	display: inline-table;
	font-size: 14px;font-family: Arial, Helvetica, sans-serif;
	}
.text-controls .paragraph-tools .paragraph-tools1{
	width: 26px;height: 24px;
	background: url(../images/common-manage.png)no-repeat -94px -268px;
	display: block;
}
.text-controls .paragraph-tools .paragraph-tools2{
	width: 26px;height: 24px;
	background: url(../images/common-manage.png)no-repeat -121px -268px;
	display: block;
}
.text-controls .paragraph-tools .paragraph-tools3{

	width: 26px;height: 24px;
	background: url(../images/common-manage.png)no-repeat -149px -268px;
	display: block;
}
.photo-wrapper{
	height: 102px;
	width: 268px;
	display: table;
	text-align: center;
	line-height: 102px;
	color:#006393;
	font-size: 20px;
	overflow: hidden;
	margin-top: 28px;
}
.photo-wrapper p{
	background: url(../images/common-manage.png)no-repeat -356px -202px;
	height:40px; width: 194px;display:block;margin: 32px auto;
	cursor: pointer;
	}
.photo-with-menu{
	height: 28px;
	width: 200px;
	background: #000000;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	left:45px;
	position: absolute;
	bottom: 10px;
	color:#FFFFFF;
	font-size: 12px;line-height: 28px;
	text-indent: 2px;
	padding: 2px;
	text-align: center;
}
#textbox-px{
	margin-left: 10px;
}
#textbox-px input{
	height: 20px;
	width: 45px;
	line-height: 24px;
	background: #FFFFFF;
	color:#990000;font-size: 12px;line-height: 20px;
	border: 0px; text-indent: 5px;
    margin: 0px 3px;
}
.unit-width{
	background: url(../images/common-manage.png) -270px -175px no-repeat;
	display: block;
	width: 17px; height: 14px;
	position: absolute;
	right: 10px; bottom: 10px;
}
.section-label{
	float: left;
	color: #999;
	margin-left: 98px;
	padding-top: 12px;
}
.slideshow-section{
	float: left;
	position: relative;
	margin-left: 98px;
	margin-top: 2px;
	width: 628px; height: 192px;
	background-color: #DEDFE7;
	border: 1px solid #E4DBD5;
}
.slideshow-section label{
	display: block;
	font-size: 22px;
	color: #3B5998;
	padding: 14px 0 12px 22px;
	font-weight: bold;
}
.slideshow-section ul{
	list-style-type: none;
	width: 600px !important;
	margin-left: 5px;
}
.slideshow-section ul li{
	float: left; margin-left: 18px;
}
.slideshow-section ul li img{
	width: 82px; height: 62px;
}
.slideshow-option{
	float: left; margin: 16px 0 25px 25px; color: #666666;
}
.autoplay{
	margin-right: 5px; vertical-align: middle;
}
.up-down-bar{
	width: 50px; height: 20px; background: url(../images/common-manage.png) -406px 2px no-repeat #E4DBD5;
	position: absolute; top: -20px;  
	-webkit-border-radius: 2px 2px 0 0 ;border-radius: 2px 2px 0 0; 
	cursor: pointer;
}
.right-options{
	position: absolute;
    right: 10px;
    width: 74px;
}
.slideshow-caption{
	width: 82px; min-height: 26px;
	font-size: 10px; color:#666666;
}

.xcancel{	
	position:absolute;
	right: 5px;top:5px;
	display: inline-block;
	height: 11px;
	width: 11px;
}
.xcancel2{
	height: 11px;
    position: absolute;
    right: 4px;
    top: -17px;
    width: 11px;
}
/*--------------------------------------add-standar------------------*/
#add-standard{
	height: 487px;
	width: 892px;
	border:3px solid #63A69F;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;    
	padding: 0px 55px; background: #FFFFFF; 
	display: none;
}
.title-add-standard{
	height: 50px;
	display: block;
	width: 866px;
	background: #F5F5EC;
	margin-left: -55px;
	font-size: 16px;color:#999999;font-weight: bold;
	line-height: 50px;padding-left: 20px;
}
.left-standard{
	width: 418px;
	display: inline-block;float: left;
}

.left-title{
	font-size: 12px;color: #990000;line-height: 18px;
	margin-top: 7px;font-weight: bold;
}
.title-textbox{
	width: 310px;height: 36px;line-height: 36px;border: 2px solid #CCCCCC;
	padding: 0px 10px;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
}
.spacer-80{
	height: 80px;display:block;
}
.details-textbox{
	min-height: 210px;min-width: 418px;
	max-height: 210px;max-width: 418px;display: block;border:2px solid #CCCCCC;
	padding: 15px;-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;overflow: hidden;
}
.right-standard{
	width: 260px;display: inline-block;float: right;    
}
.right-title{
	font-size: 16px;line-height: 35px;color: #000000;font-weight: bold;display: block;
}
.right-title span{
	font-size: 11px;color: #666666;line-height: 35px;font-weight: normal;
}
.right-photo-wrapper{
	height:173px; width: 260px;display:block;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
	background: #E3E3E3;border:1px solid #CCCCCC;
	line-height: 173px;font-size: 20px;font-weight: bold;color:#990000;text-align: center;
	position: relative;
}
.right-photo-wrapper #right-photo-logo{
	height: 46px;width: 48px;display:inline-table;vertical-align: middle; background: url(../images/common-manage.png)no-repeat -501px -41px;
}

.right-photo-wrapper #right-photo-footer{
	font-size: 11px;font-weight: normal;
	color: #333333;position: absolute;bottom:5px;left:30px;line-height: 15px;width: 200px;
}
.spacer-55{
	height: 55px;display: block;
}
.logo-video-host{
	line-height: 25px;font-size: 16px; font-weight: bold;color:#000000;
	display: block;
}
.logo-video-host #vimeo-logo{
	background: url(../images/common-manage.png) no-repeat -319px -117px;height: 13px;width: 32px;display:inline-table;
	padding: 0px 4px;
}
.logo-video-host #youtube-logo{
	background: url(../images/common-manage.png) no-repeat -276px -117px;height: 13px;width: 32px;display:inline-table;
	padding: 0px 4px;
}
.logo-video-host #max-footnote{
	font-size: 11px;color:#666666;line-height:25px;font-weight: normal;display: inline-table;vertical-align: middle;
}
.right-link-textbox{
	height: 26px;width: 260px;display: block;border:2px solid #CCCCCC;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
	font-size: 11px;color: #999999;line-height: 26px;margin: 5px auto;padding: 0px 4px;
}
#comments-check{
	display: table-cell;vertical-align: middle;line-height: 45px;
}
.submition{
	height: 45px;display: block;line-height: 45px;margin: 10px auto;
}
.submition #submit-but{
	height: 45px;width: 140px;display: inline-block;background: #990000;float: right;text-align: center;font-size: 25px;font-weight: bold;color: #ffffff;
}
.submition #comments{
	color: #990000 !important;font-size: 11px;font-weight: normal;margin-left: 8px;
}

