#store-wrapper .search-input-wrapper { width:239px; height:28px; margin:10px 0 0 20px;  background-color:#FFF; border:1px solid #AAA; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 2px 2px 4px 0 #E4DBD5; box-shadow: inset 2px 2px 4px 0 #E4DBD5;   }
#store-wrapper #header{ background-color: #fdfdfd; height: 50px; width: 100%; min-width:1006px; }
#store-wrapper #header h1, 
#store-wrapper .main-menu, 
#store-wrapper .main-menu li a, 
#store-wrapper #header .stick-colors, 
#store-wrapper #header .stick-colors > * { 
	height:50px; line-height:50px; 
}

#store-wrapper .account-wrapper { width:100%; min-width:1006px; background-color:#382837; height:40px; }
#store-wrapper .account-wrapper .user-wrapper { float:left; margin-left:13px; }
#store-wrapper .account-wrapper .user-wrapper a.profile { text-decoration:none; float:left; display:inline-block; padding:0 5px 0 5px; cursor:default; }
/* #store-wrapper .account-wrapper .user-wrapper a.profile:hover { background-color: #493A46; } */
#store-wrapper .account-wrapper .user-wrapper a.profile div.thumb { float:left; margin:9px 5px 0 0; width:24px; height:24px; }
#store-wrapper .account-wrapper .user-wrapper a.profile div.thumb img { border:0 none; }
#store-wrapper .account-wrapper .user-wrapper a.profile span { color:#F2836B; font-size:14px; float:left; line-height:40px;  }
#store-wrapper .account-wrapper .user-wrapper a#user-notification { background-color:#FF0101; color:#FFF; display:inline-block; float:left; height:20px; line-height:20px; min-width:20px; text-align:center; text-decoration:none; margin:10px 0 0 15px; padding:0 2px; position:relative; -webkit-border-radius: 4px; border-radius: 4px; }
#store-wrapper .account-wrapper .user-wrapper a#user-notification span { background:url('/cdn/images/bg-notification-arrowleft.png') no-repeat; display:inline-block; width:4px; height:8px; position:absolute; top:6px; left:-4px; }

.account-wrapper ul.account-menu { float:left; line-height:40px; list-style:none none; padding:0; margin-left:20px; }
.account-wrapper ul.account-menu li { float:left; position:relative; }
.account-wrapper ul.account-menu li a { color:#4ABFAE; display:block; text-decoration:none; text-align:center; line-height:40px; position:relative; }
.account-wrapper ul.account-menu li:hover > a,
.account-wrapper ul.account-menu li a:hover,
.account-wrapper ul.account-menu li a.selected { background-color:#63A69F; color:#FFF; font-weight:bold; }
.account-wrapper ul.account-menu li:nth-child(1) a { width:97px; }
.account-wrapper ul.account-menu li:nth-child(2) a { width:144px; }
.account-wrapper ul.account-menu li:nth-child(3) a { width:130px; }
.account-wrapper ul.account-menu li:nth-child(4) a { width:102px; }
.account-wrapper ul.account-menu li:nth-child(5) a { width:104px; }
.account-wrapper ul.account-menu li:nth-child(6) a { width:110px; }
.account-wrapper ul.account-menu li a div.separator { width:1px; height:26px; position:absolute; top:7px; right:-2px; background-color:#000; -webkit-box-shadow: 1px 1px 1px 0px #594057; box-shadow: 1px 1px 1px 0px #594057;  }
.account-wrapper ul.account-menu li:hover > div.submenu {
	display: block;
}

.account-wrapper ul.account-menu li .arrowup { background:url('/cdn/images/bg-submenu-arrowup.png'); width:14px; height:6px; position:absolute; bottom:-1px; left:42px; display:none; z-index:30; }
.account-wrapper ul.account-menu li .arrowup-gray { background:url('/cdn/images/bg-submenu-arrowup-gray.png'); display:block; width:12px; height:5px; position:absolute; z-index:10; bottom:0; left:42px; }
.account-wrapper ul.account-menu li:nth-child(1) .arrowup { left:42px; }
.account-wrapper ul.account-menu li:nth-child(2) .arrowup { left:65px; }
.account-wrapper ul.account-menu li:nth-child(3) .arrowup { left:58px; }
.account-wrapper ul.account-menu li:nth-child(4) .arrowup { left:44px; }
.account-wrapper ul.account-menu li:nth-child(5) .arrowup { left:45px; }
.account-wrapper ul.account-menu li:nth-child(6) .arrowup { left:48px; }
.account-wrapper ul.account-menu li:hover > .arrowup  { display:block; }
.account-wrapper ul.account-menu li:nth-child(1) .arrowup-gray { left:43px; }
.account-wrapper ul.account-menu li:nth-child(2) .arrowup-gray { left:66px; }
.account-wrapper ul.account-menu li:nth-child(3) .arrowup-gray { left:59px; }
.account-wrapper ul.account-menu li:nth-child(4) .arrowup-gray { left:45px; }
.account-wrapper ul.account-menu li:nth-child(5) .arrowup-gray { left:46px; }
.account-wrapper ul.account-menu li:nth-child(6) .arrowup-gray { left:49px; }

.account-wrapper ul.account-menu div.submenu {  display: none; position:absolute; top: 40px; left: -10px; z-index:20; background-color:#FFF; width:200px; border:1px solid #63A69F; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.account-wrapper ul.account-menu div.submenu ul li { float: none; margin: 0; padding: 0; text-align:left; }
.account-wrapper ul.account-menu li div.submenu ul { padding:13px 14px; list-style:none none; }
.account-wrapper ul.account-menu li div.submenu ul li a { height:35px; line-height:35px; color:#382837; font-size:14px; padding:1px; text-align:left; display:block; width:168px; }
.account-wrapper ul.account-menu li div.submenu ul li a:hover { background-color:#4ABFAE; border:1px solid #63A69F; font-weight:normal; padding:0; color:#FFF; }
.account-wrapper ul.account-menu li div.submenu ul li a em { margin:0 9px 0 8px; float:left; position:relative; top:8px; width:20px; height:20px; background-repeat:no-repeat; }
.account-wrapper ul.account-menu li div.submenu ul li a span { float:left; }

/* STORES sub-menus*/
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(1) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }

/* MY PROMOTIONS sub-menus*/
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(2) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }

/* MY PRODUCTS sub-menus*/
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(3) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }

/* I WANTS sub-menus*/
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(4) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }

/* MY GIFTS sub-menus*/
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(5) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }

/* MY WALLET sub-menus*/
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(1) em { background-image:url('/cdn/images/submenus/create-new.png'); }
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(1) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/create-new-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(2) em { background-image:url('/cdn/images/submenus/view-stores.png'); }
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(2) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/view-stores-selected.png'); }
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(3) em { background-image:url('/cdn/images/submenus/general-settings.png'); }
.account-wrapper ul.account-menu li:nth-child(6) div.submenu li:nth-child(3) a:nth-child(1):hover > em { background-image:url('/cdn/images/submenus/general-settings-selected.png'); }


/* TEMPORARY ### MUST BE TRANSFERED TO store.css ### */
/* STORE: live preview */
#store-wrapper .livepreview-wrapper { cursor:default; height:100%; min-width:881px; margin: 13px 20px 0 105px; position:relative; }
#store-wrapper .livepreview-wrapper .sort_by {  position: relative; left:0; float:left; }
#store-wrapper .livepreview-wrapper .lbltxt { text-shadow: 1px -1px 0px #FFFFFF; color:#666666; float:left; margin-right:10px; line-height:25px; }
#store-wrapper .livepreview-wrapper .lbltxt.paddingleft { padding-left:35px; }
#store-wrapper .livepreview-wrapper .btn-wrapper { height: 40px; }
#store-wrapper .livepreview-wrapper .previewcontent { border:1px solid #CCCCCC; background-color:#FFF; min-width:755px; min-height:400px; text-align: center; padding: 20px 0; }

#store-wrapper .livepreview-wrapper .tools-btn { float:right; }
#store-wrapper .livepreview-wrapper .tools-btn button { float: left; height: 33px; font-family: Arial; cursor: pointer; -webkit-box-shadow: 0px 0px 4px 0px #cccccc; box-shadow: 0px 0px 4px 0px #cccccc; color:#63A69F; text-align: center; font-size: 16px; margin-left: 7px; border: 1px solid #666; }
.tools-btn .tools-save-btn { background: #ffffff; width: 88px; margin-left: 7px; }

.tools-btn .tools-publish-btn { background: #ffffff url("../images/store_images/common.png") no-repeat scroll 10px -236px; text-indent: 20px; width: 168px; }

/* Category Entry from Product */
.product_addnewcategory { width: 432px; padding: 20px 34px 26px !important; border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; }

/* Product Entry */
.productentry-wrapper { width: 892px; padding: 0; background: transparent !important; border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; }
.productentry { position: relative; top: 0; left: 0; z-index: 10; width: 892px; height: 484px; padding: 0; background-color:#F5F5EC; border-radius: 2px !important; -moz-border-radius: 2px !important; -webkit-border-radius: 2px !important; box-shadow: 0px 0px 6px 2px  #CCCCCC; -webkit-box-shadow: 0px 0px 6px 2px #CCCCCC; -moz-box-shadow: 0px 0px 6px 2px #CCCCCC; }

.productentry .modal_close { right: 16px; top: 19px; }
#popup_wrapper.productentry-wrapper .popup-wrapper-header,
#popup_wrapper.createvendor-wrapper .popup-wrapper-header { height:34px; float:none; border:0 none; width:100%; }
#popup_wrapper.createvendor-wrapper .popup-wrapper-header { height:auto; margin:27px 0 22px; }
#popup_wrapper.createvendor-wrapper .createvendor-box-content.shipping .popup-wrapper-header { margin-bottom:18px; }
#popup_wrapper.productentry-wrapper .popup-wrapper-header h1,
#popup_wrapper.createvendor-wrapper .popup-wrapper-header h1 { color: #51A296; font-size: 18px; line-height: 34px; margin-left: 17px; }
#popup_wrapper.createvendor-wrapper .popup-wrapper-header h1 { line-height:22px; margin:0; }

#popup_wrapper ul#tabs { height:36px; padding-left:18px; }
#popup_wrapper ul#tabs li { float:left; height:36px; }
#popup_wrapper ul#tabs li a { background-color:#F5F5EC; color:#999999; display:block; text-decoration:none; line-height:35px; text-align:center; border:1px solid #FFF; border-bottom:0 none; margin-right: 6px; padding:0 17px; }
#popup_wrapper ul#tabs li a.selected { background-color:#FFF; color:#51A296; border:1px solid #51A296; border-bottom:none; font-weight:bold; z-index:2; position:relative; height:36px; top:0;  }
#popup_wrapper ul#tabs li a.errortab { /*background-color:#EE0101;*/ color:#EE0101; }

#popup_wrapper .main-btn-wrapper { bottom:0; width:820px; height:51px; line-height:51px; color:#000000; padding:0 36px; background-color:#FFF; }
#popup_wrapper .main-btn-wrapper label { line-height: 51px; color:#000; padding-left:5px; }
#popup_wrapper .main-btn-wrapper label:nth-child(1) { margin-right:40px; color:#DEB32E; line-height:51px; }
#popup_wrapper .main-btn-wrapper span { margin-right:30px; }
#popup_wrapper .main-btn-wrapper span.selected { font-weight:bold; }
#popup_wrapper .main-btn-wrapper button { background-color: #DEB32E; float: right; width: 158px; color: #ffffff; font-size: 15px; font-weight:bold; text-align: center; height: 30px; line-height: 30px; margin-top: 11px; font-family: Arial; border:0 none; -webkit-box-shadow: 3px 3px 0px 0px #000; box-shadow: 3px 3px 0px 0px #000;  cursor: pointer; }
#popup_wrapper .productentry-box-content { height:339px; background-color:#FFF; padding:24px 18px 0 28px; position:relative; }
#popup_wrapper .productentry-box-content.paddingTop22 { padding-top:22px; }
#popup_wrapper .productentry-box-content .content-scroller { height:339px; position:relative; width: 860px;}
#popup_wrapper .productentry-box-content form { margin:0; padding:0; }

#popup_wrapper.productentry-wrapper .opacity { opacity:0.4; }
#popup_wrapper.productentry-wrapper strong { font-weight:bold; }
#popup_wrapper.productentry-wrapper .tooltip { color:#FFF; background-color:#9CA09F; display:inline-block; -webkit-border-radius: 4px; border-radius: 4px; height:14px; line-height:15px; width:14px; text-align:center; font-size:11px; font-weight:bold; margin:0 5px; }
#popup_wrapper .productentry-box-content label { display:block; color:#333333; margin-bottom:4px; height: 14px; line-height: 14px; }
#popup_wrapper .productentry-box-content label.error { position:absolute; }
#popup_wrapper .productentry-box-content label .optional { color:#333333; }
#popup_wrapper .productentry-box-content label em { color:#999; font-style:italic; }
#popup_wrapper.productentry-wrapper input[type="text"] { border: 1px solid #51A296; -webkit-border-radius: 2px; border-radius: 2px; color: #777777; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding: 0 10px; height:28px; -webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7; box-shadow: inset 0px 0px 4px 2px #81C0B7;  }
#popup_wrapper .productentry-box-content textarea { border: 1px solid #51A296; -webkit-border-radius: 4px; border-radius: 4px; color: #777777; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding: 10px; height:36px; -webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7; box-shadow: inset 0px 0px 4px 2px #81C0B7; }
#popup_wrapper .productentry-box-content .inputWidth360 { width:360px; }
#popup_wrapper .productentry-box-content .inputWidth340 { width:340px; }
#popup_wrapper .productentry-box-content .inputWidth418 { width:418px }
#popup_wrapper .productentry-box-content .inputWidth299 { width:299px; }
#popup_wrapper .productentry-box-content .inputWidth200 { width:200px; height:30px !important; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#popup_wrapper .productentry-box-content .inputWidth320 { width:320px; }
#popup_wrapper .productentry-box-content .inputWidth249 { width:249px; }
#popup_wrapper .productentry-box-content .inputWidth500 { width:500px; }
#popup_wrapper .productentry-box-content .textareaHeight210 { height:210px; }
#popup_wrapper .productentry-box-content .marginbottom34 { margin-bottom:34px; }
#popup_wrapper .productentry-box-content .marginbottom22 { margin-bottom:22px; }
#popup_wrapper .productentry-box-content .marginbottom30 { margin-bottom:30px; }
#popup_wrapper .productentry-box-content .marginbottom40 { margin-bottom:40px; }
#popup_wrapper .productentry-box-content .marginleft30 { margin-left:30px; }
#popup_wrapper .productentry-box-content .marginleft40 { margin-left:40px; }
#popup_wrapper .productentry-box-content .marginleft58 { margin-left:58px; }
#popup_wrapper .productentry button.basebtn { background-color: #51A296; color: #ffffff; border:0 none; width: 158px; height: 30px; font-size: 15px; font-weight:bold; text-align: center; font-family: Arial; border:0 none; -webkit-box-shadow: 2px 2px 0px 0px #000; box-shadow: 2px 2px 0px 0px #000;  cursor: pointer; }
#popup_wrapper .productentry button.basebtn:hover { -webkit-box-shadow: -2px -2px 0px 0px #000; box-shadow: -2px -2px 0px 0px #000; }
#popup_wrapper .productentry button.basebtn:active { box-shadow:2px 2px 0 0 #382837; }

#popup_wrapper.productentry-wrapper input[type="text"]:focus,
#popup_wrapper .productentry-box-content textarea:focus, 
#popup_wrapper .productentry-box-content .inputcurrency-wrapper.focus { border:1px solid #81C0B7; }

#popup_wrapper .productentry-box-content .customized_select { background-color:#FFF; border: 1px solid #51A296; -webkit-border-radius: 2px; border-radius: 2px; color: #777777; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding: 0 10px; width:275px; height:34px; position:relative; -webkit-box-shadow: 2px 2px 2px 0px #999999; box-shadow: 2px 2px 2px 0px #999999;  }
#popup_wrapper .productentry-box-content .customized_select:hover { border:1px solid #81C0B7; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper { resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color:#FFF; border: 1px solid #51A296; -webkit-border-radius: 2px; border-radius: 2px; color: #777777; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding: 0 10px; width:275px; height:30px; position:relative; -webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7; box-shadow: inset 0px 0px 4px 2px #81C0B7; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper.width180 { width:180px; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper span { float:left; line-height:28px; position:relative; z-index:2; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper input { resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color:transparent; border:0 none; padding:10px; float:left; width:100%; height:100%; padding: 0 0 0 17px; position:absolute; left:0; z-index:1; -webkit-box-shadow: inset 0px 0px 0px 0px #FFF; box-shadow: inset 0px 0px 0px 0px #FFF; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper input:focus { border:0 none; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper.width225 { width:225px; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper.width90 { width:90px; }
#popup_wrapper .productentry-box-content .inputWidth66 { width:66px; }
#popup_wrapper .productentry-box-content .inputWidth60 { width:60px; height:30px !important; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#popup_wrapper .productentry-box-content .inputWidth60.marginright7 { margin-right:7px; }
#popup_wrapper .productentry-box-content .inputcurrency-wrapper.width66 input { width:76px; }
#popup_wrapper .productentry-box-content .customized_select.select170 { width:168px; margin:0px; }
#popup_wrapper .productentry-box-content .customized_select.select170 select { opacity:0; z-index:10; width:100%; height:28px; line-height:32px; position:relative; }
#popup_wrapper .productentry-box-content .customized_select.select170 div { font-size:12px;  background-position:144px 10px; }
#popup_wrapper .productentry-box-content .customized_select.select110 { width:108px; margin:0 0 0 9px; }
#popup_wrapper .productentry-box-content .customized_select.select110 div { background-position:84px 12px; }
#popup_wrapper .productentry-box-content .customized_select.select130 { width:128px; }
#popup_wrapper .productentry-box-content .customized_select.select130 div { background-position:104px 12px; }

#popup_wrapper .productentry-box-content .istaxable-wrapper label { margin-right:52px; }
#popup_wrapper .productentry-box-content .istaxable-wrapper span { position:relative; color:#777777; }
#popup_wrapper .productentry-box-content .istaxable-wrapper span strong {  margin:0 5px 0 7px; position:relative; top:-2px; font-weight:normal; }
#popup_wrapper .productentry-box-content .istaxable-wrapper span strong.selected { font-weight:bold; } 

#popup_wrapper .productentry-box-content .payout-wrapper { width: 340px; height:100px; background-color:#F0F0F0; padding:10px 20px 0; border: 0px solid #f0f0f0;
	-moz-border-radius: 3px;/*Firefox*/
	-webkit-border-radius: 3px;/*Safari, Chrome*/
	border-radius: 3px; 
}
#popup_wrapper .productentry-box-content .payoutype_select, 
#popup_wrapper .productentry-box-content .customized_select { width:126px; padding:0; margin-left:8px; height:28px; }
#popup_wrapper .productentry-box-content .payoutype_select select,
#popup_wrapper .productentry-box-content .customized_select select { opacity:0; z-index:10; width:100%; height:28px; line-height:28px; position:relative; }
#popup_wrapper .productentry-box-content .payoutype_select div,
#popup_wrapper .productentry-box-content .customized_select div { line-height:28px; width:100%; position:absolute; z-index:1; top:0; left:0; padding-left:10px; background:url("/cdn/images/bg-dropdown-green.jpg") no-repeat scroll 95px 12px transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* images and video */
#popup_wrapper .productentry-box-content #tab-images .formErrorContent { width:148px !important }
#popup_wrapper .productentry-box-content #manual-fine-uploader { position:relative; height:297px; width:380px; }
#popup_wrapper .productentry-box-content #manual-fine-uploader .qq-spacer { clear:both; display:block; }
#popup_wrapper .productentry-box-content .mphoto-wrapper,
#popup_wrapper .productentry-box-content .mvideo-wrapper { width:380px; height:260px; background-color:#F0F0F0; text-align:center; position:relative; }
#popup_wrapper .productentry-box-content .mvideo-wrapper span { line-height:260px; color:#999999; font-size:11px; }
#popup_wrapper .productentry-box-content .qq-txt-allowedfiles { color: rgb(153, 153, 153); font-size: 11px; margin-top: 83px; }

.first-upload-btn { line-height:46px; height:46px; color:#52A296; font-size:20px; font-weight:bold; display:inline-block; }
.first-upload-btn img { float:left; margin-right:9px; }
.first-upload-btn span { float:left; }
.addmore-upload-btn { }

#popup_wrapper .productentry-box-content #manual-fine-uploader.more .qq-spacer { display:none; }
#popup_wrapper .productentry-box-content #manual-fine-uploader.more .mphoto-wrapper { width:380px; height:300px; background-color:transparent; text-align:inherit; position:static; }
#popup_wrapper .productentry-box-content #manual-fine-uploader.more .qq-txt-allowedfiles { display:none; }
#popup_wrapper .productentry-box-content #manual-fine-uploader.more .qq-uploader .qq-upload-button { float:right; margin:0; top:-7px; }
#popup_wrapper .productentry-box-content #manual-fine-uploader.more .mphoto-wrapper-sub { width:380px; height:260px; background-color:#F0F0F0; border:1px solid #51A296; text-align:center; position:relative; overflow-x:hidden; -webkit-box-shadow: inset 0px 0px 6px 2px #81C0B7; box-shadow: inset 0px 0px 6px 2px #81C0B7;  }
.mphoto-wrapper-sub.jspScrollable .jspVerticalBar { background-color: transparent !important; }
.mphoto-wrapper-sub.jspScrollable .jspTrack{ background-color: transparent !important; height: 257px !important; }
#popup_wrapper .productentry-box-content #manual-fine-uploader.more .qq-spacer2 { clear:both; display:block; height:1px;  }

.qq-uploader { }
.qq-uploader .qq-upload-button { display:inline-block; margin-top:103px;  }
.qq-uploader .qq-upload-button-hover { opacity:0.9; box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000; 
    -moz-box-shadow: 0 0 5px #000; }
.qq-uploader ul.qq-upload-list { background-color:#F7F7F7; border:1px solid #FFFFFF; border-bottom:0 none;; border-top:0 none; list-style:none none; width:330px; margin:15px auto 0; }
.qq-uploader ul.qq-upload-list li { min-height:41px; text-align: left; resize: none; display:table; /*box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;*/ padding:6px 8px; border-bottom:1px solid #FFF; }
.qq-uploader ul.qq-upload-list li .qq-upload-thumb { width:25px; height:25px; background-color:#CCC; float:left; display:table-cell; vertical-align:top; }
.qq-uploader ul.qq-upload-list li .qq-upload-thumb.auto { max-width:25px; max-height:25px; width:auto; height:auto;  }
.qq-uploader ul.qq-upload-list li .qq-upload-thumb img { max-width:25px; max-height:25px; }
.qq-uploader ul.qq-upload-list li .qq-upload-file-wrapper { float: left; margin-left: 9px; margin-right:7px; width:230px; position:relative; }
.qq-uploader ul.qq-upload-list li .qq-upload-file-wrapper .qq-progress-wrapper { background-color: #CCCCCC; height: 10px; width: 230px; }
.qq-uploader ul.qq-upload-list li .qq-upload-file-wrapper .qq-progress-wrapper .qq-progress-bar { background-color: #999999; height: 10px; width: 0; }
.qq-uploader ul.qq-upload-list li .qq-upload-file-wrapper .qq-upload-file { display: inline-block; margin-top: 4px; width: 200px; color:#999999; }
.qq-uploader ul.qq-upload-list li .qq-upload-file-wrapper .qq-upload-failed-text { color: #FF0000; display: none; font-size: 11px; position: absolute; right: -55px; top: 22px; width: 65px; }
.qq-uploader ul.qq-upload-list li a.qq-upload-cancel { float:left; font-size:11px; color:#D54937; text-decoration:underline; }

.thumb-photos-wrapper { margin-top:16px; }
.thumb-photos-wrapper .thumb-row { width:331px; /*height:57px;*/ margin:0 auto; margin-bottom:13px; }
.thumb-photos-wrapper .thumb-row .thumb { width:76px; height:57px; float:left; margin-right:9px; margin-bottom:13px; position:relative; }
.thumb-photos-wrapper .thumb-row .thumb .inner { width:76px; height:57px; display:block; display:table-cell; position:relative; vertical-align:middle; text-align:center; }
.thumb-photos-wrapper .thumb-row .thumb .inner * { vertical-align:middle; }
.thumb-photos-wrapper .thumb-row .thumb.nomarginright { margin-right:0; }

.thumb-photos-wrapper .thumb-row .thumb img { max-width:76px; max-height:57px; }
.thumb-photos-wrapper .thumb-row .thumb a { display:block; /*width:74px; height:55px;*/ width:98%; height:96%; position:absolute; top:0; left:0; z-index:2; }
.thumb-photos-wrapper .thumb-row .thumb div { width:74px; height:55px; position:absolute; z-index:0; left:0; top:0; border:1px solid #000; }
.thumb-photos-wrapper .thumb-row .thumb div span.delete { float:right; background-color:#999999; width:19px; height:16px; display:block; background:url(/cdn/images/store_images/btn-image-deletedefault.png) no-repeat -18px -1px #999999; cursor:pointer; }
.thumb-photos-wrapper .thumb-row .thumb div span.default { float:right; background-color:#999999; width:20px; height:16px; display:block; background:url(/cdn/images/store_images/btn-image-deletedefault.png) no-repeat 4px 1px #999999; margin-right:1px; cursor:pointer; }
.thumb-photos-wrapper .thumb-row .thumb div span.hover,
.thumb-photos-wrapper .thumb-row .thumb div span.selected { background-color:#51A296; }
.thumb-photos-wrapper .thumb-row .thumb em.lbl-txt { display:block; background-color:#51A296; position:absolute; top:16px; right:0; width:70px; width:76px; line-height:16px; color:#FFF; font-size:10px; font-style:normal; text-align:center; }
.thumb-photos-wrapper .thumb-row .thumb a:hover { border:2px solid #000; 
	outline:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000; 
    -moz-box-shadow: 0 0 5px #000;
	background:url(/cdn/images/store_images/deletephoto_icon.png) no-repeat center center;
 }
 
#popup_wrapper.productentry-wrapper #video_url { resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/* Options */
#popup_wrapper .productentry-box-content #tab-options { margin-right:38px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper { padding-bottom:10px; border-bottom:2px solid #F0F0F0; margin-bottom:8px; }
#popup_wrapper .productentry-box-content #tab-options .lbl { color:#51A296; display:inline-block; font-size:12px; font-weight:bold; line-height:28px; float:left; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .lbl.mright { margin-right:28px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper { display:block; float:left; line-height:31px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper label { display:inline-block; margin:0 0 0 2px; color: #382837; position:relative; top:-1px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper input.quantity { height:23px; width:58px; margin-left:15px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper input.quantity.disabled { background-color:#F8F8F8; border:1px solid #E4E4E7; -webkit-box-shadow: 0px 0px 0px 0px; box-shadow: 0px 0px 0px 0px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper span { display:block; position:relative; float:left; margin-right:25px; }
#popup_wrapper .productentry-box-content #tab-options .optioninventory-wrapper .stockinventory-wrapper span em { position:absolute; top:20px; left:18px; color:#999999; font-size:11px; width:350px; line-height:14px; }

#popup_wrapper .productentry-box-content #tab-options .options-wrapper { padding-bottom:28px; margin-bottom:3px; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper.hasoption {  border-bottom:2px solid #F0F0F0; }
#popup_wrapper .productentry-box-content #tab-options .lbl em { color:#666666; font-weight:normal; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper.clickable { cursor:pointer; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper.hasoption { background-color:#F5F5EC; border:1px solid #FFF; -webkit-box-shadow: 0px 0px 4px 2px #CCC; box-shadow: 0px 0px 4px 2px #CCC; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper { width:256px; height:80px; background-color:#F8F8F8; border:1px solid #E4E4E7; -webkit-border-radius: 3px; border-radius: 3px; position:relative; float:left; margin-right:9px; margin-left:5px; padding:9px 7px; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .addbtn { color:#E5E5E5; font-size:16px; width:140px; line-height:26px; padding-left:37px; margin:17px 60px; background:url(/cdn/images/bg-add-option-gray.png) no-repeat left center; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper.clickable .addbtn { color:#51A296; background-image:url(/cdn/images/bg-add-option.png) }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .btns { position:absolute; top:9px; right:8px; color:#666666; font-size:10px; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .btns span { color:#51A296; cursor:pointer; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .optionname-wrapper { font-weight:bold; color:#000; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .optionname-wrapper span { color:#51A296; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .scrollbar { width:239px; height:46px; position:relative; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .scrollbar .jspVerticalBar { width:8px !important; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .scrollbar .jspTrack { background-color:#CCCCCC !important; border:0 none !important; width:8px !important; height:44px !important; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .scrollbar .jspDrag { background-color:#333; }
#popup_wrapper .productentry-box-content #tab-options .options-wrapper .option-list-wrapper .option-values { background-color:#E7E7DE; border:1px solid #D8D8D0; font-size:11px; color:#7B7C79; height:21px; padding:0 5px; line-height:21px; text-align:center; float:left; margin:8px 10px 0 0; }

#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper { position:relative; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper button.basebtn { position:absolute; top:3px; right:22px; background-color: #51A296; color: #ffffff; border:0 none; width: 118px; height: 20px; font-size: 12px; font-weight:normal; text-align: center; font-family: Arial; border:0 none; -webkit-box-shadow: 2px 2px 0px 0px #000; box-shadow: 2px 2px 0px 0px #000;  cursor: pointer; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper button.basebtn:hover { -webkit-box-shadow: -2px -2px 0px 0px #000; box-shadow: -2px -2px 0px 0px #000; }

#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .scrollbar { position:relative; width:818px; height:115px; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .scrollbar .jspVerticalBar { width:8px !important; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .scrollbar .jspTrack { background-color:#CCCCCC !important; border:0 none !important; width:8px !important; height:113px !important; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .scrollbar .jspDrag { background-color:#333; }

#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .hdr td { color:#000; font-weight:bold; background-color:#EEEEEE; border-bottom:1px solid #D5D5D5; height:24px; vertical-align:middle; text-align:center; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .results td{ color:#676767; font-size:11px; font-weight:bold; text-align:center; vertical-align:middle; padding:3px 0; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td.option { padding:3px; line-height:22px; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper .results.alt td { background-color:#F6F6F6; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td .editdel { color:#666; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td .editdel span { color:#51A296; cursor:pointer; }

#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td.option select,
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td input { border:1px solid #D5D5D5; -webkit-box-shadow: 0px 0px 0px 0px; box-shadow: 0px 0px 0px 0px; height:17px; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td.option select { width:90%; }
#popup_wrapper .productentry-box-content #tab-options .option-variants-wrapper td input { width:90px; }

#popup_wrapper.productentry-wrapper #tab-options-modal { width:450px; height:380px; box-shadow: 0 0 6px 2px #CCCCCC; border-radius: 1px; -webkit-border-radius:1px; background-color:#FFF; position:absolute; z-index:5; top:52px; left:221px; overflow:hidden; }
#popup_wrapper.productentry-wrapper #tab-options-modal .header-lbl { height:40px; line-height:40px; padding-left:15px; color:#DEB32E; background-color:#F5F5EC; position:relative; font-size:14px; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }
#popup_wrapper.productentry-wrapper #tab-options-modal table { margin:16px auto; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td { padding:11px 0 0 11px; }
#popup_wrapper.productentry-wrapper #tab-options-modal table tr.optionname td { border-bottom:2px solid #F0F0F0; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.lbltxt { color:#382837; font-size:14px; font-weight:bold; padding-left:10px; vertical-align:top; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.lbltxt span { line-height:25px; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.lbltxt em { color:#CCCCCC; font-size:10px; font-weight:bold; display:block; }
#popup_wrapper.productentry-wrapper #tab-options-modal input[type="text"] { border:1px solid #CCC; max-width:178px; height:28px; width:220px; }

#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue .scrollbar { position:relative; height:140px; width:265px; display:block; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue .scrollbar .jspVerticalBar { width:10px !important; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue .scrollbar .jspTrack { background-color:#CCCCCC !important; border:0 none !important; width:10px !important; height:138px !important; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue .scrollbar .jspDrag { background-color:#333; }


#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue div.opt { margin-bottom:13px; height:30px; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue div.opt input { float:left; }
#popup_wrapper.productentry-wrapper #tab-options-modal table td.optionvalue div.opt span { float:left; margin-left:5px; color:#DEB32E; text-decoration:underline; line-height:30px; cursor:pointer; }
#popup_wrapper.productentry-wrapper #tab-options-modal #btn-add-option-value { color:#DEB32E; text-decoration:underline; margin-right:65px; cursor:pointer; }
#popup_wrapper.productentry-wrapper #tab-options-modal .basebtn { width:138px; position:absolute; bottom:25px; right:22px; }
/* end: options */

.suboption-steps-wrapper { float: left; width: 100%; height: 362px; position: relative; }
.suboption-steps-wrapper .steps { position:relative; overflow:hidden; top:0; }
.suboption-steps-wrapper .steps.step1 { margin:32px auto; width: 470px; display:block; }
.suboption-steps-wrapper .steps.step2 { }
.suboption-steps-wrapper .steps.step2 .tboption-scroller.jspScrollable .jspVerticalBar { background-color: transparent !important; }
.suboption-steps-wrapper .steps.step2 .tboption-scroller.jspScrollable .jspTrack{ background-color: transparent !important; height:225px !important; }
.suboption-steps-wrapper .steps.step3 { height:350px; position:relative; }
.suboption-steps-wrapper .steps.step3 .scrollbars.jspScrollable .jspVerticalBar { background-color: transparent !important; }
.suboption-steps-wrapper .steps.step3 .scrollbars.jspScrollable .jspTrack{ background-color: transparent !important; height:297px !important; }

.suboption-steps-wrapper .optionname { color:#000; font-size:14px; font-weight:bold; margin-bottom:5px; }
#popup_wrapper .suboption-steps-wrapper .valuecode { }
.suboption-steps-wrapper .valuename { color:#000; font-size:14px; font-weight:bold; float:left; line-height: 23px; }
.suboption-steps-wrapper .suboption-wrapper { margin:20px 0 0 36px; }
.suboption-steps-wrapper .suboption-wrapper .suboptionname { color:#666; font-size:14px; font-weight:bold; margin-bottom: 8px; }
#popup_wrapper.productentry-wrapper .suboption-steps-wrapper button { margin-top:6px; margin-bottom:5px; }


/* Categories */
#popup_wrapper .productentry-box-content #tab-categories .cat-headerlbl-wrapper { margin-bottom: 10px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-headerlbl-wrapper span { color:#333; font-size:15px; float:left; }
#popup_wrapper .productentry-box-content #tab-categories .cat-headerlbl-wrapper button { width:88px; height:24px; float:right; }
#popup_wrapper .productentry-box-content #tab-categories .cat-headerlbl-wrapper a:hover { text-decoration:none; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper { width:291px; height:280px; border:1px solid #999999; -webkit-box-shadow: inset 2px 2px 4px 1px #CCCCCC; box-shadow: inset 2px 2px 4px 1px #CCCCCC;  }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.shopstyxcat { width:496px; height:250px; border:1px solid #333333; padding:16px 0px 14px 10px; -webkit-box-shadow: 0 0 0 0; box-shadow: 0 0 0 0; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper .st-catmain-list { width:245px; height:250px; overflow:hidden; float:left; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper .st-catmain-list.sub { margin-left:5px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper .st-catmain-list.sub ul { padding-right:2px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.shopstyxcat ul { margin:0; padding:0 4px 0 0; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.shopstyxcat ul li { line-height:20px; height:20px; padding-left:6px; color:#666666; margin-bottom:5px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.shopstyxcat ul li.selected,
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.shopstyxcat ul li.hover { background-color:#81C0B7; color:#FFF; font-weight:bold; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.jspScrollable .jspVerticalBar { background-color: transparent !important; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper.jspScrollable .jspTrack{ background-color: transparent !important; border-bottom: 0 none; border-top: 0 none; }
#popup_wrapper .productentry-box-content #tab-categories .st-catmain-list.jspScrollable .jspTrack { height:248px !important; }

#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper span.nocategory { margin-top:120px; text-align:center; color:#FF0000; display:block; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul { list-style:none; padding:15px 0 15px 20px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li { /*margin: 3px 0;*/ line-height:20px }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li input { position:relative; top:3px;  }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li label { color: #333333; display: inline-block; font-size: 11px; padding:0 0 0 4px; line-height:20px; height:20px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li label.checked { color:#FFF; font-weight:bold; background-color:#51A296 }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li ul { padding:0 0 0 22px; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li ul li { padding:0; }
#popup_wrapper .productentry-box-content #tab-categories .cat-list-wrapper ul li ul li label { color:#666666; width:212px; }

/* Shipping */
#popup_wrapper .productentry-box-content #tab-shipping label.mainlbl { display:inline-block; width:100px; float:left; line-height:36px; }
#popup_wrapper .productentry-box-content #tab-shipping label { display:inline-block; float:none; width:auto; color:#666666; font-weight:normal; margin-right:78px; }
#popup_wrapper .productentry-box-content #tab-shipping label.selected { color:#51A296; font-weight:bold; }
#popup_wrapper .productentry-box-content #tab-shipping label.error { width:auto; float:none; }
#popup_wrapper .productentry-box-content #tab-shipping .shipping_type-wrapper span { margin-right:20px; }
#popup_wrapper .productentry-box-content #tab-shipping .shipping_type-wrapper span strong { color:#777777; font-size:12px; font-weight:normal; margin-left:5px; }
#popup_wrapper .productentry-box-content #tab-shipping .shipping_type-wrapper span strong.selected { font-weight:bold; }

#tab-shipping  .innercontainer { width:840px; }
#tab-shipping .scrollbars { height:241px; width:818px; }
#tab-shipping .scrollbars.jspScrollable .jspVerticalBar { background-color: transparent !important; width:12px !important; }
#tab-shipping .scrollbars.jspScrollable .jspTrack{ background-color: transparent !important; border:1px solid #E4DBD5 !important; width:10px !important; height: 239px !important; }
#tab-shipping .scrollbars.jspScrollable .jspTrack .jspDrag { background-color:#E4DBD5 !important; }
#tab-shipping .customized_select { background-color:#FFF; border: 1px solid #CCC; -webkit-border-radius: 4px; border-radius: 4px; color: #777777; font-family:Arial, Helvetica, sans-serif; font-size: 14px; padding: 0 10px; width:216px; height:28px; position:relative; }
#tab-shipping .customized_select select { opacity:0; z-index:2; width:100%; height:26px; line-height:26px; position:absolute; left:0; }
#tab-shipping .customized_select div#txtvalue { line-height:28px; width:100%; position:absolute; z-index:1; top:0; left:0; padding-left:10px; background:url("/cdn/images/bg-select-small2.jpg") no-repeat scroll 207px 2px transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#tab-shipping .tbl-lbl { margin-top:14px; }
#tab-shipping .tbl-lbl div { color:#51A296; font-size:12px; padding-bottom:7px; float:left; position:relative; }
#tab-shipping .tbl-lbl div.lbl0 { width:198px; }
#tab-shipping .tbl-lbl div.lbl1 { width:180px; }
#tab-shipping .tbl-lbl div.lbl2 { width:462px; }
#tab-shipping .tbl-lbl div.lbl2 button { position:absolute; width:60px; top:-14px; right:17px; }
#tab-shipping .tbl-lbl div span { color:#777; font-size:11px; }
#tab-shipping .tooltip { color:#FFF; background-color:#F2836B; display:inline-block; -webkit-border-radius: 4px; border-radius: 4px; height:14px; line-height:15px; width:14px; text-align:center; font-size:11px; font-weight:bold; margin-left:10px; }
#tab-shipping .shippingdest-wrapper { height:240px; padding:11px 9px 9px 13px; background-color:#F5F5EC; -webkit-border-radius: 3px; border-radius: 3px; }
#tab-shipping  table.shipping tr.sr td {  /*min-height:16px; max-height:67px;*/ /* padding:9px 0 11px;*/ border-top:1px dotted #D9D9B3; font-size:11px; }
#tab-shipping  table.shipping tr.addbtn td { border-top:1px dotted #D9D9B3; padding:9px 0; }
#tab-shipping  table.shipping tr.addbtn td button { border:0 none; }
#tab-shipping  table.shipping tr.sr td.country { color:#333333; font-size:11px; font-weight:bold; vertical-align:top; }
#tab-shipping  table.shipping tr.sr td.country div { margin-top:21px; }
#tab-shipping  table.shipping tr.sr td.rates { color:#666; font-size:10px; vertical-align:top; }
#tab-shipping  table.shipping tr.sr td.rates div.freeshipping { margin:5px 0 0 6px; }
#tab-shipping  table.shipping tr.sr td.rates div.borderright { border-right: 1px dotted #D9D9B3; display: inline-block;  margin: 8px 0; padding: 13px 22px 13px 0; }
#tab-shipping  table.shipping tr.sr td.types select { float:left; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types,
#tab-shipping  table.shipping tr.sr td.types .shipping_types div { float:left; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.standard { min-width:84px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.express { min-width:75px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.nextday { min-width:70px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types.paddingleft { padding-left:24px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types span { float:left; line-height:14px; color:#666666; margin:0 0 0 6px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price { width:52px; height:21px; position:relative; top:-3px; border:1px solid #D3D3D3; background-color:#FFF; margin:0 15px 0 5px; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price.nomarginright { margin-right:0; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price span { margin:0; color:#666666; font-size:11px; line-height:19px; padding:0 6px;  }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price input { color:#666666; font-size:11px; width:37px; height:19px; position:absolute; top:0; left:12px; padding:0; border:0 none; -webkit-box-shadow: 0 0 0 0 transparent; box-shadow: 0 0 0 0 transparent; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price.disabled { background-color:#999; }
#tab-shipping  table.shipping tr.sr td.types .shipping_types div.price input:disabled { background-color:#999; }

#tab-shipping  table.shipping tr.sr td.types input[type="checkbox"] { border:1px solid #E6E6D0; width:14px; height:14px; float:left; }
#tab-shipping  table.shipping tr.sr td.types .main { float:left; margin-top:22px; }
#tab-shipping  table.shipping tr.sr td.types a { width:23px; height:23px; background:url(/cdn/images/btn-remove-shipping.jpg) no-repeat; display:block; float:right; position:relative; top:17px; right:5px; }

#tab-shipping select { font-size:11px; color:#666666; height:16px; width:132px; }
#tab-shipping select.country { color:#333; width:162px; }
#tab-shipping select.rates { color:#51A296; }
#tab-shipping table.shipping tr.addbtn td button { width: 138px; margin:0 36px 0 0; }

#tab-shipping .sgtxt_container { margin-top:21px; line-height:40px; color:#666; }
#tab-shipping .sgtxt_container .tooltip { margin-top:13px; }
#tab-shipping .sgtxt_container .shipping_global_countries { float:right; width:765px; min-height:40px; background-color:#F5F5EC; line-height:40px; }
#tab-shipping .sgtxt_container .shipping_global_countries div { max-width:640px; margin-left:14px; float:left; color:#777777; }
#tab-shipping .sgtxt_container .shipping_global_countries button.basebtn { width:60px; line-height:30px; float:right; margin:4px 8px 0 0; }


/* Related */
#tab-related .product-related-search-wrapper { -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px solid #CCCCCC; width:470px; height:290px; margin-top:19px;  }
#tab-related .product-related-search-wrapper .search-wrapper { height:45px; background-color:#F5F5EC; color:#64A69F; font-size:12px; font-weight:bold; line-height:43px; padding-left:25px;  }
#tab-related .product-related-search-wrapper .search-wrapper .search-field-wrapper { width:285px; height:28px; border:1px solid #CCCCCC; background-color:#FFF; -webkit-border-radius: 4px; border-radius: 4px; float:left; margin:6px 0 0 0;  -webkit-box-shadow: inset 0px 0px 7px 0px #F0F0F0; box-shadow: inset 0px 0px 7px 0px #F0F0F0; position:relative; }
#tab-related .product-related-search-wrapper .search-wrapper .search-field-wrapper .searchby { background: url("/cdn/images/arrow-down2.png") no-repeat scroll 86px 10px #EFEAE6; border-color: -moz-use-text-color #E4DBD5 -moz-use-text-color -moz-use-text-color; border-right: 1px solid #E4DBD5;  color: #4ABFAE; font-size: 11px; font-weight: normal; height: 25px; left: 2px; top:2px; line-height: 25px;  overflow: hidden; position: absolute; text-align: left; text-indent: 5px; width: 103px; z-index: 10; }
#tab-related .product-related-search-wrapper .search-wrapper .search-field-wrapper select.searchby { color: #4ABFAE; font-size: 11px; font-weight: normal; height: 25px; left: 2px; top:2px; line-height: 25px; position: absolute; text-align: left; text-indent: 5px; top: 3px; width: 103px; z-index: 20; }
#tab-related .product-related-search-wrapper .search-wrapper .search-field-wrapper input.searchtext { border:0 none; padding:0 24px 0 10px; height:28px; width:251px; }
#tab-related .product-related-search-wrapper .search-wrapper button.search-product-btn { background: url("/cdn/images/store_images/common.png") no-repeat scroll -38px -401px transparent; border: 0 none; cursor: pointer;  display: block; float: left; height: 19px; position: absolute; right: 9px; top: 5px;  width: 15px;}

#tab-related .product-related-search-wrapper .search-results-wrapper { }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper { position:relative; height:189px; margin:20px 6px 0 15px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper.jspScrollable .jspVerticalBar { background-color: transparent !important; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper.jspScrollable .jspTrack{ background-color: transparent !important; height: 186px !important; }

#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list { float:left; width:180px; height:57px; float:left; position:relative; padding:8px 9px; border:1px solid #FFF; margin:0 8px 1px 0; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list.hover { border:1px solid #51A296; background-color:#F5F5EC; -webkit-box-shadow: inset 0px 0px 6px 0px #81C0B7; box-shadow: inset 0px 0px 6px 0px #81C0B7;  }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list.hover .hoverborder { opacity:0.5 }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list.hover .hover { display:block; z-index:999; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hover { display:none; background-color: #51A296; color: #ffffff; border:0 none; width: 130px; height: 30px; line-height:30px; position:absolute; top:22px; left:34px; font-size: 15px; font-weight:bold; text-align: center; font-family: Arial; border:0 none; -webkit-box-shadow: 2px 2px 0px 0px #000; box-shadow: 2px 2px 0px 0px #000;  cursor: pointer; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder { position:relative; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder .thumb { float:left; width:76px; height:57px; position:relative; margin-right:10px; text-align:center;  }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder .thumb img { max-width:76px; max-height:57px;  }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder .details { float:left; width:94px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder .details .prodname { color:#000; font-size:12px; font-weight:bold; margin-bottom:10px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-wrapper .list .hoverborder .details .desc { color:#AAAAAA; font-size:11px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-pagination-wrapper { height:36px; position:relative; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-pagination-wrapper .page-numbers { float:right; margin:8px 0 0 14px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-pagination-wrapper .page-numbers a { background-color:#CCCCCC; color:#4ABFAE; text-decoration:none; width:21px; height:21px; text-align:center; line-height:21px; display:inline-block; margin-right:5px; -webkit-border-radius: 5px; border-radius: 5px; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-pagination-wrapper .page-numbers a.selected { background-color:#4ABFAE; color:#FFF; }
#tab-related .product-related-search-wrapper .search-results-wrapper .product-listing-pagination-wrapper .pagination-showinfo-wrapper { float:right; color:#444; font-size:12px; line-height:36px; }

#tab-related .selected-product-related-wrapper { }
#tab-related .selected-product-related-wrapper .lbl { color:#990000; font-weight:bold; font-size:12px; margin-bottom:6px; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper { background-color:#F5F5EC; border:1px solid #51A296; width:324px; height:290px; position:relative; -webkit-box-shadow: 0 0 6px 2px #81C0B7 inset; box-shadow: 0 0 6px 2px #81C0B7 inset;  }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .product-listing-inner-wrapper { margin:13px 19px 17px 10px; height:260px; position:relative; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .product-listing-inner-wrapper.jspScrollable .jspVerticalBar { background-color: transparent !important; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .product-listing-inner-wrapper.jspScrollable .jspTrack{ background-color: transparent !important; height: 257px !important; }

#tab-related .selected-product-related-wrapper .product-listing-wrapper .list { height:57px; padding:8px 9px; border:1px solid transparent; width:261px !important; display:inline-block; position:relative; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .list.hover { height:57px; padding:8px 9px; border:1px solid #CCCCCC; background-color:#FFF; border:1px solid #CCCCCC; -webkit-box-shadow: 0 0 6px 0px #F2E1AC inset #F2E1AC; box-shadow: 0 0 6px 0px #F2E1AC inset; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .list .delete-btn { background:url(/cdn/images/store_images/close-btn.png) no-repeat transparent; width:23px; height:23px; position:absolute; top:4px; right:4px; display:none; text-decoration:none;  }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .list.hover .delete-btn { display:block; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .list input { display:none; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .thumb { float:left; width:76px; height:57px; position:relative; margin-right:10px; text-align:center;  }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .thumb img { max-width:76px; max-height:57px; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .details { float:left; width:175px; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .details .prodname { color:#999999; font-size:12px; font-weight:bold; margin-bottom:10px; }
#tab-related .selected-product-related-wrapper .product-listing-wrapper .details .desc { color:#666666; font-size:11px; font-weight:bold; }

#tab-related .selected-product-related-wrapper .product-listing-wrapper .list.hover .prodname,
#tab-related .selected-product-related-wrapper .product-listing-wrapper .list.hover .desc { color:#333333; }

/* SEO */
#popup_wrapper .productentry-box-content #tab-seo label { display:inline-block; width:120px; float:left; line-height:30px; }
#popup_wrapper .productentry-box-content #tab-seo textarea { width:500px; height:65px; overflow:auto; }


.disabled-checkbox { background: url(/cdn/images/disabled-checkbox.jpg); width:13px; height:13px; display:inline-block; margin:0; }


