
.spacer-effect {
background: url('../images/store_images/styx-home-spacer.png') no-repeat scroll 0 0;
width: 808px;
height: 27px;
}

.wallet-main-wrapper{position: relative;width: 968px;height: 697px;display: inline-block;float: left;}

.wallet-menu{list-style: none;
display: block;
margin: 0px;
padding: 0px;
float: left;
height: 75px;
width: 100%;}
.wallet-menu .li{display: inline-block;float: left;}
.wallet-menu .computation-sign{height: 75px;width: 26px;display: inline-block;line-height: 75px;text-align: center;float: left;}
.wallet-menu li button {width: 164px;height: 75px;display: inline-block;float: left;background-color: #F5F5EC;border:1px solid #EBEBDA;color: #999999;position:relative;
    z-index: 2;
}
.color-tooltip{height: 20px;width: 20px;position:absolute;display: none;left:68px;bottom: -10px;z-index:1;
-moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);}
        
.button-content-wraper{width: 968px;height: 622px;position: absolute;top:75px;left:0px;display:none;background-color: #EFEFE2;}
.wallet-menu li:hover .button-content-wraper{display: inline-block;}
.wallet-menu li:hover  button:hover {background-color: #51A296;}
.wallet-menu li:hover  button:hover .color-tooltip{display:inline-block;background-color: #51A296;}

.wallet-buttom-label{font-size: 12px;line-height: 16px;color: #000000;margin-bottom: 6px;}
.wallet-amount{color: #FFFFFF;font-size: 16px;line-height: 20px;font-weight: bold;}
.button-content-wraper h2{font-size: 18px; line-height: 22px;color: #000000;margin-top: 43px;margin-bottom: 10px;display: block;padding: 0px 5px;}
.wallet-list-header{height: 24px;width: 100%;display:block;line-height: 24px;padding: 24px 5px;}

.wallet-list-header span{font-size: 12px;color: #51A296;line-height: 24px;}
.wallet-list-header .span-header1{width: 305px;display: inline-block;float: left;}
.wallet-list-header .span-header2{width: 88px;display: inline-block;float: left;}
.wallet-list-header .span-header3{width: 77px;display: inline-block;float: left;padding: 0px 26px;text-align: center;}
.wallet-list-header .span-header4{width: 128px;display: inline-block;float: left;}
.wallet-list-header .span-header5{width: 67px;display: inline-block;float: left;padding: 0px 20px;}
.wallet-list-header .span-header6{width: 211px;display: inline-block;float: left;}

.wallet-sale-list{list-style: none;padding: 0;margin: 0;}
.wallet-sale-list li{display: block;float: left;border-bottom: 1px solid #D8D8D8;}
.wallet-sale-list li:first-child{border-top: 1px solid #D8D8D8;}
.wallet-sale-list .sale-list-wrapper{height: 61px;width: 968px;display: table;}
.sale-item, .sale-item-vendor, .sale-quantity, .sale-date, .sale-total, .sale-total-wrapper{display: table-cell;vertical-align: middle;}

.sale-item{width: 310px;}
.sale-item .sale-item-pic{width: 50px;
height: 40px;
background-color: #fff;
display: inline-block;
vertical-align: middle;margin-left:5px;margin-right:12px;
-webkit-box-shadow:  1px 1px 3px 1px #cccccc;     
        box-shadow:  1px 1px 3px 1px #cccccc;
        -webkit-border-radius: 3px;
       border-radius: 3px;}
.sale-item .sale-item-title{width: 219px;font-size: 12px;color:#51A296;display: inline-block;vertical-align: middle;}
.sale-item-vendor{font-size: 12px;line-height: 16px;color:#999999;width: 88px;}
.sale-quantity{width: 77px;padding:0px 26px;text-align: center;font-size: 12px;line-height: 16px;color: #999999;}
.sale-date{font-size: 12px;line-height: 16px;color:#999999;width:148px;}
