* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

button { cursor:pointer; 	
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
strong{ font-weight: bold; }

.float-left{float: left !important;}
.float-right{float: right !important;}
/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.relative{ position: relative; }
.absolute{ position: absolute !important;}
.show{display: block !important;}
.input_error{ border: 1px solid red !important; }
.bottom { bottom: 0; }
.top { top: 0 !important; }
.hide{ display: none !important; }

.image-logo{ background-position: left center; background-repeat: no-repeat; background-size: contain; width: 200px; height: 68px; margin: -10px 0 0 0; display: block; }

#ms-wrapper{
	background-color:#666666; float: left; width: 598px; height:558px; position:relative; border: 1px solid; overflow:hidden;
}
#ms-overlay { width:600px; height:560px; background-color:#FFF; position:absolute; z-index:999 !important; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#ms-overlay.low-opacity { filter:alpha(opacity=20); opacity: 0.2; -moz-opacity:0.2; -khtml-opacity: 0.2; }
#ms-modal-window { z-index:9999 !important; position:absolute; background-color:#FFF; border:1px solid #999999; -webkit-box-shadow: 0px 0px 4px 2px #999999; box-shadow: 0px 0px 4px 2px #999999; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
/* notification pop-up*/
#ms-modal-notify { z-index:99999; position:absolute; top:100px; left:38px; width:520px; border: 1px solid #a5a3a4; -moz-box-shadow:0 0 16px #c7d0db; -webkit-box-shadow:0 0 16px #c7d0db; box-shadow:0 0 16px #c7d0db; background-color: #ffffff; 
	-moz-border-radius: 4px; -webkit-border--radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
}
#ms-modal-notify .ms-modal-title-bar { height:80px; background-color:#FBF2E3; clear:none; 
	-moz-border-radius-topleft: 5px/*{cornerRadius}*/; -webkit-border-top-left-radius: 5px/*{cornerRadius}*/; -khtml-border-top-left-radius: 5px/*{cornerRadius}*/; border-top-left-radius: 5px/*{cornerRadius}*/;
	-moz-border-radius-topright: 5px/*{cornerRadius}*/; -webkit-border-top-right-radius: 5px/*{cornerRadius}*/; -khtml-border-top-right-radius: 5px/*{cornerRadius}*/; border-top-right-radius: 5px/*{cornerRadius}*/;
	-moz-border-radius-bottomleft: 0px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 0px/*{cornerRadius}*/; border-bottom-left-radius: 0px/*{cornerRadius}*/;
	-moz-border-radius-bottomright: 0px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/; border-bottom-right-radius: 0px/*{cornerRadius}*/;
}
#ms-modal-notify .ms-modal-title { color:#999; line-height:80px; font-size:28px; font-weight:bold; margin:0 0 0 45px; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#ms-modal-notify .ms-modal-message-bar { width:408px; padding:20px 46px 30px; }
#ms-modal-notify .ms-modal-message-bar p { font-size: 14px; line-height: 20px; margin-bottom: 0; margin-top: 8px; color:#F00}

#ms-modal-window.option { width: 400px; height:340px; }
#ms-modal-window.whattodonext { width:500px; height:200px; }
#ms-modal-window .content { position:relative; width:100%; height:100%; }
#ms-modal-window .content .header-lbl { height:40px; background-color:#666666; color:#FFF; font-size:16px; font-weight:bold; line-height:40px; padding-left:14px; position:relative; }
#ms-modal-window .content .header-lbl .btn-close { color:#FFF; cursor:pointer; font-size:12px; font-weight:normal; text-decoration:underline; position:absolute; top:0; right:11px; }
#ms-modal-window .content .btns { margin:66px 0 0 25px; }
#ms-modal-window .content .btns a { display:inline-block; padding:0 15px; margin-right:10px; text-align:center; height:28px; line-height:28px; background-color:#666666; border:1px solid #000; font-size:16px; font-weight:bold; }
#ms-modal-window .option.scroller { width:377px; height:231px; overflow:hidden; position:relative; margin:16px 8px 0 15px; color:#666666; font-size:12px; }
#ms-modal-window .scroller .jspVerticalBar { background-color: transparent !important; width:12px !important; }
#ms-modal-window .scroller .jspTrack { background-color: transparent !important; height: 228px !important; border: 1px solid #CCCCCC; width: 10px; margin-right: 4px;}
#ms-modal-window .scroller .jspDrag { background-color: #CCCCCC !important; }
#ms-modal-window button.addtocart { width:148px; height:28px; background-color:#666666; border:1px solid #000; color:#FFF; font-size:16px; font-weight:bold; float:right; margin:12px 8px 0 0; }
#ms-modal-window .ms-mainoption { border-bottom: 1px solid #F0F0F0; padding:0 0 12px 12px; margin-bottom:5px; width:343px; }
#ms-modal-window .ms-mainoption .lbl { font-weight:bold; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper { }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value {  margin-right:5px; margin-top:6px; float:left; position:relative; overflow:hidden; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value input { width:32px; height:30px; position:absolute; top:-4px; left:-3px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.color { }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.color .option-value { width:20px; height:20px; border:3px solid #FFF; text-align:center; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.color .option-value.selected { border:3px solid #000; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.color .option-value input { }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.size { }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.size .option-value { width:26px; height:21px; line-height:21px; border:1px solid #999999; text-align:center; color:#333333; font-size:11px; font-weight:bold; margin-top:7px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.size .option-value.selected { border:3px solid #000; margin-top:5px; height:22px; line-height:22px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.size .option-value input {  }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.checkbox,
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.radio,
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.dropdown { margin-top:3px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper.messagebox { padding: 10px; line-height:1.2em; border:2px solid #CCCCCC; border-radius:3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value-lbl { margin-bottom:17px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value-lbl.nomargin { margin-bottom:0; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value-lbl input { margin-right:5px; }
#ms-modal-window .ms-mainoption .ms-mainoption-value-wrapper .option-value-lbl span { position:relative; top:-1px; }
#ms-modal-window .ms-mainoption .ms-mainoption { margin:18px 0 0 18px; padding:9px 0 7px 15px; border-bottom:0 none; border-left:1px solid #F0F0F0; width:auto; }
#ms-modal-window .ms-mainoption .ms-mainoption.checkbox,
#ms-modal-window .ms-mainoption .ms-mainoption.radio { margin-top:9px; }


.customized_select { border:1px solid #CCCCCC; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; width:178px; height:24px; width:95%; }
.customized_select.disabled { background-color: #888888; }
.customized_select select { width:100%; height:100%; line-height:24px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.customized_select div { color:#333333; font-size:12px; width:100%; height:100%; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding-left:5px; background:url("/cdn/images/ministore_images/ms-bg-select.png") no-repeat scroll right center transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

#ms-header{float: left; height: 83px; width: 598px; position: relative; }
#ms-header h1{ float: left; margin: 18px 0 2px 15px; font-size: 32px; max-width: 300px; }
#ms-header h1 a{ font-size: 32px; text-decoration: none; color: #ffffff; cursor:pointer; position: relative; z-index: 20; white-space: nowrap; }
#ms-header .store-name-wrapper{ float: left; margin: 10px 0 0 10px; position: relative; z-index: 10; }
#ms-header .store-name-wrapper h1{ margin: 0 !important; max-width: 320px; padding: 8px 5px; box-shadow: 0 4px 4px -2px #000; -moz-box-shadow: 0 4px 4px -2px #000; -webkit-box-shadow: 0 4px 4px -2px #000;}
#ms-quote { float: left; margin-left: 15px; font-size: 11px; clear: both;}

#ms-header .mbtn { position:absolute; top:0; right:0; z-index:20; }
#ms-header .btn { display:block; width:48px; height:53px; float:left; cursor:pointer;
	-moz-border-radius-topleft: 0px/*{cornerRadius}*/; -webkit-border-top-left-radius: 0px/*{cornerRadius}*/; -khtml-border-top-left-radius: 0px/*{cornerRadius}*/; border-top-left-radius: 0px/*{cornerRadius}*/;
	-moz-border-radius-topright: 0px/*{cornerRadius}*/; -webkit-border-top-right-radius: 0px/*{cornerRadius}*/; -khtml-border-top-right-radius: 0px/*{cornerRadius}*/; border-top-right-radius: 0px/*{cornerRadius}*/;
	-moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/;
	-moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/;
}
#ms-header-cart { margin-right:7px; background-image:url(/cdn/images/ministore_images/ms-cart-icon.png); background-repeat:no-repeat; background-position:center center; }
#ms-header-magnify { margin-right:6px; background-image:url(/cdn/images/ministore_images/magnify.png); background-repeat:no-repeat; background-position:center center; }
#ms-header-account { min-width:120px; height:33px; padding:10px 9px 10px 11px; float:left; position:relative; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; 
	filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9; }
#ms-header-account:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#ms-header-account .thumb { width:28px; height:28px; border:0 none; padding:3px 3px; margin-right:5px; float:left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#ms-header-account .user-name { margin-top:3px; margin-bottom:4px; font-weight:bold; height:12px; width:78px; position:relative; text-overflow: ellipsis; white-space:nowrap; overflow:hidden; }
#ms-header-account .login-status { font-size:11px; }
#ms-header-account.loggedin .thumb { width:35px; height:35px; padding:0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
#ms-header-account.loggedin .login-status { text-decoration:underline; }
#ms-header-cartitems { font-size:11px; margin-top:5px; }
#ms-header-login, #ms-header-logout { cursor:pointer; }
#ms-header-account .submenu { width:201px; padding-bottom: 10px; position:absolute; top:55px; right:0; 
	-moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/;
	-moz-border-radius-topright: 0px/*{cornerRadius}*/; -webkit-border-top-right-radius: 0px/*{cornerRadius}*/; -khtml-border-top-right-radius: 0px/*{cornerRadius}*/; border-top-right-radius: 0px/*{cornerRadius}*/;
	-moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/;
	-moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/;
-webkit-box-shadow: -4px 3px 3px 0px #DDD;
box-shadow: -4px 4px 4px 0px #DDD; 
}
#ms-header-account .submenu ul { margin:0 0 0 15px; width:170px; float:left; list-style:none none; padding:0; }
#ms-header-account .submenu ul li.noborder { border:0 none; }
#ms-header-account .submenu .ms-loggedin li { padding-left:8px; }
#ms-header-account .submenu .ms-loggedin li a { font-size:14px; text-decoration:underline; line-height:47px; }
#ms-header-account .submenu .ms-loggedin li a:hover { text-decoration:none; filter:alpha(opacity=7); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
#ms-header-account .submenu .ms-loggedin li:nth-child(2) { padding:8px 0 15px 8px; }
#ms-header-account .submenu .socials { width:38px; height:37px; cursor:pointer; float:left; display:block; margin:7px 9px 0 0; background:url(/cdn/images/ministore_images/ms-social-icon.png) no-repeat scroll; border:4px solid #D6CEC9; -webkit-border-radius: 4px; border-radius: 4px;  }
#ms-header-account .submenu .socials.yahoo { background-position: -38px 0; }
#ms-header-account .submenu .socials.gplus { background-position: -76px 0; margin-right:0; }
#ms-header-account .submenu .ms-notloggedin { list-style-image:url(/cdn/images/ministore_images/ms-newwindow-icon.png); list-style-position:inside; }
#ms-header-account .submenu .ms-notloggedin li { padding:9px 0 0; position:relative; z-index: 20;}
#ms-header-account .submenu .ms-notloggedin li a { position:relative; top:-4px; }
#ms-header-account .submenu .ms-notloggedin li:nth-child(1) { line-height:33px; height:33px; padding:0; padding-left:4px; list-style:none none; }


#ms-header-login { height:47px; line-height:47px; }
.register-link { line-height:54px; }

#ms-header-account .submenu .bordertop-bg { width:140px; height:5px; position:absolute; top:-5px; right:0; }

#ms-shopingcart { 
	background-color: #e0e0e0; cursor:pointer; position: absolute; top: 0; left: 368px; width: 140px; height: 53px; text-align: center; 
	border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px;
	filter:alpha(opacity=7); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;
}
#ms-shopingcart .shopcart{ float: left; text-align: center; font-weight:bold; color: #663366; font-size: 14px; line-height: 30px; width: 100%;}
#ms-shopingcart .item{ float: left; text-align: center; color: #666666; font-size: 11px; width: 100%;}
#ms-shopingcart:hover { filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; }

#ms-magnify{ 
	background: url("/cdn/images/ministore_images/magnify.png") no-repeat scroll 10px 11px #663366; width: 48px; height: 53px; cursor: pointer;
	position: absolute; top: 0; right: 31px; border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px;
}
.ms-magnify-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 48px; height: 53px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
#ms-magnify:hover .ms-magnify-hover{ display: block; cursor: pointer}
#ms-content{ float: left; width: 598px; min-height: 390px; height:421px; position:relative; overflow:hidden; }

/* begin categories */
#ms-cat-lists{ float: left; width: 100%; height: 421px; }
#ms-cat-lists li{ 
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; float: left;
	width: 198px; height: 200px; margin: 1px; position: relative; -moz-box-shadow:0 0 6px 2px #CCCCCC inset; -webkit-box-shadow:0 0 6px 2px #CCCCCC inset; box-shadow:0 0 6px 2px #CCCCCC inset;
}
.slimScrollDiv { position: relative !important; }
.ms-cat-list-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 198px; height: 200px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
#ms-cat-lists li:hover .ms-cat-list-hover{ display: block; cursor: pointer}
.ms-cat-top{
	float: left; position: relative; width:172px; height: 144px; padding: 0 13px; cursor: pointer;
}
.ms-cat-info{ 
	background-color: #663366; float: left; position: relative; left:0; width: 172px; height: 56px; 
	filter:alpha(opacity=8); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; display: block; padding: 0 13px;
}
.ms-subcat-info{ float: left; position: absolute; left: 0; bottom: 0; width: 100%; height: 56px; padding: 0;}
ul.ms-subcat-list{ 
	float: left; width: 198px; height: 144px; position: absolute; top: 0; display: none; overflow: hidden;
	filter:alpha(opacity=8); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; z-index: 99 !important;
}
ul.ms-subcat-list li{ background-color: #663366; float: left; width: 174px !important; height: 35px !important; line-height: 36px; padding: 0 12px; border-top: 1px solid #aaaaaa; margin: 0 !important; font-size: 16px; }
ul.ms-subcat-list li a{ font-size: 16px; color: #ffffff; text-decoration: none;}
ul.ms-subcat-list li a:hover{ font-size: 16px; text-decoration: underline;}
ul.ms-subcat-list li a:hover span{ text-decoration: underline;}
ul.ms-subcat-list li a .subcat_N { float: left; max-width: 146px; text-overflow: ellipsis; white-space: nowrap; }
.ms-category-slide .slimScrollDiv { position: absolute !important; top: 56px !important; }
.slimScrollBar { z-index: 100 !important; right: 4px !important;}
.ms-cat-name{ float: left; font-size: 25px; height: 27px; overflow: hidden; padding: 7px 0 0; text-overflow: ellipsis; white-space: nowrap; width: 172px; }
.ms-cat-name a { text-decoration: none; color: #ffffff;}
.ms-cat-name a:hover { text-decoration: underline; }
.ms-search-info{ float: left; font-size: 14px; padding-top: 21px; }
.ms-cat-quantity{ float: left; font-size: 12px; clear: both; margin-top: 2px;}


.cat_list_type1{ width: 298px !important; height: 421px !important; }
.cat_list_type1 .ms-cat-list-hover{ width: 298px !important; height: 421px !important; }
.cat_list_type1 ul.ms-subcat-list{ width: 298px !important; }
.cat_list_type1 ul.ms-subcat-list li { width: 274px !important; }
.cat_list_type1 .ms-cat-info{ width: 272px !important; }
.ms-cat-top_1{ height: 365px; width: 272px; }
.cat_list_type1_1{ margin: 1px 1px 1px 0 !important; }

.cat_list_type2{ width: 298px !important; height: 421px !important; }
.cat_list_type2 .ms-cat-list-hover{ width: 298px !important; height: 421px !important; }
.cat_list_type2 ul.ms-subcat-list li { width: 274px !important; }
.cat_list_type2 .ms-cat-info{ width: 272px !important; }
.ms-cat-top_2{ height: 365px; width: 272px; }
.cat_list_type2_1{ margin: 1px 1px 1px 0 !important; }
.cat_list_type2_2{ margin: 1px 0 1px 1px !important; }

.cat_list_type3{ width: 198px !important; height: 421px !important; }
.cat_list_type3 .ms-cat-list-hover{ width: 198px !important; height: 421px !important; }
.cat_list_type3 ul.ms-subcat-list li { width: 174px !important; }
.cat_list_type3 .ms-cat-info{ width: 172px !important; }
.ms-cat-top_3{ height: 365px; width: 172px; }
.cat_list_type3_1{ margin: 1px 1px 1px 0 !important; }
.cat_list_type3_2{ margin: 1px 1px !important; }
.cat_list_type3_3{ margin: 1px 0 1px 1px !important; }

.cat_list_type4{ width: 298px !important; height: 210px !important; }
.cat_list_type4 .ms-cat-list-hover{ width: 298px !important; height: 210px !important; }
.cat_list_type4 ul.ms-subcat-list li { width: 274px !important; }
.cat_list_type4 .ms-cat-info{ width: 272px !important; }
.ms-cat-top_4{ height: 154px; width: 272px;}
.cat_list_type4_1, .cat_list_type4_3{ margin: 1px 1px 0 0 !important; }
.cat_list_type4_2, .cat_list_type4_4{ margin: 1px 0 0 1px !important; }

.cat_list_typemore ul.ms-subcat-list li { width: 295px !important; }

.cat_list_typemore{ width: 198px !important; height: 210px !important; }
.cat_list_typemore .ms-cat-list-hover{ width: 198px !important; height: 210px !important; }
.cat_list_typemore ul.ms-subcat-list li { width: 174px !important; }
.cat_list_typemore .ms-cat-info{ width: 172px !important; }
.ms-cat-top_more{ height: 154px; width: 172px; }
.cat_list_typemore{ margin: 1px 0 0 1px !important; }

/* end categories */

/* begin product listing */
#ms-for-title-and-search{ float: left; position: relative; width: 598px; z-index: 1;}
#image-slideshow-wrapper #ms-for-title-and-search{ z-index: 99;}
#ms-cat-title-wrapper, #ms-prod-title-wrapper, #ms-search-container{ float: left; display: table; position: relative; width: 583px; padding: 0 0 0 15px; margin: 0; height: 56px; z-index: 1;}
#ms-search-container { z-index: 10; }
#image-slideshow-wrapper .search-bg-wrapper{ position:absolute; top: 0; left: 0; height: 560px; width: 600px; opacity: 0.8;}
.ms-back, .ms-back-to-list{ font-size: 11px; right: 15px; top: 20px; text-decoration: none; width: 84px; height: 15px; position: absolute; }
.ms-back:hover{text-decoration: underline;}
.ms-line{ position: absolute; width: 22px; height: 3px; right: 0; top: 0;}
.ms-line2{ top: 6px;  }
.ms-line3{ top: 12px;  }
.ms-product-list { float: left; width: 600px; height: 363px; position: relative;}
.ms-product-list li{ border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff;
	background-color: #ffffff; float: left; width: 298px; height: 170px; position: relative;
}
.list-box-shadow{
	 background-color: transparent; position: absolute; z-index: 1; top:0; left:0; width: 298px; height: 170px; -moz-box-shadow:0 0 6px 2px #CCCCCC inset; -webkit-box-shadow:0 0 6px 2px #CCCCCC inset; box-shadow:0 0 6px 2px #CCCCCC inset;
}
.product-info-wrapper{
	float: left;
	width: 176px;
	height: 142px;
	padding: 17px 13px 11px 108px;
	
}
/*
.ms-product-list li.list1{border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff; margin-left: 1px;}
.ms-product-list li.list2{border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; margin-left: -1px;}
.ms-product-list li.list3{border-right: 1px solid #ffffff; margin-left: 1px;}
.ms-product-list li.list4{border-left: 1px solid #ffffff; margin-left: -1px;} */

.ms-product-photo{
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; float: left; position: absolute;
	height: 170px; width: 98px; z-index: 0; left: 0; top: 0; -moz-box-shadow:2px 0 6px 1px #CCCCCC; -webkit-box-shadow:2px 0 6px 1px #CCCCCC; box-shadow:2px 0 6px 1px #CCCCCC;
}
.ms-product-photo-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; height: 170px; width: 98px;
	filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; z-index: 2;
}
.now-sale{ position: absolute; top: 0; right: 0; width: 50px; height: 20px; line-height: 20px; text-align: center; font-weight: bold; }
.sponsored{ position: absolute; bottom: 0; left: 0; width: 98px; height: 28px; padding-top: 2px; text-align: center; 
	filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.ms-product-photo-hover:hover { cursor: pointer; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; }
.ms-product-photo:hover .ms-product-photo-hover{ display: block; cursor: pointer}
.ms-product-title{ float: left; font-size: 16px; font-weight: bold; color: #663D66; margin: 0 0 6px 0; width: 176px; max-height: 50px; }
.ms-product-title:hover{ text-decoration: underline; cursor: pointer; }
.ms-product-price{ float: left; font-size: 12px; font-weight: bold; color: #663D66; margin: 0; width: 176px; }
.ms-short-description{ float: left; font-size: 12px; color: #666666; margin: 10px 0 0 0; width: 140px; height: 44px; overflow: hidden; line-height: 14px;}
.ms-more-info-btn{ position: absolute; bottom: 11px; right: 18px; font-size: 12px; cursor: pointer; width: 80px; height: 21px; line-height: 20px; color: #ffffff; border: 0 none; }
.mini-sale-price{ float: left; font-size: 12px; font-weight: bold; margin-right: 6px; }
.mini-base-price{ float: left; font-size: 11px; text-decoration: line-through; }
/* end product listing */

/* begin search */
.ms-search-name{ float: left; font-size: 16px; padding: 20px 0 0 0; position: absolute; z-index: 2;}
.ms-search{ position: absolute; width: 360px; height: 30px; left: 78px; top: 13px; border: 1px solid; padding-left: 120px; padding-right: 38px;}

.searchby{ 
	background: #666666 url("/cdn/images/ministore_images/drop-down-btn.png") no-repeat scroll 94px 12px;
	width: 113px; height: 28px; border-left: 0 none; border-top: 0 none; border-bottom: 0 none; border-right: 1px solid #663D66;
	position: absolute; left: 79px; top: 14px; font-size: 11px; z-index: 10; font-weight: normal; line-height: 28px;
	text-align: left; text-indent: 5px; overflow: hidden; color: #FFFFFF;
}
.ms-search-btn{ 
	background: url("/cdn/images/ministore_images/ms-search.png") no-repeat scroll center center #666666; position:absolute; 
	width: 30px; height: 30px; display: block; top: 13px; left: 409px; border: 0 none; cursor: pointer;
}
.ms-cancel-link{position: absolute; text-decoration: underline; top: 23px; left: 452px; font-size: 11px; color: #ffffff;}
/* end search */

/* begin pagination vertical *//*
#ms-pagination-horizon{position: absolute; right: 0; top: 68px;  height: 340px; width: 45px;}
#ms-pagination-horizon .ms-page-lbl{float: left; font-size: 10px; width: 100%; margin-left: -8px; padding-bottom: 8px; padding-bottom: 8px;}
#ms-pagination-horizon ul{ float: left; }
#ms-pagination-horizon ul li{ margin-bottom: 8px; }
#ms-pagination-horizon ul li a{text-decoration:none; width: 10px; height: 10px; border: 1px solid #ffffff; display: block; }
#ms-pagination-horizon ul li a span{display: none; color: #ffffff; margin-left: 18px; margin-top: -2px;}
#ms-pagination-horizon ul li a.selected {background-color: #ffffff;}
#ms-pagination-horizon ul li a.selected span{display: block}*/

#ms-pagination-horizon{position: absolute; right: 12px; top: 24px;  height: auto;}
#ms-pagination-horizon .ms-page-lbl{float: left; font-size: 10px; width: 100%; margin-left: -8px; padding-bottom: 8px; padding-bottom: 8px;}
#ms-pagination-horizon span.next{ float: right; margin-left: 8px; }
#ms-pagination-horizon span.prev{ float: left; margin-right: 8px; }
#ms-pagination-horizon span.next a, #ms-pagination-horizon span.prev a{ text-decoration: none; font-size: 11px; }
#ms-pagination-horizon span.next a:hover, #ms-pagination-horizon span.prev a:hover{ text-decoration: underline; }
#ms-pagination-horizon ul{ float: left; }
#ms-pagination-horizon ul li{ float: left; margin: 0 4px; width: 10px; height: 10px;}
#ms-pagination-horizon ul li a{text-decoration:none; width: 10px; height: 10px; border: 1px solid; display: block; }
#ms-pagination-horizon ul li a span{display: none; color: #ffffff; margin-left: 18px; margin-top: -2px;}
#ms-pagination-horizon ul li a.selected {background-color: #ffffff;}
#ms-pagination-horizon ul li a.selected span{display: block; margin: 0; position: absolute; top: -12px; font-size: 11px; width: 10px; text-align: center; }

/* end pagination vertical */ 

/* begin product details */
.ms-prod-name{ display: table-cell; font-size: 22px; vertical-align: middle; width: 516px; }
.ms-prod-price, .ms-border{ float: left; font-size: 16px; padding: 21px 0 0 15px;}
.ms-buynow-wrapper { float:right; }
.ms-buynow-wrapper.hide { display:none; }
.ms-buynow-btn{ background-color: #666666; font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; cursor: pointer; width: 98px; height: 28px; line-height: 26px; border: 1px solid #ffffff; color: #ffffff; float:right; }
.ms-buynow-position {margin-top: 13px; margin-left: 10px; padding-bottom: 2px; }
.ms-buynow-position:hover {  -webkit-box-shadow: 0px 0px 4px 2px #CCCCCC; box-shadow: 0px 0px 4px 2px #CCCCCC; border: 1px solid #ffffff; }
.ms-buynow-qty-wrapper { float:right; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; line-height:17px; margin-top:2px; }
.ms-buynow-qty-wrapper input { border: 1px solid #FFFFFF; width:38px; height:22px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.ms-addtocart-wrapper { float: left; width: 100%; position: relative; }
.ms-addtocart-wrapper.hide { display:none; }
.ms-addtocart-wrapper .qty-wrapper { margin-bottom:8px; }
.ms-addtocart-wrapper .qty-wrapper label { position: absolute; left: 10px; top: 13px; font-weight: bold; }
.ms-addtocart-wrapper .qty-wrapper input { position: absolute; left: 0; top: 27px; font-weight: bold; width:38px; height:22px; background-color:transparent; border:1px solid; text-align: center; }
.ms-addtocart-wrapper .ms-addtocart-btn { position: absolute; left: 50px; top: 15px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; width:120px; height:40px; text-align:center; border: 0 none; }
.ms-gift{ background: url("/cdn/images/webstore_images/gift_icon.png") no-repeat scroll 0 0 transparent; width: 36px; height: 42px; display: block; position: absolute; right: 6px; top: 14px; }

.ms-back-to-list { top: 60px; width: 72px; z-index: 10; }
.ms-back-to-list:hover {text-decoration: underline;}
#ms-details { background-color: #ffffff; float: left; width: 516px; height: 347px; margin-left: 1px; display:none; }
#ms-info-main{ float: left; width: 598px; height: 363px; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; }
#ms-info-main .jspVerticalBar {background-color: transparent !important;}
#ms-info-main .jspTrack{ height: 309px; border: 1px solid #666666; width: 10px; margin-right: 4px;}
#ms-info-main .jspDrag { background-color: #663D66 !important; }

#ms-v-menu{ float: left; width: 70px; height: 300px; }
#ms-v-menu li{
	float: left; width: 70px; height: 60px; text-align: center; line-height: 34px; font-size: 11px; cursor: pointer;
	border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;
}
#ms-v-menu li.ms-li-info{ background: url("/cdn/images/ministore_images/ms-icons.png") no-repeat scroll 0 0 transparent; }
#ms-v-menu li.ms-li-image{ background: url("/cdn/images/ministore_images/ms-icons.png") no-repeat scroll -70px 0 transparent; }
#ms-v-menu li.ms-li-video{ background: url("/cdn/images/ministore_images/ms-icons.png") no-repeat scroll -140px 0 transparent; }
#ms-v-menu li.ms-li-audio{ background: url("/cdn/images/ministore_images/ms-icons.png") no-repeat scroll -210px 0 transparent; }
#ms-v-menu li.ms-li-related{ background: url("/cdn/images/ministore_images/ms-icons.png") no-repeat scroll -280px 0 transparent; }
#ms-v-menu li.active{background-color: #ffffff; color: #663D66; cursor: default;}
.ms-details-left{ float: left; position: relative; z-index: 0; width: 364px; height: 364px; -moz-box-shadow: 0 0 5px #CCCCCC; -webkit-box-shadow: 0 0 5px #CCCCCC; box-shadow: 0 0 5px #CCCCCC;}
.ms-details-image-holder { 
	background-color: transparent; background-position: center 50%; background-repeat: no-repeat; position: relative;
	width: 189px; height: 137px; 
}
.ms-d-image-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 189px; height: 137px; 
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.ms-details-image-holder:hover .ms-d-image-hover{ display: block; cursor: pointer}

#details-slideshow-wrapper, #video-wrapper{float: left; position: relative; border-top: 1px solid #ccc; height: 262px;width: 363px;display: block;z-index: 1;
}
#details-slideshow{
height: 262px;width: 363px;display: block;
}
#details-sale-tag{height: 20px; position: absolute; top:0; right: 0px; z-index: 999;}
#details-saving{ display: inline-block; line-height: 18px; margin-left: 5px; min-width: 90px; padding: 0 5px; }

.gv_galleryWrap{padding:0 !important; background-color: transparent !important;}
.gv_showOverlay, .gv_infobar{display: none !important;}
.gv_navPrev {position:absolute; left: 12px !important; top: 140px; }
.gv_navNext {position:absolute; left: 322px !important; top: 140px; }
.gv_filmstripWrap{ bottom: -12px !important; }

#video-photos-btn-wrapper{display: block;
    position: absolute;
    text-align: right;
    top: 0;
    width: 364px;
	height: 18px;}
#video-photos-btn-wrapper .video-btn, #video-photos-btn-wrapper .photo-btn{ font-size: 11px; height: 18px; line-height: 18px; padding: 4px 22px; position: relative; width: 70px; margin-right: -2px; z-index: 10; cursor: pointer; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
#video-photos-btn-wrapper .video-btn:hover, #video-photos-btn-wrapper .photo-btn:hover, #video-photos-btn-wrapper .selected{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#video-wrapper h3{ float: left; width: 100%; text-align: center; font-size: 22px; margin-top: 42px;}
/*
.ms-details-option-lbl{ float: left; padding: 14px 0 0 5px; color: #666666; clear: both; font-weight: bold; }
.ms-details-color, .ms-details-size{ float: left; padding: 15px 0 0 5px; color: #663D66; clear: both; }
.ms-details-color label, .ms-details-size label{ float: left; width: 100%; margin-bottom: 9px; font-weight: bold; }
.ms-details-color .ms-color, .ms-details-size .ms-size{float: left; width: 23px; height: 23px; border: 1px solid #666666; margin-right: 5px; margin-top: 1px; text-align: center; line-height: 23px; cursor: pointer;}
.ms-details-color .active, .ms-details-size .active { border: 2px solid #663D66; margin-top: 0; cursor: default; }
*/
.ms-details-right{ float: left; width: 217px; height: 336px; padding: 12px 0 15px 17px; }
.ms-details-right .ms-price-now{ float: left; font-size: 16px; margin-right: 12px; font-weight: bold; margin-bottom: 7px; }
.ms-details-right .ms-price-before{ float: left; font-size: 11px; text-decoration: line-through; line-height: 16px; }
.ms-details-right-content{ float: left; color: #666666; line-height: 16px; height: 260px; width: 206px; padding-right: 13px; position: relative; }
.ms-details-right .jspVerticalBar {background-color: transparent !important; height: 258px !important;}
.ms-details-right .jspTrack{ border: 1px solid; width: 10px; height: 258px !important;}
.ms-details-right .jspDrag { background-color: #663D66 !important; }

.ms-image-regular{ 
		background-color: transparent; background-position: center 50%; background-repeat: no-repeat; 
		float: left; width: 464px; height: 345px; margin: 1px; display: none;
}
#ms-image-carousel{ float: left; width: 38px; margin: 16px 0 16px 6px; top: 0 !important; }
#ms-image-carousel li{
	background-color: transparent; background-position: center 50%; background-repeat: no-repeat; 
	float: left; margin: 3px 5px; width: 28px; height: 20px; cursor: pointer;
}
#ms-image-carousel li.active{	border: 5px solid #663D66; margin-left: 0px; }
#ms-details .jcarousel-skin-tango-small { float: left; width: 38px; margin: 16px 0 16px 6px; padding: 26px 0; }
.img-no-carousel{ margin-left: 6px !important; margin-top: 4px !important; }
.ms-video-wrapper{ float: left; width: 514px; height: 340px; border: 1px solid #ffffff; }
.ms-related-products-list{ float:left; width: 516px; height: 346px; overflow: hidden;}
.ms-related-products-list li{ float: left; width: 516px; height: 120px; margin: 1px 0; }
.ms-related-products-list li .ms-related-image{ 
	background-color: transparent; background-position: center 50%; background-repeat: no-repeat; position: relative;
	float: left; border-left: 10px solid #663D66; width: 110px; height: 120px; border-bottom: 1px solid #666666;
}
.ms-related-image-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 110px; height: 120px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.ms-related-products-list li .ms-related-image:hover .ms-related-image-hover{ display: block; cursor: pointer}
.ms-related-products-list li .ms-related-info{ float: left; position: relative; width: 344px; height:120px; margin-right: 19px; padding-left: 19px; border-bottom: 1px solid #666666;}
.ms-related-products-list li .ms-related-info h2{ float: left; font-size: 16px; font-weight: bold; color: #663D66; padding-top: 10px; }
.ms-related-products-list li .ms-related-info h2:hover{ text-decoration: underline; cursor: pointer; }
.ms-related-products-list li .ms-related-info .price{ float: left; font-size: 12px; font-weight: bold; color: #663D66; padding-top: 4px; width: 100%; }
.ms-related-products-list li .ms-related-info .ms-description{ float: left; font-size: 12px; color: #666666; width: 245px; padding-top: 13px; line-height: 16px; }
.ms-related-products-list li .ms-related-info .ms-more-info-btn{ position: absolute; bottom: 2px; right: 21px; }
.ms-related-products-list .jspVerticalBar {background-color: transparent !important; margin-top: 14px; margin-right: 8px;}
.ms-related-products-list .jspTrack{ background-color: transparent !important; height: 317px !important; border: 1px solid #666666; width: 10px; overflow: hidden;}
.ms-related-products-list .jspDrag { background-color: #663D66 !important; }

.ms-audio-wrapper div.jp-audio { width: 514px; margin-top: 1px; }
.ms-audio-wrapper div.jp-audio, .ms-audio-wrapper  div.jp-audio-stream, .ms-audio-wrapper  div.jp-video { border: 1px solid #663366; }
.ms-audio-wrapper div.jp-audio div.jp-type-single div.jp-progress { width: 226px; left: 140px;}
.ms-audio-wrapper div.jp-audio ul.jp-controls { width: 462px; padding: 20px 26px 0;}
.ms-audio-wrapper div.jp-audio div.jp-volume-bar { left: 390px; }
.ms-audio-wrapper div.jp-audio a.jp-volume-max, .ms-audio-wrapper div.jp-audio-stream a.jp-volume-max { margin-left: 116px; }
.ms-audio-wrapper a.jp-play, .ms-audio-wrapper a.jp-pause { margin-left: 10px; }
.ms-audio-wrapper div.jp-audio div.jp-type-single div.jp-time-holder { left: 140px; width: 226px; }


.wdgt-share{ background: url("/cdn/images/webstore_images/share.png") no-repeat scroll 0 0 transparent; width: 35px; height: 35px; cursor: pointer; position: absolute; bottom: 10px; right: 5px; z-index: 10; }

#wdgt-sharebox, #wdgt-wishlistbox{ position: absolute; top: 48px; right: -2px; width: 288px; height: 112px; z-index: 999999; border-right: 2px solid #000000; border-bottom: 2px solid #000000;
				display: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; }
.wdgt-sharebox-arrow-top, .wdgt-wishlistbox-arrow-top{ width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; top: -14px; left: 258px; }
.wdgt-share-lbl, .wdgt-wishlist-lbl { float: left; font-size: 14px; font-weight: bold; margin: 17px 0 0 23px; }
#wdgt-sharebox ul{float: left; margin: 18px 0 0 22px}
#wdgt-sharebox ul li{ float: left; list-style-type: none; width: 43px; height: 43px; margin-right: 8px; }
#wdgt-sharebox ul li img{ width: 43px; height: 43px; }
#wdgt-sharebox ul li img.active, #wdgt-sharebox ul li img:hover{ cursor: pointer; }

#wdgt-wishlistbox{ width: 233px; height: 110px;}
.wdgt-wishlistbox-arrow-top{ left: 186px; }
.wdgt-wishlist-lbl { margin: 16px 0 0 24px; }
#wdgt-wishlistbox ul{float: left; margin: 10px 0 0 22px}
#wdgt-wishlistbox ul li{ float: left; position: relative; list-style-type: none; width: 48px; height: 40px; margin-right: 22px; }
#wdgt-wishlistbox ul li span{ position: absolute; width: 46px; height: 38px; display: block; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-wishlistbox ul li img{ position: absolute; z-index: 1; top: 6px; left: 8px; }
#wdgt-wishlistbox ul li span label{ position: absolute; top: 41px; font-weight: bold; width: 100%; display: block; text-align:center; }
#wdgt-wishlistbox ul li.active span, #wdgt-wishlistbox ul li:hover{ cursor: pointer; }

.share-now:hover #wdgt-sharebox{ display: block; }
.wdgt-sharebox-box-top, .wdgt-wishlistbox-top {background-color: transparent; position: absolute; height: 16px; width: 100%; top: -16px; left: 0;}
.wishlist-now:hover #wdgt-wishlistbox{ display: block; left: 0;}

.psd-heart-btn {
	background: url("/cdn/images/webstore_images/heart.png") no-repeat scroll 0 0 transparent;
	border: 0 none; cursor: pointer; display: inline-table; height: 35px; position: absolute; bottom: 10px; right: 35px;
    vertical-align: middle; width: 35px;}
.psd-heart-btn:hover #wdgt-wishlistbox{ display: block !important; top: 46px; right: -18px; border-top: none; border-left: none; border-bottom: 2px solid; border-right: 2px solid; }
.psd-heart-btn:hover #wdgt-wishlistbox ul li span label{ position: relative; }

/* end product details */

/* Cart Listing */
.ms-link-wrapper { position:absolute; right:13px; top:13px;  }
.ms-link-wrapper a { float:right; cursor:pointer; }
.ms-link-wrapper a.continueshopping { text-decoration:underline; margin:11px 14px 0 0; }
.ms-link-wrapper a.continueshopping:hover { text-decoration:none; }

.ms-cart-wrapper { width:100%; height:321px; position:relative; float:left; }
.checkoutprocess-wrapper.placeorder .ms-cart-wrapper { height:auto; }

.ms-cart-wrapper .ms-cart-innerwrapper { height:290px; margin:17px 0 0 15px; }
.ms-cart-wrapper .ms-cart-innerwrapper .scrollbar { width:585px; height:290px; }
.ms-cart-wrapper .ms-cart-innerwrapper .scrollbar.jspScrollable .jspVerticalBar { background-color: transparent !important; width:12px !important; right:2px !important; }
.ms-cart-wrapper .ms-cart-innerwrapper .scrollbar.jspScrollable .jspTrack{ background-color: transparent !important; border:1px solid #000 !important; width:10px !important; height: 288px !important; }
.ms-cart-wrapper .ms-merchant-wrapper { width:563px; min-height:110px; margin-bottom:15px; -webkit-box-shadow: 1px 1px 8px 2px #cccccc; box-shadow: 1px 1px 8px 2px #cccccc; }
.ms-cart-wrapper .ms-merchant-wrapper.single { margin-bottom:0px; }
.ms-cart-wrapper .ms-merchant-wrapper .ms-merchant-header { line-height:30px; height:30px; padding:0 8px 0 7px; font-size:14px; }

.ms-cart-wrapper h2 { font-weight:bold; text-align:center; padding-top:60px; }
.table { display:table; width:100%; }
.table .tr { display:table-row; }
.table .td { display:table-cell; }
.table .td.col1 { width:363px; /*padding:9px 18px 11px 0;*/ padding:12px 0 2px 0; }
.table .td.col2 { width:11px; border-bottom:0 none; }
.table .td.col3 { width:165px; /*padding:0 10px 14px 11px;*/ padding-bottom:15px; vertical-align:bottom; }
.checkoutprocess-wrapper.placeorder .table .td.col3 { vertical-align:top; padding-bottom:2px; }
.table .td.col4 { width:10px; border-bottom:0 none; }
.table .tr.total .td { border-bottom:0 none; vertical-align:top; padding-top:10px; }
.table .td .thumb { float:left; width:45px; height:30px; margin-right:9px; margin-top:4px; position:relative; cursor:pointer; z-index:2; }
.table .td .details { float:left; width:191px; font-size:11px; margin-top:4px; position:relative; z-index:2; }
.table .td .details .pname { font-size:12px; font-weight:bold; margin-bottom:5px; cursor:pointer; }
.table .td .details .price { margin-bottom:3px; }
.table .td .details .option { }
.table .td .qty { position:relative; z-index:1; }
.table .td .qty input { width:28px; height:18px; border:1px solid #666; text-align:center; font-weight:bold; }
.table .td .qty a { font-size:10px; margin-left:5px; text-decoration:underline; cursor:pointer; }
.table .td .qty span { cursor:pointer; display:block; position:absolute; top:-3px; right:17px; width:23px; height:23px; background:url(/cdn/images/ministore_images/ms-btn-close.png) no-repeat; }
.table .td .warning { margin-top:9px; width:290px; }
.table .td .warning img { float:left; }
.table .td .warning span { float:left; max-width:256px; min-height:16px; display:block; text-align:center; line-height:16px; font-size:11px; margin-left:2px; padding:0 4px; }
.table .td .amt-details { position:relative; z-index:2; line-height:20px; }

.coupon-wrapper { font-size:11px; position:relative; z-index:1; margin-top:10px; }
.checkoutprocess-wrapper.placeorder .coupon-wrapper { margin-top:6px; margin-bottom:6px; }
.checkoutprocess-wrapper.placeorder .coupon-wrapper input,
.coupon-wrapper input { width:76px; height:20px; }

.table .td .lbl { float:left; }
.table .td .qtyprice { float:right; }
.table .tr.total { text-align:center; }
.table .tr.total .textarea-wrapper { background-color:#FFF; width:318px; min-height:37px; padding:8px 6px; position:relative; border:1px solid #D9D9D9; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.table .tr.total textarea { width:100%; resize: vertical; border:0 none; }
.table .tr.total .td.col1 { padding:8px 0 11px; }
.table .tr.total .td.col3 a { font-size:11px; float:right; margin-right:3px; text-decoration:underline; margin-top:24px; }

.ms-cart-buttons { width:596px; height:41px; -webkit-box-shadow: 0px 0px 3px 2px #CCCCCC; box-shadow: 0px 0px 3px 2px #CCCCCC; position:relative; }
.ms-cart-buttons .basebtn2.nxt-btn, 
.ms-cart-buttons .basebtn2.disabled:hover { width:185px; padding-left:6px; font-size:14px; background-position: 157px center; float:right; margin:4px 19px 0 0; }
.ms-cart-buttons .basebtn2.disabled { cursor:default; filter:alpha(opacity=20); opacity: .2; -moz-opacity:.2; -khtml-opacity: .2; } 
.basebtn3.disabled { cursor:default; filter:alpha(opacity=20); opacity: .2; -moz-opacity:.2; -khtml-opacity: .2; }

/* New Checkout page*/
.ms-checkout-content .formError .formErrorContent { padding:0 10px; line-height:14px; }
#ms-checkout-wrapper { width:600px; height:560px; position:absolute; top:0; left:0; z-index:9999; background-color:#FFF; }
#ms-checkout-wrapper .ms-checkout-header { height:56px; line-height:56px; font-size:22px; padding-left:11px; position:relative; }
#ms-checkout-wrapper .ms-checkout-header #close { position:absolute; top:22px; right:10px; font-size:11px; cursor:pointer; line-height:1; }
#ms-checkout-wrapper .ms-checkout-header #close .img { float:right; position:relative; top:-6px; width:23px; height:23px; background:url(/cdn/images/ministore_images/ms-btn-close.png) no-repeat; }
#ms-checkout-wrapper .ms-checkout-menusteps { list-style:none none; height:50px; }
#ms-checkout-wrapper .ms-checkout-menusteps li { float:left; text-align:center; font-size:11px; height:50px; line-height:50px; position:relative;  }
#ms-checkout-wrapper .ms-checkout-menusteps li.shipping { width:107px; }
#ms-checkout-wrapper .ms-checkout-menusteps li.billing { width:129px; }
#ms-checkout-wrapper .ms-checkout-menusteps li.review { width:150px; }
#ms-checkout-wrapper .ms-checkout-menusteps li.items { float:right; font-size:11px; margin-right:11px; }
#ms-checkout-wrapper .ms-checkout-menusteps li:nth-child(2) span { left:25px; }
#ms-checkout-wrapper .ms-checkout-menusteps li:nth-child(3) span { left:22px; }
#ms-checkout-wrapper .ms-checkout-content { height:396px; width:600px; position:relative; float:left; /*overflow:hidden;*/ }
#ms-checkout-wrapper .ms-checkout-footer { height:56px; }
#ms-checkout-wrapper .ms-checkout-footer .poweredby { width:111px; height:56px; font-size:9px; display:block; text-align:center; padding-top:14px; float:left; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#ms-checkout-wrapper .ms-checkout-footer .poweredby div { font-size:15px; margin-top:4px; }
#ms-checkout-wrapper .ms-checkout-footer div.nxtbilling { height:30px; border-left:1px solid #000; font-weight:bold; margin-right:38px; line-height:30px; float:right; margin-top:13px; padding-left:14px; }
.ms-checkout-footer .nxtreview { float:right; margin-top:13px; margin-right:12px; }
.ms-checkout-footer .nxtreview button { float:right; cursor:pointer; }
.ms-checkout-footer .nxtreview button.disabled { cursor:default; filter:alpha(opacity=20); opacity: .2; -moz-opacity:.2; -khtml-opacity: .2; }
.ms-checkout-footer .nxtreview a { float:left; line-height:30px; text-decoration:underline; margin-right:11px; }

.ui-autocomplete { max-height: 190px; overflow:auto; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

/* Place Order */
#ms-checkout-wrapper.placeorder .ms-checkout-footer { height:64px; position:relative; padding:13px 13px 22px 15px }
#ms-checkout-wrapper.placeorder .ms-checkout-footer h3 { font-size:14px; font-weight:bold; line-height:20px; }
#ms-checkout-wrapper.placeorder .ms-checkout-content { height:353px; }
.ms-checkout-content .checkoutprocess-wrapper.placeorder { margin:17px 0 11px 18px; position:relative; }
.ms-checkout-content .checkoutprocess-wrapper.placeorder .innercontent { width:565px; float:left; }
.shippingbilling-content { float:left; width:562px; margin-left:3px; }
.shippingbilling-content .content { float:left; width:252px; margin-right:28px; }
.ms-checkout-content .checkoutprocess-wrapper.placeorder h3{ line-height:20px; }
.shippingbilling-content .content .details-content { line-height:16px; }
.order-total { font-size:16px; }


/* Checkout login */
.ms-checkout-content .guestregister { margin:41px 0 48px 0; text-align:center; }
.ms-checkout-content .guestregister span { margin-right:22px; }
.ms-checkout-content .guestregister em { margin-right:8px; }
.ms-checkout-content .guestregister .register { background:url(/cdn/images/ministore_images/ms-bg-curvearrow.png) 94px center no-repeat; text-align:left; padding-left:9px; }
.ms-checkout-content .login-wrapper strong { display:block; font-size:14px; margin-bottom:15px; }
.ms-checkout-content .login-wrapper input { width:260px; padding:0 9px; color:#000; height:26px; border:1px solid #CCC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.ms-checkout-content .login-wrapper p { margin-bottom:15px; }
.ms-checkout-content .login-wrapper div { width:260px; margin:0 auto }
.ms-checkout-content .login-wrapper img { float:right; margin:3px 16px 0 0; }
.ms-checkout-content .login-wrapper a { line-height:28px; }
.ms-checkout-content .login-wrapper #errormsg .fberrorbox { display:block; font-size:11px; }

/* Checkout processes */
.ms-checkout-content .checkoutprocess-wrapper.shipping { margin:20px 0 0 18px; position:relative; }
.ms-checkout-content .checkoutprocess-wrapper.billing { margin:23px 0 0 16px; position:relative; }
.ms-checkout-content .checkoutprocess-wrapper h3 { font-size:14px; font-weight:bold; margin-bottom:7px; }
.ms-checkout-content .checkoutprocess-wrapper.billing h3 { margin-top:5px;}
.ms-checkout-content .checkoutprocess-wrapper p { margin-bottom:8px; clear:both; height:22px; line-height:22px; }
.ms-checkout-content .checkoutprocess-wrapper p.btn { margin-top:15px; margin-left:168px; }
.ms-checkout-content .checkoutprocess-wrapper #edit-cc-form p.btn { margin:5px 0 10px 136px }
.ms-checkout-content .checkoutprocess-wrapper label { width:168px; display:inline-block; line-height:22px; float:left; }
.ms-checkout-content .checkoutprocess-wrapper #ccdetails-wrapper label { width:148px; }
.ms-checkout-content .checkoutprocess-wrapper input, 
.ms-checkout-content .checkoutprocess-wrapper select { height:22px; width:293px; float:left; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border:1px inset #CCCCCC; }
.ms-checkout-content .checkoutprocess-wrapper select { }

.ms-checkout-content .ms-merchant-wrapper .shippingtype-selection-wrapper { float:right; font-size:12px; }
.ms-checkout-content .ms-merchant-wrapper .shippingtype-selection-wrapper select { width:176px; height:16px; font-size:11px; padding:0 0 0 2px !important; float:none; }


.ms-checkout-content .customized_select,
.ms-cart-buttons .customized_select { display:block; border:1px inset #CCCCCC; border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; position:relative; width:480px; height:20px; float:none; }
.ms-checkout-content .customized_select select,
.ms-cart-buttons .customized_select select { font-weight:bold; width:100%; height:100%; line-height:20px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.ms-checkout-content .customized_select div,
.ms-cart-buttons .customized_select div { font-size:12px; font-weight:bold; width:465px; height:20px; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding:0 0 0 5px; overflow:hidden; background:none; }
.ms-checkout-content #billing-editing-form .customized_select select,
.ms-checkout-content #billing-editing-form .customized_select div { font-weight:normal; }
.ms-checkout-content .customized_select em,
.ms-cart-buttons .customized_select em { width:15px; height:20px; position:absolute; z-index:1; top:0; right:0;  position:absolute; background:url("/cdn/images/ministore_images/ms-bg-dropdown.gif") no-repeat scroll center center transparent; }
.ms-checkout-content .customized_select.width172 { width:170px; }
.ms-checkout-content .customized_select.width172 div { width:155px; }
.ms-checkout-content .customized_select.width65 { width:65px; }
.ms-checkout-content .customized_select.width65 div { width:50px; }
.ms-checkout-content .customized_select.width99 { width:97px; margin-left:6px; }
.ms-checkout-content .customized_select.width99 div { width:84px; }
.ms-checkout-content .customized_select.width262 { width:262px; }
#edit-cc-form .customized_select select,
#edit-cc-form .customized_select div,
#ccdetails-selection-wrapper .customized_select select,
#ccdetails-selection-wrapper .customized_select div { font-weight:normal; }

.ms-cart-buttons .customized_select.width152 { width:152px; height:14px; }
.ms-cart-buttons .customized_select.width152 select { font-weight:normal; font-size:11px; }
.ms-cart-buttons .customized_select.width152 div { width:137px; height:14px; line-height:14px; font-size:11px; font-weight:normal; }
.ms-cart-buttons .customized_select.width152 em { top:-3px; }

.checkoutprocess-wrapper input { padding:0 3px; }
.checkoutprocess-wrapper input.width133 { width:133px; margin-right:9px; }
.checkoutprocess-wrapper input.width151 { width:151px; }
.checkoutprocess-wrapper input.width172 { width:172px; }
.checkoutprocess-wrapper input.width65 { width:65px; }
.checkoutprocess-wrapper button.basebtn1 { width:72px; margin-right:8px; }
.checkoutprocess-wrapper button.basebtn2 { width:152px; }
.checkoutprocess-wrapper button.basebtn2.addnewshipping { width:72px; position:relative; top:-6px; right:33px; }
.checkoutprocess-wrapper button.basebtn2.addnew { width:72px; height:20px; margin-left:25px; float:left; position:relative; top:-3px; }
.checkoutprocess-wrapper button.basebtn2.cancel { width:72px; }
.checkoutprocess-wrapper button.basebtn1.edit { width:52px; height:20px; margin-left:4px; }
.checkoutprocess-wrapper button.basebtn1.change { height:20px; margin-left:5px; }
.basebtn3 { width:215px; height:40px; text-align:left; padding-left:24px; border:0 none; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:16px; background:url(/cdn/images/ministore_images/ms-btn-next.png) no-repeat 47px center;  }
#ms-checkout-wrapper button.basebtn3 { width:150px; padding-left:19px; background-position:122px center; float:right; }
.billing-btn.change { border:0 none; width:72px; height:20px; font-size:12px; font-weight:bold; margin-left: 9px; }

/* scrollbars */
.checkoutprocess-wrapper.shipping.list .lists .scrollbar { width:576px; height:321px; }
.checkoutprocess-wrapper .scrollbar.jspScrollable .jspVerticalBar { background-color: transparent !important; width:12px !important; }
.checkoutprocess-wrapper .scrollbar.jspScrollable .jspVerticalBar .jspTrack { background-color: transparent !important; border:1px solid #000 !important; }
.checkoutprocess-wrapper.shipping.list .lists .scrollbar.jspScrollable .jspTrack{ width:10px !important; height: 319px !important; }
.checkoutprocess-wrapper.billing .scrollbar { width: 584px; height:352px; }
.checkoutprocess-wrapper.billing .scrollbar.jspScrollable .jspTrack { width:10px !important; height: 350px !important; }
.checkoutprocess-wrapper.placeorder .scrollbar { width: 582px; height:325px; }
.checkoutprocess-wrapper.placeorder .scrollbar.jspScrollable .jspTrack {width:10px !important; height: 323px !important; }


/* shipping address book */
.checkoutprocess-wrapper.shipping.list { margin:30px 0 0 24px; }
.checkoutprocess-wrapper.shipping.list .lists { width:578px; height:321px; position:relative; top:-4px; }
.checkoutprocess-wrapper.shipping.list h3 { margin:0; }
.checkoutprocess-wrapper.shipping.list ul li { line-height:15px; font-size:11px; margin-bottom:22px; }
.checkoutprocess-wrapper.shipping.list ul li .buttons button { margin:10px 8px 0 0; }

/* */
#billinginfo-details-wrapper { line-height:28px; margin:7px 0 10px; }
#edit-cc-form label { width:136px; }
#edit-cc-form span.legend { line-height:22px; font-size:11px; padding-left:5px; }

/* END: Cart Listing and Checkout */


#ms-footer{ float: left; position: relative; width: 598px; height:55px; }
#powered { background-color: #663366; float: left; width:111px; height: 55px; text-align:center; }
#powered .pby{padding: 13px 0 7px 0; font-size: 9px;}
#powered .bywho{font-size: 15px; clear: both; }
#powered .bywho a{text-decoration: none;}
#powered .bywho a:hover{text-decoration: underline;}
#ms-footer-menu {float: left; width: 300px; }
#ms-footer-menu ul{ float: left; padding: 13px 0 0 10px; width: 300px;}
#ms-footer-menu ul li{ float: left; padding: 0 7px; color: #663366; font-size: 11px; font-weight:bold; }
#ms-footer-menu ul li a{ color: #663366; text-decoration: none; }
#ms-footer-menu ul li a:hover{ text-decoration: underline; }

#ms-footer-copyright{ float: left; font-size: 11px; left: 130px; position: absolute; top: 32px;}
.footer-slideshow{ right: 20px !important; left: auto !important }
.ms-next-only {
	background: url("/cdn/images/ministore_images/ms-next.png") no-repeat scroll center 50% #663366; float: right;
	width: 44px; height: 55px; cursor: pointer; display: block; margin-right: 1px; position: relative;
}
.ms-next-only-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 44px; height: 55px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.ms-next-only:hover .ms-next-only-hover{ display: block; cursor: pointer}
.ms-prev-only {
	background: url("/cdn/images/ministore_images/ms-prev.png") no-repeat scroll center 50% #663366; float: right;
	width: 44px; height: 55px; cursor: pointer; display: block; margin-right: 1px; position: relative;
}
.ms-prev-only-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 44px; height: 55px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.ms-prev-only:hover .ms-prev-only-hover{ display: block; cursor: pointer}
#ms-prev {
	background: url("/cdn/images/ministore_images/ms-prev-icon.png") no-repeat scroll center 40% #663366; float: right;
	width: 40px; height: 55px; cursor: pointer; display: block; margin-left: 1px; position: relative;
}

.ms-prev-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 40px; height: 55px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
#ms-prev:hover .ms-prev-hover{ display: block; cursor: pointer}
#ms-next {
	background: url("/cdn/images/ministore_images/ms-next-icon.png") no-repeat scroll center 40% #663366; float: right;
	width: 40px; height: 55px; cursor: pointer; display: block; margin-left: 1px; position: relative;
}
.ms-next-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 40px; height: 55px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
#ms-next:hover .ms-next-hover{ display: block; cursor: pointer}
#ms-prev label, #ms-next label{ width: 100%; text-align: center; font-size: 11px; display: block; margin-top: 36px; }

#ms-footer-pagination{float: right; height: 12px; position: relative; right: 12px; top: 8px; width: 122px;}
#ms-footer-pagination ul{ position: absolute; right:0; height: 12px; }
#ms-footer-pagination ul li{ float: left; margin-bottom: 16px;}
#ms-footer-pagination ul li a{text-decoration:none; width: 10px; height: 10px; border: 1px solid #ffffff; margin: 0 4px; display: block; }
#ms-footer-pagination ul li a span{display: none; color: #ffffff; line-height: 40px; }
#ms-footer-pagination ul li a.selected {background-color: #ffffff;}
#ms-footer-pagination ul li a.selected span{display: block}


/* Preloader */
#fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#preloader-wrapper{background:transparent;height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center { position:relative; }
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }

/* small preloader */
#small_fountainG{
position:absolute;
width:80px;
height:10px;
left:0;
}

.small_fountainG{
position:absolute;
top:0;
background-color:#000000;
width:10px;
height:10px;
-moz-animation-name:bounce_small_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:7px;
-webkit-animation-name:bounce_small_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:7px;
-ms-animation-name:bounce_small_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:7px;
-o-animation-name:bounce_small_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:7px;
animation-name:bounce_small_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:7px;
}

#small_fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#small_fountainG_2{
left:10px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#small_fountainG_3{
left:20px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#small_fountainG_4{
left:30px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#small_fountainG_5{
left:40px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#small_fountainG_6{
left:50px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#small_fountainG_7{
left:60px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#small_fountainG_8{
left:70px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_small_fountainG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_small_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_small_fountainG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_small_fountainG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_small_fountainG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}

.wishlist-preloader { position: absolute; right: 20px; top: 20px; width: 80px;}


/**** slide show details***/


#slides {
	position:relative;
	top:0;
	left:0;
	height: 312px;
	width: 598px;
	z-index: 1;
	box-shadow: 0 4px 4px -2px #404040;
    -moz-box-shadow: 0 4px 4px -2px #404040;
    -webkit-box-shadow: 0 4px 4px -2px #404040;
}

.slides_container {
	width:598px;
	height: 312px;
	overflow:visible !important;
	position:absolute !important;
	display:none;
}

.slides_container a {
	width:598px;
	height: 312px;
	display:block;
	position: relative;
	cursor: default;
}

.slides_container a img {
	display:block;
}

.slides_container a span.slideshow-image{
	width:598px;
	height: 312px;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;background-position: center center;
}
.slideshow-sponsored{ position: absolute; bottom: 0; left: 1px; width: 100px; height: 18px; line-height: 18px; text-align: center; font-size: 11px; }
.ad-sponsored-product{ margin-top: -20px; margin-left: 0; width: 100px; height: 18px; line-height: 18px; font-size: 11px; text-align: center;}

.second-wrapper{ float: left; width: 598px; height: 191px; position: relative; z-index: 0; cursor:default; }

.second-wrapper ul.latest-p-wrapper{ float: left; width: 598px; margin-left: 1px;}
.second-wrapper ul.latest-p-wrapper li{ float: left; width: 199px; height: 190px; }
.featured-images{ background-position: center center; background-repeat: no-repeat; background-size: contain;  }
.second-wrapper ul.latest-p-wrapper li div{ float: left; position: relative; width: 198px; height: 189px; }
.second-wrapper ul.latest-p-wrapper li div .ptitle-wrapper, .second-wrapper ul.latest-p-wrapper li div .ptitle{ position: absolute; padding: 0 13px; width: 172px; height: 56px; font-size: 14px; bottom: 0; left: 0; z-index: 10; display: table; }
.second-wrapper ul.latest-p-wrapper li div .ptitle-wrapper{ opacity: 0.8; filter: Alpha(opacity=80); z-index: 0;}
.second-wrapper ul.latest-p-wrapper li div .ptitle label{ display:table-cell; width: 172px; height: 56px; vertical-align: middle; }
.second-wrapper ul.latest-p-wrapper li div .ptitle label:hover{ text-decoration: underline; cursor: pointer; } 
/*
	Pagination
*/

.pagination {
	position: absolute;
	width: 550px;
	padding: 0 24px;
	text-align: right;
	top: 278px;
	z-index: 10;
}

.pagination li {
	margin:0 0 0 12px;
	list-style:none;
	display: inline-block;
}

.pagination li a {
	display:block;
	width: 16px;
	height: 16px;
	float:left;
	overflow:hidden;
	text-indent: 999999px;
}

.pagination li.current a {
	width: 18px;
	height: 18px;
}

.slideshow-only .pagination{ top: 22px !important; padding: 0 22px !important; width: 916px !important;}

#image-slideshow-wrapper{position: relative; top: 0; left: 0; height: 312px; width: 598px; display: block;cursor: pointer;}
#arrow-left{height: 53px;width: 23px;display: block;background-image: url("/cdn/images/webstore_images/arrow_onhover.png");
background-repeat: no-repeat;-webkit-background-size: cover;background-position: center center;
position: absolute;left:12px;top: 156px;visibility: hidden;cursor: pointer; z-index: 20; }
#image-slideshow-wrapper:hover #arrow-left{visibility: visible;}
#arrow-right{height: 53px;width: 23px;display: block;background-image: url("/cdn/images/webstore_images/arrow_onhover.png");
background-repeat: no-repeat;-webkit-background-size: cover;background-position: center center;
position: absolute;right:12px;top: 156px;visibility: hidden;cursor: pointer; z-index: 20; 
-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);}
#image-slideshow-wrapper:hover #arrow-right{visibility: visible;}

#slideshow-title-wrapper{height:110px;display:inline-block;position: absolute;bottom: 68px;left:36px; z-index:20;}
#slideshow-title-div{position:absolute; left: 138px; top: 201px; z-index: 20; display:inline-table;vertical-align: middle;width: 420px; }

#slideshow-each-title-div, #slideshow-each-title-div-top{ position: absolute; top: 0; left: 0; width: 420px; height: 54px; overflow: hidden;}
#slideshow-each-title-div-top { width: 414px; }
#slideshow-title {
	display: table-cell;
	height: 54px;
	vertical-align: middle;
}
#slideshow-title label{
	color: transparent;
    font-size: 25px;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	padding: 0px 0 3px 16px;
	display: inline;
}

#slideshow-title-top {
	display: table-cell;
	height: 54px;
	vertical-align: middle;
}

#slideshow-title-top label{
	font-size: 25px;
	padding: 0 4px 0 10px;
	display: block;
	cursor: pointer;
}

.pst{ position: absolute; top: 341px; max-height: 56px; line-height: 28px; width: 465px; overflow: hidden; left: 114px; font-size: 25px; text-decoration:none; cursor:pointer; }
.psd{ top: 407px; left: 114px; position: absolute; width: 465px; height: 48px; overflow: hidden; line-height: 16px; text-decoration:none; }
.psd-buttons{ position:absolute; left: 266px; top: 475px; z-index: 20; width: 314px; }
.psd-qty{ border: 0 none; text-align: center; margin: 0 9px 0 0; width: 34px; height: 24px; font-weight: bold; }
.psd-add-to-cart-btn{ border: 0 none; font-size: 14px; cursor: pointer; line-height: 14px;text-decoration: none;padding: 7px 13px; vertical-align: baseline; }
.psd-details-btn{ width: 100px; height: 30px; font-size: 14px; border: 0 none; margin: 0 10px; cursor: pointer; }
.more-details-btn{ margin: 0 0 0 164px; }
.psd-gift-btn {
	background: none repeat scroll 0 0 transparent;
	/* background: url("/cdn/images/webstore_images/gift-icon2.png") no-repeat scroll 0 0 transparent; */
    border: 0 none;
    cursor: default;
    display: inline-table;
    height: 36px;
    position: absolute;
    top: -6px;
    vertical-align: top;
    width: 42px;
}

.psd-share{ position:relative; left: 36px; top: 415px; z-index: 20; width: 47px; height: 46px; text-align: center;}
.psd-stock {display: block; position: absolute; left: 0; top: 0; text-align: center; width: 100%; }
.psd-heart-btn {
	background: url("/cdn/images/webstore_images/heart.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-table;
    height: 35px;
    position: absolute;
    vertical-align: top;
    width: 35px;}
.psd-share-btn {
	background: url("/cdn/images/webstore_images/share.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-table;
    height: 35px;
    position: relative;
    vertical-align: top;
	margin-left: -11px;
    width: 35px;}

.psd-share .psd-heart-btn{position: absolute; left: -8px; bottom: 0}
.psd-share .wdgt-share{position: absolute; right: -8px; bottom: 0}

.psd-share .wdgt-sharebox-box-bottom, .psd-share .wdgt-wishlistbox-bottom-box{background-color: transparent; position: absolute; height: 16px; width: 100%; bottom: -16px; left: 0;}


.psd-share .psd-heart-btn:hover #wdgt-wishlistbox{ display: block !important; top: -122px; right: -180px; border-top:  2px solid; border-left:  2px solid; border-bottom: none; border-right: none; }
.psd-share .psd-heart-btn:hover #wdgt-wishlistbox ul li span label{ position: relative; }
.psd-share .wdgt-wishlistbox-arrow-down{ width: 0; height: 0; border-top: 14px solid transparent; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; bottom: -14px; left: 22px; }

.psd-share .wdgt-share:hover #wdgt-sharebox{ display: block !important; top: -124px; right: -210px; border-top:  2px solid; border-left:  2px solid; border-bottom: none; border-right: none; }
.psd-share .wdgt-share:hover #wdgt-sharebox ul li span label{ position: relative; }
.psd-share .wdgt-sharebox-arrow-down{ width: 0; height: 0; border-top: 14px solid transparent; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; bottom: -14px; left: 46px; }


#circle-wrapper{position: absolute; top: 196px; left: 53px; width: 70px;display: inline-table;
vertical-align: middle;height: 70px; z-index: 20;}
.circle-wrapper2{ top: 336px !important; left: 22px !important; }
#slideshow-price {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 1px;
left: 0px;
-webkit-border-radius: 100%;
border-radius: 100%;
text-align: center;
}
#slideshow-price-bg {
height: 70px;
width: 70px;
display: inline-table;
position: absolute;
bottom: 0px;
left: 2px;
-webkit-border-radius: 100%;
border-radius: 100%;
}
#slideshow-price #amount { display: table-cell; vertical-align: middle; font-size: 14px; font-weight: bold; cursor: default;}
#slideshow-price #amount #sale-price{ width: 100%; text-align: center; }
#slideshow-price #amount #old-price{ width: 100%; text-align: center; font-size: 11px; font-weight: normal; text-decoration: line-through; }

.effect1::before, .effect1::after, .effect2::before, .effect2::after {
z-index: -1;
position: absolute;
content: "";
bottom: 12px;
left: 10px;
width: 50%;
top: 80%;
max-width: 300px;
background: #000000;
-webkit-box-shadow: 0 10px 10px #000000;
-moz-box-shadow: 0 10px 10px #000000;
box-shadow: 0 10px 10px #000000;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.effect1::after,.effect2::after {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}

.effect1::before, .effect1::after{
	left: 10px;
	width: 50%;
	top: 94%;
	max-width: 598px;
	-webkit-box-shadow: 0 11px 8px #000000;
	-moz-box-shadow: 0 11px 8px #000000;
	box-shadow: 0 11px 8px #000000;
}
.effect1::after{ right: 10px; left: auto;}

.effect2::before, .effect2::after{
	bottom: 10px;
    left: 10px;
    max-width: 45%;
    top: 60%;
    width: 50%;
	-webkit-box-shadow: 0 11px 8px #000000;
	-moz-box-shadow: 0 11px 8px #000000;
	box-shadow: 0 11px 8px #000000;
	
}
.effect2::after{ right: 10px; left: auto;}