.create_account_and_store{ border: 1px solid; min-width: 500px; min-height: 260px; }
#create-new-user{ float: left; width: 824px; padding: 26px 25px 8px 29px;}
#create-store-only{ float: left; width: 553px; padding: 25px 36px 57px 29px;}
.create_account_and_store h1{ font-size: 25px !important; margin-bottom: 4px !important; }
.cas-left{ float: left; width: 584px; height: 405px}
.cas-store-name { float: left; width: 522px; height: 38px; line-height: 38px; font-size: 15px; font-weight: bold; margin: 18px 0 34px; padding: 0 13px; border: 1px solid;}
.cs-store-name{ margin: 20px 0 32px; font-weight: normal; }
.cas-email { float: left; width: 234px; height: 38px; line-height: 38px; font-size: 15px; font-weight: bold; margin-right: 28px; padding: 0 13px; border: 1px solid;}
.cas-password { float: left; width: 234px; height: 38px; line-height: 38px; font-size: 15px; font-weight: bold; padding: 0 13px; border: 1px solid;}
.cas-add-info { float: left; font-size: 14px; width: 100%; margin: 60px 0 15px; }
.cas-fname { float: left; width: 234px; height: 38px; line-height: 38px; font-size: 15px; margin-right: 28px; padding: 0 13px; border: 1px solid;}
.cas-lname { float: left; width: 234px; height: 38px; line-height: 38px; font-size: 15px; padding: 0 13px; border: 1px solid;}
.cas-base-url, .cs-base-url{ float: left; height: 40px; line-height: 40px; margin: 39px 2px 0 0; font-size: 30px;}
.cs-base-url{ margin: 0 19px 0 6px; }
.cas-store-url, .cs-store-url { float: left; width: 234px; height: 38px; margin-top: 39px; line-height: 38px; font-size: 15px; padding: 0 13px; border: 1px solid;}
.cs-store-url { margin-top: 0; }
.cas-store_name_wrapper, .cas-email_wrapper, .cas-password_wrapper,
.cas-fname_wrapper, .cas-lname_wrapper, .cas-base-url_wrapper{ float: left; position: relative; }
.cas-left label.error, .cas-left label.error2 {
    float: left;
	color: red;
	font-size: 12px;
}
.cas-store_name_wrapper label.error{ position: absolute; left: 2px; top: 60px; color: red; font-size: 12px;}
.cas-email_wrapper label.error, .cas-email_wrapper label.error2{ position: absolute; left: 2px; top: 42px; }
.cas-password_wrapper label.error{ position: absolute; left: 2px; top: 42px; }
.cas-fname_wrapper label.error, .cas-lname_wrapper label.error{ position: absolute; left: 2px; top: 42px; }
.cas-base-url_wrapper label.error, .cas-base-url_wrapper label.error2{ position: absolute; left: 2px; top: 80px; }
.cs-base-url_wrapper label.error, .cs-base-url_wrapper label.error2{ top: 40px; color: red; font-size: 12px;}

.cas-right{ background: url('../images/cas-vline.png') no-repeat scroll 0 0; float: left; width: 240px; height: 405px}
.cas-tips{ float: left; margin: 10px 0 38px 29px; font-size: 15px; line-height: 24px;}
.cas-next-btn { background: url('../images/next-icon.png') no-repeat scroll 95% center; float: left; width: 211px; height: 84px; margin: 0 0 36px 24px; -webkit-box-shadow: 5px 5px 0 0 #000000; box-shadow: 5px 5px 0 0 #000000;}
.cas-next-btn h2{ float: left; color: #ffffff; font-size: 22px; padding: 0 0 4px 17px; }
.cas-next-btn span{ float: left; color: #000000; font-size: 12px; padding: 0 0 0 17px; }
.cas-next-btn:hover{ background-color: #000000 !important; cursor: pointer; -webkit-box-shadow: 5px 5px 0 0 #DEB32E; box-shadow: 5px 5px 0 0 #DEB32E;}
.cas-next-btn:hover h2 { color: #ffffff; }
.cas-next-btn:hover span { color: #DEB32E; }

#verification-wrapper{ float: left; width: 833px; height: 182px; padding: 85px 0 0 47px; }
#verification-wrapper h2{ float: left; font-size: 22px; margin-bottom: 17px; }
#store-created-msg-wrapper { float: left; width: 620px; height: 167px; }
#store-created-msg-wrapper h2{ float: left; margin: 48px 0 0 47px; font-size: 22px; }
#verification-wrapper p{ float: left; font-size: 15px; color: #382737; }
#verified-wrapper{ float: left; padding: 70px 0 0 47px; width: 833px; height: 197px; }
#verified-wrapper p.verified-msg{ float: left; font-size: 22px; width: 770px;}
.cas-ok-btn { float: right; font-size: 18px; color: #ffffff; font-weight: bold; width: 90px; height: 40px; margin: 39px 90px 0 0; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000;}
.cas-ok-btn:hover{ background-color: #000000 !important; cursor: pointer; -webkit-box-shadow: 3px 3px 0 0 #DEB32E; box-shadow: 3px 3px 0 0 #DEB32E;}
.cas-continue-btn { float: right; font-size: 18px; color: #ffffff; font-weight: bold; width: 160px; height: 40px; margin: 28px 60px 0 0; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000;}
.cas-continue-btn:hover{ background-color: #000000 !important; cursor: pointer; -webkit-box-shadow: 3px 3px 0 0 #DEB32E; box-shadow: 3px 3px 0 0 #DEB32E;}

.cs-create-btn { background: url('../images/next-icon.png') no-repeat scroll 88% center; float: right; text-align: left; text-indent: 30px; font-size: 22px; color: #ffffff; width: 231px; height: 70px; margin: 52px 4px 0 0; -webkit-box-shadow: 5px 5px 0 0 #000000; box-shadow: 5px 5px 0 0 #000000;}
.cs-create-btn:hover{ background-color: #000000 !important; cursor: pointer; -webkit-box-shadow: 5px 5px 0 0 #DEB32E; box-shadow: 5px 5px 0 0 #DEB32E;}


.border-radius2{ border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.border-radius4{ border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.border-color-DEB32E{ border-color: #51A296!important; } /* green color */
.bg-DEB32E{ background-color: #DEB32E !important; } /* yellow color */
.color-DEB32E{ color: #DEB32E !important; } /* yellow color */
.inner-glow-F2E1AC { -webkit-box-shadow: 0 0 4px 2px #F2E1AC inset !important; box-shadow: 0 0 4px 2px #F2E1AC inset !important; } /* light yellow color */
.color-382837{ color: #382837 !important; } /* violet color */
.color-999{ color: #999999 !important; } /* light 1 gray color */
.color-666{ color: #666666 !important; } /* light 2 gray color */
.border-color-666{ border: 1px solid #666666 !important; }  /* light 2 gray color */

#store_modal {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #fff;
    display: none;
	filter:alpha(opacity=8) !important;
	opacity: 0.8 !important;
	-moz-opacity:0.8 !important;
	-khtml-opacity: 0.8 !important;
}

/* Preloader */
#popup-fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.popup-fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#popup-fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#popup-fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#popup-fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#popup-fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#popup-fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#popup-fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#popup-fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#popup-fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#popup-preloader-wrapper{background-color: #FFFFFF; height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:120; left:0; top:0; }
#popup-preloader-wrapper .popup-preloader-holder { display: table; width:100%; height:100%; }
#popup-preloader-wrapper #popup-preloader-center { display: table-cell; vertical-align: middle;}
#popup-preloader-wrapper .popup-preloader-storename { font-size:26px; margin-bottom:27px; }
#popup-preloader-wrapper .popup-preloader-pb { font-size:11px; margin-top:31px; }