#v-create-shop-header .step-line {background-color: #EDEDED; position: absolute; top: 12px; left: 171px; width: 480px; height: 2px;}
#v-create-shop-header ul.step-box {float: left; width: 640px; }
#v-create-shop-header ul.step-box li{float: left; position: relative; width: 96px; height: 44px; margin-right: 64px; text-align: center;}
#v-create-shop-header ul.step-box li .step-checkbox{ background-color: #ffffff; width: 15px; height: 15px; margin: 4px auto 11px; color: #CCCCCC; display: block; border: 1px solid #CCCCCC; border-radius: 100%;  -moz-border-radius: 100%;  -webkit-border-radius: 100%;}
#v-create-shop-header ul.step-box li.active .step-checkbox, #v-create-shop-header ul.step-box li.check-only .step-checkbox{ background: url('../images/store_images/active-step.png') no-repeat scroll center center #ffffff; margin: 0 auto 11px; border: 2px solid #F2E1AC; width: 18px; height: 18px; }
#v-create-shop-header ul.step-box li .step-title{color: #CCCCCC; position: absolute; left:0; bottom: 0; width: 100%; }
#v-create-shop-header ul.step-box li.active .step-title{ color: #51A296; font-weight: bold; }
#v-create-shop-header ul.step-box li.check-only .step-title{ color: #CCCCCC; font-weight: bold; }

#v-create-shop-content{ float: left; position: relative; }
#v-create-shop-content h2{ float: left; width: 100%; color: #333333; font-size: 18px; margin-bottom: 23px; }
#v-create-shop-content .shopform{ float: left; min-width: 810px; min-height: 272px; position: relative; }
#v-create-shop-content .createvendor-wrapper .lbl{ color: #666666; }
#v-create-shop-content .createvendor-wrapper .shipsfrom{ color: #CCCCCC; }
.buttons-wrapper{float: left; position: relative; width: 100%; }
.step-back{ color: #999999; font-size: 15px; cursor: pointer; position: absolute; bottom: 14px; right: 320px; }
.step-back:hover{ text-decoration: underline; }
.shop-catalog-right .step-back{ right: 210px; }
#v-create-shop-content .paypalemail { float:left; width:263px; height:159px; position: absolute; top: 66px; right: 0; padding:18px 0 0 20px; border: 1px solid #ffffff; color:#666; background-color: #F5F5EC; -webkit-border-radius: 4px; border-radius: 4px; 
			-moz-box-shadow: 0 0 4px 2px #EBEBDA; -webkit-box-shadow: 0 0 4px 2px #EBEBDA; box-shadow: 0 0 4px 2px #EBEBDA; }
#v-create-shop-content .paypalemail .bglabel { width:143px; height:26px; background:url(../images/txt-paypalemail.png); margin-bottom:8px; }
#v-create-shop-content .paypalemail strong { margin:14px 0 12px; display:block; color:#000000; }
#v-create-shop-content .cservice { float:left; width:264px; height:178px; margin:55px 0 0 28px; padding:22px 0 0 20px; color:#666; background-color: #F5F5EC; -webkit-border-radius: 4px; border-radius: 4px; }
#v-create-shop-content .createvendor-wrapper .inputfield{ width: 242px !important; margin-right: 28px !important;}
#v-create-shop-content .createvendor-wrapper .customized_select { background-color: #F5F5EC; -webkit-border-radius: 2px; border-radius: 2px; }
#v-create-shop-content .createvendor-wrapper .customized_select select { display: block !important; opacity:0; z-index:2; width:100%; height:26px; line-height:26px; position:absolute; left:0; }
#v-create-shop-content .createvendor-wrapper .customized_select div#txtvalue { line-height:28px; width:100%; height:28px; overflow:hidden; position:absolute; z-index:1; top:0; left:0; padding: 0 26px 0 10px; background:url("../images/store_images/ship-arrow-down.png") no-repeat scroll 212px 9px transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#v-create-shop-wrapper #popup-preloader-wrapper, #create-styx-wrapper #popup-preloader-wrapper { z-index: 10 !important; -moz-box-shadow: 0 0 0 10px #ffffff; -webkit-box-shadow: 0 0 0 10px #ffffff; box-shadow: 0 0 0 10px #ffffff; }

.bottom-separator, .bottom-separator2{ float: left; background: url('../images/store_images/shop-separator-bottom.png') no-repeat scroll center center transparent; margin-left: 15px; width: 808px; height: 27px; padding: 24px 0; }
.bottom-separator2{ background: url('../images/store_images/shop-separator-bottom2.png') no-repeat scroll center center transparent;  width: 650px; height: 26px; }
#v-create-shop-wrapper .next-button, #create-styx-wrapper .next-button{ border: 0 none; color: #ffffff; font-size: 15px; font-weight: bold; cursor: pointer; padding: 14px 65px; -moz-box-shadow: 2px 2px 0 0 #000000; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000;}
#v-create-shop-wrapper .next-button-right, #create-styx-wrapper .next-button-right{ margin-right: 111px;}
#v-create-shop-wrapper .next-button-disabled, #create-styx-wrapper .next-button-disabled { background-color: #CCCCCC; -moz-box-shadow: 2px 2px 0 0 #999999; -webkit-box-shadow: 2px 2px 0 0 #999999; box-shadow: 2px 2px 0 0 #999999; }
#v-shop-catalog{ float: left; position: relative; }
#v-shop-catalog h2{ float: left; width: 100%; color: #333333; font-size: 18px; margin-bottom: 23px; }
.select-prod-lbl { margin-bottom: 0 !important; }
.note2{ float: left; font-size: 11px; width: 100%; margin-bottom: 26px; }
.note3{ position: absolute; top: 22px; right: 0; font-size: 11px; color: #999999; }
.shop-catalog-wrapper{ float: left; width: 920px; min-height: 272px; position: relative; }
.shop-catalog-left{ float: left; width: 183px; margin-right: 47px; }
.shop-catalog-left .category-shop-btn{ float: left; background-color: #ffffff; position: relative; width: 151px; text-align: center; height: 68px; border: 1px solid #ffffff; padding: 0 15px; margin-bottom: 4px; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC; }
.shop-catalog-left .category-shop-btn:hover{ background-color: #F5F5EC; cursor: pointer; }
.shop-catalog-left .shop-category-title{ display: table-cell; height: 68px; vertical-align: middle; text-transform: capitalize;}
.add-shop-category{ background: url("../images/store_images/shop-add-category-icon.png") no-repeat scroll center 11px transparent; font-size: 12px; line-height: 96px; }
.shop-category{ color: #666666; font-size: 14px; letter-spacing: -0.6px; text-align: left !important;}
.shop-category:hover{ cursor: default !important; }
.shop-category-blank{ border: 1px solid #F0F0E3 !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; cursor: default !important; }
.shop-category-blank:hover{ background-color: transparent !important; }
.total-shop-products{ background-color: #CCCCCC; color: #ffffff; font-size: 11px; text-align: center; height: 16px; width: 36px; line-height: 16px; position: absolute; bottom: -1px; right: -1px; border-radius: 4px 0 0 0;  -moz-border-radius: 4px 0 0 0;  -webkit-border-radius: 4px 0 0 0; letter-spacing: 0; font-weight: bold; }
.shop-category-options{ position: absolute; bottom: 0; right: 36px; display: none; color: #666666; font-size: 11px; letter-spacing: 0;}
.shop-category:hover .shop-category-options{ display: block; }
.shop-category-options span{ padding: 0 10px; }
.shop-category-options span:hover{ text-decoration: underline; cursor: pointer; }
.shop-catalog-left h3, .shop-catalog-right h3{ float: left; color: #666666; font-size: 15px; margin-bottom: 23px; text-indent: 1px; width: 100%;}

.product-shop-btn{ float: left; background-color: #ffffff; position: relative; width: 161px; height: 108px; text-align: center; border: 1px solid #ffffff; margin: 0 7px 7px 0; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC; cursor: pointer; }
.product-shop-btn:hover{ background-color: #F5F5EC; }
.add-shop-product{ background: url("../images/store_images/shop-add-product-icon.png") no-repeat scroll center 22px transparent; font-size: 12px; line-height: 168px; }
.product-shop-blank{ border: 1px solid #F0F0E3; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: default;}
.product-shop-blank:hover{ background-color: transparent;}
.shop-catalog-right .pagination-container{ margin-right: 0; right: -36px; }
.paypal-q1{ float: left; font-size: 14px; font-weight: bold; width: 100%; margin-bottom: 3px; }
.paypal-tips{ float: left; color: #999999; margin-bottom: 31px; width: 100%; }
.shopform-wrapper .bglabel { background: url("../images/txt-paypalemail.jpg") repeat scroll 0 0 transparent; float: left; height: 26px; width: 143px; margin-right: 16px; }
.paypal-opt-lbl{ float: left; color: #999999; margin-top: 10px; margin-left: 11px; line-height: 25px; clear: both; margin-left: 157px; }
.shopform-wrapper .choose-location { left: 440px; top: 108px; width: 220px; height: 28px;}

/* styx style */
#create-styx-wrapper h1{ margin-left: 0px; }
.styx-name-content-wrapper .tab-content{ float: left; width: 100%; margin-bottom: 37px; color: #9CA09F; }
.styx-name-lbl{ float: left; font-size: 16px; margin: 3px 28px 0 0; }
.styx-name-txt-input { float: left; width: 287px; height: 28px; padding: 0 14px; font-size: 14px; color: #999999; border: 1px solid #51A296; }
.stykable-type-btn-wrapper{ float: left; position: relative; background-color: #F5F5EC; width: 150px; height: 120px; margin: 0 1px 0 15px; display: block; text-align: center;  }
.stykable-type-btn{ position: absolute; top: 0; left: 0; width: 148px; height: 118px; display: block; border: 1px solid #FFFFFF; cursor: pointer; box-shadow: 2px 2px 2px 2px #999999; -moz-box-shadow: 2px 2px 2px 2px #999999; -webkit-box-shadow: 2px 2px 2px 2px #999999; }
.stykable-type-btn label{ position: absolute; width: 148px; top: 77px; left: 0; text-align: center; color: #666666; }
.stykable-type-btn-wrapper a{ position: absolute; width: 148px; top: 137px; left: 0; text-align: center; color: #51A296; font-size: 14px; }
.stykable-type-btn:hover{ border: 1px solid #51A296;  }
.stykable-type-btn:hover label{ color: #51A296; cursor: pointer; }
.stykable-type-btn-wrapper .active, .stykable-type-btn-wrapper .active:hover{ width: 150px; height: 120px; border: 0 none; box-shadow: 0 0 6px 4px #81C0B7 inset; -moz-box-shadow: 0 0 6px 4px #81C0B7 inset; -webkit-box-shadow: 0 0 6px 4px #81C0B7 inset; }
.stykable-type-btn-wrapper .active{ background: url("../images/store_images/active-step.png") no-repeat scroll 125px 11px #F5F5EC; }
.stykable-type-btn-wrapper .active label{ color: #51A296; }
.styx-name-content-wrapper .tab-content .stykable-msg{ float: left; color: #FF0000; font-size: 12px; margin: 50px 0 0 10px; }

.styx-form{ float: left; min-width: 810px; min-height: 66px; position: relative; }
.styx-common-button1{ border: 0 none; color: #ffffff; font-size: 15px; font-weight: bold; cursor: pointer; padding: 14px 65px; -moz-box-shadow: 2px 2px 0 0 #000000; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000;}
.stykbale-save-btn{ position: absolute; right: 0; bottom: -120px; margin: 0 !important; }
.styx-name-content-wrapper{ float: left; width: 822px; position: relative; }
.styx-product-content-wrapper{ float: left; width: 824px; position: relative; }
.styx-product-content-wrapper .product-lists-wrapper .remove-button{ display: block; width: 52px; }
.styx-product-content-wrapper .sp-categories-wrapper{ padding: 0 0 31px 0; }
.styx-product-content-wrapper .note3{ right: 36px; }
.styx-product-content-wrapper .step-search-product-box { height: 26px; width: 153px; }
.styx-product-content-wrapper .step-search-product-box-btn { right: 26px !important; top: 14px !important; }
.styx-product-content-wrapper .scp-wrapper { margin-top: 3px; }
.styx-product-content-wrapper .sp-product-main-wrapper { height: 465px; }
.styx-product-content-wrapper .sp-product-wrapper { position: relative; height: 358px; }
.styx-product-content-wrapper .sp-product-wrapper .jspTrack{ height: 356px !important; }
.styx-product-content-wrapper .sp-categories-wrapper{ background: url("../images/store_images/sidebar-scrollpane.png") no-repeat scroll right 10px transparent; }
.styx-product-content-wrapper .plus-btn:hover{ color: #F2E1AC; }
.styx-product-content-wrapper .bottom-separator{ background: url("../images/store_images/shop-separator-bottom.png") no-repeat scroll center top transparent; padding: 0 0 24px; }
.styx-line-separator{ background-color: #F2EEEC; float: right; width: 616px; height: 1px; margin-top: 11px; }
#create-styx-wrapper #v-create-shop-content .product-counter-wrapper h2,
#create-styx-wrapper #v-create-shop-content .product-counter-wrapper h2 span { font-size: 14px; color: #999999; }
.remove-styx-product{ background-color: #51A296; float: left; color: #FFFFFF; font-size: 11px; height: 23px; 
    line-height: 23px; text-align: center; width: 52px; cursor: pointer; }
.remove-styx-product:hover{ background-color: #FFFFFF; color: #51A296; }

/*
.shop-category-menu-for-styx{ float: left; margin-top: 53px; width: 204px; position: relative; overflow: hidden; height: 314px; }
.shop-category-menu-for-styx li{ float: left; position: relative; padding: 0 24px 0 7px; width: 160px; height: 40px; border-top: 1px solid #CCCCCC; }
.shop-category-menu-for-styx li:last-child{ border-bottom: 1px solid #CCCCCC;}
.shop-category-menu-for-styx li label{ color: #666666; height: 40px; width: 160px; display: table-cell; vertical-align: middle; }
.shop-category-menu-for-styx li .msub-hover-pointer{ background: url("../images/store_images/right-white.png") no-repeat 6px center;
	position: absolute; top: 0; right:6px; width: 18px; height: 39px; z-index: 10; display: none; }
.shop-category-menu-for-styx li:hover, .shop-category-menu-for-styx li.selected{ background-color: #81C0B7; cursor: pointer; border-top: 1px solid #81C0B7;}
.shop-category-menu-for-styx li:hover label, .shop-category-menu-for-styx li.selected label{ color: #FFFFFF; cursor: pointer; }
.shop-category-menu-for-styx li:hover .msub-hover-pointer, .shop-category-menu-for-styx li.selected .msub-hover-pointer{ display: block; }
*/

.shop-category-menu-for-styx{ float: left; margin-top: 53px; width: 204px; position: relative; overflow: hidden; height: 314px; }
.shop-category-menu-for-styx li{ float: left; position: relative; width: 191px; border-top: 1px solid #CCCCCC; }
.shop-category-menu-for-styx li:last-child{ border-bottom: 1px solid #CCCCCC;}
.shop-category-menu-for-styx li label{ color: #666666; height: 40px; padding: 0 24px 0 7px; width: 160px; display: table-cell; vertical-align: middle; }
.shop-category-menu-for-styx li label span{ display: table-cell; height: 40px; vertical-align: middle; }
.shop-category-menu-for-styx li .msub-hover-pointer{
	background: url("../images/store_images/right-white.png") no-repeat 6px center;
	position: absolute;
	top: 0;
	right:6px;
	width: 18px; height: 39px;
	z-index: 10;
	display: none;
}
.shop-category-menu-for-styx li label:hover, .shop-category-menu-for-styx li label.active{ background-color: #81C0B7; cursor: pointer; }
.shop-category-menu-for-styx li label:hover, .shop-category-menu-for-styx li label.active{ color: #FFFFFF; cursor: pointer; }
.shop-category-menu-for-styx li:hover .msub-hover-pointer, .shop-category-menu-for-styx li.selected .msub-hover-pointer{ display: block; }

.shop-category-menu-for-styx li ul{ float: left; width: 191px; position: relative; }
.shop-category-menu-for-styx li ul li label{ color: #999999; padding: 0 24px 0 17px; width: 150px; }
.shop-category-menu-for-styx li ul li:last-child{ border-bottom: 0 none; }
.shop-category-menu-for-styx li ul{ display: none;}

.styx-search-content-wrapper,
.styx-search-content-wrapper .sp-cp-wrapper,
.styx-search-content-wrapper .sp-product-main-wrapper,
.styx-search-content-wrapper .scp-wrapper,
.styx-search-content-wrapper .sp-product-wrapper{ width: 774px !important; }
.styx-search-content-wrapper .product-lists-wrapper{ width: 770px !important; padding-left: 4px !important; }

.styx-search-content-wrapper .sp-cp-wrapper{ padding-top: 56px; position: relative; }
.styx-search-product-box-btn { left: 170px !important; top: 15px !important; }
.styx-search-content-wrapper .search-result-found{ position: absolute; display: table; left: 212px; top: 12px; width: 346px; font-size: 14px; color: #333333; }
.styx-search-content-wrapper .search-result-found label{ margin-right: 12px; min-height: 24px; line-height: 22px; vertical-align: middle;}
.back-to-catalog-products{ background-color: #51A296; position: absolute; top: 4px; right: 36px; display: inline; color: #FFFFFF; font-size: 15px; font-weight: bold; height: 40px; text-align: center; width: 158px; cursor: pointer; padding-bottom: 2px; margin-top: -5px; box-shadow: 3px 3px 0 0 #000000; -webkit-box-shadow: 3px 3px 0 0 #000000; -moz-box-shadow: 3px 3px 0 0 #000000;}
.styx-search-content-wrapper .sp-product-main-wrapper{ height: 416px; }
.styx-search-content-wrapper .scp-wrapper{ height: 418px; }
.styx-search-content-wrapper .styx-line-separator{ width: 730px; margin-right: 34px;}

.drag-lbl-tip{ float: left; margin: 8px 0 19px; color: #666666; width: 240px; }
.max-lbl-tip{ float: right; margin: 8px 28px 19px 0; color: #CCCCCC; width: 230px; }

.styx-no-content-wrapper,
.styx-no-content-wrapper .sp-cp-wrapper,
.styx-no-content-wrapper .sp-product-main-wrapper,
.styx-no-content-wrapper .scp-wrapper,
.styx-no-content-wrapper .sp-product-wrapper{ width: 684px !important; }
.styx-no-content-wrapper .shop-category-blank{ margin: 0 7px 7px 0 !important;}
.styx-no-content-wrapper .no-result-msg{ float: left; font-size: 15px; color: #666666; margin-bottom: 20px; margin-top: -10px; }
.styx-no-content-wrapper .no-result-msg label:hover{ text-decoration: underline; cursor: pointer; }
.styx-no-content-wrapper .product-lists-wrapper{ width: 680px !important; padding-left: 4px !important; }
.styx-no-content-wrapper .sp-product-main-wrapper{ height: 230px; }
.styx-no-content-wrapper .scp-wrapper{ height: 232px; }
.no-store-bottom-separator{ float: left; background: url('../images/store_images/no-store-bottom-line.png') no-repeat scroll center center transparent; margin-left: 12px; width: 650px; height: 26px; padding: 20px 0; }
.styx-common-button-disabled1{ background-color: #CCCCCC; border: 0 none; color: #ffffff; font-size: 15px; font-weight: bold; cursor: pointer; padding: 14px 65px; -moz-box-shadow: 3px 3px 0 0 #999999; -webkit-box-shadow: 3px 3px 0 0 #999999; box-shadow: 3px 3px 0 0 #999999;}

#colors-and-design-wrapper{ float: left; position: relative; width: 736px; }
#colors-and-design-wrapper #page-edit-selection ul{ width: 316px; }
#colors-and-design-wrapper .note4{ float: left; width: 100%; margin-top: 12px; font-size: 11px; color: #999999; }
#colors-and-design-wrapper .styx-common-button1{ margin-top: -10px; }