@CHARSET "ISO-8859-1";
#manage-main-wrapper{background-color: #51A296;}
#title-wrapper{font-size: 35px;line-height: 39px;display: block;margin-top: 44px;color: #F2E1AC;}
#taglines{color:#666666;font-size: 25px;line-height: 29px;margin: 9px 0px;display: block;}
#create-menus{height: 190px;display:table;position: relative;background: #51A296;width: 808px;text-align: left;}
.vcreate-menus{background: transparent !important}
#create-menus #create-but{display: table-cell;vertical-align: middle;width: 225px;}
#create-menus #create-but a{width: 223px;height: 58px;border: 1px solid #fff;background-color: #F2E1AC;font-size: 25px;line-height: 58px;
text-decoration: none;color: #382837;text-shadow: 1px 1px 3px #fff;display: inline-block;}
#img-plus{width: 26px;height: 32px;display: inline-block;background-image: url("../images/main_images/styx.png");
background-repeat: no-repeat;
background-position: 18px 1px;padding: 0px 18px;vertical-align: middle;}
#or-option{display: table-cell;vertical-align: middle;width:95px;text-align: center;font-size: 25px;color:#F2E1AC;}
#embed-input{width: 500px;height: 60px;display: table-cell;position: relative;vertical-align: middle;}
#embed-input input{width: 316px;height: 58px;border: 1px solid #382837;background: #fff;}
#embed-input span{position: absolute;top:38px;left:0px;font-size: 15px;color: #F2E1AC;}
#embed-input a{position: absolute;right: 87px;top:65px;display: inline-block;height: 26px;width: 58px;text-align: center;text-decoration: none;line-height: 26px;font-size: 12px;color: #382837;
background-color: #F2E1AC;}
#mainstyx-content-wrapper{min-height: 835px;display: block;float: left;margin-top: 70px;width: 879px;}
#mainstyx-content-wrapper p{font-size: 15px; color:#382837;line-height: 20px;}
#mainstyx-left{width: 499px;float: left;display: inline-block;}
#mainstyx-right {width: 336px;display: inline-block;float: right;text-align: left;}
#images-wrapper{height: 500px;display: block;margin: 37px 0px;}
#images-wrapper #oneleft{height: 500px;width: 160px;display: inline-block;float: left;
background-image: url("../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: 0px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#images-wrapper #twoleft{width: 300px;height: 500px;display: inline-block;float: right;
background-image: url("../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: -168px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#mainstyx-right #oneright{width: 336px;height: 280px;display: inline-block;
background-image: url("../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position: -479px 0px;
box-shadow: 0px 0px 3px 3px #ccc;}
#mainstyx-right p{margin: 38px 0px;font-size: 15px; color:#382837;line-height: 20px;}
#mainstyx-right #tworight{width: 300px;height: 250px;display: inline-block;float: left;
background-image: url("../images/main_images/create_bg.jpg");
background-repeat: no-repeat;
background-position:-479px -289px;
box-shadow: 0px 0px 3px 3px #ccc;}


.v-styx-wrapper{ margin-left: 48px !important; width: 881px !important; margin-top: 97px !important; }
.v-styx-wrapper #title-wrapper{ color: #51A296; margin-top: 0;}
.v-styx-wrapper #create-menus #create-but a{ background-color: #51A296; -moz-box-shadow: 3px 3px 3px 0 #999999;
   	-webkit-box-shadow: 3px 3px 3px 0 #999999; box-shadow: 3px 3px 3px 0 #999999; text-shadow: 1px 1px 0px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }
.v-styx-wrapper #or-option{ color: #382837; }
.v-styx-wrapper #embed-input span{ color: #382837; }
.v-styx-wrapper #embed-input input{ border: 1px solid #999999; padding: 4px; width: 308px; height: 50px; }
.v-styx-wrapper #embed-input a{ background-color: #51A296; color: #382837; -moz-box-shadow: 3px 3px 0 0 #000000;
   	-webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; right: 106px; top: 66px; }
.spacer-effect{ background: url('../images/store_images/styx-home-spacer.png') no-repeat scroll 0 0; width: 808px;
				height: 27px; }

.vendor-styx-wrapper .menu-background{ background-color: #51A296; }
.vendor-styx-wrapper .top-menuz {height: 79px;}
.vendor-styx-wrapper .top-menuz label {line-height: 79px; font-size: 14px; color: #382837; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menuz, .store-menu-wrapper-list li span.cs-menu{ background-color: #51A296; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.menu2hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px 0; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.menu3hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -71px; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.menu4hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -142px; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.menu5hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -213px; }

.vendor-styx-wrapper .store-menu-wrapper-list li.menu1-style2:hover{ background: transparent url("../images/store_images/common.png") no-repeat scroll -226px 0; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px 0; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -71px; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -142px; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu5-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -213px; }

.vendor-styx-wrapper .store-menu-wrapper-list li span.c2{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 0; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.c3{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -71px; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.c4{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -142px; }
.vendor-styx-wrapper .store-menu-wrapper-list li span.c5{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -213px; }

.vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style3 span.c2, .vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style3:hover span.c2{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px 0; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style3 span.c3, .vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style3:hover span.c3{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -71px; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style3 span.c4, .vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style3:hover span.c4{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -142px; }
.vendor-styx-wrapper .store-menu-wrapper-list li.menu5-style3 span.c5, .vendor-styx-wrapper .store-menu-wrapper-list li.menu5-style3:hover span.c5{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -213px; }


.vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style3 span.c2, .vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style3:hover span.c2{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px 0 !important;
}
.vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style3 span.c3, .vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style3:hover span.c3{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -71px !important;
}
.vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style3 span.c4, .vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style3:hover span.c4{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -142px !important;
}
.vendor-styx-wrapper .store-menu-wrapper-list li.menu5-style3 span.c5, .vendor-styx-wrapper .store-menu-wrapper-list li.menu5-style3:hover span.c5{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -132px -213px !important;
}

.vendor-styx-wrapper .saved_colors{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 202px -285px #F5F5EC;
    color: #DEB32E; border: 1px solid #DEB32E; position: absolute; height: 28px; width: 228px; line-height: 28px; right: 67px; top: 40px;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}

.vendor-styx-wrapper .upload-img{ background: url("../images/store_images/sprite.png") no-repeat scroll -49px -311px transparent !important;
			position: absolute; top: 69px; left: 109px; width: 32px; height: 30px; display: block; }

.vendor-styx-wrapper .store-menu-wrapper-list li span label.lmenu{ color: #D04228 !important;}

.vendor-styx-wrapper .store-menu-wrapper-list li.menu2:hover label.lmenu,
.vendor-styx-wrapper .store-menu-wrapper-list li.menu3:hover label.lmenu,
.vendor-styx-wrapper .store-menu-wrapper-list li.menu4:hover label.lmenu{ color: #382837 !important; }

.vendor-styx-wrapper .store-menu-wrapper-list li.menu2-style3 label.lmenu,
.vendor-styx-wrapper .store-menu-wrapper-list li.menu3-style3 label.lmenu,
.vendor-styx-wrapper .store-menu-wrapper-list li.menu4-style3 label.lmenu{ color: #382837 !important; }

.vendor-styx-wrapper .vertical-background-m2, .vendor-styx-wrapper .vertical-background-m3{ background-color: #382837; width: 18px; height: 99.5%; position: absolute; left: 0; border-top: 1px solid #DEB32E;
				border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-bottom: 1px solid #DEB32E;
	}
.vendor-styx-wrapper .vertical-background{ background-color: #382837; width: 18px; height: 100%; position: absolute; left: 0; 
				border-radius: 1px 0 0 1px; -moz-border-radius: 1px 0 0 1px; -webkit-border-radius: 1px 0 0 1px;
	}
.vendor-styx-wrapper .vendor-border{ border: 1px solid #D04228; }
.vendor-styx-wrapper .products-wrapper .box-left{ border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; }

.styx_name_wrapper h2{ color: #261C25; font-size: 16px; }
.styx_name_wrapper{ border: 1px solid #382837; width: 370px !important; height: 120px !important; }
.styx_name_wrapper .styx_name_input{ float: left; width: 239px; height: 28px; padding: 0 15px; border: 1px solid #51A296; font-size: 12px; font-weight: bold; color: #51A296;
	margin-top: 40px; -moz-box-shadow: 0 0 4px 2px #BCBDC0 inset; -webkit-box-shadow: 0 0 4px 2px #BCBDC0 inset;
   	box-shadow: 0 0 4px 2px #BCBDC0 inset; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#save_styx_name_btn{
	background-color: #51A296;
	color: #ffffff;
	width: 80px;
	height: 30px;
	line-height: 30px; 
	font-size: 13px;
	padding-bottom: 4px;
	position: absolute;
	top: 77px;
	left: 320px;
	cursor: pointer;
	-moz-box-shadow:    3px 3px 0 0 #000000;
   	-webkit-box-shadow: 3px 3px 0 0 #000000;
   	box-shadow:         3px 3px 0 0 #000000;
}
#save_styx_name_btn:hover{
	background-color: #000000;
	-moz-box-shadow:    3px 3px 0 0 #51A296;
   	-webkit-box-shadow: 3px 3px 0 0 #51A296;
   	box-shadow:         3px 3px 0 0 #51A296;
}

.vendor-styx-wrapper .category_list{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 227px -285px #F5F5EC; top: -35px; color: #D04228; }
.vendor-styx-wrapper .manage-link{ margin-left: 273px; }
.vendor-styx-wrapper .filter_product_search-wrapper{ top: 20px; }
.vendor-styx-wrapper .filter_product_search{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 146px -286px #F5F5EC; color: #D04228;  }
.vendor-styx-wrapper .upload-new-product{ color: #51A296 !important; }
.vendor-styx-wrapper .featured-ybox,
.vendor-styx-wrapper .transfer-ybox,
.vendor-styx-wrapper .edit-ybox,
.vendor-styx-wrapper .delete-ybox{ background-color: #D04228; }
.vendor-styx-wrapper .pagination-container .page-numbers ul li a.selected, .vendor-styx-wrapper .pagination-container .page-numbers ul li :hover {
    background: none repeat scroll 0 0 #D04228;
    border-color: #D04228;
}
.vendor-styx-wrapper .pagination-container .page-numbers ul li a{ background-color: #51A296; }

.vendor-styx-wrapper .vendor-border-top{ border: 0 none !important; }
.vendor-styx-wrapper .vendor-border-right{ border: 0 none !important; }
.vendor-styx-wrapper .vendor-border-bottom{ border: 0 none !important; }
.vendor-styx-wrapper .products-wrapper .no-prod-left, .vendor-styx-wrapper .products-wrapper .endorse{ border-right: 1px solid #D04228 !important; }
.vendor-styx-wrapper .menu-border-top, .vendor-styx-wrapper .menu-border-bottom-two{ display: none; }
.vendor-styx-wrapper .menu-border-bottom{ background-color: #382837; }
.vendor-styx-wrapper .store-menu-wrapper-list li div.theme_design{ border: 1px solid #D04228 !important; }


#vendor-styx-theme  #popup_wrapper{ border-color: #D04228 !important; }
#vendor-styx-theme .addproducts{ border: 0 none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#vendor-styx-theme .add_product_to_store h1 span, #vendor-styx-theme .transfer_category h1 span{ color: #D04228 !important; }
#vendor-styx-theme #popup_wrapper .box-content .input-fields select, 
#vendor-styx-theme #popup_wrapper .box-content .input-fields input, 
#vendor-styx-theme #popup_wrapper .box-content .input-fields textarea,
#vendor-styx-theme .category_parent_name, #vendor-styx-theme .category_parent_name2{ border-color: #D04228 !important; /* color: #D04228 !important; */ }
#vendor-styx-theme .category_parent_name, #vendor-styx-theme .category_parent_name2{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 402px -284px #F5F5EC; }
#vendor-styx-theme  #popup_wrapper #ok-btn{ color: #FFFFFF !important; }

#styx-listing-wrapper{float: left; padding: 81px 33px 20px 33px; width: 790px;}
#styx-listing-wrapper h1{ float: left; font-size: 22px; color: #51A296; }
#styx-listing-wrapper .styx-common-btn{ background-color: #F5F5EC; width: 103px; height: 38px; border: 1px solid #FFFFFF; 
	font-size: 16px; color: #51A296; cursor: pointer; -moz-box-shadow: 3px 3px 3px 0 #999999; -webkit-box-shadow: 3px 3px 3px 0 #999999; box-shadow: 3px 3px 3px 0 #999999;
	text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); position: relative; }
#styx-listing-wrapper .spacer-effect{ float: left; }
#styx-listing-wrapper .styx-new{ background: url("../images/store_images/shop-add-category-icon.png") no-repeat scroll 7px 5px transparent; text-indent: 20px; float: right; margin: 0 2px 14px 0; }
#styx-listing-wrapper  ul{ float: left; width: 100%;}
#styx-listing-wrapper  ul li{ float: left; width: 100%; padding: 17px 0; border-bottom: 1px dotted #999999;}
#styx-listing-wrapper  ul li p { float: left; width: 565px; }
#styx-listing-wrapper  ul li p .styx-name{ float: left; font-size: 15px; color: #51A296; font-weight: bold; width: 564px;}
#styx-listing-wrapper  ul li p .styx-created{ float: left; font-size: 12px; color: #666666; padding: 6px 23px 0 12px; }
#styx-listing-wrapper  ul li p .styx-product-qty{ float: left; font-size: 12px; color: #666666; padding: 6px 0 0 0; }
#styx-listing-wrapper  .styx-edit{ margin-right: 15px; }

.styx-right-wrapper{ min-height: auto !important; }


.p-styx-wrapper{ margin-left: 48px !important; width: 881px !important; margin-top: 97px !important; }
.p-styx-wrapper #title-wrapper{ color: #51A296; margin-top: 0;}
.p-styx-wrapper #create-menus #create-but a{ background-color: #51A296; -moz-box-shadow: 3px 3px 3px 0 #999999;
   	-webkit-box-shadow: 3px 3px 3px 0 #999999; box-shadow: 3px 3px 3px 0 #999999; text-shadow: 1px 1px 0px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }
.p-styx-wrapper #or-option{ color: #51A296; }
.p-styx-wrapper #embed-input span{ color: #51A296; }
.p-styx-wrapper #embed-input input{ border: 1px solid #999999; padding: 4px; width: 308px; height: 50px; }
.p-styx-wrapper #embed-input a{ background-color: #51A296; color: #51A296; -moz-box-shadow: 3px 3px 0 0 #000000;
   	-webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; right: 106px; top: 66px; }

.promoter-styx-wrapper .menu-background{ background-color: #51A296; }
.promoter-styx-wrapper .top-menuz {height: 79px;}
.promoter-styx-wrapper .top-menuz label {line-height: 79px; font-size: 14px; color: #51A296; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menuz, .store-menu-wrapper-list li span.cs-menu{ background-color: #51A296; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.menu2hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px 0; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.menu3hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -71px; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.menu4hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -142px; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.menu5hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -213px; }

.promoter-styx-wrapper .store-menu-wrapper-list li.menu1-style2:hover{ background: transparent url("../images/store_images/common.png") no-repeat scroll -226px 0; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px 0; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -71px; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -142px; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu5-style2:hover{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -213px; }

.promoter-styx-wrapper .store-menu-wrapper-list li span.c2{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 0; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.c3{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -71px; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.c4{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -142px; }
.promoter-styx-wrapper .store-menu-wrapper-list li span.c5{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll 0 -213px; }

.promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style3 span.c2, .promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style3:hover span.c2{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px 0; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style3 span.c3, .promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style3:hover span.c3{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -71px; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style3 span.c4, .promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style3:hover span.c4{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -142px; }
.promoter-styx-wrapper .store-menu-wrapper-list li.menu5-style3 span.c5, .promoter-styx-wrapper .store-menu-wrapper-list li.menu5-style3:hover span.c5{ background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -213px; }


.promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style3 span.c2, .promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style3:hover span.c2{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px 0 !important;
}
.promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style3 span.c3, .promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style3:hover span.c3{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -71px !important;
}
.promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style3 span.c4, .promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style3:hover span.c4{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -142px !important;
}
.promoter-styx-wrapper .store-menu-wrapper-list li.menu5-style3 span.c5, .promoter-styx-wrapper .store-menu-wrapper-list li.menu5-style3:hover span.c5{
	background: transparent url("../images/store_images/styx_sprites.png") no-repeat scroll -292px -213px !important;
}

.promoter-styx-wrapper .saved_colors{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 202px -285px #F5F5EC;
    color: #DEB32E; border: 1px solid #DEB32E; position: absolute; height: 28px; width: 228px; line-height: 28px; right: 67px; top: 40px;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}

.promoter-styx-wrapper .upload-img{ background: url("../images/store_images/sprite.png") no-repeat scroll -49px -311px transparent !important;
			position: absolute; top: 69px; left: 109px; width: 32px; height: 30px; display: block; }

.promoter-styx-wrapper .store-menu-wrapper-list li span label.lmenu{ color: #D04228 !important;}

.promoter-styx-wrapper .store-menu-wrapper-list li.menu2:hover label.lmenu,
.promoter-styx-wrapper .store-menu-wrapper-list li.menu3:hover label.lmenu,
.promoter-styx-wrapper .store-menu-wrapper-list li.menu4:hover label.lmenu{ color: #51A296 !important; }

.promoter-styx-wrapper .store-menu-wrapper-list li.menu2-style3 label.lmenu,
.promoter-styx-wrapper .store-menu-wrapper-list li.menu3-style3 label.lmenu,
.promoter-styx-wrapper .store-menu-wrapper-list li.menu4-style3 label.lmenu{ color: #51A296 !important; }

.promoter-styx-wrapper .vertical-background-m2, .promoter-styx-wrapper .vertical-background-m3{ background-color: #51A296; width: 18px; height: 99.5%; position: absolute; left: 0; border-top: 1px solid #DEB32E;
				border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-bottom: 1px solid #DEB32E;
	}
.promoter-styx-wrapper .vertical-background{ background-color: #51A296; width: 18px; height: 99.5%; position: absolute; left: 0; border-top: 1px solid #DEB32E;
				border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-bottom: 1px solid #DEB32E;
	}
.promoter-styx-wrapper .vendor-border{ border: 1px solid #FFFFFF; }

.promoter-styx-wrapper .category_list{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 227px -285px #F5F5EC; top: -35px; }
.promoter-styx-wrapper .manage-link{ margin-left: 273px; }
.promoter-styx-wrapper .filter_product_search-wrapper{ top: 20px; }
.promoter-styx-wrapper .filter_product_search{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 146px -286px #F5F5EC; }
.promoter-styx-wrapper .pagination-container .page-numbers ul li a.selected, .promoter-styx-wrapper .pagination-container .page-numbers ul li :hover {
    background: none repeat scroll 0 0 #D04228;
    border-color: #D04228;
}
.promoter-styx-wrapper .pagination-container .page-numbers ul li a{ background-color: #51A296; }
#promoter-styx-theme  #popup_wrapper{ border-color: #D04228 !important; }
#promoter-styx-theme .addproducts{ border: 0 none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#promoter-styx-theme .add_product_to_store h1 span, #promoter-styx-theme .transfer_category h1 span{ color: #D04228 !important; }
#promoter-styx-theme #popup_wrapper .box-content .input-fields select, 
#promoter-styx-theme #popup_wrapper .box-content .input-fields input, 
#promoter-styx-theme #popup_wrapper .box-content .input-fields textarea,
#promoter-styx-theme .category_parent_name, #promoter-styx-theme .category_parent_name2{ border-color: #D04228 !important; color: #D04228 !important; }
#promoter-styx-theme .category_parent_name, #promoter-styx-theme .category_parent_name2{ background: url("../images/store_images/styx_sprites.png") no-repeat scroll 402px -284px #F5F5EC; }
#promoter-styx-theme  #popup_wrapper #ok-btn{ color: #FFFFFF !important; }

.promoter-styx-wrapper .vendor-bg { background-color:  #51A296; }
.promoter-styx-wrapper .products-wrapper .no-prod-left, .promoter-styx-wrapper .products-wrapper .endorse{ background-color:  #51A296; }
.promoter-styx-wrapper .store-menu-wrapper-list li div.theme_design{ border: 1px solid #FFFFFF !important; }
.promoter-styx-wrapper .vendor-border-top{ border: 0 none !important; }
.promoter-styx-wrapper .vendor-border-right{ border: 0 none !important; }
.promoter-styx-wrapper .vendor-border-bottom{ border: 0 none !important; }
.promoter-styx-wrapper .products-wrapper .no-prod-left ul li .msub-hover{ background-color: #D04228 !important; }
.promoter-styx-wrapper .products-wrapper .no-prod-left p{ color: #666666 !important; }
.promoter-styx-wrapper .products-wrapper .no-prod-left ul li label{ color: #D04228; }
.promoter-styx-wrapper .theme_design p.lbl2 a{ color: #D04228 !important; }
.promoter-styx-wrapper .products-wrapper .no-prod-left, .promoter-styx-wrapper .products-wrapper .endorse{ border-right: 1px solid #FFFFFF !important; }
.promoter-styx-wrapper .menu-border-top, .promoter-styx-wrapper .menu-border-bottom-two{ display: none; }
.promoter-styx-wrapper .menu-border-bottom{ background-color: #382837; }
.promoter-styx-wrapper .products-wrapper .box-left{ border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; }
.promoter-styx-wrapper .products-wrapper .no-prod-left ul li{ margin-bottom: 2px !important; }

#main-manage-styx-wrapper { float: left; position: relative; width: 740px; margin: 74px 0 0 44px; }
#main-manage-styx-wrapper .top-separator, #main-manage-styx-wrapper .bottom-separator{ left: 0; margin-left: 0; top: 84px; }
#main-manage-styx-wrapper .styx-common-button1{ margin-top: -10px; margin-bottom: 20px; }
#main-manage-styx-wrapper .h-styx-name-lbl{ float: left; font-size: 14px; margin: 25px 19px 0 0; }
#main-manage-styx-wrapper .h-styx-name-wrapper{ float: left; max-width: 250px; margin: 13px 12px 0 0; }
#main-manage-styx-wrapper .h-styx-name-wrapper-inner{ float: left; display: table; height: 40px; }
#main-manage-styx-wrapper .h-styx-name{ display: table-cell; vertical-align: middle; font-size: 20px; color: #333333; white-space: nowrap; }
#main-manage-styx-wrapper .h-styx-name-edit-btn{ float: left; border: 0 none; margin: 19px 0 0 0; color: #ffffff; font-size: 12px; cursor: pointer; padding: 5px 11px; -moz-box-shadow: 3px 3px 0 0 #000000; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; }
#main-manage-styx-wrapper .h-manage-lbl{ position: absolute; top: 22px; left: 437px; color: #999999; }
#main-manage-styx-wrapper .h-products-btn{ position: absolute; top: 0; left: 506px; width: 106px; height: 60px; border: 1px solid #CCCCCC; }
#main-manage-styx-wrapper .h-products-btn .icon{ background: url("../images/store_images/styx-common-icon.png") no-repeat scroll -1px -1px transparent; width: 25px; height: 24px; position: absolute; top: 11px; left: 41px; }
#main-manage-styx-wrapper .h-products-btn .products-lbl{ position: absolute; width: 100%; top: 40px; text-align: center; display: block; }
#main-manage-styx-wrapper .products-num{ position: absolute; color: #ffffff; font-size: 11px; font-weight: bold; padding: 0 4px; top: 7px; right: 3px; text-align: center; display: block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
#main-manage-styx-wrapper .h-color-design-btn{ position: absolute; top: 0; left: 626px; width: 106px; height: 60px; border: 1px solid #CCCCCC; }
#main-manage-styx-wrapper .h-color-design-btn .icon{ background: url("../images/store_images/styx-common-icon.png") no-repeat scroll -26px -1px transparent; width: 28px; height: 18px; position: absolute; top: 10px; left: 39px; }
#main-manage-styx-wrapper .h-color-design-btn .color-design-lbl{ position: absolute; width: 100%; top: 40px; text-align: center; display: block; }
#main-manage-styx-wrapper .h-products-btn:hover, #main-manage-styx-wrapper .h-products-btn-selected, #main-manage-styx-wrapper .h-color-design-btn-selected,
#main-manage-styx-wrapper .h-color-design-btn:hover{ background-color: #F5F5EC; -moz-box-shadow: 0 0 4px 2px #81C0B7 inset; -webkit-box-shadow: 0 0 4px 2px #81C0B7 inset; box-shadow: 0 0 4px 2px #81C0B7 inset; cursor: pointer; }

#main-manage-styx-wrapper #samples-wrapper{ float: left; width: 318px; margin-top: 28px; }
#main-manage-styx-wrapper #samples-wrapper .see-lbl{ float: left; width: 100%; margin-bottom: 13px; }
#main-manage-styx-wrapper #samples-wrapper .website-btn,
#main-manage-styx-wrapper #samples-wrapper .ad-btn,
#main-manage-styx-wrapper #samples-wrapper .blog-btn{ background-color: #F5F5EC; float: left; position: relative; width: 100px; height: 58px; -moz-box-shadow: 3px 3px 0 0 #999999; -webkit-box-shadow: 3px 3px 0 0 #999999; box-shadow: 3px 3px 0 0 #999999; margin-right: 9px; display: block; cursor: pointer; }
#main-manage-styx-wrapper #samples-wrapper .blog-btn{ margin-right: 0; }
#main-manage-styx-wrapper #samples-wrapper .website-btn .icon{ background: url("../images/store_images/styx-common-icon.png") no-repeat scroll -55px -1px transparent; width: 20px; height: 20px; position: absolute; top: 12px; left: 42px; }
#main-manage-styx-wrapper #samples-wrapper .website-btn label{ position: absolute; top: 37px; left: 0; width: 100%; text-align: center; }
#main-manage-styx-wrapper #samples-wrapper .ad-btn .icon{ background: url("../images/store_images/styx-common-icon.png") no-repeat scroll -76px -1px transparent; width: 27px; height: 20px; position: absolute; top: 12px; left: 37px; }
#main-manage-styx-wrapper #samples-wrapper .ad-btn label{ position: absolute; top: 37px; left: 0; width: 100%; text-align: center; }
#main-manage-styx-wrapper #samples-wrapper .blog-btn .icon{ background: url("../images/store_images/styx-common-icon.png") no-repeat scroll -104px -1px transparent; width: 21px; height: 20px; position: absolute; top: 12px; left: 39px; }
#main-manage-styx-wrapper #samples-wrapper .blog-btn label{ position: absolute; top: 37px; left: 0; width: 100%; text-align: center; }
#main-manage-styx-wrapper .select-prod-lbl{ float: left; font-size: 18px; color: #333333; margin: 6px 0 0 0; width: 50%; }
#main-manage-styx-wrapper .p_filter_product_search-wrapper { width: 200px; top: 10px; }
#main-manage-styx-wrapper .p_filter_product_search-wrapper .filter_product_search{ width: 150px; background-position: 130px -286px }
#main-manage-styx-wrapper .search-result-found{ width: 310px; font-size: 12px; }
.main-publish-wrapper { margin-top: 18px; }
.main-publish-wrapper #embedd-wrapper #code-wrapper { width: 308px; height: 140px; border: 1px solid #CCCCCC; }
.main-publish-wrapper #embedd-wrapper .publsh-lbl { font-size: 16px; }
.note6{ float: left; width: 318px; margin-top: 5px; font-size: 12px; color: #999999; }
.note7{ float: left; margin-top: 5px; font-size: 12px; color: #999999; }

#styx-page-wrapper{ float: left; position: relative; min-width: 733px; min-height: 300px; padding: 0 6px 6px 6px; }
#styx-page-wrapper #popup-preloader-wrapper{ z-index: 999; }
.styx-common-done-button1{ border: 0 none; color: #ffffff; margin-top: 32px; font-size: 15px; font-weight: bold; cursor: pointer; padding: 14px 65px; -moz-box-shadow: 2px 2px 0 0 #000000; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000;}
.products-done-button{ margin-top: 0; margin-bottom: 20px; }
.styx-search-content-wrapper .filterby-lbl{ position: absolute; left: 467px; top: 16px; color: #CCCCCC; }
.styx-search-content-wrapper .category_list{ top: 10px; left: 572px; width: 160px; background-position: 140px -285px; color: #51A296; }
.more-styx-product{ background: url("../images/store_images/sprite.png") no-repeat scroll -117px -293px #ffffff; float: left; width: 161px;
	height: 108px; margin-right: 28px; border: 1px solid #fff; display: block; font-size: 12px; text-align: center; cursor: pointer; text-shadow: 1px 1px 0px #FFFFFF; line-height: 165px;
	filter: dropshadow(color=#FFFFFF, offx=1, offy=1); -webkit-box-shadow: 0px 0px 4px 2px #CCCCCC; box-shadow: 0px 0px 4px 2px #CCCCCC; border: 1px solid #FFFFFF; text-shadow: 1px 1px 0px #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
}
.styx-product-view .pagination-container{ padding-right: 32px; }
.styx-product-view .styx-common-done-button1{ margin-right: 32px; }