@CHARSET "ISO-8859-1";
.clearbreak{clear: both;}
 .landing-page{
			margin-left: 48px !important;
			min-width:936px;
			margin-top: 97px; 
			display: inline-block;
			float: left;
			position: relative;
				}
.nostore .left-side {
		width: 208px;
		min-height: 100px;
		display: inline-block;
		float: left;
		position: relative;overflow: hidden;
}
.nostore .pic-wrapper{height: 216px;width: 208px;display: block;}
.nostore .photo-container{
		background-repeat: no-repeat; background-position: center center; background-size: contain; width: 178px;height: 178px;display: block;background-color:#F0F0F0;border: 1px solid #cccccc;float: right;
}


.nostore .profile-details-wrapper{
		margin-left:40px;
		display: block;
		min-height: 184px;
		}
.profile-details-wrapper ul{
		list-style: none; display: block;
}
.profile-details-wrapper ul li{display: block;margin-top: 21px;}
.profile-details-wrapper ul li a{font-size: 15px;line-height:18px; color:#5AADA0;text-decoration: none;}
.profile-details-wrapper ul li a:HOVER{text-decoration: underline;}
.nostore .right-side{
		width: 693px;
		min-height: 100px;
		display: inline-block;
		float: left;
		padding-left: 35px;
	}
.ns-first-parag {width: 693px;height: 171px;display: block;padding-top: 8px;position: relative;}
.ns-learnmore-link{position: absolute;bottom: 32px;left:0px;font-size: 12px;color:#81C0B7;line-height: 16px;}
.ns-first-parag h2{font-size: 22px;color:#999999;line-height: 26px;}
.ns-icons-container{height: 46px; width: 700px; display: block;margin-top: 40px;float: left;}

.ns-icons-container .ns-earnings{width: 159px;height: 46px;display: inline-block;}
.ns-icons-container .ns-messages{width: 168px;height: 46px;display: inline-block;}
.ns-icons-container .ns-likes{width: 232px;height: 46px;display: inline-block;}
.ns-icons-container .ns-gifts{width: 254px;height: 46px;display: inline-block;}

.icons-wrapper-aa{display: table;height: 46px;vertical-align: middle;}
.icons-wrapper-aa .icons-img{display: table-cell;vertical-align: middle;height: 46px;width: 53px;background: #ccc;}
.icons-wrapper-aa .count{display: block;
			margin-left: 11px;
			font-size: 25px;color: #5AADA0;line-height: 29px;	
			}
.icons-wrapper-aa .footnote{display: block;
			margin-left: 11px;
			font-size: 12px;color: #CCCCCC;line-height: 16px;}			

/* landing-menu-promter */
.ns-icons-container ul{list-style: none;display: inline;float: left;}
.ns-icons-container ul li{display: inline-block;cursor: pointer;}
.ns-icons-container ul li:Last-Child{margin-right: 0px;}
.aactivity-menu-wrapper{height: 47px;display: inline-block;float: left;position: relative; }
.aactivity-menu-wrapper .icon-bg{width:53px;height: 47px;display:inline-block;float: left;margin-right:  11px;}

/* background icons */

.aactivity-menu-wrapper .earning-ico, .aactivity-menu-wrapper .sale-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:0px -50px;}
.aactivity-menu-wrapper .message-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-83px -50px;}

.aactivity-menu-wrapper .like-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-361px -50px;}

.aactivity-menu-wrapper .gift-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-432px -50px;}

.aactivity-menu-wrapper .promotion-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-287px -50px;}

.aactivity-menu-wrapper .order-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-232px -50px;}

.aactivity-menu-wrapper .product-ico{ background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-160px -50px;}

/*============== hovers ================*/
.aactivity-menu-wrapper:hover .earning-ico, .aactivity-menu-wrapper:hover .sale-ico{ 
background-position:0px 0px;}
.aactivity-menu-wrapper:hover .message-ico{ 
background-position:-83px 0px;}

.aactivity-menu-wrapper:hover .like-ico{
background-position:-361px 0px;}

.aactivity-menu-wrapper:hover .gift-ico{ 
background-position:-432px 0px;}

.aactivity-menu-wrapper:hover .promotion-ico{
background-position:-287px 0px;}

.aactivity-menu-wrapper:hover .order-ico{ 
background-position:-232px 0px;}

.aactivity-menu-wrapper:hover .product-ico{ 
background-position:-160px 0px;}

/*===============================*/




.aactivity-menu-wrapper .count{display: inline-block; height: 29px;;text-align: left;color:#5AADA0;font-size: 25px;line-height: 29px;position:absolute;
		top:0px;left:61px;margin-bottom: 4px;}
.aactivity-menu-wrapper .count-desc{height: 16px;display: inline-block;font-size: 12px;line-height: 16px;color: #ccc;
position:absolute;bottom:0px;left:61px}
.earnings-wrapper{ min-width: 159px; }
.messages-wrapper{ min-width: 168px; }
.lhw-wrapper{ min-width: 232px; }
.gift-wrapper{ min-width: 130px; }

.v-sales-wrapper{ min-width: 159px; }
.v-messages-wrapper{ min-width: 174px; }
.v-products-wrapper{ min-width: 160px; }
.v-orders-wrapper{ min-width: 115px; }

.p-earnings-wrapper{ min-width: 159px; }
.p-messages-wrapper{ min-width: 167px; }
.p-products-wrapper{ min-width: 167px; }
.p-orders-wrapper{ min-width: 150px; }
/*==============================================*/
.ns-parag-wrapper{min-height: 50px;display:block;background-color: #fff;padding-top:44px;position: relative;float:left;}
.padtop-zero{ padding-top: 0 !important; }
.ns-parag-wrapper h1{ font-size: 22px;line-height: 26px;color:#333333;display: block;margin-bottom: 7px;}
.ns-parag-wrapper blockquote {font-size: 15px;line-height: 19px;color:#666666;}
.landing_purchase_wrapper blockquote{ color: #999999; }
.ns-parag-wrapper .open-a-store-wrapper{display: block;float: left;margin-top: 52px;width: 693px;}	
	
.ns-parag-wrapper .wrapper1{ float: left; display: inline-block; }
.choosing-vendor{ background: url("/cdn/images/store_images/v-image.png") no-repeat scroll bottom right; min-height:148px; width: 393px; }
.choosing-promoter{ background: url("/cdn/images/store_images/p-image.png") no-repeat scroll bottom right; min-height: 174px; width: 388px !important; margin-right: 5px;}
.open-store-title{float: left; font-size: 18px;line-height: 24px;color:#666666;margin-bottom: 7px;}
.ns-parag-wrapper .wrapper1 p{float: left; clear: both; margin-left: 4px; width: 240px; font-size: 12px;color:#999999;line-height: 17px; display: block;}
.ns-parag-wrapper .wrapper1 p.to-promote{ width: 197px; }
.ns-parag-wrapper .button-wrapper{width: 231px;height: 80px;display: inline-block;margin-left: 9px;}
 .ns-open-store-button{text-align: center;width: 231px;height: 60px;display: block;background-color: #81C0B7;color:#fff;text-decoration: none;border: none;
 						-moz-box-shadow: 3px 3px 0 0 #333333; -webkit-box-shadow: 3px 3px 0 0 #333333; box-shadow: 3px 3px 0 0 #333333; cursor: pointer;}
.ns-open-store-button:HOVER{background-color: #cccccc;} 						
 .ns-open-store-button span{font-size: 18px;line-height: 24px;font-weight: bold;display: inline-block;vertical-align: middle;}
 .ns-open-store-button footer{font-size: 16px;line-height: 18px;font-weight: normal;display: inline-block;vertical-align: middle;}
.ns-parag-wrapper .wrapper1 .create-title{font-size: 22px;line-height: 26px;color: #333333;margin-bottom: 3px;}
.ns-parag-wrapper .wrapper1 .qoutes-create{font-size: 15px;line-height: 18px;color: #999999;display: block;}
.ns-parag-wrapper .styx-sample-wrapper{width: 334px;height: 278px;display: block;border:1px solid #fff;-webkit-box-shadow: 0px 0px 5px 2px #cccccc;
					box-shadow: 0px 0px 5px 2px #cccccc;
					background-image: url("/cdn/images/landing_images/styx_sample.jpg");	}
.ns-parag-wrapper .sample-embed{ height: 280px;display: block;float: left;margin-top: 38px;}
.ns-parag-wrapper .wrapper-left{float: left;}
.ns-parag-wrapper .wrapper-right{display: inline-block;margin-left: 37px;float: left;}

.wrapper-right p{width: 246px;height: 106px;font-size: 12px;color:#999999;line-height: 15px;}
.wrapper-right .create-butt{position: relative;width: 250px;height: 60px;background-color: #81C0B7;display:table;vertical-align:middle;
			-moz-box-shadow: 3px 3px 0 0 #333333; -webkit-box-shadow: 3px 3px 0 0 #333333; box-shadow: 3px 3px 0 0 #333333;
	         margin-top: 14px;margin-bottom: 43px;text-align: center;cursor: pointer;}
.wrapper-right .create-butt:HOVER{background-color: #cccccc;}	         
.wrapper-right .create-butt #icon-background{display: inline-block;height: 26px;width: 26px;display:inline-block;vertical-align: middle;margin-right: 18px;
background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-216px -120px;}
.wrapper-right .create-butt .icon-text{font-size: 25px;line-height: 29px;height: 29px;vertical-align: middle;display: inline-block;color:#fff;}
.wrapper-right .embed-wrapper{position: relative;width: 250px;height: 60px;}
.wrapper-right .embed-input{width: 250px;height: 60px;border: 1px solid #999999;position: absolute;	top: 0px;left: 0px;}
.wrapper-right .embed-wrapper .try-tag{font-size: 15px;	line-height: 19px;color: #333333;position: relative;top: -19px;	left: 0px;}
 .bottom-undeline-effect{width: 695px;height: 23px;display: block;position: absolute;bottom: -23px;left: 0px;z-index:1;
 background-image: url("/cdn/images/landing_images/underline_effect.png");}

/*landing_manage_store */
.landing-menu-wrapper{display: block;float: left;}
.landing-create-wrapper{display: block;float: left;margin-bottom: 52px;}
.landing_open_wrapper{display: block;float: left;margin-bottom: 47px;}
.landing_purchase_wrapper{display: block;float: left;margin-bottom: 76px;}
.landing-manage-wrapper{display: block;float: left;}
.landing-manage-wrapper .manage-wrapper-left{width:246px;display: inline-block;float: left;}
.manage-wrapper-left span{height: 26px;display: block; font-size: 22px;line-height: 26px;display: block;color:#333333;margin-top: 9px;}

.manage-wrapper-left p{min-height: 106px;display: block;width: 246px;font-size: 12px;line-height: 17px;margin-top: 8px;color:#999999;}
.landing-manage-right{display: inline-block;float: left;width: 336px;margin-left: 40px;}
 .list-menu{display: block;width: 336px;padding: 9px 0px 50px 0px;text-align: left;}
 .list-menu ul{display: inline-block;list-style: none;}
 .list-menu ul li{display: inline-block;margin-bottom: 10px;margin-right: 10px;position: relative;}
.list-menu ul li button{display: inline-block;width: 100px;height: 80px;background-color: #81C0B7;text-decoration: none;border: 0px;
-webkit-box-shadow:  2px 2px 0px 1px #cccccc;box-shadow:  2px 2px 0px 1px #cccccc;position: relative;text-align: center;cursor: pointer;}
.list-menu ul li button:HOVER{background-color: #ccc;}
.list-menu ul li button .icons-symbol{height:42px;display: block;vertical-align:middle;background: transparent;text-align: center;}
.list-menu ul li button .icons-symbol .icons-bg{height: 24px;width: 24px; vertical-align: bottom;display:inline-block;background-color:transparent;margin-top: 18px;}


/*icons - background*/
.list-menu ul li button .icons-symbol .product-ico{background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position: -8px -122px;}

.list-menu ul li button:hover .icons-symbol .product-ico{background-position: -8px -162px;}
.list-menu ul li button .icons-symbol .categories-ico{background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position: -48px -122px;}

.list-menu ul li button:HOVER .icons-symbol .categories-ico{
background-position: -48px -162px;}

.list-menu ul li button .icons-symbol .theme-ico{background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-88px -122px;}

.list-menu ul li button:HOVER .icons-symbol .theme-ico{
background-position:-88px -162px;}

.list-menu ul li button .icons-symbol .pages-ico{background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-129px -122px;}

.list-menu ul li button:HOVER .icons-symbol .pages-ico{
background-position:-129px -162px;}

.list-menu ul li button .icons-symbol .settings-ico{background-image: url("/cdn/images/landing_images/landing_icons.png");
background-repeat: no-repeat;
background-position:-170px -122px;}

.list-menu ul li button:HOVER .icons-symbol .settings-ico{
background-position:-170px -162px;}

.list-menu ul li button .icon-label{display: table-cell;height:38px;width:80px; vertical-align: middle;text-align: center;color:#fff;
font-size: 11px;line-height: 15px;padding:0px 10px;}

.list-menu ul li button .settings-label{position:absolute;height: 76px;width: 98px;display:none;left: 120px;top: 0px;}
.list-menu ul li button:hover .settings-label{display: table;}
.list-menu ul li button .settings-label span{font-size: 11px;line-height: 15px;color: #DEB32E;display: inline-block;vertical-align: middle;width: 98px;
text-align:left;padding: 3px 0px;}
.list-menu ul .settings-butt #tool-tip{display:none;background-color: #ccc;position: absolute;height: 28px;width: 28px;top:33%;right: -10px;
transform: rotate(45deg);
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Safari and Chrome */
-o-transform: rotate(45deg); /* Opera */
-moz-transform: rotate(45deg); /* Firefox */}
.list-menu ul .settings-butt:hover #tool-tip{display: block;}
/*manage-styx*/
.landing-manage-styx{display: block;float: left;margin-bottom: 50px}
.landing-manage-styx .title{height: 26px;display: block; font-size: 22px;line-height: 26px;display: block;color:#333333;}
.styx-store-names{width: 606px;display: block;float: left;margin-top: 13px;}

.styx-list-wrapper{display: table;min-height: 58px;width: 606px;border-bottom: 1px dotted #999999;margin-bottom: 22px;}
.styx-list-wrapper .styx-list-left{width: 385px;display: table-cell;min-height: 58px;vertical-align: middle;}
.styx-list-wrapper .styx-list-right{width: 225px;display:inline-block;min-height: 58px;vertical-align: top;}
.styx-store-names ul{list-style: none;}
.styx-store-names ul li{display: block;}

.styx-list-left h3{display:block;vertical-align: middle; font-size: 15px;line-height: 19px;margin-bottom: 1px;color:#81C0B7;font-weight: bold;}
.styx-list-left p{display: block;vertical-align: middle;font-size: 12px; line-height: 16px; color: #666666;padding-left: 10px;}
.styx-list-right button {width: 100px;height: 40px;background-color: #81C0B7;-moz-box-shadow:  2px 2px 0px 0px #333333;-webkit-box-shadow:  2px 2px 0px 0px #333333;
  box-shadow:  2px 2px 0px 0px #333333;font-size: 16px;color:#fff;line-height: 40px;margin-left: 10px;border: 0px;text-decoration: none;
  display: inline-block;cursor: pointer;}
  .styx-list-right button:HOVER {
		background-color:  #cccccc;}
		
/** Manage Stykables **/		
.styka-title{color:#333333;font-size: 24px;line-height: 26px;display: block;margin-bottom: 15px;}    
.styk-upgrade-wrapper{float: left; position: relative; width: 572px;display: table-cell;vertical-align:middle;
background-color: #F5F5EC;border: 1px solid #FFFFFF;
-webkit-box-shadow:  0px 0px 5px 3px #DFDFDf;        
        box-shadow:  0px 0px 5px 3px #DFDFDf;
        padding: 15px 17px;margin-bottom: 7px;
}
.styk-upgrade-wrapper button, .styk-upgrade-wrapper .spanbutton{width: 80px;height: 20px;display: inline-block;color: #FFFFFF;font-size: 12px;background-color: #81C0B7;margin: 0px 4px;
line-height: 20px; -moz-box-shadow: 2px 2px 0px 0px #333333; -webkit-box-shadow: 2px 2px 0px 0px #333333; box-shadow: 2px 2px 0px 0px #333333; text-align: center;}
.styk-upgrade-wrapper button:hover, .styk-upgrade-wrapper .spanbutton:hover {background-color: #51A296; cursor: pointer; }        
.styka-p1{font-size: 14px;color: #000000;display: inline-block;margin-bottom: 8px;}
.styka-p2{font-size: 12px;color:#666666;line-height: 16px;display: block;width: 429px;}	
.upgrade_link{color:#4E9B90;font-weight: bold;}
.upgrade_link:hover{text-decoration: underline; cursor: pointer;}
.styk-vairants-wrapper{width: 587px; padding: 0 12px 0 9px; display: table; vertical-align: middle;border-bottom: 1px dotted #999999;height: 109px;}	
.styka-no-border{border: none !important;}
.styk-cell{display: table-cell;vertical-align: middle;}
.styk-left-part{width: 474px;}
.styk-cell button{width: 100px;height: 26px;display:inline-block;font-size: 12px;background-color: #51A296;color: #FFFFFF;
	-moz-box-shadow:  2px 2px 0px 0px #333333; -webkit-box-shadow:  2px 2px 0px 0px #333333; box-shadow:  2px 2px 0px 0px #333333; }
.styk-cell button:hover{background-color: #81C0B7; cursor: pointer;}
.styk-cell a.linkbutton{width: 100px;height: 26px;line-height: 26px;text-align: center; text-decoration: none;display:inline-block;font-size: 12px;background-color: #51A296;color: #FFFFFF;
	-moz-box-shadow:  2px 2px 0px 0px #333333; -webkit-box-shadow:  2px 2px 0px 0px #333333; box-shadow:  2px 2px 0px 0px #333333; }
.styk-cell a.linkbutton:hover{background-color: #81C0B7; cursor: pointer;}       
.styk-title{font-size: 16px;color:#333333;line-height: 20px;display: inline-block;font-weight: bold; margin-right: 8px;}
.styk-cell p{font-size: 11px;line-height: 14px;margin-top: 7px; color: #666666; }
.styk-cell-right{text-align: right;vertical-align: middle;}

.styka-ads-wrapper{float: left; position: relative;}
.styka-ads-wrapper-bg-top{ background: url("/cdn/images/styx_landing_vendor.png") no-repeat center 0 transparent; position: absolute; top: 0; left: -17px; width: 695px; height: 23px; }
.styka-ads-wrapper-content{ display:table-cell;vertical-align:middle;height: 118px; padding: 0 8px 0 29px; width: 567px;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;margin-top: 1px; }
.styk-wrapper-title{font-size: 14px;color:#51A296;font-weight: bold;display: inline-block;margin-bottom: 6px;}
.styka-ads-item{float: left; display: block;width: 575px;}
.copy-em-code{ float: left; height: 45px;width: 39px;display: inline-block;text-align: right;font-size: 11px;color:#000000;background-color: #81C0B7;
line-height: 13px;vertical-align: middle;padding: 3px 5px 0 6px; border-left: 1px solid #CCCCCC; }
.em-code-wrapper{float: left; font-size: 11px; height: 38px; width: 222px; padding: 4px; background-color: none; vertical-align: middle; 
	border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; }

.styka-item-edit{float: left; width: 60px;height: 26px;vertical-align: top;font-size: 12px;color: #FFFFFF;background-color: #81C0B7;
   -moz-box-shadow:  2px 2px 0px 0px #333333;        
-webkit-box-shadow:  2px 2px 0px 0px #333333;        
        box-shadow:  2px 2px 0px 0px #333333;
        margin-left: 66px; cursor: pointer;}
.styka-item-del{float: left; width: 60px;height: 26px;vertical-align: top;font-size: 12px;color: #FFFFFF;background-color: #81C0B7;
   -moz-box-shadow:  2px 2px 0px 0px #333333;        
-webkit-box-shadow:  2px 2px 0px 0px #333333;        
        box-shadow:  2px 2px 0px 0px #333333;margin-left: 10px; cursor: pointer;}
.styka-item-prev{float: left; width: 80px;height: 26px; line-height: 26px; text-align: center; text-decoration: none; vertical-align: top;font-size: 12px;color: #FFFFFF;background-color: #51A296;
   -moz-box-shadow:  2px 2px 0px 0px #333333;        
-webkit-box-shadow:  2px 2px 0px 0px #333333;        
        box-shadow:  2px 2px 0px 0px #333333;margin-left: 10px;}
.styka-item-prev:hover{background-color: #81C0B7; cursor: pointer;}
.styka-active-num{font-size: 11px;color: #666666;padding: 0px 5px;line-height: 16px;height: 16px;display: inline-block;}      
.styka-view-all{ float: right; color: #51A296; font-size: 12px; margin: 9px 80px 0 0; text-decoration: none; }   
.styka-view-all:hover{text-decoration: underline;}   
.stykable-bottom-spacer{ float: left; width: 100%; height: 40px; }
