@import url("/cdn/css/v2/design.css");

html body { font-size: 12px !important; }
#wz-confirm-wrapper{ background-color: #DDDDDD; width: 100%; height: 30px; line-height: 30px; text-align: center; color: #444444; }
#wz-h-wrapper{ background-color: transparent; position: relative; top: 0; width: 100%; z-index: 99; padding: 0;}
.hgrid{ background-color: #4CBA17; }
.wz-h-content{ margin: 0 auto; width: 1000px; height: 80px; }
.wz-h-logo{ float: left; width: 444px; padding-left: 16px; height: 80px; }
.wz-h-logo img{ float: left; margin-top: 15px; }
.build-shop-header{ float: left; width: 540px; position: relative; }
.build-shop-header h1{ float: left; font-size: 24px; line-height: 26px; margin: 19px 0 0 0; padding: 0; font-weight: 300; opacity: 0.8; }
.build-shop-header .step-line {background-color: #ffffff; position: absolute; top: 34px; left: 207px; width: 275px; height: 2px;}
.build-shop-header ul {float: left; width: 392px; list-style-type: none; margin: 20px 0 0 13px; padding: 0; }
.build-shop-header ul li{float: left; position: relative; width: 98px; height: 51px; text-align: center;}
.build-shop-header ul li .step-checkbox{ background-color: #ffffff; position: relative; width: 15px; height: 15px; margin: 7px auto 0; color: #CCCCCC; display: block; border: 2px solid #ffffff; border-radius: 100%;  -moz-border-radius: 100%;  -webkit-border-radius: 100%;}
.build-shop-header ul li .check-icon{ display: none; }
.build-shop-header ul li.visited .step-checkbox{ background-color: transparent; margin: 2px auto; width: 24px; height: 24px; }
.build-shop-header ul li.visited .check-icon{ background: url(/cdn/images/v2/home/done.png) no-repeat scroll 0 0 transparent; position: absolute; top: 1px; left: 38px; display: block; width: 28px; height: 22px; z-index: 2; }
.build-shop-header ul li.active .step-checkbox{ background-color: #444444; width: 24px; height: 24px; margin: 2px auto; }
.build-shop-header ul li .step-title{color: #ffffff; font-size: 14px; position: absolute; left:0; bottom: 0; width: 100%; opacity: 0.5; }
.build-shop-header ul li.active .step-title, .build-shop-header ul li.visited .step-title{ opacity: 1; }
.build-shop-header ul li.check-only .step-title{ color: #ffffff; opacity: 1; }

.comm-inpt-height{ height: 40px !important; }
.comm-line-height{ line-height: 40px !important; }
input[type="text"]{ margin-bottom: 0; }
.comm-inpt-bottom-space{ margin-bottom: 37px !important; }
.fsize-18{ font-size: 18px; }
.wz { height: 100%;  }
.med { margin: 0 auto; position: relative; width: 1000px; }

/* build shop info page */
.bsi-wrapper{ float: left; padding: 45px 19px 90px; }
.bsi-wrapper textarea{ width: 409px; height: 188px; }
.bsi-wrapper h1{ float: left; font-size: 30px; font-weight: 100; opacity: 0.9; margin-bottom: 38px; }
.bsi-wrapper .b-left{ float: left; width: 411px; }
.bsi-wrapper .b-left label{ font-size: 14px; font-weight: 400; margin-bottom: 10px; }
.bsi-wrapper .shop-colors{ margin-bottom: 33px; }
.bsi-wrapper .shop-colors span{ width: 40px; height: 40px; display: inline-block; margin: 0 6px 0 0; position: relative; cursor: pointer; }
.bsi-wrapper .shop-colors .c1{ background-color: #B20000; }
.bsi-wrapper .shop-colors .c2{ background-color: #FF8000; }
.bsi-wrapper .shop-colors .c3{ background-color: #FDD124; }
.bsi-wrapper .shop-colors .c4{ background-color: #70B01A; }
.bsi-wrapper .shop-colors .c5{ background-color: #4C66A4; }
.bsi-wrapper .shop-colors .c6{ background-color: #66CCCC; }
.bsi-wrapper .shop-colors .c7{ background-color: #69008C; }
.bsi-wrapper .shop-colors .c8{ background-color: #000000; }
.bsi-wrapper .shop-colors .c9{ background-color: #999999; }
.bsi-wrapper .shop-colors .selected{ box-shadow:  0 0 0 3px #555555; -moz-box-shadow:  0 0 0 3px #555555; -webkit-box-shadow:  0 0 0 3px #555555; border-radius: 2px 2px 2px 2px; -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px; }
.bsi-wrapper .shop-url{ width: 440px; margin: 0 0 9px;}
.bsi-wrapper .shop-country{ width: 440px; margin: 0; padding: 0;}
.bsi-wrapper .shop-country select{ background-position: 414px center; }
.bsi-wrapper .detect-note{ font-size: 11px; line-height: 12px; font-weight: 400; margin-top: -6px; }
.bsi-wrapper .b-right{ float: right; width: 492px; }
.shop-info-form small.error{ background-color: transparent !important; color: #F04124 !important; position: absolute; top: 6px; right: 0; }

.shop-catalog-modal .shop-left{ position: absolute; top: 70px; left: 0; z-index: 10; width: 220px;}
.shop-catalog-modal .shop-left-bg{ position: absolute; width: 221px; height: 100%; border-right: 1px solid transparent; }
.shop-catalog-modal .shop-center{ min-width: 450px; max-width:750px; padding-left: 32px; }
.arrow-down{ float:left; width: 0; height: 0; display: block; border-top: 10px solid #545454; border-bottom: 8px solid transparent; border-right: 8px solid transparent; border-left: 8px solid transparent; margin: 34px 0 0 10px; }

/* shop catalog modal */
@media only screen and ( min-width:1024px ) {
	.shop-catalog-modal{ width: 1024px; }
	.shop-catalog-modal .shop-left{ position: absolute; top: 70px; left: 0; z-index: 10; width: 220px;}
	.shop-catalog-modal .shop-center{ width: 750px; padding-left: 32px; }
	.shop-catalog-modal .shop-left .slimScrollDiv{ float: left; }
	.arrow-down{ display: block; }
	.hide2{ display:none; }
	.hide3{ display:block; }
	.shop-catalog-modal .shop-center h2{ cursor: pointer; }
}

@media only screen and ( min-width:1225px ) {
	.shop-catalog-modal{ width: 1225px; }
	.shop-catalog-modal .shop-left{ position: relative; top: 0; left: 0; z-index: 10; display: block; }
	.shop-catalog-modal .shop-left{ float: left; width: 221px; height: 100%; }
	.shop-catalog-modal .shop-center{ width: 730px; padding-left: 32px; }
	.arrow-down{ display: none; }
	.hide2{ display:block; }
	.hide3{ display:none; }
	.shop-catalog-modal .shop-center h2{ cursor: default; }
}

@media only screen and ( min-width:1400px ) {
	.shop-catalog-modal .shop-left{ float: left; width: 221px; height: 100%; border-right: 1px solid transparent; }
	.shop-catalog-modal .shop-left{ display: block; }
	.shop-catalog-modal{ width: 1400px; padding-left: 32px; }
	.shop-catalog-modal .shop-center{ width: 906px; }
	.arrow-down{ display: none; }
	.hide2{ display:block; }
	.hide3{ display:none; }
	.shop-catalog-modal .shop-center h2{ cursor: default; }
}
.reveal-modal-bg { background: none repeat scroll 0 0 #FFFFFF; z-index: 99; overflow: hidden; }
.shop-catalog-modal{ min-width: 1024px; max-width: 1400px; min-height: 880px; border: 0 none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; padding: 0 0; top: 6px !important; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); overflow: hidden; }
.shop-catalog-modal .c-modal{ font-weight: 100 !important; font-size: 76px !important; z-index: 20; top: 19px !important; right: 20px !important; height: 30px; line-height: 20px !important; }
.shop-catalog-modal .header-wrapper{ float: left; width: 100%; height: 70px;  }
.shop-catalog-modal .header-wrapper h1{ float: left; margin: 0 0 0 22px; font-size: 35px; line-height: 66px; }
.shop-catalog-modal .search-box{ float: left; position: relative; margin-left: 15px; width: 473px; height: 70px; }
.shop-catalog-modal .search-box input{ float: left; height: 35px; width: 473px; font-size: 14px; margin-top: 18px; border: 1px solid #4CBA17; }
.shop-catalog-modal .search-box input.input_error{ border: 1px solid red; }
#search-products-btn{ background: url(/cdn/images/v2/search-medium-btn.png) no-repeat scroll 0 0; position: absolute; top: 24px; right: 6px; height: 23px; width: 22px; position: absolute; cursor: pointer; display: block;}
.shop-catalog-modal .content-wrapper{ background-color: #F2F5F6; float: left; width: 100%; height: 920px; }

.shop-catalog-modal .shop-left h2{ float: left; font-size: 18px; width: 100%; height: 70px; text-align: center; line-height: 70px; margin: 0; font-weight: 400; }
.shop-catalog-modal .shop-left .all-dept, .shop-catalog-modal .shop-left .main-dept-lbl{ float: left; position: relative; height: 44px; margin-bottom: 1px; width: 100%; padding: 0 10px; overflow: hidden;  }
.shop-catalog-modal .shop-left .all-dept span.dname, .shop-catalog-modal .shop-left .main-dept-lbl span.dname{ width: 100%; height: 44px; display: table;}
.shop-catalog-modal .shop-left .all-dept span.dname label, .shop-catalog-modal .shop-left .main-dept-lbl span.dname label{ display: table-cell; vertical-align: middle; font-size: 14px; line-height: 16px; font-weight: 400; }
.shop-catalog-modal .shop-left .all-dept span.dname label{ font-size: 12px; font-weight: 300; }
.shop-catalog-modal .shop-left .all-dept span.dname label span:hover{ text-decoration: underline; cursor: pointer; }
.shop-catalog-modal .shop-left .all-dept span.arrow-left{ float: left; margin: 4px 8px 0 0; width: 0; height: 0; display: block; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 4px solid #4CBA17; border-left: 4px solid transparent; }
.shop-catalog-modal .dept-spacing{ float: left; width: 100%; height: 12px; padding: 0; margin: 0; }
.shop-catalog-modal .shop-left .slimScrollDiv{ float: left; }
.shop-catalog-modal .shop-left ul{ float: left; list-style-type: none; padding: 0; margin: 0; width: 100%;  }
.shop-catalog-modal .shop-left ul li{ background-color: #FFFFFF; float: left; position: relative; height: 45px; border-bottom: 1px solid #F0F0F0; width: 220px; padding: 0 10px; overflow: hidden; } 
.shop-catalog-modal .shop-left ul li span.dname{ width: 100%; height: 44px; display: table;}
.shop-catalog-modal .shop-left ul li span.dname label{ display: table-cell; vertical-align: middle; font-size: 14px; line-height: 16px; font-weight: 300; }
.shop-catalog-modal .shop-left ul li.active{ background-color: #4CBA17; width: 221px; }
.shop-catalog-modal .shop-left ul li.active span.dname label{ color: #FFFFFF !important; }
.shop-catalog-modal .shop-left ul li.active span.arrow-left{ position: absolute; top: 12px; right: -1px; width: 0; height: 0; display: block; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid #F2F5F6; border-left: 10px solid transparent; }
.shop-catalog-modal .shop-left ul li.active span.department-loading{ position: absolute; top: 13px; right: 16px; padding: 0 6px; font-size: 11px; }
.shop-catalog-modal .shop-left ul li:hover, .shop-catalog-modal .shop-left ul li:hover span.dname label{ cursor: pointer; }

.shop-catalog-modal .shop-center{ float: left; }
.shop-catalog-modal .shop-center h2{ float: left; margin: 24px 0 20px 0; padding: 0; font-size: 18px; color: #545454; font-weight: 400;}
.shop-catalog-modal .shop-center .slimScrollDiv{ float: left; }
.shop-catalog-modal .shop-center .slimScrollDiv .slimScrollBar{ right: 12px !important; }
.shop-catalog-modal .product-panel{ position: relative; margin: 0 auto; }
.shop-catalog-modal .product-panel .shopstyxloader{ margin: 38% auto 0 !important; }

.shop-catalog-modal .shop-right{ float: right; width: 272px; }
.shop-catalog-modal .shop-right h2{ float: left; margin: 24px 0 20px 0; padding: 0; font-size: 18px; color: #545454; font-weight: 400;}

/* crud */
.shop-product-wrapper{ float: left; list-style-type: none; margin: 0; }
.shop-product-list{ background-color: #FFFFFF; float: left; width: 148px; height: 215px; border: 1px solid #EEEEEE; margin: 0 25px 22px 0; list-style-type: none; cursor: move;}
.shop-product-list:hover{ width: 148px !important; height: 215px !important; border: 1px solid #00D9D9 !important; margin: 0 25px 22px 0 !important; padding: 0 !important; }
.shop-product-list .product-img{ background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; width: 128px; height: 97px; margin: 9px 10px 4px; }
.shop-product-list .earn-price-bg{ background-color: #00D9D9; position: absolute; bottom: 0; width: 129px; height: 24px; display: block; opacity: 0.9; }
.shop-product-list .earn-price{ background-color: transparent; position: absolute; bottom: 0; font-weight: 400; width: 129px; height: 24px; line-height: 24px; font-size: 14px; text-align: center; display: block; z-index: 2;}
.shop-product-list .product-title{ height: 59px; width: 128px; padding: 0 10px; font-size: 16px; line-height: 19px; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; display: block; overflow: hidden; font-weight: 300; }
.shop-product-list .product-price{ height: 23px; width: 128px; padding: 0 10px; font-size: 18px; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; display: block; font-weight: 400; margin: 3px 0 8px; }
.shop-product-list .product-select{ height: 26px; line-height: 26px; width: 128px; font-size: 14px; text-align: center; display: block; font-weight: 300; padding: 0 0; margin: 0 10px; border-radius: 6px; cursor: pointer; }
.shop-product-list .product-select:hover{ background-color: #70c845; }
.shop-product-list .product-categoy{ height: 26px; line-height: 24px; width: 128px; font-size: 14px; text-align: center; display: block; font-weight: 300; padding: 0 0; margin: 0 10px; border: 1px solid #00D9D9; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.prod-list-added{ background-color: #00D9D9; border: 1px solid #00D9D9;}
.prod-list-added .earn-price-bg{ background-color: #555555; }
.prod-list-added .product-title{ color: #FFFFFF !important; }
.prod-list-added .product-price{ color: #FFFFFF !important; }
.product-panel .more-product{ float: left; margin: 12px 0 4px 0; width: 668px; text-align: center; border: 1px solid #4CBA17; }
.product-panel .more-product span.more-button{ font-size: 14px; font-weight: 400; }
.product-panel .more-product span.more-button:hover{ cursor: pointer; }
.product-panel .more-product span.loader-image{ background: url('/cdn/images/v2/small-preloader.gif') no-repeat scroll 0 0 transparent; width: 14px; height: 14px; margin-right: 10px; vertical-align: middle; display: inline-block; }


.category-panel{ float: left; width: 270px; margin: 0 0 0; min-height: 555px; }
.category-panel .b-droppable-wrapper{ float: left; float: left; width: 270px; height: 442px; margin: 0 1px; }
.category-panel .b-category-wrapper{ float: left; float: left; width: 246px; height: 410px; }
.category-panel .b-droppable-category{ float: left; position: relative; width: 246px; height: auto; margin-bottom: 9px; }
.category-panel .b-category{ background-color: #FFFFFF; float: left; position: relative; width: 246px; height: auto; border: 1px solid #EEEEEE; margin-bottom: 9px; margin-left: 2px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); }
.category-panel .add-new-cat-btn{ height: 102px; }
.category-panel .add-new-cat-btn .add-new-cat-icon{ position: absolute; top: 37px; left: 17px; width: 26px; height: 26px; }
.category-panel .add-new-cat-btn .add-new-cat-icon span{ position: absolute; width: 11px; height: 11px; }
.category-panel .add-new-cat-btn .add-new-cat-icon span:nth-child(1){ top: 0; left: 0; }
.category-panel .add-new-cat-btn .add-new-cat-icon span:nth-child(2){ top: 0; right: 0; }
.category-panel .add-new-cat-btn .add-new-cat-icon span:nth-child(3){ bottom: 0; left: 0; }
.category-panel .add-new-cat-btn .add-new-cat-icon span:nth-child(4){ bottom: 0; right: 0; }
.category-panel .add-new-cat-box{ padding: 12px 16px; font-size: 14px; }
.category-panel .add-new-cat-box input{ height: 30px; margin-bottom: 12px; padding-top: 0; padding-bottom: 0; font-size: 14px; }
.category-panel .add-new-cat-box button{ vertical-align: middle; font-size: 14px !important; padding: 0 0 !important; width: 128px; height: 26px; line-height: 26px !important; margin: 0 !important; -moz-border-radius: 4px !important; -webkit-border-radius: 4px !important; border-radius: 4px !important; }
.category-panel .add-new-cat-box button:hover{ background-color: #70c845; }
.category-panel .add-new-cat-box label{ font-size: 13px; margin-bottom: 2px; }
.category-panel .add-new-cat-box select{ background-position: 190px center; padding: 2px 2px; height: 30px; font-size: 14px; margin: 0; }
.category-panel .add-new-cat-box small.error, .category-panel .add-new-cat-box small.email_error, .category-panel .add-new-cat-box small.dynamic_error{ top: 8px; }
.category-panel .add-new-cat-box .upload-img-btn{ float: left; position: relative; background-color: #BBBBBB; display: block; width: 155px; height: 28px; line-height: 28px; font-size: 13px; padding: 0 9px; cursor: pointer; margin-top: 14px; }
.category-panel .add-new-cat-box .upload-img-btn .plus{ font-size: 26px; line-height: 16px; position: absolute; right: 9px; top: 4px; clear: both; }
.category-panel .add-new-cat-box .action-wrapper{ float: left; position: relative; width: 100%; min-height: 52px; }
.category-panel .add-new-cat-box .action-wrapper .text-pre-loader-style{ top: 20px; left: 0; padding: 2px 6px; }
.category-panel .add-new-cat-box .create-btn{ float: left; width: 100px; height: 36px; line-height: 36px; font-size: 16px; text-align: center; font-weight: 300; margin: 16px 0 0 0; cursor: pointer; padding: 0;}
.category-panel .add-new-cat-box .create-btn:hover{ background-color: #70c845; }
.category-panel .add-new-cat-box .cancel-btn{ float: left; font-size: 16px; font-weight: 400; margin: 23px 0 0 26px; cursor: pointer; text-decoration: underline; }
.category-panel .add-new-cat-box .upload-image-box{ float: left; position: relative; width: 90px; height: 70px; border: 1px solid; font-size: 12px; font-weight: 400; text-align: center; cursor: pointer; overflow: hidden; }
.category-panel .add-new-cat-box .upload-bg{ background: url('/cdn/images/v2/upload-img-bg.png') no-repeat scroll center 36%; float: left; width: 90px; height: 70px;  }
.category-panel .add-new-cat-box .upload-lbl{ position:absolute; width: 100%; left: 0; top: 46px;  }
.category-panel .add-new-cat-box .upload-image-box img{ }
.category-panel .add-new-cat-box textarea{ float: left; width: 215px; height: 80px; margin: 0; }
.category-panel .add-new-cat-box .more-cat-details label{ color: #BABABA; margin: 14px 0 2px; }
.category-panel .add-new-cat-box .more-cat-details #display_message{  }
.category-panel .add-new-cat-box .more-cat-details #display_message p{ color: red; font-size: 12px; line-height: 16px; font-weight: 300; margin: 0; padding: 0; position: absolute; right: 0; top: 0; width: 110px; }
.category-panel .add-new-cat-box .filename{ font-size: 11px; }
.category-panel .add-new-cat-btn label{ position: absolute; top: 38px; left: 59px; font-size: 16px; }
.category-panel .added-category-wrapper{ padding-left: 2px; }
.category-panel .added-category-wrapper .category-list .text-pre-loader-style{ left: 154px; top: 8px; }
.category-panel .added-category-wrapper .category-list,
.category-panel .added-category-wrapper .sub-category-list{ float: left; position: relative; width: 246px; min-height: 102px; margin: 9px 0; }
.category-panel .added-category-wrapper .category-list:hover{ opacity: 0.6; cursor: pointer; }
.category-panel .added-category-wrapper .category-list span.category-del,
.category-panel .added-category-wrapper .sub-cat-list span.category-del2,
.category-panel .added-category-wrapper .sub-category-list span.category-del{ display: none; color: #000000; position: absolute; top: 5px; right: 5px; height: 18px; line-height: 15px; font-size: 36px; font-weight: 300; cursor: pointer; z-index: 10; opacity: 0.4; }
.category-panel .added-category-wrapper .category-list:hover span.category-del,
.category-panel .added-category-wrapper .sub-cat-list:hover span.category-del2,
.category-panel .added-category-wrapper .sub-category-list:hover span.category-del{ display: block; }
.category-panel .added-category-wrapper .category-list .b-cat-box4,
.category-panel .added-category-wrapper .sub-category-list .b-cat-box4{ background-color: #FFFFFF; float: left; position: relative; width: 246px; min-height: 102px; border: 1px solid #EEEEEE; padding: 16px; z-index: 7; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65);}
.category-panel .added-category-wrapper .category-list .b-cat-box1,
.category-panel .added-category-wrapper .sub-category-list .b-cat-box1{ background-color: #FFFFFF; position: absolute; top: 0; left: 2px; width: 242px; height: 100%; border: 1px solid #EEEEEE; z-index: 3; -ms-transform:rotate(2deg); -webkit-transform:rotate(2deg); transform:rotate(2deg); box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); display: none;}
.category-panel .added-category-wrapper .category-list .b-cat-box2,
.category-panel .added-category-wrapper .sub-category-list .b-cat-box2{ background-color: #FFFFFF; position: absolute; top: 0; left: 4px; width: 244px; height: 100%; border: 1px solid #EEEEEE; z-index: 5; -ms-transform:rotate(-3deg); -webkit-transform:rotate(-3deg); transform:rotate(-3deg); box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); display: none;}
.category-panel .added-category-wrapper .category-list .b-cat-box3,
.category-panel .added-category-wrapper .sub-category-list .b-cat-box3 { background-color: #FFFFFF; position: absolute; top: 0; right: 8px; width: 208px; height: 100%; border: 1px solid #EEEEEE; z-index: 1; -ms-transform:rotate(3deg); -webkit-transform:rotate(3deg); transform:rotate(3deg); box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.65); display: none;}
.category-panel .added-category-wrapper .category-list .b-cat-box4 .more-lbl,
.category-panel .added-category-wrapper .sub-category-list .b-cat-box4 .more-lbl{ position: absolute; width: 68px; top: 37px; left: 144px; font-size: 12px; }
.added-category-wrapper .more .b-cat-box1, .added-category-wrapper .more .b-cat-box2, .added-category-wrapper .more .b-cat-box3{ display: inline-block !important; }
.category-panel .added-category-wrapper .category-list span.cat-title,
.category-panel .added-category-wrapper .sub-category-list span.cat-title{ position: absolute;  font-size: 14px; font-weight: 500; }
.category-panel .added-category-wrapper .category-list .product-images,
.category-panel .added-category-wrapper .sub-category-list .product-images{ position: absolute; top: 34px; left: 7px; width: 136px; height: 22px; overflow: hidden; }
.category-panel .added-category-wrapper .category-list .product-images span.p-image,
.category-panel .added-category-wrapper .sub-category-list .product-images span.p-image{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 23px; height: 22px; margin-right: 4px; }
.category-panel .main-category-wrapper, .category-panel .sub-cat-list{ float: left; position: relative; width: 215px; height: 68px; margin-bottom: 8px; }
.category-panel .main-category-wrapper span.cat-title{ top: 7px; left: 7px; }
.category-panel .main-category-wrapper .product-images{ top: 7px; left: 7px; }
.category-panel .main-category-wrapper .more-lbl{ top: 51px; left: 154px !important; }
.category-panel .sub-category-wrapper{ float: left; }
.category-panel .sub-category-wrapper .main-cat-title{ float: left; margin-bottom: 6px; font-size: 14px; font-weight: 400; }
.category-panel .sub-cat-list { border: 1px solid #E0E0E0; }
.category-panel .sub-cat-list .text-pre-loader-style{ left: 124px; top: 8px; }
.category-panel .sub-cat-list:hover{ opacity: 0.7; cursor: pointer; }
.category-panel .sub-cat-list span.cat-title{ top: 7px; left: 7px; }
.category-panel .sub-cat-list .product-images{ top: 7px; left: 7px; }
.category-panel .sub-cat-list .more-lbl{ top: 51px; right: 21px; }


.category-panel .b-product-listing-wrapper{ background-color: #EEEEEE; float: left; position: relative; padding: 17px 9px 21px 9px; margin: 70px 0 0 2px; width: 246px; height: 376px; box-shadow: 0 0 4px 0 #153a06; -moz-box-shadow: 0 0 4px 0 #153a06; -webkit-box-shadow: 0 0 4px 0 #153a06; }
.category-panel .b-product-listing-wrapper .category-products-list{  height: 356px; overflow: hidden; width: 232px; }
.category-panel .b-product-listing-wrapper .category-products{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; position: relative; width: 96px; height: 72px; margin: 0 9px 17px 9px; overflow: hidden; }
.category-panel .b-product-listing-wrapper .category-products:hover{ border: 1px solid #4CBA17;  }
.category-panel .b-product-listing-wrapper .category-products .text-pre-loader-style{ top: 20px; left: 10px; }
.category-panel .b-product-listing-wrapper .category-products span.earn-bottom{ background-color: #00B2B2; position: absolute; bottom: 0; width: 100%; height: 24px; opacity: 0.9; display: block; z-index: 1; }
.category-panel .b-product-listing-wrapper .category-products span.earn-top{ position: absolute; bottom: 0; width: 100%; height: 24px; line-height: 24px; display: block; font-size: 14px; font-weight: 400; text-align: center; z-index: 2; }
.category-panel .b-product-listing-wrapper .category-products span.product-del{ position: absolute; top: 4px; right: 3px; height: 18px; line-height: 16px; font-size: 36px; font-weight: 300; cursor: pointer; display: none; text-shadow: 1px 1px 3px #fff; }
.category-panel .b-product-listing-wrapper .category-products:hover span.product-del{ display: block; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .backto-categories{ position: absolute; font-size: 16px; left: 0; bottom: -30px; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .backto-categories:hover{ text-decoration: underline; cursor:pointer; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .backto-categories .back-icon-img{ width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid #777777; display: inline-block; margin: 0 9px 0 4px; vertical-align: top;}
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper{ position: absolute; left: 0; top: -44px; width: 100%; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div{ float: left; position: relative; width: 25px; height: 25px; margin-right: 10px; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span{ position: absolute; width: 10px; height: 10px; display: block; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(1){ top: 0; left: 0; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(2){ top: 0; right: 0; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(3){ bottom: 0; left: 0; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(4){ bottom: 0; right: 0; }
.category-panel .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper h2{ float: left; font-size: 16px; line-height: 26px; text-align: left; width: 84%; margin: 0; }

.drop-hover{ opacity: 0.6; }

/* buil catalog page */
.bc-wrapper{ float: left; padding: 49px 0 110px; }
.bc-wrapper h1{ float: left; font-size: 28px; font-weight: 100; opacity: 0.9; margin-bottom: 19px; padding: 0 16px; }
.bc-wrapper .add-p-wrapper{ float: left; height: 103px; margin-bottom: 101px; padding: 0 16px; }
.bc-wrapper .add-p-wrapper span{ float: left; border: 1px solid #4CBA17; width: 134px; height: 101px; text-align:center; line-height: 90px; font-size: 80px; font-weight: 100; margin-right: 31px; text-indent: -999999px; }
.bc-wrapper .add-p-wrapper span:last-child{ margin-right: 0; }
.bc-wrapper .add-p-wrapper span.active{ background-color: #4CBA17; border: 1px solid #FFFFFF; cursor: pointer; text-indent: 0;}
.bc-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper{ top: -68px; }

.bc-top{ float: left; position: relative; width: 1000px; margin-top: 30px; }
.bc-top .search-box{ height: 35px; width: 319px; font-size: 14px; position: relative; margin: 0 0 42px 14px; }
.bc-top .search-box input{ height: 35px; width: 319px; font-size: 14px; padding-right: 36px; }
.bc-top .search-box input.input_error{ border: 1px solid red; }
.bc-top .search-box .search-btn{ background: url(/cdn/images/v2/search-small-btn.png) no-repeat scroll 0 0; position: absolute; top: 6px; right: 6px; height: 23px; width: 22px; position: absolute; cursor: pointer; }
.bc-top .tips-and-cmd{ position: absolute; top: 0; right: 0; width: 284px; }
.bc-top .tips-and-cmd h2{ float: left; width: 300px; text-align: left; margin: 14px 0 0 16px; font-size: 22px; font-weight: 100; }
.bc-top .tips-and-cmd .tips-box{ background-color: #E8BE43; float: left; position: relative; border: 1px solid #fff; width: 240px; height: 54px; padding: 8px 13px; font-size: 15px; font-weight: 400; line-height: 17px; color: #FFFFFF; margin: -10px 0 0 16px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 0 6px 2px #5C9C18; -moz-box-shadow: 0 0 6px 2px #5C9C18; -webkit-box-shadow: 0 0 6px 2px #5C9C18; }
.bc-top .tips-and-cmd .tips-box .arrow-down-back{ position: absolute; left: 17px; bottom: -24px; width: 0; height: 0; display: block; border-top: 12px solid #FFFFFF; border-bottom: 12px solid transparent; border-right: 12px solid transparent; border-left: 12px solid transparent; }
.bc-top .tips-and-cmd .tips-box .arrow-down{ position: absolute; left: 9px; bottom: -20px; width: 0; height: 0; display: block; border-top: 11px solid #E8BE43; border-bottom: 10px solid transparent; border-right: 10px solid transparent; border-left: 10px solid transparent; z-index: 2;}
.bc-top .tips-and-cmd .build-promoter{ font-size: 32px; font-weight: 400; padding: 10px 36px; border-radius: 8px; margin: -20px 0 0 14px; }
.bc-top .tips-and-cmd .build-promoter:hover{ background-color: #54cc1a; }

.bc-wrapper .bc-left{ background: url(/cdn/images/v2/earn-note.png) no-repeat scroll left 168px; float: left; margin: 0 10px 0 13px; width: 295px; min-height: 360px; }
.promoter-wz .bc-left{ background-position: left 0; }
.bc-wrapper .bc-left span.earn-tips{ font-size: 28px; opacity: 0.9; line-height: 38px; font-weight: 300; letter-spacing: -1px; }
.promoter-wz .bc-left span.earn-tips{ float: left; font-size: 30px; font-weight: 100; color: #1F1F1F !important; margin-top: 224px; width: 267px; }

.bc-wrapper .left-no-type{ background: transparent; float:left; position: relative; width: 726px; margin: 0; width: auto; min-height: auto; }
.bc-wrapper .bc-left .loader-wrapper{ float: left; position: absolute; top: 0; left: 0; width: 684px; height: 500px; z-index: 10; display: none; }
.bc-wrapper .bc-left .loadbox{ top: 36%; }
.bc-wrapper .bc-left .b-prod-added { background-color: #00D9D9; border: 1px solid #00D9D9; }
.bc-wrapper .bc-left .b-prod-added .earn-price-bg{ background-color: #555555; }
.bc-wrapper .bc-left .more-product { float: left; margin: 12px 0 4px 18px; width: 668px; text-align: center; border: 1px solid #4CBA17; }
.bc-wrapper .bc-left .more-product span.loader-image{ background: url('/cdn/images/v2/small-preloader.gif') no-repeat scroll 0 0 transparent; width: 14px; height: 14px; margin-right: 10px; vertical-align: middle; display: inline-block; }
.bc-wrapper .bc-left .more-product .more-btn{ cursor: pointer; }

.bc-wrapper .bc-right{ float:left; width: 680px; }
.bc-wrapper .right-no-type{ float: right !important; width: auto; }
.bc-wrapper .bc-right .more-promoter-products{ float: left; margin: 12px 0 4px 0; width: 680px; text-align: center; border: 1px solid #4CBA17; }
.bc-wrapper .bc-right .more-promoter-products span.more-promoter-button{ font-size: 14px; font-weight: 400; }
.bc-wrapper .bc-right .more-promoter-products span.more-promoter-button:hover{ cursor: pointer; }
.bc-wrapper .bc-right .more-promoter-products span.loader-image{ background: url('/cdn/images/v2/small-preloader.gif') no-repeat scroll 0 0 transparent; width: 14px; height: 14px; margin-right: 10px; vertical-align: middle; display: inline-block; }

.bc-wrapper .bc-right .b-product-listing-wrapper{ float: left; position: relative; padding: 17px 9px 21px 9px; margin: 0; width: 246px; height: 376px; box-shadow: 0 0 4px 0 #153a06; -moz-box-shadow: 0 0 4px 0 #153a06; -webkit-box-shadow: 0 0 4px 0 #153a06; }
.bc-wrapper .bc-right .b-product-listing-wrapper .color3{ color: #222222 !important; }
.bc-wrapper .bc-right .b-product-listing-wrapper .bgcolor3{ background-color: #222222 !important; }
.bc-wrapper .bc-right .b-product-listing-wrapper .back-icon{ width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid #000000; display: inline-block; margin: 0 9px 0 4px; vertical-align: top;}
.bc-wrapper .bc-right .category-list .product-images{ position: absolute; top: 43px; left: 17px; width: 136px; height: 22px; overflow: hidden; }
.bc-wrapper .bc-right .category-list .product-images span.p-image{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 23px; height: 22px; margin-right: 4px; }
.bc-wrapper .bc-right .category-list .b-cat-box4 .more-lbl{ position: absolute; top: 47px; right: 13px; left: auto; font-size: 12px; }
.bc-wrapper .bc-right { float: left; margin: 0; min-height: 555px; }
.bc-wrapper .bc-right .b-droppable-wrapper{ float: left; width: 282px; height: 442px; margin: 0 1px; padding: 0; }
.bc-wrapper .bc-right .b-category-wrapper{ float: left; width: 246px; height: 410px; }
.bc-wrapper .bc-right .b-droppable-category{ float: left; position: relative; width: 246px; height: 102px; margin-bottom: 9px; }
.bc-wrapper .bc-right .b-category{ float: left; position: relative; height: 102px; border: 1px solid #EEEEEE; margin-bottom: 9px; margin-left: 2px; box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06;}



.sel-product-list{ float: left; width: 148px; height: 243px; border: 1px solid #EEEEEE; margin: 0 9px 25px 10px; }
.sel-product-list .product-img{ background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative; width: 128px; height: 97px; margin: 9px 10px 4px; }
.sel-product-list .earn-price-bg{ background-color: #00D9D9; position: absolute; bottom: 0; width: 129px; height: 24px; display: block; opacity: 0.9; }
.sel-product-list .earn-price{ background-color: transparent; position: absolute; bottom: 0; font-weight: 400; width: 129px; height: 24px; line-height: 24px; font-size: 14px; text-align: center; display: block; z-index: 2;}
.sel-product-list .product-title{ height: 59px; width: 128px; padding: 0 10px; font-size: 14px; line-height: 19px; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; display: block; overflow: hidden; font-weight: 300; }
.sel-product-list .product-price{ height: 23px; width: 128px; padding: 0 10px; font-size: 18px; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; display: block; font-weight: 400; margin: 3px 0 8px; }
.sel-product-list .product-select{ height: 26px; line-height: 26px; width: 128px; font-size: 14px; text-align: center; display: block; font-weight: 300; padding: 0 0; margin: 0 10px; border-radius: 6px; cursor: pointer; }
.sel-product-list .product-select:hover{ background-color: #70c845; }
.sel-product-list .product-categoy{ height: 26px; line-height: 24px; width: 128px; font-size: 14px; text-align: center; display: block; font-weight: 300; padding: 0 0; margin: 0 10px; border: 1px solid #00D9D9; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; overflow: hidden; }
.common-proceed-btn{ font-size: 28px !important; padding: 0 20px !important; height: 48px; line-height: 48px !important; margin: 0 !important; -moz-border-radius: 8px !important; -webkit-border-radius: 8px !important; border-radius: 8px !important;}
.common-proceed-btn2{ font-size: 16px !important; padding: 0 12px !important; height: 38px; line-height: 38px !important; margin: 0 70px 0 0 !important; -moz-border-radius: 8px !important; -webkit-border-radius: 8px !important; border-radius: 8px !important;}
.common-proceed-btn3, .common-proceed-btn5, .common-proceed-btn6, .common-proceed-btn7{ font-size: 21px !important; padding: 0 15px !important; height: 48px; line-height: 48px !important; margin: 0 !important; -moz-border-radius: 8px !important; -webkit-border-radius: 8px !important; border-radius: 8px !important;}
.common-proceed-btn4{ font-size: 18px !important; padding: 0 15px !important; height: 28px; line-height: 28px !important; margin: 0 15px 0 0 !important; -moz-border-radius: 6px !important; -webkit-border-radius: 6px !important; border-radius: 6px !important;}
.common-proceed-btn5{ padding: 0 26px !important; margin: 0 0 0 60px !important; }
.common-proceed-btn6{ font-size: 28px !important; padding: 0 38px !important; height: 48px !important; line-height: 48px !important; }
.common-proceed-btn7{ font-size: 28px !important; padding: 0 50px !important; height: 48px !important; line-height: 48px !important; }
.common-proceed-btn:hover, .common-proceed-btn2:hover, .common-proceed-btn3:hover, .common-proceed-btn5:hover, .common-proceed-btn6:hover, .common-proceed-btn7:hover{ background-color: #70c845; }
.common-proceed-btn4:hover{ background-color: #999999; }
.footer-wrapper{ background: url('/cdn/images/v2/footer-trans-bg.png') repeat scroll 0 0; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; position: fixed; bottom: 0; height: 48px; padding: 16px 0; width: 100%; text-align: center; z-index:10; }
.footer-wrapper .proceed-q-lbl, .footer-wrapper .ready-lbl, .footer-wrapper .done-paid-lbl, .footer-wrapper .more-preview-lbl{ display: inline-block; font-size: 18px; height: 48px; line-height: 48px; margin: 0 21px 0 0; vertical-align: top; }
.footer-wrapper .ready-lbl{ margin: 0 21px 0 80px; font-weight: 400; }
.footer-wrapper .done-paid-lbl{ margin: 0 21px 0 140px; font-weight: 400; }
.footer-wrapper .more-preview-lbl{ margin: 0 21px 0 30px; font-weight: 400; }
.footer-message-display{ background-color: #FFFFFF; position: absolute; top: -30px; width: 100%; height: 30px; line-height: 30px; color: red; }

/* catalog and shipping settings */
.catalog-shipping{ float: left; width: 1000px; padding: 0 15px; }
.catalog-shipping .left-box{ float: left; width: 303px; min-height: 420px; margin-right: 46px; overflow: hidden; }
.catalog-shipping .left-box h2{ float: left; width: 100%; font-size: 28px; line-height: 32px; color: #1F1F1F; margin: 0 0 16px; }
.catalog-shipping .add-p-wrapper{ float: left; height: auto; margin: 0; padding: 0; width: 336px; }
.catalog-shipping .add-p-wrapper span{ background-repeat: no-repeat; background-position: center center; background-size: cover; margin-bottom: 32px; }
.catalog-shipping .add-p-wrapper span.selected{ border: 2px solid #6CB01F; }
.catalog-shipping .right-box{ float: left; width: 620px; }
.catalog-shipping .right-box .shipping-note{ background-color: #FFE599; float: left; border: 1px solid #FFC926; width: 100%; padding: 0 11px; height: 35px; line-height: 35px; color: #000000; font-size: 15px; font-weight: 300; margin-bottom: 38px; }
.catalog-shipping .right-box .ship-lbl{ float: left; font-size: 18px; color: #000000; font-weight: 100; margin-bottom: 22px; }
.catalog-shipping .right-box .ships-from-box label{ float: left; line-height: 26px; margin: 0 9px 0 11px; color: #999999; }
.catalog-shipping .right-box .ships-from-box select{ background-position: 196px center; width: 220px; height: 28px !important; padding: 0.12em 0.4rem; }
.catalog-shipping .right-box .ships-to-box{ background-color: #F6F6F6; float: left; width: 620px; height: 49px; line-height: 49px; font-size: 12px; color: #AAAAAA; }
.catalog-shipping .right-box .ships-to-box strong{ width: 280px; padding-left: 30px; font-size: 16px; color: #777777; display: inline-block; }


/* Advanced: Shipping */
.wz-ap-content-shipping small.error, [data-abide] span.error, [data-abide] small.error { padding: 2px 0.5625rem 2px; font-size: 11px; }
.wz-ap-content-shipping .update-btn { margin: 0; padding: 0; text-align: center; color: #FFF; font-size: 16px; width: 100px; height: 36px; line-height: 36px; }
.wz-ap-content-shipping { margin-top: 20px; }
.wz-ap-content-shipping .shipping-lbl {}
.wz-ap-content-shipping .shipping-lbl span { line-height: 39px; font-size: 18px; float: left; margin-right: 5px; font-weight: 100; }
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type { background-color: #FFF; color:#4CBA17; font-size: 14px; height: 39px; border:1px solid #DDDDDD; position: relative; overflow: hidden; text-align: center; line-height: 37px; float: left; font-size: 14px; margin-left: 6px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type:hover, 
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type.selected { background-color: #4CBA17; color:#FFF; height: 39px; border:0 none; }
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type.global { width: 141px; }
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type.customized { width: 228px; }
.wz-ap-content-shipping .shipping-lbl .shipping-meta-type input { opacity: 0; position: absolute; height: 100%; width: 100%; z-index: 2; top: 0; left: 0; }
.wz-ap-content-shipping .shipsfrom { float: right; }
.wz-ap-content-shipping .shipsfrom span  { font-size: 14px; color: #999999; font-weight: normal; margin-right: 5px; }
.wz-ap-content-shipping .shipsfrom select  { width:220px; height: 26px; background-position:200px center; padding: 2px; margin-top: 7px;}

.wz-ap-content-shipping table { margin-top: 25px; border:0 none; border-collapse: collapse; border-bottom: 0 none; }
.wz-ap-content-shipping table tr { }
.wz-ap-content-shipping table td { padding: 0; }
.wz-ap-content-shipping table tr td:first-child { border-left:1px solid #F5F5EC; }
.wz-ap-content-shipping table tr td:last-child { border-right:1px solid #F5F5EC; }
.wz-ap-content-shipping tr.headtitle td { border-top:1px solid #F5F5EC; background-color: #F6F6F6; font-size: 16px; height: 49px; color: #777777; font-weight: 300; }
.wz-ap-content-shipping tr.data td { padding: 25px 0 30px; background-color: #FFF; vertical-align: top; border-bottom:1px solid #F5F5EC; }
.wz-ap-content-shipping table td.col1 { padding-left: 30px; font-weight: 400;}
.wz-ap-content-shipping table td.col2 {  }
.wz-ap-content-shipping table td.col3 {  }
.wz-ap-content-shipping tr.data.hide {display: none; }
.wz-ap-content-shipping tr.data td.col1 { padding-top: 30px; width: 192px; }
.wz-ap-content-shipping tr.data td.col3 { padding-top: 28px; }
.wz-ap-content-shipping tr.data.noborder { border: 0 none;}
.wz-ap-content-shipping table tr.hide { display: none; }
.wz-ap-content-shipping table tr.add-country td { background-color: #F6F6F6; height: 81px; padding:15px 0 0 31px;}
.wz-ap-content-shipping table tr.add-country select { height: 26px; margin-right: 9px !important; padding: 0 0 0 0; padding-left: 5px; float: left; }
.wz-ap-content-shipping table tr.add-country button { position: relative; top: -5px; width: 156px; }
.wz-ap-content-shipping tr.customized-col td { height: 81px; background-color: #F6F6F6; text-align: center; vertical-align: middle; padding: 0 29px; color: #AAAAAA; font-size: 14px; border-bottom:1px solid #F5F5EC; }
.wz-ap-content-shipping tr.customized-col.hide { display: none; } 
.wz-ap-content-shipping table tr.legend-col td { text-align: right; background-color: #FFF !important; border:0 none; color: #AAAAAA; font-size: 12px; height: 40px; }

.wz-ap-content-shipping .select { width: 140px; height: 26px; line-height: 26px; margin-top: 16px; font-size: 13px; display: inline-block; position: relative; padding-left: 8px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background: url(/cdn/images/v2/select-arrowdown-bg.png) no-repeat 120px center #4CBA17; }
.wz-ap-content-shipping .select em { font-style: normal; }
.wz-ap-content-shipping .select .outer {position: absolute; top: 25px; z-index: 2; left: 0; display: none; }
.wz-ap-content-shipping .select .opts { background-color:#EEE; margin-top: 2px;  width: 140px; /*height: 105px;*/ border:1px solid #CCCCCC; }
.wz-ap-content-shipping .select .opts div { min-height: 29px; border-bottom: 1px solid #CCC; padding-left: 8px; }
.wz-ap-content-shipping .select .opts div.noborder { border:0 none; font-size: 11px; line-height: 14px; height: 43px; }
.wz-ap-content-shipping .select .opts div.noborder span { display: block; font-size: 13px; padding-top: 6px;}
.wz-ap-content-shipping .select .opts div.noborder.auto { line-height: inherit; height: auto; min-height: 29px; font-size: inherit; padding-left: 0; }
.wz-ap-content-shipping .select .opts div.noborder.auto span { color: #333; padding-top: 0; padding-left: 8px; }
.wz-ap-content-shipping .select .opts div.noborder.auto div { border: 0 none; height: 27px; line-height: 27px; padding-left: 18px; }
.wz-ap-content-shipping .select .opts div:hover,
.wz-ap-content-shipping .select .opts div.selected { background-color: #FFF;}
.wz-ap-content-shipping .select .opts div.auto:hover { background-color: transparent; }
.wz-ap-content-shipping .select:hover > .outer { display: block; }

.wz-ap-content-shipping table td.col3 .so-wrapper { position: relative; }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper { float: left; width: 89px; margin-right: 32px; }
.wz-ap-content-shipping table td.col3 label { height: 20px; line-height: 20px; margin-bottom: 15px; }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper.last { margin: 0; }
.wz-ap-content-shipping table td.col3 .selections { width: 20px; height: 20px; float: left; position: relative; overflow:hidden; margin: 0 8px 0 0; }
.wz-ap-content-shipping table td.col3 .checkbox-wrapper { background: url("/cdn/images/v2/cb-transparent-bg-unchecked20x20-bg.jpg") no-repeat; }
.wz-ap-content-shipping table td.col3 .radio-wrapper { background: url("/cdn/images/v2/radiobutton-unselected.png") no-repeat;  }
.wz-ap-content-shipping table td.col3 .checkbox-wrapper.checked { background-image: url("/cdn/images/v2/cb-green-checked20x20-bg.png"); }
.wz-ap-content-shipping table td.col3 .radio-wrapper.checked { background-image: url("/cdn/images/v2/radiobutton-selected.png"); }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly.checked { background-image: url(/cdn/images/v2/cb-gray-checked-bg.png);  }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper.disabled .checkbox-wrapper,
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.disabled,
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper .checkbox-wrapper.readonly { background-image: url("/cdn/images/v2/cb-gray-unchecked-bg.png"); }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper.disabled label span { color: #BBBBBB;}
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper.disabled .input-wrapper span { color:#BBBBBB;}
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper .input-wrapper.disabled span { color:#BBBBBB;}
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.wz-ap-content-shipping table td.col3 .shipping-option-wrapper .input-wrapper.disabled input { background-color: #F6F6F6; color: #BBBBBB; }
.wz-ap-content-shipping table td.col3 .checkbox-wrapper input,
.wz-ap-content-shipping table td.col3 .radio-wrapper input { width: 20px; height: 20px; opacity: 0; margin: 0; }
.wz-ap-content-shipping table td.col3 .input-wrapper { width: 86px; height: 26px; position: relative; overflow: hidden; }
.wz-ap-content-shipping table td.col3 .input-wrapper.hide { display: none; }
.wz-ap-content-shipping table td.col3 .input-wrapper span { color: #545454; font-size: 13px; position: absolute; line-height: 26px; left: 7px; }
.wz-ap-content-shipping table td.col3 input[type="text"] { width: 86px; height: 26px; padding: 0 0 1px 14px;}
.wz-ap-content-shipping table td.col3 label span { font-size: 13px; font-weight: 300; }
.wz-ap-content-shipping table td.col3 a { display: block; width: 18px; height: 18px; position: absolute; top: 0px; right: 19px; background: url(/cdn/images/v2/delete-gray-icon.png); }
.wz-ap-content-shipping tr.error-shipping td { background-color: #FFFFFF; color:#FF0000; text-align: center; border: 0 none; font-size: 11px; font-weight: 400px !important; font-style: italic; height: 100px; }
.wz-ap-content-shipping table tr.add-country .error-shipping { float: right; color:#FF0000; font-size: 11px; font-weight: 400px !important; font-style: italic; margin-right: 60px; }

/* get paid */
.get-paid-wrapper{ float: left; width: 970px; padding: 0 15px; }
.get-paid-wrapper h1{ float: left; width: 100%; font-size: 28px; color: #1F1F1F; padding: 0 0 0 6px; margin: 0; font-weight: 300; }
.get-paid-wrapper p.note{ float: left; width: 100%; font-size: 14px; color: #666666; margin-bottom: 52px; padding: 0 0 0 6px; }
.get-paid-wrapper p.p-email{ float: left; width: 100%; height: 38px; margin-bottom: 50px; padding: 0 0 0 6px; }
.get-paid-wrapper p.p-email span{ float: left; font-size: 12px; color: #999999; margin: 8px 0 0 18px; }
.get-paid-wrapper p img{ float: left; margin-top: 6px; }
.get-paid-wrapper p.p-email label{ float: left; margin-right: 10px; font-size: 18px; color: #003D8A; line-height: 38px;}
.get-paid-wrapper p.p-email input{ float: left; width: 442px; height: 38px; border: 1px solid #E0E0E0; }
.get-paid-wrapper p.info-lbl{ float: left; width: 100%; font-size: 14px; color: #666666; margin-bottom: 11px; padding: 0 0 0 6px; }
.get-paid-wrapper .pay-form-wrapper{ background-color: #EEEEEE; float: left; width: 970px; height: 260px; border-radius: 4px; padding: 37px 57px 0 53px;}
.get-paid-wrapper .field-wrap1{ width: 242px; margin-right: 67px; }
.get-paid-wrapper .field-wrap3{ width: 242px; }
.get-paid-wrapper .common_input_wrapp{ width: 100%; }
.get-paid-wrapper .common_input_wrapp label{ margin: 0 0 2px 0; color: #555555 !important; }
.get-paid-wrapper .common_input_wrapp label span{ color: #878787 !important; }
.get-paid-wrapper .common_input_wrapp input, .get-paid-wrapper .common_input_wrapp select{ margin: 0 0 26px 0; }
.get-paid-wrapper .common_input_wrapp small.error{ background-color: #FFFFFF !important; top: 32px; right: 2px; }
.get-paid-wrapper .p-email small.error{ right: 344px; top: 10px !important; }
.get-paid-wrapper .common_input_wrapp textarea{ width: 242px; height: 72px; }

/* shop preview */
.shop-preview-step-wrapper{ float: left; width: 970px; padding: 0 15px; }
.shop-preview-step-wrapper h1{ float: left; width: 100%; font-size: 28px; color: #1F1F1F; padding: 0 0 27px 6px; margin: 0; font-weight: 300; }
.shop-preview-step-wrapper h3{ font-weight: 400; }
.shop-preview-step-wrapper h3 span{ color: #AAAAAA; }
.shop-preview-step-wrapper .shop-selections{ width: 980px; }
.shop-preview-step-wrapper .shop-info-box{ width: 969px; }
.shop-preview-step-wrapper .shop-color-box{ width: 324px; }
.shop-preview-step-wrapper .txt-logo-box, .shop-preview-step-wrapper .uploaded_logo{ width: 320px; }
.shop-preview-step-wrapper .upload-image-logo, .shop-preview-step-wrapper .upload_logo_btn{ width: 322px; }
.shop-preview-step-wrapper .upload-loader .shopstyxloader{ left: 92px !important; }
.shop-preview-step-wrapper .shop-box, .shop-preview-step-wrapper .shop-box2, .shop-preview-step-wrapper .shop-box3{ width: 362px; margin: 0 24px 10px 0; }
.shop-preview-step-wrapper .design-img{ width: 360px; height: 167px; }
.shop-preview-step-wrapper .shop-box-facebook{ width: 197px; margin: 0; }
.shop-preview-step-wrapper .shop-box-facebook .design-img{ width: 195px; height: 167px; }
.shop-preview-step-wrapper .shop-box3{ position: relative; width: 224px; height: 232px; margin: 0 24px 20px 0; cursor: default; }
.shop-preview-step-wrapper .stykable-desktop-shop-box{ background: url('/cdn/images/v2/stykable-desktop-pic.png') no-repeat scroll center center #F2F5F6; }
.shop-preview-step-wrapper .blog-design-img .stykable-desktop-shop-box{ background-color: #FFFFFF; margin: 48px 0 0 19px; }
.shop-preview-step-wrapper .shop-box3 .design-title, .shop-preview-step-wrapper .shop-box3 .design-title2{ background-color: #FFFFFF; height: 60px; line-height: 60px; padding-left: 16px; }
.shop-preview-step-wrapper .minishop-shop-box{ background: url('/cdn/images/v2/stykable-minishop-pic.png') no-repeat scroll center center #F2F5F6; }
.shop-preview-step-wrapper .stykable-mini-shop-wrapper{ position: absolute; top: 63px; left: 109px; width: 92px; height: 57px; }
.shop-preview-step-wrapper .stykable-minishop-box{ background-color: #FFFFFF; }
.shop-preview-step-wrapper .stykable-ad-shop-box{ background: url('/cdn/images/v2/stykable-product-pic.png') no-repeat scroll center center #F2F5F6; }
.shop-preview-step-wrapper .stykable-ad-shop-box .stykable-here{ background-color: #FFFFFF; position: absolute; top: 63px; left: 23px; width: 172px; height: 32px; line-height: 32px; border: 1px solid #4CBA17; text-align: center; color: #4CBA17; }
.shop-preview-step-wrapper .slideshow-shop-box{ background: url('/cdn/images/v2/product-slideshow-pic.png') no-repeat scroll center center #F2F5F6; margin: 0; }
.shop-preview-step-wrapper .slideshow-shop-box .stykable-here{ background-color: #FFFFFF; position: absolute; top: 77px; left: 39px; width: 142px; height: 52px; line-height: 52px; border: 1px solid #4CBA17; text-align: center; color: #4CBA17; }
.shop-preview-step-wrapper .shop-box3 .hover-box{ background-color: #FFFFFF; position: absolute; top: 0; left: 0; width: 222px; height: 230px; padding: 24px 11px 0 16px; display: none; }
.shop-preview-step-wrapper .shop-box3 .hover-box h4{ float: left; font-size: 16px; line-height: 18px; color: #4CB106; }
.shop-preview-step-wrapper .shop-box3 .hover-box div{ float: left; font-size: 14px; line-height: 18px; color: #B9B9B9; margin: 15px 0 21px 0; width: 195px; height: 78px; }
.shop-preview-step-wrapper .shop-box3 .hover-box span{ background-color: #4CBA17; float: left; width: 191px; height: 40px; line-height: 40px; text-align: center; font-size: 18px; color: #FFFFFF; border-radius: 4px; padding: 0; margin: 0; cursor: pointer; }
.shop-preview-step-wrapper .shop-box3 .hover-box span:hover{ background-color: #70c845; }
.shop-preview-step-wrapper .shop-box3:hover .hover-box{ display: block; }
.shop-preview-blog-modal{ top: 0; }
.shop-settings-modal{ height: 100% !important; }