@import url("/cdn/css/v2/pages.css");
.common-hline{ float: left; width: 100%; height: 0; border-top: 1px dotted #000000; margin: 20px 0 29px; padding: 0; }
.cursor-pointer{ cursor: pointer; }
.shop-design-wrapper{ margin-bottom: 52px; }
.shop-design-wrapper .header-caption, .shop-page-wrapper .header-caption{ font-size: 18px !important; }
.shop-design-wrapper h1{ float: left; font-size: 22px; line-height: 24px; color: #333333; padding: 0; margin: 0 0 17px 0; width: 100%; }
.shop-design-wrapper .logo-opts-box{ float: left; width: 280px; margin-right: 32px; }
.shop-design-wrapper .opts-box .opts-men-box{ margin-bottom: 18px; }
.shop-design-wrapper .opts-box .opts-men-box strong{ float: left; font-size: 14px; font-weight: 400; margin-right: 20px; line-height: 22px; }
.shop-design-wrapper .opts-box .opts-men-box label{ font-size: 12px; font-weight: 300; color: #444444;  }
.shop-design-wrapper .opts-box .opts-men-box input[type=radio]:not(old){ width: 28px; margin: 0; padding: 0; opacity: 0; }
.shop-design-wrapper .opts-box .opts-men-box input[type=radio]:not(old) + label{ display: inline-block; margin-left: -28px; margin-right: 20px; padding-left: 24px; background: url('/cdn/images/v3/checks.png') no-repeat 0 0; line-height: 24px; }
.shop-design-wrapper .opts-box .opts-men-box input[type=radio]:not(old):checked + label{ background-position: 0 -24px; }
.shop-design-wrapper .opts-box .logo-box{ float: left; position: relative; width: 280px; height: 150px; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo{ float: left; position: relative; width: 280px; height: 150px; text-align: center; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo .chkbox{ position: absolute; top: 6px; right: 6px; height: auto; display: none; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo:hover .chkbox{ display: block; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo span.upload-logo-lbl{ position: absolute; top: 53px; left: 68px; font-size: 15px; font-weight: 400; cursor: pointer; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo span.upload-logo-lbl .upload-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -100px -252px transparent; width: 31px; height: 29px; display: inline-block; vertical-align: middle; margin-right: 7px; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo span.upload-logo-lbl .upload-img-lbl{ vertical-align: middle; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo span.allowed-lbl{ position: absolute; left: 0; top: 113px; width: 100%; text-align: center; font-size: 11px; }
.shop-design-wrapper .opts-box .logo-box .upload_logo_btn{ float: left; position: relative; width: 280px; height: 150px; text-align: center; display: block; cursor: pointer; }
.shop-design-wrapper .opts-box .logo-box .upload-loader{ position: absolute; width: 100%; }
.shop-design-wrapper .opts-box .logo-box .upload-loader .shopstyxloader{ top: 36px; left: 70px !important; position: absolute !important; }
.shop-design-wrapper .opts-box .logo-box .uploaded_logo-wrapper{ float: left; position: relative; width: 280px; height: 148px; padding: 0 10px; }
.shop-design-wrapper .opts-box .logo-box .uploaded_logo{ background-position: center center !important; background-repeat: no-repeat !important; background-size: contain !important; float: left; position: relative; width: 100%; height: 148px; }
.shop-design-wrapper .opts-box .logo-box .upload-msg, .shop-design-wrapper .upload-msg p{ font-size: 11px; line-height: 12px; color: #FF0000; }
.shop-design-wrapper .opts-box .logo-box .upload_logo_btn .filename{ left: 0; position: absolute; text-align: center; top: 110px; width: 100%; color: #CCCCCC; }
.shop-design-wrapper .opts-box .logo-box .upload_image_btn{ background-color: #F8FAFA; float: left; position: relative; width: 348px; height: 168px; border: 1px solid #C3D4D1; margin-top: 27px; margin-left: 29px; cursor: pointer; }
.shop-design-wrapper .opts-box .logo-box .upload-img{background: url('../images/store_images/sprite.png') no-repeat scroll -411px -96px transparent; position: absolute; top: 69px; left: 109px; width: 32px; height: 30px; display: block; }
.shop-design-wrapper .opts-box .logo-box .allowed-lbl{ color: #999999; font-size: 12px; position: absolute; top: 142px; left: 98px; }
.shop-design-wrapper .opts-box .logo-box .save_background_btn{ background-color: #00a3d9; border-radius: 2px; color: #FFFFFF; cursor: pointer; font-size: 12px; height: 30px; left: 90px; margin: 0; padding: 0;  position: absolute; text-align: center; top: 60px; width: 100px; display:none; }
.shop-design-wrapper .opts-box .logo-box .upload-image-logo:hover .save_background_btn{ display: block; }
.shop-design-wrapper .opts-box .logo-box .text-logo-box{ float: left; position: relative; width: 280px; height: 150px; text-align: center; }
.shop-design-wrapper .opts-box .logo-box .text-logo-box .store-name{ font-size: 22px; font-weight: 400; width: 100%; text-align: center; margin-top: 54px; display: block; }
.shop-design-wrapper .opts-box .logo-box .text-logo-box .txt-logo-lbl{ font-size: 11px; width: 100%; text-align: center; margin-top: 31px; display: block; }

.shop-design-wrapper .colors-opts-box{ float: left; position: relative; width: 390px; }
.shop-design-wrapper .colors-opts-box .preset-color-box, .shop-design-wrapper .colors-opts-box .custom-color-box{ float: left; position: relative; width: 392px; height: 150px; border: 1px solid #CCCCCC; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul{ float: left; width: 100%; height: 148px; list-style-type: none; padding: 0; margin: 0; }
.shop-design-wrapper .colors-opts-box .preset-color-box .swiper-slide-prev,
.shop-design-wrapper .colors-opts-box .preset-color-box .swiper-slide-next{ background-color: #EEEEEE; position: absolute; top: 55px; left: -1px; width: 27px; height: 34px; z-index: 10; cursor: pointer; display: none; }
.shop-design-wrapper .colors-opts-box .preset-color-box .swiper-slide-next{ left: auto; right: -1px; }
.shop-design-wrapper .colors-opts-box .preset-color-box .swiper-slide-prev span{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -134px -252px transparent; float: left; width: 10px; height: 24px; display: block; margin: 5px 0 0 7px; }
.shop-design-wrapper .colors-opts-box .preset-color-box .swiper-slide-next span{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -147px -252px transparent; float: right; width: 10px; height: 24px; display: block; margin: 5px 7px 0 0; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li{ float: left; width: 130px; height: 148px; padding: 0 29px; cursor: pointer; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .color-title{ float: left; width: 100%; margin: 12px 0 8px; text-align: center; display: block; font-size: 12px; line-height: 14px; color: #999999; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .color-123{ float: left; width: 70px; height: 41px; margin: 0 0 9px; border: 1px solid #777777; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .theme-color{ float: left; width: 22px; height: 39px; display: block; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .color2{ width: 24px; border-left: 1px solid #777777; border-right: 1px solid #777777; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .bg-lbl{ float: left; width: 100%; color: #999999; font-size: 11px; text-align: center; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li .theme-bgcolor{ float: left; width: 100%; height: 24px; border: 1px solid #777777; display: block; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li.selected, .shop-design-wrapper .colors-opts-box .preset-color-box ul li:hover{ background: url('/cdn/images/v2/color-bg.png') repeat scroll 0 0; }
.shop-design-wrapper .colors-opts-box .preset-color-box ul li.selected .color-title{ color: #444444; font-weight: 400; }
.shop-design-wrapper .colors-opts-box .preset-color-box:hover .swiper-slide-prev,
.shop-design-wrapper .colors-opts-box .preset-color-box:hover .swiper-slide-next{ display: block; }

.shop-design-wrapper .colors-opts-box .custom-color-box{ padding: 21px 0 0 29px; overflow: hidden; }
.shop-design-wrapper .colors-opts-box .shop-color-box{ float: left; position: relative; width: 100%;  }
.shop-design-wrapper .colors-opts-box .shop-color-box label{ float: left; font-size: 11px; font-weight: 400; color: #999999; width: 70px; margin: 0 11px 8px 0; text-align: center; }
.shop-design-wrapper .colors-opts-box .shop-color-box label.lbl-bg{ margin: 0 0 8px 19px; }
.shop-design-wrapper .colors-opts-box .minicolors-swatch{ width: 68px; height: 39px; border: 1px solid #777777; border-radius: 1px; margin-right: 11px; }
.shop-design-wrapper .colors-opts-box .minicolors:nth-child(4){ margin-left: 19px }
.shop-design-wrapper .colors-opts-box input.minicolors,
.shop-design-wrapper .colors-opts-box input.desktop-minicolors,
.shop-design-wrapper .colors-opts-box input.stykable-desktop-minicolors,
.shop-design-wrapper .colors-opts-box input.fb-minicolors{ opacity: 0;}
.shop-design-wrapper .colors-opts-box input.tmpcolor{ background: url('/cdn/images/v2/color-bg.png') repeat scroll 0 0; float: left; width: 68px; height: 30px; border-left: 1px solid #777777; border-right: 1px solid #777777; border-top: 1px solid transparent; border-bottom: 1px solid #777777; margin: -1px 14px 0 0; padding: 0; text-align: center; }
.shop-design-wrapper .colors-opts-box input.tmpbgcolor{ margin: -1px 0 0 19px; }
.shop-design-wrapper .colors-opts-box input.tmpcolor:hover{ background: transparent; }

.shop-design-wrapper .logo-opt{ background-color: #00A3D9; }
.shop-design-wrapper .shop-info-box{ background-color: #FFFFFF; float: left; height: 102px; min-width: 832px; border: 1px solid #EEEEEE; } /*
.shop-design-wrapper .shop-color-box{ float: left; position: relative; width: 277px; height: 100px; padding: 17px 41px 26px 26px; border-right: 1px solid #EEEEEE; }
.shop-design-wrapper .shop-color-box label{ float: left; font-weight: 400; color: #333333; width: 75%; }
.shop-design-wrapper .shop-color-box label.lbl-bg{ width: 20%; }
.shop-design-wrapper .minicolors-swatch{ width: 36px; height: 32px; border: 2px solid #BBBBBB; border-radius: 1px; margin-right: 6px; }
.shop-design-wrapper .minicolors:nth-child(4){ margin-left: 22px }
.shop-design-wrapper input.minicolors, input.desktop-minicolors, input.stykable-desktop-minicolors, input.fb-minicolors{ opacity: 0;} */
.shop-design-wrapper .txt-logo-box{ float: left; position: relative; width: 276px; height: 100px; padding: 17px 28px 23px 26px; border-right: 1px solid #EEEEEE; }
.shop-design-wrapper .txt-logo-box .chkbox{ position: absolute; top: 6px; right: 6px; height: auto; display: none; }
.shop-design-wrapper .txt-logo-box:hover .chkbox{ display: block; }
.shop-design-wrapper .txt-logo-box label{ font-weight: 400; color: #333333; }
.shop-design-wrapper .txt-logo-box label strong{ font-size: 11px; color: #777777; }
.shop-design-wrapper .txt-logo-box input{ height: 34px; border: 1px solid #E0E0E0; } /*
.shop-design-wrapper .upload-image-logo{ float: left; position: relative; width: 277px; height: 100px; text-align: center; }
.shop-design-wrapper .upload-image-logo .chkbox{ position: absolute; top: 6px; right: 6px; height: auto; display: none; }
.shop-design-wrapper .upload-image-logo:hover .chkbox{ display: block; }
.shop-design-wrapper .upload-image-logo span{ font-size: 14px; line-height: 100px; cursor: pointer; } */
.shop-design-wrapper .save-changes-btn{ background-color: #00a3d9; position: absolute; top: -6px; right: 0; width: 150px; height: 34px; text-align: center; line-height: 34px; color: #FFFFFF; font-size: 14px; cursor: pointer; }
.shop-design-wrapper .txt-logo-box .save-changes-btn{ left: 128px; }
.shop-design-wrapper h3{ float: left; width: 100%; margin: 41px 0 11px; color: #444444; font-size: 14px; font-weight: 400; line-height: 16px; }
.shop-design-wrapper h3 span{ font-size: 12px; font-weight: 300; color: #777777; }
.shop-design-wrapper .shop-selections{ float: left; width: 844px; padding: 5px; margin-left: -5px; }
.shop-design-wrapper .shop-box, .shop-design-wrapper .shop-box2, .shop-design-wrapper .shop-box3{ background-color: #FFFFFF; float: left; width: 222px; height: 257px; border: 1px solid #EEEEEE; margin-right: 19px; margin-bottom: 22px; }
.shop-design-wrapper .shop-box2{ width: 265px; height: 257px; margin-right: 18px; }
.shop-design-wrapper .shop-box3{ width: 265px; height: 257px; margin-right: 0; }
.shop-design-wrapper .shop-box-right{ margin-right: 0; }
.shop-design-wrapper .shop-box:hover, .shop-design-wrapper .shop-box2:hover, .shop-design-wrapper .shop-box3:hover{ border: 1px solid #00a3d9; }
.shop-design-wrapper .design-img{ float: left; width: 220px; height: 170px; border-top: 1px solid #FFFFFF; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #EEEEEE; border-left: 1px solid #FFFFFF; }
.shop-design-wrapper .desktop .design-img{ background: url('/cdn/images/v2/desktop.jpg') no-repeat scroll center center; }
.shop-design-wrapper .mobile-phone .design-img{ background: url('/cdn/images/v2/mobile_phone.jpg') no-repeat scroll center center; }
.shop-design-wrapper .tablet .design-img{ background: url('/cdn/images/v2/tablet.jpg') no-repeat scroll center center; }
.shop-design-wrapper .facebook .design-img{ background: url('/cdn/images/v2/facebook.jpg') no-repeat scroll center center; width: 263px; height: 168px; }
.shop-design-wrapper .design-title-wrapper{ float: left; position: relative; width: 100%; height: 85px; }
.shop-design-wrapper .blog-design-img{ float: left; width: 100%; height: 170px; border-bottom: 1px solid #EEEEEE; text-align: center; }
.shop-design-wrapper .blog-design-img2{ text-align: left; padding: 0 0 0 34px; }
.shop-design-wrapper .blog-design-img .blog-title label{ margin-top: 22px; color: #AAAAAA; font-weight: 300; margin-right: 12px; display: inline-block; }
.shop-design-wrapper .blog-design-img .blog-title strong{ font-weight: 400; }
.shop-design-wrapper .blog-design-img .blog-title span{ background-color: #DDDDDD; height: 6px; width: 21px; display: inline-block; margin-right: 4px; border-radius: 4px; vertical-align: middle; }
.shop-design-wrapper .blog-design-img .blog-title span.dark{ background-color: #999999; }
.shop-design-wrapper .blog-design-img .stykable-desktop-shop-box{ width: 182px; height: 90px; border: 1px solid #00a3d9; color: #00a3d9; text-align: center; margin: 0 0 0 40px; padding: 26px 32px 0; }
.shop-design-wrapper .stykable-mini-shop-wrapper{ float: left; width: 185px; height: 92px; }
.shop-design-wrapper .stykable-mini-shop-wrapper .line1{ background-color: #F2F5F6; float: left; width: 185px; height: 8px; margin-bottom: 9px; border-radius: 4px; }
.shop-design-wrapper .stykable-mini-shop-wrapper .lines{ float: left; width: 92px; padding: 0 9px 0 2px; }
.shop-design-wrapper .stykable-mini-shop-wrapper .line2{ background-color: #F2F5F6; float: left; width: 81px; height: 4px; margin-bottom: 6px; border-radius: 4px; }
.shop-design-wrapper .stykable-mini-shop-wrapper .line3{ background-color: #F2F5F6; float: left; width: 185px; height: 4px; margin-bottom: 6px; border-radius: 4px; }
.shop-design-wrapper .stykable-mini-shop-wrapper .stykable-minishop-box{ float: left; width: 92px; height: 57px; border: 1px solid #00a3d9; padding: 11px 5px 0 5px; color: #00a3d9; text-align: center; }
.shop-design-wrapper .design-title, .shop-design-wrapper .design-title2{ float: left; width: 184px; height: 85px; line-height: 85px; font-size: 16px; color: #00a3d9; padding-left: 25px; font-weight: 400; }
.shop-design-wrapper .design-title2{ width: 100%; }
.shop-design-wrapper .box-button{ background-color: #EEEEEE; width: 102px; height: 51px; margin-right: 3px; border: 1px solid #BBBBBB; margin-top: 17px; }
.shop-design-wrapper .for-slideshow-listing{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-design-wrapper .for-slideshow-listing .box-one{ float: left; width: 24px; height: 29px; }
.shop-design-wrapper .for-slideshow-listing .box-two{ background-color: #FFFFFF; float: left; width: 24px; height: 13px; border: 1px solid #DDDDDD;}
.shop-design-wrapper .for-slideshow-listing .box-three{ background-color: #FFFFFF; float: left; width: 8px; height: 8px; border: 1px solid #DDDDDD; }
.shop-design-wrapper .for-categories{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-design-wrapper .for-categories .box-one{ float: left; width: 24px; height: 29px; }
.shop-design-wrapper .for-categories .box-two{ background-color: #FFFFFF; float: left; width: 10px; height: 8px; border: 1px solid #DDDDDD; margin: 1px 0 0 0; }
.shop-design-wrapper .for-slideshow-only{ position: absolute; right: 119px; padding: 10px 0 10px 8px; }
.shop-design-wrapper .for-slideshow-only .box-one{ float: left; width: 24px; height: 29px; }
.shop-design-wrapper .for-slideshow-only .box-two{ background-color: #FFFFFF; float: left; width: 24px; height: 16px; border: 1px solid #DDDDDD;}
.shop-design-wrapper .box-button label{ float: left; color: #00a3d9; font-size: 11px; line-height: 14px; margin: 0 0 0 4px; width: 59px; }
.shop-design-wrapper .for-categories label{ margin: 6px 0 0 4px; }
.shop-design-wrapper .shop-box .settings-small-view{ display: none; }
.shop-design-wrapper .shop-box:hover .settings-small-view{ display: block; }
.shop-design-wrapper .for-defautl-theme{ position: absolute; right: 11px; padding: 9px 0 11px 7px; }
.shop-design-wrapper .for-defautl-theme .box-one{ float: left; position: relative; width: 24px; height: 29px; }
.shop-design-wrapper .for-defautl-theme .box-two{ background-color: #FFFFFF; position: absolute; width: 17px; height: 19px; border: 1px solid #DDDDDD; }
.shop-design-wrapper .for-defautl-theme .box-three{ left: 0; top: 0; }
.shop-design-wrapper .for-defautl-theme .box-four{ left: 3px; top: 4px; z-index: 1; }
.shop-design-wrapper .for-defautl-theme .box-five{ left: 6px; top: 8px; z-index: 2; }
.shop-design-wrapper .stykable .styk-top{ background-color: #EEEEEE; width: 100%; height: 40px; line-height: 40px; font-size: 16px; color: #444444; padding-left: 28px; }
.shop-design-wrapper .stykable .styk-top span{ color: #AAAAAA; }
.shop-design-wrapper .stykable .styk-content{ background-color: #FFFFFF; float: left; width: 100%; height: 99px; padding: 17px 148px 21px 28px; }
.shop-design-wrapper .stykable .styk-border-bottom{ border-bottom: 1px solid #EEEEEE;  }
.shop-design-wrapper .stykable .styk-content label{ float: left; font-size: 16px; color: #4CB106; width: 100%; margin-bottom: 4px; }
.shop-design-wrapper .stykable .styk-content span{ color: #AAAAAA; }
.shop-design-wrapper .stykable .styk-content-b{ padding: 17px 134px 21px 28px; }




/*
.shop-theme-head-box select { appearance:none; -moz-appearance: none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; padding-right: 26px; }
.shop-theme-head-box .mystyled-select { border: 1px solid #E0E0E0; box-sizing: border-box; overflow: hidden; position: relative; height: 34px; width: 220px; border-radius: 3px; }
.shop-theme-head-box .mystyled-select select { border: 0 none; margin-bottom: 0 !important; width: 240px; }
.shop-theme-head-box .mystyled-select select:focus { box-shadow:  none !important; outline: none; }
.shop-theme-head-box .mystyled-select span.arrow { margin: 0 !important; display: block !important; position: absolute; top: 16px;  right: 11px; width: 9px; height: 6px; background-image: url('/cdn/images/v2/selector-arrow.png'); background-repeat: no-repeat;  }
.shop-theme-head-box .mystyled-select span.dropdown { margin: 0 !important; display: block !important; position: absolute; top: 11px; right: 12px; width: 9px; height: 6px; z-index: 5; }
.shop-theme-head-box .mystyled-select span.dropdown .dropdown-svg{ width: 10px; height: 12px; } */


.shop-settings-modal .settings-left{ background-color: #FFFFFF; position: fixed; width: 200px; top: 60px; left: 0; z-index: 2; }
.shop-settings-modal .settings-left ul{ float: left; list-style-type: none; width: 200px; margin: 0; padding: 0; padding-bottom: 17px;}
.shop-settings-modal .settings-left ul li{ float: left; width: 100%; }
.shop-settings-modal .settings-left ul li.menu-shop-color{ height: 103px; border-bottom: 1px solid #EEEEEE; }
.shop-settings-modal .settings-left ul li.menu-shop-color div{ float: left; width: 100%; padding: 16px 0 26px 23px; }
.shop-settings-modal .settings-left ul li.menu-shop-color div label{ font-size: 14px; color: #000000; margin: 0 0 9px 0; }
.shop-settings-modal .settings-left ul li.menu-shop-color div label span{ font-size: 12px; color: #AAAAAA; display: inline; }
.shop-settings-modal .settings-left ul li.menu-shop-color .minicolors-swatch{ width: 32px; height: 32px; border: 2px solid #BBBBBB; margin-right: 2px; }
.shop-settings-modal .settings-left ul li.menu-shop-color .minicolors:nth-child(5) .minicolors-swatch{ margin: 0 0 0 12px; }
.shop-settings-modal .settings-left ul li.menu-home-page{ float: left; position: relative; height: 255px; border-bottom: 1px solid #EEEEEE; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-close-view{ position: absolute; top: 0; left: 0; width: 100%; padding: 20px 24px 19px 24px; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-close-view .hpd{ float: left; font-size: 14px; color: #000000; margin: 0 0 9px 0; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box{ width: 152px; height: 131px; overflow: hidden; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .comm-opt-box { background-color: #EEEEEE; float: left; display: block; border: 1px solid #DDDDDD; margin-bottom: 5px; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .opt-box1{ position: relative; width: 152px; height: 60px; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .opt-box1 .arrow-prev{ background: url('/cdn/images/v2/arrow-prev.png') no-repeat scroll 0 0; position: absolute; top: 19px; left: 10px; width: 10px; height: 18px; display: block; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .opt-box1 .arrow-next{ background: url('/cdn/images/v2/arrow-next.png') no-repeat scroll 0 0; position: absolute; top: 19px; right: 10px; width: 10px; height: 18px; display: block; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .opt-box2{ width: 46px; height: 30px; }
.shop-settings-modal .settings-left .slideshow-listing-opt-box .opt-box3{ width: 46px; height: 30px; margin: 0 7px; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view-box{ background-color: #FFFFFF; float: left; height: 254px; min-width: 220px; padding: 40px 21px 18px 15px; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view{ position: absolute; height: 254px; width: 1000px; display: none; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .choose-lbl{ position: absolute; top: 14px; left: 15px; width: 100%; margin-bottom: 5px; font-size: 14px; font-weight: 300; color: #999999; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box{ float: left; position: relative; min-width: 184px; height: 196px; border: 1px solid #F0F0F0; padding: 0; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box .slideshow-listing-opt-box{ float: left; margin: 17px 0 0 14px; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box .section-title{ clear: both; color: #00a3d9; float: left; font-size: 16px; line-height: 16px; font-weight: 400; margin: 12px 0 0 14px; text-align: left; width: 160px; }
.shop-settings-modal .settings-left .slide-list-options{ float: left; width: 254px; margin: 16px 19px 0 19px; display: none; }
.shop-settings-modal .settings-left .slide-list-options label{ float: left; width: 100%; font-size: 14px; color: #444444; margin: 0 0 2px 0; }
.shop-settings-modal .settings-left .slide-list-options label span{ font-size: 12px; color: #BABABA;  }
.shop-settings-modal .settings-left .slide-list-options select.select-list-slide{ background: url("/cdn/images/v2/select-arrowdown-green-bg.jpg") no-repeat scroll 140px center #FFFFFF; float: left; width: 162px; height: 36px; font-size: 14px; color: #00a3d9; border: 1px solid #E0E0E0; margin: 0 9px 17px 0; padding: 0.32rem 0.5rem 0.5rem; }
.shop-settings-modal .settings-left .slide-list-options select.select-item{ background: url("/cdn/images/v2/select-arrowdown-green-bg.jpg") no-repeat scroll 24px center #FFFFFF; float: left; width: 39px; height: 36px; font-size: 14px; color: #AAAAAA; border: 1px solid #E0E0E0; margin: 0 9px 17px 0; padding: 6px 0; text-align: center; }


.shop-settings-modal .settings-left .slide-list-options input{ float: left; width: 41px; height: 36px; color: #AAAAAA; border: 1px solid #E0E0E0; margin-right: 6px; text-align: center; }
.shop-settings-modal .settings-left .slide-list-options .item-lbl{ float: left; height: 36px; line-height: 36px; font-size: 14px; color: #AAAAAA; }
.shop-settings-modal .settings-left .categories-opt-box{ width: 152px; height: 133px; overflow: hidden; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box .categories-opt-box{ float: left; margin: 17px 15px 0 14px; }
.shop-settings-modal .settings-left .categories-opt-box .comm-opt-box{ background-color: #EEEEEE; float: left; display: block; width: 72px; height: 39px; border: 1px solid #DDDDDD; margin-bottom: 8px; }
.shop-settings-modal .settings-left .categories-opt-box .opt-box1{ margin-right: 8px; }
.shop-settings-modal .settings-left .categories-txt{ float: left; margin: 14px 14px 0 8px; width: 248px; color: #777777; font-size: 12px; line-height: 13.4px; display: none; }
.shop-settings-modal .settings-left .slideshow-only-opt-box{ float: left; width: 152px; height: 72px; }
.shop-settings-modal .settings-left .slideshow-only-opt-box .opt-box{ background-color: #EEEEEE; float: left; position: relative; display: block; border: 1px solid #DDDDDD; width: 150px; height: 80px; }
.shop-settings-modal .settings-left .active .opt-box{ border: 1px solid #00a3d9; }
.shop-settings-modal .settings-left .slideshow-only-opt-box .opt-box .arrow-prev{ background: url('/cdn/images/v2/arrow-prev.png') no-repeat scroll 0 0; position: absolute; top: 31px; left: 10px; width: 10px; height: 18px; display: block; }
.shop-settings-modal .settings-left .slideshow-only-opt-box .opt-box .arrow-next{ background: url('/cdn/images/v2/arrow-next.png') no-repeat scroll 0 0; position: absolute; top: 31px; right: 10px; width: 10px; height: 18px; display: block; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .note1{ float: left; width: 160px; font-size: 11px; line-height: 14px; margin: 9px 0 0 14px; color: #999999; clear: both; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box .slideshow-only-opt-box{ float: left; margin: 17px 0 0 14px; }
.shop-settings-modal .settings-left .menu-open-view-box .active{ background-color: #F0F0F0; }
.shop-settings-modal .settings-left .menu-open-view-box .active .categories-txt{ display: block; }
.shop-settings-modal .settings-left .menu-open-view-box .active .comm-opt-box{ border: 1px solid #00a3d9; }
.shop-settings-modal .settings-left .menu-open-view-box .active .active-status{ background: url('/cdn/images/v2/design-selected.png') no-repeat scroll 0 0; display: block; height: 34px; width: 34px; position: absolute; right: 14px; bottom: 10px; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .home-page-box:hover{ border: 1px solid #00a3d9; box-shadow: 0 0 4px 2px #DDDDDD; }
.shop-settings-modal .settings-left ul li.menu-home-page .menu-open-view .active:hover{ border: 1px solid #F0F0F0; box-shadow: none; }
.shop-settings-modal .settings-left .menu-open-view-box .active .slide-list-options{ display: block; }
.shop-settings-modal .settings-left .menu-open-view-box .active .note1{ display: none; }
.shop-settings-modal .settings-left .menu-open-view-box .active .slide-txt{ margin-top: 72px !important; }
.shop-settings-modal .settings-left .menu-open-view-box .active .slide-txt2{ width: 230px !important; }
.shop-settings-modal .settings-left ul li.menu-home-page:hover .menu-open-view{ display: block; }
.shop-settings-modal .settings-left ul li.menu-theme{ float: left; position: relative; height: 270px; position: relative; }
.shop-settings-modal .settings-left ul li.menu-theme .menu-open-view{ display: none; }
.shop-settings-modal .settings-left ul li.menu-theme .choose-lbl{ position: absolute; top: 14px; left: 14px; font-size: 14px; color: #999999; z-index: 2; font-weight: 300; }
.shop-settings-modal .settings-left ul li.menu-theme .menu-theme-wrapper{ position: absolute; width: 900px; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper{ background-color: #FFFFFF; float: left; position: relative; width: 245px; height: 285px; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper .theme-img-wrapper{ width: 215px; height: 230px; margin: 40px 15px 15px; border: 1px solid #F0F0F0; }
.shop-settings-modal .settings-left ul li.menu-theme .active .theme-img-wrapper{ background-color: #F2F5F6; width: 215px; height: 230px; border: 1px solid #F0F0F0; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper .theme-img-wrapper span{ background-repeat: no-repeat; background-position: center center; background-size: cover; float: left; width: 185px; height: 157px; margin: 15px 14px 11px 15px; display: block; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper .theme-img-wrapper .theme-name{ font-size: 16px; color: #00a3d9; width: 100%; padding: 0 0 0 14px; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper .theme-img-wrapper .more-name{ float: left; font-size: 14px; color: #BABABA; width: 100%; text-align: center; margin-top: 105px; }
.shop-settings-modal .settings-left ul li.menu-theme .v-line-space{ background-color: #FFFFFF; float: left; width: 15px; height: 285px }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper-active{ width: 200px; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper-active .theme-img-wrapper{ width: 200px; margin: 0; border: 0 none; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper-active .theme-img-wrapper span{ width: 152px; height: 129px; margin-top: 7px; }
.shop-settings-modal .settings-left ul li.menu-theme .theme-wrapper-active .theme-lbl{ float: left; margin: 20px 0 0 24px; text-align: center; color: #000000; font-size: 14px;  }
.shop-settings-modal .settings-left ul li.menu-theme:hover .menu-open-view{ display: block; }
.shop-settings-modal .settings-left .menu-open-view .active .active-status{ background: url('/cdn/images/v2/design-selected.png') no-repeat scroll 0 0; display: block; height: 34px; width: 34px; position: absolute; right: 14px; }
.shop-settings-modal .settings-left .setting-status{ background: url('/cdn/images/v2/design-selected.png') no-repeat scroll 3px 0; float: left; height: 62px; width: 152px; margin-top: 14px; padding-left: 45px; }
.shop-settings-modal .settings-left .slideshow-only-type .setting-status{ margin-top: 74px; }
.shop-settings-modal .settings-left .setting-status div{ display: table-cell; height: 38px; vertical-align: middle; }
.shop-settings-modal .settings-left .setting-status .choosen-lbl{ float: none; color: #00a3d9; font-size: 16px; line-height: 18px; margin: 0; text-align: left; vertical-align: middle; width: 110px; }
.shop-settings-modal .settings-left .theme-img-wrapper .setting-status{ margin-left: 22px; }
.shop-settings-modal .settings-left .menu-open-view .menu-theme-wrapper .active .active-status{ bottom: 28px; }
.shop-settings-modal .settings-left .swiper-container { float: left; height: 100%; width: 200px; overflow: inherit !important; }
.shop-settings-modal .settings-left .swiper-container .swiper-scrollbar { background:none; position:absolute; right:-10px; top:0; height:100%; width:8px; z-index: 0; }
.shop-settings-modal .settings-left .swiper-scrollbar .swiper-scrollbar-drag { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1); }
.shop-settings-modal .settings-left .swiper-wrapper{ float: left; position: relative; }
.shop-settings-modal .settings-left .swiper-wrapper, .swiper-slide { width: auto; }
.shop-settings-modal .preview-right{ background-color: #F2F5F6; float: left; padding: 93px 0 33px 236px; width: 100%; }
.shop-settings-modal .preview-right .header-preview{ float: left; margin-bottom: 14px; }
.shop-settings-modal .desktop-shop-preview .header-preview{ float: left; margin-bottom: 14px; width: 1067px; }
.shop-settings-modal .preview-right .back{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -314px -160px; float: left; width: 26px; height: 22px; margin: 6px 11px 14px 3px; }
.shop-settings-modal .preview-right .forward{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -344px -160px; float: left; width: 26px; height: 22px; margin: 6px 11px 0 0; }
.shop-settings-modal .preview-right .home{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -374px -160px; float: left; width: 26px; height: 25px; margin: 4px 13px 0 0; }
.shop-settings-modal .preview-right .address, .shop-settings-modal .preview-right .address2, .shop-settings-modal .preview-right .address3{ background-color: #FFFFFF; float: left; border: 1px solid #DDDDDD; color: #777777; font-size: 14px; width: 462px; height: 27px; line-height: 24px; padding: 0 10px; margin: 4px 37px 16px 0; border-radius: 3px; }
.shop-settings-modal .preview-right .address2{ width: 647px; margin: 4px 21px 16px 0; }
.shop-settings-modal .preview-right .address3{ width: 648px; margin: 4px 21px 16px 0; }
.shop-settings-modal .preview-right .common-shop-btn, .shop-settings-modal .preview-right .common-shop-btn2, .shop-settings-modal .preview-right .common-shop-btn3{ float: left; width: 220px; height: 34px; line-height: 34px; background-color: #00a3d9; color: #FFFFFF; text-align: center; font-size: 16px; margin: 0 10px 16px 0; border-radius: 2px; cursor: pointer; border-radius: 2px; }
.shop-settings-modal .preview-right .common-shop-btn2{ width: 280px; margin: 0 10px 0 0; }
.shop-settings-modal .preview-right .common-shop-btn3{ width: 280px; margin: 0 0 16px 0; }


.shop-settings-modal .preview-right .stykable-desktop-shop{ background: url('/cdn/images/v2/shop-stykable-header.jpg') no-repeat scroll 0 0 transparent; float: left; position: relative; width: 1068px; min-height: 1200px; padding: 118px 0 0 0;  }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper{ position: absolute; top: 84px; left: 56px; width: 586px; height: 80px; }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper .lbl1{ float: left; width: 257px; margin-top: 20px; font-size: 14px; color: #444444; font-weight: 300; }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper .arrow-down{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -103px -108px; float: left; width: 10px; height: 78px; margin: 1px 13px 0 26px; }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper .embed-box{ float: left; width: 280px }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper .lbl2{ float: left; width: 240px; font-size: 14px; color: #777777; margin: 0; font-weight: 300; }
.shop-settings-modal .preview-right .stykable-desktop-shop .embed-wrapper textarea{ float: left; width: 280px; height: 60px; font-size: 11px; color: #444444; border: 1px solid #DDDDDD; padding: 5px 10px; }
.shop-settings-modal .tablet-or-phone-preview .header-preview{ padding: 0 0 24px 16px; width: 100%; }
.shop-settings-modal .preview-right .tabphone-btn{ background-color: #FFFFFF; float: left; width: 132px; height: 36px; color: #00a3d9; margin-right: 8px; border: 1px solid #00a3d9; cursor: pointer; }
.shop-settings-modal .preview-right .tabphone-btn:hover, .shop-settings-modal .preview-right .tabphone-active{ background-color: #00a3d9; color: #FFFFFF; }
.shop-settings-modal .preview-right .tabphone-btn .tablet-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -275px -160px transparent; float: left; display: block; width: 15px; height: 21px; margin: 5px 10px 0 29px; }
.shop-settings-modal .preview-right .tabphone-btn .phone-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -301px -160px transparent; float: left; display: block; width: 9px; height: 17px; margin: 7px 9px 0 32px; }
.shop-settings-modal .preview-right .tabphone-btn:hover .tablet-icon, .shop-settings-modal .preview-right .tabphone-active .tablet-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -259px -160px transparent; }
.shop-settings-modal .preview-right .tabphone-btn:hover .phone-icon, .shop-settings-modal .preview-right .tabphone-active .phone-icon{ background: url('/cdn/images/v2/nav-icons.png') no-repeat scroll -291px -160px transparent; }
.shop-settings-modal .preview-right .tabphone-btn label{ float: left; margin: 5px 0 0 0; font-size: 16px; color: #00a3d9; cursor: pointer; }
.shop-settings-modal .preview-right .tabphone-btn:hover label, .shop-settings-modal .preview-right .tabphone-active label{ color: #FFFFFF; }
.shop-settings-modal .preview-right .tablet-wrapper{ float: left; width: 759px; height: 985px; }
.shop-settings-modal .preview-right .tablet-device{ float: left; position: relative; width: 759px; height: 985px; border-top: 83px solid #777777; border-bottom: 83px solid #777777; border-left: 73px solid #777777; border-right: 73px solid #777777; border-radius: 18px; }
.shop-settings-modal .preview-right .tablet-device .tablet-cam{ background-color: #FFFFFF; position: absolute; top: -50px; left: 299px; width: 12px; height: 12px; border-radius: 50px; display: block; }
.shop-settings-modal .preview-right .tablet-device .tablet-home-btn{ background-color: #FFFFFF; position: absolute; bottom: -67px; left: 281px; width: 48px; height: 48px; border-radius: 50px; display: block; }
.shop-settings-modal .preview-right .tablet-device .tablet-home-btn .box-center{ background-color: #777777; float: left; margin: 17px 17px; width: 14px; height: 14px; border-radius: 1px; display: block; }
.shop-settings-modal .preview-right .tablet-frame-loader{ left: 0; position: absolute; top: 40%; z-index: 0; width: 100%; }
.shop-settings-modal .preview-right .tablet-frame{ position: absolute; top: 0; left: 0; width: 613px; height: 819px; }
.shop-settings-modal .preview-right .phone-frame{ position: absolute; top: 66px; left: 28px; }
.shop-settings-modal .preview-right .phone-wrapper{ float: left; width: 652px; height: 380px; }
.shop-settings-modal .preview-right .phone-frame-loader{ left: 0; position: absolute; top: 40%; z-index: 0; width: 100%; }
.shop-settings-modal .preview-right .phone-device{ background: url('/cdn/images/v2/phone-layout.png') no-repeat scroll 0 0 transparent; float: left; position: relative; width: 380px; height: 652px; padding: 66px 28px; }
.shop-settings-modal .preview-right .header-fb{ background: url('/cdn/images/v2/fb-header.png') no-repeat scroll 0 0 transparent; float: left; width: 877px; height: 38px; margin-bottom: 25px; }
.shop-settings-modal .preview-right .fb-wrapper{ background: url('/cdn/images/v2/fb-bg.png') no-repeat scroll -20px 0 transparent; float: left; width: 852px; min-height: 700px; padding: 19px 20px 0 20px;  }
.shop-settings-modal .preview-right .fb-shop{ float: left; width: 850px; height: 598px; padding: 19px 20px 0 20px; box-shadow: 0 0 3px 1px #CCCCCC; }
.shop-settings-modal .modal-header .activate-fb-btn{ background-color: #FFFFFF; position: absolute; top: 14px; right: 286px; display: block; font-size: 16px; height: 34px; line-height: 34px; color: #00a3d9; padding: 0 40px; border-radius: 2px; cursor: pointer; }
.shop-settings-modal .modal-header .active-fb-btn{ background-color: #FFFFFF; position: absolute; top: 14px; right: 286px; display: block; font-size: 16px; height: 34px; line-height: 34px; color: #444444; padding: 0 40px; border-radius: 2px; }
.shop-settings-modal .modal-header .active-fb-btn a{ color: #444444; }
.shop-settings-modal .modal-header .active-fb-btn .vline{ color: #BABABA; }
.shop-settings-modal .modal-header .active-fb-btn .change-link{ color: #00a3d9; cursor: pointer; }
.shop-settings-modal .minishop-preview p{ float: left; font-size: 14px; line-height: 18px; color: #444444; margin: 0 0 27px 0; width: 600px; }
.shop-settings-modal .minishop-preview .mini-shop-wrapper{ float: left; position: relative; width: 786px; height: 560px; clear: both; }
.shop-settings-modal .minishop-preview .mini-shop-wrapper .mini-shop-frame-loader{ position: absolute; left: 0; top: 200px; width: 80%; z-index: 0; }
.shop-settings-modal .minishop-preview .embed-mini-shop{ float: left; position: relative; width: 600px; height: 560px; box-shadow: 0 0 3px 1px #CCCCCC;}
.shop-settings-modal .minishop-preview .preview-and-embed{ float: left; width: 160px; margin-left: 23px; }
.shop-settings-modal .minishop-preview .preview-blog{ float: left; width: 160px; height: 60px; background-color: #00a3d9; color: #FFFFFF; text-align: center; font-size: 16px; line-height: 60px; border-radius: 2px; cursor: pointer; }
.shop-settings-modal .minishop-preview .preview-and-embed label{ float: left; font-size: 14px; color: #777777; margin: 34px 0 6px; font-weight: 300; }
.shop-settings-modal .minishop-preview .preview-and-embed textarea{ float: left; font-size: 11px; color: #666666; width: 160px; height: 100px; border: 1px solid #DDDDDD; }

.blog-modal{ background-color: #FFFFFF; position: absolute; top: -60px; right: 0; width: 1012px; min-height: 1256px; height: 100%; z-index: 9999; border-left: 2px solid #00a3d9; border-bottom: 2px solid #00a3d9; }
.blog-modal .mod-stick-border{ background-color: #FFFFFF; position: absolute; left: -1px; height: 60px; width: 1px; }
.blog-modal .modal-header{ position: absolute; width: 1004px; }
.blog-modal .prod-title-wrapper { background-color: #00a3d9; float: left; position: relative; height: 68px; width: 100%; z-index: 2; }
.blog-modal .mod-option{ float: right; width: 198px; height: 68px; padding-top: 18px; }
.blog-modal .mod-option .cmd{ background: url('/cdn/images/v2/nav-icons.png') repeat scroll -150px -68px; float: left; width: 40px; height: 34px; display: block; margin-right: 3px; border: 1px solid #a2cf8d; cursor: pointer }
.blog-modal .mod-option .mod-close{ background-position: -280px -68px; width: 33px; height: 34px; margin: 0 18px; border: 0 none; float: right; }
.blog-modal .mod-wrapper{ background-color: #FFFFFF; }
.blog-modal .mod-option{ padding-top: 12px; }
.blog-modal .modal-header{ width: 100%; }
.blog-modal .prod-title-wrapper{ background-color: #000000; height: 60px; }
.blog-modal .blog-logo{ float: left; width: 209px; line-height: 60px; font-size: 28px; color: #FFFFFF; padding: 0 26px; }
.blog-modal .blog-logo span{ color: #DD6298; }
.blog-modal .blog-menu{ float: left; width: 215px; margin: 18px 0 0 76px; overflow: hidden; }
.blog-modal .blog-menu ul{ float: left; list-style-type: none; width: 250px; list-style-type: none; margin: 0; padding: 0; }
.blog-modal .blog-menu ul li{ float: left; margin-right: 45px; font-size: 16px; color: #DD6298; }
.blog-modal .blog-content { float: left; width: 1010px; padding: 98px 15px 0 29px; }
.blog-modal .blog-content h1{ float: left; margin: 0 0 26px; padding: 0;  font-size: 40px; line-height: 42px; color: #DD6298; }
.blog-modal .blog-content .p{ float: left; font-size: 16px; line-height: 18px; font-weight: 400; color: #000000; width: 100%; margin: 0; padding: 0; }
.blog-modal .blog-content .p1{ margin-bottom: 24px; }
.blog-modal .blog-content .p-wrapper{ float: left; margin: 3px 16px 0 0 ; width: 344px; }
.blog-modal .blog-content .ur-mini-shop-wrapper { float: left; position: relative; width: 600px; }
.blog-modal .blog-content .ur-mini-shop-wrapper h2{ float: left; width: 100%; font-size: 22px; line-height: 24px; color: #DD6298; font-weight: 400; }
.blog-modal .blog-content .ur-mini-shop { float: left; position: relative; width: 600px; box-shadow: 0 0 4px 1px #DDDDDD; }
.blog-modal .minishop-frame-loader { position: absolute; top: 200px; left: 0; width: 90%; z-index: 0; }
.blog-modal .minishop-frame-loader .shopstyxloader{ position: inherit !important; } /*
.shop-design-wrapper .upload_logo_btn{ float: left; width: 276px; height: 100px; text-align: center; display: block; cursor: pointer; }
.shop-design-wrapper .upload-loader{ position: absolute; width: 100%; }
.shop-design-wrapper .upload-loader .shopstyxloader{ top: 12px; left: 68px !important; position: absolute !important; }
.shop-design-wrapper .uploaded_logo{ background-position: center center !important; background-repeat: no-repeat !important; background-size: contain !important; float: left; position: relative; width: 276px; height: 98px; }
.shop-design-wrapper .upload-msg, .shop-design-wrapper .upload-msg p{ font-size: 11px; line-height: 12px; color: #FF0000; }
.shop-design-wrapper .upload_logo_btn .filename{ left: 0; position: absolute; text-align: center; top: 110px; width: 100%; color: #CCCCCC; }
.shop-design-wrapper .upload_image_btn{ background-color: #F8FAFA; float: left; position: relative; width: 348px; height: 168px; border: 1px solid #C3D4D1; margin-top: 27px; margin-left: 29px; cursor: pointer; }
.shop-design-wrapper .upload-img{background: url('../images/store_images/sprite.png') no-repeat scroll -411px -96px transparent; position: absolute; top: 69px; left: 109px; width: 32px; height: 30px; display: block; }
.shop-design-wrapper .upload-logo-lbl{ }
.shop-design-wrapper .allowed-lbl{ color: #999999; font-size: 12px; position: absolute; top: 142px; left: 98px; }
.shop-design-wrapper .save_background_btn{ background-color: #00a3d9; border-radius: 2px; color: #FFFFFF; cursor: pointer; font-size: 12px; height: 30px; left: 90px; margin: 0; padding: 0;  position: absolute; text-align: center; top: 36px; width: 100px; display:none; }
.shop-design-wrapper .upload-image-logo:hover .save_background_btn{ display: block; } */
.desktopModal .c-modal{ color: #00A3D9 !important; }


