html {
    height: 100%;
}
html body {
    font: 87.5% 'Roboto', Arial, "Helvetica Neue", sans-serif !important;
    height: 100%;
    margin: 0;
	font-weight: 300 !important;
}

.main-header-wrapper{ position: absolute; width: 100%; top: 0; left: 0; }
#h-wrapper{ background-color: transparent; position: fixed; top: 0; width: 100%; z-index: 99; padding: 0;}
#h-wrapper .arrival{ width: 100%; padding: 0; margin: 0; }
.h-fixed{ display: none; }
.active{ display: block; }
.h-content{ margin: 0 auto; width: 1000px; height: 80px; }
.h-logo{ float: left; width: 267px; padding-left: 43px; height: 80px; }
.h-logo img{ float: left; margin-top: 15px; }
.h-logo .h-title{ float: left; margin: 12px 0 0 12px; height: 49px; line-height: 49px; font-size: 40px; color: #FFFFFF; }
.h-label{ float: left; height: 80px; line-height: 76px; font-size: 25px; font-weight: 100; padding-right: 9px; text-align: right; width: 681px; }
.h-label strong{ font-weight: 300 !important; }

.h-content-small{ margin: 0 auto; width: 1000px; height: 60px; }
.h-content-small .h-logo{ height: 40px; }
.h-content-small .h-logo img{ margin-top: 10px; }
.h-content-small .h-logo .h-title{ height: 28px; line-height: 28px; margin: 10px 0 0 12px; font-size: 32px;}
.h-content-small .h-label{ height: 60px; line-height: 58px; font-size: 18px; padding-right: 9px; text-align: right; width: 681px; }
.h-content-small .signup-btn{ padding: 0; width: 86px; height: 28px; font-size: 15px; margin: 0 15px 0 27px; }
.h-content-small .signin-link{ font-size: 15px; font-weight: 400; cursor: pointer; }
.h-content-small .signin-link:hover{ text-decoration: underline; }

body div.hts {
    height: 100%;
    min-height: 705px;
    max-height: 992px;
}
body div.hs {
    height: 100%;
    min-height: 657px;
    max-height: 992px;
	background-color: #F8F8F8;
}
body div.hs2 {
    height: 100%;
    min-height: 2168px;
}
body div.hs3 {
    height: 100%;
    min-height: 992px;
    max-height: 992px;
	background-color: #FFFFFF;
}
body div.footer {
    height: 108px;
	background-color: #FFFFFF;
}
.cb {
    clear: both;
}
div.contbox {
    position: absolute;
    width: 100%;
}

div.loadbox {
    position: absolute;
    top: 48%;
    width: 100%;
	text-align: center;
}

div.leftop {
    float: left;
    text-align: center;
}
div.leftop h1 {
    color: #397690;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}
div.leftop h2 {
    color: #5272B8;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
}

div.low {
    border-top: 1px solid #4CBA17;
}

.ac{ text-align: center; }
/*
.color1a { color: #4CB817; }
.color1b { color: #4CB917; }
.color1c { color: #4CBA17; }
.bgcolor1a { background-color: #4CB817; }
.bgcolor1b { background-color: #4CB917; }
.bgcolor1c { background-color: #4CBA17; }
.color2 { color: #202020; }
.bgcolor2 { background-color: #202020; }
.color3 { color: #AAAAAA; }
.bgcolor4 { background-color: #FFFFFF; }
.color4 { color: #FFFFFF; }
*/

.hgrid{ background: url(/cdn/images/v2/home/grid.png) repeat scroll 0 0; }
.homepage-top{ position: relative; height: 100%; padding: 0 29px; }
.site-logo{  }
.floatingmobile{ background: url(/cdn/images/v2/home/topgraphic.png) no-repeat scroll center 0; position: absolute; top: 22%; left: 29px; height: 78%; width: 423px; }
.top-right{ position: relative; text-align: center; width: 522px; height: 100%; }
.tr-txt1{ font-size: 35px; }
.tr-txt2{ font-size: 38px; }
.tr-txt1{ margin-top: 14px; }
.tr-txt3{ font-size: 22px; margin: 231px 0 32px; }
.tr-txt3 a{ text-decoration: underline; }
.colors-opt{ text-align: center; margin-bottom: 37px; }
.colors-opt span, .u-color span, .u-select-color span{ width: 40px; height: 40px; display: inline-block; margin: 0 5px; position: relative; }
.colors-opt span{ cursor: pointer; }
.colors-opt .c1, .u-select-color .c1{ background-color: #B20000; }
.colors-opt .c2, .u-select-color .c2{ background-color: #FF8000; }
.colors-opt .c3, .u-select-color .c3{ background-color: #FDD124; }
.colors-opt .c4, .u-select-color .c4{ background-color: #70B01A; }
.colors-opt .c5, .u-select-color .c5{ background-color: #4C66A4; }
.colors-opt .c6, .u-select-color .c6{ background-color: #66CCCC; }
.colors-opt .c7, .u-select-color .c7{ background-color: #69008C; }
.colors-opt .c8, .u-select-color .c8{ background-color: #000000; }
.colors-opt .c9, .u-select-color .c9{ background-color: #999999; }
.u-color .s-color{ background-color: #70B01A; vertical-align: middle; margin-left: 12px;}
.u-select-color .c1, .u-select-color .c2, .u-select-color .c3, .u-select-color .c4, .u-select-color .c5,
.u-select-color .c6, .u-select-color .c7, .u-select-color .c8, .u-select-color .c9{ width: 32px; height: 32px; margin: 0 2px; cursor: pointer; }
.u-select-color p{ margin-bottom: 12px; opacity: 0.5; }
.colors-opt span:hover, .u-select-color span:hover, .colors-opt .selected, .u-select-color .selected, .u-color .s-color{ box-shadow:  0 0 0 3px #555555; -moz-box-shadow:  0 0 0 3px #555555; -webkit-box-shadow:  0 0 0 3px #555555; border-radius: 2px 2px 2px 2px; -moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px; }
.colors-opt .selected, .u-color .s-color{ cursor: default; }
.home-common-btn{ vertical-align: middle; font-size: 32px !important; padding: 0 30px !important; height: 57px; line-height: 57px !important; margin: 0 !important; -moz-border-radius: 8px !important; -webkit-border-radius: 8px !important; border-radius: 8px !important;}
.home-common-btn:hover{ background-color: #70c845; }
.tr-txt4{ font-size: 18px; margin: 97px 0 0 0; }
.tr-txt4 span.color2{ opacity: 0.6; }
.tr-txt4 a{ text-decoration: underline; }
.tr-txt5{ position: absolute; left: 0; bottom: 42px; text-align: center; width: 100%; }
.tr-txt5 span{ width: 134px; height: 32px; font-size: 16px; display: inline-block; line-height: 30px; border-radius: 8px; }
.tr-txt5 span:hover{ background-color: #70C845; }
.s-form{ float: left; position: relative; padding-left: 86px; font-size: 18px; text-align: left; }
.s-form .modal-loader-wrapper{ top: 20%; }
.u-color{ margin: 146px 0 40px; }
.u-color div.color2{ display: inline; opacity: 0.6; }
.u-select-color{ margin: 116px 0 40px; }
.r-form{ width: 351px; }
.icons-social{ float: left; line-height: 33px; margin-bottom: 11px; }
.icons-social label{ float: left; font-size: 18px; font-weight: 300; opacity: 0.6; }
.social-icons{ float: left; background-image: url(/cdn/images/v2/home/social-icons.png); background-repeat: no-repeat; width: 34px; height: 33px; margin-right: 7px; display: block; cursor: pointer; }
.fb-icon{ background-position: left 0; margin-left: 7px; }
.g-plus-icon{ background-position: center 0; }
.yahoo-icon{ background-position: right 0; }
.reg-form{ text-align: center; }
.reg-form input[type="text"], .reg-form input[type="email"], .reg-form input[type="password"]{ height: 40px; border: 1px solid #E0E0E0; }
.reg-form  .password-field{ margin-bottom: 44px; }
.reg-form .back{ font-size: 18px; margin-left: 18px; text-decoration: underline; opacity: 0.5; font-weight: 400; cursor: pointer; }
.reg-form .login-opt{ margin-top: 44px; text-align: center; }
.reg-form .login-opt span.color2{ opacity: 0.6; }
.reg-form .field{ margin-top: 17px; text-align: left; }
.login-lbl-link{ text-decoration: underline; cursor: pointer; }
/*[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error{ padding: 0.100rem 0.5625rem 0.120rem; }*/

.learn-more-wrapper{ float: left; width: 1000px; height: auto; overflow: hidden; }
.build-step-wrapper{ float: left; width: 2000px; height: auto; }
.learn-more-wrapper h2{ float: left; font-size: 45px; text-align: center; font-weight: 400; width: 1000px; margin: 0; }
.learn-more-wrapper .promote-lbl1{ font-size: 18px; text-align: center; margin: 0; font-weight: 100; opacity: 0.6;}
.promoter-separator{ background: url('/cdn/images/v2/build-line-bg.png') no-repeat scroll 0 0; float: left; width: 1000px; height: 22px; margin: 0; }
.learn-more-separator{ background: url('/cdn/images/v2/build-line-bg.png') no-repeat scroll 0 0; float: left; width: 1000px; height: 22px; margin: 54px 0 0 0; }
.fchart-wrapper{ background: url('/cdn/images/v2/build-steps.png') no-repeat scroll 0 0; position: relative; width: 989px; height: 730px; margin: 96px auto 70px; }
.fchart-wrapper .home-common-btn:hover{ background-color: #e0fad3; }
.build-product-wrapper{ float: left; position: relative; width: 1000px; min-height: 685px; padding-top: 40px; }
.build-product-wrapper .search-box{ height: 35px; width: 319px; font-size: 14px; position: relative; margin: 0 0 22px 14px; }
.build-product-wrapper .search-box input{ height: 35px; width: 319px; font-size: 14px; padding-right: 36px; }
.build-product-wrapper .search-box input.input_error{ border: 1px solid red; }
.build-product-wrapper .search-box .search-btn{ background: url(/cdn/images/v2/search-small-btn.png) no-repeat scroll 0 0; position: absolute; top: 6px; right: 6px; height: 23px; width: 22px; position: absolute; cursor: pointer; }
.build-product-wrapper .tips-and-cmd{ position: absolute; top: 38px; right: 0; width: 284px; }
.build-product-wrapper .tips-and-cmd h2{ float: left; width: 300px; text-align: left; margin: 14px 0 0 16px; font-size: 22px; font-weight: 100; }
.build-product-wrapper .tips-and-cmd .tips-box{ background-color: #E8BE43; float: left; position: relative; border: 1px solid #fff; width: 240px; height: 54px; padding: 8px 13px; font-size: 15px; font-weight: 400; line-height: 17px; color: #FFFFFF; margin: -10px 0 0 20px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-shadow: 0 0 6px 2px #5C9C18; -moz-box-shadow: 0 0 6px 2px #5C9C18; -webkit-box-shadow: 0 0 6px 2px #5C9C18; }
.build-product-wrapper .tips-and-cmd .tips-box .arrow-down-back{ position: absolute; left: 17px; bottom: -24px; width: 0; height: 0; display: block; border-top: 12px solid #FFFFFF; border-bottom: 12px solid transparent; border-right: 12px solid transparent; border-left: 12px solid transparent; }
.build-product-wrapper .tips-and-cmd .tips-box .arrow-down{ position: absolute; left: 19px; bottom: -20px; width: 0; height: 0; display: block; border-top: 11px solid #E8BE43; border-bottom: 10px solid transparent; border-right: 10px solid transparent; border-left: 10px solid transparent; z-index: 2;}
.build-product-wrapper .tips-and-cmd .build-promoter{ font-size: 32px; font-weight: 400; padding: 10px 36px; border-radius: 8px; margin: -10px 0 0 20px; }
.build-product-wrapper .tips-and-cmd .build-promoter:hover{ background-color: #e0fad3; }
.build-product-wrapper .b-contain-left{ float: left; position: relative; width: 716px; min-height: 555px; }
.build-product-wrapper .b-contain-left .loader-wrapper{ float: left; position: absolute; top: 0; left: 0; width: 684px; height: 500px; z-index: 10; display: none; }
.build-product-wrapper .b-contain-left .loadbox{ top: 36%; }
.build-product-wrapper .b-contain-left .slimScrollDiv{ float: left; }
.build-product-wrapper .b-contain-left .slimScrollBar{ right: 26px !important; }
.build-product-wrapper .b-contain-left-data{ float: left; padding: 4px 0 0 14px; }
.build-product-wrapper .b-contain-left ul{ list-style-type: none; margin: 0; }
.build-product-wrapper .b-contain-left .more-product{ float: left; margin: 12px 0 4px 0; width: 656px; text-align: center; }
.build-product-wrapper .b-contain-left .more-product span.more-btn{ font-size: 14px; font-weight: 400; }
.build-product-wrapper .b-contain-left .more-product span.more-btn:hover{ cursor: pointer; }
.build-product-wrapper .b-contain-left .more-product span.loader-image{ background: url('/cdn/images/v2/small-preloader.gif') no-repeat scroll 0 0 transparent; width: 14px; height: 14px; margin-right: 10px; vertical-align: middle; display: inline-block; }
.b-prod-wrapper{ display: inline-block; width: 149px; height: 210px; border: 1px solid #478B11; padding: 9px; margin: 12px 16px 13px 0; list-style-type: none; }
.b-prod-wrapper:hover{ border: 4px solid #5C9C18; width: 129px; height: 192px; margin: 8px 15px 9px -4px; box-sizing: content-box; cursor: move; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-shadow: 0 0 8px 2px #153a06; -moz-box-shadow: 0 0 8px 2px #153a06; -webkit-box-shadow: 0 0 8px 2px #153a06; }
.b-prod-added{ opacity: 0.6; }
.b-prod-added:hover{ width: 149px !important; height: 210px !important; border: 1px solid #478B11 !important; padding: 9px !important; margin: 12px 16px 13px 0 !important; cursor: default !important; box-sizing: border-box !important; -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important; box-shadow: none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important;}
.b-prod-wrapper .b-prod-img{ background-position: center center; background-repeat: no-repeat; background-size: contain; position: relative; float: left; width: 129px; height: 97px; }
.b-prod-wrapper .b-prod-img span.earn-bottom{ background-color: #00B2B2; position: absolute; bottom: 0; width: 100%; height: 24px; opacity: 0.9; display: block; z-index: 1; }
.b-prod-wrapper .b-prod-img span.earn-top{ position: absolute; bottom: 0; width: 100%; height: 24px; line-height: 24px; display: block; font-size: 14px; font-weight: 400; text-align: center; z-index: 2; }
.b-prod-wrapper .b-prod-title{ float: left; font-size: 16px; height: 55px; line-height: 18px; width: 100%; overflow: hidden; display: block; margin: 7px 0 4px; }
.b-prod-wrapper .b-prod-price{ float: left; font-size: 18px; line-height: 23px; width: 100%; display: block; font-weight: 400; }

.build-product-wrapper2{ float: left; position: relative; width: 1000px; min-height: 685px; padding-top: 0; }
.build-product-wrapper2 h2{ float: left; text-align: left; margin: 52px 0 0 34px; font-size: 22px; font-weight: 100; }
.build-product-wrapper2 h2 strong{ font-weight: 400; }
.register-form-wrapper{ float: left; position: relative; height: 443px; width: 665px; border: 1px solid #5C9C18; padding: 30px 35px; margin: 30px 0 0 34px; }
.shop-select-color{ margin: 0 0 36px; }
.shop-select-color span{ width: 40px !important; height: 40px !important; margin-right: 4px !important; }
.shop-reg-form .password-field{ margin-bottom: 0; }
.shop-reg-form .field{ margin-top: 14px; }
.shop-reg-form .error input, .shop-reg-form .error textarea, .shop-reg-form .error select{ margin: 0 0 1rem; }
.shop-reg-form .back{ margin-right: 12px; }

.build-product-wrapper .b-contain-right{ float: left; width: 284px; margin: 16px 0 0; min-height: 555px; }
.build-product-wrapper .b-droppable-wrapper{ float: left; background-color: #3CA512; float: left; width: 282px; height: 442px; margin: 0 1px; padding: 16px 16px; }
.build-product-wrapper .b-category-wrapper{ float: left; background-color: #3CA512; float: left; width: 246px; height: 410px; }
.build-product-wrapper .b-droppable-category{ float: left; position: relative; width: 246px; height: 102px; margin-bottom: 9px; }
.build-product-wrapper .b-category{ background-color: #EEEEEE; float: left; position: relative; width: 246px; height: 102px; border: 1px solid #EEEEEE; margin-bottom: 9px; margin-left: 2px; box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06;}
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon{ position: absolute; top: 37px; left: 17px; width: 26px; height: 26px; }
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon span{ position: absolute; width: 11px; height: 11px; }
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon span:nth-child(1){ top: 0; left: 0; }
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon span:nth-child(2){ top: 0; right: 0; }
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon span:nth-child(3){ bottom: 0; left: 0; }
.build-product-wrapper .add-new-cat-btn .add-new-cat-icon span:nth-child(4){ bottom: 0; right: 0; }
.build-product-wrapper .add-new-cat-box{ padding: 18px 16px; font-size: 14px; }
.build-product-wrapper .add-new-cat-box input{ height: 26px; margin-bottom: 12px; padding-top: 0; padding-bottom: 0; }
.build-product-wrapper .add-new-cat-box button{ vertical-align: middle; font-size: 14px !important; padding: 0 0 !important; width: 128px; height: 26px; line-height: 26px !important; margin: 0 !important; -moz-border-radius: 4px !important; -webkit-border-radius: 4px !important; border-radius: 4px !important; }
.build-product-wrapper .add-new-cat-box button:hover{ background-color: #70c845; }
.build-product-wrapper .add-new-cat-btn label{ position: absolute; top: 38px; left: 59px; font-size: 16px; }
.build-product-wrapper .added-category-wrapper{ padding-left: 2px; }
.build-product-wrapper .added-category-wrapper .category-list{ float: left; position: relative; width: 246px; height: 102px; margin: 9px 0; }
.build-product-wrapper .added-category-wrapper .category-list:hover{ opacity: 0.8; cursor: pointer; }
.build-product-wrapper .added-category-wrapper .category-list span.category-del{ display: none; color: #000000; position: absolute; top: 5px; right: 5px; height: 18px; line-height: 15px; font-size: 36px; font-weight: 300; cursor: pointer; z-index: 10; opacity: 0.4; }
.build-product-wrapper .added-category-wrapper .category-list:hover span.category-del{ display: block; }
.build-product-wrapper .added-category-wrapper .category-list .b-cat-box4{ background-color: #EEEEEE; float: left; position: relative; width: 246px; height: 102px; border: 1px solid #EEEEEE; z-index: 7; box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06;}
.build-product-wrapper .added-category-wrapper .category-list .b-cat-box1{ background-color: #EEEEEE; position: absolute; top: 0; left: 2px; width: 242px; height: 102px; border: 1px solid #EEEEEE; z-index: 3; -ms-transform:rotate(2deg); -webkit-transform:rotate(2deg); transform:rotate(2deg); box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06; display: none;}
.build-product-wrapper .added-category-wrapper .category-list .b-cat-box2{ background-color: #EEEEEE; position: absolute; top: 0; left: 4px; width: 244px; height: 102px; border: 1px solid #EEEEEE; z-index: 5; -ms-transform:rotate(-3deg); -webkit-transform:rotate(-3deg); transform:rotate(-3deg); box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06; display: none;}
.build-product-wrapper .added-category-wrapper .category-list .b-cat-box3{ background-color: #EEEEEE; position: absolute; top: 0; right: 8px; width: 208px; height: 102px; border: 1px solid #EEEEEE; z-index: 1; -ms-transform:rotate(3deg); -webkit-transform:rotate(3deg); transform:rotate(3deg); box-shadow: 0 0 2px 0 #153a06; -moz-box-shadow: 0 0 2px 0 #153a06; -webkit-box-shadow: 0 0 2px 0 #153a06; display: none;}
.build-product-wrapper .added-category-wrapper .category-list .b-cat-box4 .more-lbl{ position: absolute; top: 47px; right: 13px; font-size: 12px; }
.added-category-wrapper .more .b-cat-box1, .added-category-wrapper .more .b-cat-box2, .added-category-wrapper .more .b-cat-box3{ display: inline-block !important; }
.build-product-wrapper .added-category-wrapper .category-list span.cat-title{ position: absolute; top: 15px; left: 17px; font-size: 14px; font-weight: 500; }
.build-product-wrapper .added-category-wrapper .category-list .product-images{ position: absolute; top: 43px; left: 17px; width: 136px; height: 22px; overflow: hidden; }
.build-product-wrapper .added-category-wrapper .category-list .product-images span.p-image{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; width: 23px; height: 22px; margin-right: 4px; }

.build-product-wrapper .b-product-listing-wrapper{ background-color: #EEEEEE; float: left; position: relative; padding: 17px 9px 21px 9px; margin-left: 2px; width: 246px; height: 376px; box-shadow: 0 0 4px 0 #153a06; -moz-box-shadow: 0 0 4px 0 #153a06; -webkit-box-shadow: 0 0 4px 0 #153a06; }
.build-product-wrapper .b-product-listing-wrapper .category-products-list{  height: 356px; overflow: hidden; width: 232px; }
.build-product-wrapper .b-product-listing-wrapper .category-products{ background-position: center center; background-repeat: no-repeat; background-size: cover; float: left; position: relative; width: 96px; height: 72px; margin: 0 9px 17px 9px; overflow: hidden; }
.build-product-wrapper .b-product-listing-wrapper .category-products:hover{ border: 1px solid #4CBA17;  }
.build-product-wrapper .b-product-listing-wrapper .category-products span.earn-bottom{ background-color: #00B2B2; position: absolute; bottom: 0; width: 100%; height: 24px; opacity: 0.9; display: block; z-index: 1; }
.build-product-wrapper .b-product-listing-wrapper .category-products span.earn-top{ position: absolute; bottom: 0; width: 100%; height: 24px; line-height: 24px; display: block; font-size: 14px; font-weight: 400; text-align: center; z-index: 2; }
.build-product-wrapper .b-product-listing-wrapper .category-products span.product-del{ position: absolute; top: 4px; right: 3px; height: 18px; line-height: 16px; font-size: 36px; font-weight: 300; cursor: pointer; display: none; text-shadow: 1px 1px 3px #fff; }
.build-product-wrapper .b-product-listing-wrapper .category-products:hover span.product-del{ display: block; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .backto-categories{ position: absolute; font-size: 16px; left: 0; bottom: -30px; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .backto-categories:hover{ text-decoration: underline; cursor:pointer; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .backto-categories .back-icon{ width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid #FFFFFF; display: inline-block; margin: 0 9px 0 4px; vertical-align: top;}
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper{ position: absolute; left: 0; top: -80px; width: 100%; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div{ float: left; position: relative; width: 25px; height: 25px; margin-right: 10px; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span{ position: absolute; width: 10px; height: 10px; display: block; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(1){ top: 0; left: 0; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(2){ top: 0; right: 0; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(3){ bottom: 0; left: 0; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper div span:nth-child(4){ bottom: 0; right: 0; }
.build-product-wrapper .b-product-listing-wrapper .category-products-wrapper .category-name-wrapper h2{ float: left; font-size: 16px; line-height: 26px; text-align: left; width: 84%;}

.drop-hover{ opacity: 0.8; }

.swiper-container2 {
    backface-visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.cont1-left{ margin: 211px 34px 13px 16px; }
.ct-txt1{ font-size: 42px; margin-bottom: 19px; }
.ct-txt2{ font-size: 16px; margin-bottom: 30px; opacity: 0.8; }
.cont1-right{ margin: 134px 16px 0 24px; }
.cont1-right .aws-shop{ background-color: #B25900; padding: 55px 28px 54px 34px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}

.promote-wrapper{ margin-top: 86px; }
.ct-txt3{ font-size: 35px; text-align: left; margin: 14px 0 20px; }
.ct-txt4{ font-size: 16px; text-align: left; margin: 0; opacity: 0.8; padding: 0; width: 542px; }

.promote-now{ margin-top: 20px; }
.promote-now .home-common-btn:hover{ background-color: #c8f5b1; color: #4CB817; }
.promote-now .mp-link{ font-size: 18px; margin-left: 18px; text-align: center; text-decoration: underline; vertical-align: middle; }

.ct-txt5{ position: absolute; top: 194px; left: 20px; width: 364px; }
.ct-txt6{ position: absolute; top: 559px; left: 431px; width: 470px; }
.ct-txt5 h2, .ct-txt6 h2{ float: left; font-size: 35px; line-height: 37px; }
.ct-txt5 span, .ct-txt6 span{ float: left; font-size: 16px; opacity: 0.8; margin-top: 12px; }
.computer-img{ position: absolute; top: 139px; right: 16px; width: 574px; height: 366px; }
.mobile-img{ position: absolute; top: 459px; left: 74px; width: 273px; height: 317px; }

.get-started{ position: absolute; top: 852px; left: 0; width: 100%; text-align: center; }
.get-started .ready{ font-size: 35px; margin-bottom: 14px; }
.footer-nav{ width: 50%; margin-top: 44px; }
.footer-nav a{ font-size: 14px; }
.footer-nav .sub-nav dt.active a, .footer-nav .sub-nav dd.active a, .footer-nav .sub-nav li.active a{ padding: 0; }
.footer-nav .active a{ background-color: transparent !important; }
.footer-copy{ width: 50%; margin-top: 44px; text-align: right; font-size: 14px; font-weight: 400;}

/* moddified css foundation */
.reveal-modal-bg{ background: none repeat scroll 0 0 rgba(255, 255, 255, 1); z-index: 99; }
.reveal-modal{ z-index: 999; }

/* modal css */

.modal-box{ background-color: transparent; padding: 0; border: 0 none; box-shadow: none; min-height: 427px; width: auto;}
/*.reveal-modal.custom-size{ margin-left: -45%; width: 90%;}*/
.reveal-modal-inner {
	
    margin: 0 auto;
    position: relative;
    width: 900px;
    
	padding: 0;
}
.reveal-modal-container{ background-color: #ffffff; float: left; width: 900px;; padding: 35px 43px; border: 1px solid #CECEBF; }
.modal-box .mod-left{ float: left; width: 302px; margin-right: 148px; }
.modal-box .c-modal{ font-weight: 400; }
.modal-box h1{ font-size: 18px; color: #000000; font-weight: 100; margin: 0; margin-bottom: 21px; }
.modal-box .social-box{ float: left; width: 210px; margin: 0 0 71px 0; }
.modal-box .social-box .fb_logo, .modal-box .social-box .y_logo, .modal-box .social-box .g_logo {
    background: url("/cdn/images/v2/home/social-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    float: left;
    height: 51px;
    margin-left: 0;
    width: 51px;
}
.modal-box .social-box .y_logo, .social-register-box .y_logo {
    background: url("/cdn/images/v2/home/social-ico.png") no-repeat scroll -52px 0 rgba(0, 0, 0, 0);
    margin-left: 24px;
}
.modal-box .social-box .g_logo, .social-register-box .g_logo {
    background: url("/cdn/images/v2/home/social-ico.png") no-repeat scroll -104px 0 rgba(0, 0, 0, 0);
    margin-left: 24px;
}
.modal-box .sform{ width: 302px; }
.modal-box .home-common-btn{ padding: 12px 26px !important; font-size: 23px !important; height: auto; line-height: 23px !important; font-weight: 400; vertical-align: middle; border-radius: 2px !important; -moz-border-radius: 2px !important; -webkit-border-radius: 2px !important;  }
.modal-box .common-cancel-btn{ font-size: 18px; color: #999999; font-weight: 400; margin-left: 26px; cursor: pointer; }

.modal-box .mod-right{ float: left; width: 340px; margin-top: 41px; }
.modal-box .rform{ width: 302px; }
