.cursor-pointer{ cursor: pointer; }
.shop-page-wrapper h1{ float: left; font-size: 22px; line-height: 24px; color: #333333; padding: 0; margin: 0 0 19px 0; width: 100%; }
.pages-c-wrapper{ float: left; width: 1034px; overflow: hidden; }
.pages-c-wrapper div.add-new-page-btn{ background-color: #FFFFFF; float: left; position: relative; width: 244px; height: 258px; margin: 6px 10px 16px 6px; border: 1px solid #EEEEEE; cursor: pointer; }
.pages-c-wrapper div.add-new-page-btn label{ position: absolute; top: 50px; font-size: 16px; color: #DDDDDD; width: 100%; text-align: center; cursor: pointer; }
.pages-c-wrapper div.add-new-page-btn span{ background: url("/cdn/images/v2/nav-icons.png") no-repeat scroll 0 -130px transparent; position: absolute; top: 105px; left: 90px; width: 62px; height: 62px; display: block; }
.pages-c-wrapper div.add-new-page-btn:hover{ border: 1px solid #00A3D9; box-shadow: 0 0 4px 2px #DDDDDD; }
.pages-c-wrapper ul{ float: left; width: 1044px; list-style-type: none; margin: 0 0 20px; padding: 0; }
.pages-c-wrapper ul li{ float: left; position: relative; width: 244px; height: 258px; margin: 6px 10px 16px 6px; cursor: move; }
.pages-c-wrapper ul li.cur-default{ cursor: default; }
.pages-c-wrapper ul li.inactive{  }
.pages-c-wrapper ul li .page-main-box{ background: url('/cdn/images/v2/pages-bg.png') no-repeat scroll 29px 28px #FFFFFF; top: 0; left: 0; position: absolute; width: 244px; height: 258px; z-index: 2; border: 1px solid #EEEEEE; }
.pages-c-wrapper ul li.inactive .page-main-box{ background-color: #EEEEEE; border: 1px solid #DDDDDD; }
.pages-c-wrapper ul li .option-link{ position: absolute; right: 32px; bottom: 24px; width: 185px; height: 31px; z-index: 1; display: none; }
.pages-c-wrapper ul li .active-inactive-btn { background-color: #DDDDDD; float: right; margin-right: 7px; width: 88px; height: 31px; line-height: 29px; border: 1px solid #BBBBBB; text-align: center; font-size: 14px; color: #00A3D9; cursor: pointer; }
.pages-c-wrapper ul li .edit-page-btn{ background-color: #DDDDDD; float: right; width: 38px; height: 31px; line-height: 29px; border: 1px solid #BBBBBB; text-align: center; font-size: 14px; color: #00A3D9; cursor: pointer; }
.pages-c-wrapper ul li .edit-page-btn span{ background: url("/cdn/images/v2/nav-icons.png") no-repeat scroll -57px -62px  #DDDDDD; width: 16px; height: 20px; display: block; margin: 6px 0 0 10px; }
.pages-c-wrapper ul li .delete-page-btn{ background-color: #DDDDDD; float: right; margin-right: 7px; width: 38px; height: 31px; line-height: 29px; border: 1px solid #BBBBBB; text-align: center; font-size: 14px; color: #00A3D9; cursor: pointer; }
.pages-c-wrapper ul li .delete-page-btn span{ background: url("/cdn/images/v2/nav-icons.png") no-repeat scroll -40px -62px  #DDDDDD; width: 16px; height: 20px; display: block; margin: 6px 0 0 10px; }
.pages-c-wrapper ul li .sys-generated{ position: absolute; bottom: 25px; left: 29px; font-size: 11px; color: #CCCCCC; }
.pages-c-wrapper ul li .page-name{ position: absolute; top: 26px; left: 0; font-size: 16px; color: #00A3D9; width: 100%; min-height: 24px; padding: 0 27px; font-weight: 300; }
.pages-c-wrapper ul li.system .page-name{ padding: 0 27px 0 56px; }
.pages-c-wrapper ul li .not-system{ background-color: #FFFFFF; position: absolute; top: 0; left: 0; width: 100%; height: 60px; }
.pages-c-wrapper ul li.inactive .not-system{ background-color: #EEEEEE; }
.pages-c-wrapper ul li .drag-lbl{ position: absolute; top: 120px; left: 0; width: 100%; text-align: center; color: #AAAAAA; font-size: 12px; font-weight: 300; display: none; }


.pages-c-wrapper ul li .sub1-box{ background-color: #FFFFFF; top: 5px; left: 5px; position: absolute; width: 244px; height: 258px; border: 1px solid #EEEEEE; z-index: 1; }
.pages-c-wrapper ul li .sub2-box{ background-color: #FFFFFF; top: 9px; left: 9px; position: absolute; width: 244px; height: 258px; border: 1px solid #EEEEEE; z-index: 0; }
.pages-c-wrapper ul li.inactive .sub1-box{ background-color: #EEEEEE; border: 1px solid #DDDDDD; }
.pages-c-wrapper ul li.inactive .sub2-box{ background-color: #EEEEEE; border: 1px solid #DDDDDD; }
.pages-c-wrapper ul li:hover .page-main-box, .pages-c-wrapper ul li:hover .sub1-box, .pages-c-wrapper ul li:hover .sub2-box{ border: 1px solid #00A3D9; box-shadow: 0 0 4px 2px #DDDDDD; }
.pages-c-wrapper ul li:hover .option-link, .pages-c-wrapper ul li:hover .drag-lbl{ display: block; }
.shop-page-wrapper ._back{ background-color: #00A3D9; width: 80px; height: 28px; line-height: 28px; text-align: center; display: inline-block; font-size: 16px; color: #FFFFFF; margin-left: 14px; cursor: pointer; }

.manage-page-modal{ background-color: #FFFFFF; width: 1004px; border-left: 1px solid #aaaaaa; }
.manage-page-modal .shopstyxloader{ position: absolute !important; }
.manage-page-modal .mod-loader-wrapper{ height: 100%; width: 100%; }
.manage-page-modal .modal-content{ width: 1004px; }
.manage-page-modal .mod-wrapper{ background-color: #FFFFFF; }
.manage-page-modal .mod-title h1{ font-weight: 400; }
.manage-page-modal .mod-title .product-items{ float: left; line-height: 71px; font-size: 14px; color: #444444; margin: 0 20px 0 7px; }
.manage-page-modal .mod-option{ width: 263px; }
.manage-page-modal .mod-option .edit{ background-position: -193px -68px; }
.manage-page-modal .mod-option ._promote{ background-color: transparent; float: left; width: 100px; height: 34px; line-height: 33px; margin-right: 3px; padding: 0 0 0 16px; color: #FFFFFF; display: block; border: 1px solid #A2CF8D; border-radius: 2px; cursor: pointer; }
.manage-page-modal .mod-option ._promote span{ background: url("/cdn/images/v2/nav-icons.png") repeat scroll -39px -108px transparent; height: 13px; width: 15px; display: inline-block; margin: 0 0 0 8px; vertical-align: middle; }
.manage-page-modal .search-result-txt{ color: #333333; font-size: 16px; margin: 10px 0 20px; }
.manage-page-modal .search-result-txt span{ color: #00A3D9; }
.manage-page-modal .items2lbl{ color: #878787; font-size: 14px; text-align: right; padding-right: 10px; line-height: 24px; }
.manage-page-modal .category-cmd-btns{ float: left; position: relative; width: 130px; height: 34px; margin-top: 18px; }
.manage-page-modal .mod-option{ width: 300px; }
.manage-page-modal .mod-option2{ width: 342px; }
.manage-page-modal .mod-option .cmd{ margin-right: 10px; }
.manage-page-modal .mod-option .pageform-modal-close{ margin-right: 18px; }
.manage-page-modal .mod-option .draft, .manage-page-modal .mod-option .active-inactive{ background: #00A3D9; width: 102px; height: 36px; line-height: 34px; border: 1px solid #DDDDDD; font-size: 14px; color: #FFFFFF; text-align: center; cursor: pointer; margin-right: 9px; border-radius: 2px; }
.manage-page-modal .mod-option .publish, .manage-page-modal .mod-option .common-publish{ background: #FFFFFF; width: 102px; height: 36px; line-height: 34px; border: 1px solid #FFFFFF; font-size: 14px; color: #00A3D9; text-align: center; cursor: pointer; border-radius: 2px; }
.manage-page-modal .page-form{ float: left; width: 100%; padding: 45px 25px 0; }
.manage-page-modal .page-name-wrapper{ float: left; width: 482px; }
.manage-page-modal .parent-wrapper{ float: right; width: 428px; }
.manage-page-modal .page-content-wrapper{ float: right; width: 100%; margin-top: 32px; }
.manage-page-modal .page-lbl{ font-size: 13px; color: #525252; display: inline-block; font-weight: 300; }
.manage-page-modal .page-lbl span{ font-size: 12px; color: #999999; }
.manage-page-modal .name-title{ background-color: #FFFFFF; color: #00A3D9; font-size: 14px; }
.manage-page-modal select{ background-color: #FFFFFF; background-position: 400px center !important; color: #00A3D9; font-size: 14px; }
.manage-page-modal textarea{ height: 380px; }
.manage-page-modal .allow-comments-box, .manage-page-modal .enable-share-box{ margin-right: 12px; color: #00A3D9; }
.manage-page-modal .allow-comments-box input, .manage-page-modal .enable-share-box input{ margin: 0; vertical-align: middle;}











