
.dashboard-modal.sales .my-tbl.data-grid { width: 100%; }
.my-tbl.salebypromoter .data-row .tbl-cell { padding: 14px 0; }
.my-tbl.salebypromoter .data-row .tbl-cell.width166 a span { top: -15px; height: 65px; line-height: 65px; }
.my-tbl.salebypromoter .data-row .tbl-cell.width166 a em { background-position: -263px 0; width: 15px; height: 15px; top: 3px; }


.data-row:nth-child(odd) .tbl-cell { background-color: #FFF; }
.data-row:hover > .tbl-cell.width166 div { display: none; }
.data-row:hover > .tbl-cell.width166 a { display: block; }
.data-row:hover .amountprice { display: none; }

/* Modal */
.dashboard-modal.sales .prod-details-wrapper { background: none; }
.dashboard-modal.sales .inner-content { padding: 45px 35px; width:100%; height:100%; display:block; position:relative; }
.dashboard-modal.sales .inner-content .content-label { font-size: 18px; font-weight: 400; }
.dashboard-modal.sales .inner-content .my-tbl { margin-top: 0; }
.dashboard-modal.sales .inner-content .my-tbl .tbl-row.data .tbl-cell {vertical-align: middle; border-bottom: 1px solid #D8D8D8; padding: 10px 0; color: #999999;}
.dashboard-modal.sales .inner-content .my-tbl .tbl-row.data .tbl-cell.price { color: #000; }
.dashboard-modal.sales .header-row .tbl-cell { border-bottom: 1px solid #D8D8D8; padding: 20px 0; }
.dashboard-modal.sales .header-row .tbl-cell.notosorting { color: #999; }
.dashboard-modal.sales .data-row .tbl-cell.prod a { width: 192px; }
.dashboard-modal.sales .data-row .tbl-cell.width166 div { display: block !important; }

