#basic-modal-content {display:none;}

#simplemodal-overlay {background-color:#000;}

#simplemodal-container{
	background-color:#FFFFFF;
	height: auto !important;
	margin: 0;
	position: absolute !important;
	font-family: arial,sans-serif; 
	font-weight: normal; 
	border: 1px solid #990000; 
	padding:  20px 44px 20px 22px;
	-moz-box-shadow:0 0 16px #c7d0db; 
	-webkit-box-shadow:0 0 16px #c7d0db; 
	box-shadow:0 0 16px #c7d0db; 
	border-radius: 5px 5px 5px 5px;	
	-moz-border-radius: 5px 5px 5px 5px;	
	-webkit-border-radius: 5px 5px 5px 5px;	
}

#simplemodal-container a.modalCloseImg {background:url(../images/close-x.png) no-repeat; width:11px; height:11px; display:inline; z-index:3200; position:absolute; top:10px; right:10px; cursor:pointer;}

