body,td,th {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

input, textarea, select { 
	outline:none; 
	resize: none;
}
strong{ font-weight: bold; }

.color1{ color: #51A296 !important; }
.color1-light{ color: #5AADA0 !important; }
.bg1{ background-color: #51A296 !important; }
.bg1-light{ background-color: #81C0B7 !important; }
.box-shadow1{ -moz-box-shadow: 0 0 4px 2px #81C0B7 inset !important; -webkit-box-shadow: 0 0 4px 2px #81C0B7 inset !important; box-shadow: 0 0 4px 2px #81C0B7 inset !important; }
.box-shadow2{ -moz-box-shadow: 0 0 4px 2px #CCCCCC inset !important; -webkit-box-shadow: 0 0 4px 2px #CCCCCC inset !important; box-shadow: 0 0 4px 2px #CCCCCC inset !important; }
.border-color1{ border-color: #51A296 !important; }
.float-right { float: right; }
.float-left { float: left; }

.word_wrap {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.round-corners{
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.round-corners-normal{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.round-corners-light{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.round-corners-one{
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

.round-corners-two{ border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.store-border2{ border: 1px solid #c92c23; }
.store-border2-left { border-left: 1px solid #c92c23; }
.store-border2-top { border-top: 1px solid #c92c23; }
.store-border2-right { border-right: 1px solid #c92c23; }
.store-border2-bottom { border-bottom: 1px solid #c92c23; }

.store-border3{ border: 1px solid #63a69f; }
.store-border3-left { border-left: 1px solid #63a69f; }
.store-border3-top { border-top: 1px solid #63a69f; }
.store-border3-right { border-right: 1px solid #63a69f; }
.store-border3-bottom { border-bottom: 1px solid #63a69f; }

.store-border4{ border: 1px solid #EACD77; }
.store-border4-left { border-left: 1px solid #EACD77; }
.store-border4-top { border-top: 1px solid #EACD77; }
.store-border4-right { border-right: 1px solid #EACD77; }
.store-border4-bottom { border-bottom: 1px solid #EACD77; }

.store-border5{ border: 1px solid #f2836b; }

.store-bg2{ background-color: #c92c23; }
.store-bg3{ background-color: #4ABFAE; }
.store-bg4{ background-color: #F2E1AC; }
.store-bg5{ background-color: #f2836b; }

.store-color2{ color: #c92c23; }
.store-color3{ color: #4ABFAE; }
.store-color4{ color: #EACD77; }
.store-color5{ color: #f2836b; }

.closebg2{
	-webkit-box-shadow: inset 0px 0px 28px 3px #c92c23;
    box-shadow: inset 0px 0px 28px 3px #c92c23;
}

.closebg3{
	-webkit-box-shadow: inset 0px 0px 28px 8px #63a69f;
    box-shadow: inset 0px 0px 28px 8px #63a69f;
}

.closebg4{
	-webkit-box-shadow: inset 0px 0px 28px 12px #f2e1ac;
    box-shadow: inset 0px 0px 28px 12px #f2e1ac;
}

.closebg5{
	-webkit-box-shadow: inset 0px 0px 28px 3px #f2836b;
    box-shadow: inset 0px 0px 28px 3px #f2836b;
}
.store-product-box{
	display: inline-block !important;
}

.menu_2, .menu_3, .menu_4, .menu_5{
	display: block !important;
}

.active{
	display: block !important;
}

.in-active{
	display: none !important;
}

.txt-shadow1{
	text-shadow: 1px 1px 0px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
}

.txt-shadow2{
	text-shadow: 1px 1px 0px #F0F0F0;
	filter: dropshadow(color=#F0F0F0, offx=1, offy=1);
}

.store_prod:hover .glow1, .glow1:hover{
	-webkit-box-shadow: 0 0 4px 2px #CCCCCC;
	box-shadow: 0 0 4px 2px #CCCCCC;
}

.glow2{
	-webkit-box-shadow: 0 0 2px 1px #CCCCCC;
	box-shadow: 0 0 2px 1px #CCCCCC;
}

.italic{
	font-style: italic;
}

#store_modal, #store_modal_level2, #store_modal_level3, #store_modal_level4,
#store_modal_level5, #store_modal_level6, #store_modal_loader {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #fff;
    display: none;
	filter:alpha(opacity=8) !important;
	opacity: 0.8 !important;
	-moz-opacity:0.8 !important;
	-khtml-opacity: 0.8 !important;
}

#store_modal_level2 {
	z-index:20000;
}

#store_modal_level3 {
	z-index:22000;
}

#store_modal_level4 {
	z-index:32000;
}

#store_modal_level5 {
	z-index:40000;
}

#store_modal_level6 {
	z-index:52000;
}

#store_modal_loader {
	z-index:42000;
}

.floatright { float:right; }
.floatleft { float:left; }
#header { height:60px; }
#header h1{ float: left; font-size: 25px; line-height: 25px; font-weight:bold; padding: 12px 0 0  16px; padding: 0 0 0  16px; line-height:60px; }
#header h1 span.logo-color1{ color: #F2836B; }
#header h1 span.logo-color2{ color: #63A69F; }
#header h1 a { text-decoration:none; }

#header .stick-colors{ float: right; width: 75px; height: 60px; }
#header .stick-colors .stick-bg-color1,
#header .stick-colors .stick-bg-color2,
#header .stick-colors .stick-bg-color3,
#header .stick-colors .stick-bg-color4,
#header .stick-colors .stick-bg-color5{ 
	float: left; width: 15px; height: 60px; 
}

#header .stick-colors .stick-bg-color1{ background-color: #c92c23; }
#header .stick-colors .stick-bg-color2{ background-color: #63a69f; }
#header .stick-colors .stick-bg-color3{ background-color: #f2e1ac; }
#header .stick-colors .stick-bg-color4{ background-color: #f2836b; }
#header .stick-colors .stick-bg-color5{ background-color: #382837; }

.main-menu { float:left; list-style:none none; padding:0; margin-left:20px; min-width:414px; height:60px; }
.main-menu li { float:left; }
.main-menu li.floatright { float:right; }
.main-menu li a { color:#999999; text-transform:uppercase; text-decoration:none; line-height:60px; display:inline-block; padding:0 17px; }
.main-menu li a:hover, 
.main-menu li a.selected { background-color:#63A69F; color:#FFF; font-weight:bold; }
.main-menu li:nth-child(1) a { width:34px; }
.main-menu li:nth-child(2) a { width:48px; }
.main-menu li:nth-child(3) a { width:79px; }
.main-menu li:nth-child(4) a { width:47px; }
.main-menu li:nth-child(5) a { width:52px; }

.main-menu li a.profile { color:#FFF; position:relative; font-weight:bold; line-height:46px; height:34px; min-width:118px; margin:7px 0; padding:0 6px; border:1px solid #FFFFFF; }
.main-menu li a.profile:hover { line-height:46px; height:46px; background-color:#F7F7F7; border:1px solid #F3F3F3; color:#F3F3F3; }
.main-menu li a.profile .thumb { float:left; height:24px; width:24px; margin:10px 0; }
.main-menu li a.profile img { border:0 none; }
.main-menu li a.profile .notification { float:left; background-color:#FF0000; color:#FFF; font-size:14px; font-weight:bold; text-align:center; height:24px; min-width:17px; line-height:24px; margin:10px 0; }
.main-menu li a.profile span { float:left; color:#000; margin-left:7px; text-transform:none; line-height:40px; }
.main-menu li a.profile em { background: url("/cdn/images/arrow-down-black.gif") no-repeat transparent; display: block; float: left; height: 7px; position: relative; top: 18px; width: 12px; margin-left:9px; }

.main-menu-sub { float:left; list-style:none none; padding:0; height:40px; width:100%; background-color:#63A69F; }
.main-menu-sub li { float:left; }
.main-menu-sub li.floatright { float:right; }
.main-menu-sub li a { color:#003333; text-decoration:none; line-height:40px; display:inline-block; padding:0 17px; font-weight:bold; font-size:14px; }
.main-menu-sub li a:hover, 
.main-menu-sub li a.selected { color:#FFF; text-decoration:overline; }

.search-input-wrapper { width:239px; height:28px; margin:5px 21px;  background-color:#FFF; border:1px solid #1F5754; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 2px 2px 4px 0 #63A69F; box-shadow: inset 2px 2px 4px 0 #63A69F;   }
.search-input-wrapper input#mainsearch { float:left; font:normal 1em Arial, Helvetica, sans-serif; color:#CCC; border:0 none; background-color: transparent;  padding: 6px 9px 7px; /*width:189px;*/ width: 213px; }
.search-input-wrapper button#mainsearch-btn { float:left; border:0 none; background:url('/cdn/images/bg-search-icon.gif') no-repeat; width:21px; height:21px; margin:4px 0 3px; }

#container { margin:0 auto; width:978px; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; height:100%; -webkit-touch-callout: none; }

._btn{
	background-color: #F2836B;
	color: #ffffff;
	height: 28px;
	border: 1px solid #ffffff;
	font-size: 14px;
	padding: 2px 22px 4px;
	-moz-box-shadow:    0 0 4px 2px #CCCCCC;
   	-webkit-box-shadow: 0 0 4px 2px #CCCCCC;
   	box-shadow:         0 0 4px 2px #CCCCCC;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.store_general_btn{
	background-color: #4ABFAE;
	float: right;
	padding: 4px 16px;
	height: 40px;
	margin: 40px 10px 0 0;
	color: #ffffff;
	border: 1px solid #4C9B92;
	cursor: pointer;
	font-size: 18px;
	font-family: Arial, Sans-serif;
	font-weight: bold;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.store_general_btn:hover{
	-webkit-box-shadow: 0px 0px 4px 2px #CCCCCC;
	box-shadow: 0px 0px 4px 2px #CCCCCC;
	border: 1px solid #ffffff;
}

.form-submit-status { position: absolute; width: 100%; height:100%; z-index: 99; text-align: center; padding-top:50px; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.status_info_wrapper{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 10;
}
.status_info{
	background-color: #F9EDBE;
    border: 1px solid #F0C36D;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px 30px;
	font-size: 11px;
    font-weight: bold;
    text-align: center;
	color: #000000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.prod_cat_btn{
	background-color: #4ABFAE;
	padding: 0 12px;
	height: 40px;
	color: #ffffff;
	border: 1px solid #4C9B92 !important;
	cursor: pointer;
	font-size: 14px;
	font-family: Arial, Sans-serif;
	font-weight: normal;
	border-radius: 0 !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0 auto !important;
}

.prod_cat_btn:hover{
	-webkit-box-shadow: 0px 0px 4px 2px #CCCCCC;
	box-shadow: 0px 0px 4px 2px #CCCCCC;
	border: 1px solid #ffffff !important;
}

.prod_list_thumb{
	width: 161px;
}

.yellow-border{ -webkit-box-shadow: 0 0 1px 1px #DEB32E; box-shadow: 0 0 1px 1px #DEB32E; }
.yellow-inner-glow { -webkit-box-shadow: 0 0 4px 2px #F2E1AC inset; box-shadow: 0 0 4px 2px #F2E1AC inset; }
.gray-border{ border-color: #666666; }



/* Store Preloader */
#store-fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.store-fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#store-fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#store-fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#store-fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#store-fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#store-fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#store-fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#store-fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#store-fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#store-preloader-wrapper{background-color: #FFFFFF; height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#store-preloader-wrapper .store-preloader-holder { display: table; width:100%; height:100%; }
#store-preloader-wrapper #store-preloader-center { display: table-cell; vertical-align: middle;}
#store-preloader-wrapper .store-preloader-storename { font-size:26px; margin-bottom:27px; }
#store-preloader-wrapper .store-preloader-pb { font-size:11px; margin-top:31px; }

/* begin products */
#v-create-shop-wrapper, #create-styx-wrapper{float: left; padding: 94px 0 20px 40px; width: 946px;}
#v-create-shop-wrapper .manage-header{float: left; font-size: 18px; width: 100%; color:#333333; margin-bottom: 9px; }
#v-create-shop-header{ float: left; position: relative; height: 114px; width: 920px; }
#v-create-shop-header h1{float: left; font-size: 22px; margin-left: 2px; }

.top-separator{ background: url('../images/store_images/shop-separator-top.png') no-repeat scroll center center transparent; position: absolute; top: 64px; left: 15px; width: 808px; height: 27px; }

.shop-catalog-right-wrapper{ float: left; width: 712px; min-height: 234px; position: relative; }
.shop-catalog-right{ float: left; width: 680px; min-height: 234px; position: relative; }

.shop-product-wrapper{ float: left; background-color: #ffffff; position: relative; width: 161px; height: 108px; border: 1px solid #ffffff; margin: 0 7px 7px 0; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC; }
.shop-product-bg-top{ background: url("../images/store_images/product-top-bg.png") no-repeat scroll 0 0 transparent; display: block; width: 161px; height: 70px; position: absolute; top:0; left:0; z-index: 2; }
.shop-product-image{ background-repeat: no-repeat; background-position: 0 0; background-size: cover; position: absolute; display: block; width: 161px; height: 108px; top:0; left:0; z-index: 1;}
.shop-product-title{ color: #333333; font-size: 15px; height: 78px; width: 139px; position: absolute; left: 0; top: 0; line-height: 18px; overflow: hidden;
    padding: 5px 11px 0 11px; text-shadow: 1px 1px 0 #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); z-index: 5;}
.shop-product-title:hover .sptitle{ text-decoration: underline; cursor: pointer; }
.shop-product-title:hover { cursor: pointer; }
.sptitle-inactive{ margin-right: 9px; }
.sptitle{ margin-right: 9px; }
.sptitle:hover{text-decoration: underline; cursor: pointer;}
.shop-product-price { display: inline-block; background-color: #9CA09F; color: #FFFFFF; font-size: 12px; font-weight: normal; padding: 0 3px; text-shadow: none; margin-top: 1px; }
.shop-product-label{ background-color: #ffffff; color: #333333; width: 141px; height: 23px; position: absolute; left: 0; bottom: 0; padding: 0 10px; font-size: 11px; line-height: 23px; text-align: right; display: block; z-index: 5; }
.shop-product-options{ width: 161px; height: 23px; position: absolute; left: 0; bottom: 0;  z-index: 10; }
.embed-shop-product { position: absolute; right: 0; bottom: 24px; color: #FFFFFF; cursor: pointer; font-size: 11px; height: 23px; line-height: 23px; text-align: center; width: 81px; display: none; }
.embed-shop-product:hover, .delete-shop-product:hover { background-color: #FFFFFF !important; color: #51A296; }
.featured-shop-product { background: url("../images/store_images/sprite.png") no-repeat scroll 10px -335px; display: none; 
    float: left; cursor: pointer; height: 23px; text-indent: -99999px; width: 39px; margin-right: 1px; }
.featured-shop-product:hover { background: url("../images/store_images/sprite.png") no-repeat scroll 10px -311px #FFFFFF !important; }
.featured-shop-product-active { background: url("../images/store_images/sprite.png") no-repeat scroll 10px -335px; display: block !important; }
.transfer-shop-product { background: url("../images/store_images/sprite.png") no-repeat scroll -16px -358px; display: none; 
    float: left; cursor: pointer; height: 23px; text-indent: -99999px; width: 39px; margin-right: 1px; }
.edit-shop-product { float: left; color: #FFFFFF; cursor: pointer; font-size: 11px; height: 23px; line-height: 23px; text-align: center; width: 39px; margin-right: 1px; display: none; }
.delete-shop-product { float: left; color: #FFFFFF; cursor: pointer; font-size: 11px; height: 23px; line-height: 23px; text-align: center; width: 41px; display: none; }
.edit-shop-product:hover, .delete-shop-product:hover { background-color: #FFFFFF !important; color: #51A296; }
.transfer-shop-product:hover{ background-position: 11px -358px; background-color: #FFFFFF !important; color: #51A296; }
.sp-product-wrapper .shop-product-wrapper{ margin: 0 28px 28px 0; }
.product-lists-wrapper{ float:left; width: 582px; list-style-type: none; margin-top: 6px; padding-left: 35px; }
.search-product-lists-wrapper{ float:left; width: 791px; list-style-type: none; margin-top: 6px; padding-left: 8px; }

.prod-sort-num{ position: absolute; top: 0; left: -22px; color: #666666; width: 17px; height: 16px; text-align: right; }

.plus-btn{ background-color: #51A296; float: left; color: #FFFFFF; font-size: 32px; font-weight: bold; height: 23px;
    line-height: 0; text-align: center; width: 52px; cursor: pointer; padding-bottom: 5px; }
.plus-btn:hover{ color: #000000; }
.remove-button{ background-color: #51A296; float: left; color: #FFFFFF; font-size: 11px; height: 23px; 
    line-height: 23px; text-align: center; width: 52px; cursor: pointer; }
.remove-button:hover{ background-color: #FFFFFF; color: #51A296; }
.product-margin1{ margin: 0 17px 18px 0 !important; }
.shop-products-option-bg{ bottom: 0;
    height: 23px;
    left: 0;
    position: absolute;
    width: 161px;
    z-index: 2; background-color: #F5F5EC; filter: alpha(opacity=90); -khtml-opacity: 0.9; -moz-opacity: 0.9; opacity: 0.9;}
.shop-products-not-available{ float: left; margin: 6px 0 0 7px; color: #666666; font-size: 11px; text-shadow: 1px 1px 0 #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }
.shop-products-earn{ float: left; margin: 6px 0 0 7px; color: #999999; font-size: 11px; text-shadow: 1px 1px 0 #FFFFFF; filter: dropshadow(color=#FFFFFF, offx=1, offy=1); }
.product-lists-wrapper .remove-button{ display: none; width: 81px; }
.promoter-popups .search-product-lists-wrapper .remove-button{ display: none; width: 81px; }

.shop-product-wrapper:hover .embed-shop-product,
.shop-product-wrapper:hover .featured-shop-product,
.shop-product-wrapper:hover .transfer-shop-product,
.shop-product-wrapper:hover .edit-shop-product,
.shop-product-wrapper:hover .remove-button,
.shop-product-wrapper:hover .delete-shop-product{ display: block; }
.shop-product-wrapper:hover .shop-products-earn{ display: none; }

.shop-products-header-wrapper{ background-color: #81C0B7; float: left; height: 35px; width: 988px; position: relative; margin-bottom: 23px; }
.department-left{ background: url("../images/store_images/left-sidebar-bg.png") no-repeat scroll top right transparent; float: left; position: relative; width: 207px; margin-right: 33px; min-height: 400px; }
.department-left ul{ float: left; margin-top: 45px; width: 191px; }
.department-left ul li{ float: left; width: 191px; }
.department-left ul li span{ width: 160px; height: 45px; padding: 0 24px 0 7px; border-top: 1px solid #CCCCCC; color: #666666; display: table-cell; vertical-align: middle; }
.department-left ul li:last-child span.main-department-menu { border-bottom: 1px solid #CCCCCC; }
.department-left ul li span.main-department-menu:hover, .department-left ul li span.main-department-menu.selected{ background: url("../images/store_images/right-white.png") no-repeat scroll 174px center #81C0B7; border-top: 1px solid #81C0B7; font-weight: bold; color: #ffffff; }
.department-left ul li:hover{ cursor: pointer; }
.department-left ul li ul{ margin-top: 0; }
.department-left ul li ul li:first-child span{ border: 0 none; }
.department-left ul li ul li span.sub-department-menu{ width: 150px; padding-left: 17px;}
.department-left ul li ul li span.sub-department-menu:hover, .department-left ul li span.sub-department-menu.selected{ background: url("../images/store_images/right-white.png") no-repeat scroll 174px center #81C0B7; border-top: 1px solid #81C0B7; font-weight: bold; color: #ffffff; }
.department-left ul li.main ul{ display: none;}

.department-left .add-more-dpt{ float: right; margin: 16px 16px 0 0; text-decoration: underline; cursor: pointer; }
.shop-product-content-wrapper{ float: left; margin-top: 30px; width: 723px; min-height: 396px; }

.sub-department-wrapper{ position: absolute; z-index: 10; display: none; }
.sub-department-wrapper ul { background-color: #ffffff; float: left; width: 188px; padding: 10px; min-height: 0; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC;}
.sub-department-wrapper ul  li{ float: left; width: 134px; height: 28px;}
.sub-department-wrapper ul  li .department-wrapper{ height: 28px; font-size: 11px; }
.department-list-wrapper ul li:hover .sub-department-wrapper{ display: block; }

.search-shop-product-box{ width: 153px; height: 26px; position: absolute; left: 0; top: 0; padding-left: 8px; padding-right: 28px; z-index: 0; color: #999999;
	-webkit-box-shadow: 0 0 4px 2px #81C0B7 inset; -moz-box-shadow: 0 0 4px 2px #81C0B7 inset; box-shadow: 0 0 4px 2px #81C0B7 inset; border: 1px solid #51A296;
}
.search-shop-product-box-btn{ background: url("../images/store_images/sprite.png") no-repeat scroll 0 -384px transparent;
    border: 0 none; cursor: pointer; display: block; height: 16px; position: absolute; right: 25px; top: 6px;  width: 13px;
}
.shop-filter-lbl{ float: left; color: #CCCCCC; margin-top: 6px; }
.shop-sortby-lbl{ float: left; color: #CCCCCC; margin-top: 6px; margin-left: 450px; }
.choose-occassions{ background: url("../images/store_images/sprite.png") no-repeat scroll 138px -286px #F5F5EC;
    color: #DEB32E; border: 1px solid #ffffff; position: absolute; height: 22px; width: 160px; line-height: 22px; left: 54px; top: 0;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}
.choose-recipients{ background: url("../images/store_images/sprite.png") no-repeat scroll 138px -286px #F5F5EC;
    color: #DEB32E; border: 1px solid #ffffff; position: absolute; height: 22px; width: 160px; line-height: 22px; left: 234px; top: 0;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}
.product-sorting{ background: url("../images/store_images/sprite.png") no-repeat scroll 138px -286px #F5F5EC;
    color: #DEB32E; border: 1px solid #ffffff; position: absolute; height: 22px; width: 160px; line-height: 22px; right: -23px; top: 0;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}

.choose-location{ background: url("../images/store_images/sprite.png") no-repeat scroll 194px -282px #F5F5EC;
    color: #DEB32E; border: 1px solid #ffffff; position: absolute; height: 28px; width: 220px; line-height: 28px; left: 0; top: 0;
	text-indent: 10px; overflow: hidden; cursor: default; z-index: 1; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	box-shadow: 2px 2px 4px 0 #999999; -webkit-box-shadow: 2px 2px 4px 0 #999999; -moz-box-shadow: 2px 2px 4px 0 #999999;
}

.shop-catalog-search-wrapper{ float: left; width: 902px; min-height: 234px; position: relative; padding-top: 28px; }
.shop-catalog-search-wrapper .shop-product-content-wrapper{ width: 902px !important; min-height: 128px !important; }
.shop-catalog-search-wrapper .product-sorting{ right: 18px !important; }
.shop-catalog-search-wrapper .shop-sortby-lbl2{ position: absolute; right: 190px; top: 5px; font-size: 12px; color: #CCCCCC; }
.shop-catalog-search-wrapper .search-shop-product-box-btn{ right: auto !important; left: 169px; }
.shop-catalog-search-wrapper .note3{ right: 60px !important; }
.shop-catalog-search-wrapper .search-result-found{ position: absolute; display: table; left: 212px; top: 2px; width: 440px; font-size: 14px; color: #333333; }
.shop-catalog-search-wrapper .search-result-found label{ margin-right: 12px; min-height: 24px; line-height: 22px; vertical-align: middle;}
.back-to-shop-products{ background-color: #51A296; display: inline; color: #FFFFFF; font-size: 12px; height: 24px; text-align: center; width: 60px; cursor: pointer; padding-bottom: 2px; margin-top: -5px; box-shadow: 3px 3px 0 0 #000000; -webkit-box-shadow: 3px 3px 0 0 #000000; -moz-box-shadow: 3px 3px 0 0 #000000;}
.more_shop_products_wrapper .shop-catalog-search-wrapper .shop-product-content-wrapper{ position: relative; width: 947px !important; min-height: 378px !important; max-height: 378px !important; overflow: hidden; }
/* end products */

/* begin departments */
.shopform-wrapper .q1{ margin-bottom: 14px !important; }
.get-started-tips { float: left; margin-bottom: 26px; }
.shopform .add-tips{ position: absolute; right: 14px; top: 4px; color: #999999; font-size: 11px; }
.department-list-wrapper, .department-list-wrapper ul{ float: left; width: 960px; min-height: 456px; }
.department-list-wrapper ul li { float: left; position: relative; height: 44px; width: 134px; padding: 2px 34px 2px 13px; border: 1px solid #ffffff; margin: 0 7px 8px 0; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC;}
.department-list-wrapper ul li:hover { background-color: #F5F5EC; cursor: pointer; }
.department-wrapper { width: 134px; height: 44px; display: table-cell; vertical-align: middle;}
.department_name { color: #666666; width: 100%; }
.no_of_products { width: 100%; display: inline-block; font-weight: bold; font-size: 11px; }
.department-list-wrapper .department-icon { background: url("../images/store_images/add_select_department.png") no-repeat scroll 0 0 transparent; position: absolute; top: 18px; left: 158px; display: block; width: 16px; height: 16px; }
.department-list-wrapper ul li.selected { background-color: #F5F5EC; height: 46px; width: 136px; border: 0 none; -moz-box-shadow: 0 0 6px 4px #81C0B7 inset; -webkit-box-shadow: 0 0 6px 4px #81C0B7 inset; box-shadow: 0 0 6px 4px #81C0B7 inset;}
.department-list-wrapper ul li.selected:hover { background-color: #F5F5EC; height: 46px; width: 136px; border: 0 none; -moz-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; box-shadow: 0 0 4px 1px #CCCCCC;}
.department-list-wrapper ul li.selected .department-icon { background: url("../images/store_images/add_select_department.png") no-repeat scroll -16px 0 transparent;  }
.department-list-wrapper ul li.selected .no_of_products  { color: #999999 !important; }
.buttons-wrapper .dpt_btn{ margin-right: 14px !important; }
.buttons-wrapper .search-nxt-btn{ margin-right: 0 !important; }
.buttons-wrapper .dpt_back{ right: 210px !important; }
.buttons-wrapper .products-back-btn{ right: 210px !important; }
.buttons-wrapper .search-back-btn{ right: 200px !important; }
.dpt-separator{ float: right !important; }
/* end departments */

/* begin common styx style */
.note5{ position: absolute; width: 448px; top: 69px; font-size: 11px; color: #999999 !important; padding-bottom: 30px; }
/* end common styx style */