/*Modal Settings*/

.ui-dialog{padding: 1px; margin: 0; font-family: arial,sans-serif; font-weight: normal; border: 1px solid #51A296; -moz-box-shadow:0 0 6px 2px #CCCCCC; -webkit-box-shadow:0 0 6px 2px #CCCCCC; box-shadow:0 0 6px 2px #CCCCCC; background-color: #ffffff; }
.ui-dialog .ui-dialog-titlebar {background-color: #F5F5EC; border: none; clear: none; padding: 0; height: 80px; width: 100%; margin: -1px 0 0 -1px; }
.ui-dialog .ui-dialog-title{color: #999999; cursor: default; font-size: 28px; font-weight: bold; height: 80px; line-height: 80px; margin: 0 0 0 45px; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1);}
.ui-widget{ display: inline-block; font-size: 12px;}
.ui-widget-header{background: none;}
.ui-widget-overlay { background: #ffffff; opacity: .9;filter:Alpha(Opacity=90); position:fixed; }
.ui-dialog .ui-dialog-content{
	background-color: #ffffff;
}

#modalbox-colors-logo {position: absolute; top: 0; right: 0; width: 45px; z-index: 10; height: 80px; padding: 0; margin: 0;}
#modalbox-colors-logo .one{ background-color: #63A69F; float: left; height: 80px; width: 15px; padding: 0; margin: 0;}
#modalbox-colors-logo .two{ background-color: #EDD589; float: left; height: 80px; width: 15px; padding: 0; margin: 0;}
#modalbox-colors-logo .three{ background-color: #81C0B7; float: left; height: 80px; width: 15px; padding: 0; margin: 0;}

#modal-register-box-colors-logo {position: absolute; top: 0; right: 0; width: 45px; z-index: 10; height: 115px; padding: 0; margin: 0;}
#modal-register-box-colors-logo .one{ background-color: #63A69F; float: left; height: 115px; width: 15px; padding: 0; margin: 0;}
#modal-register-box-colors-logo .two{ background-color: #EDD589; float: left; height: 115px; width: 15px; padding: 0; margin: 0;}
#modal-register-box-colors-logo .three{ background-color: #81C0B7; float: left; height: 115px; width: 15px; padding: 0; margin: 0;}

#modalbox-html{float: left;width: 100%; }
/* Corner radius */
.ui-dialog-titlebar { -moz-border-radius-topleft: 5px/*{cornerRadius}*/; -webkit-border-top-left-radius: 5px/*{cornerRadius}*/; -khtml-border-top-left-radius: 5px/*{cornerRadius}*/; border-top-left-radius: 5px/*{cornerRadius}*/; }
.ui-dialog-titlebar { -moz-border-radius-topright: 5px/*{cornerRadius}*/; -webkit-border-top-right-radius: 5px/*{cornerRadius}*/; -khtml-border-top-right-radius: 5px/*{cornerRadius}*/; border-top-right-radius: 5px/*{cornerRadius}*/; }
.ui-dialog-titlebar { -moz-border-radius-bottomleft: 0px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 0px/*{cornerRadius}*/; border-bottom-left-radius: 0px/*{cornerRadius}*/; }
.ui-dialog-titlebar { -moz-border-radius-bottomright: 0px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/; border-bottom-right-radius: 0px/*{cornerRadius}*/; }
.ui-dialog .ui-dialog-titlebar-close{margin:-6px 0 0;right: 0.8em; z-index: 10;}
.ui-dialog .ui-dialog-titlebar-close{margin: 0; position: absolute; right: 54px; top: 14px; padding: 0; opacity: 0.9; filter:alpha(opacity=90);}
.ui-widget-header .ui-icon{background:url(/cdn/images/store_images/modal-close-btn.png) no-repeat scroll 0 top;width:23px;height:18px;}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{opacity: 0.7; filter:alpha(opacity=70);}
.ui-dialog-titlebar .ui-state-hover{background:transparent !important;border:0 none;}



.dialog-ajax-loader{float:right;}
.dialog-ajax-loader img{margin:6px 6px 0 0;}
.img-loader{margin-top: 12px;}
.float_none{float:none !important;}
.timzone .select_timezone{float:left;width:364px;border:1px solid #DFE0E2;font-size:14px;padding:3px;}
.login_error{float:left;color:red;font-size:13px;font-weight:normal;margin-bottom:20px;text-align:center;width:100%;}


/*Dialog Box*/

#dialog-box{ padding: 0 0 12px 0; height: auto !important; overflow:hidden;}

#dialog-box #register-dialog-box{
	background: url(/cdn/images/store_images/modal-header-regbottom-shadow.png) no-repeat scroll 0 0 transparent;
	float:left;
	padding: 46px 42px 26px;
}

#dialog-box .manual-register{
	float:left;
	font-size: 18px;
	color: #999999;
	font-weight: normal;
}

#dialog-box #page-settings-dialog-box{
	float:left;
	padding-right: 32px;
	padding-left: 32px;
	padding-bottom: 20px;
}

#dialog-box #login-dialog-box, #dialog-box #lost-password-dialog-box{
	float: left;
	padding: 34px 46px;
}

#dialog-box #login-dialog-box{
	background: url(/cdn/images/store_images/modal-header-bottom-shadow.png) no-repeat scroll 0 0 transparent;
	width: 566px;
}

#dialog-box #lost-password-dialog-box{
	width: 508px;
}

#dialog-box #free-ad-box{
	float:left;
	padding-right: 28px;
	padding-left: 28px;
	padding-bottom: 0px;
	margin-top: 1px;
	position: relative;
}

#dialog-box #success-message-box{
	background: url(/cdn/images/store_images/modal-header-sucbottom-shadow.png) no-repeat scroll 0 0 transparent;
	float: left;
	padding: 20px 46px;
	width: 428px;
}

#dialog-box #success-message-box p{
	font-size: 14px;
	line-height: 20px;
}

#dialog-box .disabled{
	background: none repeat scroll 0 0 transparent;
	position: absolute;
	left: 0;
	top: 0;
	height: 600px;
	width: 850px;
	z-index: 9999;
	text-align: center;
}

#dialog-box .disabled img{
	position: absolute;
    top: 260px;
}

#dialog-box #lost-password-dialog-box{
	background: url(/cdn/images/store_images/modal-header-passbottom-shadow.png) no-repeat scroll 0 0 transparent;
	float:left;
	padding-right: 46px;
	padding-left: 46px;
	padding-bottom: 26px;
}



#dialog-box h1{
	color: #666666;
    cursor: default;
    font-family: sans-serif,arial;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


#dialog-box .complete {
	background: url("/images/next_step_status_ico.png") no-repeat scroll 7px 10px #EBFFCC;
	border: 1px solid #b9e27a;
	color: #41b411;
	font-weight: bold;
	font-size: 13px !important;
	padding: 10px 10px 10px 30px !important;
	padding-right: 0;
	border-radius: 5px;
	width: auto;
	clear: both;
	width: auto;
	border-image: initial;
}

#dialog-box .warning {
	background: url("../images/warning-icon3.png") no-repeat scroll 3px 9px;
    clear: both;
    color: #000000;
    padding: 10px 10px 10px 30px !important;
    width: auto;
}

#dialog-box .waiting {
	background: url("../images/warning-icon.png") no-repeat scroll 3px 9px #fff7ce;
    border: 1px solid #ebd299;
	color: #000000;
	font-weight: bold;
	font-size: 13px !important;
	padding: 10px 10px 10px 30px !important;
	padding-right: 0;
	border-radius: 5px;
	width: auto;
	clear: both;
	width: auto;
	border-image: initial;
}

#dialog-box h2{
	font-weight: bold;
	font-size: 12px;
	padding: 0 0 14px;
}

#dialog-box ul.list{
	list-style-type: none;
}

#dialog-box ul.list li{
	background: url("../images/bullet_icon.png") no-repeat scroll 8px 9px;
	padding: 5px 0 5px 26px;
}

#dialog-box ul.list li.hover:hover{
	background-color: #eaf4ff;
}

#dialog-box ul.list li a{ font-size: 12px; }

#dialog-box .register-wrapper{
	clear: both;
    float: right !important;
    padding-left: 24px;
    text-align: right;
    width: 216px;
}

.round-corner{
	float: left;
	border:1px solid #D3D3D3;
	color: #999999;
	font-size:12px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}

.rform-left{
	width: 310px;
	float: left;
	padding-top: 20px;
	padding-right: 8px;
}
.gen_error{
	float: left;
	text-align: center;
	width: 100%;
	color: red;
}
.rform-left label.error, .rform-left label.error2{
	color: red;
    float: left;
    margin-top: -22px;
}

.rform-right{
	width: 310px;
	float: right;
	padding-top: 20px;
	padding-left: 8px;
}

.rform-right label.error{
	color: red;
    float: left;
    margin-top: -22px;
	margin-left: 10px;
}
.captcha_input_box  label.error, .captcha_input_box  label.error2{
	color: red;
    float: left;
    margin-left: 0;
    margin-top: 0;
}
.reg-input{
	display:block;
	color: #CCCCCC;
	width: 282px;
	height: 45px;
	font-size: 15px !important;
	padding: 0 8px;
	margin-bottom: 22px;
}

.reg-select{
	float: right;
	display: block;
    font-size: 16px !important;
    height: 45px;
    padding: 10px 4px;
    width: 300px;
	margin-bottom: 22px;
}

.rform-left .reg-input{
	
}

.rform-right .reg-input{
	float: right;
}

.reg-cancel{
		background: #F0F0F0;
		font-family: arial;
		width: 120px;
		height: 50px;
		font-size: 23px;
		border: 0 none;
		color: #999999;
		cursor: pointer;
		-webkit-box-shadow: 2px 2px 0 0 #999999;
		-moz-box-shadow: 2px 2px 0 0 #999999;
		box-shadow: 2px 2px 0 0 #999999;
	}
.reg-cancel:hover{
	background: #999999;
	color: #F0F0F0;
	-webkit-box-shadow: 2px 2px 0 0 #F0F0F0;
	-moz-box-shadow: 2px 2px 0 0 #F0F0F0;
	box-shadow: 2px 2px 0 0 #F0F0F0;
}
.reg-create, .opt-btn{
		background: #63A69F;
		font-family: arial;
		padding-left: 20px;
		padding-right: 20px;
		height: 50px;
		font-size: 22px;
		border: 0 none;
		color: #FFFFFF;
		font-weight: bold;
		cursor: pointer;
		margin-right: 22px;
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}
.reg-create:hover, .opt-btn:hover{
	background: #000000;
	-webkit-box-shadow: 2px 2px 0 0 #63A69F;
	-moz-box-shadow: 2px 2px 0 0 #63A69F;
	box-shadow: 2px 2px 0 0 #63A69F;
}
.opt-btn{
	padding-left: 30px;
	padding-right: 30px;
}

.opt-btn-wrapper{
	text-align: center;
}


.captcha_img{
	float: right;
	width: 170px;
	height: 90px;
	padding-right: 10px;
	padding-bottom: 15px;
}

.captcha_input_box{
	float: right;
	width: 130px;
	height: 86px;
	text-align: left;
	margin: 0 auto;
}

#kcaptcha{
	width: 90px;
	height: 43px;
	padding: 10px 15px;
	font-size: 14px;
}

.spage-left{
	float:left;
	width: 180px;
	min-height: 50px;
	margin: 0;
	padding: 0 5px 0 10px;
	text-align: right;
}

.spage-left label{
	font-size: 20px;
	color: #999999;
	margin:0;
	padding:0;
	line-height:44px;
}

.spage-left label.link{
	color: #3B5997;
}

.spage-center{
	float:left;
	width: 300px;
	min-height: 50px;
	margin: 0;
	padding: 0;
	position: relative;
}

.rform-right .spage-center{
	width: 280px;
}

.spage-center .type-option{
	margin-top: 14px;
	font-size: 15px;
	color: #3B5997;
}

.spage-center .type-option label{
	margin-right: 16px;
}

.spage-center .search_right_btn{
	background: url(../images/search_right_btn.png) no-repeat scroll 0 0;
	position: absolute;
    right: 14px;
    top: 6px;
	cursor: pointer;
	width: 32px;
	height: 33px;
	border: 0 none;
}

.spage-center .search_right_btn_loading{
	background: url(../images/ajax-loader.gif) no-repeat scroll 0 0;
	position: absolute;
    right: 18px;
    top: 15px;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border: 0 none;
}

.spage-right{
	float:left;
	width: 159px;
	min-height: 50px;
	margin: 0;
	padding: 0;
}

.rform-right .spage-right{
	width: 25px;
}

.spage-right .info{
	background: none repeat scroll 0 0 #E6E7E6;
    border: 0 none;
    color: #3B5997;
    font-size: 16px;
    height: 25px;
    margin-top: 9px;
    width: 25px;
	cursor: pointer;
}

.spage-right .checking, .spage-right .available, .spage-right .notavailable{
	float: left;
    margin-top: -16px;
    text-align: center;
    width: 140px;
	font-size: 14px;
	display: none;
}
.spage-right .checking{
	background: url("../images/ajax-loader.gif") no-repeat scroll 28px 0 transparent;
    color: #FFCC00;
    text-indent: 20px;
}
.spage-right .available{
	background: url("../images/status_available.png") no-repeat scroll 28px 0 transparent;
	color: #61B200;
	text-indent: 20px;
}
.spage-right .notavailable{
	background: url("../images/status_notavailable.png") no-repeat scroll 18px 0 transparent;
	color: #D54937;
	text-indent: 20px;
}

.spage-center label.error, .spage-center label.error2{
	color: red;
    position: relative;
    top: -19px;
}

.availability{
		background: #3B5997 !important;
		font-family: arial !important;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 6px;
		height: 33px;
		font-size: 15px !important;
		border: 0 none;
		color: #FFFFFF;
		font-weight: bold;
		cursor: pointer;
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}

.psettings-input{
	display:block;
	width: 294px;
	height: 45px;
	font-size: 16px !important;
	padding: 0 8px;
	margin-bottom: 22px;
}

.rform-right .spage-center .psettings-input{
	width: 274px;
}

.psettings-input-location{
	padding: 0 48px 0 8px;
}

#lost-password-dialog-box p.condition {
	width: 513px;
	color: #333333;
	font-size: 15px;
	line-height: 18px;
}

.lp-input{
	display:block;
	width: 490px;
	height: 45px;
	color: #CCCCCC;
	font-size: 15px !important;
	padding: 0 8px;
	margin-bottom: 22px;
}

.get-newpass{
		background: #63A69F;
		float:right;
		font-family: Arial;
		padding-left: 10px;
		padding-right: 10px;
		height: 35px;
		margin-right: 2px;
		font-size: 18px;
		border: 0 none;
		color: #FFFFFF;
		font-weight: normal;
		cursor: pointer;
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}
.get-newpass:hover{
		background: #000000;
		-webkit-box-shadow: 2px 2px 0 0 #63A69F;
		-moz-box-shadow: 2px 2px 0 0 #63A69F;
		box-shadow: 2px 2px 0 0 #63A69F;
	}

#forgotpasswordform label.error, .emailad_error, #changepasswordform label.error{
	color: red;
	position: relative;
	top: -16px;
}

#changepasswordform label.error{
	float: left;
}

.success_message{
	float: left;
    font-size: 14px;
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.terms_box{
	float: left;
    margin-bottom: 20px;
}
.term-words{
	color: #9B9BBD !important;
	font-size: 11px;
}
.terms_link{
	color: #D3A617 !important;
	font-weight: bold;
}

#dialog-box .not-a-member{
	float: left;
	color: #999999;
	padding-right: 12px;
	font-weight: bold;
}

#dialog-box .register_now{
	float: left;
	width: 60%;
}

#dialog-box .register_already, .custom-titlebox .register_already{
	float: left;
	width: 225px;
}

#dialog-box .header-a-full{
	float: left;
	width: 100%;
}

#dialog-box .header-a-left{
	float: left;
	width: 40%;
}

#dialog-box .header-a-right{
	float: left;
	width: 60%;
}

#dialog-box .one-half{
	float: left;
	width: 50%;
}

#dialog-box .notice{
	background-color: #ffcc66;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 6px 0;
    text-indent: 6px;
    width: 100%;
}

#dialog-box .align-left{
	text-align: left;
}

#dialog-box .align-right{
	text-align: right;
}

#dialog-box .align-center{
	text-align: center;
}

#dialog-box .yellow-orange{
	color: #E6781E;
}

#dialog-box .register-here, #dialog-box .forgot-password{
	color: #63A69F;
	font-family: Verdana, Arial, Sans-serif;
}

#dialog-box .underline{
	text-decoration: underline;
}

#dialog-box strong, #dialog-box .bold{
	font-weight: bold;
}

#dialog-box em{
	font-style: italic;
}

#dialog-box em.free{
	font-size: 12px;
}

#dialog-box .gray_c{
	color: #606060; /* #999999; */
}


#dialog-box .modal-header{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

#dialog-box .register-link, .custom-titlebox .register-link{
    font-weight: normal;
    line-height: 30px;
    margin: 60px 0 0 50px;
}
.custom-titlebox-b .register-link{
	margin: 60px 0 0 110px;
}
#dialog-box .social-box, .social-register-box{
	float: left;
	padding: 0;
	margin: 0;
	clear: both;
	width: 260px;
}

.social-register-box{
	padding-left: 42px;
}

.social-register-box-b{
	width: 270px;
}

#dialog-box .social-box span.login-register, .social-register-box span.login-register{
	color: #999999;
    float: left;
    font-size: 18px;
	line-height: 26px;
    margin: 10px 0 0 0;
    padding: 0;
    width: 260px;
	text-shadow: 1px 1px #FFFFFF;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.social-register-box-b span.login-register{
	width: 270px;
}

.social-register-box span.login-register{
	color: #999999;
	font-weight: normal;
	margin: 10px 0 0 0;
	text-shadow: 1px 1px #FFFFFF; 
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

#dialog-box .social-box .fb_logo, 
#dialog-box .social-box .y_logo, 
#dialog-box .social-box .g_logo,
.social-register-box .fb_logo,
.social-register-box .y_logo,
.social-register-box .g_logo{
	float: left;
	background: transparent url("../images/social-ico.png") no-repeat scroll 0 0;
	margin-top: 28px;
	width: 51px;
	height: 51px;
	cursor: pointer;
	margin-left: 5px;
	-webkit-box-shadow:  0px 0px 0px 5px #e4dfdc;
	box-shadow:  0px 0px 0px 5px #e4dfdc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

.social-register-box .fb_logo,
.social-register-box .y_logo,
.social-register-box .g_logo{
	margin-top: 12px;
	-webkit-box-shadow:  0px 0px 0px 5px #ffffff;
	box-shadow:  0px 0px 0px 5px #ffffff;
}

#dialog-box .social-box .y_logo, .social-register-box .y_logo{
	background: transparent url("../images/social-ico.png") no-repeat scroll -52px 0;
	margin-left: 26px;
}

#dialog-box .social-box .g_logo, .social-register-box .g_logo{
	background: transparent url("../images/social-ico.png") no-repeat scroll -104px 0;
	margin-left: 26px;
}
.social-register-box .y_logo, .social-register-box .g_logo{
	margin-left: 20px;
}

.custom-titlebox .gray_c{
	color: #666666;
}

#dialog-box .form {
    color: #404040;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 48px;
    width: 249px;
}
#dialog-box .login-vseparator{ background: transparent url("/cdn/images/store_images/login-form-vbar.png") no-repeat scroll 0 0; position: absolute; top: 0; left: 304px; width: 26px; height: 292px; display: block;}
#dialog-box .registerform {
	float: left;
	color: #404040; /* #666666; */
	font-size:12px;
	padding: 0;
	width: 100%;
}

#dialog-box  p {
	margin-bottom:0;
	margin-top:8px;
}

#dialog-box hr{
	background-color: #EFEDED;
    border: 0 none;
    clear: both;
    float: left;
    height: 5px;
    margin: 6px 0;
    padding: 0;
    width: 100%;
}


#dialog-box .inputbox{
	border:1px solid #808080; /* #A0A0A0; */
	color: #404040; /* #666666; */
	font-size:16px;
	height:28px;
	padding-left:5px;
	width:263px;
}

#dialog-box .login_inputbox{
	float: left;
	border: 1px solid #D3D3D3;
	color: #999999;
	font-size:14px;
	margin: 0 0 18px 0;
	padding:13px 10px;
	width:229px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}

.button{
	float: left;
}

.loader{
	margin-left: 10px;
    vertical-align: baseline;
}


#dialog-box .inputRadio {
	border:0 none;
	height:15px;
	width:15px;
}

.iform{
	float: left;
    width: 249px;
}

.iform label{
	float: left;
	text-align: right;
	width: 82px;
	padding-right: 4px;
	padding-top: 8px;
}


.iform label.error{
	float: left;
	width: 210px;
	color: red;
	font-size: 11px;
	text-align: left;
	padding-bottom: 8px;
	margin: -24px 0 0 0;
}

.iform .option span{
	float: right;
	text-align: left;
	margin: 8px 0 0 0;
	padding: 0;
	font-weight: bold;
	color: #666666;
}

.rform{
	float: right;
	width: 88% !important;
}

.rform label{
	float: left;
	text-align: right;
	width: 105px;
	padding-right: 4px;
	padding-top: 8px;
}


.adform{
	width: 85% !important;
}

.adform label{
	width: 110px;
}



.iform p{
	float: right;
}

.iform .option{
	float: right;
    font-size: 12px;
    height: 60px;
    margin: 0 !important;
    padding: 0;
    text-align: left;
    width: 250px;
}

.iform .forgotpass{
	float: right;
	padding-top: 4px;
	cursor: pointer;
}
.iform .buttons_grp{
	 padding-left: 128px;
}

.rform .buttons_grp{
	float: left;
    padding-left: 114px;
    padding-top: 10px;
}

.ui-dialog ul{
	list-style-type: none;
}

.ui-dialog ul li{

}

.login_btn{
	background: #63A69F;
	float: right;
	font-family: arial;
	width: 100px;
	height: 35px;
	font-size: 18px;
	border: 0 none;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	}
.login_btn:hover{
	background: #000000;
	-webkit-box-shadow: 2px 2px 0 0 #63A69F;
	-moz-box-shadow: 2px 2px 0 0 #63A69F;
	box-shadow: 2px 2px 0 0 #63A69F;
}
.login_btn_style{
	background-color: #63A69F;
	color: #FFFFFF !important;
	font-weight: bold;
	width: 92px;
	height: 30px;
	font-size: 14px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	float: right;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
}
.login_btn_style:hover{
	background-color: #000000;
	-webkit-box-shadow: 2px 2px 0 0 #63A69F;
	-moz-box-shadow: 2px 2px 0 0 #63A69F;
	box-shadow: 2px 2px 0 0 #63A69F;
}
.btn_cancel {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    line-height: 27px;
    min-width: 100px;
    outline: 0 none;
    padding: 0 8px;
	font: 90% arial,sans-serif;
	cursor: pointer;
}

.btn_cancel:hover {
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	border: 1px solid #CCCCCC;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1); 
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333333;	
}

.btn_cancel:active {
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
	border: 1px solid #CCCCCC;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); 
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); 
	
}

.btn_cancel:focus {
	border: 1px solid #4D90FE;
}

.login_btn_cancel{
	color: #444444;
}

.register_btn_cancel{
	margin-left:10px;
	color: #444444;
}

.create_btn {
	cursor:pointer;
	float:left;
	height:40px !important;
	width:200px !important;
	text-align: center;
	padding: 0 !important;
	color: #ffffff !important;
	font-size: 18px !important;
	border: 0 none !important;
	background-color: #666666;
	margin-left:12px;
}

.iform .fberrorbox{
	float: right !important;
    font-size: 11px;
    margin: 0 0 16px;
    text-align: left;
    width: 229px !important;
}

.gen_error .fberrorbox{
	float: left;
	margin: 2px;
}

.note{
	font-size: 11px;
    font-style: italic;
    padding-left: 110px;
    width: 290px;
}

.acctype{
	margin-top: -5px;
}

.agree_msg{
	float: left;
}



.using_facebook{
	width: 252px;
	height: 42px;
	cursor: pointer;
	margin-top: 10px;
}

.float-left{
	float:left !important;
}

.float-right{
	float:right !important;
}

.option #checkbox{
	margin: 8px 10px 0 0;
	padding: 0;
}

.clear, .clear-a, .clear-b, .clear-c, .clear-d{
	clear:both;
	width: 100%;
	text-align: center;
}

.clear-a{
	height: 32px;
}

.clear-b{
	height: 40px;
}

.clear-c{
	color: #9A9A9A;
    font-size: 11px;
    margin-bottom: -25px;
}

.clear-d{
	height: 18px;
}

.register{
	text-align: right;
}

.frmFlds{list-style:none;width:100%;}
.frmFlds .frmInp{padding:0; margin:0;}
.frmFlds .frmInp div.note{width:320px;}
.frmFlds .frmInp label{display:block;float:left;margin-right:10px;line-height:34px;padding:0;}
.frmFlds .frmInp .inpFld{float:left;text-align:left;display:block;font-size:14px;width:238px;margin:0;padding:0;}
.frmFlds .frmInp .inpFld .text-input,
.frmFlds .frmInp .inpFld .selectbox{color:#999999; border:1px solid #999999;font-size:14px;width:224px;padding:6px 4px;margin:2px 0;}
.frmFlds .frmInp .inpFld .text-input.error,
.frmFlds .frmInp .inpFld .selectbox.error{border-color:red;}
.frmFlds .frmInp .inpFld .selectbox{width:120px;}
.frmFlds .frmInp .inpFld .selector{width:76px;}
.frmFlds .frmInp .inpFld .lblRadio{display:inline-block !important;float:none;line-height: normal;cursor:pointer;padding-bottom:4px;}
.frmFlds .frmInp .inpFld .inpTip{font-size:11px;color: #777e8a;}
.frmFlds .frmInp label.error{color:red;font-size:11px;line-height:11px;float:none;position:absolute;margin-top: -3px;}
.frmFlds .date .error{left: 10px;}

.frmFlds .frmInp label.register{width:130px !important;text-align:right;}
#.frmFlds .frmInp label.error{text-align:left !important;}

.frmFlds .red_error{padding-bottom: 4px; padding-left: 140px; margin:0;}
.frmFlds .red_error .day_error{padding-left: 37px;}
.frmFlds .red_error .year_error{padding-left: 34px;}
.frmFlds .red_error span .error{color:red;font-size:11px;}
.err{color:red;font-size:11px; width: 200px;height: 12px;}
.err .month_error{left: 216px; position: absolute;}
.err .day_error{left: 296px; position: absolute;}
.err .year_error{left: 377px; position: absolute;}
.acc_type_span{	margin-top: 8px !important; }
.star{color: red}

/*
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
*/
/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* ad box */
#dialog-box .ad-header{
	float: left;
	width: 100%;
	padding-bottom: 8px;
	margin-top: -6px;
}



#dialog-box .colorcode1, .colorcode1 p, .colorcode1 label, .colorcode1 a{
	color: #990000;
}

#dialog-box .colorcode2, .colorcode2 p, .colorcode2 label, .colorcode2 a{
	color: #02b9c8;
}

#dialog-box .colorcode3, .colorcode3 p, .colorcode3 label, .colorcode3 a{
	color: #990000;
}

#dialog-box .colorcode4, .colorcode4 p, .colorcode4 label, .colorcode4 a{
	color: #2c652f;
}

#dialog-box .colorcode5, .colorcode5 p, .colorcode5 label, .colorcode5 a{
	color: #94A901;
}

#dialog-box .member{
	width:46%;
	padding-right: 6px;
}
#dialog-box .avatar-small{
	margin-top: 6px;
}

#dialog-box .ur_name, #dialog-box .ad_count{
	vertical-align: super;
	font-size: 11px;
}
#dialog-box .ad_count{
	color: #5E5D5D;
}
#dialog-box #ad ul.ad-info{
    float: left;
	background-color: #E3E3E3;
    height: 30px;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    width: 792px;
	position: relative;
	z-index: 10;
}

#dialog-box #ad ul.ad-info li{
    display: inline;
    float: left;
    font-size: 12px;
    list-style-type: none;
    padding: 5px 8px;
	font-weight: normal;
}


#dialog-box #ad ul.ad-info li.primary{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	padding: 6px 15px;
	margin-right: 10px;
}
#dialog-box #ad ul.ad-info li.strong-black{
	color: #000000;
	font-weight: bold;
}

#dialog-box #ad ul.ad-info li.colorcode1{
	background-color: #990000;
}
#dialog-box #ad ul.ad-info li.colorcode2{
	background-color: #02B9C8;
}
#dialog-box #ad ul.ad-info li.colorcode3{
	background-color: #990000;
}
#dialog-box #ad ul.ad-info li.colorcode4{
	background-color: #2c652f;
}
#dialog-box #ad ul.ad-info li.colorcode5{
	background-color: #94A901;
}
#dialog-box #ad ul.ad-info li.colorcode6{
	background-color: #F04205;
}
#dialog-box #ad ul.ad-info li.colorcode7{
	background-color: #584237;
}
#dialog-box #ad ul.ad-info li.colorcode8{
	background-color: #EBA501;
}

#dialog-box #ad ul.ad_menu{
    float: left;
    height: 30px;
    margin: 0 0 30px;
    padding: 0 1px;
    text-align: center;
    width: 792px;
	position: relative;
	z-index: 10;
}

#dialog-box .colorcode1 ul.ad_menu{
	background-color: #990000;
}

#dialog-box .colorcode2 ul.ad_menu{
	background-color: #02b9c8;
}

#dialog-box .colorcode3 ul.ad_menu{
	background-color: #990000;
}

#dialog-box .colorcode4 ul.ad_menu{
	background-color: #2c652f;
}

#dialog-box .colorcode5 ul.ad_menu{
	background-color: #94A901;
}

#dialog-box #ad ul.ad_menu li{
    display: inline;
    float: left;
    font-size: 15px;
    list-style-type: none;
    margin: 2px 1px 0 1px;
    padding: 4px 28px 10px;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
}
#dialog-box #ad ul.ad_menu li:hover, #dialog-box #ad ul.ad_menu li.active{
	background-color: #FFFFFF;
	color: #000000;
}

#dialog-box #ad #fileupload{
	width: 794px;
	float:left;
	margin: 0;
	padding: 0;
}
#dialog-box #ad .content .left{
	float: left;
	width: 420px;
	padding-right: 33px;
}

#dialog-box #ad .content ul.left_form {
	float: left;
    margin: 0;
    padding: 0;
	width: 420px;
}

#dialog-box #ad .content ul.left_form li {
	padding-bottom: 20px;
	text-align: right;
	position: relative;
}

#dialog-box #ad .content ul.left_form li span label.error {
	font-size: 11px;
    left: 112px;
    position: absolute;
    top: 36px;
	color: red;
}

#dialog-box #ad .content ul.left_form li.price_box{
	z-index: 0;
}

#dialog-box #ad .content ul.left_form li.price_box label.error {
    right: 0;
    top: 26px;
}

#dialog-box #ad .content ul.left_form li.details_box label.error {
    left: 80px;
    top: 22px;
}

#dialog-box #ad .content ul.left_form label {
	font-family: Tahoma, Arial, Serif;
	font-size: 12px;
}

#dialog-box #ad .content ul.left_form li.frmInp input {
	width: 310px;
	border: 2px solid #CCCCCC;
}

#dialog-box #ad .content ul.left_form li.frmInp input.post_ad_input{
	height: 36px;
	color: #333333;
	font-size: 14px;
}

#dialog-box #ad .content ul.left_form li.frmInp input.price{
	height: 28px;
	width: 132px;
}

#dialog-box #ad .content ul.left_form li.frmInp .price_note{
	color: #999999;
    float: left;
    font-size: 11px;
    padding-left: 60px;
    padding-top: 3px;
	text-align: left;
}

#dialog-box #ad .content ul.left_form li.frmInp select.selectbox {
	width: 310px;
	height: 28px;
	padding: 4px 2px 2px;
	border: 2px solid #CCCCCC;
	color: #333333;
}


#dialog-box #ad .content ul.left_form label.sellad_lbl {
	float: left;
	line-height: 30px;
	padding-right: 4px;
    text-align: right;
    width: 104px;
}

#dialog-box #ad .content ul.left_form li.frmInp .selladd {
	float: left;
	width: 248px;
	min-height: 26px;
	max-height: 120px;
	overflow: auto;
	padding: 3px 6px 0px;
	text-align: left;
	border: 2px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#dialog-box #ad .content ul.left_form li.frmInp .selladd_err{
	border: 2px solid red;
}

#dialog-box #ad .content ul.left_form li.frmInp .selladd .ad_choosed{
	background-color: #BBBBBB;
	padding: 2px 6px;
	color: #FFFFFF;
	float: left;
	font-size: 11px;
	margin-right: 4px;
	margin-bottom: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#dialog-box #ad .content ul.left_form li.frmInp .selladd .ad_choosed .remove{
	background: url("../images/remove.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 10px;
    margin-left: 4px;
    padding: 0 8px 0 2px;
    position: relative;
    right: 0;
    top: 2px;
}

#dialog-box #ad .content ul.left_form li.selladd_info_box {
    margin-top: -16px;
	padding-bottom: 0;
}

#dialog-box #ad .content ul.left_form li.frmInp .selladd_info {
	color: #999999;
    float: left;
    font-size: 11px;
    text-align: left;
    width: 308px;
}

#dialog-box #ad .content ul.left_form li.frmInp .add_btn {
		float: left;
		font-family: arial !important;
		width: 40px;
		height: 30px;
		font-size: 12px !important;
		border: 0 none;
		color: #FFFFFF;
		font-weight: bold;
		cursor: pointer;
		margin-left: 4px;
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
}

#dialog-box .colorcode1 .content ul.left_form li.frmInp .add_btn {
	background: #990000 !important;
}

#dialog-box .colorcode2 .content ul.left_form li.frmInp .add_btn {
	background: #02b9c8 !important;
}

#dialog-box .colorcode3 .content ul.left_form li.frmInp .add_btn {
	background: #990000 !important;
}

#dialog-box .colorcode4 .content ul.left_form li.frmInp .add_btn {
	background: #990000 !important;
}

#dialog-box .colorcode5 .content ul.left_form li.frmInp .add_btn {
	background: #2c652f !important;
}

#dialog-box #ad .content ul.left_form li.frmInp select.ad_type {
	width: 120px !important;
}

#dialog-box .content ul.left_form .ad_type_box{
	float: left;
	padding-left: 54px;
	padding-bottom: 0 !important;
	z-index: 10;
}

#dialog-box #ad .content ul.left_form li.frmInp .details_box{
	float:left;
}

#dialog-box #ad .content ul.left_form li.frmInp textarea.details{
	border: 2px solid #CCCCCC;
    height: 190px;
    width: 418px;
	padding: 4px;
}

#dialog-box #ad .content ul.left_form li.details_box .post_ad{
	float: left;
	padding: 20px 0 6px;
}

#dialog-box #ad .content ul.left_form li.allow_box{
	float: left;
	width: 250px;
}

#dialog-box #ad .content ul.left_form li.frmInp .allow{
	float: left;
    font-weight: bold;
    text-align: left;
}

#dialog-box #ad .content ul.left_form li.frmInp input[type=checkbox]{
	float: left;
    margin-right: 10px;
    margin-top: 1px;
    width: 10px;
}

#dialog-box #ad .content ul.left_form li.frmSubmit{
	float: right;
	width: 140px;
}
#dialog-box #ad .content ul.left_form li.frmSubmit input[name=submit]{
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}


#dialog-box .content .vertical_line{
	background: url("../images/vertical-line.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 488px;
    margin-top: -36px;
    position: relative;
    width: 26px;
    z-index: 0;
}
#dialog-box .content .right{
	float: left;
	width: 290px;
	padding-left: 25px;
}

#dialog-box .content h2{
	color: #000000;
    float: left;
    font-size: 16px;
    margin: 0 0 16px 0;
    padding: 0;
}

#dialog-box .content h2 .small{
	font-size: 10px;
	font-weight: normal !important;
}

#dialog-box .content h2.video{
	margin: 16px 0;
}
#dialog-box .content .right .container{
	float:left;
}

#dialog-box .content .right .container_b{
	height: 180px;
    overflow: auto;
    padding-right: 20px;
	width: 270px;
	clear: both;
}

#dialog-box .content .right .photo{
	background-color: #F7F7F7;
    border: 1px solid #C2C2C2;
    float: left;
    height: 56px !important;
    margin: 3px 7px 6px 0;
    overflow: hidden;
    padding: 0;
    width: 56px !important;
}
#dialog-box .content .right .photo_upload{
	float: left;
	width: 52px;
	height: 59px;
	margin: -6px 6px 3px 0;
	padding: 0;
	cursor: pointer;
}
#dialog-box .colorcode1 .content .right .photo_upload{
	background: url(../images/upload-ico.png) no-repeat scroll 0 0;
}

#dialog-box .content .right .yorv_textbox{
	width: 260px;
	height: 26px;
	border: 2px solid #C2C2C2;
	color: #999999;
	margin-bottom: 6px;
	font-size: 11px;
}

#dialog-box .content .right .yorv_textbox_a{
	margin-bottom: 10px;
}

#dialog-box .content .right .fill_note{
	color: #666666;
	font-size: 11px;
}

#dialog-box .content .right ul{
	float: left;
    margin: 10px 0 0 0;
    padding: 0;
    width: 270px;
	clear: both;
}
#dialog-box .content .right ul li{
	float: left;
	width: 270px;
	margin: 4px 0;
	padding: 0;
	cursor: move;
}
#dialog-box .content .right ul li label{
	float: left;
    padding-top: 4px;
}
#dialog-box .content .right ul li select{
	float:right;
	width: 152px;
	height: 26px;
	padding: 2px !important;
	border: 1px solid #CCCCCC;
}

#dialog-box .content .right .upload-photos{
		position: relative;
		width: 260px;
		height: 173px;
		-webkit-box-shadow: 2px 2px 0 0 #999999;
		-moz-box-shadow: 2px 2px 0 0 #999999;
		box-shadow: 2px 2px 0 0 #999999;
		margin-bottom: 10px;
}

#dialog-box .content .right .upload-photos .upload-photos-b-label{
		text-indent: -9999px;
		position: absolute;
}

#dialog-box .content .right .upload-photos{
	background: #E3E3E3 url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #999999;
}

#dialog-box .colorcode1 .content .right .upload-photos:hover{
	background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #990000;
}

#dialog-box .colorcode2 .content .right .upload-photos:hover{
	background: #02b9c8 url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #02b9c8;
}

#dialog-box .colorcode3 .content .right .upload-photos:hover{
	background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #990000;
}	
	
#dialog-box .colorcode4 .content .right .upload-photos:hover{
	background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #990000;
}	
	
#dialog-box .colorcode5 .content .right .upload-photos:hover{
	background: #2c652f url(../images/upload_photos_btn.png) no-repeat scroll 0 bottom;
	border: 1px solid #2c652f;
}	
	
#dialog-box .content .right .upload-photos:hover{
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}	

#dialog-box .content .right .upload-photos span{
		color: #000000;
		float: left;
		font-size: 11px;
		margin-left: 42px;
		margin-top: 146px;
	}
#dialog-box .content .right .upload-photos:hover span{
		color: #FFFFFF;
}

#dialog-box .content .right .upload-photos .upload-photos-label{
	bottom: 74px;
    font-size: 20px;
    font-weight: bold;
    left: 47px;
    position: absolute;
}

#dialog-box .colorcode1 .content .right .upload-photos .upload-photos-label{
    color: #990000;
}
#dialog-box .colorcode2 .content .right .upload-photos .upload-photos-label{
    color: #02b9c8;
}
#dialog-box .colorcode3 .content .right .upload-photos .upload-photos-label{
    color: #2c652f;
}
#dialog-box .colorcode4 .content .right .upload-photos .upload-photos-label{
    color: #990000;
}
#dialog-box .colorcode5 .content .right .upload-photos .upload-photos-label{
    color: #94A901;
}

#dialog-box .content .right .upload-photos:hover .upload-photos-label{
	color: #ffffff;
}

#dialog-box .content .right .upload-photos-b{
		position: relative;
		float: left;
		width: 260px;
		height: 35px;
		-webkit-box-shadow: 2px 2px 0 0 #999999;
		-moz-box-shadow: 2px 2px 0 0 #999999;
		box-shadow: 2px 2px 0 0 #999999;
		margin-bottom: 10px;
		text-indent: -9999px;
}

#dialog-box .content .right .upload-photos-b .upload-photos-label{
		text-indent: -9999px;
		position: absolute;
}

#dialog-box .content .right .upload-photos-b .upload-photos-b-label{
		text-indent: 0;
}

#dialog-box .content .right .upload-photos-b{
		background: #E3E3E3 url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #999999;
}

#dialog-box .colorcode1 .content .right .upload-photos-b:hover{
		background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #990000;
}

#dialog-box .colorcode2 .content .right .upload-photos-b:hover{
		background: #02b9c8 url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #02b9c8;
}

#dialog-box .colorcode3 .content .right .upload-photos-b:hover{
		background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #990000;
}
	
#dialog-box .colorcode4 .content .right .upload-photos-b:hover{
		background: #990000 url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #990000;
}
	
#dialog-box .colorcode5 .content .right .upload-photos-b:hover{
		background: #2c652f url(../images/upload_photos_btn.png) no-repeat scroll 0 top;
		border: 1px solid #2c652f;
}
	
#dialog-box .content .right .upload-photos-b:hover{
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}

	
#dialog-box .content .right .upload-photos-b .upload-photos-b-label{
	bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    left: 72px;
    position: absolute;
}

#dialog-box .colorcode1 .content .right .upload-photos-b .upload-photos-label{
    color: #990000;
}
#dialog-box .colorcode2 .content .right .upload-photos-b .upload-photos-label{
    color: #02b9c8;
}
#dialog-box .colorcode3 .content .right .upload-photos-b .upload-photos-label{
    color: #2c652f;
}
#dialog-box .colorcode4 .content .right .upload-photos-b .upload-photos-label{
    color: #990000;
}
#dialog-box .colorcode5 .content .right .upload-photos-b .upload-photos-label{
    color: #94A901;
}

#dialog-box .content .right .upload-photos-b:hover .upload-photos-b-label{
	color: #ffffff;
}	

	.allow_comments{
		float: left;
		font-size: 11px;
		margin-top: 24px;
	}
	.allow_comments .checkbox{
		vertical-align: middle;
		margin-left: 0;
	}
	
	.submit-form{
		float: right;
		font-family: arial !important;
		width: 140px;
		height: 45px;
		font-size: 25px !important;
		border: 0 none;
		color: #FFFFFF;
		font-weight: bold;
		cursor: pointer;
		margin: 10px 32px 20px 0;
		-webkit-box-shadow: 2px 2px 0 0 #000000;
		-moz-box-shadow: 2px 2px 0 0 #000000;
		box-shadow: 2px 2px 0 0 #000000;
	}
	
	#dialog-box .colorcode1 .submit-form{
		background: #990000 !important;
	}
	
	#dialog-box .colorcode2 .submit-form{
		background: #02b9c8 !important;
	}
	
	#dialog-box .colorcode3 .submit-form{
		background: #990000 !important;
	}

#dialog-box .colorcode4 .submit-form{
		background: #990000 !important;
	}

#dialog-box .colorcode5 .submit-form{
		background: #2c652f !important;
	}

/* upload style */
#file_F1{
	display: none;
}
.uploadButton input[type="file"] {
	cursor:pointer;
	position:absolute;
	top:0px;
	opacity:0;
	filter:alpha(opacity: 0);
}
.uploadButton {
	background: url("../images/realestate-upload-ico.png") no-repeat scroll 0 0 transparent;
	float:left;
	position:relative;
	overflow:hidden;
	width: 52px;
	height: 59px;
	margin: -6px 6px 3px 0;
	cursor:pointer;
	opacity:0.9;
}

#dialog-box .colorcode1 .content .right .uploadButton{
	background: url(../images/upload-ico.png) no-repeat scroll 0 0;
}

#dialog-box .realestate .content .right .uploadButton{
	background: url(../images/realestate-upload-ico.png) no-repeat scroll 0 0;
}

#dialog-box .colorcode3 .content .right .uploadButton{
	background: url(../images/realestate-upload-ico.png) no-repeat scroll 0 0;
}

#dialog-box .colorcode4 .content .right .uploadButton{
	background: url(../images/realestate-upload-ico.png) no-repeat scroll 0 0;
}

#dialog-box .colorcode5 .content .right .uploadButton{
	background: url(../images/realestate-upload-ico.png) no-repeat scroll 0 0;
}

.uploadButton:hover {
	opacity:1;
	cursor:pointer;
}
#upload_input_wrap_labels{
	opacity:0;
}
#userfile_wrap{
	opacity:0;
}

/* begin ad details */
#dialog-box #ad ul.ad_menu li.lblmenu{
	width: 100%;
	padding: 0;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	padding: 2px 0 0;
}

#dialog-box #ad ul.ad_menu li.lblmenu:hover{
	background: none;
	color: #ffffff;
	cursor: default;
}

#dialog-box h1.lbl_ad{
	font-size: 25px;
	font-weight: normal;
	font-family: arial, sans-serif;
}
#dialog-box .ad_details_left{
	width: 342px;
	padding: 0 55px 0 0;
	margin: 0;
	float: left;
}

#dialog-box .ad_details_left label{
	float: left;
    line-height: 28px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 120px;
}

#dialog-box .ad_details_left select{
	width: 206px;
	float: left;
	padding: 6px 4px !important;
	border: 1px solid #CCCCCC;
	margin: 0 0 14px 0;
}

#dialog-box .ad_details_left .tagsbox_normal{
	border: 1px solid #CCCCCC;
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 0 0 14px;
    padding: 5px 4px 6px;
    width: 182px;
}

#dialog-box .ad_details_left .tagsbox_entered{
	width: 182px;
	float: left;
	padding: 4px 4px;
	border: 1px solid #CCCCCC;
	margin: 0 0 14px 0;
}



#dialog-box .ad_details_left .add_tag_btn{
	background: url(../images/add_tag_btn.png) no-repeat scroll 0 0;
	float: left;
	width: 25px;
	height: 26px;
	border: 0 none;
	margin-left: -1px;
	cursor: pointer;
}

#dialog-box .ad_details_left .ad_note{
	float: right;
	font-size: 11px;
	color: #999999;
}

#dialog-box .ad_details_left .tag-wrapper{
	float: left;
    margin: -10px 0 8px;
    max-height: 104px;
    overflow: auto;
    padding-left: 130px;
    width: 206px;
}

#dialog-box .ad_details_left .tag-wrapper .tag_choosed{
	background-color: #BBBBBB;
	padding: 2px 6px;
	color: #FFFFFF;
	float: left;
	font-size: 11px;
	margin-right: 4px;
	margin-bottom: 3px;
	line-height: 14px;
	width: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#dialog-box .ad_details_left .tag-wrapper .tag_choosed .remove{
	background: url("../images/remove.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 10px;
    margin-left: 4px;
    padding: 0 8px 0 2px;
    position: relative;
    right: 0;
    top: 2px;
}


#dialog-box .ad_details_right{
	width: 342px;
	padding: 0 0 0 55px;
	margin: 0;
	float: left;
}

#dialog-box .ad_details_right label{
	float: left;
    line-height: 28px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 80px;
}

#dialog-box .ad_details_right select{
	width: 206px;
	float: left;
	padding: 6px 4px !important;
	border: 1px solid #CCCCCC;
	margin: 0 0 14px 0;
}

#dialog-box .ad_details_right .nput-a{
	width: 206px;
	float: left;
	padding: 6px 4px !important;
	border: 1px solid #CCCCCC;
	margin: 0 0 14px 0;
}

#dialog-box .ad_details_right .geocode-wrapper{
	float: left;
    margin: -10px 0 8px;
    padding-right: 36px;
    width: 300px;
}

#dialog-box .ad_details_right .geocode-wrapper .geocode{
	background-color: #BBBBBB;
	padding: 2px 6px;
	color: #FFFFFF;
	float: right;
	font-size: 11px;
	margin-right: 4px;
	margin-bottom: 3px;
	line-height: 14px;
	width: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#dialog-box .ad_details_right .geocode-wrapper .geocode .remove{
	background: url("../images/remove.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 10px;
    margin-left: 4px;
    padding: 0 8px 0 2px;
    position: relative;
    right: 0;
    top: 2px;
}

#dialog-box .ad_details_right .nput-b{
	width: 206px;
	float: left;
	padding: 6px 4px 8px !important;
	border: 1px solid #CCCCCC;
	margin: 0 0 14px 0;
}

#dialog-box .ad_details_right .addmap{
	margin-right: 47px;
	margin-top: -8px;
}

#dialog-box .ad_details_bottom{
	padding-top: 40px;
	width: 747px;
	margin-right: 47px;
	margin-bottom: 20px;
}

#dialog-box .ad_details_bottom .back-wrapper{
	margin-right: 14px;
	vertical-align: 4px;
}


/* end ad details */


/* jquery autocomplete style */

.ui-autocomplete{
	background-color: #ffffff;
	font-size: 16px;
	border:1px solid #D3D3D3;
	color: #999999;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	max-height: 190px;
	overflow: auto;
}

.ui-autocomplete .ui-menu-item{
	cursor: pointer;
	border: 0 none;
	margin: 0;
	font-weight: normal;
}

.ui-autocomplete .ui-menu-item a{
	font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
	color: #999999;
	border: 0 none;
	margin: -1px;
	font-weight: normal;
	line-height: 2;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.ui-autocomplete .ui-menu-item a:hover{
	background: #DADADA;
}


/* common button */
.small-gray-button{
	background: #999999;
	font-family: arial;
	padding: 3px 6px 5px 6px;
	height: 14px;
	font-size: 12px;
	border: 0 none;
	color: #FFFFFF;
	font-weight: normal;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 0 0 #cccccc;
	-moz-box-shadow: 2px 2px 0 0 #cccccc;
	box-shadow: 2px 2px 0 0 #cccccc;
}

.large-button{
	font-family: arial;
	padding-left: 20px;
	padding-right: 20px;
	height: 44px;
	font-size: 25px;
	border: 0 none;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
}

.go-button{
	font-family: arial;
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 3px;
	height: 45px;
	font-size: 25px;
	border: 0 none;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
}

.go-button-colorcode1{
	background: #990000;
}
.go-button-colorcode2{
	background: #02B9C8;
}
.go-button-colorcode3{
	background: #990000;
}
.go-button-colorcode4{
	background: #2c652f;
}
.go-button-colorcode5{
	background: #94A901;
}
.go-button-colorcode6{
	background: #F04205;
}
.go-button-colorcode7{
	background: #584237;
}
.go-button-colorcode8{
	background: #EBA501;
}

.go-button-disabled{
	background: #cecece;
}

.gray-button{
	background: #999999;
}

.light-blue-button{
	background: #3B5997;
}

#dialog-box .colorcode1 .go-button{
	background-color: #990000;
}

#dialog-box .colorcode2 .go-button{
	background-color: #02b9c8;
}

#dialog-box .colorcode3 .go-button{
	background-color: #990000;
}

#dialog-box .colorcode3 .go-button{
	background-color: #2c652f;
}

#dialog-box .colorcode3 .go-button{
	background-color: #94A901;
}

.draft{
	margin-right: 8px;
}

/* end common button */
	
/* common style */

.txt-align-left{
	text-align: left;
}
.txt-align-right{
	text-align: right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}

.round-corners{ 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 0 4px;
}

iframe{
	border: 0 none;
}

.vid_link_error{
	border: 2px solid red !important;
}

/* end common css */

/* custom dropdown */
.category-label{
	line-height: 26px;
}
.custom-selector{
	background: url("../images/arrow-down.png") no-repeat scroll 98% center transparent;
	float: right;
	height: 20px;
	color: #333333;
	font-size: 12px;
	border: 2px solid #CCCCCC;
    width: 298px;
	text-align: left;
	margin-left: 4px;
	position: relative;
	padding: 4px;
	line-height: 18px;
}
/*
.custom-selector:hover ul.custom{
	display: block;
}
*/

.custom_display{
	display: block !important;
}

.custom_display_hide{
	display: none !important;
}

ul.custom, ul.sub-custom{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    min-height: 40px;
    left: -2px;
    padding: 4px;
    position: absolute;
    top: 29px;
    width: 300px;
    z-index: 200;
	display: none;
}
ul.sub-custom{
	left: 306px;
	height: auto;
	padding-left: 10px;
	display: none;
}
ul.custom li, ul.sub-custom li{
	text-align: left !important;
	padding: 6px 0 6px 4px !important;
}

ul.custom li:hover, ul.sub-custom li:hover{
	color: #FFFFFF;
	cursor: pointer;
}

.colorcode1 ul.custom li:hover, .colorcode1 ul.sub-custom li:hover{
	background: #990000;
}

.colorcode2 ul.custom li:hover, .colorcode2 ul.sub-custom li:hover{
	background: #02b9c8;
}

.colorcode3 ul.custom li:hover, .colorcode3 ul.sub-custom li:hover{
	background: #990000;
}

.colorcode4 ul.custom li:hover, .colorcode4 ul.sub-custom li:hover{
	background: #990000;
}

.colorcode5 ul.custom li:hover, .colorcode5 ul.sub-custom li:hover{
	background: #2c652f;
}



.arrow-right-bg{
	background: url("../images/arrow-right.png") no-repeat scroll 98% center;
}

.arrow-right-bg:hover{
	background: url("../images/arrow-right.png") no-repeat scroll 98% center #990000 !important;
}

.entered, .entered2{
	display: block !important;
}

.subcat_show{
	display: block;
}

.subcat_hide{
	display: none;
}

/* end custom dropdown */


/* begin PostAd */
#post-ad-box, .post-ad-box1, .post-ad-box2, .post-ad-box3{
	margin: 0;
}

.post-ad-box1{
	width: 716px;
	padding: 0 36px;
}

.post-ad-box2{
	padding: 0 37px;
	width: 776px;
}

.post-ad-box3{
	padding: 0 28px;
}

#post-ad-box .post-ad-header, #post-ad-box .post-ad-header2{
	width: 852px;
	float: left;
}

#post-ad-box .post-ad-header2{
	width: 776px !important;
}

#post-ad-box .post-ad-header .colors-logo{
	#width: 24px;
	height: 56px;
}

#post-ad-box .post-ad-header .colors-logo h1{
	color: #999999;
    float: left;
    font-size: 25px;
    font-weight: normal;
    line-height: 56px;
    padding-left: 12px;
    width: 600px;
}

#post-ad-box .post-ad-header .colors-logo span.choose-main-cat{
	color: #999999;
    font-size: 15px;
	vertical-align: top;
}

#post-ad-box .post-ad-header .colors-logo .backtomain{
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 56px;
	margin-right: 12px;
    text-decoration: underline;
	cursor: pointer;
}

#post-ad-box .post-ad-header .colors-logo .color1,
#post-ad-box .post-ad-header .colors-logo .color2,
#post-ad-box .post-ad-header .colors-logo .color3,
#post-ad-box .post-ad-header .colors-logo .color4,
#post-ad-box .post-ad-header .colors-logo .color5,
#post-ad-box .post-ad-header .colors-logo .color6,
#post-ad-box .post-ad-header .colors-logo .color7,
#post-ad-box .post-ad-header .colors-logo .color8{
	width: 4px;
	height: 56px;
}

#post-ad-box .post-ad-header .colors-logo .color1{ float: left; background-color: #990000; }
#post-ad-box .post-ad-header .colors-logo .color2{ float: left; background-color: #02B9C8; }
#post-ad-box .post-ad-header .colors-logo .color3{ float: left; background-color: #990000; }
#post-ad-box .post-ad-header .colors-logo .color4{ float: left; background-color: #2c652f; }
#post-ad-box .post-ad-header .colors-logo .color5{ float: left; background-color: #94A901; }
#post-ad-box .post-ad-header .colors-logo .color6{ float: left; background-color: #F04205; }
#post-ad-box .post-ad-header .colors-logo .color7{ float: left; background-color: #584237; }
#post-ad-box .post-ad-header .colors-logo .color8{ float: left; background-color: #EBA501; }

#post-ad-box .post-ad-buttons{ float: left; width: 852px; padding-top: 28px;}

#post-ad-box .post-ad-buttons .button-one,
#post-ad-box .post-ad-buttons .button-two,
#post-ad-box .post-ad-buttons .button-three,
#post-ad-box .post-ad-buttons .button-four,
#post-ad-box .post-ad-buttons .button-five,
#post-ad-box .post-ad-buttons .button-six,
#post-ad-box .post-ad-buttons .button-seven,
#post-ad-box .post-ad-buttons .button-eight{ 
	float: left; 
	position: relative;
	width: 200px;
	height: 140px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	margin-bottom: 11px;
}


#post-ad-box .post-ad-buttons .button-one{
	background: #990000 url("../images/post-ad-ico1.png") no-repeat scroll center 54px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
}

#post-ad-box .post-ad-buttons .button-one:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #990000;
	-moz-box-shadow: 2px 2px 0 0 #990000;
	box-shadow: 2px 2px 0 0 #990000;
}

#post-ad-box .post-ad-buttons .button-two{
	background: #02B9C8 url("../images/post-ad-ico2.png") no-repeat scroll center 60px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
}

#post-ad-box .post-ad-buttons .button-two:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #02B9C8;
	-moz-box-shadow: 2px 2px 0 0 #02B9C8;
	box-shadow: 2px 2px 0 0 #02B9C8;
}

#post-ad-box .post-ad-buttons .button-three{
	background: #990000 url("../images/post-ad-ico3.png") no-repeat scroll center 58px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
}

#post-ad-box .post-ad-buttons .button-three:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #990000;
	-moz-box-shadow: 2px 2px 0 0 #990000;
	box-shadow: 2px 2px 0 0 #990000;
}

#post-ad-box .post-ad-buttons .button-four{
	background: #2c652f url("../images/post-ad-ico4.png") no-repeat scroll center 56px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
}

#post-ad-box .post-ad-buttons .button-four:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #2c652f;
	-moz-box-shadow: 2px 2px 0 0 #2c652f;
	box-shadow: 2px 2px 0 0 #2c652f;
}

#post-ad-box .post-ad-buttons .button-five{
	background: #94A901 url("../images/post-ad-ico5.png") no-repeat scroll center 68px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-bottom: 11px;
}

#post-ad-box .post-ad-buttons .button-five:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #94A901;
	-moz-box-shadow: 2px 2px 0 0 #94A901;
	box-shadow: 2px 2px 0 0 #94A901;
}

#post-ad-box .post-ad-buttons .button-six{
	background: #F04205 url("../images/post-ad-ico6.png") no-repeat scroll center 58px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
	margin-bottom: 11px;
}

#post-ad-box .post-ad-buttons .button-six:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #F04205;
	-moz-box-shadow: 2px 2px 0 0 #F04205;
	box-shadow: 2px 2px 0 0 #F04205;
}

#post-ad-box .post-ad-buttons .button-seven{
	background: #584237 url("../images/post-ad-ico7.png") no-repeat scroll center 60px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
	margin-bottom: 11px;
}

#post-ad-box .post-ad-buttons .button-seven:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #584237;
	-moz-box-shadow: 2px 2px 0 0 #584237;
	box-shadow: 2px 2px 0 0 #584237;
}
#post-ad-box .post-ad-buttons .button-eight{
	background: #EBA501 url("../images/post-ad-ico8.png") no-repeat scroll center 58px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	margin-left: 10px;
	margin-bottom: 11px;
}

#post-ad-box .post-ad-buttons .button-eight:hover{
	background-color: #EFEDED;
	-webkit-box-shadow: 2px 2px 0 0 #EBA501;
	-moz-box-shadow: 2px 2px 0 0 #EBA501;
	box-shadow: 2px 2px 0 0 #EBA501;
}

#post-ad-box .post-ad-buttons .button-label{
	background: transparent url("../images/title_bg.png") no-repeat scroll center center;
	float: left;
	font-size: 17px;
	text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1);
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin-top: -11px;
	cursor: pointer;
}

#post-ad-box .post-ad-buttons .button-label2{
	bottom: 10px;
    color: #000000;
    font-size: 11px;
    left: 2px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    width: 100%;
	font-weight: normal;
}

#post-ad-box .post-ad-buttons .button-one .button-label,
#post-ad-box .post-ad-buttons .button-two .button-label,
#post-ad-box .post-ad-buttons .button-three .button-label,
#post-ad-box .post-ad-buttons .button-four .button-label,
#post-ad-box .post-ad-buttons .button-five .button-label,
#post-ad-box .post-ad-buttons .button-six .button-label,
#post-ad-box .post-ad-buttons .button-seven .button-label,
#post-ad-box .post-ad-buttons .button-eight .button-label{ 
	color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px #efeded;
	filter: dropshadow(color=#efeded, offx=1, offy=1);
}

#post-ad-box .post-ad-buttons .button-one:hover .button-label{ color: #990000; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-two:hover .button-label{ color: #02B9C8; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-three:hover .button-label{ color: #990000; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-four:hover .button-label{ color: #2c652f; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-five:hover .button-label{ color: #94A901; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-six:hover .button-label{ color: #F04205; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-seven:hover .button-label{ color: #584237; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }
#post-ad-box .post-ad-buttons .button-eight:hover .button-label{ color: #EBA501; text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1); }



.hide-post-ad-wrapper{
	display: none;
}

#post-ad-box .post-ad-header-box{
	float: left;
	width: 100%;
}

.post-ad-box-colorcode1{
	color: #990000;
}
.post-ad-box-colorcode2{
	color: #02B9C8;
}
.post-ad-box-colorcode3{
	color: #990000;
}
.post-ad-box-colorcode4{
	color: #2c652f;
}
.post-ad-box-colorcode5{
	color: #94A901;
}
.post-ad-box-colorcode6{
	color: #F04205;
}
.post-ad-box-colorcode7{
	color: #584237;
}
.post-ad-box-colorcode8{
	color: #EBA501;
}

#post-ad-box .post-ad-header-box .post-ad-note{
	float: left;
	margin-top: 6px;
	font-size: 11px;
	color: #666666;
}
#post-ad-box .post-ad-header-box .post-ad-note p{
	line-height: 8px;
}

#post-ad-box .post-ad-header-box h2{
	background: url("../images/title_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 17px;
    height: 58px;
    line-height: 58px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px #FFFFFF; filter: dropshadow(color=#ffffff, offx=1, offy=1);
	width: 250px;
}

#post-ad-box .post-ad-list-box{
	float: left;  
	width: 100%;
	margin: 0;
	padding: 0;
}

#post-ad-box .post-ad-list-box ul.main-category{
	float: left;
	width: 220px;
	min-height: 348px;
	margin: 0;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
}

#post-ad-box .post-ad-list-box ul.main-category-colorcode1,
#post-ad-box .post-ad-list-box ul.main-category-colorcode2,
#post-ad-box .post-ad-list-box ul.main-category-colorcode3,
#post-ad-box .post-ad-list-box ul.main-category-colorcode4,
#post-ad-box .post-ad-list-box ul.main-category-colorcode5,
#post-ad-box .post-ad-list-box ul.main-category-colorcode6,
#post-ad-box .post-ad-list-box ul.main-category-colorcode7,
#post-ad-box .post-ad-list-box ul.main-category-colorcode8{
	width: 198px;
	padding: 0 11px;
}

#post-ad-box .post-ad-list-box ul.main-category-colorcode1{
	background-color: #990000;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode2{
	background-color: #02B9C8;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode3{
	background-color: #990000;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode4{
	background-color: #2c652f;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode5{
	background-color: #94A901;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode6{
	background-color: #F04205;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode7{
	background-color: #584237;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode8{
	background-color: #EBA501;
}


#post-ad-box .post-ad-list-box ul.main-category li{
	font-size: 12px;
	padding: 6px 0;
	text-align: left;
}
#post-ad-box .post-ad-list-box ul.main-category li.li-header{
	color: #000000;
	border-bottom: 1px solid #000000;
	padding: 12px 0 6px;
	margin-bottom: 2px;
	font-weight: bold;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode1 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode1 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode2 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode2 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode3 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode3 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode4 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode4 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode5 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode5 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode6 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode6 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode7 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode7 li.li-list3:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode8 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode8 li.li-list3:hover{
	padding-left: 6px;
	cursor: pointer;
	font-weight: bold;
}

#post-ad-box .post-ad-list-box ul.main-category-colorcode1 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode1 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code1.png") no-repeat scroll 96% center;
	color: #990000;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode2 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode2 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code2.png") no-repeat scroll 96% center;
	color: #02B9C8;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode3 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode3 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code3.png") no-repeat scroll 96% center;
	color: #990000;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode4 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode4 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code4.png") no-repeat scroll 96% center;
	color: #2c652f;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode5 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode5 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code5.png") no-repeat scroll 96% center;
	color: #94A901;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode6 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode6 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #F04205;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode7 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode7 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #584237;
}
#post-ad-box .post-ad-list-box ul.main-category-colorcode8 li.li-list:hover,
#post-ad-box .post-ad-list-box ul.main-category-colorcode8 li.li-list3:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #EBA501;
}


#post-ad-box .post-ad-list-box ul.main-category li.li-list,
#post-ad-box .post-ad-list-box ul.main-category li.li-list3{
	color: #ffffff;
}



#post-ad-box .post-ad-list-box ul.sub-category{
	background-color: #999999;
	float: left;
	width: 198px;
	padding: 0 11px;
	min-height: 348px;
	margin: 0 0 0 28px;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	display: none
}

.show-sub{
	display: block !important;
}

#post-ad-box .post-ad-list-box ul.sub-category li{
	font-size: 12px;
	padding: 6px 0;
	text-align: left;
}
#post-ad-box .post-ad-list-box ul.sub-category li.li-header{
	color: #000000;
	border-bottom: 1px solid #000000;
	padding: 12px 0 6px;
	margin-bottom: 2px;
	font-weight: bold;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode1 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode2 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode3 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode4 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode5 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode6 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode7 li.li-list2:hover,
#post-ad-box .post-ad-list-box ul.sub-category-colorcode8 li.li-list2:hover{
	padding-left: 6px;
	cursor: pointer;
	font-weight: bold;
}

#post-ad-box .post-ad-list-box ul.sub-category-colorcode1 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code1.png") no-repeat scroll 96% center;
	color: #990000;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode2 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code2.png") no-repeat scroll 96% center;
	color: #02B9C8;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode3 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code3.png") no-repeat scroll 96% center;
	color: #990000;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode4 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code4.png") no-repeat scroll 96% center;
	color: #2c652f;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode5 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code5.png") no-repeat scroll 96% center;
	color: #94A901;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode6 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #F04205;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode7 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #F04205;
}
#post-ad-box .post-ad-list-box ul.sub-category-colorcode8 li.li-list2:hover{
	background: #FFFFFF url("../images/arrow-right-code6.png") no-repeat scroll 96% center;
	color: #F04205;
}

#post-ad-box .post-ad-list-box ul.sub-category li.li-list2{
	color: #ffffff;
}


#post-ad-box .post-ad-list-box ul.type-category{
	background-color: #FFFFFF;
	float: left;
	position: relative;
	width: 254px;
	min-height: 340px;
	margin: 0 0 0 28px;
	padding: 6px 12px 0;
	border: 1px solid #999999;
	-webkit-box-shadow: 2px 2px 0 0 #000000;
	-moz-box-shadow: 2px 2px 0 0 #000000;
	box-shadow: 2px 2px 0 0 #000000;
	display: none;
}

#post-ad-box .post-ad-list-box ul.type-category input[type="radio"] { padding-bottom:10px; }
#post-ad-box .post-ad-list-box ul.type-category input.radio { padding-bottom:10px; } 


.show-type{
	display: block !important;
}

#post-ad-box .post-ad-list-box ul.type-category-two{
	width: 500px;
}

#post-ad-box .post-ad-list-box ul.type-category li{
	font-size: 12px;
	padding: 4px 6px 6px;
	margin: 12px 6px 0 2px;
	text-align: left;
}

#post-ad-box .post-ad-list-box ul.type-category li input.price{
	width: 184px;
	height: 28px;
	padding: 4px 2px;
	border: 2px solid #CCCCCC;
	margin-left: 6px;
}
#post-ad-box .post-ad-list-box ul.type-category li p.currency_error{
	margin-left:46px;
	margin-top: 2px;
	color: red;
	font-size: 11px;
}
#post-ad-box .post-ad-list-box ul.type-category li.type-list{
	color: #666666;
}

#post-ad-box .post-ad-list-box ul.type-category li.type-go-button{
	position: absolute;
	bottom: 16px;
	right: 18px;
}

#post-ad-box .post-ad-list-box ul.type-category-colorcode1 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode2 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode3 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode4 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode5 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode6 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode7 li.type-list:hover,
#post-ad-box .post-ad-list-box ul.type-category-colorcode8 li.type-list:hover{
	color: #FFFFFF;
	cursor: pointer;
}

#post-ad-box .post-ad-list-box ul.type-category-colorcode1 li.type-list:hover{
	background-color: #990000;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode2 li.type-list:hover{
	background-color: #02B9C8;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode3 li.type-list:hover{
	background-color: #990000;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode4 li.type-list:hover{
	background-color: #2c652f;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode5 li.type-list:hover{
	background-color: #94A901;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode6 li.type-list:hover{
	background-color: #F04205;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode7 li.type-list:hover{
	background-color: #584237;
}
#post-ad-box .post-ad-list-box ul.type-category-colorcode8 li.type-list:hover{
	background-color: #EBA501;
}

/* end PostAd */

/* start explaination box */
.explaination-box{
	width:290px;
	position:absolute;
	display:none;
	z-index: 999999;
}
.explaination-box .ebHead{
	height:8px;
	background: transparent url(../images/tooltip.png) no-repeat center 1px;
	margin-top: 8px;
	border-bottom: 8px solid #000000;
}
.explaination-box .ebContent{
	background: #000000;
	font-size: 11px;
	font-family: Arial;
	color: #ffffff;
}
.explaination-box .ebBody{
	padding:5px 10px;
	line-height:18px;
}
.explaination-box .ebFoot{
	height:8px;
	background: #000000;
}
/* end explanation box */