@CHARSET "ISO-8859-1";
.purchase-wrapper { float:left; padding: 50px 0 0; }
.purchase-wrapper .left-menu { height: 100%; position: fixed;  top: 129px; width: 122px; z-index: 1; width:122px; background-color:#382837; }
.purchase-wrapper .menu-title { position:fixed; top:50px; text-align:center; color:#382837; font-size:14px; line-height:79px; width:122px; }
.purchase-wrapper .left-menu ul { float:left; position:fixed; width:121px; z-index:2; }
.purchase-wrapper .left-menu ul li { list-style:none none; height:49px; line-height:49px; margin-top:1px; color:#FFF; font-size:14px; text-align:center; background-color:#9CA09F; cursor:pointer; }
.purchase-wrapper .left-menu ul li.selected { color:#382837; font-weight:bold; width:122px; background: url(/cdn/images/bg-menu-selected-purchase.jpg) repeat-y; }
.purchase-wrapper #main-right-wrapper { margin-top:0; margin-left:174px; width:808px; position:relative; }
.purchase-wrapper .content-label { color:#382837; font-size:22px; line-height:79px; }
.purchase-wrapper #popup-preloader-wrapper { margin-top:10px; }
.purchase-wrapper #popup-preloader-wrapper #popup-preloader-center { vertical-align:top; }

#shipping-address {display: inline-block; list-style: none;}
#shipping-address li{display: inline-block;margin: 0 20px 45px; width:225px; float:left;}
#shipping-address li .address-book{display: block;}
#shipping-address li .address-book span{display: block;line-height: 15px;}
#shipping-address li a{margin-right: 8px;}
#add-book-buttons{margin: 8px 0px;}
#add-book-buttons .edit-del{cursor:pointer;height: 30px;width: 52px;line-height: 30px;font-size: 12px;text-align: center;text-decoration: none;display: inline-block;}
.colored-button {
    background-color: #5C5A5A;
    box-shadow: 2px 2px 0 0 #2B2B2B;
	color:#FFF;
}