@CHARSET "ISO-8859-1";

.sales-wrapper { float:left; padding: 50px 0 0;position: relative; }
.sales-wrapper .left-menu { height: 100%; position: fixed;  top: 129px; width: 122px; z-index: 1; width:122px; background-color:#81C0B7; }
.sales-wrapper .menu-title { position:fixed; top:50px; text-align:center; color:#382837; font-size:14px; line-height:79px; width:122px; }
.sales-wrapper .left-menu ul { float:left; position:fixed; width:121px; z-index:2; }
.sales-wrapper .left-menu ul li { list-style:none none; width:122px; height:49px; line-height:49px; float:left; color:#FFF; font-size:12px; text-align:center; background-color:#81C0B7; cursor:pointer; border-bottom:1px solid #333333; }
.sales-wrapper .left-menu ul li.selected { color:#000; background-color:#FFF;width:122px; }
.sales-wrapper .left-menu ul li.orders { line-height:12px; border-top:1px solid #333; }
.sales-wrapper .left-menu ul li span { margin-top:12px; display:block; }
.sales-wrapper #main-right-wrapper { margin-top:0; margin-left:174px; min-width:808px; position:relative; max-width:830px; }
.sales-wrapper .content-label { color:#51A296; font-size:18px; line-height:22px; padding: 23px 0px;}
.sales-wrapper #popup-preloader-wrapper { margin-top:10px; }
.sales-wrapper #popup-preloader-wrapper #popup-preloader-center { vertical-align:top; }
.sales-wrapper button { background-color: #51A296; width: 158px; color: #ffffff; font-size: 15px; font-weight:bold; text-align: center; height: 40px; font-family: Arial; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; }

/*sort-ordering*/
.sort-ordering{position: absolute;list-style: none;top:23px;right: 62px;width: 140px;height: 25px;display: block;text-indent: 5px;
-webkit-box-shadow:  2px 2px 2px 0px #999999;        
        box-shadow:  2px 2px 2px 0px #999999;}
.sort-ordering li{height: 23px;width: 138px;border:1px solid #FFFFFF;background-color:#F5F5EC;line-height:23px;font-size:12px;color:#51A296;
-webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 115px -166px;}

#sales-content { width:808px;display: block;float: left; }

.order-tab-menu { padding:0 0 0 23px; margin:0 0 39px; list-style:none none; border-bottom:1px solid #CCCCCC; height:30px; position:relative; }
.order-tab-menu li { float:left; line-height:30px; min-width:156px; height:30px; background-color:#F0F0F0; color:#999999; font-size:14px; margin-right:4px; position:relative; text-align:center; cursor:pointer; }
.order-tab-menu li.selected { background-color:#FFF; color:#51A296; border:1px solid #CCCCCC; border-bottom:0 none; position:relative; top:-1px; min-width:154px; height:31px; }

.tbl-list tr { border-bottom:1px solid #D8D8D8; }
.tbl-list .lbl td { color:#51A296; height:45px; vertical-align:middle; }
.tbl-list .data td { height:63px; vertical-align:middle; color:#999999; }
.tbl-list .data td button { width:100px; height:22px; display:inline-block; float:left;
    font-size: 12px;line-height: 22px;text-align: center;cursor: pointer;font-weight: normal; }
.tbl-list .data td button.view { width:39px; }	
.tbl-list .data td a.del { background:url(/cdn/images/btn-trashcan.gif); width:14px; height:16px; display:inline-block; margin-top:3px; float:left;margin-left: 17px; }
.tbl-list .data td.pending { color:#FF9933; }
.tbl-list .data td.completed { color:#009900; }
.tbl-list .data td.cancelled { color:#CC0000; }

/* Sales & Earning History */
.history-butt{width: 158px;}
.



/*==========list customers===============*/
.list-customers-wrapper{width: 744px;min-height: 100px;display:block;float: left;margin-bottom: 26px;}
.list-customers-wrapper ul {list-style: none;display: block;}
.list-customers-wrapper ul .list-1{min-height: 95px;display: block;border-bottom:1px solid #D8D8D8;width: 744px;float: left; }
.list-customers-wrapper ul .list-1:first-child{border-top:1px solid #D8D8D8;}
.list-customers-wrapper ul #orders-preloader { margin:10px 0; }

.customers-wrapper{display: table;width: 744px;height: 95px;}
.picture-customer{display: table-cell;width:90px;vertical-align: middle;}
.pic-icon{width:90px;height: 69px;vertical-align: middle;background-color: #666666;display: inline-block;
-webkit-box-shadow: 2px 2px 1px 1px #999999;
box-shadow: 2px 2px 1px 1px #999999;
background-image: url("/cdn/images/store_images/avatar_customer.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.customer-details{display: table-cell;vertical-align: middle;width: 505px;height: 95px;padding-left: 19px;}
.customer-total-purchase{height: 95px;display: table-cell;vertical-align: middle;width:150px;}

.purchase-tooltip{position: absolute;top:2px;right: 1px;height: 10px;width: 20px;display: block;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px -137px;cursor: pointer;
}
.purchase-tooltip.selected{position: absolute;top:2px;right: 1px;height: 10px;width: 20px;display: block;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px -122px;cursor: pointer;
}
.purchase-price{display: inline-block;width:145px;height:24px;position:relative;
vertical-align: middle;
font-size: 24px;
color:#333333;
}

.purchase-price-footer{display: inherit;height:16px;min-height:150px;text-align:right;
vertical-align: bottom;color:#999999;
text-indent: 20px;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px -33px;}

.customers-ordered-item{width: 630px;padding-left: 109px;padding-right: 8px;min-height: 229px;margin-top: 8px; float: left; display:inline-block; position:relative; }
.customers-ordered-item.hide{display: inline-block;}

.customer-details-name{display: inherit;vertical-align: top;font-size: 16px;color: #333333;text-shadow: 1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);
        padding:0px 5px;}
.customer-details-add{display: inline-block;vertical-align: middle;padding-top:8px;padding-bottom: 2px;color: #999999;}
.customer-details-add span{font-size: 14px;text-align:left;margin-right: 22px;padding: 0px 5px;display: inline-block;
text-indent: 16px;
}
.town-add{height:16px;min-width:135px;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px -57px;}
.details-email{height:16px;min-width:150px;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px 3px;}

.customer-details-num{display: inherit;vertical-align: bottom;font-size: 14px;text-indent: 16px;padding: 0px 5px;color:#999999;height:16px;min-width:91px;
background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 0px -87px;
text-align: left;}
/*===== products ordered ================ */
.products-ordered-header{font-size: 16px;line-height: 20px;color: #333333;display: block;margin: 12px 10px;}

.products-ordered-wrapper{display: block;width: 630px;list-style: none;border-top: 1px solid #D8D8D8;}
.products-ordered-wrapper li{display: block;
float: left;
border-bottom: 1px solid #D8D8D8;}
.products-ordered-wrapper li .product-list{height:38px;
width: 630px;
display: table;
float: left;
vertical-align: middle;
padding: 10px 0px;}

.product-item{width: 572px;
padding-right: 54px;display: table-cell;
vertical-align: middle;}

.product-item-pic{width: 50px;
height: 40px;margin-left:10px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
-webkit-box-shadow: 1px 1px 3px 1px #cccccc;
box-shadow: 1px 1px 3px 1px #cccccc;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-right: 12px;
background-image: url("/cdn/images/store_images/product.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
float: left;
}
.product-item-title{
font-size: 12px;
color: #51A296;
display: block;
line-height:16px;
vertical-align: top;

}
.product-item-qcd{display:inline-block;vertical-align: bottom;font-size: 11px;color: #999999;
line-height: 15px;margin-top: 4px; margin-right:18px;}
.total-ordered-price{display: table-cell;vertical-align:middle;font-size: 20px;color: #000;width: 58px;}

/* sale report*/
#reports-wrapper{width:830px;display: block;float: left;}
.reports-tab-menu{
    padding: 0 0 0 23px;
margin: 0 0 39px;
list-style: none none;
border-bottom: 1px solid #CCCCCC;
height: 30px;
position: relative;
}
.reports-tab-menu li.selected{
    background-color: #FFF;
color: #51A296;
border: 1px solid #CCCCCC;
border-bottom: 0 none;
position: relative;
top: -1px;
min-width: 154px;
height: 31px;
}
.reports-tab-menu li{
    float: left;
line-height: 30px;
min-width: 156px;
height: 30px;
background-color: #F0F0F0;
color: #999999;
font-size: 14px;
margin-right: 4px;
position: relative;
text-align: center;
cursor: pointer;
padding: 0px 10px;
}
/* reports-list-header*/
.reports-list-header{
    height: 24px;
width: 830px;
display: block;
line-height: 24px;
padding-bottom: 24px;
}

.reports-list-header span{
    font-size: 12px;
color: #51A296;
line-height: 24px;
}

.reports-list-header .span-header1 {
width: 283px;
display: inline-block;
float: left;
margin-right: 41px;
}
.reports-list-header .span-header1b {
width: 180px;
display: inline-block;
float: left;
}
.reports-list-header .span-header3 {
width: 77px;
display: inline-block;
float: left;
text-align: center;
margin-right: 33px;
}

.reports-list-header .span-header3b {
width: 216px;
display: inline-block;
float: left;text-indent: 5px;
}

.reports-list-header .span-header4 {
width: 130px;
display: inline-block;
float: left;
text-align: center;
margin-right: 46px;
}

.reports-list-header .span-header4b {
width: 128px;
display: inline-block;
float: left;
text-align: center;
margin-right: 86px;
} 
.reports-list-header .span-header5 {
width: 78px;
display: inline-block;
float: left;
text-align: center;
margin-right: 52px;
}
.reports-list-header .span-header6 {
width: 68px;
display: inline-block;
float: left;
text-align: center;
}

.purchased-date {
display: inline-block;
list-style: none;
}
.purchased-date .purchased-1st-leve {
text-align: left;
text-indent: 5px;
line-height:24px;
list-style-type: none;
position: relative;
width: 103px;
height: 22px;
display: inline-block;
color:#51A296;
background-color: #F5F5EC;
border: 1px solid #EBEBDA;
  background-image: url("/cdn/images/sales-customers-icon.png");
background-repeat: no-repeat;
background-position: 83px -149px;
}
.purchased-date ul {
display: none;
position: absolute;
left: -1px;
top: 22px;
background-color: #FFFFFF;
}
.purchase-claimed li {
list-style-type: none;
float: left;
}
.purchased-date ul li a {
display: inline-block;
float: left;
text-indent: 5px;
height: 24px;
text-align: left;
width: 111px;
text-decoration: none;
background-color: #FFFFFF;
color: #51A296;
}

/* list */
.reports-sale-list{list-style: none;padding: 0;margin: 0;width: 360px;}
.reports-sale-list li{display: table;float: left;border-bottom: 1px solid #D8D8D8;width: 830px;vertical-align: middle;}
.reports-sale-list li:first-child{border-top: 1px solid #D8D8D8;}
.reports-sale-list .reports-list-wrapper{height: 62px;width: 830px; display:table-cell; vertical-align: middle;
}

.reported-sale-item{width: 283px;
display: inline-block;
vertical-align: middle;
padding-right: 41px;}

.reported-sale-itemb{width: 180px;
display: inline-block;
vertical-align: middle;
}

.reported-sale-item .sale-item-pic {
width: 50px;
height: 40px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
-webkit-box-shadow: 1px 1px 3px 1px #cccccc;
box-shadow: 1px 1px 3px 1px #cccccc;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-right: 12px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position:relative;
overflow:hidden;
float:left;
}
.reported-sale-item .sale-item-pic img {max-width:50px; border:0 none; }
.reported-sale-item .sale-item-title {
width: 219px;
font-size: 12px;
color: #51A296;
display: inline-block;
vertical-align: middle;
}

.reported-sale-itemb .sale-promoter-store {
width: 177px;
font-size: 12px;
color: #51A296;
line-height:15px;
display:block;
vertical-align: middle;
margin-right:5px;
}
.reported-sale-itemb .sale-promoter-address{
  width: 183px;
font-size: 11px;
color: #999999;
line-height:15px;
display:block;
vertical-align: middle;  
}

.reported-sale-item, .reported-sale-item-vendor, .reported-sale-quantity, .reported-sale-quantityb,
.reported-sale-date, .reported-sale-dateb, .reported-sale-total, .reported-sale-total-wrapper, .reported-sale-totalb,
.reported-sale-status{display: inline-block;vertical-align: middle;}


.reported-sale-quantity{width: 77px;text-align: center;font-size: 12px;line-height: 16px;color: #999999;padding-right:23px;}

.reported-sale-quantityb{width: 211px; margin-right:5px; font-size: 12px;line-height: 16px;color: #999999;text-align: left;}

.reported-sale-date{font-size: 12px;line-height: 16px;color:#999999;width:128px;padding-right:46px;width: 130px;text-align: center;}
.reported-sale-dateb{font-size: 12px;line-height: 16px;color:#999999;margin-right:78px;width: 128px;text-align: left;}

.reported-sale-total{width: 78px;text-align: center;font-size: 14px;color: #000000;margin-right: 45px;}
.reported-sale-totalb{width: 78px;text-align: center;font-size: 14px;color: #000000;margin-right: 43px;}
.reported-sale-status{width: 90px;text-align: center;font-size: 12px;color:#FFFFFF;background-color: #51A296;border:1px solid #51A296;
height: 20px;display: inline-block;line-height: 22px; cursor:pointer;
-webkit-box-shadow:  1px 1px 0px 1px #000000;        
        box-shadow:  1px 1px 0px 1px #000000;text-decoration: none;}
.reported-sale-status:hover{background-color: #FFFFFF;color:#51A296;border-color: #51A296;}

/*pop up elements*/
.salesreport-history-wrapper { 
background: none repeat scroll 0 0 #FFF !important; padding: 0; width: 880px; height:578px;
height: 538px;width: 840px;background-color: #FFFFFF;border: 1px solid #51A296; padding:10px 20px; }

#test2{height: 538px;width: 840px;background-color: #FFFFFF;border: 1px solid #51A296;
-webkit-box-shadow:0px 0px 3px #cccccc;display:none;top:55px !important;padding:10px 22px;}

/* lean modal*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #CCCCCC;
    display: none;
}

/*modal product history*/
.modal-history-title{font-size: 18px;line-height: 22px;display:block;padding-bottom: 6px;height: 22px;}
.content-modal-history{float: left;display: block;}
.product-hist-item{display: table;width: 840px;}
.hist-itempic-wrap{display: table-cell;height: 51px;vertical-align: middle;width: 50px;}

.hist-itempic-wrap .hist-item-pic{width: 50px;
height: 40px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
-webkit-box-shadow: 1px 1px 3px 1px #cccccc;
box-shadow: 1px 1px 3px 1px #cccccc;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-right: 12px;
background-image: url("/cdn/images/store_images/product.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.hist-item-name{display:table-cell;height: 51px;vertical-align: middle;font-size: 18px;color:000000;margin-left: 22px;}

#history-list{list-style: none;display: block;}
#history-list .history-list-item{width: 840px;display: table;border-bottom: 1px solid #D8D8D8;}

.history-list-wrapper{display:table-cell;height: 62px;vertical-align: middle;}
.purchased-date, .history-buyer, .history-qty, .history-sold, .history-totals, 
.promoter-report-product,.promoter-qty, .promoter-sold {display: inline-block;vertical-align: middle;}

.history-list-wrapper .purchased-date{width: 145px;}
.history-list-wrapper .history-buyer{width: 140px;}
.history-list-wrapper .history-qty{width: 76px;text-align: center;margin-right: }
.history-list-wrapper .history-sold{width: 310px;margin-left: 75px; margin-right:5px;}
.history-list-wrapper .history-totals{width: 68px;text-align: center;}

/* promoter - report*/

.promoter-report-product{width: 283px;}
.promoter-qty{width: 77px; margin-right: 16px;text-align: center;}
.promoter-sold{width: 239px;}

.promoter-report-product .sale-item-pic {
width: 50px;
height: 40px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
-webkit-box-shadow: 1px 1px 3px 1px #cccccc;
box-shadow: 1px 1px 3px 1px #cccccc;
-webkit-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
background-image: url("/cdn/images/store_images/product.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.promoter-report-product .sale-item-title {
width: 219px;
font-size: 12px;
color: #51A296;
display: inline-block;
vertical-align: middle;
}

/* spans colors header*/
.blue-span{color:#51A296;}
.gray-span{color: #999999;font-size:12px;}
.black-span{font-size: 14px;color:#000000;}

/* Promoter's sales and earning */
#sales-earnings-wrapper { margin:0 0 0 34px; width:960px;float: left; }
#sales-earnings-wrapper .reports-list-header { width:960px; }
#sales-earnings-wrapper .reports-sale-list li { width:960px; }
#sales-earnings-wrapper .totalearnedamount { font-size:22px; }
#sales-earnings-wrapper .totalearnedlbl { color:#999999; }
#sales-earnings-wrapper .tbl-list .lbl td { padding:15px 0 25px; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#sales-earnings-wrapper .tbl-list .lbl td.padd { }
#sales-earnings-wrapper .tbl-list .lbl td.center { text-align:center; }

.pr-name{width: 282px;display: inline-block;}
.v-name{padding-left: 17px;font-size: 12px;width: 114px;display: inline-block;}
.q-sold{width: 77px;display: inline-block;height: 16px;line-height: 16px;text-align: center;}

.t-sales{display: inline-block;margin-left:38px;text-align:center;
width: 67px;}
.t-earning{width: 119px;text-align:center;
display: inline-block;}
.dd-date{margin-left: 25px;}
.sort-wrapper{width: 111px;display: inline-block;margin-left: 25px;}

.img-prodhistory{width: 51px;height: 41px;display: inline-block;vertical-align: middle;
    -webkit-border-radius: 4px;    
    border-radius: 4px;
    background-image: url("/cdn/images/store_images/product.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
-webkit-box-shadow:  1px 1px 0px 1px #cccccc;        
        box-shadow:  1px 1px 0px 1px #cccccc;
    }
.prod-name{width: 219px;display: inline-block;vertical-align: middle;margin-left: 9px;}
.sort-menu-list {
	text-align: left;
	text-indent: 5px;
	line-height:24px;
	list-style-type: none;
	position: relative;
	height: 22px;
	display: inline-block;
	color:#51A296;
	background-color: #F5F5EC;
	border: 1px solid #EBEBDA;
	background-repeat: no-repeat;
	padding-right:24px;
	position:relative;
}

.sort-menu-list.asc { background-position: 83px -149px; }
.sort-menu-list.desc { background-position: 83px -201px; }
.sort-menu-list .sorticon { 
	background-image: url("/cdn/images/sales-customers-icon.png"); background-position: -200px -200px;
	position:absolute; width:14px; height:5px; right:0px; top:10px;
}
.sort-menu-list.asc .sorticon  { background-position: -5px -157px; }
.sort-menu-list.desc .sorticon  { background-position: -5px -210px; }

/*product-sales-history*/
.product-sales-history{position: absolute;top: 85px;left:189px;display: inline-block;z-index: 1;width: 880px;min-height: 180px;padding-bottom:24px;
-webkit-border-radius: 4px;background-color:#FFFFFF;    
    border-radius: 4px;
    border: 1px solid #51A296;
    -webkit-box-shadow:  0px 0px 2px 2px #cccccc;        
        box-shadow:  0px 0px 2px 2px #cccccc;
    }
.salesreport-history-wrapper #h2-label{width: 859px;display: block;margin-left: 12px;margin-top: 10px;height: 22px;line-height: 22px;margin-bottom: 8px;font-size: 18px;color:#000000;position: relative;}    
.salesreport-history-wrapper #h2-label #x{position: absolute;top:0px;right: 0px;display:inline-block;height: 18px;width: 23px;background-image:url("/cdn/images/store_images/modal-close-btn.png");background-repeat: no-repeat; }
.effect-margin-auto{margin: 0 auto;display:block;background: url('../images/store_images/styx-home-spacer.png') no-repeat scroll 0 0;
width: 808px;
height: 27px;}
.history-list{width: 840px;margin:0 auto;}
.history-item{width: 840px;height: 51px;display: block;margin: -16px auto 0px;}
.history-list tr { border-bottom:1px solid #D8D8D8; }
.history-hdr{}
.history-hdr td{19px;height: 62px;vertical-align: middle;}
.recent-wrapper{width: 148px;display: inline-block;}
.cus-name{width: 136px;display: inline-block;}
.sold-at{width: 212px;display: inline-block;padding-left: 45px;}

.history-prod-name{width: 200px;font-size: 18px;line-height: 22px;vertical-align: middle;margin-left: 20px;}
/*colors overide*/
.color-green{color:#51A296;}
.color-gray{color: #999999;}

/*order details*/
.order-details-wrapper {width:882px; min-height:580px; position: relative;}
.top-labl{width: 100%;height: 40px;display: inline-block;vertical-align: middle;background-color: #F5F5EC;}
.left-lbl{font-size: 18px;line-height: 40px;text-shadow: 1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);color:#000000;float: left;margin-left:12px;}
.right-lbl{font-size: 14px;color:#333333;line-height: 40px;float: right;margin-right: 30px;}        
.content-order-details{float: right;}
.order-side-left{width:200px;min-height: 100px;display: inline-block;;padding: 0px 28px 0px 19px;float:left;position: relative;}
.oder-effect-v{position: absolute;right: 0px;top:29px;height:448px;width:29px;display:block;
background-image:url("/cdn/images/order_effect_v.png");background-repeat: no-repeat;background-size: contain;
}
#side-leftlbl{font-size: 15px;color: #999999 !important;margin-top: 39px;margin-bottom: 11px;display: block;}
.left-name-wrap{height: 50px;width: 100%;}
.pic-customer{height: 49px;width: 49px;display: inline-block;margin-right: 6px;background-color: #E8E8E8;border: 1px solid #CCCCCC;float: left;}
.name-costumer{font-size: 14px;color: #333333;font-weight: bold;padding-bottom: 4px;display: inline-block;line-height: 18px;}
.cont-costumer{font-size: 11px;color: #999999;line-height: 15px;}
.left-cardtype{height: 58px;width:100% ;clear:both; background-color:#FAFAFA; border: 1px solid #E8E8E8;display: table;vertical-align: middle;margin-top: 16px;margin-bottom: 35px;}
.left-cardtype .card-method{width: 175px;display: table-cell;vertical-align: middle;padding: 0px 12px;}
.left-cardtype p .spans{display: block;height: 28px;line-height: 28px;font-size: 12px;}
.address-lbl{font-size: 11px;color:#333333;line-height: 15px;margin-bottom: 33px;}
.adress-lvl{height: 19px;width: 100%;font-size: 15px;color: #999999;margin-bottom: 6px;line-height: 19px;display: block;}
/**/
/*oders view costumer*/    
.left-cardtype .vendor-container{width: 175px;display: table-cell;vertical-align: middle;padding: 0px 12px;}
.left-cardtype .vendor-container .pay-method{width: 100%;display: block; padding: 5px 0px;line-height: 16px;font-size: 12px;}
.left-cardtype .vendor-container .pay-adddress{width: 100%;display: block;padding: 5px 0px; font-size: 11px;color: #333333;line-height: 15px;}
.visit-shop-click{height: 40px !important;width: 200px !important;color: #FFFFFF;background-color: #51A296;text-align: center;-webkit-box-shadow: 3px 3px 0 0 #000000;
box-shadow: 3px 3px 0 0 #000000;font-size:20px !important; font-weight:normal !important;
cursor: pointer;}
.cost2vend-note{width: 283px;min-height: 100px;float: left;display: inline-block;}
.cost2vend-note p{font-size: 12px;color:#51A296;line-height: 16px;display: inline-block;margin-bottom: 5px;}
.cost2vend-note .note-wrapper{height: 53px;width: 271px;border: 1px solid #CCCCCC;background-color: #F5F5EC;padding: 5px;}
.cost2vend-note .note-wrapper span{font-size: 11px; color: #999999;line-height: 14px;}

/**/
.vendor .order-side-right{width:576px;display: inline-block;min-height: 100px;float: left;padding:0px 26px;}
.vendor .order-num-wrap{height: 111px;width: 100%;display: block;float: left;position: relative;margin-bottom: 18px;}
.vendor .oder-effect{width: 100%;height: 27px;display: block;position: absolute;bottom: -27px;left: 0px;
background-image:url("/cdn/images/order_effect_h.png");background-repeat: no-repeat;background-size: contain; }
.vendor .number-wrapper{height: 26px;display:block;margin-top: 39px;width: 100%;}
.vendor .number-wrapper button{font-size: 12px;height: 26px;line-height: 26px;text-align: center;color: #FFFFFF;background-color: #51A296;-webkit-box-shadow:  2px 2px 0px 0px #000000;
         box-shadow:  2px 2px 0px 0px #000000;cursor: pointer;} 
.vendor .number-wrapper button:hover{background-color: #999999;}         
.vendor .number-wrapper #btn-order-ship{margin-right: 13px;width: 142px;}
.vendor .number-wrapper #btn-order-cancel {margin-right:6px;width: 102px;}

.vendor .status-wrapper{height: 20px;width: 100%;padding: 16px 0px;display: block;}
.vendor .status-wrapper #ship-stats{font-size: 14px;color: #999999;}
.vendor .status-wrapper #ship-stats span { font-weight:bold; }
.vendor .status-wrapper #ship-stats.pending span { color:#FF6600; }
.vendor .status-wrapper #ship-stats.cancelled span { color:#CC0000; }
.vendor .status-wrapper #ship-stats.completed span,
.vendor .status-wrapper #ship-stats.shipped span { color:#009900; }
.vendor .status-wrapper #ship-method{font-size: 14px; color:#999999;}
.vendor .list-header{width: 576px;height: 38px;display:table; margin-bottom:8px;}
.vendor .list-header-cells{display: table-cell;}
.vendor .cell-header{width: 140px;line-height: 18px;vertical-align: bottom;font-size: 14px;color: #999999;}
.vendor .cell-notices{width: 91px;vertical-align: middle;padding-left: 58px;padding-right: 6px;font-size: 12px;color: #51A296;text-align: right;}
.vendor .cell-notes-detail{width: 269px;border: 1px solid #CCCCCC;background-color: #F5F5EC;vertical-align:middle;font-size: 11px;color:#999999;
padding: 0px 6px;}
.vendor .order-table-wrapper{/*min-height:150px;max-height: 237px;*/width: 576px;display: inline-block;float: left;overflow:hidden;}
.vendor .list-table-order .order-tb-header td{height:28px;vertical-align: middle; color: #000000;}
.vendor .list-table-order .content-order-list td{min-height: 25px;vertical-align: top;padding-top: 8px;padding-bottom :8px;
border-bottom: 1px solid #CCCCCC;color: #666666;font-size: 11px;}
.vendor  .withbg{background-color: #DDE4E5;}
.vendor .list-table-order .content-order-list .nonebg{background-color: #ffffff;}
.vendor .list-table-order .t-price td{height: 22px;vertical-align: middle;padding-left: 48px;color:#51A296; }
.sku-code{font-weight: bold;color: #333333;}
.td-1{width: 38px;text-align: center;}
.td-2{width: 63px;padding-left: 8px;}
.td-3{width: 174px;text-align: left;}
.td-4{width: 72px;text-align: left;}
.td-5{text-align: left;width: 82px;}
.td-6{text-align: left;width: 69px;}
.td-7 span{width: 50px;height: 30px;display: inline-block;vertical-align: middle;font-size: 11px;color:#FFFFFF;background-color: #999999;
text-align:center;padding:0px 5px;
-webkit-box-shadow:  2px 2px 0px 0px #000000;        
        box-shadow:  2px 2px 0px 0px #000000;
        cursor: pointer;}
.vendor .order-summary-wrap{margin-top: 68px;display: block;float: left;width: 100%}       
.vendor .mark-up-wrapper{width: 145px;display: inline-block;float: left;}  
.vendor .mark-up-wrapper p{width:100%;display: block;font-size: 12px;line-height: 16px;margin-bottom: 4px;color: #666666;}
.vendor .totals-wrapper{width: 193px;display: inline-block;float: right;margin-right: 82px;text-align: right;}      
.vendor .totals-wrapper p{display: block;height: 16px;font-size: 12px;line-height: 16px;margin-bottom: 4px;color: #666666;}
.vendor .totals-wrapper p .total-right{width: 98px;display: inline-block;float: left;}
.vendor .totals-wrapper p .totals-left{width: 82px;display: inline-block;padding-right: 13px;float: left;}
.vendor .line-total{width: 100%;height: 1px;border-bottom: 1px solid #999999;display: block;margin-top: 5px;margin-bottom: 12px;}

/*popbox */

.ship-popup-message{height: 212px;width: 398px;border: 1px solid #51A296;display: block;background-color: #FFFFFF;
-webkit-box-shadow:  0px 0px 2px 2px #cccccc;z-index:1;float: right;position: absolute;left:20%;  top:20%;      
        box-shadow:  0px 0px 2px 2px #cccccc;
        padding: 27px 36px;
        }
.any-messages{font-size: 18px;color: #000000;width: 100%;display: block;margin-bottom: 27px;line-height: 22px;}
.add-note{font-size: 12px;line-height: 16px;height: 16px;color:#51A296 !important;margin-bottom: 2px;display: block;}
.notes-added{height: 70px;width: 390px;border: 1px solid #CCCCCC;background-color: #F5F5EC;padding: 4px;color:#999999;display: block;}
.note-popbox{display: block;width: 100%;height: 28px;float: left;margin-top: 10px;}
.note-popbox span{width: 247px;height: 28px;display: inline-block;font-size: 11px;color:#999999;line-height:14px;float: left; }
.note-popbox button{float: right;height: 26px; width: 122px;text-align: center;line-height: 26px;margin-top: 2px;font-size: 12px;
color:#FFFFFF;background-color: #51A296;
-webkit-box-shadow:  2px 2px 0px 0px #000000;
        box-shadow:  2px 2px 0px 0px #000000;}
 .note-popbox button:hover{background-color: #999999;}

/** order customers-view **/

.customers-view{position: absolute;z-index: 1;top:86px;left:188px;border: 1px solid #51A296;background-color: #FFFFFF;width:880px;display: block;
-webkit-box-shadow:  0px 0px 2px 2px #cccccc;        
        box-shadow:  0px 0px 2px 2px #cccccc; }
