.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	float: left;
	width: 774px;
    padding: 20px 24px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  772px;
    height: 120px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 15px;
    margin-right: 15px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 15px;
    margin-right: 15px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 56px;
    right: 0;
    width: 18px;
    height: 27px;
    cursor: pointer;
    background: transparent url('../images/store_images/common.png') no-repeat 0 -45px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: transparent url('../images/store_images/common.png') no-repeat 0 -101px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    #background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    #background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 -73px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 56px;
    left: 0;
    width: 18px;
    height: 27px;
    cursor: pointer;
    background: transparent url('../images/store_images/common.png') no-repeat 0 -101px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background: transparent url('../images/store_images/common.png') no-repeat 0 -45px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    #background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    #background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 -129px;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}



.jcarousel-skin-tango-small .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango-small .jcarousel-container-horizontal {
	float: left;
	width: 180px;
	padding: 20px 32px 20px 28px;
}


.jcarousel-skin-tango-small .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango-small .jcarousel-clip-horizontal {
    width:  178px;
    height: 41px;
}


.jcarousel-skin-tango-small .jcarousel-item {
    width: 50px;
	height: 37px;
	overflow: hidden;
}

.jcarousel-skin-tango-small .jcarousel-item-horizontal {
	margin-left: 5px;
    margin-right: 5px;
}

.jcarousel-skin-tango-small .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 5px;
    margin-right: 5px;
}



.jcarousel-skin-tango-small .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-small .jcarousel-next-horizontal {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 11px;
    height: 15px;
    cursor: pointer;
    background: transparent url('../images/store_images/common.png') no-repeat -22px -51px;
}

.jcarousel-skin-tango-small .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 10px;
    right: auto;
    background-image: transparent url('../images/store_images/common.png') no-repeat -22px -107px;
}


.jcarousel-skin-tango-small .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango-small .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango-small .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango-small .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -22px -79px;
}

.jcarousel-skin-tango-small .jcarousel-prev-horizontal {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 11px;
    height: 15px;
    cursor: pointer;
    background: transparent url('../images/store_images/common.png') no-repeat -22px -107px;
}

.jcarousel-skin-tango-small .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 10px;
    background: transparent url('../images/store_images/common.png') no-repeat -22px -51px;
}


.jcarousel-skin-tango-small .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -22px -135px;
}

.jcarousel-skin-tango-small .jcarousel-container-vertical {
    width: 38px;
    height: 252px;
}
.jcarousel-skin-tango-small .jcarousel-clip-vertical {
    width:  38px;
    height: 246px;
}
.jcarousel-skin-tango-small .jcarousel-item-vertical {

}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango-small .jcarousel-next-vertical {
	left: 10px;
    position: absolute;
    bottom: -23px;
    width: 18px;
    height: 13px;
    cursor: pointer;
    background: transparent url('/cdn/images/ministore_images/ms-down-icon.png') no-repeat scroll 0 0;
}

.jcarousel-skin-tango-small .jcarousel-next-vertical:hover,
.jcarousel-skin-tango-small .jcarousel-next-vertical:focus {
    #background-position: 0 -32px;
}

.jcarousel-skin-tango-small .jcarousel-next-vertical:active {
    #background-position: 0 -64px;
}

.jcarousel-skin-tango-small .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango-small .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango-small .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango-small .jcarousel-next-disabled-vertical:active {
    cursor: default;
    #background-position: 0 -96px;
}

.jcarousel-skin-tango-small .jcarousel-prev-vertical {
	left: 10px;
    position: absolute;
    top: -23px;
    width: 18px;
    height: 13px;
    cursor: pointer;
    background: transparent url('/cdn/images/ministore_images/ms-up-icon.png') no-repeat scroll 0 0;
}

.jcarousel-skin-tango-small .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango-small .jcarousel-prev-vertical:focus {
    #background-position: 0 -32px;
}

.jcarousel-skin-tango-small .jcarousel-prev-vertical:active {
    #background-position: 0 -64px;
}

.jcarousel-skin-tango-small .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango-small .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    #background-position: 0 -96px;
}


.jcarousel-skin-tango-colors .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango-colors .jcarousel-container-horizontal {
	float: left;
	width: 529px;
	height: 90px;
	padding: 0 22px;
}

.jcarousel-skin-tango-colors .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango-colors .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango-colors .jcarousel-clip-horizontal {
    width:  527px;
    height: 70px;
	padding-top: 10px;
}

.jcarousel-skin-tango-colors .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango-colors .jcarousel-item {
    width: 50px;
	height: 37px;
	overflow: hidden;
}

.jcarousel-skin-tango-colors .jcarousel-item-horizontal {
	margin-left: 12.5px;
    margin-right: 12.5px;
}

.jcarousel-skin-tango-colors .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 5px;
    margin-right: 5px;
}

.jcarousel-skin-tango-colors .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango-colors .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-colors .jcarousel-next-horizontal {
    position: absolute;
    top: 34px;
    right: 10px;
    width: 13px;
    height: 20px;
    cursor: pointer;
    background: url("../images/common-manage.png") no-repeat scroll -536px -106px transparent;
}

.jcarousel-skin-tango-colors .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 10px;
    right: auto;
    background-image: url("../images/common-manage.png") no-repeat scroll -536px -106px transparent;
}


.jcarousel-skin-tango-colors .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-tango-colors .jcarousel-prev-horizontal {
    position: absolute;
    top: 34px;
    left: 10px;
    width: 13px;
    height: 20px;
    cursor: pointer;
    background: url("../images/common-manage.png") no-repeat scroll -536px -140px transparent;
}

.jcarousel-skin-tango-colors .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 10px;
    background: url("../images/common-manage.png") no-repeat scroll -536px -140px transparent;
}


.jcarousel-skin-tango-colors .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango-colors .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango-colors .jcarousel-next-vertical:hover,
.jcarousel-skin-tango-colors .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango-colors .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-colors .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango-colors .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango-colors .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango-colors .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango-colors .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango-colors .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-colors .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango-colors .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}