/* Default Facebook CSS */
.fbbody
{
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	color: #333333;
}
/* Default Anchor Style */
.fbbody a
{
	color: #3b5998;
	outline-style: none;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}
.fbbody a:hover
{
	text-decoration: underline;
}
/* Facebook Box Styles */
.fbgreybox
{
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fbbluebox
{
	background-color: #eceff6;
	border: 1px solid #d4dae8;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fbinfobox
{
	background-color: #fff9d7;
	border: 1px solid #e2c822;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fberrorbox
{
	background-color: #ffebe8;
	border: 1px solid #dd3c10;
	color: #333333;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: normal;
}
/* Content Divider on White Background */
.fbcontentdivider
{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 520px;
	height: 1px;
	background-color: #d8dfea;
}
/* Facebook Tab Style */
.fbtab
{
	padding: 8px;
	background-color: #d8dfea;
	color: #3b5998;
	font-weight: bold;
	float: left;
	margin-right: 4px;
	text-decoration: none;
}
.fbtab:hover
{
	background-color: #3b5998;
	color: #ffffff;
	cursor: hand;
}

/* hide feedback icon */
#ut_Button{
	display: none !important;
}
#ut_FormDiv{
	top: 100px !important;
}