.spacer-effect{float: left;}
.styx-landing-title{
    font-size: 26px;color: #333333;display: inline-block;width: 880px;line-height: 32px;margin-bottom: 23px;
}
.styx-taglines{font-size: 16px;color: #666666;display: inline-block;line-height: 20px;margin-bottom: 26px;}
.create-instructions{width: 880px;display: block;float: left;margin-bottom: 42px;}

.ad-title{font-size: 25px;color: #51A296;display: block;line-height: 29px;padding: 10px 0px;}
.instruction-left{display: inline-block;width: 499px;height: 70px;float: left;line-height: 18px;font: 12px;color:#666666;}
.instruction-right{float:left;display: inline-block;}
.instruction-right button{width: 225px;height: 60px;margin-left: 45px;background-color:#51A296;color: #FFFFFF;font-size: 25px;
-webkit-box-shadow:  2px 2px 0px 0px #333333; box-shadow:  2px 2px 0px 0px #333333; cursor: pointer;}
.instruction-right button:hover{background-color: #FFFFFF;color:#51A296;border:solid 1px #51A296;}
.customizable-menu{height: 37px;border-bottom: 1px solid #CCCCCC;display: block;float: left; text-align: left; width: 880px;margin-bottom: 57px;}
.spanned-title{display: inline-block;height: 38px;line-height: 38px;color: #333333;float: left;width:141px;text-align: center; font-size: 15px; }
.v-styx-wrapper .spanned-title{ font-size: 12px; }
.styx-custom-menu{display: inline-block;height: 37px;}
.styx-custom-menu li{list-style: none;display: inline-block;position: relative;height: 37px;width: 156px;margin:0px 2px;}

.styx-custom-menu li a{height: 36px;width: 156px; font-size: 14px; line-height: 37px;color:#51A296;text-align: center;margin: 0px 2px;display:inline-block;float: left;
background: #F0F0F0; text-decoration: none; padding-top: 1px; text-shadow: 1px 1px 2px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); } 

.styx-custom-menu li a:hover, .styx-custom-menu li a.selected {height: 37px;background-color: #FFFFFF;color: #666666;text-shadow: 1px 1px 2px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);
        border-top:1px solid;border-left: 1px solid;border-right:1px solid;width: 154px;
        position: absolute;bottom:-1px;left:0px;
        text-decoration: none;border-color: #CCCCCC;
        }

.menu-conainer-view{height: 670px;width: 880px;float: left;background:transparent;display:inline-block;}
.livepreview-wrapper{display: inline-block;float: left;margin-right: 78px;}
.preview-details-wrapper{display: block;height: 18px;padding: 20px 0px;}
.title-span-left{float: left;font-size: 14px;line-height: 18px;color:#9CA09F;text-shadow: 1px 1px 2px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);}
.title-span-right{float: right;font-size: 14px;line-height: 18px;color:#9CA09F;text-shadow: 1px 1px 2px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);}
  
  
        
/** images sample **/        
.image-sample1-wrapper{display: inline-block;height: 280px;width: 336px;float: left;
          -webkit-box-shadow:  0px 0px 5px 0px #333333;
        box-shadow:  0px 0px 5px 0px #333333;
            background-image: url("/cdn/images/landing_images/styx_sample.jpg");
}

.image-sample2-wrapper{display: inline-block;height: 500px;width: 300px;float: left;
          -webkit-box-shadow:  0px 0px 5px 0px #333333;
           box-shadow:  0px 0px 5px 0px #333333;
            background-image: url("/cdn/images/main_images/create_bg.jpg");
            background-position: -169px 0px;
            background-repeat: no-repeat;
}

.image-sample3-wrapper{display: inline-block;height: 500px;width: 160px;float: left;
          -webkit-box-shadow:  0px 0px 5px 0px #333333;
        box-shadow:  0px 0px 5px 0px #333333;
            background-image: url("/cdn/images/main_images/create_bg.jpg");
            background-position: 0px 0px;
            background-repeat: no-repeat;
}

.image-sample4-wrapper{display: inline-block;height: 250px;width: 300px;float: left;
          -webkit-box-shadow:  0px 0px 5px 0px #333333;
        box-shadow:  0px 0px 5px 0px #333333;
            background-image: url("/cdn/images/main_images/create_bg.jpg");
            background-position: -479px -287px;
            background-repeat: no-repeat;
}

/* ====================================== */
.customize-menu{display: inline-block;float: left;}
.color-choices{margin-top: 56px;display: block;margin-bottom: 41px;}

.color-choices p{display: inline-block;font-size: 14px;color: #9CA09F;text-shadow: 1px 1px 2px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1);
margin-right: 8px;}
.color-choices .mini-color-wrapper{display: inline-block;}
.customize-menu h2{ height: 18px;font-size: 14px;line-height: 18px;color:#9CA09F;margin-bottom: 10px;}
.styx-edit-selection{display: block;margin-bottom: 44px;height: 60px;}
.styx-edit-selection ul{list-style: none;float:left;
display: block;
height: 60px;
text-align: center;}

.styx-edit-selection ul li {display: inline-table; vertical-align: middle;margin-right: 23px;}

 .styx-edit-selection ul li button {width: 88px;
height: 58px;
cursor: pointer;
display: table-cell;
vertical-align: middle;
background-color: #F5F5EC;
border: 1px solid #ffffff;
box-shadow: 1px 1px 5px #999999;
text-align: center;
font-size: 12px;
color: #9CA09F;
text-decoration: none;}

.styx-edit-selection ul li button:hover, .styx-edit-selection ul li button .selected {
height: 58px;
-moz-box-shadow: 0px 0px 6px 4px #81C0B7 inset;
-webkit-box-shadow: 0px 0px 6px 4px #81C0B7 inset;
box-shadow: 0px 0px 6px 4px #81C0B7 inset;
color: #51A296;
text-shadow: 1px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1);}
.styx-embed-wrapper{display: inline-block;}
.styx-embed-wrapper span{font-size: 14px;height: 18px;line-height: 18px;color:#9CA09F;display: block;}
.styx-embed-wrapper .procedure-tag{color:#333333;}
.styx-embed-wrapper .styx-embed-code{height: 80px;width: 318px;border: 1px solid #999999;display: block;margin: 7px 0px;}
.spacer-break {clear: both;height: 66px; display:block;width: 100%;}

.main-sample-styx-wrapper{ float: left; min-height: 387px; width: 880px; position: relative; margin-bottom: 10px; }
.sample-styx-wrapper{ float: left; padding-left: 11px; }
.main-sample-styx-wrapper #styx-content-wrapper{ float: left; }
.main-sample-styx-wrapper #colors-wrapper{ position: absolute; right: 340px; top: 40px; }
.main-sample-styx-wrapper #colors p{ font-size: 14px; }
.main-sample-styx-wrapper #liv-prev{ float: left; width: 100px; margin-bottom: 23px; font-size: 14px; color: #9CA09F; }
.main-sample-styx-wrapper .widget-sizes{ float: left; width: 238px; margin-bottom: 23px; font-size: 12px; color: #9CA09F; text-align: right;}
.main-sample-styx-wrapper .prev-size{ color: #666666;}
.main-sample-styx-wrapper #styx-content-left{ min-width: 160px; }
.main-sample-styx-wrapper #widget-wrapper{ min-width: 160px; width: auto;}
.main-sample-styx-wrapper #styx-content-right{ margin-top: 110px;}
.main-sample-styx-wrapper #page-edit-selection ul{ width: 316px; }
.main-sample-styx-wrapper #embedd-wrapper{ float: left; }
.main-sample-styx-wrapper #embedd-wrapper span{ float: left; }
.main-sample-styx-wrapper #embedd-wrapper #code-wrapper{ float: left; width: 308px; height: 78px; }
.main-sample-styx-wrapper #embedd-wrapper #code-wrapper{ float: left; width: 308px; height: 78px; }
.main-sample-styx-wrapper #page-edit-selection .embed-styx-lbl{ float: left; margin-top: 4px; color: #333333; font-size: 14px; text-align: left;  }

.override-selectfront2{ margin: 88px 0 8px !important; }
.override-color-wrapper2{
    color: #999999;
    float: left;
    font-size: 12px !important;
    height: 16px !important;
    line-height: 16px !important;
    right: -410px !important;
    text-align: left !important;
    top: 39px !important;
}
.override-color-wrapper2 #colors p{ float: left; padding-right: 8px; }
.override-embeed2{ color: #9CA09F !important; font-size: 14px !important; min-width: 102px !important; text-align: left !important; }
/* Use Stykables and take your shop to the next level!*/

.styx-top1{width: 880px;display: table-cell;height: 83px;}
.styx-top1 .top1p{float: left; display: inline-block;width: 359px;vertical-align: middle;font-size: 12px;color:#666666;line-height: 16.6px;}
.styx-top1 .styx-child-top1{float: left; position: relative; display: inline-block;width: 468px; margin-left: 11px;border: 1px solid #FFFFFF;background-color: #F0F0F0;
-webkit-box-shadow:  0px 0px 5px 2px #DFDFDF;        
        box-shadow:  0px 0px 5px 2px #DFDFDF;
        vertical-align: middle;padding: 14px 18px;}
.styx-mtop1{margin-top: 55px;margin-bottom: 0px !important;}
.styx-top3{float: left; padding: 24px 0 37px 0; width: 100%;}
.styx-child3{float: left; padding-left: 11px; width: 557px; line-height: 16.6px; font-size: 12px;color: #666666; }
.styx-child3b{float: left; text-align: left;padding-left: 6px;}
.styx-child3b button{height: 46px;width: 160px;display: inline-block;font-size: 18px;color:#FFFFFF;background-color: #81C0B7; cursor: pointer;
   -moz-box-shadow:  2px 2px 0px 0px #333333;        
-webkit-box-shadow:  2px 2px 0px 0px #333333;        
        box-shadow:  2px 2px 0px 0px #333333;}
.sample-lbl{ float: left; padding: 0 0 16px 11px; width: 680px; font-size: 16px; font-weight: bold; color: #999999; }
.styx-mspan{font-size: 15px !important;color: #333333;}

.styx-top4{height: 98px;width: 100%;display: table;}
.styx-child4{display: table-cell;width: 282px;vertical-align: middle;}
.styx-child4b{display: table-cell;width: 557px;font-size: 12px;color: #666666;line-height: 16.6px;vertical-align: middle;}

.stykable-box{ float: left; position: relative; min-height: 400px; width: 100%; }


.ecommerce-lists{ float: left; width: 575px; height: 99px; padding-left: 28px; margin-left: 5px; border-bottom: 1px solid #F0F0F0; }
.ecommerce-lists-spacer-bottom{ float: left; width: 100%; height: 28px; }
.shopping-page-embed-wrapper{ float: left; width: 854px; height: 49px; padding: 24px 12px 0 14px; }
.shopping-page-embed{ float: left; width: 854px; height: 49px; }
.shopping-page-embed p{ float: left; color: #666666; width: 557px; padding-left: 14px; }
.shop-frame-wrapper{float: left; width: 960px; padding-right: 20px; }