@CHARSET "ISO-8859-1";

.wallet-wrapper{
margin-left: 48px !important;
margin-top: 97px !important;
display: block;
float: left;}

.wallet-wrapper.purchasedOnly { margin-top:66px !important;}

.wallet-title-wrapper{color:#51A296;font-size: 18px;line-height: 22px;display:block;margin-bottom: 22px;}
.wallet-title-wrapper span{font-size: 12px;color: #999999;line-height: 22px;margin-left: 20px;}
.spacer-effect {
background: url('../images/store_images/styx-home-spacer.png') no-repeat scroll 0 0;
width: 808px;
height: 27px;
}

.wallet-main-wrapper{width: 968px;height: 75px; display:block;}

.wallet-menu{list-style: none;
display: block;
margin: 0px;
padding: 0px;
float: left;
height: 75px;
width: 100%;}
.wallet-menu .li{display: inline-block;float: left;}
.wallet-menu .computation-sign{height: 75px;width: 26px;display: inline-block;line-height: 75px;text-align: center;float: left;color: #333333;}
.wallet-menu li .boxbutton{width: 162px;height: 73px;display: inline-block;float: left;border:1px solid #E0E0C7;background-color: #EFEFE2;color: #000000;position:relative;
    z-index: 2;vertical-align: middle;
}

.money-wallet-wrapper{height: 73px;width: 262px;border:1px solid #E0E0C7;background-color: #EFEFE2;color: #000000;display: inline-block;float: left; text-align:center; padding:15px 0 0 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.color-tooltip{height: 20px;width: 20px;position:absolute;display: none;left:68px;bottom: -10px;z-index:1;
-moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);}
        

.wallet-menu li .important-nottes{width: 386px;height: 70px;display: inline-block;vertical-align: middle;margin-left: 18px;}
.wallet-menu li .important-nottes p{font-size: 12px;color:#999999;line-height: 17px;}


/*
.wallet-menu li:hover .button-content-wraper{display: inline-block;}
.wallet-menu li:hover  button:hover {background-color: #51A296;}
.wallet-menu li:hover  button:hover .color-tooltip{display:inline-block;background-color: #51A296;}
*/

.wallet-buttom-label{font-size: 12px;line-height: 16px;color: #000000;margin-bottom: 6px;display: inline-block;width: 100%;vertical-align: middle;}
.wallet-amount{color: #999999;font-size: 16px;line-height: 20px;font-weight: bold;display: inline-block;width: 100%;vertical-align: middle;}
.button-content-wraper h2{font-size: 18px; line-height: 22px;color: #000000;margin-top: 43px;margin-bottom: 10px;display: block;padding: 0px 5px;}
.wallet-list-header{height: 24px;width: 830px;display:block;line-height: 24px;padding: 24px 0px;}


.wallet-claim-butt{
    width: 70px;background-color: #51A296;height: 22px;color:#ffffff;
    -webkit-box-shadow:    1px 2px #000000;
     box-shadow:    1px 2px #000000;
     display: inline-block;cursor: pointer;font-size: 14px; line-height: 22px;
}
.onwallet-amnt{color: #51A296;font-size: 16px;font-weight: bold;}
.wallet-claim-butt:hover{background-color:#ffffff; border:1px solid #51A296;color: #51A296;width: 68px;height: 20px;line-height: 20px;}
/*  purchase - claimed  */
.purchase-claimed-wrapper{width: 830px;float: left;min-height: 100px;margin-top: 40px;margin-bottom: 22px;}
.purchase-claimed{list-style: none;display: block;float: left;position: relative;border-bottom: 1px solid #cccccc;height: 31px;width: 830px;}
.purchase-claimed li{list-style-type: none;float: left;}
.purchase-claimed .purchase-claimed-li:first-child{margin-left: 33px;}
.purchase-claimed li .pc-menu{height: 31px;display: inline-block;margin-right: 10px;background-color: #F0F0F0;color: #999999;font-size: 14px;line-height: 18px;
text-align: center;text-shadow: 1px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1);padding: 0px 25px;
}
.purchase-claimed li .pc-menu.selected,
.purchase-claimed li .pc-menu:hover{padding:0px 24px;height: 32px;background-color: #ffffff;color: #51A296;border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:1px solid #cccccc;
display:inline-block; z-index: 2;}

.button-content-wraper{min-height: 142px;position: absolute;top:30px;left:0px;float: left;; width: 830px;}

/*.purchase-claimed  li:hover .button-content-wraper{display: block;}*/

.wallet-list-header span{font-size: 12px;color: #51A296;line-height: 24px;}
.wallet-list-header .span-header1{width: 283px;display: inline-block;float: left;margin-right: 54px;}
.wallet-list-header .span-header3{width: 51px;display: inline-block;float: left;text-align: center;margin-right: 69px;}
.wallet-list-header .span-header4{width: 113px;display: inline-block;float: left;text-align: center;margin-right: 46px;}
.wallet-list-header .span-header5{width: 78px;display: inline-block;float: left;text-align: center;margin-right: 52px;}
.wallet-list-header .span-header6{width: 68px;display: inline-block;float: left;text-align: center;}

.wallet-sale-list{list-style: none;padding: 0;margin: 0;width: 360px;}
.wallet-sale-list li{display: block;float: left;border-bottom: 1px solid #D8D8D8;}
.wallet-sale-list li:first-child{border-top: 1px solid #D8D8D8;}
.wallet-sale-list .sale-list-wrapper{height: 40px;width: 830px;display:inline-block;float: left;vertical-align: middle;padding: 10px 0px;
}
.purchased-date{display: inline-block;list-style: none;}
.purchased-date .purchased-1st-leve{text-align:left;text-indent:5px;
    list-style-type: none;position: relative;width: 111px;height: 22px;
    display: inline-block;background-color: #F5F5EC;border: 1px solid #EBEBDA;}
.purchased-date ul{display: none;position: absolute;left:-1px;top:22px; background-color: #FFFFFF;}
.purchased-date ul li a{display: inline-block;float: left;text-indent:5px;height: 24px;
    text-align:left;width: 111px;text-decoration: none;background-color: #FFFFFF; color: #51A296;}
    
.purchased-date li:hover > ul{display: block;}
.purchased-date li  ul li a:hover{background-color:  #F5F5EC; color:#51A296; text-decoration: none;
}

.sale-item, .sale-item-vendor, .sale-quantity, .sale-date, .sale-total, .sale-total-wrapper,.sale-status{display: inline-block;vertical-align: middle;}

.sale-item{width: 283px;padding-right:54px;}
.sale-item .sale-item-pic{width: 50px;
height: 40px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
-webkit-box-shadow:  1px 1px 3px 1px #cccccc;     
        box-shadow:  1px 1px 3px 1px #cccccc;
        -webkit-border-radius: 3px;
       border-radius: 3px;
       margin-right: 12px;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: url("../../images/store_images/mwg.png") ;     
       }
.sale-item .sale-item-title{width: 219px;font-size: 12px;color:#51A296;display: inline-block;vertical-align: middle;}

.sale-quantity{width: 51px;text-align: center;font-size: 12px;line-height: 16px;color: #999999;padding-right:63px;}
.sale-date{font-size: 12px;line-height: 16px;color:#999999;width:113px;padding-right:46px;width: 113px;text-align: center;}
.sale-total{width: 78px;text-align: center;font-size: 14px;color: #000000;padding-right: 52px;}
.sale-status{width: 68px;text-align: center;font-size: 12px;color:#FF9933;}

/*pagination */
.page-bottom-wrapper{display: block;height: 20px;padding: 17px 0px;width: 100%;text-align: right;}
.pagination-status{display: inline-block;font-size:12px;colo:#999999;line-height: 20px;vertical-align: middle;margin-right: 6px;color:#999999;}
.pagination-ul{list-style: none;height: 20px;text-align: center;display: inline-block;vertical-align:middle; }
.pagination-ul li{list-style-type: none;display: inline-block;float: left;height: 20px; width: 24px;color:#999999;margin-left: 9px;font-weight: bold;}
.pagination-ul li button{height: 20px;width: 24px;border:1px solid #FFFFFF;padding:0px;font-weight:normal;
background-color: #81C0B7;text-align: center;line-height: 18px;font-size: 12px;color: #ffffff;display: inline-block;
    text-shadow:none;filter: none;
}
.pagination-ul li button:hover{border-color: #51A296;background-color: #51A296;}

/* claimed-list-wrapper*/
.claim-page-wrapper{width: 360px;display: block;height: 20px;padding: 17px 0px;text-align: right;}
.claimed-list-wrapper{height: 40px;width: 360px;display:block;float: left;vertical-align: middle;padding: 10px 0px;}
.claimed-span-header4{width: 113px;display: inline-block;float: left;text-align: center;margin-right:123px;}
.claimed-span-header5{width:97px;display: inline-block;float: left;text-align: center;}

.claimed-date {font-size: 12px;color:#999999;line-height:40px;width:113px;padding-right:123px;width: 113px;text-align: center;vertical-align: middle;}
 
.claimed-total{width: 97px;text-align: center; font-size: 14px;color: #999999;vertical-align: middle;display: inline-block;line-height: 40px;}

.tbl-list td { border-bottom:1px solid #D8D8D8; }
.tbl-list .lbl td { color:#51A296; height:45px; vertical-align:middle; }
.tbl-list tr.noborder, .tbl-list .noborder td { border:0 none; }
.tbl-list .data td { height:63px; vertical-align:middle; color:#999999; }
.wallet-wrapper .tbl-list .data td button { width:39px; height:22px; display:inline-block; margin-right:0; float:none; }
.tbl-list .data td a.del { background:url(/cdn/images/btn-trashcan.gif); width:14px; height:16px; display:inline-block; margin-top:3px; float:left;  }
.tbl-list .data td.pending { color:#FF9933; }
.tbl-list .data td.completed { color:#009900; }
.tbl-list .data td.cancel { color:#CC0000; }
.view { 
	width:39px; height:22px; display:inline-block; float:left; font-size: 12px;line-height: 22px;text-align: center; cursor: pointer; font-weight: normal;
	background-color: #51A296; color: #ffffff; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; 
}	

.norecords { color:#999999 !important; font-size:16px; text-align:left; line-height:100px }

/* Claim Money Pop-up */
.claim_moneyonwallet-wrapper { width:740px; min-height:380px; min-height:280px; height:auto; background-color:#FFF; }
.claimmoneyonwallet-content.belowminimum { height:264px }
.claimmoneyonwallet-content { padding:16px 30px 0; height:364px; position:relative; }
.claim_moneyonwallet-wrapper.opacity { background-color:#FFF !important; 	filter: alpha(opacity=60) !important;
	-khtml-opacity: 0.6 !important;
	-moz-opacity: 0.6 !important;
	opacity: 0.6 !important;
}
.claim_moneyonwallet-wrapper .formError .formErrorContent { line-height:14px; width:268px !important; }

.claimwallet-spacer-effect { background: url('../images/store_images/claim-wallet-spacer.png') no-repeat scroll 0 0; width: 700px; height: 27px; }
.claimwallet-spacer-side-effect { background: url('../images/store_images/claim-wallet-side-spacer.png') no-repeat scroll 0 0; width: 27px; height: 126px; }
.claim_moneyonwallet-wrapper .title-bar { color:#333333; font-size:22px; font-weight:bold; }
.claim_moneyonwallet-wrapper .title-bar-desc { color:#51A296; margin:4px 0 16px; }
.claimwallet-maincontent { }
.claim_moneyonwallet-wrapper .leftcontent { width:329px; color:#333333; }
.claim_moneyonwallet-wrapper .rightcontent { margin-left:10px; }
.claim_moneyonwallet-wrapper .leftcontent .paypalemail { margin-top:26px; }
.claim_moneyonwallet-wrapper .leftcontent .paypalcountry { line-height:28px; margin-bottom:10px; }
.claim_moneyonwallet-wrapper .defaultbutton {
	width: 48px;background-color: #51A296;height: 20px;color:#ffffff;
	-webkit-box-shadow: 1px 2px #000000; box-shadow: 1px 2px #000000;
	display: inline-block;cursor: pointer;font-size: 12px; line-height: 20px; text-align:center;
}

.claimwallet-maincontent .mow-lbl { font-size:14px; color:#000000; margin-top:26px; }
.claimwallet-maincontent .mow-amount { font-size:14px; color:#333333; font-weight:bold; line-height:28px; margin-top:12px; }
.claimwallet-maincontent .mow-minimum { color:#999999; position:relative; }
.claimwallet-maincontent .mow-minimum span { font-size:18px; font-weight:bold; position:relative; top:5px; margin-right:6px; }

.claimwallet-calculation-wrapper { width:676px; height:111px; background-color:#F5F5EC; position:absolute; bottom:0; left:0; padding:25px 30px 0 34px; }
.claimwallet-calculation-wrapper .cw-boxcontent { border:1px solid #EBEBDA; background-color:#F5F5EC; width:212px; height:83px; float:left; position:relative; text-align:center; color:#000000; }
.claimwallet-calculation-wrapper .cw-negative { width:26px; line-height:85px; color:#333333; font-size:16px; float:left; text-align:center; }
.claimwallet-calculation-wrapper .cw-equals { width:36px; line-height:85px; color:#333333; font-size:16px; float:left; text-align:center; }
.claimwallet-calculation-wrapper .cw-boxcontent.paypalfee { width:192px; }
.claimwallet-calculation-wrapper .cw-boxcontent.amount { width:202px; }
.claimwallet-calculation-wrapper .cw-boxcontent.claim { background-color:#FFF; }
.claimwallet-calculation-wrapper .cw-boxcontent .lbltxt { margin-top:12px; }
.claimwallet-calculation-wrapper .cw-boxcontent div.input { width:151px; height:28px; padding: 0 10px; line-height:28px; margin:10px auto 0; position:relative; border: 1px solid #51A296; -webkit-border-radius: 2px; border-radius: 2px; color: #000; font-family:Arial, Helvetica, sans-serif; font-size: 14px; -webkit-box-shadow: inset 0px 0px 4px 2px #81C0B7; box-shadow: inset 0px 0px 4px 2px #81C0B7; }
.claimwallet-calculation-wrapper .cw-boxcontent div.input .currency { line-height:28px; font-size:14px; color:#000; float:left; }
.claimwallet-calculation-wrapper .cw-boxcontent div.input input { border:0 none; height:28px; width:143px;; float:left; background-color:transparent; }
.claimwallet-calculation-wrapper .cw-boxcontent .paypal-fee { font-size:14px; margin-top:13px; }
.claimwallet-calculation-wrapper .cw-boxcontent button { font-size:14px; font-weight:bold; min-width:128px; max-width:185px; width:auto !important;  height:30px; margin-top:27px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding:0 10px; }

.claim_moneyonwallet-wrapper .cannotclaim { width:292px; height:83px; border:1px solid #EBEBDA; background-color:#F5F5EC; color:#51A296; font-size:14px; margin-top:26px; text-align:center; display:table; }
.claim_moneyonwallet-wrapper .cannotclaim div { display:table-cell; vertical-align:middle; }
/* End: Claim Money Pop-up */

.purchased-titlebar-wrapper { margin-bottom:12px; }
.purchased-titlebar-wrapper .purchased-titlebar { color:#51A296; font-size:18px; line-height:40px; }
.purchased-titlebar-wrapper .purchased-grandtotal-wrapper { width:218px; height:38px; background-color:#F5F5EC; border:1px solid #EBEBDA; position:relative; line-height:38px; }
.purchased-titlebar-wrapper .purchased-grandtotal-wrapper .lbltxt { color:#000000; margin-left:24px; }
.purchased-titlebar-wrapper .purchased-grandtotal-wrapper .grandtotal { color:#999999; font-size:16px; margin-right:29px; }


/*order details*/
.order-details-wrapper.customer {width:882px; /*min-height:580px; margin-bottom: 63px;*/ margin-bottom:35px; position: relative;float: left;}
.top-labl{width: 100%;height: 40px;display: inline-block;vertical-align: middle;background-color: #F5F5EC;}
.top-labl .orderstatus-txt { font-size: 18px;line-height: 40px; }
.product-order-status { font-size:14px; }
.top-labl .orderstatus-txt.pending { color:#FF6600; }
.top-labl .orderstatus-txt.cancelled,
.product-order-status.cancelled { color:#CC0000; }
.top-labl .orderstatus-txt.completed,
.top-labl .orderstatus-txt.shipped,
.product-order-status.completed,
.product-order-status.shipped { color:#009900; }

.order-details-wrapper.customer .left-lbl{font-size: 18px;line-height: 40px;text-shadow: 1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);color:#000000;float: left;margin-left:12px; margin-right:10px;}
.right-lbl{font-size: 14px;color:#333333;line-height: 40px;float: right;margin-right: 30px;}        
.content-order-details{float: right;}
.wallet .order-side-left{width:200px;min-height: 100px;display: inline-block;;padding: 25px 28px 0 19px;float:left;position: relative;}
.wallet .order-side-left.wide { padding:25px 11px 0 0; width:234px; }
.left-shipmethod-wrap { font-size:14px; margin-bottom:15px; }
.order-side-left.wide .left-shipmethod-wrap { padding-left:17px; }
.left-shipmethod-wrap .sm-lbl { color:#999; line-height:36px; }	
.left-shipmethod-wrap .sm-value { color:#333333; }		
.oder-effect-v{position: absolute;right: 0px;top:29px;height:448px;width:29px;display:block;
background-image:url("/cdn/images/order_effect_v.png");background-repeat: no-repeat;background-size: contain;
}
#side-leftlbl{font-size: 15px;color: #999999 !important;margin-top: 39px;margin-bottom: 11px;display: block;}
.left-name-wrap{height: 50px;width: 100%;}
.pic-customer{height: 49px;width: 49px;display: inline-block;margin-right: 6px;background-color: #E8E8E8;border: 1px solid #CCCCCC;float: left;}
.name-costumer{font-size: 14px;color: #333333;font-weight: bold;padding-bottom: 4px;display: inline-block;line-height: 18px;}
.cont-costumer{font-size: 11px;color: #999999;line-height: 15px;}
.left-cardtype{height: 58px;width:100% ;clear:both; background-color:#FAFAFA; border: 1px solid #E8E8E8;display: table;vertical-align: middle;margin-top: 16px;margin-bottom: 35px;}

.left-cardtype .card-method{width: 175px;display: table-cell;vertical-align: middle;padding: 0px 12px;}
.left-cardtype .card-method .spans{display: block;height: 28px;line-height: 28px;font-size: 12px;}
.address-lbl{font-size: 11px;color:#333333;line-height: 15px;margin-bottom: 33px;}
.order-side-left.wide .address-lbl { padding-left:17px; }
.adress-lvl{height: 19px;width: 100%;font-size: 15px;color: #999999;margin-bottom: 6px;line-height: 19px;display: block;}
/**/
/*oders view costumer*/    
.left-cardtype .vendor-container{width: 175px;display: table-cell;vertical-align: middle;padding: 0px 12px;}
.left-cardtype .vendor-container .pay-method{width: 100%;display: block; padding: 5px 0px;line-height: 16px;font-size: 12px;}
.left-cardtype .vendor-container .pay-adddress{width: 100%;display: block;padding: 5px 0px; font-size: 11px;color: #333333;line-height: 15px;}
.visit-shop-click{height: 40px !important;width: 200px !important;color: #FFFFFF;background-color: #51A296;text-align: center;-webkit-box-shadow: 3px 3px 0 0 #000000;
box-shadow: 3px 3px 0 0 #000000;font-size:20px !important; font-weight:normal !important;
cursor: pointer;}
.cost2vend-note{width: 283px;min-height: 100px;float: left;display: inline-block;}
.cost2vend-note p{font-size: 12px;color:#51A296;line-height: 16px;display: inline-block;margin-bottom: 5px;}
.cost2vend-note .note-wrapper{height: 53px;width: 271px;border: 1px solid #CCCCCC;background-color: #F5F5EC;padding: 5px;}
.cost2vend-note .note-wrapper span{font-size: 11px; color: #999999;line-height: 14px;}

/**/
.wallet .order-side-right{width:576px;display: inline-block;min-height: 100px;float: left;padding:0px 26px;}
.wallet .order-num-wrap{width: 100%;display: block;float: left;position: relative;margin-top: 20px;}
.wallet .oder-effect{width: 100%;height: 27px;display: block;position: absolute;bottom: -27px;left: 0px;
background-image:url("/cdn/images/order_effect_h.png");background-repeat: no-repeat;background-size: contain; }
.wallet .items-from{font-size: 14px;color: #999999;line-height: 18px;padding:5px 0px;margin: 5px 0;}
.wallet .number-wrapper{display:block;width: 554px;padding: 11px;border-bottom: 1px solid #CCCCCC;background-color: #F5F5EC;margin: 0 0px 10px;}
.wallet .number-wrapper button{font-size: 12px;height: 26px;line-height: 26px;text-align: center;color: #FFFFFF;background-color: #51A296;-webkit-box-shadow:  2px 2px 0px 0px #000000;
         box-shadow:  2px 2px 0px 0px #000000;cursor: pointer;} 
.wallet .number-wrapper button:hover{background-color: #999999;}         
.wallet .number-wrapper #btn-order-ship{margin-right: 13px;width: 142px;}
.wallet .number-wrapper #btn-order-cancel {margin-right:6px;width: 102px;}

.wallet .status-wrapper{height: 20px;width: 100%;padding: 16px 0px;display: block;}
.wallet .status-wrapper #ship-stats{font-size: 14px;color: #999999;}
.wallet .status-wrapper #ship-method{font-size: 14px; color:#999999;}
.wallet .list-header{width: 576px;height: 38px;display:table;}
.wallet .list-header-cells{display: table-cell;}
.wallet .cell-header{width: 140px;line-height: 18px;vertical-align: bottom;font-size: 14px;color: #999999;}
.wallet .cell-notices{width: 91px;vertical-align: middle;padding-left: 58px;padding-right: 6px;font-size: 12px;color: #51A296;text-align: right;}
.wallet .cell-notes-detail{width: 269px;border: 1px solid #CCCCCC;background-color: #F5F5EC;vertical-align:middle;font-size: 11px;color:#999999;
padding: 0px 6px;}
.wallet .order-table-wrapper{width: 576px;display: inline-block;float: left;}
.wallet .list-table-order .order-tb-header td{height:26px;vertical-align: top; color: #000000;}
.wallet .list-table-order .content-order-list td{min-height: 25px;vertical-align: top;padding-top: 8px;padding-bottom :8px;
border-bottom: 1px solid #CCCCCC;color: #666666;font-size: 11px;}
.wallet .withbg{background-color: #F4F4F4;}
.wallet .withbgvendor{background-color: #DDE4E5;}
.wallet .list-table-order .content-order-list .nonebg{background-color: #ffffff;}
.wallet .list-table-order .t-price td{height: 22px;vertical-align: middle;padding-left: 48px;color:#51A296; }
.wallet .note-vendor-tabl{line-height: 16px;font-size: 12px;color: #999999;padding: 10px 0px;margin-bottom: 12px;display: block;}
.sku-code{font-weight: bold;color: #333333;}
.td-1{width: 38px;text-align: center;}
.td-2{width: 63px;padding-left: 8px;}
.td-3{width: 174px;text-align: left;}
.td-4{width: 72px; width:60px; text-align: left;}
.td-5{text-align: left;width: 82px;}
.td-6{text-align: left;width: 69px;}
.td-7 span{width: 50px;height: 30px;display: inline-block;vertical-align: middle;font-size: 11px;color:#FFFFFF;background-color: #999999;
text-align:center;padding:0px 5px;
-webkit-box-shadow:  2px 2px 0px 0px #000000;        
        box-shadow:  2px 2px 0px 0px #000000;
        cursor: pointer;}
.wallet .order-details-wrapper.customer .order-summary-wrap{margin-top: 12px;display: block;float: left;width: 100%;clear: both;}       
.wallet .mark-up-wrapper{display: inline-block;float: left;}  
.wallet .vendor-note-wrapper{width: 271px;height: 53px;background-color: #F5F5EC;border: 1px solid #CCCCCC;padding: 5px;}
.wallet .mark-up-wrapper p{width:100%;display: block;font-size: 12px;line-height: 16px;margin-bottom: 4px;color: #666666;}
.wallet .totals-wrapper{width: 193px;display: inline-block;float: right;margin-right: 82px;text-align: right;}      
.wallet .totals-wrapper p{display: block;height: 16px;font-size: 12px;line-height: 16px;margin-bottom: 4px;color: #666666;}
.wallet .totals-wrapper p .total-right{width: 98px;display: inline-block;float: left;}
.wallet .totals-wrapper p .totals-left{width: 82px;display: inline-block;padding-right: 13px;float: left;}
.wallet .line-total{width: 100%;height: 1px;border-bottom: 1px solid #999999;display: block;margin-top: 5px;margin-bottom: 12px;}

/*popbox */

.ship-popup-message{height: 212px;width: 398px;border: 1px solid #51A296;display: block;background-color: #FFFFFF;
-webkit-box-shadow:  0px 0px 2px 2px #cccccc;z-index:1;float: right;position: absolute;left:20%;  top:20%;      
        box-shadow:  0px 0px 2px 2px #cccccc;
        padding: 27px 36px;
        }
.any-messages{font-size: 18px;color: #000000;width: 100%;display: block;margin-bottom: 27px;line-height: 22px;}
.add-note{font-size: 12px;line-height: 16px;height: 16px;color:#51A296 !important;margin-bottom: 2px;display: block;}
.notes-added{height: 70px;width: 390px;border: 1px solid #CCCCCC;background-color: #F5F5EC;padding: 4px;color:#999999;display: block;}
.note-popbox{display: block;width: 100%;height: 28px;float: left;margin-top: 10px;}
.note-popbox span{width: 247px;height: 28px;display: inline-block;font-size: 11px;color:#999999;line-height:14px;float: left; }
.note-popbox button{float: right;height: 26px; width: 122px;text-align: center;line-height: 26px;margin-top: 2px;font-size: 12px;
color:#FFFFFF;background-color: #51A296;
-webkit-box-shadow:  2px 2px 0px 0px #000000;
        box-shadow:  2px 2px 0px 0px #000000;}
 .note-popbox button:hover{background-color: #999999;}

/** order customers-view **/

.customers-view{position: absolute;z-index: 1;top:86px;left:188px;border: 1px solid #51A296;background-color: #FFFFFF;width:880px;display: block;
-webkit-box-shadow:  0px 0px 2px 2px #cccccc;        
        box-shadow:  0px 0px 2px 2px #cccccc; }


