* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }
a{ color: #000000; text-decoration: none; }
a:hover{ text-decoration: underline; }

.float-left{float: left;}
.float-right{float: right;}
.relative{ position: relative; }
.absolute{ position: absolute !important;}
.show{display: block !important;}
.hide{display: none !important;}
.input_error{ border: 1px solid red !important; }
.bottom { bottom: 0; }
.top { top: 0 !important; }

.wdgt-show-product{position: relative}
#dialog-box{ background-color: #000000; position: absolute; left: 0; top: 0; z-index: 99; height: 227px; text-align: center; width: 336px; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;}
#dialog-box .preloader_wrapper{ margin-top: 90px;  }

#wdgt-slideshow-wrapper{ float: left; width: 336px; height: 227px; position: relative; }
#wdgt-slideshow-wrapper ul { float: left; width: 336px; height: 227px; }
#wdgt-slideshow-wrapper ul li{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; width: 336px; height: 227px; position: absolute; left: 0; top: 0; }
.wdgt-prod-price-bg{ 
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
    display: block;
    height: 80px;
    left: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 137px;
    width: 80px;
    z-index: 5;
	border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;
}
.wdgt-prod-price-bg-back{
    background-color: #ED4595;
    display: block;
    height: 80px;
    left: 8px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 138px;
    width: 80px;
	border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;
}
.wdgt-prod-price{ position: absolute; z-index: 10; top: 170px; left: 7px; color: #ffffff; font-size: 16px; font-weight: bold; width: 80px; }
.wdgt-prod-title { font-size: 22px; width: 235px; position: relative; top: 137px; left: 90px; }
.wdgt-prod-title span{ width: 235px; position: absolute; top: 0; left: 0; }
.wdgt-prod-title span label{ background-color: #ffffff; color: transparent; line-height: 25px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-prod-title a{ color: #ED4595; line-height: 25px; width: 235px; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); position: absolute; top: 0; left: 0; z-index: 5; }
#wdgt-splash-wrapper{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; float: left; width: 336px; height: 227px; position: relative; }
.wdgt-shop-now-btn { 
	background: url("../images/widgetstore_images/shop_now_arrow.png") no-repeat scroll 179px center #ffffff; position: absolute; left: 23px; top: 147px; width: 215px; height: 46px; font-size: 25px; color: #000000; font-weight: bold; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; 
	line-height: 46px; font-family: Arial, Gill Sans, Helvetica, sans-serif; text-align: center; cursor: pointer; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border: 0 none; -webkit-box-shadow: 3px 3px 2px 1px #000000; box-shadow: 3px 3px 2px 1px #000000;
}
.wdgt-shop-now-btn:hover{ text-decoration: none; filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1;}
#wdgt-wrapper{ background: url("../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 #ffffff; float: left; width: 336px; height: 280px; margin: 0; position: relative; }
#wdgt-main-left{ background-color: #ED4595; float: left; width: 91px; height: 227px; overflow: hidden; }
#wdgt-main-left ul{ float: left; width: 91px; }
#wdgt-main-left ul li{ display: table; float: left; position: relative; width: 91px; height: 57px; border-bottom: 1px solid #ffffff; color: #000000; }
#wdgt-main-left ul li a{display: table-cell; vertical-align: middle; text-align: center; width: 59px; padding: 0 16px; }
#wdgt-main-left ul li a.active { background-color: #ffffff; }
#wdgt-main-left ul li .wdgt-has-sub{position: absolute; top: 22px; right: 3px;}
.slimScrollDiv {float: left;}
#wdgt-main-right { float: left; width: 245px; height: 227px; overflow: hidden; color: #000000;}
.wdgt-shoppingcart { width: 100%; color: #663366; font-size: 14px; text-align: center; margin-top: 8px; }
.wdgt-item { width: 100%; color: #000000; font-size: 11px; text-align: center; margin-top: 8px; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-subcategory-wrapper{ background-color: #ffffff; float: left; width: 245px; height: 227px; overflow: hidden; color: #000000;}
.wdgt-subcategory-wrapper ul{float: left; margin-left: 12px; width: 233px; }
.wdgt-subcategory-wrapper ul li{float: left; width: 212px; height: 36px; padding-left: 21px; border-bottom: 1px solid #000000; line-height: 36px; }
.wdgt-subcategory-wrapper .jspTrack{ height: 225px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-subcategory-wrapper .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-subcategory-wrapper .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; border: 1px solid #000000; height: 225px !important;}

.wdgt-category-wrapper{ background-color: #ffffff; float: left; padding-left: 15px; width: 230px; height: 227px; overflow: hidden; position: relative; }
.wdgt-content-wrapper { position: absolute; top: 0; left: 15px; z-index: 10; height: 185px; overflow: hidden;}
.wdgt-header-title { background-color: #000000; float:left; width: 218px; min-height: 17px; line-height: 16px; padding: 0 6px; font-size: 11px; color: #ffffff; }
.wdgt-product-min-info{ float: left; width: 131px; height: 168px; }
.wdgt-product-min-info h1{ float: left; margin-top: 12px; }
.wdgt-product-min-info h1 a{ font-size: 15px; line-height: 16px; color: #000000; font-weight: bold; width: 100%;}
.wdgt-product-price{ float: left; font-size: 12px; font-weight: bold; color: #EC4594; margin-top: 8px; width: 100%;}
.wdgt-product-mindesc{ float: left; font-size: 12px; color: #666666; margin-top: 13px; position: relative; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-more-info-btn{ background-color: #ED4595; position: absolute; top: 158px; right: 10px; border: 1px solid #000000; width: 78px; color: #ffffff; font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; padding: 1px 0;}
.wdgt-more-info-btn:hover { background-color: #FFFFFF; color: #ED4595; cursor: pointer; }
.wdgt-image-wrapper{ position: absolute; z-index: 0; width: 230px; top: 17px; right: 0; height: 168px; border-bottom: 1px solid #000000; }
.wdgt-product-image{ 
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	position: absolute; right: 0; width: 99px; height: 168px; 
}
.wdgt-product-pagination{position: absolute; bottom: 11px; height: 12px; margin-left: 0; margin-top: 19px; text-align: left; width: 100%;}
.wdgt-product-pagination ul{ float: left; height: 12px; margin-left: 20px; }
.wdgt-product-pagination ul li{ float: left;}
.wdgt-product-pagination ul li a{text-decoration:none; width: 10px; height: 10px; border: 1px solid #000000; margin: 0 4px; display: block; }
.wdgt-product-pagination ul li a span{display: none; font-size: 11px; color: #000000; margin-top: -16px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-product-pagination ul li a.selected {background-color: #ED4595; border: 1px solid #ED4595;}
.wdgt-product-pagination ul li a.selected span{display: block}
.wdgt-product-pagination .wdgt-prev{ float: left; color: #ED4595; font-size: 11px; margin-right: 10px; }
.wdgt-product-pagination .wdgt-next{ float: left; color: #ED4595; font-size: 11px; margin-left: 11px;}
.wdgt-product-pagination .wdgt-prev:hover, .wdgt-product-pagination .wdgt-next:hover{text-decoration: underline; cursor: pointer}
.wdgt-product-pagination .wdgt-prev-disabled{ color: #000000; text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-next-disabled{ color: #000000; text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}


#wdgt-footer{ float: left; position: relative; width: 336px; height: 53px; }
#wdgt-footer .wdgt-powered-by{ background-color: #000000; float: left; width: 91px; height: 53px; }
#wdgt-footer .wdgt-powered-txt { float: left; text-align: center; width: 100%; font-size: 9px; margin-top: 14px; }
#wdgt-footer .wdgt-shoptstix { float: left; text-align: center; width: 100%; font-size: 13px; }
#wdgt-footer .wdgt-logo-wrapper{ background-color: #ED4595; float: left; width: 200px; height: 53px; text-align: center;}
#wdgt-footer .wdgt-logo{ position: absolute; width: 200px; height: 53px; top: 0; left: 91px; text-align: center; }
#wdgt-footer .wdgt-logo label{ font-size: 25px; line-height: 53px; font-weight: bold; white-space: nowrap; }
#wdgt-footer .wdgt-logo span{ color: #EC4594; }
#wdgt-footer .wdgt-cart-wrapper{ background-color: #ED4595; float: left; width: 45px; height: 53px; }
#wdgt-footer .wdgt-preview { background: url("../images/widgetstore_images/preview.png") no-repeat scroll center center #FFFFFF; float: left; width: 45px; height: 26px; margin-bottom: 1px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
#wdgt-footer .wdgt-preview:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#wdgt-footer .wdgt-cart { background: url("../images/widgetstore_images/cart.png") no-repeat scroll center center #FFFFFF; float: left; width: 45px; height: 26px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
#wdgt-footer .wdgt-cart:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }

.wdgt-search-wrapper{background-color: #000000; position: absolute; top: 0; left: 0; width: 336px; height: 54px; z-index:20}
.wdgt-search-lbl{ float: left; font-size: 12px; color: #ffffff; margin: 20px 0 0 10px; }
.wdgt-search{ float: left; width: 209px; border: 0 none; margin: 14px 0 0 8px; padding: 5px 34px 5px 4px; }
.wdt-search-button { background: url("../images/widgetstore_images/search.png") no-repeat scroll center center #ED4595; float: left; width: 30px; height: 26px; margin-top: 14px; border: 0 none; margin-left: -30px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8 }
.wdt-search-button:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-search-cancel-link { float: left; color: #ED4595; text-decoration: none; margin: 20px 0 0 9px; }
.wdgt-search-cancel-link:hover {text-decoration: underline; }

#wdgt-popup{position: absolute; top: 0; left: 0; width: 336px; height: 227px;}
.wdgt-popup-close{ background: url("../images/widgetstore_images/close.png") no-repeat scroll center center transparent; display: block; position: absolute; right: 7px; top: 12px; z-index: 22; width: 11px; height: 11px; cursor: pointer; }
.wdgt-popup-left{ background-color: #ED4595; float: left; width: 70px; height: 227px; }
.wdgt-popup-left ul{ float: left; width: 70px; height: 227px; }
.wdgt-popup-left ul li{ float: left; background-color: #ED4595; width: 70px; height: 35px; border-bottom: 1px solid #FFFFFF; text-align: center; line-height: 35px;}
.wdgt-popup-left ul li.wdgt-next-prev { height: 37px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-next { float: left; background: url("../images/widgetstore_images/next.png") no-repeat scroll center center transparent; position: absolute; left: 35px; width: 35px; height: 37px; display: block; cursor: pointer; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-vseparator { float: left; margin-left: 33px; height: 20px; width: 1px; color: #000000; font-size: 26px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-prev { float: left; background: url("../images/widgetstore_images/prev.png") no-repeat scroll center center transparent; position: absolute; left: 0; width: 34px; height: 37px; display: block; cursor: pointer; }
.wdgt-popup-left ul li.active { background-color: #000000;}
.wdgt-popup-left ul li.active a{ color: #FFFFFF; }
.wdgt-popup-left ul li.wdgt-gift-wrapper { width: 70px; height: 48px; border: 0 none; }
.wdgt-popup-left ul li .wdgt-gift{ float:left; background: url("../images/widgetstore_images/gift_icon.png") no-repeat scroll center center transparent; width: 70px; height: 48px; position: relative;}
.wdgt-gift-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 70px; height: 48px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-popup-left ul li .wdgt-gift:hover .wdgt-gift-hover{ display: block; cursor: pointer; }
.wdgt-popup-powered-by { background-color: #000000; float: left; width: 70px; height: 41px; padding-top: 12px; }
.wdgt-popup-powered-txt, .wdgt-popup-shoptstix { float: left; width: 100%; text-align: center; }
.wdgt-popup-powered-txt {font-size: 9px; }
.wdgt-vertical-bar { background-color: #FFFFFF; float: left; width: 21px; height: 280px; }
.wdgt-popup-right{ background-color: #FFFFFF; float: left; width: 245px; height: 227px; }
.wdgt-product-details-wrapper h1{ float: left; font-size: 16px; color: #000000; margin-top: 11px; font-weight: bold; width: 100%; }
.wdgt-product-details-wrapper .wdgt-price{ float: left; font-size: 12px; color: #ED4595; margin-top: 7px; font-weight: bold; width: 100%; }
.wdgt-product-details{ float: left; margin-top: 7px; width: 238px; height: 130px; overflow: hidden; margin-bottom: 9px; }
.wdgt-product-details .jspTrack{ height: 128px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-product-details .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-product-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; border: 1px solid #000000; height: 128px !important;}
.wdgt-product-details .wdgt-images { float: left; width: 238px;}
.wdgt-product-details .wdgt-images li{
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	float: left; width: 87px; height: 64px; margin: 5px 9px 5px 5px; 
}
.wdgt-product-details .wdgt-images li:hover, .wdgt-product-details .wdgt-images li.active{ cursor: pointer; -webkit-box-shadow: 0px 0px 4px 1px #ED4595; box-shadow: 0px 0px 4px 1px #ED4595; }
.wdgt-product-details-wrapper h1.wdgt-image-h1{ margin-top: 6px; }
.wdgt-product-details-wrapper .wdgt-image-price{ margin-top: 2px; }
.wdgt-image-details{ height: 145px !important; margin-top: 2px;}
.wdgt-image-details .jspTrack, .wdgt-image-details .jspVerticalBar{ height: 143px !important; }
.wdgt-product-info{ float: left; font-size: 12px; color: #666666; width: 100%; line-height: 16px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-buynow-wrapper { float: left; width: 100%; }
.wdgt-qty-lbl { float: left; font-size: 12px; color: #000000; margin-top: 4px;}
.wdgt-qty { float: left; width: 50px; border: 1px solid #000000; margin: 0 10px 0 8px; padding: 2px 0; text-align: center;}
.wdgt-bynow-btn { background-color: #ED4595; width: 78px; border: 1px solid #000000; padding: 1px 0; cursor: pointer; }
.wdgt-bynow-btn:hover { background-color: #000000; color: #ffffff; }
.wdgt-share1, .wdgt-share2{ background: url("../images/widgetstore_images/icon_b.png") no-repeat scroll 0 0 transparent; float: left; margin-left: 5px; width: 21px; height: 21px; cursor: pointer; position: relative; }
.wdgt-share2{ background: url("../images/widgetstore_images/icon_a.png") no-repeat scroll 0 0 transparent; }
.wdgt-share-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 21px; height: 21px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-share1:hover .wdgt-share-hover, .wdgt-share2:hover .wdgt-share-hover{ display: block; cursor: pointer; }
.wdgt-related-details-wrapper h1{ float: left; font-size: 16px; color: #000000; margin-top: 11px; font-weight: bold; width: 100%; }
.wdgt-related-details { float: left; margin-top: 15px; width: 238px; height: 175px; overflow: hidden; }
.wdgt-related-details ul{ float: left; width: 220px; margin-top: -15px;}
.wdgt-related-details ul li{ float: left; width: 220px; padding: 15px 0 14px; border-bottom: 1px solid #7f7f7f; }
.wdgt-related-image { float: left; width: 45px; height: 45px; border: 1px solid #000000; margin-right: 8px; position: relative; }
.wdgt-related-image-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 45px; height: 45px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-related-image:hover .wdgt-related-image-hover{ display: block; cursor: pointer; }
.wdgt-related-product-title { float: left; width: 164px; font-size: 14px; color: #ED4595; font-weight: bold; margin-top: 5px;}
.wdgt-related-product-title:hover { text-decoration: underline; cursor: pointer;}
.wdgt-related-product-price { float: left; width: 164px; font-size: 11px; color: #000000; font-weight: bold; margin-top: 5px;}
.wdgt-related-details .jspTrack{ height: 173px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-related-details .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-related-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; border: 1px solid #000000; height: 173px !important;}

.wdgt-level2-wrapper{ background-color: #ffffff; height: 280px !important; }
.wdgt-level2-wrapper h1{ width: 318px; height: 33px; line-height: 33px; font-size:16px; color: #000000; font-weight: bold; margin-left: 9px;}
.wdgt-video{ float: left; height: 280px}
.wdgt-video-player { float: left; width: 336px; height: 247px; }

.wdgt-images-zoom{ float: left; height: 280px}
.wdgt-images-zoom-player { float: left; width: 336px; height: 247px; }

#slider1 { overflow:hidden; padding: 0;   }
#slider1 .viewport { float: left; width: 336px; height: 245px; overflow: hidden; position: relative; }
#slider1 .buttons, #slider1 .vline { float: left; width: 35px; height: 33px; display: block; cursor: pointer; position: absolute; top: 0; }
#slider1 .prev { background: url("../images/widgetstore_images/prev.png") no-repeat scroll center center #ED4595;  right: 62px }
#slider1 .next { background: url("../images/widgetstore_images/next.png") no-repeat scroll center center #ED4595;  right: 26px; }
#slider1 .vline { background-color: #ED4595; color: #000000; font-size: 20px; line-height: 28px; right: 60px; width: 5px;}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 336px; left: 0 top: 0; }
#slider1 .overview li{ float: left; background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; height: 245px; width: 336px;}


#wdgt-cart-popup { background-color: #FFFFFF; color: #000000; position: absolute; left: 0; width: 336px; height: 280px; z-index: 999; display: none;}
/*top*/
#wdgt-main-top{height:47px;display: block;background: #ED4595;padding:10px 10px 0px 10px;}
#wdgt-main-top h1{font-size: 18px; color: #ffffff;font-weight: bold;line-height: 22px;display: inline-block;}
#wdgt-main-top #wdgt-main-top-close{font-size: 12px;color: #ffffff; line-height: 16px;float: right; }
#wdgt-main-top #wdgt-main-top-close:hover{font-size: 12px;color: #ffffff; line-height: 16px;float: right;text-decoration: underline;}
#wdgt-main-top #wdgt-added-items{float:left;font-size: 12px; color:#000000;}
#wdgt-main-top #wdgt-added-price{float:right;font-size: 12px; color:#000000;}

/**/
#checkout{height: 21px;border: 1px solid #fff;line-height: 21px;background: #ED4595;width: 148px;
display: inline-block;text-align: center;margin-right: 18px;margin-left: 12px;
font-weight: bold;color: #ffffff;text-decoration: none;}
#continue{color: #ffffff; line-height: 16px;font-size: 12px;}
#continue:hover{text-decoration: underline;}

#wdgt-main-center{height: 160px;display: block;padding: 5px 7px;width: 322px;}
#wdgt-main-center-wrapper{height: 160px;display: block;width: 322px;overflow: auto;}
#wdgt-main-center-content{height: auto;display: block;width: 302px;}
#wdgt-list{display: block;width: 302px;}
#wdgt-list li{display: block;list-style: none;px;height: 71px;width: 302px;border-bottom: 1px solid #7F7F7F;}
.wgt-item-list{height: 71px;display: table-cell;list-style-type: none;position: relative;}

.item-list-picture-wrapper{height: 71px;
width: 54px;
display: table-cell;
vertical-align: middle;}
.item-list-picture{display: table-cell;vertical-align:middle;height: 45px;width: 45px; border: 1px solid #000000; }
.wgt-item-list-detials{display: table-cell;width:192px;
vertical-align: middle;}
.wgt-item-list-detials h2{color:#ED4595;font-size: 14px;font-weight: bold;line-height: 20px;}
.wgt-item-list-lastcolum{display:table-cell;height: 71px;width: 60px;position: relative;vertical-align: middle;}


.wgt-item-price{font-size: 11px;line-height: 15px;font-weight: bold;margin-right: 10px;}
.wgt-item-status{font-size: 11px;line-height: 15px;font-weight: bold;margin-left: 10px;}

.wgt-item-list-numbers{width: 28px;height: 19px;display: inline-block;border: 1px solid #000;text-align: center;line-height: 21px;margin: 0px 0px 4px;vertical-align: top;}
.wgt-item-list-cancel{width: 23px;height: 18px;display: inline-block;background: url(../images/widgetstore_images/close.png)no-repeat 6px 4px;margin-left: 6px; cursor: pointer; }
.wgt-item-list-lastcolum a{color:#ED4595;font-size: 10px;line-height: 18px;}
.wgt-item-list-lastcolum a:hover{ text-decoration: underline; }

/**************************************************/
#wdgt-cart-popup .jspTrack
{
	background: #fff !important;
	width: 10px;
	border: 1px solid;
	height: 158px !important;
}

#wdgt-cart-popup .jspDrag
{
	background: #000;
	width:10px;
}
#wdgt-cart-popup .jspVerticalBar {width: 12px !important;}
/************ jscroll ****************/

#wdgt-cart-popup #wdgt-footer{ float: left; position: relative; width: 336px;background: #000000;padding:16px 0px; height: 21px;}
#wdgt-cart-popup .wdgt-text-wrapper{height: 21px;float: right; width: 336px;}
#wdgt-cart-popup .wdgt-text-wrapper a{float:right;}