#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper .chead .right,
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper .chead .right,
.header-content .messages-panel.npops .top-wrapper .chead .right { cursor: pointer; font-size: 12px; background: #00A3D9; border-radius: 2px; color: #fff; width: 140px; height: 26px; text-align: center; line-height: 26px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems,
#messageModal .left.aarea ul.mitems,
.header-content .messages-panel.npops .top-wrapper ul.mitems { display: block; list-style: none; margin: 0; padding: 0; font-size: 12px;  }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li,
.header-content .messages-panel.npops .top-wrapper ul.mitems li,
#messageModal .left.aarea ul.mitems li { cursor: pointer; position: relative; padding: 16px 19px; height: 76px; margin-top: 1px; background: #f2f5f6; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.nomsg,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.nomsg,
.header-content .messages-panel.npops .top-wrapper ul.mitems li.nomsg,
#messageModal .left.aarea ul.mitems li.nomsg { cursor: default; padding: 63px 0 0; height: 300px; font-size: 14px; color: #777; text-align: center; }
#messageModal .left.aarea ul.mitems li.nomsg.nores { padding: 15px 0; height: auto; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.nomsg img,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.nomsg img,
.header-content .messages-panel.npops .top-wrapper ul.mitems li.nomsg img,
#messageModal .left.aarea ul.mitems li.nomsg img { display: block; margin: 0 auto; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li:hover,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li:hover,
.header-content .messages-panel.npops .top-wrapper ul.mitems li:hover,
#messageModal .left.aarea ul.mitems li:hover { background: #f2f5f6; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.ur,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.ur,
.header-content .messages-panel.npops .top-wrapper ul.mitems li.ur,
#messageModal .left.aarea ul.mitems li.ur { background: #E3E7EC; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.selected,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.selected { background: #fff; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .img,
#messageModal .left.aarea ul.mitems li .img { position: relative; width: 40px; height: 40px; border:2px solid #CCC; border-radius: 20px; background-position: center center; background-size: cover;  }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img .ipic-thumb,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img .ipic-thumb,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .img .ipic-thumb,
#messageModal .left.aarea ul.mitems li .img .ipic-thumb { width: 100%; height: 100%; line-height: 36px; border: 1px solid #EEEEEE; font-size: 16px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.ur .img,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.ur .img,
.header-content .messages-panel.npops .top-wrapper ul.mitems li.ur .img,
#messageModal .left.aarea ul.mitems li.ur .img { border:4px solid #00A3D9; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img span.cnt,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .img span.cnt,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .img span.cnt,
#messageModal .left.aarea ul.mitems li .img span.cnt { font-size: 10px; width: 16px; height: 16px; background: #00A3D9; color: #fff; font-weight: 500; top: -5px; right: -5px; position: absolute; border-radius: 16px; text-align: center; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo{ width: 230px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo p,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo p,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo p{ font-size: 12px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head,
#messageModal .left.aarea ul.mitems li .cinfo .head { color: #999; display: block; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head strong,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head strong,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head strong,
#messageModal .left.aarea ul.mitems li .cinfo .head strong { color: #00A3D9; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head i,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head i,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo .head i,
#messageModal .left.aarea ul.mitems li .cinfo .head i { margin-left: 5px; font-style: normal; color: #999; }
#messageModal .left.aarea ul.mitems li .cinfo .goin { width: 19px; height: 16px; display: block; right: 16px; top: 26px; position: absolute; }
#messageModal .left.aarea ul.mitems li .cinfo .goin svg { width: 19px; height: 16px; fill: #DDD; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .goin,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo .goin, 
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo .goin,
#messageModal .left.aarea ul.mitems li.selected .cinfo .goin { display: none; }

#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li .cinfo p,
.header-content .messages-panel.npops .top-wrapper ul.mitems li .cinfo p,
#messageModal .left.aarea ul.mitems li .cinfo p { font-size: 12px; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 35px; overflow: hidden; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.mmore,
.header-content .messages-panel.npops .top-wrapper ul.mitems li.mmore,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems li.mmore { background: #00A3D9; text-align: center; color: #fff; padding: 5px 19px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems,
.header-content .messages-panel.npops .top-wrapper ul.mitems,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .top-wrapper ul.mitems { min-height: 200px; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops.active .top-wrapper ul.mitems,
.header-content .messages-panel.npops .top-wrapper ul.mitems,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops.active .top-wrapper ul.mitems { min-height: initial; }
#header .sign-join-ontop .userNav .navLink.messages .messages-panel.npops .loader,
.header-content .messages-panel.npops .loader,
#small-header-wrapper .small-header-sign-join .userNav .navLink.messages .messages-panel.npops .loader { top: 50px; text-align: center; padding-top: 40px; }

#messageModal .left.aarea ul.mitems { overflow-y:auto; height: 488px; }
#messageModal {
	border: 1px solid #fff;
	background: #fff;
	width: 880px;
	min-height: 540px;
	padding: 0;
	top:45px;
	/*position: absolute;
	display: none;*/
}

#messageModal .shopstyxloader-box {
	top:initial;
}

#messageModal .shopstyxloader-box .shopstyxloader {
	top:34%;
}

#messageModal .noitems {
	text-align: center;
	font-size: 16px;
	margin: 190px;
	color: #ddd;
}

#messageModal .aarea { height: 538px; }
#messageModal .left.aarea { width: 300px; background: #f2f5f6; }
#messageModal .chead { height: 50px; padding: 12px 16px; background: url("/cdn/images/v3/bg-sub-menu.png"); }
#messageModal .left.aarea .chead{ border-right: 1px solid #F2F5F6; }


#messageModal .left.aarea .chead .right.searchbar {
	height: 32px; width: 32px; line-height: 30px; vertical-align: middle; position: relative; top: -3px;
	margin-right: 5px; border: 1px solid rgba(221,221,221,0);
}

#messageModal .left.aarea .chead.smode .left { display: none; }
#messageModal .left.aarea .chead.smode .right.searchbar {
	border-color: #DDD; width: 230px; background: #fff; 
}

#messageModal .left.aarea .chead .right.searchbar input { 
	display: none; width: 195px;
	border: none;
	font-size: 12px; height: 30px;
}

#messageModal .left.aarea .chead.smode .right.searchbar input {
	display: inline-block;
}

#messageModal .left.aarea .chead .right.searchbar .search {
	position: static;
}

#messageModal .right.aarea .chead { background: transparent; }
#messageModal .chead * { vertical-align: middle; }

#messageModal .chead .left { display: block; font-size: 14px; line-height: 24px; color: #444; width: 50%; }

#messageModal .chead .left .backbtn {
	cursor: pointer;
	margin-right: 12px;
	display: inline-block;
}
#messageModal .chead .left .backbtn svg {
	width: 18px;
	height: 18px;
	fill: #CCC;
}

#messageModal .right.aarea .chead .left .imgconv {
	width: 24px; height: 24px; background-size: cover; 
	background-position: center; display: inline-block; margin-right: 10px;
	border-radius: 12px; position: relative;
}

#messageModal .right.aarea .chead .left .imgconv .ipic-thumb {
  width: 100%;
  height: 100%;
  line-height: 24px;
  border: 1px solid #EEEEEE;
  font-size: 10px;
}

#messageModal .chead .right.tbtn { cursor: pointer; border-radius: 2px; font-size: 12px; color: #fff; width: 32px; height: 32px; text-align: center; line-height: 30px; vertical-align: middle; position: relative; top: -3px; }
#messageModal .chead .right.tbtn svg { display: inline-block; width: 18px; height: 18px; line-height: 26px;}
#messageModal .chead .right.tbtn svg * { fill: #00A3D9; }
#messageModal .chead .right.tbtn .cbtn svg * { fill:initial; stroke: #00A3D9; }
#messageModal .chead .right.tbtn.highlight {
	background: #00A3D9;
}
#messageModal .chead .right.tbtn.highlight svg * {
	fill: #fff;
}
#messageModal .left.aarea ul.mitems li .cinfo { width: 204px;}
#messageModal .left.aarea ul.mitems li:hover,
#messageModal .left.aarea ul.mitems li.selected { background: #fff; }
#messageModal .left.aarea ul.mitems li.nomsg:hover,
#messageModal .left.aarea ul.mitems li.nomsg.selected { background:transparent; }

#messageModal .right.aarea .chead .left { width: 90%; }

#messageModal .right.aarea .chead .left a.pname {
	position: relative;
	top: -1px;
	height: 36px;
	line-height: 36px; display: inline-block;
	vertical-align: middle;
	border: 1px solid #DDD;
	margin-left: 5px; max-width: 300px;
	
}

#messageModal .right.aarea .chead .left a.dcust {
	text-decoration: none; color: #00A3D9;
}

#messageModal .right.aarea .chead .left a.pname span.img {
	width: 34px;
	height: 34px;
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-color: #fff;
	line-height: 34px;
	vertical-align: top;
	text-align: center;
}
#messageModal .right.aarea .chead .left a.pname span.img .oconv {
	background: url('/cdn/images/v3/common.png') -257px -67px no-repeat;
	width: 22px; height: 25px; vertical-align: middle; 
	display: inline-block; position: relative; top: -2px;
}
#messageModal .right.aarea .chead .left a.pname span.nm {
	height: 34px; line-height: 34px;
	font-size: 12px; background: #EEE;
	display: inline-block; color: #00A3D9;
	vertical-align: top;
	max-width: 264px;
	padding: 0 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#messageModal .setchat { position: relative; }
#messageModal .setchat .chosname { padding: 4px 10px; height: 35px; line-height: 35px; font-size: 14px; font-weight: 500; color:#fff; background: #00A3D9; border:1px solid #00A3D9; }
#messageModal .setchat .chosname .img { border-radius: 13px; width: 26px; height: 26px; background-size: cover; background-position: center; }
#messageModal .setchat .chosname .namechoose { padding-left: 10px; font-size: 14px; line-height: 26px; vertical-align: middle; }
#messageModal .setchat .nameres { border: 1px solid #e0e0e0; list-style: none; width: 365px; display: block; position: absolute; left: 4px; top: 38px; background: #fff; }
#messageModal .setchat .nameres li { display: block; height: 70px; padding: 9px; color: #00A3D9; border-bottom: 1px solid #F2F5F6; }
#messageModal .setchat .nameres li:hover { background: #00A3D9; color: #fff; } 
#messageModal .setchat .nameres li:last-child { border-bottom: none; }
#messageModal .setchat .nameres li.progress,
#messageModal .setchat .nameres li.progress:hover { margin-bottom: 0; text-align: center; font-style: oblique; background: none; color:#e0e0e0; line-height: 52px; }
#messageModal .setchat .nameres li div.img { position: relative; border-radius: 26px; width: 52px; height: 52px; background-size: cover; background-position: center; }
#messageModal .setchat .nameres li .ipic-thumb {
	width: 100%; height: 100%; line-height: 52px; border: 1px solid #EEEEEE; font-size: 26px;
}
#messageModal .setchat .nameres li div.namechoose { padding-left: 10px; font-size: 14px; line-height: 52px; vertical-align: middle; }
#messageModal .setchat .nameres li.nores,
#messageModal .setchat .nameres li.nores:hover { margin-bottom: 0; text-align: center; background: none; color:#00A3D9; line-height: 52px; }

#messageModal .searchbar.setchat ul.nameres{ left: 0; top: 30px; margin-left: 10px; z-index: 1; width: 255px; }

#messageModal .right.aarea { width: 578px; }
#messageModal .right.aarea .chead .left { font-size: 14px; }
#messageModal .right.aarea .right.closebtn { margin-top: 8px; font-size: initial; }
#messageModal .right.aarea .right.closebtn svg { width: 15px; height: 15px;}
#messageModal .right.aarea .right.closebtn polygon { fill: #CCC;}
#messageModal .right.aarea .chattypearea { margin: 16px 50px;
border: 1px solid #E0E0E0; }
#messageModal .right.aarea .chattypearea .imgyou { position: relative; margin-top: 5px; margin-left: 5px; width: 52px; height: 52px; border-radius: 26px; background-position: center; background-size: cover; }
#messageModal .right.aarea .chattypearea .imgyou .ipic-thumb {
	width: 100%; height: 100%; line-height: 52px; border: 1px solid #EEEEEE; font-size: 26px;
}
#messageModal .right.aarea  .chattypearea .tarea { width: 415px; }
#messageModal .right.aarea  .chattypearea .tarea textarea { height: 65px; display: inline-block; border: 1px solid #ffffff; line-height: 16px; box-shadow: none !important; padding: 10px; font-size: 12px; width: 350px; margin: 0; }
#messageModal .right.aarea  .chattypearea .tarea input { width: 65px; background: #00A3D9; outline: none; border: none; height: 65px; color: #fff; text-transform: uppercase; }

#messageModal .right.aarea .chatarea { height: 385px; overflow-y: auto; margin: 5px 50px 0; border-top:1px solid #EEE; }
#messageModal .right.aarea .chatarea .innerchat { padding: 30px 0 16px; }
#messageModal .right.aarea .chatarea .innerchat .chat { margin: 0 20px 20px 0; position: relative;  }
#messageModal .right.aarea .chatarea .innerchat .chat .imgyou {
	position: relative; bottom: 14px; position: absolute; width: 24px; height: 24px; border-radius: 12px; background-position: center; background-size: cover;
}

#messageModal .right.aarea .chatarea .innerchat .chat .chatbody .arrow {
	width: 0; height: 0; border-style: solid;
	position: absolute; bottom: 18px;
}

#messageModal .right.aarea .chatarea .innerchat .chat .imgyou .ipic-thumb {
	width: 100%; height: 100%; line-height: 24px; border: 1px solid #EEEEEE; font-size: 10px;
}

#messageModal .right.aarea .chatarea .innerchat .chat.you .imgyou {  right: 0; }
#messageModal .right.aarea .chatarea .innerchat .chat.that .imgyou { left: 0;}


#messageModal .right.aarea .chatarea .innerchat .chat .chatbody {
	max-width: 370px;
	position: relative;
}
#messageModal .right.aarea .chatarea .innerchat .chat.you .chatbody {
	margin-right: 34px;
}

#messageModal .right.aarea .chatarea .innerchat .chat.that .chatbody {
	margin-left: 34px;
}

#messageModal .right.aarea .chatarea .innerchat .chat.you .right.chatbody .arrow  {
	border-width: 8.5px 0 8.5px 9px; 
	border-color: transparent transparent transparent #00A3D9;
	right: 0;
}
#messageModal .right.aarea .chatarea .innerchat .chat.that .left.chatbody .arrow  {
	border-width: 8.5px 9px 8.5px 0; 
	border-color: transparent #e9e9e9 transparent transparent;
	left: 0;
}
#messageModal .right.aarea .chatarea .innerchat .chat .msg {
	 color:#fff; min-width: 150px; padding: 10px 13px; 
}

#messageModal .right.aarea .chatarea .innerchat .chat.you .msg {
	margin-right: 6px;
	background: #00A3D9;
	color:#fff;
	border-radius: 3px;
}

#messageModal .right.aarea .chatarea .innerchat .chat.that .msg {
	margin-left: 6px;
    background: #eee;
    color: #666666;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

#messageModal .right.aarea .chatarea .innerchat .chat .msg * { font-size: 12px; margin-bottom: 5px; }
#messageModal .right.aarea .chatarea .innerchat .chat .msg strong { display: block; }
#messageModal .right.aarea .chatarea .innerchat .chat .msg i { font-style: normal; color: #555; font-size: 11px; }

#messageModal .right.aarea .chatarea .innerchat .chat.you .msg i { color: #666; }
#messageModal .right.aarea .chatarea .innerchat .chat.that .msg i { color: #999; }

#messageModal .right.aarea .chatarea .innerchat .chat.loading .imgyou,
#messageModal .right.aarea .chatarea .innerchat .chat.loading .msg .im { opacity: .3; }
#messageModal .right.aarea .chatarea .innerchat .chat.loading .msg { position: relative; }
#messageModal .right.aarea .chatarea .innerchat .chat.loading .msg .loadbox { position: absolute; top: 0; left: 0; right: 0; margin-top: 25px; text-align: center; }
#messageModal .right.aarea .chatarea .innerchat .chat.loading .msg .loadbox .ld { display: inline-block; width: 32px; height: 32px; background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat; }


#messageModal .right.aarea.convos div.outchatlist {
	height: 440px; margin: 0 40px 0 50px; overflow-y: auto;
}

#messageModal .right.aarea.convos ul.chatlist {
	list-style: none; padding: 0 20px 0 0; margin: 0; display: block;
}

#messageModal .right.aarea.convos ul.chatlist li {
	display: block; margin-bottom: 14px; cursor: pointer;
}
#messageModal .right.aarea.convos ul.chatlist li .inner {
	height: 86px; border: 1px solid #DDD;  padding: 18px; position: relative; background: #fff;
}
#messageModal .right.aarea.convos ul.chatlist li.ur .inner {
	background: #F2F5F6;
}

#messageModal .right.aarea.convos ul.chatlist li .inner .img { position: relative; width: 50px; height: 50px; border-radius: 25px; background-position: center center; background-size: cover;  }
#messageModal .right.aarea.convos ul.chatlist li .inner .img .ipic-thumb {
  width: 100%;
  height: 100%;
  line-height: 50px;
  border: 1px solid #EEEEEE;
  font-size: 26px;
}
#messageModal .right.aarea.convos ul.chatlist li .inner .img svg { width: inherit; height: inherit; fill:#CCC; }
#messageModal .right.aarea.convos ul.chatlist li .inner .cinfo { width: 350px; margin-left: 10px;  }
#messageModal .right.aarea.convos ul.chatlist li.hasprod .inner .cinfo { width: 293px; }
#messageModal .right.aarea.convos ul.chatlist li.hasprod .inner .img2 { margin-left: 10px; border: 1px solid #ddd; width: 50px; height: 50px; background-position: center center; background-size: cover;  }
#messageModal .right.aarea.convos ul.chatlist li .inner .cinfo * { font-size: 12px; }
#messageModal .right.aarea.convos ul.chatlist li .inner .cinfo p { height: 38px; overflow: hidden; }
#messageModal .right.aarea.convos ul.chatlist li .inner .head { color: #999; display: block; }
#messageModal .right.aarea.convos ul.chatlist li .inner .head strong { color: #00A3D9; }
#messageModal .right.aarea.convos ul.chatlist li .inner .cinfo .head i { margin-left: 5px; font-style: normal; color: #999; }
#messageModal .right.aarea.convos ul.chatlist li .boxbot { margin: 0 4px; height: 4px; border: 1px solid #CCC; border-top: none; background: #F2F5F6; }
#messageModal .right.aarea.convos ul.chatlist li .topr { position: absolute; top: 0; right: 0; font-size: 11px; }
#messageModal .right.aarea.convos ul.chatlist li .topr * { float: right; vertical-align: middle; padding: 3px 8px; }
#messageModal .right.aarea.convos ul.chatlist li .new { background:url("/cdn/images/v3/bgpatnew.jpg"); color: #fff; display: none; }
#messageModal .right.aarea.convos ul.chatlist li .tt { color: #ddd; }

#messageModal .right.aarea.convos ul.chatlist li.ur .new { display: inline-block; }
#messageModal .right.aarea.convos ul.chatlist li.ur .boxbot { background: #ddd; }


