label{ font-weight: 300; cursor: default; margin: 0; font-size: 12px; }
.cartpops { 
	position: absolute; z-index: 999; position: absolute;
	float: left;
	width: 540px;
	/*min-height: 480px;*/
	border: 1px solid #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center; 
	padding:0;
	top: 40px;
}
.cartpops.preloader { background-image: url(/cdn/images/v3/colshopstyx-64.gif); }
.cartpops .popitem {
	width: 538px;
	margin: 0;
}

.cartpops .popitem .header-bg {
	height: 60px; padding: 10px; 
	display: table; width: 100%;
	background: url(/cdn/images/v3/bgchkdef.jpg);
	font-size: 14px;
}
.cartpops .popitem .header-bg div {
	display: table-cell;
	vertical-align: middle;
}

.cartpops .popitem .header-bg div *{
	vertical-align: middle;
}

.cartpops .popitem .header-bg div strong{
	font-weight: 600;
	display: inline-block;
	padding-bottom: 3px;
}

.cartpops .popitem .header-bg h2 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0;
}

.cartpops .popitem .header-bg h4 {
	font-size: 16px;
}

.cartpops .popitem .popcont p { font-size: 15px;}

.cartpops .popitem .header-bg div .img { width: 60px; height: 60px; margin-right: 20px; display: inline-block; background-repeat: no-repeat; background-size: cover; background-position: center center; }
.cartpops .popitem .popcont { padding: 20px 10px 18px 10px; }
.cartpops .popitem .popcont table { border: none; margin-bottom: 0; }
.cartpops .popitem .popcont table * { font-size: 12px; font-weight: 600; }
.cartpops .popitem .popcont table td { background: #f9f9f9; vertical-align: top;}
.cartpops .popitem .popcont table td.lbl { width: 110px; text-align: right;  }
.cartpops .popitem .popcont table td.lbl label { padding-top: 10px;}
.cartpops .popitem .popcont table td.col-inq-subj { padding-bottom: 25px; }
.cartpops .popitem .popcont table td .prod { background: #EEE; position: relative; overflow: hidden; }
.cartpops .popitem .popcont table td .prod .img { width: 50px; height: 50px; position: absolute; top: 10px; left: 10px; background-size: cover; background-position: center; background-repeat: no-repeat; }
.cartpops .popitem .popcont table td .prod .pinfo { padding: 10px; margin-left: 70px; min-height: 74px; width: 318px; }
.cartpops .popitem .popcont table td .prod .pinfo * { display: block; }
.cartpops .popitem .popcont table td .prod .pinfo strong { color:#00A3D8; }
.cartpops .popitem .popcont table td .prod .pinfo span {color: #777; font-weight: 300; }
.cartpops .popitem .popcont table td .prod select { width: 110%; height: 100%; opacity: 0; position: absolute; z-index: 1; top: 0; left: 0; }

.cartpops .popitem .popcont table td textarea { margin-bottom: 0; font-weight: 500;}
.cartpops .popitem .popcont table td.btns > * { margin-right: 19px; vertical-align: middle; }
.cartpops .popitem .popcont table td.btns > *:last-child { margin-right: 0; }
.cartpops .popitem .popcont table td button { width: 90px; height: 36px; line-height: 36px; text-align: center; padding: 0; margin-bottom: 0; font-size: 14px; font-weight: 300; }
.cartpops .popitem .popcont table td button.cw { border: 1px solid #CCC; color: #CCC; background: #fff; }
.cartpops .popitem.readpolicy .popcont { padding: 20px; }
.cartpops .popitem.readpolicy .popcont * { color: #444; }
.cartpops .popitem .popcont table .imgatt { width: 164px; display: inline-block; }
.cartpops .popitem .popcont table .imgatt .inf { width: 88px; float: left;  }
.cartpops .popitem .popcont table .imgatt .inf * { display: block; }
.cartpops .popitem .popcont table .imgatt .inf i { font-style: normal; #999; }
.cartpops .popitem .popcont table .imgatt .img { width: 36px; height: 36px; float: left; margin-left: 10px;  }

/* add to cart popup */
.global-shop-loader{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; }
.global-shop-loader .bg{ background-color: #FFFFFF; position: absolute; width: 100%; height: 100%; opacity: 0.8; }
.global-shop-loader .loader-box{ position: absolute; top: 38%; left: 0; width: 100%; height: 100%; z-index: 1; }

.global-cart-loadbox{ position: absolute; height: 100%; width: 100%; z-index: 100; }
.global-cart-loadbox .loading-product{ border: 0 none; border-radius: 6px; font-weight: 300; font-size: 14px; color: #CCCCCC; margin: 100px auto 0; padding: 0; position: relative; z-index: 10; top: 60px; width: 300px; min-height: 366px; }
.global-cart-loadbox .loading-product .loader-top{ width: 100%; height: 32px; margin-bottom: 20px }
.global-cart-loadbox .loading-product .loader-top .loader{ background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat; width: 32px; height: 32px; display: inline-block; vertical-align: middle; }
.global-cart-loadbox .loading-product .loader-top .load-txt{ font-size: 16px; display: inline-block; margin-left: 13px; vertical-align: middle; }
.global-cart-loadbox .loading-product .prod-img{ background-position: center center; background-repeat: no-repeat; background-size: cover; border: 1px solid #CCCCCC; width: 100%; height: 210px; display: block; margin-bottom: 12px; opacity: 0.5; }
.global-cart-loadbox .loading-product .prod-info .price{ font-size: 12px; width: 100%; margin-top: 8px; color: #DDDDDD; display: block; }
.webstore-page-modal .global-cart-loadbox .loading-product .global-loading-prod-title{ opacity: 0.5; }
.webstore-page-modal .global-cart-loadbox .loading-product .prod-info .price{ opacity: 0.5; }
.webstore-page-modal .u-prod-info-wrapper{ position: absolute; width: 100%; height: 100%; opacity: 0; overflow:hidden; border-radius: 2px 2px; }
.webstore-page-modal .u-prod-info{ position: relative; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; border: 25px solid #CCCFD7; }
.global-btn-withfade{-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.relative{ position: relative; }
.global-pro-listing{ float: left; width: 100% }
.global-pro-listing .info-bottom-wrapper{ background: url("/cdn/images/v3/bg-prod-list-bottom.png") repeat scroll 0 0 #FFFFFF; position: absolute; bottom: 0; left: 0; height: 50px; width: 100%; z-index: 1; }
.global-pro-listing .info-bottom{ height: 50px; width: 100%; display: table; }
.global-pro-listing .info-bottom .ibottom-box{ width: 100%; height: 50px; display: table }
.global-pro-listing .info-bottom .ibottom-bg{ width: 100%; height: 50px; display: table-cell; vertical-align: middle; }
.global-pro-listing .info-bottom .ibottom-bg .coll-lbl1, .global-pro-listing .info-bottom .ibottom-bg .coll-lbl2{ padding: 0 12px; height: 16px; }
.global-pro-listing .info-bottom .ibottom-bg .coll-lbl2{ font-size: 11px; color: #ccc; display: inline-block; }
.global-pro-listing .info-bottom .ibottom-bg .prod-name{ font-size: 12px; color: #444444; font-weight:400 !important; }
.global-pro-listing .info-bottom .ibottom-bg .price{ font-size: 12px; font-weight: 400; color: #777777; }
.global-pro-listing .info-bottom .ibottom-bg .base_price{ font-size: 11px; text-decoration: line-through; color: #ccc; }
.global-pro-listing .prod-border{ border: 1px solid #dddddd; border-radius: 2px 2px; margin-left: -1px; }
.global-pro-listing .prod-border:nth-child(3){ margin-top: -1px; }
.global-pro-listing .prod-border:nth-child(4){ margin-top: -1px; }
.global-pro-listing .li-prod .discnt{ top: auto; bottom: 58px; right: 13px; }
.global-pro-listing  .u-product{ background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; width: 100%; display: block; }

.global-plist-three .u-product-height-home{ height: 375px; }
.global-plist-three-b .u-product-height-home{ height: 291px; }
.global-plist-three:hover{ opacity: 0.9; }
.global-plist-five .u-product-height-home{ height: 187px; }
.global-plist-five:hover{ opacity: 0.9; }
.global-plist-five-b .u-product-height-home{ height: 145px; }

.global-plist-three .u-pro-home .u-prod-info{ border: 0 none; }
.global-plist-three .u-pro-home .u-prod-info-padding1 { padding: 32px 34px; }
.global-plist-three .u-pro-home .bg-opac{ background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 transparent; }
.global-plist-three .promote-btn-box{ opacity: 0; }

.global-plist-five .u-pro-home .u-prod-info{ border: 0 none; }
.global-plist-five .u-pro-home .u-prod-info-padding1 { padding: 19px 20px 15px; }
.global-plist-five .u-pro-home .bg-opac{ background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 transparent; }
.global-plist-five .promote-btn-box{ opacity: 0; }
.global-plist-five .u-prod-info{ display: block; }
.global-plist-five .tp{ position: absolute; bottom: 0; left: -0.5%; color: #444444; font-size: 12px; width: 101%; }
.global-plist-five .tp .bg{ background: url("/cdn/images/v3/bg-prod-list-bottom.png") repeat scroll 0 0 #ffffff; position: absolute; width: 100%; height: 100%; opacity: 0.9; }
.global-plist-five .tp .tp-content{ float: left; position: relative; width: 100%; height: 100%; padding: 10px 14px; z-index: 1; }
.global-plist-five .tp .tp-content span{ float: left; width: 100%; margin-bottom: 4px; }
.global-plist-five .tp .tp-content strong{ float: left; display: inline; margin-right: 4px; }
.global-plist-five .tp .tp-content strong.base_price{ text-decoration: line-through; font-size: 10px; opacity: 0.6; }
.global-plist-five-b .u-prod-info-wrapper{ opacity: 1; }
.global-plist-five-b .tp{ font-size: 11px; }
.global-plist-five-b:nth-child(n+3){ margin-top: 0 !important; }
.global-plist-five-b:nth-child(4){ clear: both; }
.global-plist-five-b:nth-child(n+4){ margin-top: -1px !important; }
.global-plist-five-b .info-bottom-wrapper{ border-radius: 0; }

.addtocart-popup-modal .modalDialog-content{ background: #FFFFFF; min-height: 540px; max-width: 782px; box-shadow: 0 0 3px 0 #aaaaaa; }
.atc-wrapper .mod-head{ background: url('/cdn/images/v3/addtocart-bg.png') repeat scroll 0 0 transparent; float: left; width: 100%; min-height: 170px; border: 1px solid #FFFFFF; border-bottom: 0 none; padding: 19px 24px 17px 24px; }
.atc-wrapper .vline{ background-color: #EEEEEE; float: left; width: 100%; height: 1px; }
.atc-wrapper .mod-head .mod-left{ position: relative; width: 438px; min-height: 133px; }
.atc-wrapper .mod-head .hline{ background-color: #EEEEEE; position: absolute; top: 0; right: 0; width: 1px; height: 100%; }
.atc-wrapper .mod-head .checked{ float: left; display: inline-block; margin: 6px 8px 0 0; }
.atc-wrapper .mod-head .checked svg{ float: left; width: 36px; height: 32px; }
.atc-wrapper .mod-head .checked svg polygon{ fill: #EE666C; }
.atc-wrapper .mod-head .new-item-add-lbl{ float: left; width: 280px; font-size: 16px; margin-top: 2px; display: inline-block; }
.atc-wrapper .mod-head .cart-prod-info-wrapper{ padding-left: 2px; min-height: 71px; width: 100%; margin-top: 20px; }
.atc-wrapper .mod-head .cart-prod-img{ background-color: #EEEEEE; background-position: center center; background-repeat: no-repeat; background-size: cover; width: 62px; height: 62px; margin-right: 16px; border: 1px solid #CCCCCC; }
.atc-wrapper .mod-head .cart-prod-info{ width: 332px; height: 62px; }
.atc-wrapper .mod-head .cart-tbl-cell{ width: 332px; height: 62px; }
.atc-wrapper .mod-head .cart-tbl-cell .title{ float: left; display: inline; margin-bottom: 6px; font-weight: 400; text-decoration: none; width: auto; }
.atc-wrapper .mod-head .cart-tbl-cell .price-from{ display: inline-block; margin-bottom: 6px; clear: both; }
.atc-wrapper .mod-head .cart-tbl-cell .option-lbl{ display: inline-block; font-size: 11px; }
.atc-wrapper .mod-head .cart-tbl-cell a{ text-decoration: underline; }
.atc-wrapper .mod-head .cart-tbl-cell strong{ font-weight: 400; }
.atc-wrapper .mod-head .mod-right{ position: relative; width: 292px; min-height: 133px; }
.atc-wrapper .mod-head .mod-right .cont-shop-lbl{ float: right; font-size: 14px; display: inline-block; margin: 4px 0 25px 0; cursor: pointer; }
.atc-wrapper .mod-head .mod-right .cont-shop-lbl:hover{ text-decoration: underline; }
.atc-wrapper .mod-head .mod-right .item-lbl{ width: 100%; text-align: left; font-size: 12px; display: block; margin: 0 0 7px 22px; clear:both; }
.atc-wrapper .mod-head .mod-right .cart-view, 
.atc-wrapper .mod-head .mod-right .cart-chkout{ display: block; width: 130px; height: 36px; line-height: 36px; font-size: 14px; font-weight: 400; text-align: center; margin-left: 10px; border-radius: 2px; }
.atc-wrapper .mod-content{ padding: 22px 30px 30px 28px; }
.atc-wrapper .mod-content .like-lbl{ font-weight: 400; font-size: 12px; margin: 0 0 9px 0; }

.webstore-page-modal { background: #FFFFFF; }
.webstore-page-modal .hline{ opacity: 0.2; }
.webstore-page-modal .global-pro-listing .info-bottom-wrapper{ opacity: 0.9; }
.webstore-page-modal .mod-head .cart-tbl-cell .option-lbl{ opacity: 0.8; }
.webstore-page-modal .info-bottom .ibottom-bg .base_price{ opacity: 0.4; }
.webstore-page-modal .coll-lbl2 a{ opacity: 0.4; }
.webstore-page-modal .tp-content span{ opacity: 0.7; }
.webstore-page-modal .tp-content strong{ opacity: 0.8; font-weight: 400; }

/* style for add to collection */
.message-loader { background-color: #FFFFFF; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 999; }
.add-to-collection-modal .modalDialog-content{ border: 0 none; }
.add-to-collection-modal .stick-content-b .left-wrapper{ border: 1px solid #dddddd; border-right: 4px solid #e5e7ed; }
.add-to-collection-modal .stick-content-b .right-wrapper{ border: 1px solid #00A3D9; width: 520px; }
.add-to-collection-modal .add-this-arrow{ background: url('/cdn/images/v3/common.png') no-repeat scroll -95px -155px transparent; position: absolute; top: 21px; right: -42px; width: 54px; height: 44px; display: block; z-index: 1;}
.add-to-collection-modal .add-this-arrow.top31{ top: 31px; }
.add-to-collection-modal  .add-this-lbl{ font-size: 14px; color: #AAAAAA; font-weight: 100; position: absolute; top: 20px; left: 48px; z-index: 1; }
.stick-content-b .right-wrapper .collection-wrapper-a ul li:hover{ background-color: #00A3D9; border: 1px solid #0078A3; box-shadow: 0 0 0 1px #0078A3; -moz-box-shadow: 0 0 0 1px #0078A3; -webkit-box-shadow: 0 0 0 1px #0078A3; }
.stick-content-b .right-wrapper .collection-wrapper-a ul li.active{ background-color: #00A3D9; border: 1px solid #0078A3; box-shadow: 0 0 0 1px #0078A3; -moz-box-shadow: 0 0 0 1px #0078A3; -webkit-box-shadow: 0 0 0 1px #0078A3; }
.stick-content-b .right-wrapper .right-head{ background-color: #00a3d9; float: left; display: table; width: 100%; height: 80px; padding: 0 18px 0 50px; }
.stick-content-b .right-wrapper .right-head div{ display: table-cell; vertical-align: middle; font-size: 16px; }
.stick-content-b .right-wrapper .right-head div strong{ font-weight: 600; color: #000000; }
.stick-content-b .right-wrapper .right-head div a{ color: #ffffff; text-decoration: underline; }
.stick-content-b .right-wrapper .right-head .back{ float: right; font-size: 12px; color: #545454; display: inline; cursor: pointer; }
.stick-content-b .right-wrapper .right-head .close{ float: right; font-size: 38px; color: #ffffff; margin-left: 15px; display: inline; line-height: 12px; cursor: pointer; }

.stick-content-b .right-wrapper .right-content .share-wrapper{ float: left; width: 100%; padding: 23px 50px 0; }
.stick-content-b .right-wrapper .right-content .share-wrapper .share-lbl{ float: left; color: #777777; width: 100%; font-size: 14px; margin: 0 0 8px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share{ float: left; width: 282px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common,
.stick-content-b .right-wrapper .right-content .share-wrapper .right-share .share-mail{ background-color: #c1c1c1; float: left; width: 120px; height:70px; display: block; margin: 0 21px 19px 0; cursor: pointer; text-align: center; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .fb,
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .gplus,
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .twt,
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .pin,
.stick-content-b .right-wrapper .right-content .share-wrapper .right-share .share-mail .mail{ background: url("/cdn/images/v3/common.png") no-repeat scroll -12px -89px transparent; width: 12px; height: 21px; margin-top: 23px; display: inline-block; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .gplus{ background-position: -30px -91px; width: 21px; height: 19px; margin-top: 24px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .twt{ background-position: -89px -89px; width: 17px; height: 15px; margin-top: 27px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share .share-common .pin{ background-position: -117px -88px; width: 17px; height: 17px; margin-top: 25px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .right-share{ float: left; width: 132px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .right-share .share-mail{ width: 132px; height: 159px; margin: 0; }
.stick-content-b .right-wrapper .right-content .share-wrapper .right-share .share-mail .mail{ background-position: -164px -44px; width: 34px; height: 22px; margin-top: 63px; }
.stick-content-b .right-wrapper .right-content .embed-wrapper{ float: left; width: 100%; padding: 7px 51px 0; }
.stick-content-b .right-wrapper .right-content .embed-wrapper label{ float: left; color: #777777; font-size: 14px; margin: 0; }
.stick-content-b .right-wrapper .right-content .embed-wrapper span{ float: right; color: #cccccc; font-size: 11px; line-height: 19px; }
.stick-content-b .right-wrapper .right-content .embed-wrapper textarea{ float: left; color: #aaaaaa; width: 100%; height: 90px; font-size: 12px; border: 1px solid #DDDDDD; padding: 10px 8px; margin: 8px 0 0 0; }

.stick-content-b .right-wrapper .promote-share-prod .right-promote{ background: url('/cdn/images/v3/promote-bg.png') repeat scroll 0 0; float: left; width: 100%; height: 150px; padding: 26px 68px 0 75px; text-align: center; }
.stick-content-b .right-wrapper .promote-share-prod .right-promote .get-lbl{ float: left; width: 100%; font-size: 26px; line-height: 28px; font-weight: 400; color: #444444; display: block; }
.stick-content-b .right-wrapper .promote-share-prod .right-promote .for-lbl{ float: left; width: 100%; font-size: 22px; line-height: 24px; color: #444444; display; block; }
.stick-content-b .right-wrapper .promote-share-prod .right-promote .h-line{ float: left; width: 100%; height: 1px; margin: 3px 0 10px; border-bottom: 1px dotted #BBBBBB; }
.stick-content-b .right-wrapper .promote-share-prod .right-promote .reward-lbl{ float: left; width: 100%; font-size: 12px; line-height: 14px; color: #666666; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper{ float: left; width: 100%; padding: 20px 44px 0; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .share-lbl{ color: #888888; margin: 0 0 4px; }
.stick-content-b .right-wrapper .right-content .share-wrapper .left-share{ width: 282px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share .share-common,
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .right-share .share-mail{ background-color: #C6C6C6; width: 89px; height:72px; display: block; margin: 0 9px 8px 0; cursor: pointer; text-align: center; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .right-share .share-mail{ width: 232px; height: 54px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share .share-common .fb{ margin-top: 25px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share .share-common .gplus{ margin-top: 27px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share .share-common .twt{ margin-top: 28px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share .share-common .pin{ margin-top: 28px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .right-share .share-mail .mail{ margin-top: 16px; display: inline-block; vertical-align: middle; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .right-share .share-mail label{ color: #ffffff; display: inline-block; font-size: 14px; margin: 16px 0 0 12px; vertical-align: middle; cursor: pointer; }
.stick-content-b .right-wrapper .promote-share-prod .embed-wrapper{ float: left; width: 233px; padding: 0; }
.stick-content-b .right-wrapper .promote-share-prod .embed-wrapper label{ float: left; color: #999999; font-size: 11px; line-height: 16px; margin-bottom: 2px; }
.stick-content-b .right-wrapper .promote-share-prod .embed-wrapper span{ color: #BABABA; display: inline-block; line-height: 16px; margin-left: 4px; }
.stick-content-b .right-wrapper .promote-share-prod .embed-wrapper textarea{ background-color: #F5F5F5; float: left; color: #AAAAAA; width: 233px; height: 72px; font-size: 12px; border: 2px solid #CCCCCC; padding: 6px 7px; margin: 0; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper{ float:left; position: relative; width: 100%; padding: 44px 64px 0 65px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper label{ float: left; width: 100%; font-weight: 400; color: #444444; margin-bottom: 10px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper label span{ color: #AAAAAA; font-weight: 300; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper input{ float: left; width: 100%; height: 36px; padding: 0 9px; margin-bottom: 25px; border: 1px solid #CCCCCC; font-size: 12px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper textarea{ float: left; width: 100%; height: 62px; padding: 10px 9px; margin-bottom: 30px; border: 1px solid #CCCCCC; font-size: 12px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper div{ float: left; width: 100%; font-weight: 300; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper div small.error, small.error2{ font-size: 11px; line-height: inherit;  margin: 0; padding: 0; top: 2px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper div small.error2{ color: red; display: block; position: absolute; right: 0; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper div .send{ float: right; width: 120px; height: 40px; padding: 0; font-size: 14px; border-radius: 2px; }
.stick-content-b .right-wrapper .promote-share-prod .email-form-wrapper div .cancel{ float: right; line-height: 40px; margin-right: 31px; text-align: center; font-size: 14px; color: #999999; cursor: pointer; }
.stick-content-b .right-wrapper .promote-share-prod .email-success{ float: left; width: 100%; padding: 51px 65px 0 60px; text-align: center; }
.stick-content-b .right-wrapper .promote-share-prod .email-success h2{ float: left; width: 100%; font-size: 22px; line-height: 24px; color: #444444; margin-bottom: 16px; font-weight: 400; }
.stick-content-b .right-wrapper .promote-share-prod .email-success span{ float: left; width: 100%; font-size: 16px; line-height: 18px; color: #444444; margin-bottom: 48px; }
.stick-content-b .right-wrapper .promote-share-prod .email-success button{ width: 120px; height: 40px; padding: 0; margin: 0; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.stick-content-b .right-wrapper .promote-share-prod .share-wrapper .left-share{ width: 196px; }
.stick-content-b .right-wrapper .promote-share-prod .like-more-prod{ float: left; width: 100%; padding: 0 44px; }
.stick-content-b .right-wrapper .promote-share-prod .like-more-prod .like-lbl{ float: left; width: 100%; font-size: 12px; margin: 0 0 2px; }
.stick-content-b .right-wrapper .promote-share-prod .global-plist-three-b .u-product-height-home{ height: 151px; }
.stick-content-b .right-wrapper .promote-share-prod .global-plist-five-b .u-product-height-home{ height: 95px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper{ padding: 40px 44px 0; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share{ width: 237px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share .share-common, 
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .right-share .share-mail{ width: 109px; height: 62px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .right-share .share-mail{ height: 132px; width: 192px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share .share-common .fb{ margin-top: 20px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share .share-common .gplus{ margin-top: 22px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share .share-common .twt{ margin-top: 17px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .left-share .share-common .pin{ margin-top: 17px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .right-share .share-mail .mail,
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .share-wrapper .right-share .share-mail label{ margin-top: 55px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .embed-wrapper{ margin-top: 22px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .embed-wrapper label{ margin-bottom: 11px; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .embed-wrapper{ width: 100%; }
.stick-content-b .right-wrapper .promote-share-prod.for-extr-prod .embed-wrapper textarea{ height: 62px; width: 100%; }