.options-wrapper.shop { height: 210px; min-height: 210px; padding-bottom: 36px; }
.shop-header { width: 100%; height: 100%; }
.shop-header .inner { vertical-align: middle; }
.shop-header .inner.left-container {  }
.shop-header .inner.left-container2 { } 
.shop-header .inner.right-container { float: left; width: 100%; position: relative; }
.shop-header .inner.right-container2 { width: 345px; padding-right: 31px; }
.shop-header .inner .thumb { display: block; overflow: hidden;  width: 97px; height: 96px; margin-right: 32px; background-color: #ffffff; background-size: contain; background-repeat: no-repeat; background-position: 50%; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.shop-header .inner .thumb img { max-height: 150px; width: 150px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;  }
.shop-header .inner .shop-info-wrapper { /*padding:8px 0 0;*/ }
.shop-header .inner .shop-name { line-height: 28px; min-height: 28px; color: #444444; font-weight: 300; }
.shop-header .inner .shop-name a { float: left; position: relative; color: #444; font-size: 28px; margin-right: 12px; }
.shop-header .inner .shop-name .username { font-size: 16px; color: #999999; margin-left: 10px;}
.shop-header .inner .store-url { font-size: 14px; display: inline-block; margin-top: 3px; }
.shop-header .inner .store-url.color10 { color: #BBB; }
.shop-header .inner .shop-address { color: #777; margin-top: 3px; font-size: 11px; }
.shop-header .inner .social-account-wrapper { height: 28px; line-height: 28px; }
.shop-header .inner .social-account-wrapper a { float: left; width: 27px; height: 27px; display: block; margin-right: 4px; background: url("/cdn/images/v3/common.png") no-repeat; }
.shop-header .inner .social-account-wrapper a.fb { background-position: 0 -83px; }
.shop-header .inner .social-account-wrapper a.gplus { background-position: -28px -83px; }
.shop-header .inner .social-account-wrapper a.linkedin { background-position: -56px -83px;}
.shop-header .inner .social-account-wrapper a.tw { background-position: -84px -83px; }
.shop-header .inner .social-account-wrapper a.pinterest { background-position: -112px -83px; }
.shop-header .inner .claim-btn { margin-top: 10px; display: block; color: #00A3D9; }
.shop-header .inner .claim-btn span{ cursor: pointer; }
.shop-header .inner .follow-btn { background-color: #00A3D9; color: #FFFFFF; float: right; cursor: pointer; width: 140px; height: 40px; line-height: 40px; text-align: center; display: block; font-size: 14px; margin-left: 16px; border-radius: 3px; }
.shop-header .inner .unfollow{ background-color: #FFFFFF; color: #00A3D9; border: 1px solid #00A3D9; position: relative; }
.shop-header .inner .unfollow-bg{ background-color:#00A3D9; color: #FFFFFF; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; display: none; }
.shop-header .inner .unfollow:hover  .unfollow-bg{ display: block; }
.shop-header .inner .total-follower-text { float: right; line-height: 40px; height: 40px; color: #00A3D9; font-weight:300; }
.shop-header .inner .total-follower-text:hover { border-bottom: 1px solid #00A3D9; }
.shop-header .inner .total-follower-num { float: left; font-size: 22px; margin-right: 6px; line-height: 38px; }
.shop-header .inner .follower-text { font-size: 14px;float: left; }
.shop-header .inner .follow-link { display: inline-block; width: 128px; height: 50px; line-height: 50px; text-align: center; color: #00A3D9; font-size: 14px; background-color: #F2F5F6; float: left; margin-right: 4px; border: 1px solid #FFF;  }
.shop-header .inner .follow-link.selected,
.shop-header .inner .follow-link:hover { color: #F2F5F6; background-color: #00A3D9; border-color:#00A3D9; }
.shop-header .inner .manage-btn, .shop-header .inner .manage-link-btn { float: right; color: #FFF; background-color: #00A3D9; display: block; width: 140px; height: 40px; line-height: 40px; text-align: center; font-size: 12px; margin-left: 16px; border-radius: 3px; }
.shop-header .inner .contact-btn { background-color: #EE666C; color: #FFFFFF; float: right; cursor: pointer; width: 140px; height: 40px; line-height: 40px; text-align: center; display: block; font-size: 12px; margin: 11px 0 0 0; border-radius: 3px; }
.shop-header .inner .contact-btn .icon { background: url("/cdn/images/v3/common.png") no-repeat scroll 0 -111px transparent; display: inline-block; height: 20px; margin: 0 6px; vertical-align: middle; width: 24px; }
.shop-header .inner .edit-btn { float: left; cursor: pointer; display: block; width: 50px; height: 27px; line-height: 27px; text-align: center; border-radius: 2px; color: #00A3D9; background-color: #F2F5F6; font-size: 12px; border: 1px solid #DDDDDD; margin-left: 8px; }
.shop-header .inner .edit-btn.add-social-acct { width: 160px; }
.shop-header .inner .shop-desc-wrapper { width: 100%; }
.shop-header .inner .shop-desc-entry { position: relative; width: 100%; }
.shop-header .inner .shop-desc-entry .loader{ background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat scroll center center; position: absolute; width: 90%; height: 58px; z-index: 2; }
.shop-header .inner .shop-desc-entry textarea { border:1px solid #CCC; width: 90%; height: 43px; margin:15px 0 0; font-size: 12px; padding: 0.2em 0.5em; }
.shop-header .inner .addupdate { position: absolute; top: 0; right: -50px; width: 110px; display: block; }

.shop-header .inner .shop-desc-text { color: #999999; font-size: 12px; position: relative; width: 88%; margin-top: 7px; max-height: 50px; overflow: hidden; line-height: 17px; }
.shop-header .inner.right-container .bgoverlay { display: none; background-color: #FFF; opacity: 0.8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1}
.shop-header .inner.right-container .desc { display: none; position: absolute; top: 28%; left: 46%; z-index: 2; }
.shop-header .inner.right-container:hover .bgoverlay,
.shop-header .inner.right-container:hover .desc  { display: block; }

.product-listing.storepage-products h4.hdr-label { color: #777777; font-size: 14px; margin: 10px 0 43px; }
.product-listing.storepage-products .top-content { height: 323px; margin-bottom: 53px; position: relative; }
.product-listing.storepage-products .top-content .contributors-container { position: absolute; right: 0; top: 0; z-index: 2; width: 212px; height: 323px; background-color: #F2F5F6; padding: 37px 25px 0 29px; }
.product-listing.storepage-products .top-content .contributors-container div { font-size: 14px; color: #444444; margin-bottom: 12px; }
.product-listing.storepage-products .top-content .contributors-container ul { margin:0; padding: 0; list-style: none none; }
.product-listing.storepage-products .top-content .contributors-container ul li { width: 48px; height: 48px; float: left; margin:0 7px 7px 0; }
.product-listing.storepage-products .top-content .contributors-container ul li:nth-child(3n) { margin-right: 0; }
.product-listing.storepage-products .top-content .contributors-container ul li.notclickable { cursor: default; }
.product-listing.storepage-products .top-content .contributors-container ul li.notclickable a { height: auto; display: inline; }
.product-listing.storepage-products .top-content .contributors-container ul li a { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: contain; color: #00A3D8; font-size: 14px; line-height: 48px; }
.product-listing.storepage-products .top-content .contributors-container ul li a .ipic-thumb { width: 100%; height: 100%; border-radius: 0; -webkit-border-radius: 0;}

.product-listing.storepage-products .top-content .trending-container { float: left; width: 100%; height: 323px; padding-right: 212px; position: relative; overflow: hidden;  }
.product-listing.storepage-products .top-content .trending-container ul { width: 100%; height: 323px; margin: 0; padding: 0; list-style: none none; position: relative; top: 0; left: 0 }
.product-listing.storepage-products .top-content .trending-container ul li { width: 928px; height: 100%; float: left; }
.product-listing.storepage-products .top-content .trending-container ul li .outer-box { width: 928px; height: 323px; }
.product-listing.storepage-products .top-content .trending-container .thumb { background-size: cover; background-repeat: no-repeat; background-position: center center;  width: 590px; height: 323px; display: block; float: left; }
.product-listing.storepage-products .top-content .trending-container .details { margin: 7px 21px; width: 296px; font-weight: 300; float: left; }
.product-listing.storepage-products .top-content .trending-container .details a { color: #444444; font-size: 22px; line-height: 26px; }
.product-listing.storepage-products .top-content .trending-container .details .price { color: #777777; font-size: 18px; margin: 7px 0 26px; }
.product-listing.storepage-products .top-content .trending-container .details .desc { color: #777777; font-size: 15px; }
.product-listing.storepage-products .top-content .trending-container .nav { position: absolute; height: 16px; bottom: 11px; left: 611px; }
.product-listing.storepage-products .top-content .trending-container .nav span { border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 16px; height: 16px; background-color: #E5E7ED; float: left; margin-right: 8px; cursor: pointer; }
.product-listing.storepage-products .top-content .trending-container .nav span.active { background-color: #00A3D9; }

.product-listing.storepage-products .top-content .trending-container.fulldisplay { padding-right: 0; }
.product-listing.storepage-products .top-content .trending-container.fulldisplay ul li { width: 1140px; }
.product-listing.storepage-products .top-content .trending-container.fulldisplay ul li .outer-box { width: 100%; }
.product-listing.storepage-products .top-content .trending-container.fulldisplay .nav { left: 640px; }

.product-listing.storepage-products .top-content .trending-container .thumb { width: 54%; }
.product-listing.storepage-products .top-content .trending-container .details { width: 32%; }


.product-listing.storepage-contributors ul { margin: 0; padding: 0; list-style: none none;  width: 100%; }
.product-listing.storepage-contributors ul li { width: 100%; height: 176px; display: table; }
.product-listing.storepage-contributors ul li .tbl-cell {  height: 176px; border-top: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; vertical-align: middle;  }
.product-listing.storepage-contributors ul li .tbl-cell.thumb { width: 420px; background: url("/cdn/images/v2/sign-reg-bg.png") repeat scroll 0 0 #CCCCCC; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb a.thumb { float: left; width: 91px; height: 91px; display: inline-block; margin: 39px 31px 0; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; background-size: contain; background-position: center; center; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details { float: left; /*width: 268px;*/ font-weight: 300; display: table; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .tbl-cell { vertical-align: middle; border: 0 none; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details a { color:#444444; font-size: 20px; position: relative; top: -3px; line-height: 10px; margin-bottom: 7px; display: block; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .username { color: #999999; font-size: 14px; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .btn-follow { background-color: #00A3D9; color: #FFF; text-transform: uppercase; width: 98px; height: 30px; line-height: 30px; margin-top: 8px; font-size: 14px; text-align: center; cursor: pointer; position: relative; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .btn-follow.unfollow { background-color: #F2F5F6; color: #00A3D9; text-transform: uppercase; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .btn-follow.unfollow span { display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.product-listing.storepage-contributors ul li .tbl-cell.thumb .details .btn-follow.unfollow:hover > span { display: block; background-color: #00A3D9; color: #FFF; }

.product-listing.storepage-contributors ul li .tbl-cell.products { padding:31px 0 0 36px; width: 717px; vertical-align: top; }
.product-listing.storepage-contributors ul li .tbl-cell.products .pdetails-img-wrapper{ padding-right: 3px; margin-bottom: 3px; }
.product-listing.storepage-contributors ul li .tbl-cell.products a { display: block; float: left; height: 111px; text-align: center; background-size: contain; background-position: center center; background-repeat: no-repeat;  }
.product-listing.storepage-contributors ul li .tbl-cell.products .pdetails-img-wrapper:nth-child(6) a{ background: url("/cdn/images/v3/bg4.png") repeat scroll 0 0 #E5E7ED; color: #00A3D8; border: 1px solid #DDDDDD; font-weight: 300; padding-top: 24px; }
.product-listing.storepage-contributors ul li .tbl-cell.products a .total-products { font-size: 20px; }


#claimedShopModal { position: fixed; top: 0; left: 0; width: 100%; min-height:100%; z-index: 99; background-color: #E5E7ED; overflow: hidden; overflow-y: auto; }
#claimedShopModal #modal-main-top-bg { position: absolute; margin: 0; }
#claimedShopModal .content { margin: 0 auto; width: 995px; min-height: 95%; position: absolute; top: 26px; }
#claimedShopModal .content.loader { background: url("/cdn/images/v3/colshopstyx-64.gif") no-repeat center center #FFF; min-height: 80%; }
#claimedShopModal .content .top-content {font-size: 16px; color: #444444; }
#claimedShopModal .content .top-content .floatleft { line-height: 30px; }
#claimedShopModal .content .top-content .floatleft a { font-size: 14px; }
#claimedShopModal .closebtn, #claimedShopModal .closebtn-link { width: 95px; height: 30px; line-height: 30px; text-align: center; float: right; margin-top:0; cursor: pointer; font-size: 12px; box-shadow: 0 0 4px 1px #CCCCCC; }
#claimedShopModal .sell-to-link { background-color: #EE666C; color: #FFFFFF; width: 140px; height: 38px; line-height: 38px; text-align: center; float: right; margin: -4px 10px 0 0; border-radius: 1.5px; cursor: pointer; font-size: 12px; font-weight: 400; display: inline-block; }
#claimedShopModal .bottom-content { width: 100%; min-height: 100%; margin: 13px auto 0; position: relative; }
#claimedShopModal .bottom-content .inner { width: 995px; height: 100%; margin: 0 auto; border: 1px solid #cccccc; display: table; min-height: 350px; box-shadow: 0 0 4px 1px #CCCCCC; }
#claimedShopModal .bottom-content .leftmenu-wrapper { /*float: left;*/ display: table-cell; vertical-align: top; height: 100%; width: 133px; border-right: 1px solid #DDDDDD; background: url("/cdn/images/v3/wiz-bg.png") repeat scroll 0 0 #E5E7ED; position: relative; left: -1px; -webkit-box-shadow: -4px 0 9px -7px rgba(0, 0, 0, 0.4) inset; box-shadow: -4px 0 9px -7px rgba(0, 0, 0, 0.4) inset; }
#claimedShopModal .bottom-content .leftmenu-wrapper ul { list-style: none none; margin:0; padding: 0; }
#claimedShopModal .bottom-content .leftmenu-wrapper li { width: 133px; height: 60px; line-height: 60px; position: relative; padding-left: 18px; border-bottom: 1px solid #DDDDDD; font-size: 14px; cursor: pointer; }
#claimedShopModal .bottom-content .leftmenu-wrapper li div { width: 100%; height: 100%; }
#claimedShopModal .bottom-content .leftmenu-wrapper li.selected { background-color: #FFF; }
#claimedShopModal .bottom-content .leftmenu-wrapper li.selected div { background-color: #FFF; color: #444444; width: 116px; }
#claimedShopModal .subcontent { width: 860px; min-height: 100%; padding: 24px 0 0 35px; display: table-cell; }
#claimedShopModal .subcontent.loader { background: url("/cdn/images/v3/colshopstyx-64.gif") no-repeat center center #FFF; }
#claimedShopModal .subcontent h4 { font-size: 14px; float: left; line-height: 34px !important; margin:0; line-height: normal; }
#claimedShopModal .subcontent h4.collection_name { width: 245px; margin-top: 5px;}
#claimedShopModal .topwrapper { margin-bottom: 21px; }
#claimedShopModal .topwrapper .tip { line-height: 34px; margin-right: 18px; color:#CCCCCC; float: right; }
#claimedShopModal #create-collection-btn { width: 184px; height: 34px; line-height: 34px; float: right; text-align: center; margin-right: 38px; position: relative; cursor: pointer; }
#claimedShopModal .btn-back { width: 95px; height: 30px; line-height: 30px; float: right; text-align: center;  margin-right: 38px; cursor: pointer; }

#claimedShopModal .collection-entry { cursor: default; width: 226px; height: 205px; position: absolute; z-index: 4; top: 38px; right: 0; border: 1px solid #BBBBBB; background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #CCC; padding:28px 21px 17px; }
#claimedShopModal .collection-entry.saving { background: url("/cdn/images/v3/colshopstyx-32.gif") no-repeat center 26px #FFF; padding-top: 52px;color: #000; font-size: 11px;}
#claimedShopModal .collection-entry .savestatus { display: none; color: #AAA; }
#claimedShopModal .collection-entry.saving .savestatus  { display: block; }
#claimedShopModal .collection-entry.saving form { display: none; }
#claimedShopModal #create-collection-btn .savedstatus { position: absolute; top: 35px; color: #00A3D9; left: 0; line-height: normal; font-size: 11px; background-color: #CCC; width: 100%; padding: 1px 0; font-weight: 400; cursor: default; }
#claimedShopModal .error-collection { position: absolute; top: 12px; right: 24px; color:#FF0000; font-size: 11px; line-height: 14px; }
#claimedShopModal .collection-entry input { width: 180px; height: 30px; font-size: 12px; margin-bottom: 15px; padding: 0 8px; line-height: normal; }
#claimedShopModal .collection-entry textarea { width: 180px; height: 64px; font-size: 12px; margin-bottom: 15px; }
#claimedShopModal .collection-entry button { width: 115px; height: 30px; line-height: 30px; padding: 0; font-size: 12px; float: right; color: #FFF; text-align: center; }
#claimedShopModal .collection-entry span { margin-right: 14px; line-height: 30px; float: right; cursor: pointer; font-size: 12px; }
#claimedShopModal .collection-entry span:hover { text-decoration: underline; }

/* product listing */
.shop-product-list { list-style: none none; padding: 0; margin: 0 0 40px; }
.shop-product-list li.products { width: 257px; height: 257px; float: left; cursor: default; margin-right: 7px; margin-bottom: 7px; line-height: normal; font-size: 12px; position: relative; border: 1px solid #D8DAE0; background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: scroll; }
.shop-product-list li.products:nth-child(3n) { margin-right: 0; }
.shop-product-list li .bottominfo { position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; display: block; }
.shop-product-list li:hover .bottominfo { display: none; }
.shop-product-list li .bottominfo .bg { width: 100%; height:50px; background: url("/cdn/images/v3/bg-menu-selected.png") repeat scroll 0 0 #E5E7ED; opacity: 0.9; position: relative; z-index: 1; }
.shop-product-list li .bottominfo .info { position: absolute; top: 0; left: 0; width: 100%; height: 50px; padding: 9px 12px 0 10px; z-index: 2; }
.shop-product-list li .bottominfo .pnc { float: left; width: 158px; }
.shop-product-list li .bottominfo .pnc .pname { margin-bottom: 2px; width: 158px; }
.shop-product-list li .bottominfo .pnc .ptcn span { float: left; background: url('/cdn/images/v3/common.png') no-repeat scroll -257px -16px transparent; display: inline-block; width: 14px; height: 14px; margin: 0 5px 0 1px; }
.shop-product-list li .bottominfo .pnc .ptcn span.internal { background-position: -257px 0; }
.shop-product-list li .bottominfo .pnc .ptcn div { float: left; display: inline-block; font-size: 11px; line-height: 14px; width: 132px; }
.shop-product-list li .bottominfo .price { float: right; text-align: right; width: 75px; font-weight: 400; }
.shop-product-list li .bottominfo .base_price { float: right; text-align: right; width: 75px; font-weight: 300; font-size: 11px; text-decoration: line-through; }
.shop-product-list li:hover .hoverstate { display: block; }
.shop-product-list li .hoverstate { width: 100%; height: 100%; position: absolute; z-index: 3; display: none; }
.shop-product-list li .hoverstate .bg { display: block; width: 100%; height: 100%; position: absolute; top: 0; left:0; z-index: 1; background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 transparent; }
.shop-product-list li .hoverstate .info { display: block; position: absolute; z-index: 2; width: 100%; height: 100%; padding: 25px 23px; }
.shop-product-list li .hoverstate .info .pname { font-size: 16px; margin-bottom: 10px; display: block; color: #00A3D9; }
.shop-product-list li .hoverstate .info .price { font-size: 14px; font-weight: 400; }
.shop-product-list li .btn { background-color: #00A3D9; color: #FFF; text-align: center; font-size: 12px; }

.shop-product-list li .hoverstate .info .btn-wrapper { position: absolute; bottom: 16px; left: 0; width: 100%; height: 38px; padding: 0 26px; }
.shop-product-list li .hoverstate .info .btn-assign-to { float: left; width: 106px; height: 38px; line-height: 38px; position: relative; font-size: 14px; margin-right: 12px; border: 1px solid #00A3D9; cursor: default; }
.shop-product-list li .hoverstate .info .btn-assign-to .toppadding { position: absolute; width: 226px;  height: 6px; top: -5px; left: -1px; }
.shop-product-list li .hoverstate .info .collection-list-wrapper { outline: none; display: block; position: absolute; left: 0; top:40px; width: 226px; min-height: 76px; max-height:175px; border: 1px solid #BBBBBB; background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #E5E7ED; cursor: default; }
.shop-product-list li .hoverstate .info .collection-list-wrapper.loader { background: url("/cdn/images/v3/colshopstyx-16.gif") no-repeat center center #FFF; }
.shop-product-list li .hoverstate .info .collection-list-wrapper .slimScrollDiv {  max-height: 138px !important; height: auto !important }
.shop-product-list li .hoverstate .info .collection-list-wrapper .scrollbar { width: 100%; max-height: 138px !important; height: auto !important; color:#000; text-align: left; font-size: 12px; }
.shop-product-list li .hoverstate .info .collection-list-wrapper ul { list-style: none none; padding: 0; margin: 11px 0 15px 20px; }
.shop-product-list li .hoverstate .info .collection-list-wrapper li { height: 15px; margin-bottom: 9px; font-size: 12px; }
.shop-product-list li .hoverstate .info .collection-list-wrapper li input[type="radio"] { display: block; margin: 0; }
.shop-product-list li .hoverstate .info .collection-list-wrapper li label { font-size: 12px; margin: 0; height: 19px; display: block; position: relative; z-index: 1; }

.shop-product-list li .hoverstate .info .collection-list-wrapper li > input[type='radio'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0; float: left; width: 15px;
}
.shop-product-list li .hoverstate .info .collection-list-wrapper li > input[type='radio'] + label {
    margin: 0;
    clear: none;
    /* Left padding makes room for image */
    padding: 0 0 0 24px;

    /* Make look clickable because they are */
    /*cursor: pointer;*/

    background: url('/cdn/images/v3/custom_inputs.png') 0 -17px no-repeat;
}

/*
    Change from unchecked to checked graphic
*/
.shop-product-list li .hoverstate .info .collection-list-wrapper li  > input[type='radio']:checked + label {
    background: url('/cdn/images/v3/custom_inputs.png') 0 0 no-repeat;
}


.shop-product-list li .hoverstate .info .collection-list-wrapper .create-collection-wrapper { height: 35px; line-height: 35px; border-top: 1px solid #E5E5E5; margin: 0 17px 0 3px; padding-left: 6px; font-size: 12px; text-align: left; }
#claimedShopModal .shop-product-list li .hoverstate .info .collection-entry { left: 0; top: 40px; display: block; }

.shop-product-list li .hoverstate .info .btn-re {  cursor: default; width: 40px; height: 34px; background-color: #FFF; border: 1px solid #DDDDDD; margin-top: 2px; float: left; margin-right: 4px; position: relative; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.shop-product-list li .hoverstate .info .btn-re:hover { border:1px inset transparent; }
.shop-product-list li .hoverstate .info .btn-re span { background: url("/cdn/images/v3/common.png") repeat scroll 1000px 1000px #FFF; display: block; margin:6px auto 0; }
.shop-product-list li .hoverstate .info .btn-remove span { background-position: 0 -154px; width: 16px; height: 18px; margin-top: 7px; }
.shop-product-list li .hoverstate .info .btn-edit { margin-right: 0;}
.shop-product-list li .hoverstate .info .btn-edit span { background-position: -17px -154px; width: 16px; height: 20px; }
/* Undo delete product */
.shop-product-list li .undo-delete-wrapper { width: 257px; height: 257px; position: absolute; top: -1px; left: -1px; z-index: 4; background-color: #EAECF2; border: 1px solid #DDD; font-size: 14px; text-align: center; padding-top: 104px; }
.shop-product-list li .undo-delete-wrapper span { display: block; margin-top: 5px; text-decoration: underline; cursor: pointer; }

/* collection listing */
.shop-collection-list { list-style: none none; padding: 0; margin: 0; }
.shop-collection-list li { background-color: #FFFFFF; width: 368px; height: 342px; float: left; margin-right: 40px; margin-bottom: 40px; line-height: normal; font-size: 12px; position: relative; border: 1px solid #DDDDDD; overflow: hidden; cursor: pointer; }
.shop-collection-list li:nth-child(2n) { margin-right: 0; } 
.shop-collection-list li:hover { border: 1px solid #00A3D9; }
.shop-collection-list li .alert-box{ background-color: #EAECF2; position: absolute; width: 100%; height: 100%; padding-top: 140px; text-align: center; z-index: 20; opacity: 0.9; }
.shop-collection-list li .alert-box label{ font-weight: 300; }
.shop-collection-list li .alert-box span{ font-size: 14; line-height: 16px; text-decoration: underline; }
.shop-collection-list li .top-content { width: 100%; height: 65px; }
.shop-collection-list li .collection-name { height: 65px; padding-left: 29px; padding-right: 10px; line-height: 65px; font-size: 16px; }
.shop-collection-list li .user-pr { height: 65px; padding-right: 23px; font-size: 12px; display: none; }
.shop-collection-list li .user-pr .thumb { width: 28px; height: 28px; float: right; margin-top: 20px; margin-left: 7px; }
.shop-collection-list li .user-pr .user-name { float: right; margin-top: 24px; display: block; max-width: 125px; }
.shop-collection-list li .prod-image div { width: 91px; height: 92px; float: left; background-size: cover; background-position: center center;  margin-left: 1px; }
.shop-collection-list li .prod-image div:first-child { width: 274px; height: 276px; margin:0; }
.shop-collection-list li .hoverstate { display: none; height: 40px; position: absolute; bottom: 17px; left: 0; }
.shop-collection-list li .hoverstate .text { float: left; width: 274px; height: 40px; line-height: 40px; font-size: 16px; text-align: center; }
.shop-collection-list li .hoverstate .symbol {float: left; width: 92px; height: 40px; background-color: #E5E7ED; padding: 15px 0 0 27.5px;  }
.shop-collection-list li .hoverstate .symbol div { width: 10px; height: 10px; float: left; }
.shop-collection-list li .hoverstate .symbol div:nth-child(2) { margin-right: 5px; margin-left: 5px; }
.shop-collection-list li .user-pr .symbol {float: right; width: 24px; height: 6px; margin-top: 30px; }
.shop-collection-list li .user-pr .symbol div { width: 6px; height: 6px; float: left; }
.shop-collection-list li .user-pr .symbol div:nth-child(2) { margin: 0 3px; } 
.shop-collection-list li .hoverstate .m-products { float: left; width: 200px; height: 40px; line-height: 40px; font-size: 14px; text-align: center; margin: 0 7px 0 34px; }
.shop-collection-list li .hoverstate .m-delete { float: left; width: 40px; height: 40px; margin: 0 3px; text-align: center; border: 1px solid #CCCCCC; }
.shop-collection-list li .hoverstate .m-delete .icon { background: url("/cdn/images/v3/common.png") no-repeat scroll 0 -154px; display: inline-block; width: 16px; height: 18px; margin-top: 9px; }
.shop-collection-list li .hoverstate .m-edit { float: left; width: 40px; height: 40px; margin: 0 3px; text-align: center; border: 1px solid #CCCCCC; }
.shop-collection-list li .hoverstate .m-edit .icon { background: url("/cdn/images/v3/common.png") no-repeat scroll -17px -154px; display: inline-block; width: 16px; height: 20px; margin-top: 8px; }
.shop-collection-list li .hoverstate .m-edit .collection-entry{ position: relative; bottom: 0; top: -210px !important; display: none; }
.shop-collection-list li .hoverstate .m-edit .collection-entry .spacer{ width: 100%; height: 10px; position: absolute; left: 0; bottom: -10px; }
.shop-collection-list li .hoverstate .m-edit:hover .collection-entry{ display: block; }
.shop-collection-list li:hover .hoverstate, .shop-collection-list li:hover .user-pr { display: block; }

/* filter button: product types; */
#claimedShopModal .ptype-filter-wrapper { font-size: 11px; height: 30px; padding-top: 3px; margin-right: 4px; }
#claimedShopModal .ptype-filter-wrapper.marginBottom { margin-bottom: 2px; padding-top: 0; }
#claimedShopModal .ptype-filter-wrapper.marginRight { margin-right: 38px; }
#claimedShopModal .ptype-filter-wrapper div { float: left; padding: 0 10px; height: 24px; line-height: 22px; margin-right: 20px; cursor: pointer; border: 1px solid transparent; }
#claimedShopModal .ptype-filter-wrapper div:last-child { margin-right: 0; }
#claimedShopModal .ptype-filter-wrapper div span { display: inline-block; height: 14px; width: 14px; margin-right: 3px; background: url("/cdn/images/v3/common.png") no-repeat scroll -256px -31px; position: relative; top: 3px; }
#claimedShopModal .ptype-filter-wrapper div.selected,
#claimedShopModal .ptype-filter-wrapper div:hover { color: #FFF; background-color: #CCCCCC; border: 1px solid #BBB; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#claimedShopModal .ptype-filter-wrapper .filter-all span { width: 24px; }
#claimedShopModal .ptype-filter-wrapper .filter-internal span { background-position: -257px 0; }
#claimedShopModal .ptype-filter-wrapper .filter-external span {background-position: -257px -16px; }

/* Filter button: color, price & departments */
#claimedShopModal ul.tabs-right-main { float: right; margin: 0 37px 0 0; list-style: none none; }
#claimedShopModal ul.tabs-right-main li{ background-color: #FFFFFF; float: right; position: relative; padding: 0 10px; height: 34px; line-height: 33px; font-size: 12px; text-align: center; color: #BBBBBB; margin: 0 0 0 3px; border: 1px solid #DDDDDD; cursor: pointer; }
#claimedShopModal ul.tabs-right-main li:hover, #claimedShopModal ul.tabs-right-main li.active, #claimedShopModal ul.tabs-right-main li.highlighted { background: url('/cdn/images/v3/bg-menu-selected.png') repeat; color: #FFFFFF; border: 1px solid #CCCCCC; }
#claimedShopModal ul.tabs-right-main li .more-wrapper{ background-color: transparent; position: absolute; right: -1px; top: 32px; width: 274px; padding: 0; z-index: 10; display: none; border-top: 5px solid transparent; }
#claimedShopModal ul.tabs-right-main li .more-wrapper p{ background-color: transparent; position: absolute; top: -4px; left: 0; height: 4px; width: 100%; }
#claimedShopModal ul.tabs-right-main li .more-content{ background-color: #FFFFFF; float: left; width: 272px; height: auto; border: 1px solid #DDDDDD; padding: 18px 0 0 18px; cursor: default; }
#claimedShopModal ul.tabs-right-main li .more-content ul{ float: left; width: auto; margin: 0; padding: 0; list-style-type: none; cursor: default; }
#claimedShopModal ul.tabs-right-main li .more-content ul li{ float: left; width: auto; height: auto; padding: 0; line-height: 12px; text-align: left; margin: 0 30px 22px 0; border: 0 none; cursor: pointer; }
#claimedShopModal ul.tabs-right-main li .more-content ul li a{ font-size: 12px; color: #BABABA;  }
#claimedShopModal ul.tabs-right-main li .more-content ul li:hover{ background: transparent; color: #00a3d9; }
#claimedShopModal ul.tabs-right-main li .more-content ul li a:hover{ color: #00a3d9; }
#claimedShopModal ul.tabs-right-main:hover .more-wrapper{ display: block; }
#claimedShopModal ul.tabs-right-main li.more-list, #claimedShopModal ul.tabs-right-main li.more-list:hover{ width: 0; height: 0; padding: 0; margin: 0; border: 0 none; }
#claimedShopModal ul.tabs-right-main li strong.dot-dot{ font-size: 30px; line-height: 12px; }

#claimedShopModal .borderspacer { height: 36px; width: 0px; border-right: 1px dotted #ccc; float: right; margin: 0 6px 0 10px; position: relative; top: -1px; }
#claimedShopModal .price-sort { background-color: #FFFFFF; float: right; position: relative; z-index: 2; padding: 0 12px; height: 34px; line-height: 32px; font-size: 12px; text-align: center; color: #BBBBBB; border: 1px solid #DDDDDD; cursor: pointer; margin-left: 4px; }
#claimedShopModal .price-sort:hover, #claimedShopModal .price-sort.active { background-color: #F2F5F6; color: #FFF; background: url('/cdn/images/v3/bg-menu-selected.png') repeat; }
#claimedShopModal .price-sort div { display: none; position: absolute; right: 0; top: 20px; padding-top: 16px;}
#claimedShopModal .price-sort ul { list-style: none none; margin: 0; width: 214px; height: 100%; background-color: transparent; padding: 25px 16px 14px 20px; z-index: 10; background-color: #FFFFFF; height: auto; border: 1px solid #DDDDDD; cursor: default; float: left;  }
#claimedShopModal .price-sort ul li { width: 88px; height: auto; padding: 0; line-height: 12px; text-align: left; margin: 0 0 18px 0; border: 0 none; clear: both; font-size: 12px; color: #BBBBBB; float: left; clear: none; }
#claimedShopModal .price-sort ul li:first-child { width: 100%; clear: both; }
#claimedShopModal .price-sort ul li span{ cursor: pointer; }
#claimedShopModal .price-sort ul li span:hover{ color: #00a3d9; }
#claimedShopModal .price-sort:hover div { display: block; }

#claimedShopModal .color-sort { float: right; min-width: 36px; height: 34px; position: relative; z-index: 2; }
#claimedShopModal .color-sort .colors { width: 41px; height: 34px; cursor: pointer; }
#claimedShopModal .color-sort span.color-1{ background-color: #DE483E; }
#claimedShopModal .color-sort span.color-2{ background-color: #EE8934; }
#claimedShopModal .color-sort span.color-3{ background-color: #F8D447; }
#claimedShopModal .color-sort span.color-4{ background-color: #B2B2B2; }
#claimedShopModal .color-sort span.color-5{ background-color: #FFFFFF; border: 1px solid #DDDDDD; }
#claimedShopModal .color-sort span.color-6{ background-color: #683788; }
#claimedShopModal .color-sort span.color-7{ background-color: #9C0F69; }
#claimedShopModal .color-sort span.color-8{ background-color: #ED4B81; }
#claimedShopModal .color-sort span.color-9{ background-color: #833E00; }
#claimedShopModal .color-sort span.color-10{ background-color: #111111; }
#claimedShopModal .color-sort span.color-11{ background-color: #133984; }
#claimedShopModal .color-sort span.color-12{ background-color: #427CC5; }
#claimedShopModal .color-sort span.color-13{ background-color: #00B2B2; }
#claimedShopModal .color-sort span.color-14{ background-color: #99C342; }
#claimedShopModal .color-sort span.color-15{ background-color: #0D9439; }

#claimedShopModal .color-sort .colors span { display: block; float: left; width: 11px; height: 9px; margin: 0 0 3px; }
#claimedShopModal .color-sort .colors span:nth-child(2),
#claimedShopModal .color-sort .colors span:nth-child(5),
#claimedShopModal .color-sort .colors span:nth-child(8) { margin:0 4px; }
#claimedShopModal .color-sort .colorpicker-wrapper { display: none; width:254px; height: 175px; position: absolute; right: 0; top: 29px; padding-top: 16px; }
#claimedShopModal .color-sort .colorpicker { width: 100%; height: 100%; border: 1px solid #CCCCCC; background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #BFBFBF; padding: 12px 14px 0; }
#claimedShopModal .color-sort:hover .colorpicker-wrapper { display: block; }
#claimedShopModal .color-sort .colorpicker div { margin-bottom: 8px; color: #444444; font-size: 14px; }
#claimedShopModal .color-sort .colorpicker span { width: 35px; height: 29px; display: block; float: left; margin-right: 12px; margin-bottom: 9px; cursor: pointer; opacity: 0.8; }
#claimedShopModal .color-sort .colorpicker span:nth-child(5n+6) { margin-right: 0; }
#claimedShopModal .color-sort .colorpicker span:hover { opacity: 1; }
#claimedShopModal .color-sort .colorpicker span.active { border: 3px solid #000000; opacity: 1; }
#claimedShopModal .color-sort .selected-color{ background: url("/cdn/images/v3/bg-menu-selected.png") repeat scroll 0 0 transparent; position: relative; border: 1px solid #cccccc;  }
#claimedShopModal .color-sort .selected-color .scolor-lbl{ font-size: 12px; height: 34px; line-height: 32px; padding: 0 53px 0 10px; }
#claimedShopModal .color-sort .selected-color .scolor{ position: absolute; top: -1px; right: -1px; width: 44px; height: 34px; line-height: 32px; display: inline-block; font-size: 28px; text-align: center; cursor: pointer; }
#claimedShopModal .color-sort .selected-color .scolor span{ display: none; }
#claimedShopModal .color-sort .selected-color .scolor:hover span{ display: inline-block; }

#claimedShopModal .search-prod-wrapper{ float: right; position: relative; right: 15px; }
#claimedShopModal .search-prod-wrapper input{ width: 160px; height: 34px; font-size: 12px; }
#claimedShopModal .search-prod-wrapper .search-btn{ background: url("/cdn/images/v3/common.png") no-repeat scroll -143px -83px transparent; cursor: pointer; display: block; height: 17px; margin: 0; padding: 0; position: absolute; right: 11px; top: 8px; width: 18px; }
#claimedShopModal .search-prod-wrapper .searchkey{ position: absolute; top: 0; left: 0; padding: 2px 8px; background-color: #d28749; border: 1px solid #a86c3a; border-radius: 2px; color: #fff; font-size: 12px; font-weight: 400; display: block; margin: 5px 5px 5px 10px; }
#claimedShopModal .search-prod-wrapper .searchkey .kw{ display: inline-block; margin-right: 8px; vertical-align: middle; }
#claimedShopModal .search-prod-wrapper .searchkey .remove{ font-size: 12px; vertical-align: middle; cursor: pointer; font-weight: 300; color: #FFFFFF; }

/* Followers & Contributors */
#claimedShopModal .subcontent h4.width88 { width: 88px; }
#claimedShopModal .topwrapper .shopinfo-tab-menu { float: left; }
#claimedShopModal .topwrapper .shopinfo-tab-menu div { height: 34px; line-height: 34px; text-align: center; float: left; padding: 0 35px; margin-right: 1px; font-size: 14px; background-color: #F2F5F6; color: #B8B8B8; cursor: pointer; }
#claimedShopModal .topwrapper .shopinfo-tab-menu div.selected { background-color: #00A3D9; color: #FFF; }
#claimedShopModal .people-content { min-height: 100px; }
#claimedShopModal .people-content.loader { background: url("/cdn/images/v3/colshopstyx-64.gif") no-repeat center center #FFF;}
#claimedShopModal ul.follower-list { margin:0 0 35px; padding: 0; list-style: none none; }
#claimedShopModal ul.follower-list li { width: 362px; height: 270px; border:1px solid #E5E7ED; font-size: 12px; float: left; margin-right: 47px; margin-bottom: 30px; }
#claimedShopModal ul.follower-list li:nth-child(2n) { margin-right: 0; }
#claimedShopModal ul.follower-list li .topcontent { background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #CCCFD7; border-bottom:1px solid #E5E7ED; height: 88px; padding: 0 18px; display: table; width: 100%; }
#claimedShopModal ul.follower-list li .topcontent .tbl-cell { vertical-align: middle; }
#claimedShopModal ul.follower-list li .topcontent .tbl-cell.width68 { width: 68px; }
#claimedShopModal ul.follower-list li .topcontent .thumb { width: 50px; height: 50px; display: inline-block; margin-right: 18px; }
#claimedShopModal ul.follower-list li .topcontent .name { font-size: 16px; line-height: 16px; color: #00A3D9; }
#claimedShopModal ul.follower-list li .topcontent .username { color: #777777; }
#claimedShopModal ul.follower-list li .bottomcontent { width: 100%; }
#claimedShopModal ul.follower-list li .bottomcontent a { display: block; float: left;  width: 90px; height: 90px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
#claimedShopModal ul.follower-list li .bottomcontent a:first-child { width: 180px; height: 180px; }

#claimedShopModal ul.contributor-list { margin:0 0 35px; padding: 0; list-style: none none; border-bottom: 1px solid #EEEEEE; }
#claimedShopModal ul.contributor-list li { border-top: 1px solid #EEEEEE; display: table; font-size: 12px; width: 100%; height: 175px; }
#claimedShopModal ul.contributor-list .withBg { background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #CCCFD7; width: 400px; height: 31px;padding-left: 31px; vertical-align: middle; }
#claimedShopModal ul.contributor-list .withBg .tbl { width: 100%; }
#claimedShopModal ul.contributor-list .thumbwrapper { width: 121px; }
#claimedShopModal ul.contributor-list .thumb { width: 91px; height: 91px; display: inline-block; margin-right: 30px; }
#claimedShopModal ul.contributor-list .withBg a { display: block; }
#claimedShopModal ul.contributor-list .withBg .tbl-cell { vertical-align: middle; }
#claimedShopModal ul.contributor-list .name { color: #5E574C; font-size: 20px; }
#claimedShopModal ul.contributor-list .username { color: #999999; font-size: 14px; }
#claimedShopModal ul.contributor-list .prodcol { padding: 31px 0 0 39px; }
#claimedShopModal ul.contributor-list .prodcol a { float: left; width: 111px; height: 111px; margin-right: 3px; }
#claimedShopModal ul.contributor-list .prodcol a.products { background-size: cover; background-repeat: no-repeat; background-position: center center; }
#claimedShopModal ul.contributor-list .prodcol a.more { height: 113px; position: relative; top: -1px; background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 #ABABAB; border: 1px solid #DDD; text-align: center; padding-top: 31px; }
#claimedShopModal ul.contributor-list .prodcol a.more .total-products { font-size: 20px; }

/* Claimed Shop settings */
#claimedShopModal .shopsettings-wrapper { margin-bottom: 40px; }
#claimedShopModal .shopsettings-wrapper input[type="text"]::-webkit-input-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper input[type="text"]:-moz-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper input[type="text"]::-moz-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper input[type="text"]:-ms-input-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper textarea::-webkit-input-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper textarea:-moz-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper textarea::-moz-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper textarea:-ms-input-placeholder { color: #CCCCCC; }
#claimedShopModal .shopsettings-wrapper input[type="text"],
#claimedShopModal .shopsettings-wrapper textarea,
#claimedShopModal .shopsettings-wrapper select  { color: #00A3D9; border: 1px solid #DDDDDD; }
#claimedShopModal .shopsettings-wrapper select:hover { box-shadow:0 0 5px #999; background-color:#fafafa;border-color:#999;outline:none; }
#claimedShopModal .shopinfo-wrapper { margin-bottom: 45px; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper { float: left; width: 97px; height: 97px; position: relative; overflow: hidden; margin-top: 1px; border: 1px solid #E6E7ED; background-size: cover; background-repeat: no-repeat; background-position: center center; margin-right: 25px; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper .tbl-cell { vertical-align: middle; text-align: center; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper input { width: 150%; height: 150%; position: absolute; top: -24px; left: 0; z-index: 2; opacity: 0; cursor: pointer; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper span { width: 97px; height: 30px; line-height: 30px; text-align: center; display: block; background-color: #E6E7ED; position: absolute; bottom: 0; left: 0; z-index: 1 }
#claimedShopModal .shopinfo-wrapper .thumbwrapper img { width: 97px; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper .img-upload-loader { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat center center; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper .tbl-cell.uploading img { opacity: 0.4; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper .tbl-cell.uploading span { display: none; }
#claimedShopModal .shopinfo-wrapper .thumbwrapper .tbl-cell.uploading  .img-upload-loader  { display: block; }
#claimedShopModal .shopinfo-wrapper .inputfields-wrapper { float: left; width: 379px; min-height: 135px; margin-right: 42px; }
#claimedShopModal .shopinfo-wrapper .inputfields-wrapper input { height: 40px; margin-bottom: 24px; font-size: 14px; font-weight: 300; }
#claimedShopModal .shopinfo-wrapper .inputfields-wrapper textarea { height: 70px; margin-bottom: 0; font-weight: 300; }
#claimedShopModal .shopinfo-wrapper .social-wrapper { float: left; width: 240px; height: 135px; background: url("/cdn/images/v3/bg-product-listing.png") repeat scroll 0 0 #CCC; text-align: center; font-size: 14px; padding-top: 35px; position: relative; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper { width: 151px; height: 27px; margin: 10px auto; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a { float:left; display: block; width: 27px; height: 27px; margin-right: 4px; background: url("/cdn/images/v3/common.png") no-repeat; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a:last-child { margin-right: 0; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a.fb { background-position: 0 -83px; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a.gplus { background-position: -28px -83px; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a.linkedin { background-position: -56px -83px;}
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a.tw { background-position: -84px -83px; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .s-icons-wrapper a.pinterest { background-position: -112px -83px; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .edit-btn { cursor: pointer; display: none; width: 50px; height: 28px; line-height: 28px; text-align: center; color: #FFF; background-color:#00A3D9; font-size: 14px;  position: absolute; top: 53px; left: 95px; z-index: 2; }
#claimedShopModal .shopinfo-wrapper .social-wrapper .bgoverlay { display: none; background-color: #FFF; opacity: 0.8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
#claimedShopModal .shopinfo-wrapper .social-wrapper:hover > .edit-btn,
#claimedShopModal .shopinfo-wrapper .social-wrapper:hover > .bgoverlay { display: block; }

#claimedShopModal .shopsettings-wrapper .borderstyle { width: 780px; height: 1px; margin-left: 3px; background-color: #DDD; margin-bottom: 30px; }
#claimedShopModal .shopsettings-wrapper h4 { float: none; margin-bottom: 24px; }
#claimedShopModal .companyinfo-wrapper input,
#claimedShopModal .companyinfo-wrapper select { margin-bottom: 23px; }
#claimedShopModal .companyinfo-wrapper .colfields1 { width: 332px; float: left; margin-right: 20px; }
#claimedShopModal .companyinfo-wrapper .colfields2 { width: 202px; float: left; margin-right: 20px; }
#claimedShopModal .companyinfo-wrapper .colfields3 { width: 202px; float: left; }
#claimedShopModal .shopsettings-wrapper button { background-color: #00A3D9; color: #FFF; text-align: center; font-size: 17px; width: 120px; height: 38px; line-height: 38px; float: right; margin: 17px 46px 0 0; padding:0; }
#claimedShopModal .shopsettings-wrapper .saved-status { float: right; margin: 17px 46px 0; line-height: 38px;  color: #777; font-size: 20px; }
#claimedShopModal .shopsettings-wrapper .save-status-loader { float: right; margin: 17px 46px 0; text-align: right; width: 148px; line-height: 38px; height: 38px; color: #777; font-size: 20px; background: url("/cdn/images/v3/colshopstyx-32.gif") no-repeat 0 center #FFF; }
#claimedShopModal .shopsettings-wrapper .error-status { float: right; margin: 17px 12px 0; line-height: 38px; color: #777; font-size: 12px; color: #FF0000; }
.customize-select-holder select { border: 0 none; }

/* Edit Product */
#claimedShopModal #edit-product-wrapper { width: 100%; min-height: 500px; max-height: 1030px; position: absolute; top: 0; left: 0; z-index: 9; background-color: #FAFAFA; border: 1px solid #DDDDDD; padding-bottom: 63px; }
#claimedShopModal #edit-product-wrapper.loader { background: url("/cdn/images/v3/colshopstyx-64.gif") no-repeat center 100px #FFF;  }
#claimedShopModal #edit-product-wrapper.loader .entry-wrapper,
#claimedShopModal #edit-product-wrapper.loader .openashop-details { display: none; }
#claimedShopModal #edit-product-wrapper input, 
#claimedShopModal #edit-product-wrapper textarea{ color: #777; font-size: 12px; }
#claimedShopModal #edit-product-wrapper textarea { width: 706px; height: 72px; border: 2px solid #00A3D9; margin: 5px 0 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper { width: 100%; height: 551px; border-bottom: 1px solid #DDDDDD; }
#claimedShopModal #edit-product-wrapper .entry-wrapper form { width: 100%; height: 100%; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .left-wrapper { float: left; width: 788px; height: 100%; border-right: 1px solid #DDDDDD; background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #DDD; padding: 43px 0 53px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .right-wrapper { float: left; width: 205px; height: 100%; background-color: #FFF; padding-top: 43px; text-align: center; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .prodname { width: 364px; height: 42px; border:2px solid #00A3D9; float: left; margin-right: 40px; margin-left: 43px; margin-bottom: 16px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .price-wrapper { width: 144px; height: 42px; border:2px solid #00A3D9; float: left; line-height: 38px; position: relative; margin-right: 17px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .price-wrapper .currency-wrapper { float: left; width: 50px; height: 38px; padding-left: 10px; position: relative; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .price-wrapper #currency-text { font-size: 16px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .price-wrapper .arrowdown { background: url("/cdn/images/v3/common.png") no-repeat -266px -150px; width: 11px; height: 6px; position: absolute; top: 17px; right: 10px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .price-wrapper input { border: 0 none; width: 90px; height: 38px; float: left; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .sale-price-wrapper { width: 140px; height: 42px; float: left; position: relative; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .sale-price-wrapper input{ width: 100%; height: 42px; border:1px solid #999999; float: left; line-height: 38px; position: relative; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper { background-color: #F2F5F6; border:1px solid #FFFFFF; width: 787px; height: 166px; margin-top: 22px; margin-bottom: 41px; padding: 19px 39px 0 41px; color: #858585; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper { height: 100%; width: 481px; float: left; border-right: 1px solid #FFF; margin-right: 44px; position: relative; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .uploading-status { position: absolute; top: 10px; right: 49px; font-size: 11px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul { list-style: none none; padding: 0; margin: 11px 0 0;}
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li { display: table; margin: 0 21px 0 0; width: 90px; height: 90px; position: relative; border:1px solid #DDDDDD; background-color: #FFFFFF; float: left; margin-top: 3px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell { vertical-align: middle; text-align: center; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell .thumb-wrapper { width: 90px; height: 90px; overflow: hidden; position: relative;}
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell img { width:90px; position: absolute; top: 50%; left: 50%; -webkit-transform: translateY(-50%) translateX(-50%); transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.active { width: 96px; height: 96px; border:3px solid #00A3D9; margin-top: 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li input { display: none; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol { width: 22px; height: 22px; position: absolute; top: 33px; left: 33px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol .vertical { display: block; width: 2px; height: 22px; background-color: #00A3D9; position: absolute; top: 0; left: 10px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .plus-symbol .horizontal  { display: block; width: 22px; height: 2px; background-color: #00A3D9; position: absolute; top: 10px; left: 0;  }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image input { display: block; cursor: pointer; width: 90px; height: 90px; position: absolute; top: 0; left: 0; z-index: 2; opacity: 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li .img-upload-loader { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat center center; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.uploading .img-upload-loader { display: block; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.uploading img { opacity: 0.4; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.active .action-buttons,
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .action-buttons,
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.active .tbl-cell .thumb-wrapper:hover > .action-buttons,
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li.add-image .tbl-cell .thumb-wrapper:hover > .action-buttons { display: none; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper ul li .tbl-cell .thumb-wrapper:hover > .action-buttons { display: block; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons { display: none; position: absolute; z-index: 3; top: 0; left: 0; width: 100%; height: 100%; background-color: #F9FAFB; padding: 31px 0 0 16px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div { width: 28px; height: 28px; margin-right: 2px; float: left; background-color: #FFFFFF; padding: 7px 0 0 7px; border: 1px solid #DDDDDD; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div span { display: block; width: 12px; height: 12px; background: url("/cdn/images/v3/common.png") no-repeat -35px -156px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.isdefault span { background-position: -63px -156px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.isdefault.yes span { background-position: -49px -156px;}
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .image-wrapper .action-buttons div.trash span { height: 13px; background-position: -35px -156px; }

#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper { width: 180px; height: 100%; float: left; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper ul { list-style: none none; padding: 0; margin: 16px 0 0;}
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper ul li { float: left; width: 32px; height: 25px; margin: 0 5px 5px 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper ul li:nth-child(5n) { margin-right: 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper ul li:hover,
#claimedShopModal #edit-product-wrapper .entry-wrapper .image-color-wrapper .color-wrapper ul li.selected { border:2px inset #DDDDDD; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper { margin-left: 46px; margin-bottom: 39px; height: 34px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper span { line-height: 34px; margin-right: 15px; float: left; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul { float: left; width: 667px; list-style: none none; margin:0; padding: 0; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li { float: left; margin-right: 4px; font-size: 12px; height: 34px; line-height: 32px; text-align: center; padding: 0 23.5px; color: #00A3D9; background-color: #FFF; border:1px solid #DDDDDD; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more { font-size: 30px; line-height: 18px; width: 60px; padding: 0; position: relative; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.selected,
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li:hover { color: #FFF; background-color: #00A3D9; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more:hover > div { display: block; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more div { display: none; background-color: transparent; position: absolute; right: -1px; top: 32px; width: 274px; padding: 0; z-index: 10; border-top: 5px solid transparent; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more span { background-color: #FFFFFF; float: left; width: 272px; height: auto; border: 1px solid #DDDDDD; padding: 18px 0 0 18px; cursor: default; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more ul { float: left; width: auto; margin: 0; padding: 0; list-style-type: none; cursor: default; }
#claimedShopModal #edit-product-wrapper .entry-wrapper .dept-wrapper ul li.more ul li { float: left; width: auto; height: auto; padding: 0; line-height: 12px; text-align: left; margin: 0 30px 22px 0; border: 0 none; cursor: pointer; }

#claimedShopModal #edit-product-wrapper .right-wrapper button[type="submit"] { width: 140px; height: 38px; line-height: 38px; background-color: #00A3D9; color: #FFF; font-size: 14px; display: block; margin: 0 auto 12px; padding: 0;  }
#claimedShopModal #edit-product-wrapper .right-wrapper button[type="button"] { width: 140px; height: 38px; line-height: 38px; background-color: #FFF; color: #00A3D9; font-size: 14px; display: block; margin: 0 auto 35px; padding: 0; border: 1px solid #BBBBBB;  }
#claimedShopModal #edit-product-wrapper .right-wrapper div { width: 140px; margin:0 auto 28px; text-align: left; line-height: 18px; }
#claimedShopModal #edit-product-wrapper .right-wrapper a { display: block; background-color: #EE666C; color: #FFFFFF; font-size: 12px; font-weight: 400; width: 140px; height: 38px; line-height: 38px; margin: 0 auto; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

#claimedShopModal #edit-product-wrapper .openashop-details { padding: 55px 42px 0; }
#claimedShopModal #edit-product-wrapper .openashop-details .h1 { font-size: 32px; text-align: center; }
#claimedShopModal #edit-product-wrapper .openashop-details .desc { text-align: center; font-size: 12px; margin-bottom: 25px; }
#claimedShopModal #edit-product-wrapper .openashop-details .openashop-btn { width: 180px; height: 48px; line-height: 48px; text-align: center; display: block; margin: 0 auto; font-size: 16px; color: #FFF; }

/* error wrappers */
#claimedShopModal .common_input_wrapp small.error { line-height: 100%; top: -16px;}
#claimedShopModal .common_input_wrapp small.error.right42 { right: 42px; } 

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}