* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }
a{ color: #000000; text-decoration: none; }
a:hover{ text-decoration: underline; }

.float-left{float: left;}
.float-right{float: right;}
.relative{ position: relative; }
.absolute{ position: absolute !important;}
.show{display: block !important;}
.hide{display: none !important;}
.input_error{ border: 1px solid red !important; }
.bottom { bottom: 0; }
.top { top: 0 !important; }

.loader{
background: url("../../../images/ministore_images/ministore-loader.gif") no-repeat scroll center center #000000;
height: 227px;
    width: 336px;
	position: absolute;
	top: 0; left: 0;
	z-index: 999;
	filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;
}
.image-logo{ background-position: left center; background-repeat: no-repeat; background-size: contain; width: 196px; height: 46px; margin: 4px 0 0 -6px; display: block; }
.wdgt-show-product{position: relative}
#dialog-box{ background-color: #000000; position: absolute; left: 0; top: 0; z-index: 99; height: 280px; text-align: center; width: 336px; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;}
#dialog-box .preloader_wrapper{ margin-top: 110px;  }

#wdgt-slideshow-wrapper{ float: left; width: 336px; height: 227px; position: relative; }
#wdgt-slideshow-wrapper ul { float: left; width: 336px; height: 227px; }
#wdgt-slideshow-wrapper ul li{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; width: 336px; height: 227px; position: absolute; left: 0; top: 0; }
.wdgt-prod-price-bg{ background-color: #000000; color: #FFFFFF; font-size: 16px; font-weight: bold; text-align: center; line-height: 80px; display: block; height: 80px; left: 5px; margin: 0; padding: 0; position: absolute; top: 127px; width: 80px; z-index: 5; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }
.wdgt-prod-price-bg-back{ background-color: #ED4595; display: block; height: 80px; left: 8px; margin: 0; padding: 0; position: absolute; top: 128px; width: 80px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; -webkit-box-shadow: 0 -1px 10px 0 #FFFFFF; box-shadow: 0 -1px 10px 0 #FFFFFF;}
.wdgt-prod-price{ position: absolute; z-index: 10; top: 170px; left: 7px; color: #ffffff; font-size: 16px; font-weight: bold; width: 80px; }
.wdg-price-wrapper-inside { display: table-cell; vertical-align: middle; height: 80px; width: 80px; text-align: center; }
.wdgt-prod-price-bg .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; line-height: 14px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
.wdgt-prod-price-bg .sale-price{ width: 100%; text-align: center; line-height: 14px; }

.wdgt-prod-title { font-size: 22px; width: 240px; position: relative; top: 137px; left: 94px; }
.wdgt-prod-title span{ width: 235px; position: absolute; top: 0; left: 0; }
.wdgt-prod-title span label{ color: transparent; line-height: 25px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; display: inline-block; padding: 3px 5px; }
.wdgt-prod-title a{ display: inline-block; padding: 3px 5px; text-decoration: none; line-height: 25px; width: 235px; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); position: absolute; top: 0; left: 0; z-index: 5; }
.wdgt-prod-title:hover span label{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#nav{ float: left; height: 8px; text-align: right; width: 336px; }
#nav a { background: none repeat scroll 0 0 #ffffff; margin: 0 0 0 5px; width: 18px; height: 7px; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; display: inline-block; text-decoration: none; color: transparent; font-size: 11px; }
#nav a.activeSlide { position: relative; z-index: 99; margin: 0 0 0 5px; width: 20px; height: 13px; display: inline-block; text-decoration: none;  line-height: 13px; vertical-align: text-bottom; text-align:center; }
#wdgt-splash-wrapper{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; float: left; width: 336px; height: 227px; position: relative; }
.wdgt-shop-now-btn { 
	background: url("../../../images/widgetstore_images/shop_now_arrow.png") no-repeat scroll 179px center #ffffff; position: absolute; left: 23px; top: 147px; width: 215px; height: 46px; font-size: 25px; color: #000000; font-weight: bold; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; 
	line-height: 46px; font-family: Arial, Gill Sans, Helvetica, sans-serif; text-align: center; cursor: pointer; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border: 0 none; -webkit-box-shadow: 3px 3px 2px 1px #000000; box-shadow: 3px 3px 2px 1px #000000;
}
.wdgt-shop-now-btn:hover{ text-decoration: none; filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1;}

#wdgt-home{width: 336px; height: 227px; overflow: hidden; }
#wdgt-splash-category-display ul{ float: left; width: 336px; min-height: 227px;}
.col1{ height: 186px; width: 222px; -webkit-box-shadow: 0 0 6px 2px #ED4595; box-shadow: 0 0 6px 2px #ED4595;}
.col1 .wdgt-cat-title{ background-color: #FFFFFF; padding: 2px 4px; float: left; font-size: 10px; text-transform: uppercase; margin: 12px 0 0 16px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
.col2{ height: 90px; width: 108px; margin-left: 4px; text-align: center; -webkit-box-shadow: 0 0 6px 2px #ED4595; box-shadow: 0 0 6px 2px #ED4595;}
.col3{ height: 90px; width: 108px; margin-right: 2px; text-align: center; -webkit-box-shadow: 0 0 6px 2px #ED4595; box-shadow: 0 0 6px 2px #ED4595;}
.col4{ height: 90px; width: 108px; margin-left: 2px; text-align: center; -webkit-box-shadow: 0 0 6px 2px #ED4595; box-shadow: 0 0 6px 2px #ED4595;}
.col2 .wdgt-cat-title, .col3 .wdgt-cat-title, .col4 .wdgt-cat-title{ position: relative; top: 11px; background-color: #FFFFFF; padding: 2px 4px; font-size: 10px; text-transform: uppercase; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}

.wdgt-two-categories ul{ float: left; width: 336px; height: 227px; }
.wdgt-two-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 165px; height: 227px; cursor: pointer; }
.wdgt-two-categories ul li.list1{ margin-right: 6px; }
.wdgt-two-categories ul li.list2{ margin: 0; }
.wdgt-two-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 131px; padding: 2px 2px; margin: 12px 15px 0; text-transform: uppercase;}
.wdgt-two-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-three-categories ul{ float: left; width: 336px; height: 227px; }
.wdgt-three-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 108px; height: 227px; cursor: pointer; }
.wdgt-three-categories ul li.list1{ margin-right: 6px; }
.wdgt-three-categories ul li.list2{ margin-right: 6px; }
.wdgt-three-categories ul li.list3{ margin: 0; }
.wdgt-three-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 88px; padding: 2px 2px; margin: 14px 8px 0 8px; text-transform: uppercase;}
.wdgt-three-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-four-categories ul{ float: left; width: 336px; height: 227px; }
.wdgt-four-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 165px; height: 110px; cursor: pointer; }
.wdgt-four-categories ul li.list1, .wdgt-four-categories ul li.list3{ margin-right: 6px; margin-bottom: 7px; }
.wdgt-four-categories ul li.list2, .wdgt-four-categories ul li.list4{ margin-bottom: 6px; }
.wdgt-four-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 125px; padding: 2px 2px; margin: 14px 18px 0 18px; text-transform: uppercase;}
.wdgt-four-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.sub-category-wrapper{ position: absolute; top: 0; left: 0; width: 336px; height: 280px; z-index: 999; }
.sub-category-bg{ background-color: #ffffff; position: absolute; top: 0; left: 0; width: 336px; height: 280px; filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9;}
.sub-category-content{ position: absolute; top: 27px; left: 41px; z-index: 10; width: 251px; height: 225px; border: 1px solid #CCCCCC; }
.sub-category-content .header-wrapper{ float: left; width: 249px; height: 33px; line-height: 33px; text-indent: 11px; margin: 1px 0 0 1px; font-size: 12px; font-weight: bold; }
.sub-category-content .close-btn{ background: url("/cdn/images/widgetstore_images/close-shadow.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; position: absolute; top: 6px; right: 11px; display: block; cursor: pointer; }
.sub-category-content .listing-wrapper{ float: left; width: 238px; margin: 1px 0 0 12px; height: 180px; overflow: hidden; }
.sub-category-content .listing-wrapper ul{ float: left; width: 218px; }
.sub-category-content .listing-wrapper ul li{ float: left; width: 210px; height: 35px; line-height: 35px; padding-left: 8px; border-bottom: 1px solid #999999; overflow: hidden;}
.sub-category-content .listing-wrapper ul li:hover{ text-decoration: underline; cursor: pointer; }
.sub-category-content .jspVerticalBar { width: 10px !important; height: 178px !important;}
.sub-category-content .jspTrack { height: 178px !important; }

#wdgt-normal-category-display { float: left; }

.box {
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; background-size: contain;
    float: left;
	margin-bottom: 6px;
	color: #000000;
}
.col1{ background-size: cover; }
.box:hover{ cursor: pointer; }
#wdgt-wrapper{ background-color: url("../../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 #ffffff; float: left; width: 336px; height: 280px; margin: 0; position: relative; }
#wdgt-main-left{ background-color: #ED4595; float: left; width: 91px; height: 227px; overflow: hidden; }
#wdgt-main-left ul{ float: left; width: 91px; }
#wdgt-main-left ul li{ display: table; float: left; position: relative; width: 91px; height: 57px; border-bottom: 1px solid #ffffff; color: #000000; }
#wdgt-main-left ul li a{display: table-cell; vertical-align: middle; text-align: center; width: 59px; padding: 0 16px; }
#wdgt-main-left ul li a.active { background-color: #ffffff; }
#wdgt-main-left ul li .wdgt-has-sub{position: absolute; top: 22px; right: 3px;}
.slimScrollDiv {float: left;}
#wdgt-normal-category-display .slimScrollDiv { z-index: 2; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC;}
#wdgt-main-right { float: left; width: 245px; height: 227px; overflow: hidden; color: #000000;}
#wdgt-main-content { float: left; width: 336px; height: 227px; overflow: hidden; color: #000000;}
.wdgt-shoppingcart { width: 100%; color: #663366; font-size: 14px; text-align: center; margin-top: 8px; }
.wdgt-item { width: 100%; color: #000000; font-size: 11px; text-align: center; margin-top: 8px; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-subcategory-wrapper{ background-color: #ffffff; float: left; width: 245px; height: 227px; overflow: hidden; color: #000000;}
.wdgt-subcategory-wrapper ul{float: left; margin-left: 12px; width: 233px; }
.wdgt-subcategory-wrapper ul li{float: left; width: 212px; height: 36px; padding-left: 21px; border-bottom: 1px solid #000000; line-height: 36px; }
.wdgt-subcategory-wrapper .jspTrack{ height: 225px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-subcategory-wrapper .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-subcategory-wrapper .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; border: 1px solid #000000; height: 225px !important;}

.wdgt-category-wrapper{ background-color: #ffffff; float: left; width: 336px; height: 227px; overflow: hidden; position: relative; }
.wdgt-content-wrapper { position: absolute; top: 0; left: 15px; z-index: 10; height: 185px; overflow: hidden;}

.wdgt-product-min-info{ float: left; width: 131px; height: 168px; }
.wdgt-product-min-info h1{ float: left; margin-top: 12px; }
.wdgt-product-min-info h1 a{ font-size: 15px; line-height: 16px; color: #000000; font-weight: bold; width: 100%;}
.wdgt-product-price{ float: left; font-size: 12px; font-weight: bold; color: #EC4594; margin-top: 8px; width: 100%;}
.wdgt-product-mindesc{ float: left; overflow:hidden; width: 131px; font-size: 12px; color: #666666; margin-top: 13px; position: relative; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-more-info-btn{ background-color: #ED4595; position: absolute; top: 158px; right: 10px; border: 0 none; width: 78px; color: #ffffff; font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; padding: 2px 0; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000;}
.wdgt-more-info-btn:hover { background-color: #FFFFFF; color: #ED4595; cursor: pointer; }
.wdgt-image-wrapper{ position: absolute; z-index: 0; width: 230px; top: 17px; right: 0; height: 168px; border-bottom: 1px solid #000000; }
.wdgt-product-image{ 
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	position: absolute; right: 0; width: 99px; height: 168px; 
}

.wdgt-header-title { float:left; width: 323px; min-height: 28px; max-height: 38px; padding: 0 6px; }
.wdgt-header-title-lbl{ display: table-cell; width: 252px; height: 28px; vertical-align: middle; }
.wdgt-header-title-lbl .parent-title{ font-size: 11px }
.wdgt-header-title-search-lbl{ display: table-cell; width: 252px; height: 34px; vertical-align: middle; }
.wdgt-back-categories { position: absolute; top: 0; right: 8px; height: 28px; line-height: 28px; width: 60px; text-decoration: underline; cursor: pointer; }
.wdgt-product-listing{ float: left; width: 335px; height: 188px; padding: 0 1px 0 0; }
.wdgt-product-listing ul{ float: left; width: 319px; }
.wdgt-product-listing ul li{ float: left; position: relative; width: 319px; min-height: 63px; }
.common-border-bottom{ background-color: #000000; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; }
.wdgt-product-listing-image{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; background-size: cover; float: left; width: 106px; height: 86px; }
.wdgt-product-listing-image:hover{ filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; cursor: pointer; }
.product-info-wrapper{ float: left; padding: 10px 0 0 11px; width: 200px; }
.product-info-wrapper p, .product-info-wrapper span{line-height: 14px; max-height: 42px; overflow: hidden;}
.product-info-wrapper p:hover{text-decoration: underline; cursor: pointer;}
.wdgt-product-listing .jspVerticalBar{ width: 10px !important; height: 178px !important; right: 1px !important; top: 8px !important; }
.wdgt-product-listing .jspTrack{ height: 178px !important; }
.wdgt-sale-price{ text-decoration: line-through; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; margin-right: 3px; }

.wdgt-product-pagination{position: absolute; bottom: 11px; height: 12px; margin-left: 0; margin-top: 19px; text-align: left; width: 100%;}
.wdgt-product-pagination ul{ float: left; height: 12px; margin-left: 20px; }
.wdgt-product-pagination ul li{ float: left;}
.wdgt-product-pagination ul li a{text-decoration:none; width: 10px; height: 10px; border: 1px solid #000000; margin: 0 4px; display: block; }
.wdgt-product-pagination ul li a span{display: none; font-size: 11px; color: #000000; margin-top: -16px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-product-pagination ul li a.selected {background-color: #ED4595; border: 1px solid #ED4595;}
.wdgt-product-pagination ul li a.selected span{display: block}
.wdgt-product-pagination .wdgt-prev{ float: left; color: #ED4595; font-size: 11px; margin-right: 10px; }
.wdgt-product-pagination .wdgt-next{ float: left; color: #ED4595; font-size: 11px; margin-left: 11px;}
.wdgt-product-pagination .wdgt-prev:hover, .wdgt-product-pagination .wdgt-next:hover{text-decoration: underline; cursor: pointer}
.wdgt-product-pagination .wdgt-prev-disabled{ color: #000000; text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-next-disabled{ color: #000000; text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}


#wdgt-footer{ float: left; position: relative; width: 336px; height: 53px; }
.mainfooter { z-index: 99; }
#wdgt-footer .wdgt-powered-by{ background-color: #000000; float: left; width: 71px; height: 53px; }
#wdgt-footer .wdgt-powered-txt { float: left; text-align: center; width: 100%; font-size: 9px; margin-top: 14px; }
#wdgt-footer .wdgt-shoptstix { float: left; text-align: center; width: 100%; font-size: 13px; }
#wdgt-footer .wdgt-logo-wrapper{ background-color: transparent; float: left; width: 219px; height: 53px; margin-left: 1px; text-align: center;}
#wdgt-footer .wdgt-logo{ position: absolute; width: 191px; padding: 0 14px 0 14px; height: 53px; overflow: hidden; top: 0; left: 71px; text-align: left; margin-left: 1px; }
#wdgt-footer .wdgt-logo label{ font-size: 25px; line-height: 53px; font-weight: bold; white-space: nowrap; cursor: pointer; }
#wdgt-footer .wdgt-logo label:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }
#wdgt-footer .wdgt-logo span{ color: #EC4594; }
#wdgt-footer .wdgt-cart-wrapper{ background-color: #ED4595; float: left; width: 45px; height: 53px; }
#wdgt-footer .wdgt-preview { background: url("../../../images/widgetstore_images/preview.png") no-repeat scroll center center #FFFFFF; float: left; width: 45px; height: 26px; margin-bottom: 1px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
#wdgt-footer .wdgt-preview:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
#wdgt-footer .wdgt-cart { background: url("../../../images/widgetstore_images/cart.png") no-repeat scroll center center #FFFFFF; float: left; width: 45px; height: 26px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
#wdgt-footer .wdgt-cart:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }

.wdgt-search-wrapper{background-color: #000000; position: absolute; top: 0; left: 0; width: 336px; height: 54px; z-index:20; -webkit-box-shadow: 0px 0px 6px 2px #CCCCCC; box-shadow: 0px 0px 6px 2px #CCCCCC;}
.wdgt-search-lbl{ float: left; font-size: 12px; color: #ffffff; margin: 20px 0 0 10px; }
.wdgt-search{ float: left; width: 209px; border: 1px solid #ED4595; margin: 14px 0 0 8px; padding: 5px 34px 4px 4px; }
.wdt-search-button { background: url("../../../images/widgetstore_images/search-shadow-icon.png") no-repeat scroll center center #ED4595; float: left; width: 30px; height: 26px; margin-top: 14px; border: 0 none; margin-left: -30px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8 }
.wdt-search-button:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-search-cancel-link { float: left; color: #ED4595; text-decoration: none; margin: 20px 0 0 9px; }
.wdgt-search-cancel-link:hover {text-decoration: underline; }

#wdgt-popup{position: absolute; top: 0; left: 0; width: 336px; }
.wdgt-zoom-close{ background: url("../../../images/widgetstore_images/close-shadow.png") no-repeat scroll center center transparent; display: block; position: absolute; right: 1px; top: 4px; z-index: 22; width: 23px; height: 23px; cursor: pointer; }
.wdgt-popup-details-close{ display: block; position: absolute; right: 0; top: 0; z-index: 22; width: 47px; height: 25px; line-height: 25px; text-align: center; font-size: 11px; cursor: pointer; -moz-box-shadow: 0 0 6px 2px #CCCCCC; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC;}
.wdgt-popup-details-close:hover{ filter:alpha(opacity=8); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-popup-left{ background-color: #ED4595; float: left; width: 70px; height: 227px; position: relative; z-index: 10; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; }
.wdgt-popup-left ul{ float: left; width: 70px; height: 227px; }
.wdgt-popup-left ul li{ float: left; background-color: #ED4595; position: relative; width: 70px; height: 36px; text-align: center; line-height: 35px;}
.wdgt-popup-left ul li p{ position: absolute; bottom: 0; width: 100%; border-bottom: 1px solid #ffffff; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-popup-left ul li.wdgt-next-prev { height: 37px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-next { float: left; background: url("../../../images/widgetstore_images/next.png") no-repeat scroll center center transparent; position: absolute; left: 35px; width: 35px; height: 37px; display: block; cursor: pointer; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-vseparator { float: left; margin-left: 33px; height: 20px; width: 1px; color: #000000; font-size: 26px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-prev { float: left; background: url("../../../images/widgetstore_images/prev.png") no-repeat scroll center center transparent; position: absolute; left: 0; width: 34px; height: 37px; display: block; cursor: pointer; }

.wdgt-popup-left ul li.wdgt-product-price-display { height: 54px; font-weight: bold; line-height: 54px; }


.wdgt-popup-left ul li.active a, .wdgt-popup-left ul li:hover a{ background-color: #000000;
    color: #FFFFFF;
    left: 0;
    position: absolute;
    width: 70px; 
	padding-right: 4px;
	text-decoration: none;
	}
.wdgt-popup-left ul li.active a#show-info, .wdgt-popup-left ul li:hover a#show-info{
	top: -1px;
	height: 36px;
}
.wdgt-popup-left ul li.wdgt-gift-wrapper { width: 70px; height: 48px; border: 0 none; }
.wdgt-popup-left ul li .wdgt-gift{ float:left; width: 70px; height: 48px; position: relative;}

.wdgt-buy-gift{ font-size: 11px;
    left: 0;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 100%;}
.wdgt-popup-left ul li .wdgt-gift-icon{ background: url("../../../images/widgetstore_images/gift-shadow.png") no-repeat scroll center center transparent; width: 32px; height: 38px; position: absolute; left: 18px; top: 26px; }
.wdgt-popup-left ul li .wdgt-gift-icon:hover{cursor: pointer;}
.wdgt-gift-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 70px; height: 65px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-popup-left ul li .wdgt-gift:hover .wdgt-gift-hover{ display: block; cursor: pointer; }
.wdgt-popup-powered-by { background-color: #000000; float: left; width: 70px; height: 41px; padding-top: 12px; }
.wdgt-popup-powered-txt, .wdgt-popup-shoptstix { float: left; width: 100%; text-align: center; }
.wdgt-popup-powered-txt {font-size: 9px; }
.wdgt-vertical-bar { background-color: #FFFFFF; float: left; width: 21px; height: 280px; }
.wdgt-popup-right{ background-color: #FFFFFF; float: left; position: relative; width: 336px; height: 279px; border-bottom: 1px solid #000000;}
.wdgt-product-details-wrapper h1{ display: table-cell; height: 43px; font-size: 16px; font-weight: bold; width: 255px; vertical-align: middle;}
.wdgt-product-details-wrapper h1 label{ float: left; width: 255px; }
.wdgt-product-details-wrapper .wdgt-price{ float: left; font-size: 12px; color: #ED4595; margin-top: 7px; font-weight: bold; width: 100%; }
.wdgt-product-details{ position: absolute; top: 96px; left: 89px; width: 246px; height: 163px; overflow: hidden;}
.wdgt-product-details .jspTrack{ height: 161px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-product-details .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-product-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 161px !important;}
.wdgt-product-details .wdgt-images { float: left; width: 238px;}
.wdgt-product-details .wdgt-images li{
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	float: left; width: 87px; height: 64px; margin: 5px 9px 5px 5px; 
}
.wdgt-product-details .wdgt-images li:hover, .wdgt-product-details .wdgt-images li.active{ cursor: pointer; -webkit-box-shadow: 0px 0px 4px 1px #ED4595; box-shadow: 0px 0px 4px 1px #ED4595; }
.wdgt-product-details-wrapper h1.wdgt-image-h1{ margin-top: 6px; }
.wdgt-product-details-wrapper .wdgt-image-price{ margin-top: 2px; }
.wdgt-image-details{ height: 145px !important; margin-top: 2px;}
.wdgt-image-details .jspTrack, .wdgt-image-details .jspVerticalBar{ height: 143px !important; }
.wdgt-product-info{ float: left; font-size: 12px; color: #666666; width: 100%; line-height: 16px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-popup-top-content { display: table; position: absolute; overflow: hidden; width: 327px; height: 43px; top: 0; padding-left: 9px; left: 0; z-index: 2; }
.wdgt-buynow-bg-wrapper { position: absolute; width: 266px; height: 40px; top: 50px; left: 0; z-index: 0; filter:alpha(opacity=20); opacity: 0.2; -moz-opacity:0.2; -khtml-opacity: 0.2; }
.wdgt-buynow-shadow-wrapper { position: absolute; width: 266px; height: 40px; top: 50px; left: 0; z-index: 0; -webkit-box-shadow: 0px 0px 6px 2px #ED4595; box-shadow: 0px 0px 6px 2px #ED4595; }
.wdgt-buynow-wrapper { position: absolute; width: 260px; height: 41px; top: 43px; right: 0; z-index: 1px; }
.wdgt-reg-sale-price-wrapper { position: absolute; display: table; width: 76px; height: 41px; top: 43px; left: 0; z-index: 1px; }
.wdgt-reg-sale-price-wrapper p{ display: table-cell; width: 100%; height: 41px; vertical-align: middle; text-align: center; }
.wdgt-qty-lbl { float: left; font-size: 12px; color: #000000; margin: 14px 0 0 14px; font-weight: bold;}
.wdgt-qty { float: left; width: 30px; border: 1px solid #000000; margin: 9px 6px 0 13px; padding: 2px 0; text-align: center;}
.wdgt-bynow-btn { background-color: #ED4595; font-weight: bold; width: 78px; margin-top: 9px; border: 0 none; padding: 1px 0 2px; cursor: pointer; -webkit-box-shadow: 2px 2px 0 0 #000000; box-shadow: 2px 2px 0 0 #000000;}
.wdgt-bynow-btn:hover { background-color: #ffffff; color: #ED4595; }
.wdgt-gift-btn{ float: left; background: url("../../../images/widgetstore_images/gift-icon-white.png") no-repeat scroll center center transparent; background: none repeat scroll 0 0 transparent; width: 21px; height: 21px; margin: 9px 0 0 13px; display: block; }
.wdgt-share1, .wdgt-share2, .wdgt-gift-small-icon{ background: url("../../../images/widgetstore_images/icon_b.png") no-repeat scroll 0 0 transparent; float: left; margin: 9px 0 0 13px; width: 21px; height: 21px; cursor: pointer; position: relative; }
.wdgt-share2{ background: url("../../../images/widgetstore_images/icon_a.png") no-repeat scroll 0 0 transparent; margin-left: 5px; z-index: 10;}
.wdgt-gift-small-icon { background: url("../../../images/widgetstore_images/icon_c.png") no-repeat scroll 0 0 transparent; margin: 6px 0 0 8px; width: 18px; height: 24px; }
.wdgt-new-tab { background: url("../../../images/widgetstore_images/newtab-icon.png") no-repeat scroll 0 0 transparent; position: absolute; right: 7px; top: 40px; width: 18px; height: 18px; }
.wdgt-new-tab:hover{ cursor: pointer; }
.wdgt-popup-left-content{ position: absolute; top: 85px; left: 0; width: 75px; padding: 0 0 0 1px; min-height: 169px; }
.wdgt-images-wrapper-bg{ float: left; width: 74px; }
.wdgt-popup-left-content .wdgt-vp-image{ background-repeat: no-repeat; background-size: cover; background-position: center center; display: block; width: 74px; height: 55px; margin-bottom: 1px; cursor: pointer; }
.wdgt-popup-left-content .wdgt-vp-image:hover{ filter:alpha(opacity=7); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
.wdgt-popup-left-content .wdgt-vp-image-video{ background: url("../../../images/widgetstore_images/video-icon.png") no-repeat scroll center center transparent; position: absolute; left: 0; top: 0; z-index: 2; display: block; width: 74px; height: 55px; margin-bottom: 1px; cursor: pointer; }
.wdgt-related-details-wrapper h1{ float: left; font-size: 16px; color: #000000; margin-top: 11px; font-weight: bold; width: 100%; }
.wdgt-related-details { position: absolute; top: 105px; width: 250px; height: 163px; overflow: hidden; }
.wdgt-related-details ul{ float: left; width: 220px; margin-top: -15px;}
.wdgt-related-details ul li{ float: left; position: relative; width: 220px; padding: 15px 0 14px; }
.wdgt-related-details ul li p{ position: absolute; bottom: 0; width: 100%; border-bottom: 1px solid #000000; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-related-image { float: left; width: 45px; height: 45px; border: 1px solid #000000; margin-right: 8px; position: relative; }
.wdgt-related-image-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 45px; height: 45px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-related-image:hover .wdgt-related-image-hover{ display: block; cursor: pointer; }
.wdgt-related-product-title { float: left; width: 164px; font-size: 14px; color: #ED4595; margin-top: 5px;}
.wdgt-related-product-title:hover { text-decoration: underline; cursor: pointer;}
.wdgt-related-product-price { float: left; width: 164px; font-size: 11px; color: #000000; margin-top: 5px;}
.wdgt-related-details .jspTrack{ height: 161px !important; background: none repeat scroll 0 0 #FFFFFF; }
.wdgt-related-details .jspDrag{ background: none repeat scroll 0 0 #000000; }
.wdgt-related-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; border: 1px solid #000000; height: 161px !important;}

.wdgt-level2-wrapper{ background-color: #ffffff; height: 280px !important; }
.wdgt-level2-wrapper h1{ width: 230px; height: 33px; overflow: hidden; line-height: 33px; font-size:14px; color: #000000; font-weight: bold; margin-left: 9px;}
.wdgt-video{ float: left; height: 280px}
.wdgt-video-player { float: left; width: 336px; height: 247px; }

.wdgt-images-zoom{ float: left; height: 280px}
.wdgt-images-zoom-player { float: left; width: 336px; height: 247px; }

#slider1 { overflow:hidden; padding: 0;   }
#slider1 .viewport { float: left; width: 336px; height: 245px; overflow: hidden; position: relative; }
#slider1 .buttons, #slider1 .vline { float: left; width: 168px; height: 245px; display: none; cursor: pointer; position: absolute; top: 33px; z-index: 9;}
#slider1 .prev { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 10px 92px transparent; left: 0; }
#slider1 .next { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 140px 92px transparent; right: 0; }
.wdgt-images-zoom-player:hover #slider1 .prev, .wdgt-images-zoom-player:hover #slider1 .next{ display: block; }
#slider1 .vline { background-color: #ED4595; color: #000000; font-size: 20px; line-height: 28px; right: 60px; width: 5px;}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 336px; left: 0 top: 0; }
#slider1 .overview li{ float: left; background-color: #ffffff; background-size: cover; background-position: center 50%; background-repeat: no-repeat; height: 245px; width: 336px;}
#slider1 .image-slideshow-page{ position: absolute; top: 9px; right: 35px; font-size: 11px; }

#wdgt-cart-popup { background-color: #FFFFFF; color: #000000; position: absolute; left: 0; width: 336px; height: 280px; z-index: 999; display: none;}
/*top*/
#wdgt-main-top{height:25px; display: block; padding: 0 10px;}
#wdgt-main-top h1{font-size: 16px; color: #ffffff; font-weight: bold; line-height: 25px; display: inline-block;}
#wdgt-main-top #wdgt-main-top-close{font-size: 12px;color: #ffffff; line-height: 16px;float: right; }
#wdgt-main-top #wdgt-main-top-close:hover{font-size: 12px;color: #ffffff; line-height: 16px;float: right;text-decoration: underline;}
#wdgt-main-top #wdgt-added-items{float:left; font-size: 11px; }
#wdgt-main-top #wdgt-added-price{float:right; font-size: 12px; color:#000000; margin-right: 10px;}

/**/
#wdgt-added-price { float: right; margin: 13px 8px 0 0; }
#checkout{background: url("../../../images/widgetstore_images/new-window-icon.png") no-repeat scroll 96% center transparent; float: right; height: 28px; line-height: 28px; width: 170px; display: inline-block; text-indent: 11px; margin: 7px 18px 0 0;
font-weight: bold; text-decoration: none; }
#checkout:hover { filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
#continue{color: #ffffff; line-height: 16px;font-size: 12px;}
#continue:hover{text-decoration: underline;}

#wdgt-main-center{height: 200px;display: block;padding: 8px 7px 5px;width: 322px;}
#wdgt-main-center-wrapper{height: 200px;display: block;width: 328px;overflow: auto;}
#wdgt-main-center-content{height: auto;display: block;width: 302px;}
#wdgt-list{display: block;width: 302px; clear: both;}
#wdgt-list.marginBottom { margin-bottom:20px; }
#wdgt-list li{display: block;list-style: none; padding-bottom: 11px; width: 302px;border-bottom: 1px dotted #7F7F7F;}
.wgt-item-list{ display: table-cell;list-style-type: none;position: relative;}
.wdgt-merchant-lbl{ float: left; font-size: 12px; margin-bottom: 2px; }
.wdgt-cart-header-line { float: left; width: 100%; border-top: 2px solid #ED4595; }

.item-list-picture-wrapper{ float: left; height: 71px; margin-top: 7px; width: 47px; margin-right: 8px; display: table-cell; vertical-align: middle;}
.item-list-picture{display: block;vertical-align:middle;height: 45px;width: 45px; border: 1px solid #000000; background-position:center center; }
.wgt-item-list-detials{ float: left; width:181px; margin-top: 8px; margin-right: 8px; vertical-align: middle;}
.wgt-item-list-detials p{ font-size: 11px; margin: 2px 0;}
.wgt-item-list-detials h2{color:#ED4595;font-size: 14px;font-weight: bold;line-height: 16px;}
.wgt-item-list-lastcolum{float: left; height: 71px; margin-top: 7px; position: relative;vertical-align: middle;}


.wgt-item-price{font-size: 11px;line-height: 15px;font-weight: bold;margin-right: 10px;}
.wgt-item-status{font-size: 11px;line-height: 15px;font-weight: bold;margin-left: 10px;}

.oldprice{ float: left; font-size: 11px; font-style: italic; text-align: center; text-decoration: line-through; width: 100%; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.saleprice, .regularprice{ float: left; font-weight: bold; text-align: center; width: 100%;}

.wgt-item-list-numbers{width: 28px;height: 19px;display: inline-block;border: 1px solid #000;text-align: center;line-height: 21px;margin: 0px 0px 4px;vertical-align: top;}
.wgt-item-list-cancel{width: 23px;height: 23px;display: inline-block;background: url(../../../images/widgetstore_images/close-shadow.png) no-repeat scroll center center; margin: -2px 0 0 3px; cursor: pointer; }
.wgt-item-list-lastcolum a{color:#ED4595;font-size: 10px;line-height: 18px; display:block;}
.wgt-item-list-lastcolum a:hover{ text-decoration: underline; }

/**************************************************/
.wdgt-cart-items-wrapper{ position: absolute; right: 56px; top: 6px;  }
.wdgt-cart-top{ position: relative; -webkit-box-shadow: 0 8px 6px -6px #CCCCCC; -moz-box-shadow: 0 8px 6px -6px #CCCCCC; box-shadow: 0 8px 6px -6px #CCCCCC; }

#wdgt-cart-popup .jspTrack
{
	background: #fff !important;
	width: 10px;
	border: 1px solid;
	height: 196px !important;
}

#wdgt-cart-popup .jspDrag
{
	background: #000;
	width:10px;
}
#wdgt-cart-popup .jspVerticalBar {width: 12px !important; height: 198px !important;}
/************ jscroll ****************/

#wdgt-main-footer{height: 18px;display: block;padding: 0px 11px; position:absolute; bottom: 0; width: 314px; z-index: 120; bottom: 0;}
#wdgt-main-footer p{font-size: 9px; line-height: 16px;}
#wdgt-main-footer #main-footer-logo{font-size: 12px; margin-left: 4px;line-height: 16px;}
#wdgt-main-footer #main-footer-items{font-size: 9px; float: right; margin-top: 1px;}

#wdgt-cart-popup #wdgt-footer{ float: left; position: relative; width: 336px;background: #000000;padding: 0; height: 42px;}
#wdgt-cart-popup .wdgt-text-wrapper{height: 21px;float: right; width: 336px;}
#wdgt-cart-popup .wdgt-text-wrapper a{float:right;}

#wdgt-hide-right-excess{ background-color: #ffffff; position: absolute; z-index: 99999; left: 336px; top: 0; height: 280px; width: 100px; }
#wdgt-hide-bottom-excess{ background-color: #ffffff; position: absolute; z-index: 99999; left: 0; top: 280px; height: 100px; width: 336px; display: none; }

#wdgt-sharebox, #wdgt-wishlistbox{ position: absolute; top: 36px; left: -215px; width: 294px; height: 90px;  z-index: 50; 
				display: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; }
.wdgt-sharebox-arrow-top, .wdgt-wishlistbox-arrow-top{ width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom: 14px solid #ED4595; position: absolute; z-index: 60; top: -14px; left: 210px; }
.wdgt-share-lbl, .wdgt-wishlist-lbl { float: left; font-size: 14px; font-weight: bold; margin: 17px 0 0 23px; }
#wdgt-sharebox ul{float: left; margin: 25px 0 0 22px}
#wdgt-sharebox ul li{ float: left; list-style-type: none; width: 43px; height: 43px; margin-right: 8px; }
#wdgt-sharebox ul li img{ width: 43px; height: 43px; }
#wdgt-sharebox ul li img.active, #wdgt-sharebox ul li img:hover{ cursor: pointer; border: 1px solid #000000; -webkit-box-shadow: 0 0 4px 2px #ffffff; box-shadow: 0 0 4px 2px #ffffff; }

#wdgt-wishlistbox{ width: 233px; height: 110px; left: 52px;}
.wdgt-wishlistbox-arrow-top{ left: 180px; }
.wdgt-wishlist-lbl { margin: 16px 0 0 24px; }
#wdgt-wishlistbox ul{float: left; margin: 10px 0 0 22px}
#wdgt-wishlistbox ul li{ float: left; position: relative; list-style-type: none; width: 48px; height: 40px; margin-right: 22px; }
#wdgt-wishlistbox ul li span{ background-color: #ffffff; position: absolute; width: 46px; height: 38px; display: block; border: 1px solid #ED4595; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-wishlistbox ul li img{ position: absolute; z-index: 1; top: 6px; left: 8px; }
#wdgt-wishlistbox ul li span label{ position: absolute; top: 41px; color: #000000; font-weight: bold; width: 100%; text-align:center; }
#wdgt-wishlistbox ul li.active span, #wdgt-wishlistbox ul li:hover{ cursor: pointer; }
#wdgt-wishlistbox ul li.active span, #wdgt-wishlistbox ul li:hover span{ background-color: #ED4595; border-color: #ffffff; -webkit-box-shadow: 0 0 4px 2px #ffffff; box-shadow: 0 0 4px 2px #ffffff;}
#wdgt-wishlistbox ul li.active span label, #wdgt-wishlistbox ul li:hover span label{ color: #ffffff; }

.share-now:hover #wdgt-sharebox{ display: block; }
.wdgt-sharebox-box-top, .wdgt-wishlistbox-top {background-color: transparent; position: absolute; height: 16px; width: 100%; top: -16px; left: 0;}


#wdgt-giftbox{ background-color: #ffffff; display: none; position: absolute; top: 0; left: 0; z-index: 100; width: 336px; height: 280px; }
#wdgt-gifbox-top{ background-color: #000000; float: left; height: 68px; width: 336px; }
#wdgt-gifbox-top h1{ float: left; margin: 6px 0 0 14px; font-weight: bold; font-size: 15px; color: #ffffff; }
.wdgt-gift-picture{ float: left; margin: 8px 9px 0 15px; width: 36px; height: 30px; border: 1px solid #ffffff; clear: both; display: block; }
#wdgt-gifbox-top p { float: left; font-weight: bold; color: #EC4594; margin-top: 8px; width: 195px; }
#wdgt-giftbox-bottom{ float: left; color: #000000; height: 210px; width: 336px; border-bottom: 2px solid #000000; }
#wdgt-giftbox-bottom label{ float:left; margin: 32px 11px 0 37px;  }
#wdgt-giftbox-bottom select{ float:left; margin-top: 28px; width: 217px; padding: 2px; border: 1px solid #abadb3; }
#wdgt-giftbox-bottom textarea{ float: left; margin: 15px 0 0 13px; padding: 2px; width: 290px; height: 55px; color: #999999; border: 1px solid #abadb3;}

/* Preloader */
#fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#preloader-wrapper{background:transparent;height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center { position:relative; top: 55px;}
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }

#slideshow-title-div{position:absolute; left: 98px; top: 130px; z-index: 20; display:inline-table;vertical-align: middle;width: 204px; }

#slideshow-each-title-div, #slideshow-each-title-div-top{ position: absolute; top: 0; left: 0; width: 220px; height: 70px;}
#slideshow-each-title-div-top { width: 218px; }
#slideshow-title {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
}
#slideshow-title label{
	color: transparent;
    font-size: 18px;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	padding: 0px 0 3px 16px;
	display: inline;
}

#slideshow-title-top {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
}

#slideshow-title-top label{
	font-size: 18px;
	padding: 0 4px 0 10px;
	display: block;
	cursor: pointer;
	text-decoration: underline;
	position: relative;
}
.slideshow-btn { width: 23px; height: 46px; display: none; cursor: pointer; position: absolute; top: 56px; z-index: 15;}
#prev-slideshow { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 0 0 transparent; left: 10px }
#next-slideshow { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 0 0 transparent; right: 10px; }
#wdgt-slideshow-wrapper:hover #prev-slideshow, #wdgt-slideshow-wrapper:hover #next-slideshow{ display: block; }
/* product option selection */
#option-wrapper { position:absolute; top:0; left:0; z-index:9991; width:100%; height:100%; }
#option-wrapper #overlay { width:100%; height:100%; background-color:#FFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#option-wrapper #option-content { position:absolute; top:32px; left:27px; width:254px; height:185px; padding:12px 8px 17px 18px; background-color:#FFF; border:1px solid #999999; -webkit-box-shadow: 0px 0px 4px 2px #999999; box-shadow: 0px 0px 4px 2px #999999; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper #close-btn { background:url(/cdn/images/close-x.png) no-repeat; cursor:pointer; width:23px; height:23px; position:absolute; top:9px; right:16px; z-index:2; }
#option-wrapper .scroller { height:152px; /*width:100%;*/ width:254px; margin-bottom:10px; position:relative; }
#option-wrapper .scroller .jspVerticalBar { width:8px; height:150px; background-color:transparent; opacity:0.5; }
#option-wrapper .scroller .jspTrack { background-color: transparent; height:150px !important; border:1px solid #CCC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper .scroller .jspDrag { background-color:#000; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper button {background-color: #999999; border:0 none; color: #ffffff; font-size: 12px; font-weight:bold; text-align: center; width: 100px; height: 24px;  margin:0 0 0 0; font-family: Arial; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; }
.option-name-wrapper { color:#999999; font-size:16px; border-bottom:1px dashed #7F7F7F; padding-bottom:6px; margin-bottom:5px;}
.option-value-wrapper { }
.option-value-wrapper.marginBottom { margin-bottom:10px; }
.option-value-wrapper .option-value,
.option-value-wrapper .option-value-lbl { float:left; color:#000; }
.option-value-wrapper .option-value input { width:26px; height:26px; position:absolute; top:0; left:0; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; }
.option-value-wrapper.color .option-value { width:23px; height:23px; border:3px solid #FFF; text-align:center; position:relative; }
.option-value-wrapper.size .option-value { width:25px; height:20px; border:3px solid #999999; text-align:center; position:relative; line-height:20px; }
.option-value-wrapper.size label { margin:5px 0; display:block; }
.option-value-wrapper .option-value.selected { border:3px solid #000; }
.option-value-wrapper .option-value-lbl input { margin-top:5px; }
.value-txt { color:#666; float:left; line-height:25px; margin-left:8px; }
.value-txt.selected { color:#000; font-weight:bold; }

.customized_select { border:1px solid #CCCCCC; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; width:95%; height:24px; }
.customized_select.disabled { background-color:#888; }
.customized_select select { width:100%; height:100%; line-height:24px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.customized_select div { color:#333333; font-size:12px; width:100%; height:100%; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding-left:5px; background:url("/cdn/images/ministore_images/ms-bg-select.png") no-repeat scroll right center transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.sponsored-type3{
   position: absolute;
   top:0px;left: 0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: inline-block;line-height: 20px;
   opacity:0.8; filter:alpha(opacity=80);
}

.s-slidenote{
   position:absolute;
   top:-19px;left:0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: block;line-height: 20px;
   text-shadow: none !important;
}