@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Droid Sans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Webtoolkit clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

strong{ font-weight: bold; }
a{text-decoration: none;}
#wdgt-wrapper {
/*background: url("../../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 300px;
height: 250px;
margin: 0;
position: relative;
}
/*main*/
#wdgt-main-top{height: 40px; float:left; position:relative; z-index: 100; width: 300px;padding: 0px; }
#title-wrapper{line-height: 40px; font:arial;margin-left: 10px;display: inline-block; width: 200px;
vertical-align: middle; overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;}
#title-wrapper label{ font-size: 25px;font-weight: bold; cursor: pointer;}
.image-logo{ background-position: left center; background-repeat: no-repeat; background-size: contain; width: 220px; height: 34px; margin: 3px 0 0 -6px; display: block; position: fixed; }
#main-top-icons{float:right;height: 40px; width: 71px;}
#wdgt-main-top #top-search{float: left; width: 35px;height: 36px;display: table-cell;margin-right: 1px;vertical-align: top;background: url("../../../images/widgetstore_images/preview.png") no-repeat scroll center center #FFFFFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-main-top #top-addtocart{float: right; width: 35px;height: 36px;display: table-cell;vertical-align: top;background: url("../../../images/widgetstore_images/cart.png") no-repeat scroll center center #FFFFFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-main-top #top-search:hover, #wdgt-main-top #top-addtocart:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
/*main -center*/
#wdgt-main-center{width: 300px;display: inline-block;height: 250px; overflow: hidden; }
.ui-draggable{ right: 3px !important; }
#main-center-left{width:198px; ;height:194px; display: inline-block;border-right:solid 6px #ED4595;float: left;}
#main-center-left-top{width: 198px;height: 154px;display: inline-block;background: #333;
position:relative;
border-bottom:solid 6px #ED4595; }

.img-preview{width: 198px;height: 154px;}
#main-center-left-btmleft{float: left;border-right:3px solid  #ED4595;height: 34px;width: 96px;background: #fff;overflow: hidden;}

#main-center-left-btmright{float: right;border-left:3px solid  #ED4595;height: 34px;width: 96px;background: #fff;overflow: hidden;}

/*main -right center */

#main-center-right-top{height: 90px;width: 96px;display:inline-block;border-bottom: 6px solid #ED4595;background: #fff;overflow: hidden;}
.thumb-img{height: 90px;width: 96px;}
/*main- lower*/
#wdgt-main-footer{height: 18px;display: block;padding: 0px 8px; position:relative; z-index: 120; bottom: 0;}
#wdgt-main-footer p{font-size: 9px; line-height: 18px;}
#wdgt-main-footer #main-footer-logo{font-size: 13px; margin-left: 4px;line-height: 16px;}
#wdgt-main-footer #main-footer-items{font-size: 9px; float: right; }

#wdgt-main-center #wdgt-main-footer{ position:absolute; bottom: 0; width: 284px; z-index: 999;}

/*category*/
#wdgt-main-item-category{background: #fff;height: 16px;display: block;padding: 0px 8px;color:#000;}
#item-category-selected{height: 154px;width: 119px;display: inline-block;padding: 12px 13px;}
#item-category{font-size: 11px;color: #000;line-height: 16px;float: left;}

#link-item-categories{font-size: 11px;color: #000;line-height: 16px;float: right;text-decoration: underline;}

#item-category-selected h2{height: 37px;overflow: hidden;font-size: 15px;color: #000;font-weight: bold;}
#item-category-selected #price{font-size: 12px;font-weight: bold;color: #fff;line-height: 16px;margin: 4px 0px;}
#item-category-selected #description{margin:4px 0px;height: 66px;color: #000;text-align: left;overflow: hidden;}
#item-category-picwrapper{height: 178px;width: 152px;display: inline-block;float: right;position: relative;overflow: hidden;}
#item-category-picwrapper img{/*height: 168px;width: 99px;*/float: left;}
#item-selected-info{position: absolute;width: 78px;height: 19px;border: 1px solid #000;background:#ED4595;color: #fff;text-align: center;line-height: 19px;font-size: 12px;font-weight: bold;top:137px;left:10px }
#item-category-pagination{width: 53px;height:146px;padding:16px 0px;float: right;text-align: center; }
#item-category-pagination p{margin-bottom: 6px;font-size: 10px;}
#item-category-pagination ul li{list-style: none;display: block;}
#item-category-pagination ul li .pagination-box{height: 10px;width: 10px;display: inline-block;border: 1px solid #FFF;line-height: 16px;vertical-align: middle;margin: 4px 4px;}
#item-category-pagination ul li .pagination-num{color:#fff; font-size: 12px;line-height: 16px;vertical-align: middle;}

#item-category-pagination ul li #selected{background: #fff;}

/*splash*/
#wdgt-slideshow-wrapper{background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; width: 300px; display: inline-block; height: 194px;position: relative;}
#wdgt-slideshow-wrapper ul { float: left; width: 300px; height: 194px; }
#wdgt-slideshow-wrapper ul li{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; width: 300px; height: 194px; position: absolute; left: 0; top: 0; }
.wdgt-price-wrapper{height: 70px;width: 70px; top: 110px; left: 5px; width: 70px; display: inline-table;vertical-align: middle;position: absolute;}
.latest-price{display: table-cell;vertical-align: middle; text-align: center; font-size: 14px;font-weight: bold; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.latest-price span{padding: 0px 5px;}
.latest-price #amount{padding: 0px 5px;}
.latest-price #old-price{ font-size:11px;text-decoration: line-through;}

.wdgt-prod-price-bg{ font-size: 14px; font-weight: bold; text-align: center; display: table-cell; vertical-align: middle; height: 70px; left: 5px; margin: 0; padding: 0; position: absolute; top: 110px; width: 70px; z-index: 5; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; }
.wdgt-prod-price-bg-back{ display: block; height: 70px; left: 8px; margin: 0; padding: 0; position: absolute; top: 111px; width: 70px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; -webkit-box-shadow: 0 -1px 10px 0 #FFFFFF; box-shadow: 0 -1px 10px 0 #FFFFFF;}
.wdgt-prod-price{ position: absolute; z-index: 10; top: 170px; left: 7px; color: #ffffff; font-size: 16px; font-weight: bold; width: 80px; }
.wdg-price-wrapper-inside { display: table-cell; vertical-align: middle; height: 70px; width: 70px; text-align: center; }
.wdgt-prod-price-bg .old-price{ display: line-through; width: 100%; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; text-decoration: line-through;}
.wdgt-prod-price-bg .sale-price{ width: 100%; text-align: center; }

.oldprice{float: left; font-size: 11px; font-weight: normal; line-height: 12px; margin-bottom: 2px; margin-top: 8px; text-align: center; text-decoration: line-through; width: 100%;}
.saleprice{ float: left; line-height: 12px; text-align: center; width: 100%;}

.wdgt-prod-title { font-size: 18px; width: 195px; position: relative; top: 114px; left: 90px;}
.wdgt-prod-title span{ width: 190px; position: absolute; top: 0; left: 0; }
.wdgt-prod-title span label{ display: inline-block; padding: 3px 5px; color: transparent; line-height: 20px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-prod-title:hover span label{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-prod-title a{ display: inline-block; padding: 3px 5px; text-decoration: none; line-height: 20px; width: 185px; text-shadow: 1px 1px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); position: absolute; top: 0; left: 0; z-index: 5; }
/* #nav{ height: 14px; margin: 0 15px 0 5px; overflow: hidden; position: absolute; text-align: right; top: 7px; width: 280px; z-index: 20; }
#nav a { display: inline-block; margin: 0 0 0 5px; width: 18px; height: 8px; text-decoration: none; color: transparent; text-align: center; }
#nav a:hover{ width: 18px; }
#nav a.activeSlide { font-size: 11px; display: inline-block; margin: 0 0 0 5px; padding: 1px 0; width: 20px; height: 10px; text-decoration: none; text-align: center; line-height: 11px; } */
#nav{ height: 15px; margin: 0 15px 0 5px; overflow: hidden; position: absolute; text-align: right; top: 7px; width: 280px; z-index: 20; }
#nav a { font-size: 10px; display: inline-block; margin: 0 0 0 5px; padding: 1px 0; width: 20px; height: 9px; text-decoration: none; text-align: center; line-height: 9px; }
#nav a.activeSlide { display: inline-block; margin: 0 0 0 5px; width: 18px; height: 11px; text-decoration: none; color: transparent; text-align: center; }

#wdgt-splash-center{background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; width: 300px; display: inline-block; height: 194px;position: relative;}
.wdgt-shop-now-btn { 
	background: url("../../../images/widgetstore_images/shop_now_arrow.png") no-repeat scroll 179px center #ffffff; position: absolute; left: 23px; top: 107px; width: 215px; height: 46px; font-size: 25px; color: #000000; font-weight: bold; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; 
	text-decoration: none; line-height: 46px; text-align: center; cursor: pointer; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border: 0 none; }
.wdgt-shop-now-btn:hover{ filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1;}
#wdgt-main-center #container{ background-color: #ffffff; float: left; width: 300px; min-height: 194px;}

.col1{ height: 153px; width: 198px; -webkit-box-shadow: 0 0 6px 2px #ED4595; box-shadow: 0 0 6px 2px #ED4595;}
.col1 .wdgt-cat-title{ padding: 2px 4px; float: left; font-size: 10px; text-transform: uppercase; margin: 12px 0 0 16px; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}
.col2{ height: 90px; width: 96px; margin-left: 4px; text-align: center;}
.col3{ height: 90px; width: 96px; margin-right: 2px; text-align: center;}
.col4{ height: 90px; width: 96px; margin-left: 2px; text-align: center;}
.col2 .wdgt-cat-title, .col3 .wdgt-cat-title, .col4 .wdgt-cat-title{ position: relative; top: 11px; padding: 2px 4px; font-size: 10px; text-transform: uppercase; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8}

.wdgt-two-categories ul{ float: left; width: 300px; height: 192px; }
.wdgt-two-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 146px; height: 192px; cursor: pointer; }
.wdgt-two-categories ul li.list1{ margin-right: 8px; }
.wdgt-two-categories ul li.list2{ margin: 0; }
.wdgt-two-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 110px; padding: 2px 2px; margin: 14px 14px; text-transform: uppercase;}
.wdgt-two-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-three-categories ul{ float: left; width: 300px; height: 192px; }
.wdgt-three-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 96px; height: 192px; cursor: pointer; }
.wdgt-three-categories ul li.list1{ margin-right: 6px; }
.wdgt-three-categories ul li.list2{ margin-right: 6px; }
.wdgt-three-categories ul li.list3{ margin: 0; }
.wdgt-three-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 76px; padding: 2px 2px; margin: 14px 8px 0 8px; text-transform: uppercase;}
.wdgt-three-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }

.wdgt-four-categories ul{ float: left; width: 300px; height: 192px; }
.wdgt-four-categories ul li{ background-repeat: no-repeat; background-position: center center; background-size: contain; float: left; width: 146px; height: 93px; cursor: pointer; }
.wdgt-four-categories ul li.list1, .wdgt-four-categories ul li.list3{ margin-right: 8px; margin-bottom: 8px; }
.wdgt-four-categories ul li.list2, .wdgt-four-categories ul li.list4{ margin-bottom: 8px; }
.wdgt-four-categories ul li .wdgt-cat-title{ float: left; font-size: 10px; max-width: 108px; padding: 2px 2px; margin: 14px 18px 0 18px; text-transform: uppercase;}
.wdgt-four-categories ul li:hover{ filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; }


.sub-category-wrapper{ position: absolute; top: 0; left: 0; width: 300px; height: 250px; z-index: 999; }
.sub-category-bg{ background-color: #ffffff; position: absolute; top: 0; left: 0; width: 300px; height: 250px; filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9; -khtml-opacity: 0.9;}
.sub-category-content{ position: absolute; top: 12px; left: 24px; z-index: 10; width: 251px; height: 225px; border: 1px solid #CCCCCC; }
.sub-category-content .header-wrapper{ float: left; width: 249px; height: 33px; line-height: 33px; text-indent: 11px; margin: 1px 0 0 1px; font-size: 12px; font-weight: bold; }
.sub-category-content .close-btn{ background: url("/cdn/images/widgetstore_images/close-shadow.png") no-repeat scroll 0 0 transparent; width: 23px; height: 23px; position: absolute; top: 6px; right: 11px; display: block; cursor: pointer; }
.sub-category-content .listing-wrapper{ float: left; width: 238px; margin: 1px 0 0 12px; height: 180px; overflow: hidden; }
.sub-category-content .listing-wrapper ul{ float: left; width: 218px; }
.sub-category-content .listing-wrapper ul li{ float: left; width: 210px; height: 35px; line-height: 35px; padding-left: 8px; border-bottom: 1px solid #999999; overflow: hidden;}
.sub-category-content .listing-wrapper ul li:hover{ text-decoration: underline; cursor: pointer; }
.sub-category-content .jspVerticalBar { width: 10px !important; height: 178px !important;}
.sub-category-content .jspTrack { height: 178px !important; }

#wdgt-normal-category-display { float: left; }

.box {
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; background-size: contain;
    float: left; margin-bottom: 6px; color: #000000; overflow: hidden; position: relative; cursor: pointer;
}
.col1{ background-size: cover; }
.dbox:hover{ cursor: pointer; }
.subbox .slimScrollDiv{ position: absolute !important; top: 0;}
.subbox .slimScrollDiv .slimScrollBar{ background-color: #ffffff !important; margin-left: 2px; }
.wdgt-search-wrapper{ position: absolute; top: 40px; left: 0; width: 300px; height: 54px; z-index:999; }
.wdgt-search-lbl{ float: left; font-size: 12px; color: #ED4595; margin: 20px 0 0 10px; }
.wdgt-search{ float: left; width: 189px; color: #ED4595; border: 1px solid #ED4595; margin: 14px 0 0 8px; padding: 5px 34px 4px 4px; }
.wdt-search-button { background: url("../../../images/widgetstore_images/search-shadow-icon.png") no-repeat scroll center center #ED4595; float: left; width: 30px; height: 26px; margin-top: 14px; border: 0 none; margin-left: -30px; cursor: pointer; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8 }
.wdt-search-button:hover { filter:alpha(opacity=100); opacity: 1; -moz-opacity:1; -khtml-opacity: 1; }
.wdgt-search-cancel-link { float: left; color: #ED4595; text-decoration: none; margin: 20px 0 0 8px; text-decoration: underline; font-size: 11px; }
.wdgt-search-cancel-link:hover {text-decoration: underline; }


#wdgt-cart-popup { position: absolute; left: 0; width: 300px; height: 250px; z-index: 9999; display: none;}
/*top*/
#wdgt-cart-main-top{height:25px; display: block; background: #ED4595; padding: 0 8px; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; position: relative; }
#wdgt-cart-main-top h1{font-family: arial, sans-serif; font-size: 16px; color: #ffffff;font-weight: bold;line-height: 26px;display: inline-block;}
#wdgt-cart-main-top #wdgt-cart-main-top-close{font-size: 12px;color: #ffffff; line-height: 16px;float: right; }
#wdgt-cart-main-top #wdgt-cart-main-top-close:hover{font-size: 12px;color: #ffffff; line-height: 16px;float: right;text-decoration: underline;}
#wdgt-cart-main-top #wdgt-added-items{position: absolute; right: 50px; top: 6px; font-size: 11px; }
#wdgt-cart-main-top #wdgt-added-price{float:right;font-size: 12px; color:#000000; margin-right: 10px;}

/**/
#checkout{background: url("/cdn/images/widgetstore_images/new-window-icon.png") no-repeat scroll 96% center transparent; float: right; height: 24px; line-height: 24px; width: 160px; display: inline-block; text-indent: 11px; margin: 8px 11px 0 0;
font-weight: bold; text-decoration: none; }
#checkout:hover { filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
#continue{ float: left; margin-top: 5px; color: #ffffff; line-height: 16px;font-size: 12px;}
#continue:hover{text-decoration: underline;}

#wdgt-cart-main-center{height: 174px; display: block; padding: 5px 1px 7px 8px; width: 291px;}
#wdgt-cart-main-center-wrapper{height: 174px;display: block;width: 291px;overflow: auto;}
#wdgt-cart-main-center-content{height: auto;display: block;width: 264px; margin-top: 5px;}
#wdgt-list{display: block; width: 264px; clear: both; }
#wdgt-list.marginBottom { margin-bottom:20px; }
#wdgt-list li{display: block; list-style: none; width: 264px;border-bottom: 1px dotted #7F7F7F;}
.wgt-item-list{ display: table-cell;list-style-type: none;position: relative;}
.wdgt-merchant-lbl{ float: left; font-size: 12px; margin-bottom: 2px; }
.wdgt-cart-header-line { float: left; width: 100%; margin-top: 3px; }

.item-list-picture-wrapper{ float: left; height: 71px; margin-top: 7px; width: 47px; margin-right: 8px; display: table-cell; vertical-align: middle;}
.item-list-picture{ background-position: center center; background-repeat: no-repeat; background-size: cover; display: block;vertical-align:middle;height: 45px;width: 45px; border: 1px solid #000000; }
.wgt-item-list-detials{ float: left; width:143px; margin-top: 8px; margin-right: 8px; vertical-align: middle;}
.wgt-item-list-detials p{ font-size: 11px; margin: 2px 0;}
.wgt-item-list-detials h2{color:#ED4595; font-size: 12px; line-height: 14px;}
.wgt-item-list-lastcolum{float: left; height: 71px; margin-top: 7px; position: relative;vertical-align: middle;}


.wgt-item-price{font-size: 11px;line-height: 15px;font-weight: bold;margin-right: 10px;}
.wgt-item-status{font-size: 11px;line-height: 15px;font-weight: bold;margin-left: 10px;}

.oldprice{ float: left; font-size: 11px; font-style: italic; text-align: center; text-decoration: line-through; width: 100%; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.saleprice, .regularprice{ float: left; font-weight: bold; text-align: center; width: 100%;}

.wgt-item-list-numbers{width: 28px;height: 19px;display: inline-block;border: 1px solid #000;text-align: center;line-height: 21px;margin: 0px 0px 4px;vertical-align: top;}
.wgt-item-list-cancel{width: 23px;height: 23px;display: inline-block;background: url(../../../images/widgetstore_images/close-shadow.png) no-repeat scroll center center; margin: -2px 0 0 3px; cursor: pointer; }
.wgt-item-list-lastcolum a{color:#ED4595;font-size: 10px;line-height: 18px;}
.wgt-item-list-lastcolum a:hover{ text-decoration: underline; }

/**************************************************/
#wdgt-cart-popup .jspTrack
{
	width: 10px;
	height: 172px !important;
}

#wdgt-cart-popup .jspDrag
{
	width:10px;
}
#wdgt-cart-popup .jspVerticalBar {width: 10px !important; height: 172px !important;}
/************ jscroll ****************/

#wdgt-cart-popup #wdgt-footer{ float: left; position: relative; width: 300px; height: 39px;}
#wdgt-cart-popup .wdgt-text-wrapper{height: 21px; float: right; width: 336px;}
#wdgt-cart-popup .wdgt-text-wrapper #wdgt-added-price{ position: absolute; right: 178px; top: 13px; font-size: 11px; }

.wdgt-category-wrapper{ float: left; width: 300px; height: 194px; overflow: hidden; position: relative; z-index: 110;}
.wdgt-content-wrapper { position: absolute; top: 0; z-index: 10; width: 300px; height: 158px; overflow: hidden;}
.wdgt-header-category { float: left; width: 100%; }
.wdgt-header-title, .wdgt-header-category-title { float:left; width: 276px; padding: 4px 12px; font-size: 11px; line-height: 12px;}
.wdgt-header-title span{ float: left; width: 190px; }
.wdgt-header-title label.goto-categories{ float: right; padding-left: 20px; cursor: pointer; font-size: 10px; text-decoration: underline; }

.wdgt-product-listing{ float: left; width: 298px; height: 154px; padding: 0 1px 0 0; }
.wdgt-product-listing ul{ float: left; width: 277px; }
.wdgt-product-listing ul li{ float: left; position: relative; width: 277px; min-height: 68px; }
.common-border-bottom{ position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; }
.wdgt-product-listing-image{ background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat; background-size: cover; float: left; width: 106px; height: 70px; }
.wdgt-product-listing-image:hover{ filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; cursor: pointer; }
.product-info-wrapper{ float: left; padding: 11px 0 0 10px; width: 159px; }
.product-info-wrapper p, .product-info-wrapper span{line-height: 14px; max-height: 30px; overflow: hidden; }
.product-info-wrapper p:hover{text-decoration: underline; cursor: pointer;}
.wdgt-product-listing .jspVerticalBar{ width: 10px !important; height: 148px !important; top: 4px !important;}
.wdgt-product-listing .jspTrack{ height: 148px !important; }
.wdgt-sale-price{ text-decoration: line-through; filter:alpha(opacity=30); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; margin-right: 3px; }

.wdgt-header-category-title { width: 89px; padding: 0 5px; text-align: right;}
.wdgt-catlink{ color: #ffffff; text-decoration: none; }
.wdgt-catlink:hover { text-decoration: underline; }
.wdgt-product-min-info{ float: left; width: 187px; height: 140px; padding-left: 14px; }
.wdgt-product-min-info h1{ float: left; margin-top: 14px; font-size: 15px; }
.wdgt-product-min-info h1 a{ font-size: 15px; line-height: 16px; color: #000000; font-weight: bold; width: 100%;}
.wdgt-product-price{ float: left; font-size: 12px; font-weight: bold; margin-top: 10px; margin-right: 10px;}
.wdgt-product-mindesc{ float: left; overflow:hidden; width: 168px; height: 57px; overflow: hidden; font-size: 12px; line-height: 14px; margin-top: 9px; position: relative;}
.wdgt-more-info-btn{ position: absolute; top: 130px; right: 10px; border: 0 none; width: 78px; font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; padding: 2px 0;}
.wdgt-more-info-btn:hover { cursor: pointer; }
.wdgt-image-wrapper{ position: absolute; z-index: 0; width: 300px; top: 18px; right: 0; height: 140px; border-bottom: 1px solid #000000; }
.wdgt-product-image{ 
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	position: absolute; right: 0; width: 99px; height: 140px; 
}
.price-wrapper{ float: left; width: 100%;}
.wdgt-old-price{ font-weight: normal; text-decoration: line-through; font-size: 11px;}
.wdgt-product-pagination{position: absolute; bottom: 9px; height: 12px; margin-left: 0; text-align: left; width: 100%;}
.wdgt-product-pagination ul{ float: left; height: 12px; margin-left: 80px; }
.wdgt-product-pagination ul li{ float: left;}
.wdgt-product-pagination ul li a{text-decoration:none; width: 10px; height: 10px; margin: 0 4px; display: block; }
.wdgt-product-pagination ul li a span{display: none; font-size: 11px; text-align: center; margin-top: -13px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-product-pagination ul li a.selected {}
.wdgt-product-pagination ul li a.selected span{display: block}
.wdgt-product-pagination .wdgt-prev{ float: left; font-size: 11px; margin-right: 10px; }
.wdgt-product-pagination .wdgt-next{ float: left; font-size: 11px; margin-left: 11px;}
.wdgt-product-pagination .wdgt-prev:hover, .wdgt-product-pagination .wdgt-next:hover{text-decoration: underline; cursor: pointer}
.wdgt-product-pagination .wdgt-prev-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-next-disabled{ text-decoration: none !important; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-product-pagination .wdgt-prev-disabled:hover{ cursor: default; }
.wdgt-product-pagination .wdgt-next-disabled:hover{ cursor: default; }

#dialog-box{ background-color: #000000; position: absolute; left: 0; top: 0; z-index: 99999; height: 250px; text-align: center; width: 300px; filter:alpha(opacity=6); opacity: 0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;}
#dialog-box .preloader_wrapper{ margin-top: 110px;  }


#wdgt-popup{position: absolute; top: 0; left: 0; width: 300px; height: 250px;}
.wdgt-zoom-close{ background: url("../../../images/widgetstore_images/close-shadow.png") no-repeat scroll center center transparent; display: block; position: absolute; right: 4px; top: 4px; z-index: 22; width: 23px; height: 23px; cursor: pointer; }
.wdgt-popup-details-close{ display: block; position: absolute; right: 0; top: 0; z-index: 22; width: 45px; height: 25px; line-height: 25px; text-align: center; font-size: 11px; cursor: pointer; -moz-box-shadow: 0 0 6px 2px #CCCCCC; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC;}
.wdgt-popup-details-close:hover{ filter:alpha(opacity=8); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
.wdgt-popup-left{ float: left; width: 70px; height: 234px; position: relative; z-index: 10; -webkit-box-shadow: 0 0 6px 2px #CCCCCC; box-shadow: 0 0 6px 2px #CCCCCC; }
.wdgt-popup-left ul{ float: left; width: 70px; height: 234px; }
.wdgt-popup-left ul li{ float: left; position: relative; width: 70px; height: 34px; text-align: center; line-height: 33px;}
.wdgt-popup-left ul li p{ position: absolute; bottom: 0; width: 100%; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-popup-left ul li.wdgt-next-prev { height: 37px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-next { float: left; background: url("../../../images/widgetstore_images/next.png") no-repeat scroll center center transparent; position: absolute; left: 35px; width: 35px; height: 37px; display: block; cursor: pointer; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-vseparator { float: left; margin-left: 33px; height: 20px; width: 1px; color: #000000; font-size: 26px; }
.wdgt-popup-left ul li.wdgt-next-prev .wdgt-prev { float: left; background: url("../../../images/widgetstore_images/prev.png") no-repeat scroll center center transparent; position: absolute; left: 0; width: 34px; height: 37px; display: block; cursor: pointer; }

.wdgt-popup-left ul li.wdgt-product-price-display { height: 46px; font-weight: bold; line-height: 46px; }


.wdgt-popup-left ul li.active a, .wdgt-popup-left ul li:hover a{
    left: 0;
    position: absolute;
    width: 70px; 
	padding-right: 4px;
	text-decoration: none;
	}
.wdgt-popup-left ul li.active a#show-info, .wdgt-popup-left ul li:hover a#show-info{
	top: -1px;
	height: 34px;
}
.wdgt-popup-left ul li.wdgt-gift-wrapper { width: 70px; height: 80px; border: 0 none; }
.wdgt-popup-left ul li .wdgt-gift{ float:left; width: 70px; height: 80px; position: relative; }
.wdgt-popup-left ul li .wdgt-gift-icon{ background: url("../../../images/widgetstore_images/gift-shadow.png") no-repeat scroll center center transparent; width: 32px; height: 38px; position: absolute; left: 18px; top: 40px; }
.wdgt-popup-left ul li .wdgt-gift-icon:hover{cursor: pointer;}
.wdgt-gift-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 70px; height: 80px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-popup-left ul li .wdgt-gift:hover .wdgt-gift-hover{ display: block; cursor: pointer; }
.wdgt-buy-gift{ font-size: 11px;
    left: 0;
    line-height: 12px;
    position: absolute;
    text-align: center;
    top: 14px;
    width: 100%;}
.wdgt-vertical-bar { background-color: #FFFFFF; float: left; width: 21px; height: 218px; }
.wdgt-popup-right{ float: left; position: relative; width: 300px; height: 250px; }
.wdgt-product-details-wrapper h1{ display: table-cell; height: 41px; font-size: 14px; font-weight: bold; width: 225px; vertical-align: middle;}
.wdgt-product-details-wrapper h1 label{ float: left; width: 225px; }
.wdgt-product-details-wrapper .wdgt-price{ float: left; font-size: 12px; color: #ED4595; margin-top: 7px; font-weight: bold; width: 100%; }
.wdgt-product-details{ position: absolute; left: 77px; top: 82px; width: 221px; height: 145px; overflow: hidden;}
.wdgt-product-details .jspTrack{ height: 143px !important; }
.wdgt-product-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 143px !important;}
.wdgt-product-details .wdgt-images { float: left; width: 238px;}
.wdgt-product-details .wdgt-images li{
	background-color: #ffffff; background-position: center 50%; background-repeat: no-repeat;
	float: left; width: 87px; height: 64px; margin: 5px 9px 5px 5px; 
}
.wdgt-product-details .wdgt-images li:hover, .wdgt-product-details .wdgt-images li.active{ cursor: pointer; -webkit-box-shadow: 0px 0px 4px 1px #ED4595; box-shadow: 0px 0px 4px 1px #ED4595; }
.wdgt-product-details-wrapper h1.wdgt-image-h1{ margin-top: 6px; }
.wdgt-product-details-wrapper .wdgt-image-price{ margin-top: 2px; }
.wdgt-image-details{ height: 145px !important; margin-top: 2px;}
.wdgt-image-details .jspTrack, .wdgt-image-details .jspVerticalBar{ height: 143px !important; }
.wdgt-product-info{ float: left; font-size: 12px; width: 100%; line-height: 16px; filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;}
.wdgt-popup-top-content { display: table; position: absolute; overflow: hidden; width: 291px; height: 41px; top: 0; padding-left: 9px; left: 0; z-index: 2; }
.wdgt-buynow-bg-wrapper { position: absolute; width: 230px; height: 40px; top: 43px; left: 0; z-index: 0; filter:alpha(opacity=20); opacity: 0.2; -moz-opacity:0.2; -khtml-opacity: 0.2; }
.wdgt-buynow-shadow-wrapper { position: absolute; width: 230px; height: 40px; top: 43px; left: 0; z-index: 0; -webkit-box-shadow: 0px 0px 6px 2px #ED4595; box-shadow: 0px 0px 6px 2px #ED4595; }
.wdgt-buynow-wrapper { position: absolute; width: 234px; height: 38px; top: 41px; right: 0; z-index: 1px; }
.wdgt-reg-sale-price-wrapper { position: absolute; display: table; width: 66px; height: 38px; top: 41px; left: 0; z-index: 1px; }
.wdgt-reg-sale-price-wrapper p{ display: table-cell; width: 100%; height: 38px; vertical-align: middle; text-align: center; }
.wdgt-qty-lbl { float: left; font-size: 12px; margin: 15px 0 0 13px; font-weight: bold;}
.wdgt-qty { float: left; width: 30px; margin: 8px 6px 0 13px; padding: 2px 0; text-align: center; border: 0 none;}
.wdgt-bynow-btn { float: left; font-weight: bold; width: 80px; margin-top: 8px; border: 0 none; padding: 1px 0 2px; cursor: pointer;}
.wdgt-gift-btn{ float: left; background: url("../../../images/widgetstore_images/gift-icon-white.png") no-repeat scroll center center transparent; background: none repeat scroll 0 0 transparent; width: 21px; height: 21px; margin: 9px 0 0 13px; display: block; }
.wdgt-share1, .wdgt-share2, .wdgt-gift-small-icon{ background: url("../../../images/widgetstore_images/icon_b.png") no-repeat scroll 0 0 transparent; float: left; margin: 10px 0 0 10px; width: 22px; height: 22px; cursor: pointer; position: relative; z-index: 10;}
.wdgt-share2{ background: url("../../../images/widgetstore_images/icon_a.png") no-repeat scroll 0 0 transparent; margin-left: 7px; }
.wdgt-gift-small-icon { background: url("../../../images/widgetstore_images/icon_c.png") no-repeat scroll 0 0 transparent; margin: 6px 0 0 8px; width: 18px; height: 24px; }
.wdgt-new-tab { background: url("../../../images/widgetstore_images/newtab-icon.png") no-repeat scroll 0 0 transparent; position: absolute; right: 7px; top: 53px; width: 18px; height: 18px; }
.wdgt-new-tab:hover{ cursor: pointer; }
.wdgt-popup-left-content{ position: absolute; top: 79px; left: 0; width: 66px; padding: 0 0 0 1px; min-height: 153px; }
.wdgt-images-wrapper-bg{ float: left; width: 64px; }
.wdgt-popup-left-content .wdgt-vp-image{ background-repeat: no-repeat; background-size: cover; background-position: center center; display: block; width: 64px; height: 47px; margin-bottom: 1px; cursor: pointer; }
.wdgt-popup-left-content .wdgt-vp-image:hover{ filter:alpha(opacity=7); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7; }
.wdgt-popup-left-content .wdgt-vp-image-video{ background: url("../../../images/widgetstore_images/video-icon.png") no-repeat scroll center center transparent; position: absolute; left: 0; top: 0; z-index: 2; display: block; width: 64px; height: 47px; margin-bottom: 1px; cursor: pointer; }
.wdgt-related-details-wrapper h1{ float: left; font-size: 16px; color: #000000; margin-top: 11px; font-weight: bold; width: 100%; }
.wdgt-related-details { position: absolute; top: 95px; width: 216px; height: 132px; overflow: hidden; }
.wdgt-related-details ul{ float: left; width: 190px; margin-top: -15px;}
.wdgt-related-details ul li{ float: left; position: relative; width: 190px; padding: 15px 0 14px; }
.wdgt-related-details ul li p{ position: absolute; bottom: 0; width: 100%; border-bottom: 1px solid #000000; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.wdgt-related-image { float: left; width: 45px; height: 45px; border: 1px solid #000000; margin-right: 8px; position: relative; }
.wdgt-related-image-hover { 
	position: absolute; top: 0; left: 0; background-color: #666666; width: 45px; height: 45px;
	filter:alpha(opacity=3); opacity: 0.3; -moz-opacity:0.3; -khtml-opacity: 0.3; display: none;
}
.wdgt-related-image:hover .wdgt-related-image-hover{ display: block; cursor: pointer; }
.wdgt-related-product-title { float: left; width: 135px; font-size: 14px; color: #ED4595; margin-top: 5px;}
.wdgt-related-product-title:hover { text-decoration: underline; cursor: pointer;}
.wdgt-related-product-price { float: left; width: 135px; font-size: 11px; color: #000000; margin-top: 5px;}
.wdgt-related-details .jspTrack{ height: 130px !important; }
.wdgt-related-details .jspVerticalBar{ background: none repeat scroll 0 0 transparent; width: 10px; height: 130px !important;}

.wdgt-level2-wrapper{ height: 250px !important; }
.wdgt-level2-wrapper h1{ width: 192px; height: 31px; line-height: 31px; overflow: hidden; font-size:14px; margin-left: 6px;}
.wdgt-video{ float: left; height: 280px}
.wdgt-video-player { float: left; width: 300px; height: 219px; }

.wdgt-images-zoom{ float: left; height: 280px}
.wdgt-images-zoom-player { float: left; width: 300px; height: 219px; }

#slider1 { overflow:hidden; padding: 0;   }
#slider1 .viewport { float: left; width: 300px; height: 219px; overflow: hidden; position: relative; }
#slider1 .buttons, #slider1 .vline { float: left; width: 150px; height: 219px; display: none; cursor: pointer; position: absolute; top: 31px; z-index: 9;}
#slider1 .prev { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 10px 80px transparent; left: 0; }
#slider1 .next { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 120px 80px transparent; right: 0; }
.wdgt-images-zoom-player:hover #slider1 .prev, .wdgt-images-zoom-player:hover #slider1 .next{ display: block; }
#slider1 .vline { background-color: #ED4595; color: #000000; font-size: 20px; line-height: 28px; right: 60px; width: 5px;}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 300px; left: 0 top: 0; }
#slider1 .overview li{ float: left; background-size: cover; background-position: center 50%; background-repeat: no-repeat; height: 219px; width: 300px;}
#slider1 .image-slideshow-page{ position: absolute; top: 9px; right: 34px; font-size: 11px; }

#wdgt-hide-right-excess{ background-color: #ffffff; position: absolute; z-index: 99999; left: 300px; top: 0; height: 280px; width: 100px; }
#wdgt-hide-bottom-excess{ background-color: #ffffff; position: absolute; z-index: 99999; left: 0; top: 250px; height: 100px; width: 300px; }

#wdgt-sharebox, #wdgt-wishlistbox{ position: absolute; top: 36px; left: -232px; width: 288px; height: 90px; z-index: 10; border-right: 2px solid #000000; border-bottom: 2px solid #000000;
				display: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; }
.wdgt-sharebox-arrow-top, .wdgt-wishlistbox-arrow-top{ width: 0; height: 0; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; z-index: 60; top: -14px; left: 228px; }
.wdgt-share-lbl, .wdgt-wishlist-lbl { float: left; font-size: 14px; font-weight: bold; margin: 17px 0 0 23px; }
#wdgt-sharebox ul{float: left; margin: 27px 0 0 19px}
#wdgt-sharebox ul li{ float: left; list-style-type: none; width: 43px; height: 43px; margin-right: 8px; }
#wdgt-sharebox ul li img{ width: 43px; height: 43px; }
#wdgt-sharebox ul li img.active, #wdgt-sharebox ul li img:hover{ cursor: pointer; }

#wdgt-wishlistbox{ width: 233px; height: 110px; left: 48px;}
.wdgt-wishlistbox-arrow-top{ left: 186px; }
.wdgt-wishlist-lbl { margin: 16px 0 0 24px; }
#wdgt-wishlistbox ul{float: left; margin: 10px 0 0 22px}
#wdgt-wishlistbox ul li{ float: left; position: relative; list-style-type: none; width: 48px; height: 40px; margin-right: 22px; }
#wdgt-wishlistbox ul li span{ position: absolute; width: 46px; height: 38px; display: block; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 4px 2px #CCCCCC; box-shadow: 0 0 4px 2px #CCCCCC; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8;}
#wdgt-wishlistbox ul li img{ position: absolute; z-index: 1; top: 6px; left: 8px; }
#wdgt-wishlistbox ul li span label{ position: absolute; top: 41px; font-weight: bold; width: 100%; text-align:center; }
#wdgt-wishlistbox ul li.active span, #wdgt-wishlistbox ul li:hover{ cursor: pointer; }

#wdgt-giftbox{ background-color: #ffffff; display: none; position: absolute; top: 0; left: 0; z-index: 100; width: 336px; height: 280px; }
#wdgt-gifbox-top{ background-color: #000000; float: left; height: 68px; width: 336px; }
#wdgt-gifbox-top h1{ float: left; margin: 6px 0 0 14px; font-weight: bold; font-size: 15px; color: #ffffff; }
.wdgt-gift-picture{ float: left; margin: 8px 9px 0 15px; width: 36px; height: 30px; border: 1px solid #ffffff; clear: both; display: block; }
#wdgt-gifbox-top p { float: left; font-weight: bold; color: #EC4594; margin-top: 8px; width: 195px; }
#wdgt-giftbox-bottom{ float: left; color: #000000; height: 210px; width: 336px; border-bottom: 2px solid #000000; }
#wdgt-giftbox-bottom label{ float:left; margin: 32px 11px 0 37px;  }
#wdgt-giftbox-bottom select{ float:left; margin-top: 28px; width: 217px; padding: 2px; border: 1px solid #abadb3; }
#wdgt-giftbox-bottom textarea{ float: left; margin: 15px 0 0 13px; padding: 2px; width: 290px; height: 55px; color: #999999; border: 1px solid #abadb3;}

.show-listing{ width: 100%; height: 100%; text-align: center; position: relative; }
.show-product-btn{display: inline-block; cursor: pointer; padding: 3px 6px; font-size: 11px; text-align: center;position: relative; text-decoration: none; top: 40%;}

.share-now:hover #wdgt-sharebox{ display: block; }
.wdgt-sharebox-box-top, .wdgt-wishlistbox-top {background-color: transparent; position: absolute; height: 16px; width: 100%; top: -16px; left: 0;}
.wishlist-now:hover #wdgt-wishlistbox{ display: block; left: -190px;}
/* Preloader */
#fountainG{height:29px;position:relative;width:240px; margin:0 auto; }
.fountainG{-moz-animation-direction:linear;-moz-animation-duration:1.3s;-moz-animation-iteration-count:infinite;-moz-animation-name:bounce_fountainG;-moz-border-radius:19px;-moz-transform:scale(.3);-ms-animation-direction:linear;-ms-animation-duration:1.3s;-ms-animation-iteration-count:infinite;-ms-animation-name:bounce_fountainG;-ms-border-radius:19px;-ms-transform:scale(.3);-o-animation-direction:linear;-o-animation-duration:1.3s;-o-animation-iteration-count:infinite;-o-animation-name:bounce_fountainG;-o-border-radius:19px;-o-transform:scale(.3);-webkit-animation-direction:linear;-webkit-animation-duration:1.3s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:bounce_fountainG;-webkit-border-radius:19px;-webkit-transform:scale(.3);animation-direction:linear;animation-duration:1.3s;animation-iteration-count:infinite;animation-name:bounce_fountainG;background-color:#000;border-radius:19px;height:29px;position:absolute;top:0;transform:scale(.3);width:29px}
#fountainG_1{-moz-animation-delay:.52s;-ms-animation-delay:.52s;-o-animation-delay:.52s;-webkit-animation-delay:.52s;animation-delay:.52s;left:0}
#fountainG_2{-moz-animation-delay:.65s;-ms-animation-delay:.65s;-o-animation-delay:.65s;-webkit-animation-delay:.65s;animation-delay:.65s;left:30px}
#fountainG_3{-moz-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;-webkit-animation-delay:.78s;animation-delay:.78s;left:60px}
#fountainG_4{-moz-animation-delay:.91s;-ms-animation-delay:.91s;-o-animation-delay:.91s;-webkit-animation-delay:.91s;animation-delay:.91s;left:90px}
#fountainG_5{-moz-animation-delay:1.04s;-ms-animation-delay:1.04s;-o-animation-delay:1.04s;-webkit-animation-delay:1.04s;animation-delay:1.04s;left:120px}
#fountainG_6{-moz-animation-delay:1.17s;-ms-animation-delay:1.17s;-o-animation-delay:1.17s;-webkit-animation-delay:1.17s;animation-delay:1.17s;left:150px}
#fountainG_7{-moz-animation-delay:1.3s;-ms-animation-delay:1.3s;-o-animation-delay:1.3s;-webkit-animation-delay:1.3s;animation-delay:1.3s;left:180px}
#fountainG_8{-moz-animation-delay:1.43s;-ms-animation-delay:1.43s;-o-animation-delay:1.43s;-webkit-animation-delay:1.43s;animation-delay:1.43s;left:210px}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#FFFFFF;
	}
}

@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#000000;
	}
	
	100%{
	transform:scale(.3);
	background-color:#FFFFFF;
	}
}
/**/

#preloader-wrapper{background:transparent;height:100%;margin:0 auto;position:absolute;text-align:center;width:100%;z-index:99999; left:0; top:0; }
#preloader-wrapper .preloader-holder { position:relative; width:100%; height:100%; }
#preloader-wrapper #preloader-center { position:relative; top: 55px;}
#preloader-wrapper .preloader-storename { font-size:26px; margin-bottom:27px; }
#preloader-wrapper .preloader-pb { font-size:11px; margin-top:31px; }


#slideshow-title-div{position:absolute; left: 90px; top: 109px; z-index: 20; display:inline-table;vertical-align: middle;width: 204px; }

#slideshow-each-title-div, #slideshow-each-title-div-top{ position: absolute; top: 0; left: 0; width: 204px; height: 70px;overflow: hidden; }
#slideshow-each-title-div-top { width: 200px; }
#slideshow-title {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
}
#slideshow-title label{
	color: transparent;
    font-size: 18px;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	padding: 0px 0 3px 16px;
	display: inline;
}

#slideshow-title-top {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	
}

#slideshow-title-top label{
	font-size: 18px;
	padding: 0 4px 0 10px;
	display: block;
	cursor: pointer;
	position: relative;
}
.slideshow-btn { width: 23px; height: 46px; display: none; cursor: pointer; position: absolute; top: 56px; z-index: 15;}
#prev-slideshow { background: url("../../../images/widgetstore_images/wdgt-prev.png") no-repeat scroll 0 0 transparent; left: 10px }
#next-slideshow { background: url("../../../images/widgetstore_images/wdgt-next.png") no-repeat scroll 0 0 transparent; right: 10px; }
#wdgt-slideshow-wrapper:hover #prev-slideshow, #wdgt-slideshow-wrapper:hover #next-slideshow{ display: block; }
/* product option selection */
#option-wrapper { position:absolute; top:0; left:0; z-index:9991; width:100%; height:100%; }
#option-wrapper #overlay { width:100%; height:100%; background-color:#FFF; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity:0.8; -khtml-opacity: 0.8; }
#option-wrapper #option-content { position:absolute; top:17px; left:10px; width:254px; height:185px; padding:12px 8px 17px 18px; background-color:#FFF; border:1px solid #999999; -webkit-box-shadow: 0px 0px 4px 2px #999999; box-shadow: 0px 0px 4px 2px #999999; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper #close-btn { background:url(/cdn/images/close-x.png) no-repeat; cursor:pointer; width:23px; height:23px; position:absolute; top:9px; right:16px; z-index:2; }
#option-wrapper .scroller { height:152px; /*width:100%;*/ width:254px; margin-bottom:10px; position:relative; }
#option-wrapper .scroller .jspVerticalBar { width:8px; height:150px; background-color:transparent; opacity:0.5; }
#option-wrapper .scroller .jspTrack { background-color: transparent; height:150px !important; border:1px solid #CCC; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper .scroller .jspDrag { background-color:#000; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#option-wrapper button {background-color: #999999; border:0 none; color: #ffffff; font-size: 12px; font-weight:bold; text-align: center; width: 100px; height: 24px;  margin:0 0 0 0; font-family: Arial; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: 3px 3px 0 0 #000000; box-shadow: 3px 3px 0 0 #000000; cursor: pointer; }
.option-name-wrapper { color:#999999; font-size:16px; border-bottom:1px dashed #7F7F7F; padding-bottom:6px; margin-bottom:5px;}
.option-value-wrapper { }
.option-value-wrapper.marginBottom { margin-bottom:10px; }
.option-value-wrapper .option-value,
.option-value-wrapper .option-value-lbl { float:left; color:#000; }
.option-value-wrapper .option-value input { width:26px; height:26px; position:absolute; top:0; left:0; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; }
.option-value-wrapper.color .option-value { width:23px; height:23px; border:3px solid #FFF; text-align:center; position:relative; }
.option-value-wrapper.size .option-value { width:25px; height:20px; border:3px solid #999999; text-align:center; position:relative; line-height:20px; }
.option-value-wrapper.size label { margin:5px 0; display:block; }
.option-value-wrapper .option-value.selected { border:3px solid #000; }
.option-value-wrapper .option-value-lbl input { margin-top:5px; }
.value-txt { color:#666; float:left; line-height:25px; margin-left:8px; }
.value-txt.selected { color:#000; font-weight:bold; }

.customized_select { border:1px solid #CCCCCC; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position:relative; width:95%; height:24px; }
.customized_select.disabled { background-color:#888; }
.customized_select select { width:100%; height:100%; line-height:24px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; -khtml-opacity: 0; position:relative; top:0; left:0; z-index:10; }
.customized_select div { color:#333333; font-size:12px; width:100%; height:100%; line-height:24px; position:absolute; z-index:1; top:0; left:0; padding-left:5px; background:url("/cdn/images/ministore_images/ms-bg-select.png") no-repeat scroll right center transparent; resize: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.s-slidenote{
   position:absolute;
   top:-21px;left:0px;
   font-size: 11px;
   width: 106px;height: 20px;text-align: center;
   display: block;line-height: 20px;
   text-shadow: none !important;
}