.col1 .mask,
.col2 .mask,
.col3 .mask,
.col4 .mask,
.col1 .content,
.col2 .content,
.col3 .content,
.col4 .content {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.col1 .content,
.col2 .content,
.col3 .content,
.col4 .content {
	background-color: transparent !important;
	text-align: left;
}

.col2 .content ul,
.col3 .content ul,
.col4 .content ul {
    height: 90px !important;
    width: 96px !important;
}

.col2 .content ul li,
.col3 .content ul li,
.col4 .content ul li{
	float: left;
	width: 72px;
	padding: 6px 8px 0;
}

.col1 .content ul {
    filter:alpha(opacity=70); opacity: 0.7; -moz-opacity:0.7; -khtml-opacity: 0.7;
    position: relative;
	padding: 30px 0;
}

.col1 .content ul li{
	float: left;
	width: 146px;
	padding: 4px 27px 0;
}

.content ul li a{ text-decoration: none;}
.content ul li a:hover{ text-decoration: underline; }
/* NINTH EXAMPLE*/

.col1 .mask-1, .col1 .mask-2,
.col2 .mask-1, .col2 .mask-2,
.col3 .mask-1, .col3 .mask-2,
.col4 .mask-1, .col4 .mask-2 {
    height: 130px;
    width: 130px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.col1 .mask-1, .col1 .mask-2{
	height: 361px;
    width: 361px;
}
.col1 .mask-1,
.col2 .mask-1,
.col3 .mask-1,
.col4 .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-180px);
    -moz-transform: rotate(56.5deg) translateX(-180px);
    -o-transform: rotate(56.5deg) translateX(-180px);
    -ms-transform: rotate(56.5deg) translateX(-180px);
    transform: rotate(56.5deg) translateX(-180px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.col1 .mask-2,
.col2 .mask-2,
.col3 .mask-2,
.col4 .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(56.5deg) translateX(180px);
    -moz-transform: rotate(56.5deg) translateX(180px);
    -o-transform: rotate(56.5deg) translateX(180px);
    -ms-transform: rotate(56.5deg) translateX(180px);
    transform: rotate(56.5deg) translateX(180px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.col1 .content,
.col2 .content,
.col3 .content,
.col4 .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 96px;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}


.col1:hover .content,
.col2:hover .content,
.col3:hover .content,
.col4:hover .content {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 0;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
	color: #ffffff;
}

.col1 .content{ width: 198px !important; height: 153px !important; top: 40px; }
.col1:hover .mask-1, .col1:hover .mask-2,
.col2:hover .mask-1, .col2:hover .mask-2,
.col3:hover .mask-1, .col3:hover .mask-2,
.col4:hover .mask-1, .col4:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.col2:hover .mask-1,
.col3:hover .mask-1,
.col4:hover .mask-1 {
    -webkit-transform: rotate(47.5deg) translateX(1px);
    -moz-transform: rotate(47.5deg) translateX(1px);
    -o-transform: rotate(47.5deg) translateX(1px);
    -ms-transform: rotate(47.5deg) translateX(1px);
    transform: rotate(47.5deg) translateX(1px);
}

.col2:hover .mask-2,
.col3:hover .mask-2,
.col4:hover .mask-2 {
    -webkit-transform: rotate(47.5deg) translateX(-1px);
    -moz-transform: rotate(47.5deg) translateX(-1px);
    -o-transform: rotate(47.5deg) translateX(-1px);
    -ms-transform: rotate(47.5deg) translateX(-1px);
    transform: rotate(47.5deg) translateX(-1px);
}

.col1:hover .mask-1 {
    -webkit-transform: rotate(52.5deg) translateX(1px);
    -moz-transform: rotate(52.5deg) translateX(1px);
    -o-transform: rotate(52.5deg) translateX(1px);
    -ms-transform: rotate(52.5deg) translateX(1px);
    transform: rotate(52.5deg) translateX(1px);
}
.col1:hover .mask-2{
    -webkit-transform: rotate(52.5deg) translateX(-1px);
    -moz-transform: rotate(52.5deg) translateX(-1px);
    -o-transform: rotate(52.5deg) translateX(-1px);
    -ms-transform: rotate(52.5deg) translateX(-1px);
    transform: rotate(52.5deg) translateX(-1px);
}