.cart select { margin-bottom: 0; }
.clear { clear:both; }
.img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ardn { 
	display: inline-block;
	border-color: #00A3D8;
    border-width: 6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; width: 0; height: 0;
    margin-top: 7px;
	border-style: solid;
}

/* customized select */
.customized-select { display: inline-block; min-width: 300px; height: 30px; border-width: 1px; border-style: solid; -moz-border-radius:2px; -webkit-border-radius: 2px; border-radius: 2px; position: relative; z-index: 5; padding-right: 26px; text-align: left; }
.customized-select:focus { outline: none; }
.customized-select em { font-size: 14px; font-style: normal; width: 100%; height: 100%; line-height: 26px; padding: 0 0 0 6px; display: block; position: relative; overflow: hidden; white-space: nowrap; }
.customized-select .arrow { display: block !important; position: absolute; top: 5px;  right: 7px; z-index: 2; width: 12px; height: 10px; }
.customized-select .arrow svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.customized-select ul,
.header-bg.cart div.left .customized-select ul { display: none; margin: 0; padding:0; list-style: none none; position: absolute; top: 29px; left: -1px; z-index: 3; min-width: 101%; height: 280px; border-width: 1px; border-style: solid; overflow: hidden; overflow-y: auto; border-top: 0 none; border-right-width: 2px; }
.header-bg.cart div.left .customized-select { margin-left: 15px; }
.customized-select ul li { height: 16px; line-height: 16px; padding: 0 9px; font-size: 12px; display: block; white-space:nowrap; }
.customized-select ul li:hover,
.customized-select ul li.selected { background-color: #1E90FF; color: #FFF; }

.sel { border: 1px solid #ccc; background: #fff; border-radius: 3px; display: inline-block; padding: 8px 25px 7px 12px; position: relative; }
.sel > * { display: block; color: #00A3D8; }
.sel .ardn { position: absolute; right: 11px; top: 7px;}
.sel select.sdata { 
	z-index: 1;
	position: absolute;
	opacity: 0;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0; 
}

.header-bg div.opt-wrapp1 { display: table; }
.header-bg div.opt-wrapp1:last-of-type{
	text-align: right;
}
.header-bg .align-left{ text-align: left !important; }
.header-bg.cart div.right.opt-wrapp1 { padding: 0 30px 0 0; }
.header-bg.cart a.right.continuteshopping { margin-right: 31px; font-size: 14px; text-decoration: underline; line-height: 100px; }
.header-bg.cart a.right.continuteshopping.ws { margin-right: 0;}

.header-bg.cart div.left div > * { vertical-align: middle; display: inline-block; }
.header-bg div.opt-wrapp1 .shipwhere { 
	width: 300px;
	vertical-align: middle;
	text-align: left;
	margin-left: 20px;
	height: 36px;
	font-size: 14px;
	border-radius: 3px;
	padding: 6px; 
	width:auto;
	padding: 8px 80px 6px 12px
}

.header-bg.top-wrapper {
	float: left;
	position: relative;
	width: 100%;
	height: 100px;
}

.top-wrapper .opt-wrapp1 {
	padding: 0 30px;
}

.top-wrapper .opt-wrapp1 > div {
	width: 100%;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}

.top-wrapper .opt-wrapp1 h2 {
font-size: 20px; font-weight: 200;
margin: 0;
}

.checkout-wrapper {
float: left;
width: 100%;
min-height: 400px;
padding: 30px;
position: relative;
}

.checkout-wrapper.cart .noitems{ text-align: center; font-size: 16px; margin-top: 50px;}
.checkout-wrapper.cart .notloggedin { text-align: center; font-size: 16px; margin-top: 50px; }.
.checkout-wrapper.cart .notloggedin div {}
.checkout-wrapper.cart .notloggedin span { cursor: pointer; display: block; width: 100px; height: 38px; line-height: 38px; text-decoration: center; margin: 8px auto; border-width: 1px; border-style: solid; }

.checkout-wrapper.cart .merchcont { position: relative; margin-bottom: 50px; border: 1px solid #eee; }
.checkout-wrapper.cart .merchtop { height: 52px; padding: 17px 0; background: #FFF; }
.checkout-wrapper.cart .merchtop > div,
.checkout-wrapper.cart .merchtop > div div.opts * { padding: 0 20px; }
.checkout-wrapper.cart .merchtop > div > *,
.checkout-wrapper.cart .merchtop div.left div.opts * { display: inline-block; vertical-align: middle; }
.checkout-wrapper.cart .merchtop div.left h3 { font-size: 14px; margin: 0; }

.checkout-wrapper.cart .merchtop div.left div.opts a { font-size: 12px; padding: 0 15px; }
.checkout-wrapper.cart .merchtop div.left div.opts .sep { padding: 0; color: #999;}
.checkout-wrapper.cart .merchtop div.left div.opts .link-aaq { color: #ED666C;}
.checkout-wrapper.cart .merchtop div.right { text-align: right; color: #AAA; }
.checkout-wrapper.cart .merchtop div.right small { color: #AAA; font-size: 11px; padding: 0 15px; }
.checkout-wrapper.cart .merchtop div.right span.close { margin: 3px 0 0 15px; /* background: url('/cdn/images/v3/common.png') 0 -174px no-repeat; */ width: 11px; height: 11px; cursor: pointer; }
/*
.checkout-wrapper.cart .merchtop div.right span.close * { display: none;}
*/
.checkout-wrapper.cart .merchtop div.right span.close.remove-store svg { float: left; width: 9px; height: 9px; }
.checkout-wrapper.cart .merchtop div.right span.close.remove-store svg polygon { fill: #EE666C; }

.checkout-wrapper.cart .merchcont .ecover { 
	width: 100%;
	z-index: 2;
	opacity: .8;
	top: 91px;
	bottom: 0;
	background: #fff;
	position: absolute; 
	display: none;
}

.checkout-wrapper.cart .merchcont.error .ecover { display: block; }

.checkout-wrapper.cart .mdetails { border: none; width: 100%; }
.checkout-wrapper.cart .mdetails td { padding: 25px 30px 34px; }
.checkout-wrapper.cart .mdetails td:first-child { padding-left: 20px; }
.checkout-wrapper.cart .mdetails td:last-child { padding-right: 20px; }
.checkout-wrapper.cart .mdetails tr td { text-align: center; background: #fff; }
.checkout-wrapper.cart .mdetails thead tr td { font-size: 12px; color: #aaa; font-weight: 300; padding-top: 10px; padding-bottom: 10px; }
.checkout-wrapper.cart .mdetails tr td { vertical-align: top; border-bottom: 1px dotted #ccc; z-index: 2; }
.checkout-wrapper.cart .mdetails tr td:first-child,
.checkout-wrapper.cart .mdetails tr td:last-child { text-align: left;}

.checkout-wrapper.cart .mdetails tr.errorprod td { z-index: 1; }
.checkout-wrapper.cart .mdetails tr.errorprod td:nth-child(4) { z-index: 3}

.checkout-wrapper.cart .mdetails td.det a { display: inline-block; position: relative; padding-left: 89px; min-height: 75px; }
.checkout-wrapper.cart .mdetails td.det a > * { display: block; font-weight: 400; }
.checkout-wrapper.cart .mdetails td.det a span.thumb { position: absolute; left: 0; width: 75px; height: 75px; border: 1px solid #ddd; }
.checkout-wrapper.cart .mdetails td.det a h4 { display: block; color: #444; font-size: 14px; margin: 0 0 5px; }
.checkout-wrapper.cart .mdetails td.det a span {color: #444; font-size: 12px;}
.checkout-wrapper.cart .mdetails td.det a .prodopts { font-size: 12px; font-weight: 400; margin-top: 12px; }

.checkout-wrapper.cart .mdetails tr td.qty .sel { width: 60px; padding: 0; overflow: hidden; }
.checkout-wrapper.cart .mdetails tr td.price { width: 160px; }
.checkout-wrapper.cart .mdetails tr td.price span { line-height: 38px; font-weight: 400; }
.checkout-wrapper.cart .mdetails td.ship .sel.mline { width: auto; display: block;}
.checkout-wrapper.cart .mdetails td.ship .sel.mline span { font-size: 12px; }
.checkout-wrapper.cart .mdetails td.ship .sel.mline span strong { font-weight: 700;}
.checkout-wrapper.cart .mdetails td.ship .sel.mline small { font-size: 11px;}

.checkout-wrapper.cart .merchcont.error .mdetails tr.errorprod td.ship .sel.mline { display: none; }
.checkout-wrapper.cart .merchcont.error .mdetails tr.errorprod td.ship .sel { opacity: 0; }
.checkout-wrapper.cart .merchcont.error .mdetails tr.errorprod td.ship .opts { margin-top: 15px; z-index: 3; position: relative; }
.checkout-wrapper.cart .merchcont.error .mdetails tr.errorprod td.ship .opts a { border-right: none; padding-right: 0; }
.checkout-wrapper.cart .merchcont.error .mdetails tr.errorprod td.ship .opts a:last-child { display: none; }

.checkout-wrapper.cart .mdetails td.ship .opts { margin-top: 20px; text-align: right; font-size: 12px; font-weight: 500; }
.checkout-wrapper.cart .mdetails td.ship .opts a { padding: 0 10px; border-right: 1px solid #777; text-decoration: underline; }
.checkout-wrapper.cart .mdetails td.ship .opts a:last-child { border-right: none; }

.merchcont .mdetails td.ship .errordisp { position: relative; display: none; width: auto; text-align: right; min-width: 88px; min-height: 42px; cursor: default; }
.merchcont .mdetails td.ship .errordisp .inner { text-align: left; min-width: 382px; height: 92px; border:1px solid #FFF; display: inline-block; position: absolute; top: 0; right: 0; font-size: 12px; font-weight: 300; z-index: 3; }
.merchcont .mdetails td.ship .errordisp .inner .inner-top { width: 100%; height: 46px; background: #77609B; color: #fff; padding: 14px 10px 0 17px; }
.merchcont.error .mdetails td.ship .errordisp { display: block;}
.merchcont .mdetails td.ship .errordisp .caution { float: left; width: 19px; height: 15px; margin-right: 7px; }
.merchcont .mdetails td.ship .errordisp .caution svg { width: 19px; height: 15px; }
.merchcont .mdetails td.ship .errordisp .caution svg path { fill: #FFF;}
.merchcont .mdetails td.ship .errordisp .msg { max-width: 316px; float: left; text-align: left; padding-left: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.merchcont .mdetails td.ship .errordisp .msg strong { font-weight: 500;}
.merchcont .mdetails td.ship .errordisp .inner .inner-links {  height: 44px; line-height: 44px; text-align: center; background: url("/cdn/images/v3/bg-dispute2.png") repeat scroll 0 0 transparent }
.merchcont .mdetails td.ship .errordisp .inner .inner-links span { margin-right: 18px; color: #00A3D8; text-decoration: underline; font-weight: 400; cursor: pointer; }

.checkout-wrapper.cart .mdetails td select.sdata { 
	z-index: 1;
	position: absolute;
	opacity: 0;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0; cursor: pointer;
	background-image: none;
}

.checkout-wrapper.cart .mdetails td .selectqty select.sdata { height: 36px; border: 0 none; opacity: 1;background-color: transparent; font-size: 14px; padding: 4px 0 7px 12px; outline: none; position: relative; top: 0; width: 140%; }

.checkout-wrapper.cart table.sum { float: left; font-size: 14px; color: #777; border: none; }
.checkout-wrapper.cart table.sum * { background: #fff; text-align: right; }
.checkout-wrapper.cart table.sum th { width: 200px; font-weight: 300; color: #777; }
.checkout-wrapper.cart table.sum tr.total { border-top: 1px dotted #BBB; }
.checkout-wrapper.cart table.sum tr.total * { font-size: 16px; color: #000; font-weight: 700; padding-top: 20px; }

.checkout-wrapper.cart .redbtn { background: #E6565C; color: #fff; font-size: 16px; width: 270px; display: inline-block; text-align: center; padding: 15px 8px; cursor: pointer; }
.checkout-wrapper.cart .redbtn .arrgt {
	display: inline-block;
	border-color: #fff;
    border-width: 6px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent; width: 0; height: 0;
    margin-left: 7px;
	border-style: solid;
}

.checkout-wrapper.cart .merchbtm { padding: 0 17px 1.25em; }
.checkout-wrapper.cart .merchbtm textarea { width: 90%; height: 40px; max-height: 80px; font-size: 12px;border: 1px solid #eee; background: #fafafa; padding: 10px;}
.checkout-wrapper.cart .merchbtm .small-8 textarea { border: 0 none; box-shadow: none; }
.checkout-wrapper.cart .merchbtm table.sum { font-size: 12px; float: left; }
.checkout-wrapper.cart .merchbtm .right * { vertical-align: top; }
.checkout-wrapper.cart .merchbtm table.sum * { font-size: 12px; line-height: 1.3em; padding: 7px;}
.checkout-wrapper.cart .merchbtm table.sum td { padding-right: 20px; }
.checkout-wrapper.cart .merchbtm table.sum tr.total * { font-size: 14px; }
.checkout-wrapper.cart .merchbtm .redbtn { width: 200px; font-size: 14px; margin-left: 20px; }

.checkout-wrapper.cart .chkout .redbtn { margin-left: 20px; width: 250px; border-radius: 3px; }
.checkout-wrapper.cart .chkout img.paypallogo { margin-right: 6px; }
.checkout-wrapper.cart .chkout img.cards,
.checkout-wrapper.cart .chkout img.paypallogo { 
	display: none;
	float: right;
	margin-top: 20px;
} }

.checkout-wrapper.cart .pro-listing h2 { color: #444; font-size: 22px; font-weight: 100; }

.checkout-wrapper.checkout .mystyled-select { border: 1px solid #AAA; }
.checkout-wrapper.checkout .mystyled-select select { color: #00A3D9; }
.checkout-wrapper.checkout .mystyled-select svg polygon { fill: #00A3D9; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="text"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="password"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="date"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="datetime"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="datetime-local"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="month"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="week"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="email"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="number"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="search"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="tel"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="time"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border input[type="url"], 
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border textarea{
	border-color: #AAA;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li.default {
	background: url("/cdn/images/v3/bgchkdef.jpg") repeat scroll 0 0 transparent;
	border-radius: 2px;
	border: 1px solid #00A3D8;
}

/* DONDO's CSS on checkout header revamped */

.header-bg.checkout { height: 111px; line-height: 111px; }
.header-bg.checkout .tab-steps { float: left; line-height: 111px; }
.header-bg.checkout .tab-steps span { margin-right: 55px; }
.header-bg.checkout .tab-steps span.current { font-size: 18px; font-weight: bold; text-decoration: underline; }
.header-bg.checkout .tab-steps span.done {  font-size: 18px; text-decoration: none; font-weight: 400; } 
.header-bg.checkout .back-btn { float: right; position: relative; width: 70px; height: 24px; line-height: 21px; padding-left: 24px; margin-top: 45px; cursor: pointer; border-width: 1px; border-style: solid; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.header-bg.checkout .back-btn span { width: 0px; height: 0px; border-style: solid; border-width: 4px 5px 4px 0; border-top-color: transparent !important; border-left-color: transparent !important; border-bottom-color: transparent !important; position: absolute; top: 7px; left: 14px; }


/* existing DONDO's CSS rules on checkout.css modified */
.checkout-wrapper .bottom-wrapper .form-wrapper .form-border {
border-width: 1px;
border-style: solid;
width: 780px;
min-height: 460px;
border-color: #DDD;
}

.checkout-wrapper .cart-summary { width: 301px; float: right; border-top-style: dotted; border-top-width: 1px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell label span.fieldlabel,
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell div.labeltag span.fieldlabel { float: left; width: 163px; height: 32px; line-height: 32px; color:#777; }

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul {
margin: 0;
padding: 0;
list-style: none none;
width: 314px;
}

.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.listing ul li { border:1px solid #DDD; margin-bottom: 30px; font-size: 12px; padding:11px 12px 15px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.checkout-wrapper .bottom-wrapper .form-wrapper .form-content .tbl-cell.billing-col1 .cctype-wrapper ul li { float: left; width: 39px; height: 26px; border:2px solid transparent; margin-right: 1px; opacity: 0.4; cursor: pointer; background: url('/cdn/images/webstore_images/card.png') 100px 100px no-repeat; }
