#header, #sub-wrapper{ width: 100%; }
/* low resolution, 320px and below */
/* @media only screen and ( max-width: 320px ){
	.options-wrapper{ background: url("/cdn/images/v2/sign-reg-bg.png") repeat scroll 0 0 transparent; }
	.container-content-bg, .container-top-bg{ display: none; }
}​
.break{ clear: both; } */
/* medium resolution, 320px to 640px */
@media only screen and ( min-width:320px ) {
	#wrapper-container, #header, #sub-wrapper, .small-header{ width: 960px; }
	#.container-content-bg, .container-top-bg{ display: none; }
	.list-products ul li .prod-info .login-to-save{ width: 98px; font-size: 14px; }
	.list-products ul li .prod-info{ border: 14px solid #cccfd7; }
	.list-products ul li .prod-info .bottom div p{ font-size: 11px; line-height: 11px; }
	.list-products ul.five-list li{ width: 25%; }
	.sticked-more-collection .product-info-box .top .comp-name{ font-size: 14px; line-height: 28px; }
	.product-listing ul li{ width: 50%; }
}​
.break{ clear: both; }
/* medium resolution, 641px to 959px */
@media only screen and ( min-width:641px ) {
	#wrapper-container, #header, #sub-wrapper{ width: 960px; }
}​
.break{ clear: both; }

/* high resolution, 960px and higher */
@media only screen and ( min-width:960px ) {
	#wrapper-container, #header, #sub-wrapper, .small-header{ width: 100%; }
	#.container-content-bg, .container-top-bg{ display: block; }
	.list-products ul li .prod-info{ border: 20px solid #cccfd7; }
	.list-products ul.five-list li{ width: 20%; }
	.product-listing ul li{ width: 25%; height: 260px; }
	.u-product-height-stadard { height: 260px; }
}​
.break{ clear: both; }
/* high resolution, 1200px and higher */
@media only screen and ( min-width:1200px ) {
	#wrapper-container, #header, #sub-wrapper, .small-header{ width: 1200px;  }
	#.container-top-bg{ width: 100%; }
	.list-products ul li .prod-info .login-to-save{ width: 140px; font-size: 17px; }
	.list-products ul li .prod-info .bottom div p{ font-size: 12px; line-height: 14px; }
	.sticked-more-collection .product-info-box .top .comp-name{ font-size: 16px; line-height: 28px; }
	.product-listing ul li{ width: 20%; height: 240px; }
	.u-product-height-stadard { height: 240px; }
}​