.options-wrapper.profile { height: 210px; min-height: 210px; }
.profile-header { width: 100%; height: 100%; }
.profile-header .inner { height: 238px; vertical-align: middle; padding: 30px 30px 36px; }
.profile-header .inner .thumb-wrapper { float: left; position: relative; width: 150px; height: 150px; margin-right: 18px; overflow: hidden; }
.profile-header .inner .thumb { float: left; position: relative; overflow: hidden;  width: 150px; height: 150px; background-size: cover; background-position: center center; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.profile-header .inner .thumb img { max-height: 150px; width: 150px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;  }
.profile-header .inner .thumb span { position: absolute; left: 0; bottom: 0; width: 100%; height: 38px; font-size: 11px; line-height: 36px; opacity: 0.9; display: block; text-align: center; }


.profile-header .inner .thumb-wrapper .profile-menu { background: url("/cdn/images/v3/bg.png") repeat scroll 0 0 #CCCCCC; position: absolute; top: 158px; left: 0; width: 220px; height: 165px; text-align: left; opacity: 0; border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 4px 1px #CCCCCC; -webkit-box-shadow: 0 0 4px 1px #CCCCCC; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -o-transition-duration: 0.3s; z-index: 10; }
.profile-header .inner .thumb-wrapper:hover  { overflow: visible; }
.profile-header .inner .thumb-wrapper:hover .profile-menu { top: 168px; opacity: 1; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -o-transition-duration: 0.3s; }
.profile-header .inner .thumb-wrapper .profile-menu .spacer{ position: absolute; top: -30px; left: 0; display: block; width: 100%; height: 30px; }
.profile-header .inner .thumb-wrapper .profile-menu .arrow-up{ position: absolute; top: -11px; left: 63px; display: block; width: 0; height: 0; border-style: solid; border-width: 0 13px 11px 13px; border-color: transparent transparent #ddd transparent; opacity: 0.8; }
.profile-header .inner .thumb-wrapper .profile-menu ul{ float: left; list-style-type: none; width: 100%; margin: 0; padding: 0; }
.profile-header .inner .thumb-wrapper .profile-menu ul li{ float: left; position: relative; width: 100%; height: 55px; cursor: pointer; overflow: hidden; }
.profile-header .inner .thumb-wrapper .profile-menu ul li a{ float: left; width: 100%; height: 55px; }
.profile-header .inner .thumb-wrapper .profile-menu ul li div{ float: left; width: 58px; height: 53px; padding: 15px 0 0 22px; }
.profile-header .inner .thumb-wrapper .profile-menu ul li .icon{ display: block; width: 24px; height: 24px; line-height: 26px; border-radius: 50%; text-align: center; }
.profile-header .inner .thumb-wrapper .profile-menu ul li .lbl{ float: left; display: block; line-height: 53px; font-size: 14px; }
.profile-header .inner .thumb-wrapper .profile-menu ul li.uload-logo .icon{ background-repeat: no-repeat; background-color: transparent; background-size: cover; }
.profile-header .inner .thumb-wrapper .profile-menu ul li.new-logo .icon{ font-size: 10px; }
.profile-header .inner .thumb-wrapper .profile-menu ul li.new-logo input{ position: absolute; top: 0; left: -102px; width: 328px; height: 55px; z-index: 5; opacity: 0; cursor: pointer; }
.profile-header .inner .thumb-wrapper .profile-menu ul li.ui-logo .icon{ font-size: 11px; font-weight: 400; }
.profile-header .inner .thumb-wrapper .profile-menu ul li .bline{ position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; border-top: 1px solid #EEEEEE; }
.profile-header .inner .thumb-wrapper .profile-menu ul li:hover{ background-color: #EEEEEE; }

.profile-header .inner .profile-info-wrapper { padding:8px 0 0; float: left; /* width: 456px; */}
.profile-header .inner .profile-info-wrapper.no-socialaccounts { margin-top: 23px; }
.profile-header .inner .profile-name { line-height: 28px; height: 28px; font-size: 30px; color: #444444; margin-bottom: 11px; }
.profile-header .inner .profile-name .fullname { float: left; color: #222; }
.profile-header .inner .profile-name .username { font-size: 16px; color: #999999; margin-left: 10px; float: left; }
.profile-header .inner .social-account-wrapper { height: 28px; line-height: 28px; margin: 0 0 18px 1px; }
.profile-message-btn{ background-color: #EE666C; float: left; width: 100px; height: 27px; line-height: 25px; display: block; font-size: 14px; color: #FFFFFF; border-radius: 1.5px; margin: 0 10px 12px 0; cursor: pointer; }
.profile-message-btn .icon{ background: url('/cdn/images/v3/common.png') no-repeat scroll 0 -111px transparent; width: 24px; height: 20px; display: inline-block; margin: 0 6px; vertical-align: middle; }
.profile-header .inner .social-account-wrapper a { float: left; width: 27px; height: 27px; display: block; margin-right: 8px; background: url("/cdn/images/v3/common.png") no-repeat; }
.profile-header .inner .social-account-wrapper a.fb { background-position: 0 -83px; }
.profile-header .inner .social-account-wrapper a.gplus { background-position: -28px -83px; }
.profile-header .inner .social-account-wrapper a.linkedin { background-position: -56px -83px;}
.profile-header .inner .social-account-wrapper a.tw { background-position: -84px -83px; }
.profile-header .inner .social-account-wrapper a.pinterest { background-position: -112px -83px; }
.profile-header .inner .social-account-wrapper a.blog { width: auto; background: none; color: #3CA3D6; margin-right: 17px; }
.profile-header .inner .follow-link { display: inline-block; width: 108px; height: 50px; line-height: 50px; text-align: center; color: #00A3D9; font-size: 12px; background-color: #F2F5F6; float: left; border: 1px solid #DDDDDD; margin-left: -1px; }
.profile-header .inner .follow-link.selected,
.profile-header .inner .follow-link:hover { color: #F2F5F6; background-color: #00A3D9; border-color:#00A3D9; }
.profile-header .inner .follow-btn { display: inline-block; width: 108px; height: 50px; line-height: 48px; text-align: center; color: #00A3D9; font-size: 12px; background-color: #FFFFFF; float: left; border: 1px solid #DDDDDD; margin-left: 6px; cursor: pointer; }
.profile-header .inner .follow-btn.unfollow {  }
.profile-header .inner .account-settings-link { display: inline-block; width: 128px; height: 50px; line-height: 48px; text-align: center; color: #00A3D9; font-size: 12px; background-color: #FFFFFF; float: left; border: 1px solid #DDDDDD; margin-left: 6px; }
.profile-header .inner .edit-btn { float: left; cursor: pointer; display: block; width: 50px; height: 27px; line-height: 25px; text-align: center; color: #00A3D9; background-color: #F2F5F6; border: 1px solid #DDDDDD; font-size: 12px; }
.profile-header .inner .edit-btn.add-social-acct { width: 160px; }
.profile-header .inner .profile-aboutme-wrapper { float: left; }
.profile-header .inner .aboutme-entry { position: relative; }
.profile-header .inner .aboutme-entry .loader{ background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat scroll center center; position: absolute; width: 100%; height: 58px; z-index: 2; }
.profile-header .inner .aboutme-entry textarea { border:1px solid #CCC; width: 100%; height: 54px; font-size: 12px; padding: 0.2em 0.5rem; }
.profile-header .inner .aboutme-entry .edit-btn { width: 60px; display: block; margin-top: 9px; position: absolute; top: -10px; right: -68px; }
.profile-header .inner .aboutme-text { float: left; color: #999999; font-size: 12px; position: relative; width: 88%; padding-bottom: 30px; max-height: 68px;}
.profile-header .inner .aboutme-text .texts { float: left; overflow: hidden; }
.profile-header .inner .aboutme-text .bgoverlay { display: none; background-color: #FFF; opacity: 0.8; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1}
.profile-header .inner .aboutme-text .edit-btn { display: none; float: none; position: absolute; top: 24%; left: 44%; z-index: 2; }
.profile-header .inner .aboutme-text:hover .bgoverlay,
.profile-header .inner .aboutme-text:hover .edit-btn  { display: block; } 

.list-collections { float: left; width: 100%; }
.list-collections .caption { font-size: 14px; color: #777; }
.list-collections .caption .total-people { text-transform: uppercase; }

/* Profile Collections */
.list-collections .two-list { padding: 0; margin:0; list-style: none none; width: 100%; font-size: 12px; }
.list-collections .two-list li { cursor: pointer; height: 364px; float: left; margin-bottom: 30px; position: relative; }
.list-collections .two-list li:nth-child(odd){ padding-right: 15px; }
.list-collections .two-list li:nth-child(even){ padding-left: 15px; }
.list-collections .two-list li .collection-content-wrapper{ position: relative; height: 364px; border:1px solid #f0f0f0;  }
.list-collections .two-list li:nth-child(even) { margin-right: 0; }
.list-collections .two-list li .left-column { height: 100%; border-right: 3px solid transparent; float: left; padding: 25px 25px 0 25px; font-weight: 300; border-bottom: 20px solid #ffffff; overflow: hidden; } 
.list-collections .two-list li .right-column { height: 100%; background: none repeat scroll 0 0 transparent; float: left; }
.list-collections .left-column .collection-name { color: #444444; font-size: 16px; line-height: 20px; position: relative; top: -5px; }
.list-collections .left-column .total-products { color: #777777; margin-top:0px; }
.list-collections .left-column .collection-from-text { color: #777777; margin: 24px 0 4px; }
.list-collections .left-column a { color: #3CA3D6; margin-bottom: 2px; display: block; text-transform: capitalize; }
.list-collections .right-column ul { float: left; width: 100%; list-style: none none; padding: 0; margin: 3px 0; }
.list-collections .right-column ul li { float: left; border:0 none; height: 118px; margin: 0; margin-bottom: 1px; padding: 0 1px 0 0 !important; }
.list-collections .right-column ul li.large1 { height: 236px; }
.list-collections .right-column ul li:nth-child(3n+2) { margin: 0; }
.list-collections .right-column .products { background-position: center center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; display: block; }
.list-collections .two-list li:hover .collection-desc-wrapper { display: table; text-decoration: none; }
.list-collections .collection-desc-wrapper { position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; color: #777; font-size: 12px; display: none; }
.list-collections .bg-stripes{ background: url("/cdn/images/v2/sign-reg-bg.png") repeat scroll 0 0 #CCCFD7 !important; height: 89px; border-top: 9px solid #CCCFD7; line-height: 14px; }
.list-collections .collection-desc-wrapper .tbl-cell { vertical-align: middle; width: 414px; padding: 0 8px 0 17px; }
.list-collections .collection-desc-wrapper .tbl-cell.btn-col { width: auto; padding-right: 21px; }
.list-collections .collection-desc-wrapper .btn { display: block; cursor: pointer; width: 110px; height: 34px; line-height: 34px; color: #FFF; font-size: 14px; background-color: #00A3D9; text-align: center; text-transform: capitalize; position: relative; }
.list-collections .collection-desc-wrapper .btn span { display: none; }
.list-collections .collection-desc-wrapper .btn:hover{ opacity: 0.8; }
.list-collections .collection-desc-wrapper .btn.unfollow { background-color: #F2F5F6; color: #00A3D9; }
.list-collections .collection-desc-wrapper .btn.unfollow:hover span { display: block; width: 100%; height: 100%; color: #FFF; font-size: 14px; background-color: #00A3D9; position: absolute; top: 0; left: 0; }

/* Profile Shops: contributed shops */
.contributed-shops-wrapper { margin-top: 25px; margin-bottom: 52px; height: 256px; }
.contributed-shops-wrapper .caption-text { color: #444444; font-size: 14px;  }
.contributed-shops-wrapper .caption-text a { color: #00A3D8; text-decoration: none; }
.contributed-shops-wrapper ul { padding: 0; margin:13px 0 0; list-style: none none; width: 100%; height: 224px; font-size: 12px; border-bottom: 1px solid #E5E7ED; border-top: 1px solid #E5E7ED; background-color: #F7F8FA; position: absolute; left: 0; }
.contributed-shops-wrapper ul li { height: 224px; padding: 46px 36px 0 36px; float: left; }
.contributed-shops-wrapper ul li:nth-child(2) { border-right: 1px solid #E5E7ED; border-left: 1px solid #E5E7ED; }
.contributed-shops-wrapper .shop-detail-wrapper .thumb { float: left; overflow: hidden;  width: 97px; height: 96px;  background-size: cover; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.contributed-shops-wrapper a { text-decoration: none; }
.contributed-shops-wrapper .shop-detail-wrapper .right-details { float: left; margin-left: 20px; }
.contributed-shops-wrapper .shop-detail-wrapper .store-name { color: #00A3D9; font-size: 16px; text-transform: capitalize; }
.contributed-shops-wrapper .shop-detail-wrapper .right-details div { color: #777777; }
.contributed-shops-wrapper .shop-detail-wrapper .right-details div a { color: #00A3D9; }
.contributed-shops-wrapper .shop-detail-wrapper .store-url { display: block; background-color: #FFF; color: #00A3D9; border: 1px solid #00A3D9; width: 110px; height: 34px; line-height: 34px; text-align: center; margin-top: 12px; }
.contributed-shops-wrapper  .claim-btn { color: #00A3D8; margin-top: 18px; display: block; }

/* Profile Shops: followed shops */
.total-followed-shops-text { color: #444444; font-size: 14px; margin-bottom: 9px; }
.shoplist-wrapper { padding: 0; margin:0; list-style: none none; width: 100%; }
.shoplist-wrapper > * {  font-weight: 300;}
.shoplist-wrapper li { height: 483px; margin-bottom: 32px; }
.shoplist-wrapper li .inside-shoplist{ height: 483px; border: 1px solid #F0F0F0; float: left; background-color: #FFFFFF; margin-bottom: 32px; }
.shoplist-wrapper li:nth-child(odd) .inside-shoplist{ margin-right: 15px; } 
.shoplist-wrapper li:nth-child(even) .inside-shoplist{ margin-left: 15px; } 

.shoplist-wrapper .head-wrapper{ background: url("/cdn/images/v3/bg-sub-menu.png") repeat scroll 0 0 transparent; height: 103px; padding: 12px 28px 0 11px; }
.shoplist-wrapper .head-wrapper .thumb { float: left; overflow: hidden;  width: 76px; height: 76px; margin-right: 13px; background-color: #ffffff; background-size: contain; background-repeat: no-repeat; background-position: 50%; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; /* background-size: cover; float: left; height: 76px; overflow: hidden; width: 76px; border-radius: 50%; margin-right: 13px; */ }
.shoplist-wrapper .head-wrapper .info-box1 { display: table-cell; width: 100%; height: 76px; vertical-align: middle; }
.shoplist-wrapper .head-wrapper .info-box1 a{ font-size: 20px; display: block; line-height: 20px; }
.shoplist-wrapper .head-wrapper .info-box1 span{ font-size: 12px; color: #777777; width: 100%; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content { font-size: 12px; color: #777777; text-align: right; line-height: 24px; width: 100%; margin-bottom: 4px; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content .u-image{ background-size: cover; position: relative; border-radius: 50%; display: inline-block; height: 24px; margin-right: 5px; overflow: hidden; width: 24px; vertical-align: middle; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content .u-image .ipic-thumb{ position: absolute; width: 100%; height: 100%; line-height: 22px; font-size: 11px; }
.shoplist-wrapper .head-wrapper .head-right .follow-btn{ background-color: #ffffff; padding: 0 18px; height: 48px; line-height: 46px; font-size: 16px; border: 1px solid #00A3D8; color: #00A3D8; display: block; cursor: pointer; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content .hover-card{ text-align: left; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content .u-sticked-pic-wrapper .hover-card-pos-on-details{ left: -104px; }
.shoplist-wrapper .head-wrapper .head-right .head-right-content .u-sticked-pic-wrapper .hover-card .arrow-down-pos1{ left: 108px; }

.shoplist-wrapper .head-wrapper .head-right .follow{ background-color: #E5E7ED; border: 1px solid #E5E7ED; }
.shoplist-wrapper .head-wrapper .head-right .follow-unfollow{ margin-top: 15px; }
.shoplist-wrapper .head-wrapper .head-right .follow-btn .unfollow{ display: none; }
.shoplist-wrapper .head-wrapper .head-right .follow-btn:hover .unfollow{ display: block; }
.shoplist-wrapper .head-wrapper .head-right .follow-btn:hover .followed{ display: none; }
.shoplist-wrapper .followers-wrapper{ background-color: #F0F0F0; padding: 0 16px; height: 50px; text-indent: 4px; }
.shoplist-wrapper .followers-wrapper .followers-content{ display: table-cell; vertical-align: middle; height: 50px; width: 100%;  }
.shoplist-wrapper .followers-wrapper .followers-content .u-image{  background-size: cover; position: relative; border-radius: 50%; display: inline-block; height: 24px; margin-right: 5px; overflow: hidden; width: 24px; vertical-align: middle; }
.shoplist-wrapper .followers-wrapper .followers-content .u-image .ipic-thumb{ position: absolute; width: 100%; height: 100%; line-height: 22px; font-size: 11px; text-indent: -0.01px; }
.shoplist-wrapper .followers-wrapper .followers-content .other-follower{ font-size: 11px; font-style: italic; color: #777777; display: inline-block; margin-left: 2x; }
.shoplist-wrapper .followers-wrapper .followers-content .hover-card .btn-box .message-btn{ padding-top: 0; }
.shoplist-wrapper .followers-wrapper .followers-content .hover-card .btn-box .message-btn .icon{ margin-left: 6px; }
.shoplist-wrapper .followers-wrapper .followers-content .hover-card .btn-box .ufollow-btn{ font-size: 12px; }
.shoplist-wrapper .followers-wrapper .followers-content .hover-card-content .name-wrapper .name{ display: inherit; }
.shoplist-wrapper .followers-wrapper .followers-content .u-sticked-pic-wrapper .hover-card .arrow-down-pos1{ left: 22px; }
.shoplist-wrapper .top-wrapper { height: 328px; width: 100%; float: left; }
.shoplist-wrapper .top-wrapper a { background-position: center center; background-repeat: no-repeat; background-size: contain; height: 109.33px; background-size: contain; display: block; float: left; }
.shoplist-wrapper .top-wrapper a:nth-child(1) { height: 328px; }
.shoplist-wrapper .bottom-wrapper { height: 181px; width:100%; float: left; }
.shoplist-wrapper .bottom-wrapper .left-container { float: left; width: 330px; height: 100%; padding: 13px 0 0 12px; position: relative; }
.shoplist-wrapper .bottom-wrapper .left-container .shopinfo { height: 120px; }
.shoplist-wrapper .bottom-wrapper .left-container .thumb { float: left; overflow: hidden;  width: 76px; height: 76px;  background-size: cover; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.shoplist-wrapper .bottom-wrapper .left-container .shopinfo-details { margin-left: 15px; width: 212px; float:left; }
.shoplist-wrapper .bottom-wrapper .left-container .shopinfo-details .store-name { color: #00A3D9; font-size: 20px; margin-bottom: 5px; line-height: 18px; display: block; text-transform: capitalize; }
.shoplist-wrapper .bottom-wrapper .left-container .shopinfo-details div { color: #444444; font-size: 14px; font-weight: 300; line-height: 20px; }
.shoplist-wrapper .bottom-wrapper .left-container .contributor-wrapper { font-size: 11.5px; font-style: italic; color: #777777; margin-top: 4px; padding-right: 16px; height: 38px; }
.shoplist-wrapper .bottom-wrapper .left-container .contributor-wrapper a { display: inline-block; float: left; overflow: hidden;  width: 28px; height: 28px; margin-right: 5px; background-size: cover; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.shoplist-wrapper .bottom-wrapper .left-container .contributor-wrapper div { float: left; margin-left: 2px; width: 234px; position: relative; top: -4px; display: table; }
.shoplist-wrapper .bottom-wrapper .left-container .contributor-wrapper div .tbl-cell { vertical-align: middle; height: 38px; }

.shoplist-wrapper .bottom-wrapper .right-container { float: left; width: 220px; height: 100%; }
.shoplist-wrapper .bottom-wrapper .right-container .shop-products-stat { text-align: right; background-color: #CCCCCC; width: 100%; height: 77px; color: #000; font-size: 14px; padding: 15px 17px 0; line-height: 22px; }
.shoplist-wrapper .bottom-wrapper .right-container .store-url { color: #00A3D9; font-size: 16px; font-weight: 300; width: 100%; height: 50px; line-height: 51px; background-color: #E6565C; color: #FFF; font-size: 16px; display: block; text-align: center; }
.shoplist-wrapper .bottom-wrapper .right-container .follow-btn { cursor: pointer; width: 100%; height: 54px; line-height: 52px; border: 1px solid #00A3D9; background-color: #00A3D9; color: #FFF; font-size: 16px; text-align: center; text-transform: uppercase; }
.shoplist-wrapper .bottom-wrapper .right-container .follow-btn.unfollow { color: #00A3D9; background-color: transparent; }

/* Shops listing: homepage */
.shoplist-wrapper.hp .bottom-wrapper .right-container .follow-btn { display: none; }
.shoplist-wrapper.hp .bottom-wrapper .right-container .store-url { height: 104px; line-height: 104px; color: #FFF; background-color: #00A3D9;  }

/* Profile Modal: Social network form */
#profileview-modal { display: none; position: absolute; top: 40px; left: 0; z-index: 1000; width: 360px; min-height: 370px; max-height: 486px; line-height: 19px; margin: 0 auto; background-color: #FFF; border:1px solid #DDDDDD; color: #444444; font-size: 16px; padding: 24px 29px 30px; }
#profileview-modal.loader { background: url(/cdn/images/v3/colshopstyx-64.gif) center center no-repeat scroll #FFF; }
#profileview-modal .form-caption { }
#profileview-modal ul { margin: 0; padding: 0; list-style: none none;  width: 100%; }
#profileview-modal ul li { width: 100%; height: 40px; border: 1px solid #DDDDDD; margin: 20px 0 0; position: relative; }
#profileview-modal ul li span { width: 27px; height: 27px; display: block; background: url('/cdn/images/v3/social-icons.png') scroll no-repeat 0 0; float: left; margin: 4px 0 0 4px; }
#profileview-modal ul li input { float: left; width: 267px; height: 100%; margin: 0; border: 0 none; padding: 8px 15px; font-size: 12px;  box-shadow:none; background:transparent; border:0 none;}
#profileview-modal ul li input[type="text"]:focus { box-shadow:none; background:transparent; border:0 none;}
#profileview-modal ul li input[type="text"]::-webkit-input-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]:-moz-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]::-moz-placeholder { color: #CCCCCC; }
#profileview-modal ul li input[type="text"]:-ms-input-placeholder { color: #CCCCCC;  }
#profileview-modal ul li.blog input {  width: 100%; padding: 8 15px; }
#profileview-modal ul li span.in { background-position: -27px 0; }
#profileview-modal ul li span.gplus { background-position: -54px 0; }
#profileview-modal ul li span.tw { background-position: -81px 0; }
#profileview-modal ul li span.pt { background-position: -108px 0; }
#savebtn-profile-sociallinks { width: 110px; height: 34px; line-height: 34px; background-color: #00A3D9; color: #FFF; font-size: 14px; float: right; margin:18px 0 0; text-align: center; cursor: pointer; padding: 0; }
#savebtn-profile-sociallinks:hover { border: 1px outset #FFF; }