@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	outline:0;
}
html, body {height: 100%;}
body {
	font-family: Arial, Gill Sans, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	line-height: 1.2;
}

input, textarea, select { 
	outline:none; 
	resize: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

strong{ font-weight: bold; }

#wdgt-wrapper {
/*background: url("../../images/widgetstore_images/body_bg.jpg") no-repeat scroll 0 0 white;*/
float: left;
width: 300px;
height: 250px;
margin: 0;
position: relative;
}
/*main*/
#wdgt-main-top{height: 40px;background: #000;float:left;width: 300px;padding: 0px;}
#title-wrapper{line-height: 40px;color: #fff;font-size: 25px;font-weight: bold;font:arial;margin-left: 10px;display: inline-block;
vertical-align: middle;}
#main-top-icons{float:right;height: 40px;}
#wdgt-main-top #top-search{width: 35px;height: 36px;display: table-cell;border-right: 1px solid #000;vertical-align: top;background: url("../../images/widgetstore_images/preview.png") no-repeat scroll center center #ED4595;}
#wdgt-main-top #top-addtocart{width: 35px;height: 36px;display: table-cell;vertical-align: top;background: url("../../images/widgetstore_images/cart.png") no-repeat scroll center center #ED4595;}

/*main -center*/
#wdgt-main-center{width: 300px;display: inline-block;height: 194px;background: #ED4595;}
#main-center-left{width:198px; ;height:194px; display: inline-block;border-right:solid 6px #ED4595;float: left;}
#main-center-left-top{width: 198px;height: 154px;display: inline-block;background: #333;
position:relative;
border-bottom:solid 6px #ED4595; }

.img-preview{width: 198px;height: 154px;}
#main-center-left-btmleft{float: left;border-right:3px solid  #ED4595;height: 34px;width: 96px;background: #fff;overflow: hidden;}

#main-center-left-btmright{float: right;border-left:3px solid  #ED4595;height: 34px;width: 96px;background: #fff;overflow: hidden;}

/*main -right center */
.
#main-center-right-top{height: 90px;width: 96px;display:inline-block;border-bottom: 6px solid #ED4595;background: #fff;overflow: hidden;}
.thumb-img{height: 90px;width: 96px;}
/*main- lower*/
#wdgt-main-footer{background: #000;height: 16px;display: block;padding: 0px 8px;}
#wdgt-main-footer p{font-size: 9px;color:#fff; line-height: 16px;}
#wdgt-main-footer #main-footer-logo{font-size: 13px;color:#fff;margin-left: 4px;line-height: 16px;}
#wdgt-main-footer #main-footer-items{font-size: 9px;color:#fff;float: right;}

/*category*/
#wdgt-main-item-category{background: #fff;height: 16px;display: block;padding: 0px 8px;color:#000;}
#item-category-selected{height: 154px;width: 119px;display: inline-block;padding: 12px 13px;}
#item-category{font-size: 11px;color: #000;line-height: 16px;float: left;}

#link-item-categories{font-size: 11px;color: #000;line-height: 16px;float: right;text-decoration: underline;}

#item-category-selected h2{height: 37px;overflow: hidden;font-size: 15px;color: #000;font-weight: bold;}
#item-category-selected #price{font-size: 12px;font-weight: bold;color: #fff;line-height: 16px;margin: 4px 0px;}
#item-category-selected #description{margin:4px 0px;height: 66px;color: #000;text-align: left;overflow: hidden;}
#item-category-picwrapper{height: 178px;width: 152px;display: inline-block;float: right;position: relative;overflow: hidden;}
#item-category-picwrapper img{/*height: 168px;width: 99px;*/float: left;}
#item-selected-info{position: absolute;width: 78px;height: 19px;border: 1px solid #000;background:#ED4595;color: #fff;text-align: center;line-height: 19px;font-size: 12px;font-weight: bold;top:137px;left:10px }
#item-category-pagination{width: 53px;height:146px;padding:16px 0px;float: right;text-align: center; }
#item-category-pagination p{margin-bottom: 6px;font-size: 10px;}
#item-category-pagination ul li{list-style: none;display: block;}
#item-category-pagination ul li .pagination-box{height: 10px;width: 10px;display: inline-block;border: 1px solid #FFF;line-height: 16px;vertical-align: middle;margin: 4px 4px;}
#item-category-pagination ul li .pagination-num{color:#fff; font-size: 12px;line-height: 16px;vertical-align: middle;}

#item-category-pagination ul li #selected{background: #fff;}

/*splash*/
#wdgt-splash-center{width: 300px;
display: inline-block;background:url("../../images/ministore_images/splash-bg.jpg") no-repeat 0px -40px;
height: 194px;position: relative;}
#shopnow-button{width: 193px;height: 57px;line-height: 57px;display: inline-block;
text-indent:21px;font-size:25px;font-weight:bold;color:#fff;text-decoration:none;
position: absolute;bottom:0px;right: 0px;background:url("../../images/ministore_images/ms-next.png") no-repeat 163px center #ED4595; }
