<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="en" ng-app="mainController">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Shoppable Photo</title>
	<!-- load dependencies first before loading angular -->
	<script type="text/javascript">
		GlobalHost = '<%= GlobalHost %>';
		user_id = <%= user_id %>;
		store_id = <%= store_id %>;
		environment = '<%= NODE_ENV %>';
		current_token = '<%= token %>';
		show = <%= show %>;
		video = <%= video %>;
	</script>
	
	<script src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/lib/vendor/jquery-ui-1.11.3.lightness/jquery-ui.min.js"></script>	


	<script src="/lib/bower_components/angular/angular.min.js"></script>
	<!--<script src="/lib/bower_components/angular-route/angular-route.min.js"></script>-->
	<script src="/lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/lib/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="/lib/vendor/angular-bootstrap-colorpicker-master/js/bootstrap-colorpicker-module.min.js"></script>
	<script src="/lib/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>

	<!--<script src="/lib/vendor/draganddrop.js"></script>-->
	<!--<script src="/lib/vendor/ianwalter/ng-context-menu.min.js"></script>-->
	

	<script src="/lib/controllers/mainController.js"></script>
	<!--<script src="/lib/routes/angular-routes.js"></script>-->
	<script src="/lib/models/common/sharedData.js"></script>
	<script src="/lib/controllers/fileUploadProcess.js"></script>
	<script src="/lib/controllers/stringManipulation.js"></script>
	<script src="/lib/models/common/productInfoServices.js"></script>
	<script src="/lib/controllers/decisionMakersServices.js"></script>
	<script src="/lib/partials/controller/containerWidgetControllers.js"></script>
	<script src="/lib/partials/controller/commonWidgetControllers.js"></script>
	<script src="/lib/partials/controller/advertisementWidgetController.js"></script>
	<!--<script src="/lib/directives/photostyx/photostyxDirectives.js"></script>-->
	
	
	<link rel="stylesheet" href="/lib/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="/lib/vendor/normalize.css" />
	<!--<link rel="stylesheet" type="text/css" href="/lib/vendor/ianwalter/ng-context-menu.css" />-->
	<link rel="stylesheet" type="text/css" href="/css/photostyxeditor.css" />
	<link rel="stylesheet" type="text/css" href="/css/nga.min.css" />
	<link rel="stylesheet" type="text/css" href="/lib/vendor/jquery-ui-1.11.3.lightness/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/lib/vendor/font-awesome-4.3.0/css/font-awesome.min.css" />
	
	<link rel="stylesheet" type="text/css" href="/css/Hover-master/css/hover-min.css">
	<link rel="stylesheet" type="text/css" href="/lib/vendor/angular-bootstrap-colorpicker-master/css/colorpicker.min.css">

</head>
<body ng-controller="mainPageController">
	<script src="/lib/vendor/wz_tooltip/wz_tooltip.js"></script>
	<!--<script src="/lib/vendor/wz_tooltip/tip_balloon.js"></script>-->
	<style type="text/css">
		@import url(https://fonts.googleapis.com/css?family=Roboto:300,900,700,400,500);
		.leftsidePanelMenu{
			width: 340px;
			background-image: url(/images/diagonalLinesBgSmall2.png);
		    background-repeat: repeat;
		    border: solid 1px white;
		    position:absolute;
		    top:0px;
		    left:0px;
		    background-color: white;
		    height:{{(exposed.getSelectedRes()).height}}px;
		}
		.productPanel{
			width:460px;
			height:{{(exposed.getSelectedRes()).height}}px;
		}
		.floatingCardContainer2{
			width:252px;
			height:158px;
			position:absolute;
			bottom:0px;
			right:0px;
			border:solid 1px {{(exposed.getColors()).color2}};
			background-color:{{(exposed.getColors()).color1}};
		}
		.floatingCardContainer2UpperPart{
			background-color:{{(exposed.getColors()).color2}};
			width:250px;
			height:90px;
		}
		.floatingCardContainer2DashedLine{
			position:absolute;
			top:130px;
			left:0px;
			border:dashed 1px {{(exposed.getColors()).color3}};
			width:250px;
		}
		.color1{
			color:{{(exposed.getColors()).color1}} !important;
		}
		.color2{
			color:{{(exposed.getColors()).color2}} !important;
		}
		.color3{
			color:{{(exposed.getColors()).color3}} !important;
		}
		/*
		800x600 - 262
		720x540 - 
		640x480 - 
		480x360 - 230
		*/
		.sideAdPanel{
			background-color: {{(exposed.getColors()).color1}};
			opacity: .8;
			border: solid 1px {{(exposed.getColors()).color2}};
			width:{{exposed.panelAdSize((exposed.getSelectedRes()).height,'sideAdPanel','width')}}px;
			height: {{(exposed.getSelectedRes()).height}}px;
		}
		/*
		800x600 - 260x197
		720x540 - 
		640x480 - 
		480x360 - 228x172
		*/
		.sideAdPanel>img{
			/*width: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','width')}}px;
			height: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','height')}}px;*/
			width: 100%;
			height: auto;
			max-width: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','width')}}px;
			max-height: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','height')}}px;
			/*position: absolute;
			top: 1px;
			left:1px;*/
			float:left;
		}
		.sideAdPanel>div[name='lowerAdHolder']{
			/*position: absolute;
			top:197px;
			left: 0px;*/
			width: 100%;
			height {{parseInt((exposed.getSelectedRes()).height)-exposed.panelAdSize((exposed.getSelectedRes()).width,'img','height')}}px;
		}
		div[name='lowerAdHolder'] div[name='priceHolder']{
			/*position:absolute;
			top: 0px;
			left: 0px;*/
			width: 100%;
			height: 38px;
			float: left;
		}
		div[name='priceHolder']>span[name='price']{
			font-size: 18px;
			font-weight: bold;
			display: inline-block;
			padding-top: 10px;
			padding-left: 10px;
			color:{{(exposed.getColors()).color3}};
		}
		div[name='priceHolder']>span[name='discount']{
			font-size: 14px;
			font-weight: normal;
			display: inline-block;
			text-decoration:line-through;
			color:{{(exposed.getColors()).color3}};
		}
		div[name='lowerAdHolder'] div[name='adtitleHolder']{
			float: left;
			width:100%;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
		}
		div[name='adtitleHolder'] span[name='adtitle']{
			font-size: 16px;
			font-weight: bold;
			color: {{(exposed.getColors()).color2}};
		}
		div[name='lowerAdHolder'] div[name='collectionHolder']{
			float: left;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px;
		}
		div[name='collectionHolder'] span[name='collectionname']{
			font-size: 10px;
			font-weight: normal;
		}
		div[name='lowerAdHolder'] div[name='actionbarHolder']{
			float:left;
			width: 100%;
			position: relative;
			margin-top: 10px;
		}
		.actionbox{
			width: 38px;
			height: 38px;
			background-color: {{(exposed.getColors()).color1}};
			color: {{(exposed.getColors()).color2}};
			/*center content*/
			text-align: center;
			vertical-align: middle;
			line-height: 36px;
		}
		.actionbox:active{
			/*width: 38px;
			height: 38px;*/
			color: {{(exposed.getColors()).color1}};
			background-color: {{(exposed.getColors()).color2}};
			/*center content*/
			/*text-align: center;
			vertical-align: middle;
			line-height: 36px;*/
		}
		div[name='actionbarHolder']>div[name='addtofavorites']{
			position: absolute;
			left:10px;
			top: 0px;
		}
		div[name='actionbarHolder']>div[name='sendmessage']{
			position: absolute;
			left:58px;
			top: 0px;
		}
		div[name='actionbarHolder']>div[name='shoppingcart']{
			position: absolute;
			right:10px;
			top: 0px;
		}
		.bottomAd {
			height: 110px;
			width: {{(exposed.getSelectedRes()).width}}px;
			opacity: .8;
			font-family:Roboto;
			background-color: {{(exposed.getColors()).color1}};
			position:absolute;
			bottom:0px; 
		}
		.bottomAd>img{
			/*width: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','width')}}px;
			height: {{exposed.panelAdSize((exposed.getSelectedRes()).width,'img','height')}}px;*/
			width: auto;
			height: 100%;
			max-width: 110px;
			max-height: 110px;
			/*position: absolute;
			top: 1px;
			left:1px;*/
			float:left;
		}
		.bottomAd>[name="botttomAdTopHolder"]{
			position:absolute;
			left:120px;
			top:10px;
			right:10px;
			height: 40px;
		}
		[name="botttomAdTopHolder"]>div[name="titleHolder"]{
			position: absolute;
			top:0px;
			left:0px;
			width: 100%;
			max-width: 380px;
			height: 40px;
			font-size: 16px;
		}

		[name="botttomAdTopHolder"]>div[name="controllerHolder"]{
			position: absolute;
			top:0px;
			right:10px;
			width: 100%;
			max-width: 155px;
			height: 40px;
		}
		[name="botttomAdTopHolder"]>div[name="closeme"]{
			position: absolute;
			top:0px;
			right:0px;
			width: 10px;
			height: 10px;
		}
		div[name="controllerHolder"]>[name="holders"]{
			height: 38px;
			width: 38px;
		}
		div[name="holders"]>i{
			top: 6px;
			left: 8px;
			position: absolute;
		}
		.bottomAd>div[name="bottomAdBottomHolder"]{
			height: 57px;
			bottom: 0px;
			left: 120px;
			right: 0px;
			position: absolute;
		}
		div[name="bottomAdBottomHolder"]>div[name="collectionNameHolder"]{
			max-width: 271px;
			width: 100%;
			height:16px;
		}
		div[name="bottomAdBottomHolder"]>div[name="priceHolder"]{
			width: 180px;
			height:21px;
		}
		div[name="collectionNameHolder"]>span{
			font-size:11px;
			color:{{(exposed.getColors()).color3}};
		}
		div[name="bottomAdBottomHolder"]>div[name="priceHolder"]>span[name="price"]{
			font-size: 16px;
			padding-top: 4px;
			padding-left: 1px;
			color:{{(exposed.getColors()).color3}};
		}
		div[name="bottomAdBottomHolder"]>div[name="priceHolder"]>span[name="discount"]{
			font-size: 14px;
			padding-left: 5px;
			text-decoration: line-through;
			color:{{(exposed.getColors()).color3}};
		}
		.hvr-fade2 {
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
			overflow: hidden;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-property: color, background-color;
			transition-property: color, background-color;
			color:{{(exposed.getColors()).color2}};;
		}
		.hvr-fade2:hover, .hvr-fade2:focus, .hvr-fade:active {
			color: white;
			background-color: {{(exposed.getColors()).color2}};
		}
		/* Border Fade */
		.hvr-border-fade2 {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: translateZ(0);
		  transform: translateZ(0);
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-property: box-shadow;
		  transition-property: box-shadow;
		  box-shadow: inset 0 0 0 4px #FFFFFF, 0 0 1px rgba(0, 0, 0, 0);
		  /* Hack to improve aliasing on mobile/tablet devices */
		}
		.hvr-border-fade2:hover, .hvr-border-fade2:focus, .hvr-border-fade2:active {
		  box-shadow: inset 0 0 0 4px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
		  /* Hack to improve aliasing on mobile/tablet devices */
		}
	</style>
	<div id="mainbody">
		
		<create-photo-styx-entry class="nga-fast nga-stagger nga-slide-left" ng-hide="exposed.getCreateStatus()"></create-photo-styx-entry>
		<div id="managephotostyxholder" class="nga-fast nga-stagger nga-slide-left" ng-show="exposed.getCreateStatus()">
			<load-media class="nga-fast nga-stagger nga-slide-right" ng-hide="exposed.getManagePhotoStyx()" exposed='exposed'></load-media>
			<manage-photo-styx class="nga-fast nga-stagger nga-slide-right" ng-show="exposed.getManagePhotoStyx()"></manage-photo-styx>
		</div>
		<!-- <manage-product-ads></manage-product-ads> -->
		<!-- <resolution-picker initialize="0"></resolution-picker>
		<advertisement-name></advertisement-name> -->
	</div>
</body>
</html>