/* Default styles here */
body { font: 12px 'Roboto', Arial, "Helvetica Neue", sans-serif; max-width: 800px; min-width: 320px; width: 100%; height: auto; min-height: 100%; margin:0 auto; }
body.hidescroll{ position: relative; overflow: hidden; }

.color1 { color: #00A3D9 !important; }
.color2 { color: #444 !important; }
.color3 { color: #333 !important; }
.color4 { color: #FFF !important; }
.color5 { color: #999 !important; }
.color6 { color: #CCC !important;; }
.color7 { color: #777 !important;; }
.color8 { color: #858585 !important;; }
.color9 { color: #DDD !important; }
.color10 { color: #EE666C !important; }
.color11 { color: #EEE !important; }
.color12 { color: #B9B9B9 !important; }
.color13 { color: #222 !important; }

.bgcolor1 { background-color: #00A3D9 !important; }
.bgcolor2 { background-color: #444 !important; }
.bgcolor3 { background-color: #333 !important; }
.bgcolor4 { background-color: #FFF !important; }
.bgcolor5 { background-color: #999 !important; }
.bgcolor6 { background-color: #CCC !important; }
.bgcolor7 { background-color: #777 !important; }
.bgcolor8 { background-color: #858585 !important; }
.bgcolor9 { background-color: #DDD !important;}
.bgcolor10 { background-color: #EE666C !important; }
.bgcolor11 { background-color: #EEE !important; }
.bgcolor20 { background-color: #77609B !important; }

.bordercolor1 { border-color: #00A3D9 !important; }
.bordercolor2 { border-color: #444 !important; }
.bordercolor3 { border-color: #333 !important; }
.bordercolor4 { border-color: #FFF !important; }
.bordercolor5 { border-color: #999 !important; }
.bordercolor6 { border-color: #CCC !important; }
.bordercolor7 { border-color: #777 !important; }
.bordercolor8 { border-color: #858585 !important; }
.bordercolor9 { border-color: #DDD !important; }
.bordercolor10 { border-color: #EE666C !important; }
.bordercolor11 { border-color: #EEE !important; }


.border-radius1{ border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; }
.border-radius2{ border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.word_wrap{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}
.disable_text_highlighting{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.tbl { display: table; }
.tbl-row { display: table-row; }
.tbl-cell { display: table-cell; }
.img-circle { background-position: center center; background-repeat: no-repeat; background-size: contain; border-radius: 50%; display: block; position: relative; }
.image-hide { background: none !important; }
form { margin: 0; }

/* all */
::-webkit-input-placeholder { color:#858585; font-size: 16px; }
::-moz-placeholder { color:#858585; font-size: 16px; } /* firefox 19+ */
:-ms-input-placeholder { color:#858585; font-size: 16px; } /* ie */
input:-moz-placeholder { color:#858585; font-size: 16px; }

#localStorageNotEnabled { font-size: 12px; padding: 25px; margin-top: 10px; }
#loadbox-wrapper { position: absolute; top: 60px; width: 100%; text-align: center; z-index: 20; }
#loadbox-wrapper span { display: block; width: 32px; height: 32px; background: url('/cdn/images/v3/colshopstyx-32.gif') no-repeat; margin: 0 auto; }
#loadbox-wrapper div { }

.main-wrapper { float: left; width: 100%; min-width: 320px; max-width: 800px; }
/* overall header background */
#main-top-bg { position: absolute; top: 0; left: 0; width: 100%; min-width: 320px; max-width: 800px; height: 47px; overflow: hidden; }
#main-top-bg.full { height: 101px; overflow: inherit;}
.l-bg { float: left; width: 50%; height: 101px; background-color: #f47c4a; }
.c-bg { background: url('/cdn/images/mobile/top-bg-600px.png') no-repeat scroll top center transparent; position: absolute; left: 0; top: 0; width: 100%; height:101px; }
.r-bg { float: left; width: 50%; height: 101px; background-color: #77609b; }

/* header */
#wrapper { width: 100%; position: relative; min-height:565px; }
#wrapper a { cursor: pointer; }
#wrapper header { width: 100%; min-width: 320px; max-width: 800px; position: relative; margin: 0 auto; height: 47px; z-index: 2; padding: 0 14px 0 10px; }
#wrapper header .shopstyx-logo { float: left; height: 47px; }
#wrapper header .shopstyx-logo a { background: url('/cdn/images/mobile/common.png') no-repeat scroll 0 0 transparent; float: left; width: 126px; height: 27px; margin: 10px 0 0 0; display: block; }
#wrapper header .back-link { display: block; float: left; width: 8px; height: 14px; background: url('/cdn/images/mobile/common.png') no-repeat scroll -275px -30px transparent; margin: 18px 0 0 5px; }

#wrapper header .m-nav { float: right; height: 47px; }
#wrapper .m-nav { height: 47px; }
.m-nav-inner { float: right; }
.m-nav-inner .nav-profile { width: 30px; height: 30px; line-height: 30px; border:1px solid #FFF; margin: 9px 0 0 9px; }
.m-nav-inner .nav-profile.notlogin { border:0 none; background: url('/cdn/images/mobile/common.png') no-repeat scroll -57px -30px transparent; }
.nav-profile .clickable-thumb { width: 30px; height: 30px; display: block; }

.m-nav-inner .nav-cart { width: 29px; height: 21px;background: url('/cdn/images/mobile/common.png') no-repeat scroll -26px -30px transparent; margin: 14px 0 0 5px; }
.m-nav-inner .nav-search { width: 24px; height: 22px; background: url('/cdn/images/mobile/common.png') no-repeat scroll 0px -30px transparent; margin-top: 14px; }

/* login submenu*/
.m-nav-inner .nav-profile:hover .submenu { display: block; }
.m-nav-inner .nav-profile:hover .a { display: block; }
.m-nav-inner .nav-profile > a { display: block; }
.m-nav-inner .nav-profile .clickable-thumb:after { display: block; }
.m-nav-inner .nav-profile .submenu { display: none; width: 156px; position: absolute; top: 30px; right: -14px; z-index: 2; }
.m-nav-inner .nav-profile .arrowup-bg { width: 12px; height: 6px; position: absolute; top: 2px; right: 22px; z-index: 1; background: url('/cdn/images/mobile/common.png') no-repeat scroll -256px -62px transparent; }
.m-nav-inner .nav-profile .submenu-inner { width: 156px; min-height: 303px; margin-top: 8px; background: url('/cdn/images/mobile/nav-dropdown-menu-bg.png') repeat scroll; padding: 23px 0 7px 0; }
.m-nav-inner .nav-profile .submenu-inner ul { list-style: none none; padding: 0; margin:0; }
.m-nav-inner .nav-profile .submenu-inner ul li { margin-bottom: 26px; height: 22px; line-height: 22px; padding-left: 22px; font-size: 12px; font-weight: 500; }
.m-nav-inner .nav-profile .submenu-inner ul li:last-child{ margin-bottom: 18px; }
.m-nav-inner .nav-profile .submenu-inner ul li a {}
.m-nav-inner .nav-profile .submenu-inner ul li a span { float: left; background: url('/cdn/images/mobile/common.png') no-repeat scroll -131px 0 transparent;  width: 26px; height: 22px; display: inline-block; margin-right: 10px;}
.m-nav-inner .nav-profile .submenu-inner ul li a span.notification { width: 20px; background-position: -158px 0; margin-right: 16px; }
.m-nav-inner .nav-profile .submenu-inner ul li a span.message { width: 24px; height: 20px; background-position: -179px 0; margin-right: 12px; }
.m-nav-inner .nav-profile .submenu-inner ul li a span.wallet { width: 23px; height: 21px; background-position: -205px 0; margin-right: 13px; }
.m-nav-inner .nav-profile .submenu-inner .btn-big { display: block; margin: 0 auto; width: 115px; height: 34px; line-height: 34px; text-align: center; margin-bottom: 10px; font-weight: 500; }

/* main content */
#wrapper article { }

/* styled background */
.styled-background { background-image: url('/cdn/images/v3/bg.png'); background-repeat: repeat;   background-attachment: scroll; }
.width290 { width: 290px; }
.width292 { width: 292px; }
.aligncenter { text-align: center; }
.center-element { margin: 0 auto; }
.padd-RL15 { padding: 0 15px; }
.padd-RL20 { padding: 0 20px; }


.fullbgstyled { min-height: 518px; padding: 22px 0; position: relative; }
.pht1 { font-size: 22px; text-align: center; }
.fontlight { font-weight: 300; }
.font11 { font-size: 11px !important;}
.font14 { font-size: 14px !important;}
.font22 { font-size: 22px !important;}
.mb14 { margin-bottom: 14px; }
.mt10 { margin-top: 10px; }
.mt19 { margin-top: 19px; }
.basebtn { font-size: 16px; margin: 0; padding: 0; line-height: 40px; height: 40px; width: 100%; text-align: center; }
.basebtn2 { display: block; margin: 0; padding: 0; line-height: 50px; height: 50px; width: 100%; text-align: center; border-width: 1px; border-style: solid; }
.error-content { padding: 10px; margin: 2px 0 18px; }
.signinlink { position: absolute; bottom: 19px; width: 100%; }
.signinlink a { display: block; }
.termscondition { margin-bottom: 12px; }

.registerlink { margin-top: 37px; }
.registerlink.margintop6 { margin-top: 6px; }
.registerlink a { display: block; }

.error-field-holder { position: relative; }
.four-zero-four-wrapper { padding-bottom: 17px; border-bottom: 1px solid transparent; }
.bg-404 { background-image: url('/cdn/images/mobile/404.png'); width: 228px; height: 205px; margin: 15px auto 25px; }
.caption-404 { margin:17px auto; }

.error-field-holder .caption1 { margin-bottom: 17px; }

/* Add product modal: from the web and internal */
.overlay { width: 100%; min-height: 100%; max-width: 100%; position: fixed; top: 0; left: 0; z-index: 9; opacity: .8; }
#addproduct_menu_modal { width: 100%; min-height: 100%; max-width: 800px; position: absolute; top: 0; left: 0; z-index: 10; padding-top: 125px; }
#addproduct_menu_modal .inner-wrapper { width: 100%; margin:0 auto; }
#addproduct_menu_modal .inner-wrapper .menu-btn { display: block; width: 247px; height: 160px; border-width: 1px; border-style:solid; margin:0 auto 14px; font-size: 16px; padding-top: 34px; text-align: center; text-transform: none; }
#addproduct_menu_modal .inner-wrapper .menu-btn .icon-bg { margin: 16px auto 0; width: 46px; height: 46px; background: url('/cdn/images/mobile/common.png') no-repeat scroll -141px -96px transparent;}
#addproduct_menu_modal .inner-wrapper .menu-btn .icon-bg.uploadbg { background-position: -189px -96px; }
#addproduct_menu_modal.paddlong { padding-top: 193px; }

/* login page */
.social-login-wrapper { width: 290px; margin: 11px auto 29px; }
.social-login-btn { height: 50px; line-height: 50px; width: 127px; font-size: 14px; float: left; }
.social-login-btn span { float: left; display: block; background: url('/cdn/images/mobile/common.png') no-repeat scroll -48px -67px transparent; width: 16px; height: 33px; margin:9px 11px 0 17px; }
.social-login-btn.fb { background-color: #3B5998; }
.social-login-btn.google { background-color: #D34836; float: right; }
.social-login-btn.google span { width: 34px; height: 32px; background-position: -68px -67px; margin-right: 17px; }

.login-wrapper { width: 290px; margin: 8px auto; }
.login-wrapper input[type="text"] { margin-bottom: 15px; }
.login-wrapper button { margin-bottom: 20px; }
.login-wrapper a { margin-bottom: 6px; display: block; }

.login-wrapper [data-abide] .error-field-holder.error small.error { background-color: transparent; color: #f04124; margin:0; position: absolute; top: 2px; right: 5px; }
.login-wrapper [data-abide] .error-field-holder.error input { margin-bottom: 1rem} 

/* customize radio button */
.inputradio-wrapper { height: 17px !important; line-height: 17px !important; margin-bottom: 15px !important; }
.inputradio-wrapper input { float: left; margin: 0 !important; opacity: 0; float: left; width: 17px !important; height: 17px !important; }
.inputradio-wrapper label { clear: none; margin:0 !important; background: url('/cdn/images/mobile/checkbox-bg.png') no-repeat scroll 0 -17px transparent; display: block !important; width: 100%; height: 100%; padding-left: 26px; line-height: 17px; }
.inputradio-wrapper > input:checked + label { background-position: 0 0; }

/* registration page */ 
.registration-wrapper { width: 290px; margin: 15px auto 0; }
.registration-wrapper input[name="lastname"] { border-left: 0 none; }
.registration-wrapper input { height: 45px;}
.username-holder { margin-top:23px; }
.username-holder .prefix { height: 45px; line-height: 45px; width: 150px; }
.username-holder .input-holder { width: 140px; }
.username-holder .input-holder input { border-left: 0 none; padding-left:  font-size: 16px; text-transform: lowercase; }

#add-product-button { width:54px; height: 54px; background: url('/cdn/images/mobile/add-product-button-bg.jpg') repeat scroll transparent; position: absolute; bottom: 0; right: 14px; }
.cross { width: 22px; height: 22px; position: relative; display:inline-block; position: relative;	top:16px; left: 16px; }
.cross div { position: absolute; }
.cross .cross-h { width: 100%; height: 2px; top: 10px; left:0;  }
.cross .cross-v { width: 2px; height: 100%; top: 0; left: 10px;  }
/*
.cross:before, .cross:after { content: ""; position: absolute; z-index: -1; background-color: #FFF; }
.cross:before { left: 50%; width: 2px; margin-left: -1px; height: 100%; }
.cross:after { top: 50%; height: 2px; margin-top: -3%; width: 100%; }
*/

/* Filter */
.filter-wrapper { height: 54px; padding: 9px 15px 9px 17px; margin-bottom: 15px; }
.filter-wrapper .caption1 { float: left; line-height: 36px; }
.filter-wrapper .filter-inner-wrapper { outline-style:none; box-shadow:none; border-color:transparent; position: relative; height: 34px; display: inline-block; float: right; }
.filter-wrapper .filtertab { border-width: 1px; border-style: solid; width: 62px; height: 36px; line-height: 34px; display: inline-block; }
.filter-wrapper .filtertab2 { border-width: 1px; border-style: solid; width: 92px; height: 36px; line-height: 34px; display: inline-block; }
.pricetab { margin: 0 9px 0 11px; }
.filter-values-wrapper { display: none; position: absolute; top: 36px; left:-5px; min-height: 134px; }
.filter-values-wrapper .arrowup-bg { background: url('/cdn/images/mobile/common.png') no-repeat scroll -269px -62px transparent; width: 13px; height: 6px; position: absolute; top: 3px; left: 18px; }
.filter-inner-values { width: 100%; min-height: 128px; margin-top: 9px; border-width: 1px; border-style: solid; }

/* 
[filtertab="color"]:hover + a + span + span + .color-filter-values{ display: block; }
[filtertab="price"]:hover + span + .color-filter-values + .price-filter-values { display: block; }
[filtertab="department"]:hover + .color-filter-values + .price-filter-values + .department-filter-values { display: block; }
.filter-values-wrapper.color-filter-values:hover,
.filter-values-wrapper.price-filter-values:hover,
.filter-values-wrapper.department-filter-values:hover { display: block; }
 */

.filter-values-wrapper.price-filter-values .arrowup-bg { left: 155px; }
.filter-values-wrapper.department-filter-values .arrowup-bg { left: 238px; }

/* Color Filter */
.color-filter { width: 42px; height: 36px; background: url('/cdn/images/mobile/common.png') no-repeat scroll 0 -66px transparent; float: left; margin-right: 10px; }
.color-filter.selected { background-image: none; }
.filter-values-wrapper .color-caption { margin-bottom: 12px; }
.color-sort { padding: 12px 12px 0 12px; }
.color-sort div { width: 42px; height: 42px; float: left; margin:0 14px 12px 0; border-width: 1px; border-style: solid; }
.color-sort div:nth-child(5n) { margin-right: 0; }
.sort-bgcolor-1{ background-color: #DE483E; }
.sort-bgcolor-2{ background-color: #EE8934; }
.sort-bgcolor-3{ background-color: #F8D447; }
.sort-bgcolor-4{ background-color: #B2B2B2; }
.sort-bgcolor-5{ background-color: #FFFFFF; }
.sort-bgcolor-6{ background-color: #683788; }
.sort-bgcolor-7{ background-color: #9C0F69; }
.sort-bgcolor-8{ background-color: #ED4B81; }
.sort-bgcolor-9{ background-color: #833E00; }
.sort-bgcolor-10{ background-color: #111111; }
.sort-bgcolor-11{ background-color: #133984; }
.sort-bgcolor-12{ background-color: #427CC5; }
.sort-bgcolor-13{ background-color: #00B2B2; }
.sort-bgcolor-14{ background-color: #99C342; }
.sort-bgcolor-15{ background-color: #0D9439; }

/* Price Filter */
.price-range { padding: 10px 13px; }
.price-range .sort-price { margin-bottom: 8px; line-height: 20px; }

/* Department Filter */
.department-sort { padding: 10px 13px; }
.department-sort  .sort-dept { margin: 0 18px 8px 0; float:left; line-height: 20px; }

.prodlist { list-style: none none; padding: 0; margin: 0 0 70px; line-height: normal; }
.prodlist li { }
.prodlist li.full:first-child { margin-top: 0; }
.prodlist li.full { height: 353px; margin: 14px 0; padding:0; border-width: 1px; border-style: solid; }
.prodlist .thumb { background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; position: relative; }
.prodlist .thumb a { position: absolute; z-index: 1; width: 100%; height:100%; display: block;}
.prodlist li.full .thumb { height: 289px; }

.prodlist .two-colum { height: 215px; padding:0; }
.prodlist .two-colum:last-child { float: left; }
.prodlist .two-colum:nth-child(2n) { padding-right: 7.5px; }
.prodlist .two-colum:nth-child(3n) { padding-left: 7.5px; }
.prodlist .two-colum .full { width: 100%; height: 215px; border-width: 1px; border-style: solid; }
.prodlist .two-colum .thumb { height: 136px; }
.prodlist .discount-wrapper { width: 44px; height: 39px; line-height: normal; position: absolute; top: 0 ; right: 0; text-align: center; font-weight: bold; padding: 5px; z-index: 2; }
.prodlist .details { padding: 7px 9px 4px 7px; }
.prodlist .details .pname-sname { padding: 0; }
.prodlist .prodname { display: block; max-height: 38px; }
.prodlist .storename { display: block; }
.prodlist .price { display: block; }





@media screen and (max-width:320px) {
	.c-bg { background-image: url('/cdn/images/mobile/top-bg-320px.png'); }
}
@media screen and (min-width:321px) and (max-width:460px) {
	.c-bg { background-image: url('/cdn/images/mobile/top-bg-400px.png'); }
}

@media screen and (max-width:579px) {
	.filter-wrapper .caption1 { display: none; }
}
@media screen and (min-width:600px) {
	.filter-wrapper .caption1 { font-size: 13px; }
}
@media screen and (min-width:620px) {
	.filter-wrapper .caption1 { font-size: 14px; }
}

@media screen and (min-width:321px) and (max-width:639px) {}
@media screen and (min-width:640px) and (max-width:959px) {}
@media screen and (min-width:960px) and (max-width:1279px) {}
@media screen and (min-width:1280px) and (max-width:1599px) {}
@media screen and (min-width:1600px) {}
@media screen and (min-width:1920px) {}

/* for 800 and larger */
@media screen and (max-width: 800px)  {
	
}

@media print {}

@media handheld {
	/* no text-size adjustments will be made. This is useful for iphone safari*/
	html { -webkit-text-size-adjust: none; }
}
